
/*  box
--------------------------------------------------------------------------------------*/
.box {
	@include clearfix;
	
	margin      : 0 1em;
}
.box p, .box dl {
	margin-top      : 0;
	margin-left     : 0;
	margin-right    : 0;
}

blockquote .box {
	margin-top  : 1em;
}

.box img,
.box embed,
.box object,
.box iframe,
.box video {
	padding : 1px 0 0 1px;
}

.box img,
.box embed,
.box object,
.box iframe,
.box video,
.box .caption {
	float   : left;
	margin  : 0 1em 1em 0;
}


/* object with caption
 *  .box
 *    .caption[style=width:XXpx]
 *       figure
 *         img|emned|
 *         figcaption
 */
.caption {
	word-break    : break-all;
	text-align    : center;
	line-height   : 1.2;
	font-size     : 0.875em;
}
.box .caption * {
	float        : none;
}

/* //_{#can-mq */

/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	.box {
		margin       : 0 0.5em;
	}

	.box img,
	.box embed,
	.box object,
	.box iframe,
	.box video,
	.box .caption {
		margin-right : 0.5em;
	}
}
/* //_>bottom30 */

/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
	.box {
		margin       : 0;
	}

	.box img,
	.box embed,
	.box object,
	.box iframe,
	.box video,
	.box .caption {
		float       : none;
		display     : block;
		margin      : 0 auto 1em;
	}
}
/* //_>bottom40 */

/* //_}#can-mq */

