/* [parts] button
 *
--------------------------------------------------------------------------------------*/
.btn, .btn:visited {
    @include noUnderLineAlways;

    /* //_{@modern,@ie9,@ie8 */
    display     : inline-block;
    /* //_}@modern,@ie9,@ie8 */
    /* //_{^#ie55- */
    /* height      : 1em; */
    /* //_}^#ie55- */

    /* //_{@ie6 */
    zoom        : 1;
    /* //_}@ie6 */
    cursor      : pointer;
    text-align  : center;

    line-height : 1;

    border      : 0;

    background  : $COLOR_BdM_casual_text;
    color       : $COLOR_BdM_fill;

    @include highContrast {
        border-style : solid;
        border-width : 1px;
    }
}

.btn:link {
    background : $COLOR_BdM_link;
    color      : $COLOR_BdM_fill;
}
.btn:active, .btn:focus, .btn:hover {
    background : $COLOR_ACCENT !important;
    color      : #fff  !important;
}
.btn:active:hover, .btn:focus:hover {
    background : $COLOR_BdM_flip_fill !important;
    color      : #fff !important;
}

/* //_{@ie9,@modern */
:invalid .btn[type="submit"],
.btn:disabled {
    background : $COLOR_BdM_casual_fill !important;
    color      : $COLOR_BdM_fill !important;
}
/* //_}@ie9,@modern */

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .btn, .btn:visited
    /* //_{^+coloredHeader */
    , #lH .btn, #lH .btn:visited
    /* //_}^+coloredHeader */
    {
        background : $COLOR_WTC_casual_text;
        color      : $COLOR_WTC_fill;
    }
    .btn:link
    /* //_{^+coloredHeader */
    , #lH .btn:link
    /* //_}^+coloredHeader */
    {
        background : $COLOR_WTC_link;
        color      : $COLOR_WTC_fill;
    }
    .btn:active:hover, .btn:focus:hover
    /* //_{^+coloredHeader */
    , #lH .btn:active:hover, #lH .btn:focus:hover
    /* //_}^+coloredHeader */
    {
        background : $COLOR_WTC_flip_fill !important;
    }

    /* //_{@ie9,@modern */
    :invalid .btn[type="submit"],
    .btn:disabled
    /* //_{^+coloredHeader */
    , #lH :invalid .btn[type="submit"], #lH .btn:disabled
    /* //_}^+coloredHeader */
    {
        background : $COLOR_WTC_casual_fill !important;
        color      : $COLOR_WTC_fill !important;
    }
    /* //_}@ie9,@modern */
}

.lS .btn, .lS .btn:visited {
    background : $COLOR_BdS_casual_text;
    color      : $COLOR_BdS_fill;
}
.lS .btn:link {
    background : $COLOR_BdS_link;
    color      : $COLOR_BdS_fill;
}
.lS .btn:active:hover, .lS .btn:focus:hover {
    background : $COLOR_BdS_flip_fill !important;
}
/* //_{@ie9,@modern */
.lS :invalid .btn[type="submit"],
.lS .btn:disabled {
    background : $COLOR_BdS_casual_fill !important;
    color      : $COLOR_BdS_fill !important;
}
/* //_}@ie9,@modern */

/* //_{+coloredHeader */
#lH .btn, #lH .btn:visited {
    background : $COLOR_HdM_casual_text;
    color      : $COLOR_HdM_fill;
}
#lH .btn:link {
    background : $COLOR_HdM_link;
    color      : $COLOR_HdM_fill;
}
#lH .btn:active:hover, #lH .btn:focus:hover {
    background : $COLOR_HdM_flip_fill !important;
}
/* //_{@ie9,@modern */
#lH :invalid .btn[type="submit"],
#lH .btn:disabled {
    background : $COLOR_HdM_casual_fill !important;
    color      : $COLOR_HdM_fill !important;
}
/* //_}@ie9,@modern */

#lH .lS .btn, #lH .lS .btn:visited {
    background : $COLOR_HdS_casual_text;
    color      : $COLOR_HdS_fill;
}
#lH .lS .btn:link {
    background : $COLOR_HdS_link;
    color      : $COLOR_HdS_fill;
}
#lH .lS .btn:active:hover, #lH .lS .btn:focus:hover {
    background : $COLOR_HdS_flip_fill !important;
}
/* //_{@ie9,@modern */
#lH .lS :invalid .btn[type="submit"],
#lH .lS .btn:disabled {
    background : $COLOR_HdS_casual_fill !important;
    color      : $COLOR_HdS_fill !important;
}
/* //_}@ie9,@modern */
/* //_}+coloredHeader */

.fillbg .btn, .fillbg .btn:visited {
    background : $COLOR_FtS_casual_text;
    color      : $COLOR_FtS_fill;
}
.fillbg .btn:link {
    background : $COLOR_FtS_link;
    color      : $COLOR_FtS_fill;
}
.fillbg .btn:active:hover, .fillbg .btn:focus:hover {
    background : $COLOR_FtS_flip_fill !important;
}
/* //_{@ie9,@modern */
.fillbg :invalid .btn[type="submit"],
.fillbg .btn:disabled {
    background : $COLOR_FtS_casual_fill !important;
    color      : $COLOR_FtS_fill !important;
}
/* //_}@ie9,@modern */

.fillbg .lM .btn, .fillbg .lM .btn:visited {
    background : $COLOR_FtM_casual_text;
    color      : $COLOR_FtM_fill;
}
.fillbg .lM .btn:link {
    background : $COLOR_FtM_link;
    color      : $COLOR_FtM_fill;
}
.fillbg .lM .btn:active:hover, .fillbg .lM .btn:focus:hover {
    background : $COLOR_FtM_flip_fill !important;
}
/* //_{@ie9,@modern */
.fillbg .lM :invalid .btn[type="submit"],
.fillbg .lM .btn:disabled {
    background : $COLOR_FtM_casual_fill !important;
    color      : $COLOR_FtM_fill !important;
}
/* //_}@ie9,@modern */