@mixin icon-base {
    /* //_{#can-content */
    position     : relative;
    padding-left : 1.2em;

    &:before, &:after {
        content       : ".";
        speak         : none;
        text-indent   : -1em;
        overflow      : hidden;
        display       : block;
        position      : absolute;
        border-style  : solid;
        border-width  : 0;
        margin-top    : .1em;
    }
    /* //_}#can-content */
}
@mixin icon-background {
    & {
        background    : $COLOR_BdM_casual_text;
    }
    .lS & {
        background    : $COLOR_BdS_casual_text;
    }
    .fillbg & {
        background    : $COLOR_FtS_casual_text;
    }
    .fillbg .lM & {
        background    : $COLOR_FtM_casual_text;
    }
}
@mixin icon-border {
    & {
        border-color    : $COLOR_BdM_casual_text;
    }
    .lS & {
        border-color    : $COLOR_BdS_casual_text;
    }
    .fillbg & {
        border-color    : $COLOR_FtS_casual_text;
    }
    .fillbg .lM & {
        border-color    : $COLOR_FtM_casual_text;
    }
}
@mixin icon-border-fill-transparent {
    & {
        border-color    : $COLOR_BdM_casual_text transparent;
    }
    .lS & {
        border-color    : $COLOR_BdS_casual_text transparent;
    }
    .fillbg & {
        border-color    : $COLOR_FtS_casual_text transparent;
    }
    .fillbg .lM & {
        border-color    : $COLOR_FtM_casual_text transparent;
    }
}
@mixin icon-border-transparent-fill {
    & {
        border-color    : transparent $COLOR_BdM_casual_text;
    }
    .lS & {
        border-color    : transparent $COLOR_BdS_casual_text;
    }
    .fillbg & {
        border-color    : transparent $COLOR_FtS_casual_text;
    }
    .fillbg .lM & {
        border-color    : transparent $COLOR_FtM_casual_text;
    }
}

.ico-clock {
    /* //_{#can-content */
    @include icon-base;

    &:before {
        top           : 0;
        left          : 0;
        width         : 0.7em;
        height        : 0.7em;
        /* //_{@modern */
        -webkit-border-radius : .5em;
        -moz-border-radius    : .5em;
        /* //_}@modern */
        border-radius : .5em;
        @include icon-border;
        border-width  : .15em;
    }
    &:after {
        top           : 0.2em;
        left          : 0.43em;
        width         : 0.23em;
        height        : 0.23em;
        @include icon-border;
        border-width  : 0 0 .14em .14em;
    }
    /* //_}#can-content */
}

.ico-label {
    /* //_{#can-content */
    @include icon-base;

    &:before {
        top           : 0.2em;
        left          : 0;
        width         : 0.7em;
        height        : 0.6em;
        @include icon-background;
    }
    &:after {
        top           : 0.2em;
        left          : 0.7em;
        width         : 0;
        height        : 0;
        @include icon-border-transparent-fill;
        border-width  : 0.3em 0 0.3em 0.3em;
    }
    /* //_}#can-content */
}

.ico-author {
    /* //_{#can-content */
    @include icon-base;

    &:before {
        top           : 0;
        left          : 0.3em;
        width         : 0.45em;
        height        : 0.45em;
        /* //_{@modern */
        -webkit-border-radius : .225em;
        -moz-border-radius    : .225em;
        /* //_}@modern */
        border-radius : .225em;
        @include icon-background;
    }
    &:after {
        top           : 0.5em;
        left          : 0.1em;
        width         : 0.8em;
        height        : 0.5em;
        /* //_{@modern */
        -webkit-border-top-right-radius : .3em;
        -webkit-border-top-left-radius  : .3em;
        -moz-border-radius    : .3em .3em 0 0;
        /* //_}@modern */
        border-radius : .3em .3em 0 0;
        @include icon-background;
    }
    /* //_}#can-content */
}

.ico-flag {
    /* //_{#can-content */
    @include icon-base;

    &:before {
        top           : 0;
        left          : 0;
        width         : 0.1em;
        height        : 1em;
        @include icon-background;
    }
    &:after {
        top           : 0;
        left          : 0.2em;
        width         : 0.8em;
        height        : 0.7em;
        @include icon-background;
    }
    /* //_}#can-content */
}

.ico-pen {
    /* //_{#can-content */
    @include icon-base;

    &:before {
        top           : 0;
        left          : 0.25em;
        width         : 0.5em;
        height        : 0.7em;
        @include icon-background;
    }
    &:after {
        top           : 0.75em;
        left          : 0.25em;
        width         : 0;
        height        : 0;
        @include icon-border-fill-transparent;
        border-width  : .25em .25em 0 .25em;
    }
    /* //_}#can-content */
}

.ico-chain {
    /* //_{#can-content */
    @include icon-base;

    &:before {
        top           : 0.05em;
        left          : 0.05em;
        width         : 0.3em;
        height        : 0.3em;
        @include icon-border;
        /* //_{@modern */
        -webkit-border-radius : 0.2em;
        -moz-border-radius    : 0.2em;
        /* //_}@modern */
        border-radius : .2em;
        border-width  : 0.2em 0 0.2em 0.2em;
    }
    &:after {
        top           : 0.3em;
        left          : 0.3em;
        width         : 0.3em;
        height        : 0.3em;
        @include icon-border;
        /* //_{@modern */
        -webkit-border-radius : 0.2em;
        -moz-border-radius    : 0.2em;
        /* //_}@modern */
        border-radius : .2em;
        border-width  : 0.2em 0.2em 0.2em 0;
    }
    /* //_}#can-content */
}

.ico-dram {
    /* //_{#can-content */
    @include icon-base;

    &:before {
        top           : 0.2em;
        left          : 0.1em;
        width         : 0.8em;
        height        : 0.8em;
        /* //_{@modern */
        -webkit-border-bottom-right-radius : .4em .2em;
        -webkit-border-bottom-left-radius  : .4em .2em;
        -moz-border-radius    : 0 0 .4em .4em / 0 0 .2em .2em;
        /* //_}@modern */
        border-radius : 0 0 .4em .4em / 0 0 .2em .2em;
        @include icon-background;
    }
    &:after {
        top           : 0;
        left          : 0.1em;
        width         : 0.8em;
        height        : 0.3em;
        @include icon-border;
        border-width  : 0 0 .05em;
        /* //_{@modern */
        -webkit-border-radius : .4em .25em;
        -moz-border-radius    : .4em / .25em;
        /* //_}@modern */
        border-radius : .4em / .25em;
        @include icon-background;
    }
    /* //_}#can-content */
}

.ico-comment {
    /* //_{#can-content */
    @include icon-base;

    &:before {
        top                   : 0;
        left                  : 0;
        width                 : 1em;
        height                : 0.7em;
        /* //_{@modern */
        -webkit-border-radius : 0.2em;
        -moz-border-radius    : 0.2em;
        /* //_}@modern */
        border-radius         : 0.2em;
        @include icon-background;
    }
    &:after {
        top           : 0.7em;
        left          : 0.4em;
        width         : 0;
        height        : 0;
        @include icon-border-fill-transparent;
        border-width  : 0.3em .15em 0 .15em;
    }
    /* //_}#can-content */
}



/* //_{#can-mq */

/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
    .ico-clock {
        &:before {
            border-color : $COLOR_WTC_casual_text;
        }
        &:after {
            border-color : $COLOR_WTC_casual_text;
        }
    }
    
    .ico-label {
        &:before {
            background : $COLOR_WTC_casual_text;
        }
        &:after {
            border-color : transparent $COLOR_WTC_casual_text;
        }
    }
    
    .ico-author {
        &:before {
            background : $COLOR_WTC_casual_text;
        }
        &:after {
            background : $COLOR_WTC_casual_text;
        }
    }
    
    .ico-flag {
        &:before {
            background : $COLOR_WTC_casual_text;
        }
        &:after {
            background : $COLOR_WTC_casual_text;
        }
    }
    
    .ico-pen {
        &:before {
            background : $COLOR_WTC_casual_text;
        }
        &:after {
            border-color : $COLOR_WTC_casual_text transparent;
        }
    }
    
    .ico-chain {
        &:before {
            border-color : $COLOR_WTC_casual_text;
        }
        &:after {
            border-color : $COLOR_WTC_casual_text;
        }
    }
    
    .ico-dram {
        &:before {
            background : $COLOR_WTC_casual_text;
        }
        &:after {
            background : $COLOR_WTC_casual_text;
        }
    }
    
    .ico-comment {
        &:before {
            background : $COLOR_WTC_casual_text;
        }
        &:after {
            border-color : $COLOR_WTC_casual_text transparent;
        }
    }
}
/* //_>bottom40 */

/* //_}#can-mq */

