/* [parts] moduleSpacer
 *  module 配下の要素をラップし適切な余白を与える
--------------------------------------------------------------------------------------*/
.mspacer {
    margin : 1em 1em 0;

/* //_{#ie7-win */
    word-break : break-all;
/* //_}#ie7-win */
}

#lF .lM .mspacer {
    margin : 0.6em 0.5em 0;
}

.lS .mspacer {
    margin : 0.6em 0 0;
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    .mspacer {
        margin : 1em 0.5em 0 !important;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .mspacer {
        margin : 0.6em 0 0 !important;
    }
}