/* [module] ArticleBody
 *  出現位置は #lB .lMz 下で固定
 *
 *  div.ABody
--------------------------------------------------------------------------------------*/
.ABody {
    margin : 3.5em 0 2em;
}

/*  明朝
--------------------------------------------------------------------------------------*/
@if( $UA_Modern or $UA_IE9 ){
    .ABody {
        h1, h2, h3, h4, h5, h6 {
            @extend %mincho;
        }
    }
}

/*  h1
--------------------------------------------------------------------------------------*/
.ABody h1 {
    @include hMargin(2, 3em, 3em);
    font-size : 2em;
}

/*  h2
--------------------------------------------------------------------------------------*/
.ABody h2 {
    @include hMargin(2, 2em, 1em);
    font-size      : 1.5em;
    border-width   : 0.2em 0 0;
    padding        : 1.4em 0 .6em;
    border-color   : $COLOR_ACCENT;
    color          : $COLOR_ACCENT;
    @if( $CANUSE_PSEUDO_BLOCK ){
        &:after {
            display : none; /* for iOS4 content : none だけでは消えない */
            @if( $IS_Opera7x ){
                width   : 0;    /* for Opera */
            }
        }
    }
}

/*  h3
--------------------------------------------------------------------------------------*/
.ABody h3 {
    @include hMargin(2, 2.4em, 1.2em);
    font-weight    : bold;
    font-size      : 1.25em;
    border-width   : 0.1em 0 0;
    padding        : 1.4em 0 .6em;
}

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .ABody {
        -webkit-column-count : 2;
        -webkit-column-gap   : $WSXGA_COLUMN_GAP_EM;
           -moz-column-count : 2;
           -moz-column-gap   : $WSXGA_COLUMN_GAP_EM;
                column-count : 2;
                column-gap   : $WSXGA_COLUMN_GAP_EM;
    }
        .ABody .aBodyRoot > *:first-child {
            margin-top : 0;
        }
        .ABody h1, .ABody h2 {
            text-align : center;
        }
        .ABody h2 {
            @if( $UA_Modern ){
                -webkit-column-span : all;
                   -moz-column-span : all;
                        column-span : all;
            }
        }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    .ABody h1, .ABody h2, .ABody h3 {
        text-align : center;
    }
    .ABody h1, .ABody h2, .ABody h3 {
        padding-left  : math.div($TABLET-H-SPACE, 2);
        padding-right : math.div($TABLET-H-SPACE, 2);
    }
}

/*  PHABLET
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .ABody h1, .ABody h2, .ABody h3 {
        padding-left   : math.div($PHABLET-H-SPACE, 2);
        padding-right  : math.div($PHABLET-H-SPACE, 2);
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .ABody h1 {
        font-size : 1.5em;
    }
    .ABody h2 {
        font-size : 1.25em;
    }
    .ABody h1, .ABody h2, .ABody h3 {
        padding-left  : math.div($PHONE-H-SPACE, 2);
        padding-right : math.div($PHONE-H-SPACE, 2);
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .ABody h1, .ABody h2, .ABody h3 {
        padding-left  : 0;
        padding-right : 0;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .ABody {
        margin : 0;
    }
}