/* [module] Comment
 *  出現位置は #lB .lMh 下で固定
 *  div.Comment
 *  
--------------------------------------------------------------------------------------*/
@if( $Option_blog ){
    .Comment {
        @include stackableModule;
    }

        .Comment h3 {
            margin-bottom : 0;
        }

        .Comment h3, .Comment div {
            font-size    : 1em;
            margin-left  : 3%;
        }
        .Comment div {
            color     : $COLOR_Default_casual_text;
            font-size : 93%;
        }
        .Comment p {
            @include clearfix;
            
            padding      : 0 3% .5em;
            border-width : 0 0 1px;
            margin-top   : 0;
        }
}