/* [module] LinkList
 *  出現位置は [#lB|#lF] [.lMi|.lSi] 下
 *
 *  div.LinkList
 *   div
 *    a
--------------------------------------------------------------------------------------*/
%linkCommon {
    @if( $UA_IE6 or $UA_IE55 ){
        /* ie6 hover 時のテキストのガタツキを修正, ie5.5 で 背景に色がつかない */
        * { zoom : 1; }
    }
    a {
        @include unbreak-inside;
        display         : block;
        cursor          : pointer;
        text-decoration : none !important;

        /* href がない場合 current を示す塗りになる */
        background       : $COLOR_Default_text;
        color            : $COLOR_Default_fill;
    }
    :link {
        background : $COLOR_Default_fill;
        color      : $COLOR_Default_link;
    }
    :visited {
        background : $COLOR_Default_fill; /* Edge のみ transparent で上書きできないので背景色を指定 */
        color      : $COLOR_Default_text;
    }
    :link:hover, :visited:hover {
        background : $COLOR_Default_casual_fill;
        color      : $COLOR_Default_text;
    }

    /*  Tablet
    --------------------------------------------------------------------------------------*/
    @if $COLOR_Default_fill != $COLOR_Sidebar_fill {
        @include media(tablet) {
            #lB .lS & :link, #lB .lS & :visited {
                background : $COLOR_Sidebar_fill;
            }
            #lB .lS & :link:hover, #lB .lS & :visited:hover {
                background : $COLOR_Default_casual_fill;
            }
        }
    }

    .ribbon & a {
        background : $COLOR_Ribbon_text;
        color      : $COLOR_Ribbon_fill;
    }
    .ribbon & :link {
        background : $COLOR_Ribbon_fill;
        color      : $COLOR_Ribbon_link;
    }
    .ribbon & :visited {
        background : $COLOR_Ribbon_fill;
        color      : $COLOR_Ribbon_text;
    }
    .ribbon & :link:hover, .ribbon & :visited:hover {
        background : $COLOR_Ribbon_casual_fill;
        color      : $COLOR_Ribbon_text;
    }
    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        /* href がない場合 current カラーになる */
        a {
            background : $COLOR_Watch_casual_text;
            color      : $COLOR_Watch_fill;            
        }
        & :link {
            background : $COLOR_Watch_fill;
            color      : $COLOR_Watch_link;
        }
        & :visited {
            background : $COLOR_Watch_fill;
            color      : $COLOR_Watch_text;
        }
        & :link:hover, & :visited:hover {
            background : $COLOR_Watch_casual_fill;
            color      : $COLOR_Watch_text;
        }

        @if $COLOR_Default_fill != $COLOR_Sidebar_fill {
            #lB .lS & :link, #lB .lS & :visited {
                background : $COLOR_Watch_fill;
            }
            #lB .lS & :link:hover, #lB .lS & :visited:hover {
                background : $COLOR_Watch_casual_fill;
            }
        }
    }
}

.LinkList {
    @extend %linkCommon;
    @include stackableModule;
    @include highContrast {
        padding : $HIGH_CONTRUST_FOCUS_BORDER_WIDTH 0;
    }
    a {
        line-height : 1.1;
        padding     : 1em 0.5em 0.8em;
        @include highContrast {
            margin : 0 $HIGH_CONTRUST_FOCUS_BORDER_WIDTH;
        }
        &:active:hover
        /* //_{#can-focus-pseudo-class */
        , &:focus:hover
        /* //_}#can-focus-pseudo-class */
        {
            text-decoration : underline !important;
        }
    }
}

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .lM .LinkList {
        @include stackableModule(.2em);

        div {
            display : inline-block;
            margin  : $HIGH_CONTRUST_FOCUS_BORDER_WIDTH; /* for highContrast */
        }
    }
}

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .LinkList {
        text-align : center;
        @include stackableModule(.2em);

        div {
            display : inline-block;
            margin  : $HIGH_CONTRUST_FOCUS_BORDER_WIDTH; /* for highContrast */
        }
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .LinkList a {
        padding : 0.5em 0;
    }
}