/* [module] RichLinkList
 *  出現位置は [#lB|#lF] [.lMi|.lSi] 下
 *
 * lMi 下用タグ構造
 *  div.RichLink
 *    div.RichLink-sep
 *      a role=listitem
 *        h3
 *          img
 *          (span.medal[-*])
 *        div.RichLink-meta,
 *          span
 *          br
 *        p
 * lSi 下用タグ構造
 *  div.RichLink
 *    div.RichLink-sep
 *      a role=listitem
 *        img
 *        (span.medal[-*])
 *        b
 *      br
--------------------------------------------------------------------------------------*/
$RICHLINK_TEXT_SIZE : 0.875;

.RichLink {
    @include stackableModule;
    @include highContrast {
        padding : $HIGH_CONTRUST_FOCUS_BORDER_WIDTH 0;
    }
}
    .RichLink-sep {
        @extend %linkCommon;
        @include lineHeight(1.4, 1);
    }
        .RichLink a {
            @include clearfix;

            /* //_{#ie55-,@ie8,@ie9,#notie */
            padding : 1em 0.5em 0;
            /* //_}#ie55-,@ie8,@ie9,#notie */
            /* //_{@ie6,@ie7 */
            padding : 1em 0.5em;
            /* //_}@ie6,@ie7 */

            border-width : 0 0 1px;
            @include highContrast {
                border-width : 0;
            }
        }
            .RichLink b {
                display     : block;
                font-weight : normal;
            }
            .RichLink br {
                display : none;
            }

    .RichLink a {
        border-color : $COLOR_Ribbon_casual_fill !important;
    }
    .baseColor .RichLink a {
        border-color : $COLOR_Default_casual_fill !important;
    }
    @include media(dark_theme) { 
        .baseColor .RichLink a {
            border-color : $COLOR_Watch_casual_fill !important;
        }
    }

    .baseColor .RichLink-meta {
        color  : $COLOR_Default_casual_fill;
    }
    :link, :visited {
        .baseColor & .RichLink-meta {
            color  : $COLOR_Default_casual_text;
        }
    }
    .RichLink-meta {
        color  : $COLOR_Ribbon_casual_fill;
    }
    :link, :visited {
        .RichLink-meta {
            color  : $COLOR_Ribbon_casual_text;
        }
    }

/*  layout Main
--------------------------------------------------------------------------------------*/
    .RichLink h3 {
        font-size : 1.5em;
        margin    : 0 0 0.4em;

        * {
            font-size : (1em / 1.5);
        }
    }
        .RichLink img {
            float     : left;
            margin    : 0 .6em 1em 0;
        }
    .RichLink-meta {
        font-size : 1em * $RICHLINK_TEXT_SIZE;
        margin    : 1em / $RICHLINK_TEXT_SIZE 0;
        span {
            @include inline-block;
        }
    }
    .RichLink p {
        margin  : 1em 0;
    }

/*  layout Sub
--------------------------------------------------------------------------------------*/
    .lS .RichLink img {
        float  : right;
        margin : 0 0 1em 0.6em;
    }
    .RichLink b {
        @include unbreak-pane;

        font-size  : 1em * $RICHLINK_TEXT_SIZE;
        /* //_{#ie55-,@ie8,@ie9,#notie */
        padding    : 0 0 0.8em / $RICHLINK_TEXT_SIZE;
        /* //_}#ie55-,@ie8,@ie9,#notie */
        /* //_{@ie6,@ie7 */
        padding    : 0;
        /* //_}@ie6,@ie7 */
    }

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .lM .RichLink-sep {
        display      : table;
        table-layout : fixed;
        margin       : 1em 0;

        a {
            display        : table-cell;
            vertical-align : top;
            width          : 33.3%;
        }
    }
        .lM .RichLink a {
            border-width : 0;
            padding      : 1em;
        }
            .RichLink-meta {
                font-size : 1em;
            }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    .lS .RichLink a {
        padding : 0.7em 0.5em 0;
    }
        .lS .RichLink img {
            float  : left;
            margin : 0 0.5em 0.6em 0;
        }
        .RichLink b {
            padding   : 0 0 0.5em / $RICHLINK_TEXT_SIZE;
            font-size : 1em;
        }
}

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .RichLink h3 {
        font-size : 1.3em;
    }
        .RichLink h3 * {
            font-size : (1em / 1.3);
        }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    /*.lM */ .RichLink a {
        padding-left  : 1%;
        padding-right : 1%;
    }
    .RichLink h3 {
        font-size : 1.1em;
    }
        .RichLink h3 * {
            font-size : (1em / 1.1);
        }
}

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    .RichLink h3 {
        font-size : 1em;
    }
        .RichLink h3 * {
            font-size : 1em;
        }

    /*.lM */ .RichLink img {
        float  : none;
        margin : 0 auto 1em;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    /*.lM */ .RichLink a {
        padding-left  : 0;
        padding-right : 0;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    .baseColor .RichLink-meta {
        color  : $COLOR_Watch_casual_fill;
    }
    :link, :visited {
        .baseColor & .RichLink-meta {
            color  : $COLOR_Watch_casual_text;
        }
    }
}
