/* [module] Header
 *  出現位置は #lH .lMi 下で固定
 *
--------------------------------------------------------------------------------------*/
@if( $Option_simpleHeader ){
    .Header {
        @include lineHeight(1, 1);
    }

        .Header h1, .h1 {
            @if( $Option_mobileOnly == false ){
                display   : inline;
            }
            font-size : 1.5em;
            margin    : 0 0.5em 0 0;
        }
        .Header h1 {
            @include lineHeight(1, 0);
            padding : 0;
        }

    /*  WSXGA
    --------------------------------------------------------------------------------------*/
    @include media(WSXGA) {
        .Header {
            text-align : center;
        }
    }

    /*  Tablet
    --------------------------------------------------------------------------------------*/
    @include media(tablet) {
        .Header {
            text-align : center;
        }
            .Header h1, .h1 {
                display : block;
                margin  : 0 0 0.5em;
            }
    }

    /*  Phone
    --------------------------------------------------------------------------------------*/
    @include media(phone) {
        .Header h1, .h1 {
            font-size : 1.2em;
        }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        .Header {
            text-align : left;
        }
            .h1 {
                font-size : 1em;
            }
            .Header h1 {
                @if( $Option_mobileOnly == false ){
                    display    : block;
                }
                text-align : center;
                margin     : 0 0 0.5em;
            }
            @if( $IS_LTE_WIN_IE6 == false and $UA_MacIE5 == false ){
                .Header h1+span {
                    display    : block;
                    text-align : center;
                }
            }
    }
}