/* .lW
 *   .lM
 *     .lMi|.lMz
 *        .lMf + .lMh
 *        .lM1 + .lM2
 *   .lS
 *     .lSi
 *        .lS1, ls2
 *
 * 1. display:table-layout
 *    * ie8+, Opera 9+, Gecko 1+, WebKit
 * 2. float-layout
 *    * 上記以外のブラウザ 
 *
--------------------------------------------------------------------------------------*/
$LAYOUT_BY_DISPLAY_TABLE : $IS_LTE_WIN_IE7 == false and $IS_LTE_GECKO09 == false and $IS_Opera7x == false and $UA_Opera8 == false;

@if( $Option_mobileOnly == false ){
    .#{$Prefix}lW { // clearfix を同時に指定するために screen の外へ
        @if( $LAYOUT_BY_DISPLAY_TABLE == false and $LAYOUT_FIX_FOR_Opera75 == false ){
            @include clearfix;
        }
    }

    @include media(screen) {
        .#{$Prefix}lW {
            width : $PC_WIDTH_PERCENT;
            @if( $CANUSE_MAX_AND_MIN_SIZES ){
                max-width : $PC_MAX_WIDTH_EM;
            }
            @if( $LAYOUT_FIX_FOR_Opera75 == false ){
                @if( $CANUSE_MARGIN_AUTO ){
                    margin : 0 auto;
                }
            }
            @if( $LAYOUT_FIX_FOR_Opera75 ){
                @include inline-block;
                text-align : left;
            }
        }

        /*  main
        --------------------------------------------------------------------------------------*/
            .#{$Prefix}lM {
                @if( $IS_LTE_WIN_IE6 ){
                    overflow-x : hidden; /* カラム落ち対策 */
                }
                @at-root #{&}i, #{&}z {
                    @if( $LAYOUT_FIX_FOR_Opera75 ){
                        padding-left : math.div(100% * $PC_COLUMN_GAP_RATIO, $PC_MAIN_COLUMN_RATIO);
                    } @else {
                        margin-left : math.div(100% * $PC_COLUMN_GAP_RATIO, $PC_MAIN_COLUMN_RATIO);
                    }
                }
            }

        /*  sub
        --------------------------------------------------------------------------------------*/
            .#{$Prefix}lS {
                width : 100% * $PC_SUB_COLUMN_RATIO;
                @at-root #{&}i {
                    @if( $UA_IE6 ){
                        width  : 82%;
                    }
                    @if( $UA_IE55 ){
                        width  : 100%;
                    }
                    @if( $LAYOUT_FIX_FOR_Opera75 ){
                        padding : 0 math.div(100% * $PC_COLUMN_GAP_RATIO, $PC_SUB_COLUMN_RATIO);
                    } @else {
                        margin : 0 math.div(100% * $PC_COLUMN_GAP_RATIO, $PC_SUB_COLUMN_RATIO);
                    }
                }
            }

        @if( $LAYOUT_BY_DISPLAY_TABLE ){
            .#{$Prefix}lW {
                display      : table;
                table-layout : fixed;
            }
                .#{$Prefix}lM, .#{$Prefix}lS {
                    display        : table-cell;
                    vertical-align : top; /* Safari 3.2, ie8 で大切 */
                }
                .#{$Prefix}lM {
                    width : 100% * $PC_MAIN_COLUMN_RATIO;
                    @at-root #{&}i, #{&}z {
                        margin-right : math.div(100% * $PC_COLUMN_GAP_RATIO, $PC_MAIN_COLUMN_RATIO);
                    }
                }

        } @else {
       /* memo : サイドバーを塗りたい場合
        * http://geckotang.tumblr.com/post/134453564281/ac2015-css-2
        * 高さを求めて32767px 
        */
            .#{$Prefix}lM {
                width : 100% * ( $PC_MAIN_COLUMN_RATIO - $PC_COLUMN_GAP_RATIO );
                float : left;
            }
            .#{$Prefix}lS {
                float : right;
            }
        }
    }
    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        .#{$Prefix}lSi {
            @if( $UA_IE6 ){
                width : 100%;
            }
        }
    }
}

/*  WQXGA
------------------------------------------------------------------------------------WSXGA--*/
@include media(WQXGA) {
    .#{$Prefix}lW {
        width     : $WQXGA_WIDTH_PERCENT;
        max-width : $WQXGA_MAX_WIDTH_EM;
    }
        .#{$Prefix}lM {
            width : 100% * $WQXGA_MAIN_COLUMN_RATIO;
            @at-root #{&}i, #{&}z {
                margin : 0 $WQXGA_COLUMN_GAP_EM 0 math.div($WQXGA_COLUMN_GAP_PCT, $WQXGA_MAIN_COLUMN_RATIO);
            }
            @at-root #{&}h {
                margin-left  : 50%;
                padding-left : math.div($WQXGA_COLUMN_GAP_EM, 2);
            }
        }

        .#{$Prefix}lS {
            width : 100% * $WQXGA_SUB_COLUMN_RATIO;
            @at-root #{&}i {
                margin : 0 math.div($WQXGA_COLUMN_GAP_PCT, $WQXGA_SUB_COLUMN_RATIO);
            }
        }
}

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .#{$Prefix}lW {
        width     : $WSXGA_WIDTH_PERCENT;
        max-width : $WSXGA_MAX_WIDTH_EM;
    }
        .#{$Prefix}lM {
            width : 100% * $WSXGA_MAIN_COLUMN_RATIO;
            @at-root #{&}i, #{&}z {
                margin : 0 $WSXGA_COLUMN_GAP_EM 0 math.div($WSXGA_COLUMN_GAP_PCT, $WSXGA_MAIN_COLUMN_RATIO);
            }
            @at-root #{&}h {
                margin-left  : 50%;
                padding-left : math.div($WSXGA_COLUMN_GAP_EM, 2);
            }
        }
        .#{$Prefix}lS {
            width : 100% * $WSXGA_SUB_COLUMN_RATIO;
            @at-root #{&}i {
                margin : 0 math.div($WSXGA_COLUMN_GAP_PCT, $WSXGA_SUB_COLUMN_RATIO);
            }
        }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@if( $Option_mobileOnly == false ){
    @include media(tablet) {/* float-layout -> table-layout も併せて変更 */
        .#{$Prefix}lW {
            width : 100%;
            @if( $CANUSE_MAX_AND_MIN_SIZES ){
                max-width : 100%;
            }
            @if( $LAYOUT_BY_DISPLAY_TABLE ){
                display : block;
            }
        }
            .#{$Prefix}lM, .#{$Prefix}lS {
                width : auto;
                @if( $LAYOUT_BY_DISPLAY_TABLE ){
                    display : block;
                } @else {
                    float : none;
                }
            }
                .#{$Prefix}lMi, .#{$Prefix}lMz, .#{$Prefix}lSi {
                    @if( $LAYOUT_FIX_FOR_Opera75 ){
                        padding : 0;
                    } @else {
                        margin : 0;
                    }
                }
    }
}

/*  mobileOnly は始めから Tablet
--------------------------------------------------------------------------------------*/
@if( $Option_mobileOnly ){
    .#{$Prefix}lW {
        @if( $UA_IE8 or $UA_Modern ){
            overflow : hidden; /* この指定が無いと塗りがはみ出る */
        }
        @if( $UA_IE5 ){
            width      : 100%; /* この指定が無いと横スクロールが出る  */
            overflow-x : hidden;
        }
    }
    @include media(screen) {
        .#{$Prefix}lW {
            @if( $LAYOUT_FIX_FOR_Opera75 ){
                text-align : center;
            }
        }
        .#{$Prefix}lM, .#{$Prefix}lS, #lB .#{$Prefix}lSi {
            @if( $CANUSE_MAX_AND_MIN_SIZES ){
                max-width : $TABLET_MAX_WIDTH_EM;
                @if( $LAYOUT_FIX_FOR_Opera75 ){
                    @include inline-block;
                    text-align : left;
                } @else {
                    margin : 0 auto;
                }
            }
        }
        #lB .#{$Prefix}lS {
            @if( $CANUSE_MAX_AND_MIN_SIZES ){
                max-width : 100%;
            }
        }
    }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@if( $Option_mobileOnly ){
    .#{$Prefix}lMi, .#{$Prefix}lMz .#{$Prefix}lMh, .#{$Prefix}lSi {
        padding : 0 $TABLET_HORIZONTAL_MARGIN;
    }
} @else {
    @include media(tablet_print) {
        .#{$Prefix}lMi, .#{$Prefix}lMz .#{$Prefix}lMh, .#{$Prefix}lSi {
            padding : 0 $TABLET_HORIZONTAL_MARGIN;
        }
    }
    @include media(tablet) {
        #lB .#{$Prefix}lSi {
            padding : 0;
        }
    }
}

.#{$Prefix}lMi, .#{$Prefix}lMz .#{$Prefix}lMh, .#{$Prefix}lSi, #lB .#{$Prefix}lSi {
    /*  PHABLET
    --------------------------------------------------------------------------------------*/
    @include media(phablet) {
        padding : 0 $PHABLET_HORIZONTAL_MARGIN;
    }

    /*  Phone
    --------------------------------------------------------------------------------------*/
    @include media(phone) {
        padding : 0 $PHONE_HORIZONTAL_MARGIN;
    }

    /*  Watch
    --------------------------------------------------------------------------------------*/
    @include media(watch) {
        padding : 0;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    #lH .#{$Prefix}lS, #lB .#{$Prefix}lS, #lF .#{$Prefix}lW {
        display : none;
    }
}
/*  landscape Print
--------------------------------------------------------------------------------------*/
@include media(landscapePrint) {
    .#{$Prefix}lMi, .#{$Prefix}lMh {
        padding : 0 math.div($TABLET_HORIZONTAL_MARGIN, 2);
    }
}