/* max-width for ie6 + ie5.5
 *   http://css-eblog.com/csstechnique/max-width-for-ie6.html
 *
 *  <!--[if lte IE 6]><div><div class="e6L"></div><div class="e6R"></div><div class="e6C"><![endif]-->
 *    <div class="lW" />
 *  <!--[if lte IE 6]></div><br clear="all"></div><![endif]-->
--------------------------------------------------------------------------------------*/
@include media(screen) {
    @if( $UA_IE6 or $UA_IE55 ){
        .#{$Prefix}e6L {
            float        : left;
            height       : 1px;
            width        : 50%;
            margin-right : math.div(-$PC_MAX_WIDTH_EM, 2);
            @if( $Option_mobileOnly ){
                margin-right : math.div(-$TABLET_MAX_WIDTH_EM, 2);
            }
        }
        .#{$Prefix}e6R {
            float       : right;
            height      : 1px;
            width       : 50%;
            margin-left : math.div(-$PC_MAX_WIDTH_EM, 2);
            @if( $Option_mobileOnly ){
                margin-left : math.div(-$TABLET_MAX_WIDTH_EM, 2);
            }
        }
        .#{$Prefix}e6C {
            overflow : hidden;
            margin   : 0 !important;
            float    : left;
            .#{$Prefix}lW {
                overflow : hidden;
                width    : 100%;
            }
        }
            .#{$Prefix}e6BR {
                clear         : both;
                height        : 1px;
                line-height   : 1px;
                display       : block;
                margin-bottom : -1px;
            }

        #lH { width : 100%; }

        @if( $UA_IE55 ){
            #lB { width : 100%; }
        }
    }

   /* ie5 専用
    * MaxWidthFix で作られたタグ(div.e6C)と div.lW を組み合わせてセンタリングだけを行う.
    * http://blog.xicolotic.info/css/advent-calendar-2015-css1/
    */
    @if( $UA_IE5 ){
        .#{$Prefix}e6L, .#{$Prefix}e6R, .#{$Prefix}e6BR {
            display : none;
        }
        .#{$Prefix}e6C {
            text-align : center;
        }
        .#{$Prefix}lW, .#{$Prefix}lX {
            text-align : left;
        }
    }
}