/* .lW
 *   .lM
 *     .lMi|.lMz
 *        .lMf + .lMh
 *        .lM1 + .lM2
 *   .lS
 *     .lSi
 *        .lS1, ls2
 *
 * 1. "display:table"-layout
 *    * ie8+, Opera 9+, Gecko 1+, WebKit
 * 2. "float"-layout
 *    * 上記以外のブラウザ 
 *
------------------------------------------------------------------------------------- */
@use "sass:math";

@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/size" as size;
@use "../01_var/canuse" as canuse;
@use "../01_var/quirks" as quirks;

@use "../02_mixin/clearfix" as *;
@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/inline-block" as *;

@use "./_/table-to-float-layout-patch" as *;
@use "./_/multi-column" as *;
@use "./_/opera7.5-ssr-bug-workaround" as *;

@mixin -reset-layout {
    @include multi-column-reset(true, true, canuse.$DISPLAY_TABLE_FOR_2COL_LAYOUT,
            #{"." + opt.$Prefix + "lW"}, size.$PC_WIDTH_PERCENT,
            #{"." + opt.$Prefix + "lM"},
            #{"." + opt.$Prefix + "lS"});

    .#{opt.$Prefix}lMi, .#{opt.$Prefix}lMz, .#{opt.$Prefix}lSi {
        @if quirks.$OPERA75_SSR_BUG_WORKAROUND {
            padding : 0;
        } @else {
            margin : 0;
        }
    }
    .#{opt.$Prefix}lSi {
        @if ua.$IE6 {
            width  : 100%;
        }
    }
}

@if opt.$MobileOnly == false {
    @if opt.$MaxLayoutColumns < 2 {
        @error "Layout Error! opt.$MaxLayoutColumns: " + opt.$MaxLayoutColumns;
    }

    @include media-screen {
/*  table or float
------------------------------------------------------------------------------------- */
       /* memo : サイドバーを塗りたい場合
        * http://geckotang.tumblr.com/post/134453564281/ac2015-css-2
        * 高さを求めて32767px 
        */
        @include multi-column(
            true, true, canuse.$DISPLAY_TABLE_FOR_2COL_LAYOUT,
            #{"." + opt.$Prefix + "lW"}, size.$PC_WIDTH_PERCENT           , size.$PC_MAX_WIDTH_EM,
            #{"." + opt.$Prefix + "lM"}, 100% * size.$PC_MAIN_COLUMN_RATIO, 100% * ( size.$PC_MAIN_COLUMN_RATIO - size.$PC_COLUMN_GAP_RATIO ),
            #{"." + opt.$Prefix + "lS"}, 100% * size.$PC_SUB_COLUMN_RATIO , 100% * size.$PC_SUB_COLUMN_RATIO
        );
/*  main
------------------------------------------------------------------------------------- */
        .#{opt.$Prefix}lMi, .#{opt.$Prefix}lMz {
            @if quirks.$OPERA75_SSR_BUG_WORKAROUND {
                padding-left : math.div(100% * size.$PC_COLUMN_GAP_RATIO, size.$PC_MAIN_COLUMN_RATIO);
            } @else {
                @include media-1st-view-css {
                    margin-left : math.div(100% * size.$PC_COLUMN_GAP_RATIO, size.$PC_MAIN_COLUMN_RATIO);
                }
                @if canuse.$DISPLAY_TABLE_FOR_2COL_LAYOUT {
                    @include media-1st-view-css {
                        margin-right : math.div(100% * size.$PC_COLUMN_GAP_RATIO, size.$PC_MAIN_COLUMN_RATIO);
                    }
                    @include table-to-float-layout-patch {
                        margin-right : 0;
                    }
                }
            }
        }

/*  sub
------------------------------------------------------------------------------------- */
        .#{opt.$Prefix}lSi {
            @if ua.$IE6 {
                width : 100% - math.div(100% * size.$PC_COLUMN_GAP_RATIO, size.$PC_SUB_COLUMN_RATIO) * 2;
            }
            @if ua.$IE55 {
                width : 100%;
            }
            @if quirks.$OPERA75_SSR_BUG_WORKAROUND {
                padding : 0 math.div(100% * size.$PC_COLUMN_GAP_RATIO, size.$PC_SUB_COLUMN_RATIO);
            } @else {
                @include media-1st-view-css {
                    margin : 0 math.div(100% * size.$PC_COLUMN_GAP_RATIO, size.$PC_SUB_COLUMN_RATIO);
                }
            }
        }
    }
/*  Print
------------------------------------------------------------------------------------- */
    @include media-print-fallback {
        @include -reset-layout;
    }

/*  Tablet
------------------------------------------------------------------------------------- */
    @include mq(tablet) {
        @include -reset-layout;
    }
}

/*  WQXGA
------------------------------------------------------------------------------------- */
@include mq(WQXGA) {
    @include media-1st-view-css {
        .#{opt.$Prefix}lW {
            width     : size.$WQXGA_WIDTH_PERCENT;
            max-width : size.$WQXGA_MAX_WIDTH_EM;
        }
    }
        .#{opt.$Prefix}lM {
            width : 100% * size.$WQXGA_MAIN_COLUMN_RATIO;
            @at-root #{&}i, #{&}z {
                margin : 0 size.$WQXGA_COLUMN_GAP_EM 0 math.div(size.$WQXGA_COLUMN_GAP_PCT, size.$WQXGA_MAIN_COLUMN_RATIO);
            }
            @at-root #{&}h {
                margin-left  : 50%;
                padding-left : math.div(size.$WQXGA_COLUMN_GAP_EM, 2);
            }
        }

        .#{opt.$Prefix}lS {
            width : 100% * size.$WQXGA_SUB_COLUMN_RATIO;
            @at-root #{&}i {
                margin : 0 math.div(size.$WQXGA_COLUMN_GAP_PCT, size.$WQXGA_SUB_COLUMN_RATIO);
            }
        }
}

/*  WSXGA
------------------------------------------------------------------------------------- */
@include mq(WSXGA) {
    @include media-1st-view-css {
        .#{opt.$Prefix}lW {
            width     : size.$WSXGA_WIDTH_PERCENT;
            max-width : size.$WSXGA_MAX_WIDTH_EM;
        }
    }
        .#{opt.$Prefix}lM {
            width : 100% * size.$WSXGA_MAIN_COLUMN_RATIO;
            @at-root #{&}i, #{&}z {
                margin : 0 size.$WSXGA_COLUMN_GAP_EM 0 math.div(size.$WSXGA_COLUMN_GAP_PCT, size.$WSXGA_MAIN_COLUMN_RATIO);
            }
            @at-root #{&}h {
                margin-left  : 50%;
                padding-left : math.div(size.$WSXGA_COLUMN_GAP_EM, 2);
            }
        }
        .#{opt.$Prefix}lS {
            width : 100% * size.$WSXGA_SUB_COLUMN_RATIO;
            @at-root #{&}i {
                margin : 0 math.div(size.$WSXGA_COLUMN_GAP_PCT, size.$WSXGA_SUB_COLUMN_RATIO);
            }
        }
}

/*  mobileOnly は始めから Tablet
------------------------------------------------------------------------------------- */
@if opt.$MobileOnly {
    .#{opt.$Prefix}lW {
        @if ua.$IE8 or ua.$Modern {
            overflow : hidden; /* この指定が無いと塗りがはみ出る */
        }
        @if ua.$IE5 {
            width      : 100%; /* この指定が無いと横スクロールが出る  */
            overflow-x : hidden;
        }
    }
    @include media-screen {
        .#{opt.$Prefix}lM, .#{opt.$Prefix}lS, #lB .#{opt.$Prefix}lSi {
            @if canuse.$MAX_AND_MIN_SIZES {
                @include media-1st-view-css {
                    max-width : size.$TABLET_MAX_WIDTH_EM;
                }
                @if quirks.$OPERA75_SSR_BUG_WORKAROUND {
                    @include opera75-ssr-bug-workaround;
                } @else {
                    @include media-1st-view-css {
                        margin : 0 auto;
                    }
                }
            }
        }
        #lB .#{opt.$Prefix}lS {
            @if canuse.$MAX_AND_MIN_SIZES {
                @include media-1st-view-css {
                    max-width : 100%;
                }
            }
        }
    }
}

/*  Tablet
------------------------------------------------------------------------------------- */
@if opt.$MobileOnly {
    .#{opt.$Prefix}lMi, .#{opt.$Prefix}lMz .#{opt.$Prefix}lMh, .#{opt.$Prefix}lSi {
        @include media-screen {
            padding : 0 size.$TABLET_HORIZONTAL_MARGIN;
        }
        @include media-print-fallback {
            padding : 0;
        }
    }
} @else {
    @include mq(tablet) {
        .#{opt.$Prefix}lMi, .#{opt.$Prefix}lMz .#{opt.$Prefix}lMh, .#{opt.$Prefix}lSi {
            padding : 0 size.$TABLET_HORIZONTAL_MARGIN;
        }
        #lB .#{opt.$Prefix}lSi {
            padding : 0;
        }
    }
}

.#{opt.$Prefix}lMi, .#{opt.$Prefix}lMz .#{opt.$Prefix}lMh, .#{opt.$Prefix}lSi, #lB .#{opt.$Prefix}lSi {
    /*  PHABLET
    ------------------------------------------------------------------------------------- */
    @include mq(phablet) {
        padding : 0 size.$PHABLET_HORIZONTAL_MARGIN;
    }

    /*  Phone
    ------------------------------------------------------------------------------------- */
    @include mq(phone) {
        padding : 0 size.$PHONE_HORIZONTAL_MARGIN;
    }

    /*  Watch
    ------------------------------------------------------------------------------------- */
    @include mq(watch) {
        padding : 0;
    }
}

/*  Print
------------------------------------------------------------------------------------- */
@include media-print {
    #lH .#{opt.$Prefix}lS, #lB .#{opt.$Prefix}lS, #lF .#{opt.$Prefix}lW {
        display : none;
    }
}
