/* .lX
 *    .lXi
 *      .lX1 | .lX2
------------------------------------------------------------------------------------- */
@use "sass:math";

@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/canuse" as canuse;
@use "../01_var/quirks" as quirks;
@use "../01_var/size" as size;

@use "../02_mixin/clearfix" as *;
@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/inline-block" as *;

.#{opt.$Prefix}lX { // clearfix を同時に指定するために screen の外へ
    @if quirks.$OPERA75_SSR_BUG_WORKAROUND == false {
        @include clearfix;
    }
    /* #lB > .lX の際に #lF 側へ塗りがはみ出さないようにする  */
    @if ua.$IE8to9 or ua.$Modern {
        overflow : hidden; /* この指定が無いと塗りがはみ出る */
    }
    @if ua.$IE5 {
        width      : 100%; /* この指定が無いと横スクロールが出る  */
        overflow-x : hidden;
    }

    @if opt.$MobileOnly == false {
        @include screen {
            width : size.$PC_WIDTH_PERCENT;

            @if canuse.$MAX_AND_MIN_SIZES {
                max-width : size.$PC_MAX_WIDTH_EM;
            }
            @if quirks.$OPERA75_SSR_BUG_WORKAROUND {
                @include inline-block;
                text-align : left;
                @at-root body {
                    text-align : center;
                }
            } @else {
                @if canuse.$MARGIN_AUTO {
                    margin : 0 auto;
                }
            }
        }
        @include print-fallback {
            width : 100%;
            @if canuse.$MAX_AND_MIN_SIZES {
                max-width : 100%;
            }
        }
    }

    /*  WQXGA
    ------------------------------------------------------------------------------------- */
    @include mq(WQXGA) {
        width     : size.$WQXGA_WIDTH_PERCENT;
        max-width : size.$WQXGA_MAX_WIDTH_EM;

        @at-root #{&}i {
            margin : 0 size.$WQXGA_COLUMN_GAP_PCT;
        }
    }

    /*  WSXGA
    ------------------------------------------------------------------------------------- */
    @include mq(WSXGA) {
        width     : size.$WSXGA_WIDTH_PERCENT;
        max-width : size.$WSXGA_MAX_WIDTH_EM;

        @at-root #{&}i {
            margin : 0 size.$WSXGA_COLUMN_GAP_PCT;
        }
    }

    /*  Tablet
    ------------------------------------------------------------------------------------- */
    @if opt.$MobileOnly == false {
        @include mq(tablet) {/* float-layout -> table-layout も併せて変更 */
            width : 100%;
            @if canuse.$MAX_AND_MIN_SIZES {
                max-width : 100%;
            }

            @at-root #{&}i {
                @if quirks.$OPERA75_SSR_BUG_WORKAROUND {
                    // padding : 0;
                } @else {
                    margin : 0;
                }
            }
        }
    } @else {
        @include screen {
            @if canuse.$MAX_AND_MIN_SIZES {
                max-width : size.$TABLET_MAX_WIDTH_EM;
                @if quirks.$OPERA75_SSR_BUG_WORKAROUND {
                    @include inline-block;
                    text-align : left;
                } @else {
                    margin : 0 auto;
                }
            }
        }
        @include print-fallback {
            max-width : 100%;
        }
    }

    @at-root #{&}i {
        @if opt.$MobileOnly == false {
            @include screen {
                @if quirks.$OPERA75_SSR_BUG_WORKAROUND {
                    padding : 0 100% * size.$PC_COLUMN_GAP_RATIO;
                } @else {
                    margin : 0 100% * size.$PC_COLUMN_GAP_RATIO;
                }
            }
            @include print-fallback {
                margin : 0;
            }
            @include mq(tablet) {
                padding : 0 size.$TABLET_HORIZONTAL_MARGIN;
            }
        } @else {
            @include screen {
                padding : 0 size.$TABLET_HORIZONTAL_MARGIN;
            }
            @include print-fallback {
                padding : 0;
            }
        }

        /*  PHABLET
        ------------------------------------------------------------------------------------- */
        @include mq(phablet) {
            padding : 0 size.$PHABLET_HORIZONTAL_MARGIN;
        }

        /*  Phone
        ------------------------------------------------------------------------------------- */
        @include mq(phone) {
            padding : 0 size.$PHONE_HORIZONTAL_MARGIN;
        }

        /*  Watch
        ------------------------------------------------------------------------------------- */
        @include mq(watch) {
            padding : 0;
        }
    }

    /*  .X1, .lX2
    ------------------------------------------------------------------------------------- */
    @at-root #{&}1 {
        float : left;
    }
    @at-root #{&}2 {
        float : right;
    }
}
