/*  Vertical margins
----------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;

@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;

@include screen {
    #lB .#{opt.$Prefix}lM {
        padding-bottom : 4em;
        @if ua.$GeckoLte09 or ua.$Gecko12 {
            padding-top : 2em; // .ABody の h2 等の margin-top が効かない為
        }
    }
    #lB .#{opt.$Prefix}lS {
        padding-bottom : 1em;
    }    
}

/*  WQXGA
------------------------------------------------------------------------------------- */
@include mq(WQXGA) {
    #lB .#{opt.$Prefix}lS {
        padding-bottom : 2em;
    }
}

/*  Phablet
------------------------------------------------------------------------------------- */
@include mq(phablet) {
    #lB .#{opt.$Prefix}lS {
        padding-bottom : 2em;
    }
}
