/*  <pre role=image>
------------------------------------------------------------------------------------- */
@use "../02_mixin/line-height" as *;
@use "../02_mixin/font-family-monospace" as *;
@use "../02_mixin/link-colors-on-dark-background" as *;
@use "../02_mixin/media" as *;

@use "../04_typography/pre" as *;

@use "../08_module/ArticleBody";

.aa {
    @include line-height(1);
    @include font-family-monospace;
    @include link-colors-on-dark-background;

    margin       : 1em 0;
    border-width : 1px;
    border-color : #0A0809;

    @include screen {
        background : #0A0809;
        &, & code, & var {
            color : #00ac06;
        }
    }
    @include print-fallback {
        background : none;
        &, & code, & var {
            color : #002c01;
        }
    }
}
