/*  blockquote
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;
@use "../01_var/size" as size;
@use "../01_var/color" as color;
@use "../01_var/canuse" as canuse;

@use "../02_mixin/responsive-horizontal-margin" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/column" as *;
@use "../02_mixin/supports" as *;
@use "../02_mixin/unbreak" as *;

@use "../04_typography/blockquote";

@use "../08_module/ArticleBody";

%link-in-blockquote {
    @include responsive-horizontal-margin(2, 0, 0);
    font-size : 0.875em;
    color     : color.$Light_link;
    /*  WSXGA, print
    ------------------------------------------------------------------------------------- */
    @include media(WSXGA_landscapePrint) {
        @include column-span-all;
        @include supports(column-span){
            margin : 0 0 2em;
        }
        @include supports(-webkit-column-span){
            margin : 0 0 2em;
        }
    }
    /*  Dark theme
    ------------------------------------------------------------------------------------- */
    @include media(dark_theme) {
        color : color.$Dark_link;
    }
}

%cite-in-blockquote {
    @include responsive-horizontal-margin(2, 0, 0);
    @include unbreak-box-with-long-text; /* 長い url 用 */
    display    : block;
    font-size  : 0.875em;
    text-align : right;
    color      : color.$Light_casual_text;
    /*  WSXGA, print
    ------------------------------------------------------------------------------------- */
    @include media(WSXGA_landscapePrint) {
        @include column-span-all;
        @include supports(column-span){
            margin : 1em 0 0;
        }
        @include supports(-webkit-column-span){
            margin : 1em 0 0;
        }
    }
}

blockquote {
    @include responsive-horizontal-margin(1, 1em, 1em);
    padding      : 1em;
    border-width : 1px;
    @include media(screen) {
        background : color.$Light_casual_fill;
    }
    @include media(WSXGA_landscapePrint) {
        @include supports(column-span){
            & > * {
                margin-top : 0;
            }
        }
        @include supports(-webkit-column-span){
            & > * {
                margin-top : 0;
            }
        }
    }
    & blockquote {
        border-color : color.$Light_casual_text;
    }
    & h3 {
        border-color : color.$Light_text;
    }
    @if( canuse.$CSS_GENERATED_CONTENT ){
        &[title]:before {
            content : attr(title);
            @if( canuse.$CSS_GENERATED_BLOCK ){
                display : block;
            }
        }
        &[cite]:after {
            content : attr(cite);
        }
        &:before {
            @extend %link-in-blockquote;
        }
        &:after {
            @extend %cite-in-blockquote;
            @if( canuse.$TARGET_PSEUDO_CLASS ){
                &:target {
                    color : #fff;
                }
            }
        }
    }
    /*  WSXGA, print
    ------------------------------------------------------------------------------------- */
    @include media(WSXGA_landscapePrint) {
        @include column-span-all(2);

        &:before, &:after {
            @include column-span-all;
        }
        & blockquote {
            @include column-span-none;
            @include supports(column-span){
                margin : 0 0 1em;
            }
            @include supports(-webkit-column-span){
                margin : 0 0 1em;
            }
        }
    }
    /*  WSXGA
    ------------------------------------------------------------------------------------- */
    @include media(WSXGA) {
        @include column-gap(size.$WSXGA_COLUMN_GAP_EM);
    }
    /* Tablet
    ------------------------------------------------------------------------------------- */
    @include media(tablet_print) {
        padding : 1em 1px;
    }
    /*  Dark theme
    ------------------------------------------------------------------------------------- */
    @include media(dark_theme) {
        background : color.$Dark_casual_fill;
        color      : color.$Dark_text;
        & blockquote {
            border-color : color.$Dark_casual_text;
        }
        h3 {
            border-color : color.$Dark_text;
        }
    }
    /*  Forced colors
    ------------------------------------------------------------------------------------- */
    @include media(forced_colors_native_or_fallback){
        border-style : dotted;
    }
    /*  Print
    ------------------------------------------------------------------------------------- */
    @include media(print) {
        margin : 1em 0;
    }
    /*  landscape Print
    ------------------------------------------------------------------------------------- */
    @include media(landscapePrint){
        @include column-gap(size.$PRINT_COLUMN_GAP_EM);
    }
}
