/*  blockquote
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;
@use "../01_var/size" as size;
@use "../01_var/color" as color;
@use "../01_var/canuse" as canuse;

@use "../02_mixin/responsive-horizontal-margin" as *;
@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/column" as *;
@use "../02_mixin/supports" as *;
@use "../02_mixin/unbreak" as *;
@use "../02_mixin/text-color" as *;
@use "../02_mixin/border-color" as *;
@use "../02_mixin/background-color" as *;

@use "../04_typography/blockquote";

@use "../08_module/ArticleBody";

%link-in-blockquote {
    @include text-color-responsive(color.$Light_link);
    @include responsive-horizontal-margin(2, 0, 1.14em);

    font-size : 0.875em;

    /*  WSXGA, print
    ------------------------------------------------------------------------------------- */
    @include mq(WSXGA_landscapePrint) {
        @include column-span-all;
        @include supports(column-span){
            margin : 0 0 2.28em;
        }
        @include supports(-webkit-column-span){
            margin : 0 0 2.28em;
        }
    }
}

%cite-in-blockquote {
    @include responsive-horizontal-margin(2, 0, 0);
    @include unbreak-box-with-long-text; /* 長い url 用 */

    display    : block;
    font-size  : 0.875em;
    text-align : right;
    color      : color.$Light_casual_text;

    /*  WSXGA, print
    ------------------------------------------------------------------------------------- */
    @include mq(WSXGA_landscapePrint) {
        @include column-span-all;
        @include supports(column-span){
            margin : 1.14em 0 0;
        }
        @include supports(-webkit-column-span){
            margin : 1.14em 0 0;
        }
    }
}

blockquote {
    @include responsive-horizontal-margin(1, 1em, 1em);
    @include background-color-responsive(color.$Light_casual_fill);

    padding      : 1em;
    border-width : 1px;

    & blockquote {
        @include border-color-responsive(color.$Light_casual_text);
    }
    & h3 {
        @include border-color-responsive(color.$Light_text);
    }

    @if canuse.$CSS_GENERATED_CONTENT {
        &[title]:before {
            content : attr(title);
            @if canuse.$CSS_GENERATED_BLOCK {
                display : block;
            }
        }
        &[cite]:after {
            content : attr(cite);
        }
        &:before {
            @extend %link-in-blockquote;
        }
        &:after {
            @extend %cite-in-blockquote;
            @if canuse.$TARGET_PSEUDO_CLASS {
                &:target {
                    color : #fff;
                }
            }
        }
    }
    /*  WSXGA, print
    ------------------------------------------------------------------------------------- */
    @include mq(WSXGA_landscapePrint) {
        @include column-span-all(2);

        @include supports(column-span){
            & > * {
                margin-top : 0;
            }
        }
        @include supports(-webkit-column-span){
            & > * {
                margin-top : 0;
            }
        }
        &:before, &:after {
            @include column-span-all;
        }
        & blockquote {
            @include column-span-none;
            @include supports(column-span){
                margin : 0 0 1em;
            }
            @include supports(-webkit-column-span){
                margin : 0 0 1em;
            }
        }
    }
    /*  WSXGA
    ------------------------------------------------------------------------------------- */
    @include mq(WSXGA) {
        @include column-gap(size.$WSXGA_COLUMN_GAP_EM);
    }
    /* Tablet
    ------------------------------------------------------------------------------------- */
    @include mq(tablet) {
        padding : 1em 1px;
    }
    /*  Forced colors
    ------------------------------------------------------------------------------------- */
    @include mq(forced_colors_native_or_fallback){
        border-style : dotted;
    }
    /*  Print
    ------------------------------------------------------------------------------------- */
    @include print {
        margin  : 1em 0;
        padding : 1em;
    }
    /*  landscape Print
    ------------------------------------------------------------------------------------- */
    @include mq(landscapePrint){
        @include column-gap(size.$PRINT_COLUMN_GAP_EM);
    }
}
