@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/size" as size;
@use "../01_var/canuse" as canuse;
@use "../01_var/quirks" as quirks;
@use "../01_var/color" as color;

@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/create-css-generated-block" as *;
@use "../02_mixin/border-radius" as *;
@use "../02_mixin/css-hack" as *;
@use "../02_mixin/text-color" as *;
@use "../02_mixin/border-color" as *;
@use "../02_mixin/background-color" as *;

@use "../04_typography/table" as *;

@use "../08_module/ArticleBody";

.tl {
/* stop sticky
------------------------------------------------------------------------------------- */
    @if ua.$Modern {
        @include mq(pc) {
            @supports (position:sticky) or (position:-webkit-sticky) { // For Firefox 124, no effect on Chrome 124
                thead {
                    background : none;
                }
                thead,               // for Firefox
                thead td, thead th { // for Chrome
                    position : -webkit-sticky;
                    position : static; // stop sticky
                }
            }
        }
    }

/* main
------------------------------------------------------------------------------------- */
    border-width : 0;

    th, td {
        background : none !important;
    }
    thead th {
        border-width : 0 0 1px 0;
    }
    thead td {
        border-width : 0 0 1px .3em;
    }

    thead th, thead td {
        padding-top    : .5em;
        padding-bottom : .5em;
    }

    th {
        padding        : .5em .8em .5em .5em;
        border-width   : 0;
        text-align     : left;
        vertical-align : top;
    }
    td {
        @if canuse.$GOOD_CSS_GENERATED_BLOCK {
            position : relative;
        }
        padding        : .5em .8em;
        border-width   : 0 0 0 .3em;
        border-style   : solid;

        @if canuse.$FIRST_CHILD_PSEUDO_CLASS {
            & > *:first-child {
                margin-top : 0;
            }
        } @else {
            & * {
                margin-top : 0;
            }
        }
    }

    tfoot th {
        border-width : 1px 0 0;
    }
    tfoot td {
        border-width : 1px 0 0 .3em;
        border-style : solid dotted;
    }
    tfoot th, tfoot td {
        padding-top    : .5em;
        padding-bottom : .5em;
    }

/*  〇
------------------------------------------------------------------------------------- */
    @if canuse.$GOOD_CSS_GENERATED_BLOCK {
        tbody td:before, tbody td:after {
            @include create-css-generated-block;
            text-indent  : -1em;
            position     : absolute;
            border-width : .3em;
            border-style : solid;
        }
        @if canuse.$EMPTY_PSEUDO_CLASS {
            tbody :empty:before, tbody :empty:after {
                display : none; /* for iOS4 content : none だけでは消えない */
            }
        }
        /* td に対する絶対配置は Iron14 と Windows Safari 5.1.1 で動作, Iron8 では不可 body が親になる. */
        /* Webkit 534.51, 535 が可, ~534.? が不可ということ? */
        /* td に対する絶対配置は Opera 10.54 で動作, Opera ~10 では非表示. */
        tbody td:before {
            top          : .6em;
            left         : -0.75em;
            width        : 0;
            height       : 0;
            border-width : .6em;
            @include border-radius(.6em);
        }
        tbody td:after {
            top          : .85em;
            left         : -0.5em;
            width        : 0;
            height       : 0;
            border-width : .35em;
            @include border-radius(.35em);
            @if ua.$Modern {
                /*  Forced colors
                ------------------------------------------------------------------------------------- */
                @include mq(forced_colors_native_or_ms){
                    & { border-color : Window; }
                }
                @include mq(forced_colors_fallback){
                    & { filter : invert(1); }
                }
            } @else if ua.$IE8 or ua.$IE9 {
                @include mq(forced_colors_fallback){
                    & {
                        top          : 1.2em;
                        left         : -.13em;
                        border-width : 0;
                        outline      : .35em solid invert;
                    }
                }
            }
        }
        /*  patch for Safari ~4.x
        ------------------------------------------------------------------------------------- */
        @include css-hack(chromeLte5SafariLte4){
            td:before, td:after {
                display : none !important; // tebla-cell に対して絶対配置が出来ない
            }
        }
    }

/* :hover
------------------------------------------------------------------------------------- */
    @if canuse.$HOVER_PSEUDO_CLASS {
        tbody :hover th,
        tbody :hover td {
            @include border-color-responsive(color.$Light_accent, noprint);
        }
        @if canuse.$GOOD_CSS_GENERATED_BLOCK {
            tbody :hover td:before {
                @include border-color-responsive(color.$Light_accent, noprint);
            }
        }
        tbody :hover th {
            @include background-responsive(color.$Light_accent !important, noprint);
            color : #fff;
        }
        tbody :hover th {
            :link, :visited {
                color : #fff;
            }
        }
    }

/* color
------------------------------------------------------------------------------------- */
    @if quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS {
        th a:focus, thead td a:focus {
            background-color : color.$Sidebar_fill !important;
        }
    }

    thead th, thead td, tbody th {
        @include text-color-responsive-force(color.$Light_text);
    }
    thead th, thead td,
    td,
    tfoot th, tfoot td {
        @include border-color-responsive-force(color.$Light_casual_fill);
    }
    @if canuse.$GOOD_CSS_GENERATED_BLOCK {
        tbody td:before {
            @include border-color-responsive-force(color.$Light_casual_fill);
        }
        tbody td:after {
            @include border-color-responsive(color.$Light_fill);
        }
    }
    thead tr { /* tr で詳細度を上げる */
        :link {
            @include text-color-responsive(color.$Light_link);
        }
        :visited {
            @include text-color-responsive(color.$Light_visited);
        }
        @if canuse.$LIMITED_HOVER_PSEUDO_CLASS or canuse.$HOVER_PSEUDO_CLASS {
            :visited:hover {
                @include text-color-responsive(color.$Light_visited_hover, noprint);
            }
        }
    }
    tbody tr th { /* tr で詳細度を上げる */
        @if canuse.$LIMITED_HOVER_PSEUDO_CLASS or canuse.$HOVER_PSEUDO_CLASS {
            :visited:hover {
                @include mq(dark) {
                    color : color.$Dark_visited_hover;
                }
            }
        }
    }

/* color: blockquote > .tl
------------------------------------------------------------------------------------- */
    blockquote & {
        thead th, thead td,
        td,
        tfoot th, tfoot td {
            @include border-color-responsive(color.$Light_casual_text);
        }
        @if canuse.$GOOD_CSS_GENERATED_BLOCK {
            tbody td:before {
                @include border-color-responsive(color.$Light_casual_text);
            }
            tbody td:after {
                @include border-color-responsive-force(color.$Light_casual_fill);
            }
        }
        tbody tr th { /* tr で詳細度を上げる */
            :link {
                @include text-color-responsive(color.$Light_link);
            }
            :visited {
                @include text-color-responsive(color.$Light_visited);
            }
        }
    }

/*  Forced colors
------------------------------------------------------------------------------------- */
    @include mq(forced_colors_native_or_fallback){
        border-collapse : collapse;
    }
    @include mq(forced_colors_native_or_ms){
        td, tfoot td {
            border-color : currentColor;
        }
    }
}
