/* role="image" */

@if( $Option_aa ){
    .aa {
        @include lineHeight(1, 0);
        @include hPadding(1, 1em, 1em);

        margin       : 1em 0;
        border-width : 1px;

        font-family  : monospace;

        background   : #0A0809;
        border-color : #0A0809;
    }

    .aa, .aa code, .aa var {
        color : #00ac06;
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        .aa {
            background : #fff;
            color      : $COLOR_Print_text;
        }
        .aa code, .aa var {
            color      : $COLOR_Print_text;
        }
    }
}