
/*  blockquote
--------------------------------------------------------------------------------------*/
blockquote {
    @include hMargin(1, 1em, 1em);
    padding      : 1em;
    border-width : 1px;
    background   : $COLOR_Default_casual_fill;
    @include highContrast {
        border-style : dotted;
    }
}

    blockquote h3 {
        border-color : $COLOR_Default_text;
    }

    /* //_{#can-content */
    blockquote:before {
        content : attr(title);
        display : block;
    }
    blockquote:after {
        content : attr(cite);
    }
    /* //_}#can-content */

    /* //_{#can-content */
    blockquote:before,
    /* //_}#can-content */
    .js-bqLink {
        @include hMargin(2, 0, 0);
        font-size   : 0.875em;
        line-height : 1.2;
        color       : $COLOR_Default_link;
    }
    /* //_{#can-content */
    blockquote:after,
    /* //_}#can-content */
    .js-bqCite {
        @include hMargin(2, 0, 0);
        display     : block;
        font-size   : 0.875em;
        line-height : 1.2;
        text-align  : right;
        word-break  : break-all; /* 長いurl iOS4用効果あり */
        /* //_{@ie55,@ie6,@ie7,@ie8,@ie9,@modern */
        word-wrap  : break-word;
        /* //_}@ie55,@ie6,@ie7,@ie8,@ie9,@modern */
        color       : $COLOR_Default_casual_text;
    }

/* Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    blockquote {
        padding : 1em 1px;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    blockquote {
        background : $COLOR_Watch_casual_fill;
        color      : $COLOR_Watch_text;
    }
        blockquote h3 {
            border-color : $COLOR_Watch_text;
        }

        blockquote:before,
        .js-bqLink {
            color : $COLOR_Watch_link;
        }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    blockquote {
        background : none;
        margin     : 1em 0;
    }
    /* //_{#can-content */
    .js-bqLink a:after {
        display : none; /* for iOS4 content : none だけでは消えない */
    }
    /* //_}#can-content */
}