
/*  box
--------------------------------------------------------------------------------------*/
.box {
    @include clearfix;

    li &, dl &, tr &, .note & {
        margin-top : 0;
    }

    margin : 1em 1em 0;

    @if( $CANUSE_1ST_OF_TYPE_SELECTOR ){
        & > p:first-of-type {
            margin-top : math.div(-$BASE-LINE-HEIGHT-EM + 1em, 4);
        }
        tr & > p:first-of-type {
            margin-top : auto; // Windown XP Safari 3.2.3 で 0 だとレイアウトが崩れる
        }
    }

    p, dl, ul, ol {
        @include hMargin(1, 0, 1em, 1);
    }
    ul, ol {
        list-style-position : inside;
    }

    img, .caption, iframe
    //, embed, object, video
    {
        float  : left;
        margin : 0 1em 1em 0;
    }    
}

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .box {
        break-inside                : avoid;
        -webkit-column-break-inside : avoid;
    }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    .box {
        margin : 1em 0 0;

        img, .caption, iframe
        //, embed, object, video
        {
            margin  : 0 1em 1em $TABLET_H_SPACE;
        }
    }
}

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .box {
        img, .caption, iframe
        //, embed, object, video
        {
            margin  : 0 1em 1em $PHABLET_H_SPACE;
        }
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .box > p:first-of-type {
        margin-top : math.div(-$PHONE-LINE-HEIGHT-EM + 1em, 4);
    }
    .box {
        img, .caption, iframe
        //, embed, object, video
        {
            margin  : 0 1em 1em $PHONE_H_SPACE;
        }
    }
}

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    .box {
        img, .caption, iframe
        //, embed, object, video
        {
            float  : none;
            margin : 0 auto 1em;
        }
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .box > p:first-of-type {
        margin-top : math.div(-$WATCH-LINE-HEIGHT-EM + 1em, 4);
    }
}

/*  patch for Safari 3.2.3
--------------------------------------------------------------------------------------*/
@if( $UA_Modern ){
    @media screen and (min-width:0\-) { // Safari ~4.1
        .box > p:first-of-type {
            margin-top : auto;
        }        
    }
}