/*
 * http://webcommu.net/phone-table-scroll/
 */
.hscroll {
    @if( $IS_NOT_IE ){
        overflow      : auto;
    }
    @if( $UA_Modern ){
        // https://www.cloudconsul.jp/webkit-overflow-scrolling-touch
        //   「-webkit-overflow-scrolling: touch;」を使い、スマホでtableの理想的な横スクロールを実現する
        -webkit-overflow-scrolling : touch;
    }

    overflow-x    : auto;
    overflow-y    : hidden;
    @if( $UA_IE5 or $UA_IE55 ){
        width         : 100%;
    }
    margin        : 1em 0;

    li &, dl &, tr &, .note & {
        margin-top : 0;
    }
}

@if( $UA_Modern ){
    .hscroll::-webkit-scrollbar {
        height : 5px;
    }
    .hscroll::-webkit-scrollbar-track {
        background : #F1F1F1;
    }
    .hscroll::-webkit-scrollbar-thumb {
        background : #BCBCBC;
    }
}

    .hscroll table {
        margin-bottom : 0.5em;
        @if( $UA_IE5 or $UA_IE55 ){
            /* table-layout : auto; */
        }
    }
    .hscroll pre {
        margin      : 0 0 0.5em;
        white-space : pre;
        overflow    : auto;
    }
    @if( $UA_IE5 ){
        .hscroll pre code,
        .hscroll pre samp { width : auto; }
    }

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .hscroll {
        -webkit-column-span : all;
           -moz-column-span : all;
                column-span : all;
    }
        .hscroll > *, .hscroll table {
            margin : 2em auto;
        }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    .hscroll table {
        white-space  : nowrap;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .hscroll {
        @if( $IS_NOT_IE ){
            overflow   : visible;
        }
        overflow-x : visible;
        overflow-y : visible;
    }
        .hscroll table {
            width       : 100%;
            margin      : 0;
            white-space : normal;
        }
        .hscroll pre {
            margin      : 0;
            @include pre-wrap;
        }
}