/* //_{+it
--------------------------------------------------------------------------------------*/
kbd {
    /* //_{#can-inline-block */
    /* //_{@modern */
    display        : -moz-inline-box;
    display        : inline-table;
    /* //_}@modern */
    display        : inline-block;
    /* //_}#can-inline-block */
    border-width   : 1px;
    border-color   : $COLOR_Default_text;
    cursor         : pointer;
    letter-spacing : -1;
    padding        : 0 .4em;
    margin         : 0 .1em;

    /* //_{@modern */
     -webkit-border-radius : 3px;
        -moz-border-radius : 3px;
          -o-border-radius : 3px;
    /* //_}@modern */
    /* //_{@ie9,@modern */
             border-radius : 3px;
    /* //_}@ie9,@modern */
    /* //_{#can-hover-pseudo-class */
        &:hover {
            position : relative; /* ie7:table 下でスクロールする際に relative 指定があると描画が乱れるので :hover に移す */
            top      : -0.1em;
        }
    /* //_}#can-hover-pseudo-class */
}

code, var {
    background : $COLOR_Default_casual_fill;
    padding    : .1em .4em;
    margin     : 0 .1em;

    pre & {
        background : none !important;
        padding    : 0;
        margin     : 0;
    }

    blockquote &, tbody th &, blockquote .tl tr & {
        background : $COLOR_Default_casual_text;
        color      : $COLOR_Default_fill;
    }
    thead &, blockquote tbody th &, .tl tr & {
        background : $COLOR_Default_casual_fill;
        color      : $COLOR_Default_text;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    kbd {
        border-color : $COLOR_Watch_text;
    }
    code, var {
        background : $COLOR_Watch_casual_fill;

        pre & {
            background : none;
        }

        blockquote &, tbody th &, blockquote .tl tr & {
            background : $COLOR_Watch_casual_text;
            color      : $COLOR_Watch_fill;
        }
        thead &, blockquote tbody th &, .tl tr & {
            background : $COLOR_Watch_casual_fill;
            color      : $COLOR_Watch_text;
        }
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    kbd {
        border-color : $COLOR_Print_text;
    }
    code, var {
        background   : none !important;
        border-width : 1px;
        border-color : $COLOR_Print_casual_fill;

        blockquote &, tbody th &, thead & {
            border-color : $COLOR_Print_casual_text;
        }
        blockquote &, tbody th &, blockquote .tl tr &,
        thead &, blockquote tbody th &, .tl tr & {
            color : $COLOR_Print_text;
        }
    }
    pre code {
        border : 0;
    }
}
/* //_}+it */