/*  links
--------------------------------------------------------------------------------------*/
.links {
    @include pre-wrap;
    @include hMargin(1, 1em, 1em);
}

    .links a {
        padding-left : 1em;
        @include lineHeight(1.2, 1);

        @include inline-block;
        
        @if( $CANUSE_PSEUDO_BLOCK ){
            position : relative;
        }

        @if( $UA_IE7 or $UA_IE6 or $UA_IE55 ){
            display : block;
            zoom    : 1;
        }
        @if( $UA_IE5 ){
            display : block;
            height  : 1em;
        }
    }
    
    @if( $CANUSE_CSS_GENERATED_CONTENT ){
        .links [href]:before {
            content     : ">";
            @if( $CANUSE_PSEUDO_BLOCK ){
                position    : relative;
                left        : -0.5em;
                width       : 1em;
                height      : 1.4em; /* for iOS8 */
                line-height : 1.4; /* for iOS8 */
                text-align  : center;
            }
            font-weight : bold;
        }
        /* //_{^@ie8 */
        .links [href^="/"]:not([href^="//"]):before {
            content     : "+";
        }
        /* //_}^@ie8 */
        .links [href*="web.archive."]:before {
            content     : "*";
        }
    }