/* [ArticleFooter Item] Pager
 *
 * .Pager
 *   span.Pager-next | span.Pager-top | span.Pager-prev
 *     a
 *       i
--------------------------------------------------------------------------------------*/
/*  ◀ | ▶
--------------------------------------------------------------------------------------*/
@if( $Option_blog ){
    .Pager {
        @include article-footer-item;

        position    : relative;
        color       : $COLOR_Default_fill; /* , を消す */
        height      : 4em;

        @include highContrast {
            text-align : center;
            height     : auto;
            padding    : 1em 0;
        }
    }
        .Pager-next { left  :   0; }
        .Pager-top  { left  : 34%; text-align : center; }
        .Pager-prev { right :   0; text-align : right; }

            .Pager span {
                position      : absolute;
                top           : 1em;
                display       : block;
                width         : 32%;
                /* http://tacamy.hatenablog.com/entry/2014/02/19/141948 */
                /* overflow      : hidden; */
                /* white-space   : nowrap; */
                /* text-overflow : ellipsis; */
                line-height   : 1.2;

                @include highContrast {
                    position : static;
                    display  : inline;
                    @if( $UA_IE55 or $UA_IE5  ){
                        width    : auto;
                    }
                }
            }
                .Pager a { /* この指定が無いとフォーカス時の塗りが汚い */
                    @if( $UA_IE7 or $UA_IE6 or $UA_IE55 ){
                        zoom : 1;
                    }
                    @if( $UA_IE5 ){
                        width : 100%; /* <- ?? height : $BASE_LINE_HEIGHT_EM; */
                    }
                }
                @if( $IS_LTE_WIN_IE6 == false ){
                    .Pager i { /* i を絶対配置にすると、Opera mini で表示されない */
                        @include inline-block;
                        @if( $IS_LEGACY ){
                            vertical-align : text-top;
                        }
                        @if( $IS_LTE_WIN_IE7 ){
                            height         : 0;
                            width          : 0;
                        }
                        @if( $IS_LTE_WIN_IE6 ){
                            line-height    : 0; /* ie6 以下では font-size ベースのレイアウトが出来ないかも */
                        }

                        @if( $IS_LTE_WIN_IE7 ){
                            position       : relative;
                            @if( $UA_IE7 ){
                                zoom       : 1;
                            }
                            @if( $UA_IE7 or $UA_IE6 ){
                                top        : -.5em;
                            }
                            @if( $UA_IE55 or $UA_IE5  ){
                                top        : .5em;
                            }
                        }

                        @if( $CANUSE_BORDER_TRANSPARENT ){
                            border-color : transparent $COLOR_Default_casual_text;
                        } @else {
                            border-color : $COLOR_Default_fill $COLOR_Default_casual_text;
                        }

                        @include highContrastForIE10ToEdge {
                            border-top-color    : transparent;
                            border-bottom-color : transparent;
                        }
                        @include highContrast {
                            display : none;
                        }
                    }
                    .Pager-next i {
                        border-width : 0.5em 0.7em 0.5em 0;
                        margin-right : 0.5em;
                    }
                    .Pager-prev i {
                        border-width : 0.5em 0 0.5em 0.7em;
                        margin-left  : 0.5em;
                        @if( $IS_LTE_WIN_IE7 ){
                            left         : 0.5em;
                        }
                    }
                    .Pager a:active i
                    /* //_{#can-focus-pseudo-class */
                    , .Pager :focus i
                    /* //_}#can-focus-pseudo-class */
                    {
                        @if( $CANUSE_BORDER_TRANSPARENT ){
                            border-color : transparent #fff;
                        } @else {
                            border-color : $COLOR_ACCENT #fff;
                        }
                    }

                    .Pager-top i {
                        border-width : 0 0.45em 0.9em;
                        margin-right : 0.5em;

                        @if( $CANUSE_BORDER_TRANSPARENT ){
                            border-color : $COLOR_Default_casual_text transparent;
                        } @else {
                            border-color : $COLOR_Default_casual_text $COLOR_Default_fill;
                        }
                        @include highContrastForIE10ToEdge {
                            border-color : inherit transparent;
                        }
                    }
                    .Pager-top a:active i
                    /* //_{#can-focus-pseudo-class */
                    , .Pager-top :focus i
                    /* //_}#can-focus-pseudo-class */
                    {
                        @if( $CANUSE_BORDER_TRANSPARENT ){
                            border-color : #fff transparent;
                        } @else {
                            border-color : #fff $COLOR_ACCENT;
                        }
                    }
                }

    /*  Phone
    --------------------------------------------------------------------------------------*/
    @include media(phone) {
        .Pager-next i, .Pager-top i {
            margin-right : .2em;
        }
        .Pager-prev i {
            margin-left : .2em;
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        .Pager {
            color : $COLOR_Watch_fill; /* , を消す */
        }
        .Pager i {
            border-color : transparent $COLOR_Watch_casual_text;
        }
        .Pager-top i {
            border-color : $COLOR_Watch_casual_text transparent;
        }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        .Pager {
            display : none;
        }
    }
}