/* =====================================================================================
 * //_{+SocialBtns
 */

/* [ArticleFooter Item] SocialBtns
 *
 * .SocialBtns
 *   a
--------------------------------------------------------------------------------------*/
.SocialBtns {
    @include article-footer-item;

    padding : 1em 0 0.5em;
    /* //_{#ie7-win */
    padding : 1em 0;
    /* //_}#ie7-win */
    color   : $COLOR_Default_fill; /* , を消す */

    a {
        @extend %btnBase;
        margin : 0 0 0.5em;
    }

    .tw {
        @include createButton( #1B95E0, #1B95E0, $COLOR_Default_fill, 1 );
    }
    .fb {
        @include createButton( #3B5999, #3B5999, $COLOR_Default_fill, 1 );
    }
    .hb {
        @include createButton( #008FDE, #008FDE, $COLOR_Default_fill, 1 );
    }
    .pt {
        @include createButton( #BD081C, #BD081C, $COLOR_Default_fill, 1 );
    }
    .pk {
        @include createButton( #EE4056, #EE4056, $COLOR_Default_fill, 1 );
    }
    .ln {
        @include createButton( #00C300, #00C300, $COLOR_Default_fill, 1 );
    }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    .SocialBtns {
        text-align : center;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    .SocialBtns {
        color      : $COLOR_Watch_fill; /* , を消す */
    }
    .SocialBtns :visited {
        background : $COLOR_Watch_fill;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .SocialBtns {
        display : none;
    }
}
/* //_}+SocialBtns */
