[submodule "what-browser-am-i"]
	path = .submodules/what-browser-am-i
	url = https://github.com/itozyun/what-browser-am-i.git
[submodule "es2-base64"]
	path = .submodules/es2-base64
	url = https://github.com/ECMAScript2/es2-base64.git
[submodule ".submodules/es2-code-prettify"]
	path = .submodules/es2-code-prettify
	url = https://github.com/ECMAScript2/es2-code-prettify.git
