[submodule "what-browser-am-i"]
	path = .submodules/what-browser-am-i
	url = https://github.com/itozyun/what-browser-am-i.git
[submodule "regexp-free-js-base64"]
	path = .submodules/regexp-free-js-base64
	url = https://github.com/itozyun/regexp-free-js-base64
