/* [module] ArticleFooter
 *  出現位置は #lB .lMh 下で固定
 *
 * .AFoot
 *    articleFooterItem
--------------------------------------------------------------------------------------*/
.AFoot {
    border-width  : 1px 0 0;
    border-style  : solid;
    margin        : 4em 0 0;
}

@mixin article-footer-item {
    border-width  : 0 0 1px;
    border-style  : solid;
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .AFoot {
        margin : 1em 0;
    }
}