/* [module] ArticleFooter
 *  出現位置は #lB .lMf 下で固定
 *
 * .AFoot
--------------------------------------------------------------------------------------*/
.AFoot {
    margin        : 4em 0;
	border-width  : 1px 0 0;
	border-style  : solid;
}