/* [module] ArticleHeader
 *  出現位置は #lE .lMi 下で固定
 *
 *  div.AHead
 *    h1 | h2
 *    div
 *    +ArticleLabels
 *    +SocialButtons
--------------------------------------------------------------------------------------*/
	.AHead {
		color  : $COLOR_FtM_casual_text;
	}

/* //_{+from-h2-at-post */
	.AHead h2 {
		@include h2-main-content;

		color      : $COLOR_FtM_text;
		text-align : left;
	}
/* //_}+from-h2-at-post */

/* //_{^+from-h2-at-post */
	.AHead h1 {
		@include h1-main-content;

		color      : $COLOR_FtM_text;
		text-align : left;
	}
/* //_}^+from-h2-at-post */

/* //_{#can-mq */
/* //_<bottom10 */
/*  Full HD
--------------------------------------------------------------------------------------*/
@media only screen and (min-width: 96em) {
	/* //_{+from-h2-at-post */
		.AHead h2 { text-align : center; }
	/* //_}+from-h2-at-post */

	/* //_{^+from-h2-at-post */
		.AHead h1 { text-align : center; }
	/* //_}^+from-h2-at-post */
}
/* //_>bottom10 */
/* //_}#can-mq */

/* //_<bottom20 */
/*  Tablet
--------------------------------------------------------------------------------------*/
@media print, handheld, only screen and (max-width: 950px) {
	/* //_{+from-h2-at-post */
		.AHead h2 { text-align : center; }
	/* //_}+from-h2-at-post */

	/* //_{^+from-h2-at-post */
		.AHead h1 { text-align : center; }
	/* //_}^+from-h2-at-post */
}
/* //_>bottom20 */

/* //_<bottom25 */
/*  PHABLET
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 740px) {
	/* //_{+from-h2-at-post */
	.AHead h2 {
		letter-spacing : 0;
	}
	/* //_}+from-h2-at-post */

	/* //_{^+from-h2-at-post */
	.AHead h1 {
		letter-spacing : 0;
	}
	/* //_}^+from-h2-at-post */
}
/* //_>bottom25 */

/* //_{#can-mq */
/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	.AHead {
		text-align : center;
	}

	/* //_{+from-h2-at-post */
	.AHead h2 {
		font-size     : 1.5em;
	}
	/* //_}+from-h2-at-post */

	/* //_{^+from-h2-at-post */
	.AHead h1 {
		font-size     : 1.5em;
	}
	/* //_}^+from-h2-at-post */
}
/* //_>bottom30 */
/* //_}#can-mq */

/* //_<bottom50 */
/*  Print
--------------------------------------------------------------------------------------*/
@media print {
	.AHead {
		color  : $COLOR_PRT_text;
	}
/* //_{+from-h2-at-post */
	.AHead h2 {
		color  : $COLOR_PRT_text;
	}
/* //_}+from-h2-at-post */

/* //_{^+from-h2-at-post */
	.AHead h1 {
		color  : $COLOR_PRT_text;
	}
/* //_}^+from-h2-at-post */
	.AHead-cita:after {
		content   : " ("attr(href)") ";
		font-size : 0.875em;
		color     : $COLOR_PRT_link;
	}
}
/* //_>bottom50 */


/* =====================================================================================
 * //_{+ArticleLabels
 *
 * .AHead-labels
 *   a
--------------------------------------------------------------------------------------*/
.AHead-labels {
	margin-top : 0.5em;
	color      : $COLOR_FtM_fill; /* , を消す */
}

		.AHead-labels a {
			@include noUnderLineAlways;

			/* //_{^#ie7-win */
			display     : inline-block;
			/* //_}^#ie7-win */
			height      : 2em;
			line-height : 2;
			padding     : 0 1em;
			margin      : 0 0 0.5em;

			background : $COLOR_FtM_casual_fill;
			color      : $COLOR_FtM_link;
		}

		.AHead-labels a:visited {
			background : $COLOR_FtM_casual_fill;
			color      : $COLOR_FtM_text;
		}
		.AHead-labels a:hover {
			background : $COLOR_FtM_flip_fill;
			color      : $COLOR_FtM_flip_text;
		}

/* //_{#can-mq */
/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	.AHead-labels {
		line-height : 0;
	}
		.AHead-labels a {
			display     : block;
			text-align  : center;
			margin      : 0.5em 0;
		}
}
/* //_>bottom30 */
/* //_}#can-mq */

/* //_<bottom50 */
/*  Print
--------------------------------------------------------------------------------------*/
@media print {
	.AHead-labels {
		color : $COLOR_PRT_text;
	}
		.AHead-labels a, .AHead-labels a:visited {
			padding    : 0;
			background : none;
		}
		.AHead-labels a:link {
			color : $COLOR_PRT_link;
		}
		.AHead-labels a:visited {
			color : $COLOR_PRT_visited;
		}
}
/* //_>bottom50 */
/* //_}+ArticleLabels */
