/* [module] ArticleHeader
 *  出現位置は #lE .lMi 下で固定
 *
 *  div.AHead
 *    h1 | h2
 *    div
 *    +ArticleLabels
--------------------------------------------------------------------------------------*/
    .AHead {
        color  : $COLOR_FtM_casual_text;
    }

/* //_{+from-h2-at-post */
    .AHead h2 {
        @include h2-main-content;

        color      : $COLOR_FtM_text;
        text-align : left;
    }
/* //_}+from-h2-at-post */

/* //_{^+from-h2-at-post */
    .AHead h1 {
        @include h1-main-content;

        color      : $COLOR_FtM_text;
        text-align : left;
    }
/* //_}^+from-h2-at-post */

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    /* //_{+from-h2-at-post */
        .AHead h2 { text-align : center; }
    /* //_}+from-h2-at-post */

    /* //_{^+from-h2-at-post */
        .AHead h1 { text-align : center; }
    /* //_}^+from-h2-at-post */
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tabet_print) {
    /* //_{+from-h2-at-post */
        .AHead h2 { text-align : center; }
    /* //_}+from-h2-at-post */

    /* //_{^+from-h2-at-post */
        .AHead h1 { text-align : center; }
    /* //_}^+from-h2-at-post */
}

/*  PHABLET
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    /* //_{+from-h2-at-post */
    .AHead h2 {
        letter-spacing : 0;
    }
    /* //_}+from-h2-at-post */

    /* //_{^+from-h2-at-post */
    .AHead h1 {
        letter-spacing : 0;
    }
    /* //_}^+from-h2-at-post */
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .AHead {
        text-align : center;
    }

    /* //_{+from-h2-at-post */
    .AHead h2 {
        text-align : center;
        font-size  : 1.5em;
    }
    /* //_}+from-h2-at-post */

    /* //_{^+from-h2-at-post */
    .AHead h1 {
        text-align : center;
        font-size  : 1.5em;
    }
    /* //_}^+from-h2-at-post */
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .AHead {
        color  : $COLOR_PRT_text;
    }
/* //_{+from-h2-at-post */
    .AHead h2 {
        color  : $COLOR_PRT_text;
    }
/* //_}+from-h2-at-post */

/* //_{^+from-h2-at-post */
    .AHead h1 {
        color  : $COLOR_PRT_text;
    }
/* //_}^+from-h2-at-post */
}

/* =====================================================================================
 * //_{+ArticleLabels
 *
 * .AHead-labels
 *   i.ico-label
 *   a
--------------------------------------------------------------------------------------*/
.AHead-labels {
    margin-top : 0.5em;
    color      : $COLOR_FtM_fill; /* , を消す */
}
    
    .AHead-labels i {
        display : none;
    }
    .AHead-labels a {
        @include noUnderLineAlways;

        /* //_{^#ie7-win */
        display     : inline-block;
        /* //_}^#ie7-win */
        /* //_{@ie6,@ie7,@ie55 */
        zoom        : 1;
        /* //_}@ie6,@ie7,@ie55 */
        /* //_{@ie5win */
        height      : 2em;
        /* //_}@ie5win */
        line-height : 1.2;
        padding     : 0.5em 1em;
        margin      : 0 0 0.5em;

        background : $COLOR_FtM_casual_fill;
        color      : $COLOR_FtM_link;
    }

    .AHead-labels a:visited {
        background : $COLOR_FtM_casual_fill;
        color      : $COLOR_FtM_text;
    }
    .AHead-labels a:hover {
        background : $COLOR_FtM_flip_fill;
        color      : $COLOR_FtM_flip_text;
    }

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    .AHead-labels {
        line-height : 0;
    }
        .AHead-labels a {
            display     : block;
            text-align  : center;
            margin      : 0.5em;
        }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .AHead-labels {
        margin : 0;
        color  : $COLOR_PRT_text;
    }
        .AHead-labels i {
            display : inline;
        }
        .AHead-labels a, .AHead-labels a:visited {
            padding    : 0;
            margin     : 0;
            background : none;
        }
        .AHead-labels a:link {
            color : $COLOR_PRT_link;
        }
        .AHead-labels a:visited {
            color : $COLOR_PRT_visited;
        }
}
/* //_}+ArticleLabels */