/* [module] ArticleBody
 *  出現位置は #lB .lMi 下で固定
 *
 *  div.ABody
--------------------------------------------------------------------------------------*/
.ABody {
    margin : 3.5em 0 2em;
}

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .ABody {
        -webkit-column-count : 2;
        -webkit-column-gap   : $WSXGA_COLUMN_GAP_EM;
           -moz-column-count : 2;
           -moz-column-gap   : $WSXGA_COLUMN_GAP_EM;
                column-count : 2;
                column-gap   : $WSXGA_COLUMN_GAP_EM;
    }
    .ABody .aBodyRoot > *:first-child {
        margin-top : 0;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .ABody {
        margin : 0;
    }
}