/* [module] ArticleHeader
 *  出現位置は #lE .lMi 下で固定
 *
 *  div.mH
 *    h1 | h2
 *    div
 *    +ArticleLabels
 *    +SocialButtons
--------------------------------------------------------------------------------------*/
	.mH {
		color  : $COLOR_FtM_casual_text;
	}

/* //_{+from-h2-at-post */
	.mH h2 {
		@include h2-main-content;

		color      : $COLOR_FtM_text;
		text-align : left;
	}
/* //_}+from-h2-at-post */

/* //_{+from-h1-at-post */
	.mH h1 {
		@include h1-main-content;

		color      : $COLOR_FtM_text;
		text-align : left;
	}
/* //_}+from-h1-at-post */

/* //_{#can-mq */
/* //_<bottom10 */
/*  Full HD
--------------------------------------------------------------------------------------*/
@media only screen and (min-width: 96em) {
	/* //_{+from-h2-at-post */
		.mH h2 { text-align : center; }
	/* //_}+from-h2-at-post */

	/* //_{+from-h1-at-post */
		.mH h1 { text-align : center; }
	/* //_}+from-h1-at-post */
}
/* //_>bottom10 */
/* //_}#can-mq */

/* //_<bottom20 */
/*  Tablet
--------------------------------------------------------------------------------------*/
@media print, handheld, only screen and (max-width: 950px) {
	/* //_{+from-h2-at-post */
		.mH h2 { text-align : center; }
	/* //_}+from-h2-at-post */

	/* //_{+from-h1-at-post */
		.mH h1 { text-align : center; }
	/* //_}+from-h1-at-post */
}
/* //_>bottom20 */

/* //_{#can-mq */
/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	.mH {
		text-align : center;
	}
}
/* //_>bottom30 */
/* //_}#can-mq */


/* =====================================================================================
 * //_{+ArticleLabels
 *
 * .mHl
 *   a
--------------------------------------------------------------------------------------*/
.mHl {
	margin-top : 0.5em;
	color      : $COLOR_FtM_fill; /* , を消す */
}

		.mHl a {
			@include noUnderLineAlways;

			/* //_{^#ie7-win */
			display     : inline-block;
			/* //_}^#ie7-win */
			height      : 2em;
			line-height : 2;
			padding     : 0 1em;
			margin      : 0.5em 0 1em;

			background : $COLOR_FtM_casual_fill;
			color      : $COLOR_FtM_link;
		}

		.mHl a:visited {
			background : $COLOR_FtM_casual_fill;
			color      : $COLOR_FtM_text;
		}
		.mHl a:hover {
			background : $COLOR_FtM_flip_fill;
			color      : $COLOR_FtM_flip_text;
		}

/* //_{#can-mq */
/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	.mHl {
		line-height : 0;
	}
	.mHl a {
		display     : block;
	    text-align  : center;
		margin      : 0.5em 0;
	}
}
/* //_>bottom30 */

/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
	.mHl a, .mHl a:visited {
		background : $COLOR_WTC_casual_fill;
		color      : $COLOR_WTC_text !important;
	}
	.mHl a:hover {
		background : $COLOR_WTC_flip_fill;
		color      : $COLOR_WTC_flip_text !important;
	}
}
/* //_>bottom40 */
/* //_}#can-mq */

/* //_<bottom50 */
/*  Print
--------------------------------------------------------------------------------------*/
@media print {
	.mHl {
		color : $COLOR_PRT_text;
	}
		.mHl a, .mHl a:visited {
			padding    : 0;
			background : none;
		}
}
/* //_>bottom50 */
/* //_}+ArticleLabels */


/* =====================================================================================
 * //_{+SocialButtons
 * 
 * .mSB
 *   a
--------------------------------------------------------------------------------------*/
.mSB {
	margin-top : 0.5em;
	color      : $COLOR_FtM_fill; /* , を消す */
}

    .mSB a {
        @include noUnderLineAlways;

        display     : inline-block;
		height      : 2em;
		line-height : 2;
        padding     : 0 1em;
        margin      : 0.5em 0 1em 0;
        cursor      : pointer;
    }

#lE {
    .tw {
        background : #1B95E0;
        color      : #1B95E0;
    }
    .fb {
        background : #3B5999;
        color      : #3B5999;
    }
    .gp {
        background : #dd4b39;
        color      : #dd4b39;
    }
    .hb {
        background : #008FDE;
        color      : #008FDE;
    }
    .pt {
        background : #BD081C;
        color      : #BD081C;
    }
    .pk {
        background : #EE4056;
        color      : #EE4056;
    }
    .ln {
        background : #00C300;
        color      : #00C300;
    }

    .mSB a:link {
        color      : #fff;
    }
    .mSB a:visited {
        background : $COLOR_FtM_fill;
    }
    .mSB a:hover {
        background : $COLOR_FtM_fill;
        color      : $COLOR_ACCENT;
    }
    .mSB a:active:hover, .mSB a:focus:hover {
        background : $COLOR_FtM_flip_fill;
        color      : $COLOR_FtM_flip_text;
    }
}

/* //_{#can-mq */
/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	.mSB {
		line-height : 0;
	}
	.mSB a {
		margin      : 0.5em 0;
	}
}
/* //_>bottom30 */
/* //_}#can-mq */

/* //_<bottom50 */
/*  Print
--------------------------------------------------------------------------------------*/
@media print {
	.mSB {
        display : none;
    }
}
/* //_>bottom50 */

/* //_}+SocialButtons */
