/* [module] LinkList
 *  出現位置は [#lB|#lF] [.lMi|.lSi] 下
 *
 *  div.LinkList
 *   div
 *    a
--------------------------------------------------------------------------------------*/
@mixin linkCommon {
    /* //_{#ie6,@ie55
     * ie6 hover 時のテキストのガタツキを修正, ie5.5 で 背景に色がつかない */
        * { zoom : 1; }
    /* //_}#ie6,@ie55 */

    a {
        /* href がない場合 current カラーになる */
        @include fill;
        @include unbreak-inside;
        cursor : pointer;
    }
}

.LinkList {
    @include linkCommon;
    @include stackableModule;
}

    .LinkList a {
        line-height : 1.1;
        display     : block;
        padding     : 1em 0.5em 0.8em;
    }

/*  layout Sub
--------------------------------------------------------------------------------------*/
    /* //_{^+mobileOnly */
    .lS .LinkList {
        text-align : right;
    }
    /* //_}^+mobileOnly */

/*  Tablet
--------------------------------------------------------------------------------------*/
/* //_{^+mobileOnly */
@include media(tablet_print) {
    .lS .LinkList {
        text-align : left;
    }    
}
/* //_}^+mobileOnly */

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .lM2 .LinkList,
    .lS2 .LinkList {
        text-align : right;
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .LinkList {
        text-align : center !important;
    }
        .LinkList a {
            display : inline-block;
        }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .LinkList a {
        padding : 0.5em 0;
    }
}