/* [module] RichLinkList
 *  出現位置は [#lB|#lF] [.lMi|.lSi] 下
 *
 *  div.RichLink
 *    div.RichLink-sep
 *      div
 *        a
 *          img
 *          h3, b
 *          span, p
--------------------------------------------------------------------------------------*/
.RichLink {
	@include stackableModule;
}
	.RichLink-sep {
		@include linkCommon;
		/* //_{^@ie5win */
		line-height : 1.4;
		/* //_}^@ie5win */
	}
	/* //_{@ie5win */
	.RichLink-sep * {
		line-height : 1.4;
	}
	/* //_}@ie5win */
		.RichLink-sep div {
			border-width : 0 0 1px;
			border-style : solid;
		}
		.RichLink-1st {
			border-width : 1px 0;
		}
			.RichLink a {
				@include clearfix;
				@include unbreak-inside;
			}

				.RichLink img {
					float      : left;
					display    : block;
				}

				.RichLink h3 {
					font-size   : 1.1em;
					padding     : 0;
					margin      : 0 0 0.4em;
				}

				.RichLink span, .RichLink b {
					display     : block;
					font-size   : 0.875em;
					font-weight : normal;
				}
				.RichLink p {
					display     : block;
					/* //_{#ie55-,@ie8,@ie9,@modern */
					padding     : 0 0 1em;
					/* //_}#ie55-,@ie8,@ie9,@modern */
					/* //_{@ie6,@ie7 */
					padding     : 0;
					/* //_}@ie6,@ie7 */
					margin      : 0;
				}

	.RichLink span, .RichLink p {
		color      : $COLOR_BdM_text;
	}
	.lS .RichLink span, .lS .RichLink p {
		color      : $COLOR_BdS_text;
	}
	.fillbg .RichLink span, .fillbg .RichLink p {
		color      : $COLOR_FtS_text;
	}
	.fillbg .lM .RichLink span, .fillbg .lM .RichLink p {
		color      : $COLOR_FtM_text;
	}


/*  layout Main
--------------------------------------------------------------------------------------*/
	.lM .RichLink a {
		/* //_{#ie55-,@ie8,@ie9,@modern */
		padding : 1em 0.5em 0;
		/* //_}#ie55-,@ie8,@ie9,@modern */
		/* //_{@ie6,@ie7 */
		padding : 1em 0.5em;
		/* //_}@ie6,@ie7 */
	}
		.lM .RichLink img {
			width      : 4.5em;
			height     : 4.5em;
			margin     : 0 0.8em 0.8em 0;
		}
		.lM .RichLink h3 {
			font-size : 1.5em;
		}
		.lM .RichLink span, .lM .RichLink b {
		    margin    : 0 0 0.7em;	
		}
	
/*  layout Sub
--------------------------------------------------------------------------------------*/
	.lS .RichLink a {
		/* //_{#ie55-,@ie8,@ie9,@modern */
		padding : 0.8em 0.5em 0;
		/* //_}#ie55-,@ie8,@ie9,@modern */
		/* //_{@ie6,@ie7 */
		padding : 0.8em 0.5em;
		/* //_}@ie6,@ie7 */
	}
		.lS .RichLink img {
			float      : right;
			width      : 3.2em;
			height     : 3.2em;
			margin     : 0 0 0.8em 0.5em;
		}

		.lS .RichLink span, .lS .RichLink b {
			/* //_{#ie55-,@ie8,@ie9,@modern */
			padding : 0 0 0.914em; /* 0.8em/0.875; */
			/* //_}#ie55-,@ie8,@ie9,@modern */
			/* //_{@ie6,@ie7 */
			padding : 0;
			/* //_}@ie6,@ie7 */
		}

/* //_{#can-mq */
/*  Full HD
--------------------------------------------------------------------------------------*/
/* //_<bottom10 */
@media only screen and (min-width: 96em) {
	.lMf .RichLink-sep {
		display      : table;
		table-layout : fixed;
		margin       : 1em 0;
	}
	.lMf .RichLink-sep div {
		display        : table-cell;
		vertical-align : top;
		border-width   : 0;
		width          : 33.3%;
	}
		/* .lMf .RichLink a {
			padding-left  : $WSXGA_COLUMN_GAP_EM / 2;
			padding-right : $WSXGA_COLUMN_GAP_EM / 2;
		}

		.lMf .RichLink-sep div:first-of-type a {
			padding-left  : 0;
		}
		.lMf .RichLink-sep div:last-of-type a {
			padding-right : 0;
		} */
			.lM .RichLink span {
				font-size : 1em;
			}
}
/* //_>bottom10 */
/* //_}#can-mq */

/* //_<bottom20 */
/*  Tablet
--------------------------------------------------------------------------------------*/
@media print, handheld, only screen and (max-width: 950px) {
.lS .RichLink a {
	padding : 0.5em 0.5em 0;
}
	.lS .RichLink span, .lS .RichLink b {
		padding : 0 0 0.57em; /* 0.5em / 0.875; */
	}
	.lS .RichLink img {
		float        : left;
		margin       : 0 0.5em 0.5em 0;
		width        : 2.6em;
		height       : 2.6em;			
	}
	.RichLink b {
		font-size   : 1em;
	}
}
/* //_>bottom20 */


/* //_{#can-mq */

/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	.lM .RichLink a {
		padding-left  : 1%;
		padding-right : 1%;
	}
	
	.lS .RichLink span {
		font-size : 1em;
	}
}
/* //_>bottom30 */

/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
	.lM .RichLink-sep div {
		line-height : 1.4;
	}
		.lM .RichLink a {
			padding-left  : 0;
			padding-right : 0;
		}

	.RichLink-sep { @include linkCommon_watch; }

		.RichLink span, .RichLink p {
			color      : $COLOR_WTC_text;
		}
}
/* //_>bottom40 */

/* //_}#can-mq */

