/* [module] SearchBox
 *  出現位置は #lH .lSi 下で固定
 *
 *  form.mS
 *    input[type=text]
 *    input[type=submit].btn
--------------------------------------------------------------------------------------*/
.mS {
	position   : relative;
    display    : block;
    height     : $BASE_LINE_HEIGHT_EM;
    margin     : 0;
    padding    : 0 3em 0 0.5em;
}
	.mS input {
		padding     : 0;
	    border      : 0;
	    margin      : 0;
	    display     : block;
	}
	.mSt {
	    width       : 100%;
	    height      : 1em * ( $BASE_LINE_HEIGHT - 0.05 ); /* 少し小さく */
		line-height : ( $BASE_LINE_HEIGHT - 0.05 );
	}
	.mSt:focus {
		color       : darken( $COLOR_ACCENT, 30% );
	}
	.mS .btn {
	    width       : 3em;
	    height      : $BASE_LINE_HEIGHT_EM;
	    position    : absolute;
	    top         : 0;
	    right       : 0;
	}

/* //_{+coloredHeader */
.mS, .mSt {
	background : $COLOR_HdS_casual_fill;
}
/* //_}+coloredHeader */
/* //_{^+coloredHeader */
.mS, .mSt {
	background : $COLOR_BdS_casual_fill;
}
/* //_}^+coloredHeader */

/* //_{#ie7-win */
.mS * {
	zoom : 1;
}
/* //_}#ie7-win */

/* //_{#can-mq */
/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
	/* //_{^+coloredHeader */
	.mS {
		background : $COLOR_WTC_casual_fill;
	}
	/* //_}^+coloredHeader */
}
/* //_>bottom40 */
/* //_}#can-mq */