/* [module] Subscribe
 *  出現位置は #lF .lSi 下で固定
 *
 * .Subscribe
 *   div
 *     a
--------------------------------------------------------------------------------------*/
.Subscribe {
	@include stackableModule;
}

	.Subscribe div {
		margin : 1em 1em 0;
		color  : $COLOR_FtS_fill; /* , を消す */
	}
        .Subscribe div {
            text-align : right;
            margin     : 0.6em 0.5em 0;
        }

        .Subscribe a {
            @include noUnderLineAlways;

			/* //_{^#ie7-win */
            display     : inline-block;
            /* //_}^#ie7-win */
            height       : 2em;
            line-height  : 2;
            padding      : 0 1em;
            border-width : 1px;
            border-style : solid;
            margin       : 0 0 0.5em;
            cursor       : pointer;
        }

.Subscribe div {
    .atom {
        background   : #DD6502;
        border-color : #DD6502;
        color        : #DD6502;
    }
    .rss {
        background   : #DD8902;
        border-color : #DD8902;
        color        : #DD8902;
    }
    /*.ldr {
        background   : #FF6565;
        border-color : #FF6565;
        color        : #FF6565;
    } */
    /* .nv {
        background : #0EBB00;
        border-color : #DD6502;
        color      : #0EBB00;
    } */
    .fl {
        background   : #53BB45;
        border-color : #53BB45;
        color        : #53BB45;
    }
    .stm {
        background   : #8BC53F;
        border-color : #8BC53F;
        color        : #8BC53F;
    }
    /* .bl {
        background : #008ACE;
        color      : #008ACE;
    }
    .fs {
        background : #333;
        color      : #333;
    }
    .bb {
        background : #008ACE;
        color      : #008ACE;
    } */
}
    .Subscribe div a:link {
        background : $COLOR_FtS_fill;
    }
    .Subscribe div a:visited {
        color      : #fff;
    }
    .Subscribe div a:hover {
        border-color : $COLOR_FtS_fill !important;
        background   : $COLOR_ACCENT;
        color        : #fff !important;
    }
    .Subscribe div a:active, .Subscribe div a:focus {
        border-color : $COLOR_FtS_text;
    }

/* //_{#can-mq */

/* //_<bottom21 */
/*  Tablet
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 950px) {
    .Subscribe div {
        text-align : left;
    }
}
/* //_>bottom21 */

/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	.Subscribe {
        line-height : 0;
    }
    .Subscribe div {
        text-align : center;
    }
	.Subscribe a {
		margin : 0.5em 0;
	}
}
/* //_>bottom30 */
/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
	.Subscribe div {
        margin : 0.6em 0 0;
		color  : $COLOR_WTC_fill; /* , を消す */
	}
}
/* //_>bottom40 */
/* //_}#can-mq */
