$MEDIAQUERY_TABLET_MAX_PX : 950;

$MEDIAQUERY_PHABLET_MAX_PX : 740;

$COMMENT_OUT_AT_MEDIA : (
/* //_{+mobileOnly */
    'WQXGA'                : 0,
    'WSXGA'                : 0,
    'WSXGA_landscapePrint' : if($UA_Modern, 1, 0),
    'pc'                   : 0,
    'tablet_print'         : 2,
    'tablet'               : 2,
    'phablet'              : if($CANUSE_CSS_MEDIA_QUERY or $UA_Opera8, 1, 0),
    'phone'                : if($CANUSE_CSS_MEDIA_QUERY or $UA_Opera8, 1, 0),
    'smallphone'           : if($CANUSE_CSS_MEDIA_QUERY or $UA_Opera8, 1, 0),
    'watch'                : if($CANUSE_CSS_MEDIA_QUERY or $UA_Opera8, 1, 0),
    'dark_theme'           : if($CANUSE_CSS_MEDIA_QUERY or $UA_Opera8, 1, 0),
/* //_}+mobileOnly */
/* //_{^+mobileOnly */
    'WQXGA'                : if($UA_Modern, 1, 0),
    'WSXGA'                : if($UA_Modern, 1, 0),
    'WSXGA_landscapePrint' : if($UA_Modern, 1, 0),
    'pc'                   : if($CANUSE_CSS_MEDIA_QUERY, 1, 0),
    'tablet_print'         : 1,
    'tablet'               : if($CANUSE_CSS_MEDIA_QUERY or $UA_Opera8, 1, 0),
    'phablet'              : if($CANUSE_CSS_MEDIA_QUERY or $UA_Opera8, 1, 0),
    'phone'                : if($CANUSE_CSS_MEDIA_QUERY or $UA_Opera8, 1, 0),
    'smallphone'           : if($CANUSE_CSS_MEDIA_QUERY or $UA_Opera8, 1, 0),
    'watch'                : if($CANUSE_CSS_MEDIA_QUERY or $UA_Opera8, 1, 0),
    'dark_theme'           : if($CANUSE_CSS_MEDIA_QUERY or $UA_Opera8, 1, 0),
/* //_}^+mobileOnly */
    'screen'               : 1,
    'print'                : 1,
    'landscapePrint'       : if($UA_Modern, 1, 0),

    'forced_colors_native'             : if($UA_Modern, 1, 0),
    'forced_colors_fallback'           : if($UA_Modern or $IS_WIN_IE or $UA_Gck130-190, 1, 0),
    'forced_colors_native_or_fallback' : if($UA_Modern or $IS_WIN_IE or $UA_Gck130-190, 1, 0)
) !default;

@mixin media($media) {
    @if map-get($COMMENT_OUT_AT_MEDIA, $media) == 2 {
        @content;
    }
    @else if map-get($COMMENT_OUT_AT_MEDIA, $media) == 1 {
        @if $media == 'pc' {
            @media
                /* //_{@modern */
                only
                /* //_}@modern */
                screen and (min-width: #{1em * math.div($MEDIAQUERY_TABLET_MAX_PX + 1, $FONTSIZE_UPPER_TABLET)})
                { @content; }
        }
        @else if $media == 'WSXGA' {
            @media only screen and (min-width: 96em){
                @content;
            }
        }
        @else if $media == 'WQXGA' {
            @media only screen and (min-width: 126em){
                @content;
            }
        }
        @else if $media == 'WSXGA_landscapePrint' {
            @if( $Option_mobileOnly ){
                @media only print and (orientation: landscape){
                    @content;
                }
            } @else {
                @media only screen and (min-width: 96em), print and (orientation: landscape){
                    @content;
                }
            }
        }
        @else if $media == 'tablet_print' {
            @if( $UA_IE9 ){
                @media print, screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px){ @content; }
            }@else if( $UA_Opera9 ){
                @media print, handheld, screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px){ @content; }
            }@else if( $CANUSE_CSS_MEDIA_QUERY ){
                @media print, handheld, tv, only screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px){ @content; }
            }@else if( $UA_Opera8 ){
                @media print, handheld{ @content; }
            }@else {
                @media print{ @content; }
            }
        }
        @else if $media == 'tablet' {
            @if( $UA_IE9 ){
                @media screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px){ @content; }
            }@else if( $UA_Opera9 ){
                @media handheld, screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px){ @content; }
            }@else if( $CANUSE_CSS_MEDIA_QUERY ){
                @media handheld, tv, only screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px){ @content; }
            }@else if( $UA_Opera8 ){
                @media handheld{ @content; }
            }
        }
        @else if $media == 'phablet' {
            @if( $UA_IE9 ){
                @media screen and (max-width: #{$MEDIAQUERY_PHABLET_MAX_PX}px){ @content; }
            }@else if( $UA_Opera9 ){
                @media handheld, screen and (max-width: #{$MEDIAQUERY_PHABLET_MAX_PX}px){ @content; }
            }@else if( $CANUSE_CSS_MEDIA_QUERY ){
                @media handheld, tv, only screen and (max-width: #{$MEDIAQUERY_PHABLET_MAX_PX}px){ @content; }
            }@else if( $UA_Opera8 ){
                @media handheld{ @content; }
            }
        }
        @else if $media == 'phone' {
            @if( $UA_IE9 ){
                @media screen and (max-width: 479px){ @content; }
            }@else if( $UA_Opera9 ){
                @media handheld, screen and (max-width: 479px){ @content; }
            }@else if( $CANUSE_CSS_MEDIA_QUERY ){
                @media handheld, tv, only screen and (max-width: 479px){ @content; }
            }@else if( $UA_Opera8 ){
                @media handheld{ @content; }
            }
        }
        @else if $media == 'smallphone' {
            @if( $UA_IE9 ){
                @media screen and (max-width: $SMALL_PHONE_MAX_WIDTH){ @content; }
            }@else if( $UA_Opera9 ){
                @media handheld, screen and (max-width: $SMALL_PHONE_MAX_WIDTH){ @content; }
            }@else if( $CANUSE_CSS_MEDIA_QUERY ){
                @media handheld, tv, only screen and (max-width: $SMALL_PHONE_MAX_WIDTH){ @content; }
            }@else if( $UA_Opera8 ){
                @media handheld{ @content; }
            }
        }
        @else if $media == 'watch' {
            @if( $UA_IE9 ){
                @media screen and (max-width: 240px){ @content; }
            }@else if( $UA_Opera9 ){
                @media handheld, screen and (max-width: 240px){ @content; }
            }@else if( $CANUSE_CSS_MEDIA_QUERY ){
                @media handheld, only screen and (max-width: 240px){ @content; }
            }@else if( $UA_Opera8 ){
                @media handheld{ @content; }
            }
        }
        @else if $media == 'dark_theme' {
            @if $DARK_THEME_ALLWAYS {
                @content;
            } @else {
                @if( $UA_IE9 ){
                    @media screen and (max-width: 240px){ @content; }
                }@else if( $UA_Opera9 ){
                    @media handheld, screen and (max-width: 240px){ @content; }
                }@else if( $CANUSE_CSS_MEDIA_QUERY ){
                    @media handheld, only screen and (prefers-color-scheme:dark), only screen and (max-width: 240px){ @content; }
                }@else if( $UA_Opera8 ){
                    @media handheld{ @content; }
                }
            }
        }
        @else if $media == 'screen' { // @media print で上書きを失くすために screen で設定する
            @if( $UA_Modern ){
                @media screen,handheld,projection,tv{ @content; }
            } @else if( $UA_Opera9 or $UA_Opera8 ){
                @media screen,handheld,projection{ @content; } // handheld は small screen モードに, projection は full screen モードに必要
            } @else {
                @media screen{ @content; }
            }
        }
        @else if $media == 'print' {
            @media print {
                @content;
            }
        }
        @else if $media == 'landscapePrint' {
            @media only print and (orientation: landscape){
                @content;
            }
        }
        @else if $media == 'forced_colors_native' { // IE10+, EdgeHTML, Edge 79+, Chrome 89+, Firefox 89+
            @media only screen and (forced-colors:active),
                   only screen and (-ms-high-contrast:active){
                @content;
            }
        }
        @else if $media == 'forced_colors_fallback' { // IE5~9, Firefox
            @if( $UA_Modern or $IS_WIN_IE or $UA_Gck130-190 ){
                @media only dynamic-css and (-ms-high-contrast:active){
                    @content;
                }
            }
        }
        @else if $media == 'forced_colors_native_or_fallback' { // IE10+, EdgeHTML, Edge 79+, Chrome 89+, Firefox 89+  // IE5~9, Firefox
            @if( $UA_Modern ){
                @media only screen and (forced-colors:active),
                       only screen and (-ms-high-contrast:active){
                    @content;
                }
            }
            @if( $UA_Modern or $IS_WIN_IE or $UA_Gck130-190 ){
                @media only dynamic-css and (-ms-high-contrast:active){
                    @content;
                }
            }
        }
    }
    @else if map-get($COMMENT_OUT_AT_MEDIA, $media) != 0 {
        body {
            color : red !important;
        }
        body:before {
            content : "@media() : error-arg! #{$media}";
        }
    }
}
