/**
https://caniuse.com/?search=page-break
https://developer.mozilla.org/ja/docs/Web/CSS/break-after
 */
@mixin unbreak-column-inside {
    @if( $UA_Modern ){
        -webkit-column-break-inside : avoid;
        break-inside                : avoid-column;
    }
}

@mixin unbreak-page-inside {
    @include media(print){
        @if( $UA_Modern ){
            break-inside : avoid-page;
        }
        @if( $UA_Modern or $IS_OLD_OPERA or $IS_IE8_OR_9 ){
            page-break-inside : avoid;
        }
    }
}

@mixin unbreak-inside {
    @include media(WSXGA_landscapePrint) {
        @include unbreak-column-inside;
    }
    @include unbreak-page-inside;
}

@mixin unbreak-column-after {
    @if( $UA_Modern ){
        -webkit-column-break-after : avoid;
        break-after                : avoid-column;
    }
}

@mixin unbreak-page-after {
    @include media(print){
        @if( $UA_Modern ){
            break-after : avoid-page;
        }
        @if( $UA_Modern or $IS_OLD_OPERA or $IS_IE8_OR_9 ){
            page-break-after : avoid;
        }
    }
}

@mixin unbreak-after {
    @include media(WSXGA_landscapePrint) {
        @include unbreak-column-after;
    }
    @include unbreak-page-after;
}

@mixin unbreak-box-with-long-text { // block レベル要素
    @if( $UA_MacIE5 == false and $IS_OLD_GECKO == false and $IS_OLD_OPERA == false ){
        word-break : break-all; /* IE 5+ */
    }
}

@mixin unbreak-box-by-long-text { // inline レベル要素
    @if( $UA_IE55 or $UA_IE6 or $UA_IE7 or $UA_IE8 or $UA_IE9 or $UA_Modern ){
        word-wrap : break-word; /* IE 5.5+, Firefox3.5, Safari 1, Opera 10.5 */
    }
    @if( $UA_Modern ){
    //    overflow-wrap : anywhere;
    }
}

@mixin unbreak-word {
    @if( $UA_MacIE5 == false and $IS_OLD_GECKO == false and $IS_OLD_OPERA == false ){
        word-break : normal;
    }
    @if( $UA_Modern or $UA_IE9 or $UA_IE8 or $UA_IE7 or $UA_IE6 or $UA_IE55 ){
        word-wrap  : normal;
    }
}