
@mixin avoid-column-break-inside {
    @if( $UA_Modern ){
        -webkit-column-break-inside : avoid;
        break-inside                : avoid-column;
    }
}

@mixin avoid-page-break-inside {
    @include media(print){
        @if( $UA_Modern ){
            break-inside : avoid-page;
        }
        @if( $UA_Modern or $IS_OLD_OPERA or $IS_IE8_OR_9 ){
            page-break-inside : avoid;
        }
    }
}

@mixin unbreak-inside {
    @include media(WSXGA_landscapePrint) {
        @include avoid-column-break-inside;
    }
    @include avoid-page-break-inside;
}

@mixin avoid-column-break-after {
    @if( $UA_Modern ){
        -webkit-column-break-after : avoid;
        break-after                : avoid-column;
    }
}

@mixin avoid-page-break-after {
    @include media(print){
        @if( $UA_Modern ){
            break-after : avoid-page;
        }
        @if( $UA_Modern or $IS_OLD_OPERA or $IS_IE8_OR_9 ){
            page-break-after : avoid;
        }
    }
}

@mixin unbreak-after {
    @include media(WSXGA_landscapePrint) {
        @include avoid-column-break-after;
    }
    @include avoid-page-break-after;
}

@mixin unbreak-pane {
    @if( $UA_MacIE5 == false and $IS_OLD_GECKO == false and $IS_OLD_OPERA == false ){
        word-break  : break-all;     /* IE 5+ */
    }
    @if( $UA_IE55 or $UA_IE6 or $UA_IE7 or $UA_IE8 or $UA_IE9 or $UA_Modern ){
        word-wrap   : break-word;    /* IE 5.5+, Firefox3.5, Safari 1, Opera 10.5 */
    }
}