@mixin box-sizing($value) {
    @if( $CANUSE_CAN_BOX_SIZING ){
        @if( $UA_Modern or $IS_OLD_GECKO ){
            -moz-box-sizing : $value; /* firefox 4 でもこちら */
        }
        @if( $UA_Modern ){
            -webkit-box-sizing : $value;
        }
        @if( $IS_OLD_GECKO == false ){
            box-sizing : $value;
        }
    }
}