@mixin responsive-horizontal-padding($ratio, $paddingTop, $paddingBottom){
    & {
        padding : $paddingTop math.div(1em, $ratio) $paddingBottom;
    }

    @include media(tablet_print) {
        & {
            padding : $paddingTop $TABLET_HORIZONTAL_MARGIN $paddingBottom;
        }
    }

    @include media(phablet) {
        & {
            padding : $paddingTop $PHABLET_HORIZONTAL_MARGIN $paddingBottom;
        }
    }

    @include media(phone) {
        & {
            padding : $paddingTop $PHONE_HORIZONTAL_MARGIN $paddingBottom;
        }
    }

    @include media(watch) {
        & {
            padding : $paddingTop 2px $paddingBottom;
        }
    }   
}