@mixin column-count($column-count) {
    -webkit-column-count : $column-count;
       -moz-column-count : $column-count;
            column-count : $column-count;
}

@mixin column-span-all($child-column-count:1) {
    @include supports(column-span){
        -moz-column-span : all;
             column-span : all;
        @if($child-column-count != 1){
            -moz-column-count : $child-column-count;
                 column-count : $child-column-count;
        }
    }
    @include supports(-webkit-column-span){
        -webkit-column-span : all;
        @if($child-column-count != 1){
            -webkit-column-count : $child-column-count;
        }
    }
}

@mixin column-span-none() {
    @include supports(column-span){
         -moz-column-span : none;
              column-span : none;
        -moz-column-count : 1;
             column-count : 1;
    }
    @include supports(-webkit-column-span){
         -webkit-column-span : none;
        -webkit-column-count : 1;
    }
}
