@mixin button-colors( $link, $visited, $fill ){
    &:link {
        background   : $link;
        border-color : $link;
        color        : $fill;
    }
    &:visited {
        background   : $fill;
        border-color : $visited;
        color        : $visited;
    }

    @if( $IS_IE8_OR_9 or $UA_IE7 or $UA_IE6 or $IS_NOT_IE ){
        /* ie5 では dotted なボーダーの抜き部分に背景色が塗られない */
        @if( $CANUSE_ACTIVE_PSEUDO_CLASS ){
            &:link:active, &:visited:active { border-color : $fill; }
        }
        @if( $CANUSE_FOCUS_PSEUDO_CLASS ){
            &:link:focus, &:visited:focus { border-color : $fill; }
        }
    }
}

%ButtonBase {
    @include inline-block;
    border-width : $INPUT_BORDER_WIDTH;
    cursor       : pointer;
    text-align   : center;
    @if( $IS_LEGACY ){
        line-height : $PARAGRAPH_LINE_HEIGHT;
        padding     : 0 1em;
    }
    @if( $IS_LEGACY == false ){
        line-height : 1;
        padding     : math.div($PARAGRAPH_LINE_HEIGHT_EM - 1em, 2) 1em;
    }
    @if( $UA_Modern or $UA_IE9 ){
        vertical-align : top; /* ie9-11 で 日本語を含むボタンと、英字のみで高さが揃わない。 */
    }

    @if( $UA_IE7 or $UA_IE6 ){
        zoom : 1;
    }

    @if( $UA_IE55 or $UA_IE5 or $IS_LEGACY ){
        height : #{$PARAGRAPH_LINE_HEIGHT_EM + $INPUT_BORDER_WIDTH * 2};
    }

    /* input.btn に対して適用, a:link, a:visited には上書きされる */
    @if( $IS_LTE_WIN_IE7 ){
        // IE7 以下にはデザインが適用されない
        &:active {
            @if( $UA_IE5 or $UA_IE55 ){
                border-color : $COLOR_ACCENT;
            }
            color        : $COLOR_ACCENT;
            border-style : dotted;
            outline      : 0;
        }
    } @else {
        & {
            @include active-focus-pseudo-class {
                border-color : $COLOR_ACCENT;
                color        : $COLOR_ACCENT;
                border-style : dotted;
                outline      : 0;
            }
        }
    }
}