/*  :link > img
--------------------------------------------------------------------------------------*/
%InteractiveObject {
    a & {
        border-color : $COLOR_Light_fill;
        border-width : #{$BORDER_WIDTH_OF_LINK_WITH_IMAGE}px;
    }
    :link &, :visited & {
        blockquote & {
            border-color : $COLOR_Light_casual_fill;
        }

        @if( $TEXT_COLOR_CANT_CHANGE_FOCUSING == false ){
            .ribbon & {
                border-color : $COLOR_Ribbon_fill;
            }
        }
    }

    @if( $CANUSE_ACTIVE_PSEUDO_CLASS ){
        a:active & { border-color : $COLOR_ACCENT !important; }
    }
    @if( $CANUSE_FOCUS_PSEUDO_CLASS ){
        a:focus & { border-color : $COLOR_ACCENT !important; }
    }

    @if( $UA_Gck-097 == false and $UA_Gck101-121 == false ){ /* 下ではチラツキが激しい */
        @if( $LIMITED_HOVER_PSEUDO_CLASS ){
            :hover & {
                position : relative;
                top      : 2px;
            }
        } @else {
            :link:hover &, :visited:hover & {
                position : relative;
                top      : 2px;
            }
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        a & {
            border-color : transparent; // filter: brightness(85%); の影響を避ける
            blockquote & {
                border-color : transparent;
            }
        }
    }
    
    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include media(forced_colors_native_or_fallback){
        @if( $CANUSE_ACTIVE_PSEUDO_CLASS ){
            a:active & { border-style : dotted; }
        }
        @if( $CANUSE_FOCUS_PSEUDO_CLASS ){
            a:focus & { border-style : dotted; }
        }
    }
}
