/*  :link img
--------------------------------------------------------------------------------------*/
%InteractiveObject {
    a & {
        border-color : $COLOR_Light_fill;
        @include media(screen){ // 印刷には border は無しで縦横4px大きく
            border-width : #{$COMMON_BORDER_WIDTH_OF_LINK_WITH_IMAGE}px;
        }
    }
    :link &, :visited & {
        blockquote & {
            border-color : $COLOR_Light_casual_fill;
        }

        @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false and $Option_useRibbon ){
            .#{$Prefix}ribbon & {
                border-color : $COLOR_Ribbon_fill;
            }
        }
    }

    @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
        a:active & { border-color : $COLOR_ACCENT !important; }
    }
    @if( $CANUSE_FOCUS_PSEUDO_CLASS or ($FOCUS_PSEUDO_CLASS_ONLY_LINK and $ACTIVE_ON_LINK_BEHAVES_FOCUS == false) ){
        a:focus & { border-color : $COLOR_ACCENT !important; }
    }

    @if( $IS_LTE_GECKO09 == false and $UA_Gecko12 == false ){ /* 下ではチラツキが激しい */
        @if( $HOVER_PSEUDO_CLASS_ONLY_LINK ){
            :hover & {
                position : relative;
                top      : 2px;
            }
        } @else if( $CANUSE_HOVER_PSEUDO_CLASS ){
            :link:hover &, :visited:hover & {
                position : relative;
                top      : 2px;
            }
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        :link &, :visited & { // <- こちらで無いと上書きできない a & {
            border-color : transparent; // filter: brightness(85%); の影響を避ける
            blockquote & {
                border-color : transparent;
            }
        }
    }
    
    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include media(forced_colors_native_or_fallback){
        @if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
            a:active & { border-style : dotted; }
        }
        @if( $CANUSE_FOCUS_PSEUDO_CLASS or ($FOCUS_PSEUDO_CLASS_ONLY_LINK and $ACTIVE_ON_LINK_BEHAVES_FOCUS == false) ){
            a:focus & { border-style : dotted; }
        }
    }
}
