@use "../01_var/color" as color;

@mixin link-colors-on-dark-background($visited_color : color.$Dark_visited) {
    :link {
        color : color.$Dark_link;
    }
    :visited {
        color : $visited_color;
    }
    :link:hover {
        color        : color.$Dark_hover;
        border-color : color.$Dark_hover;
    }
    :visited:hover {
        color        : color.$Dark_visited_hover;
        border-color : color.$Dark_visited_hover;
    }
}
