%LinkListItemBase {
    @if( $UA_IE6 or $UA_IE55 ){
        /* ie6 hover 時のテキストのガタツキを修正, ie5.5 で 背景に色がつかない */
        * { zoom : 1; }
    }
    a {
        @include unbreak-page-inside;
        display         : block;
        cursor          : pointer;
        text-decoration : none !important;

        @if( $UA_Modern ){ // https://twitter.com/itozyun/status/1499739713884016642
            overflow : hidden;   // Opera 9.6-
            height   : auto;     // Opera 9.6-
            &:focus ::selection { // Opera 9.5+
                background-color : transparent;
            }
        }
    }
    @if( $CANUSE_NEGATIVE_PSEUDO_CLASS == false or $UA_Opera9 ){
        a {
            background : $COLOR_Light_text;
            color      : $COLOR_Light_fill;
        }
        :link {
            @if( $UA_Opera70 ){
                background : $COLOR_Light_fill;
            } @else {
                background : transparent;
            }
            color : $COLOR_Light_link;
        }
        a:visited {
            @if( $UA_Opera70 ){
                background : $COLOR_Light_fill;
            } @else {
                background : transparent;
            }
            color : $COLOR_Light_text;
        }
    } @else {
        a:not([href]) {
            /* href がない場合 current を示す塗りになる */
            background : $COLOR_Light_text;
            color      : $COLOR_Light_fill;
        }
        :visited {
            // color : $COLOR_Light_text;
        }
    }

    @include media(screen){
        @if( $HOVER_PSEUDO_CLASS_ONLY_LINK ){
            :hover {
                background : $COLOR_Light_casual_fill;
                color      : $COLOR_Light_text;
            }
        } @else if( $CANUSE_HOVER_PSEUDO_CLASS ){
            :link:hover, :visited:hover {
                background : $COLOR_Light_casual_fill;
                color      : $COLOR_Light_text;
            }
        }
    }

    /*  ribbon
    --------------------------------------------------------------------------------------*/
    @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false ){
        @if( $CANUSE_NEGATIVE_PSEUDO_CLASS == false ){
            .ribbon a {
                background : $COLOR_Ribbon_text;
                color      : $COLOR_Ribbon_fill;
            }
            .ribbon & :link {
                @if( $UA_Opera70 ){
                    background : $COLOR_Ribbon_fill;
                } @else {
                    background : transparent;
                }
                color : $COLOR_Ribbon_link;
            }
            .ribbon & :visited {
                @if( $UA_Opera70 ){
                    background : $COLOR_Ribbon_fill;
                } @else {
                    background : transparent;
                }
                color : $COLOR_Ribbon_text;
            }
        } @else {
            .ribbon & a:not([href]) {
                /* href がない場合 current を示す塗りになる */
                background : $COLOR_Ribbon_text;
                color      : $COLOR_Ribbon_fill;
            }
            .ribbon & :visited {
                // color : $COLOR_Ribbon_text;
            }
        }

        @if( $HOVER_PSEUDO_CLASS_ONLY_LINK ){
            .ribbon & :hover {
                background : $COLOR_Ribbon_casual_fill;
                color      : $COLOR_Ribbon_text;
            }
        } @else if( $CANUSE_HOVER_PSEUDO_CLASS ){
            .ribbon & :link:hover, .ribbon & :visited:hover {
                background : $COLOR_Ribbon_casual_fill;
                color      : $COLOR_Ribbon_text;
            }
        }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        @if( $CANUSE_NEGATIVE_PSEUDO_CLASS == false ){
            :link {
                color : $COLOR_Print_link;
            }
            :visited {
                color : $COLOR_Print_text;
            }
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        /* href がない場合 current カラーになる */
        @if( $UA_Opera9 ){ // :not が存在する @media はタイプとクエリを無視して全てのスタイルが適用される
            & a {
                background : $COLOR_Dark_casual_text;
                color      : $COLOR_Dark_fill;
            }
            & :link {
                background : transparent;
                color      : $COLOR_Dark_link;
            }
            & :visited {
                background : transparent;
                color      : $COLOR_Dark_text;
            }
        } @else {
            & a:not([href]) {
                background : $COLOR_Dark_casual_text;
                color      : $COLOR_Dark_fill;
            }
        }
        & :link:hover, & :visited:hover {
            background : $COLOR_Dark_casual_fill;
            color      : $COLOR_Dark_text;
        }
    }

    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include media(forced_colors_native_or_fallback){
        @if( $HOVER_PSEUDO_CLASS_ONLY_LINK ){
            :hover {
                text-decoration : underline !important;
            }
        } @else if( $CANUSE_HOVER_PSEUDO_CLASS ){
            :link:hover, :visited:hover {
                text-decoration : underline !important;
            }
        }
    }
}