/*  ▶
--------------------------------------------------------------------------------------*/
%MoreIcon {
    & i {
        border-width : 0.5em 0 0.5em 0.7em;
        position     : relative;
    
        @if( $IS_IE8_OR_9 or $UA_IE7 or $UA_IE6 or $IS_NOT_IE ){
            top          : 0.15em;
        }

        @if( $CANUSE_DISPLAY_INLINE_BLOCK ){
            @include inline-block;
            margin-left  : .5em;
        }

        @if( $UA_IE7 ){
            zoom         : 1;
        }
        @if( $IS_LTE_WIN_IE7 ){
            left         : .5em;
            height       : 0;
            width        : 0;
        }

        @if( $UA_IE55 or $UA_IE5 ){
            top          : 0.5em;
            line-height  : 0;
        }  
    }

    & :link i {
        @if( $CANUSE_BORDER_TRANSPARENT ){
            border-color : transparent $COLOR_Light_fill;
        } @else {
            border-color : $COLOR_Light_link $COLOR_Light_fill;
        }
    }
    & :visited i {
        @if( $CANUSE_BORDER_TRANSPARENT ){
            border-color : transparent $COLOR_Light_text;
        } @else {
            border-color : $COLOR_Light_fill $COLOR_Light_text;
        }
    }
    @if( $CANUSE_ACTIVE_PSEUDO_CLASS ){
        & :link:active i, & :visited:active i {
            @if( $CANUSE_BORDER_TRANSPARENT ){
                border-color : transparent $COLOR_Light_fill;
            } @else {
                border-color : $COLOR_ACCENT $COLOR_Light_fill;
            }
        }
    }
    @if( $CANUSE_FOCUS_PSEUDO_CLASS ){
        & :link:focus i, & :visited:focus i {
            @if( $CANUSE_BORDER_TRANSPARENT ){
                border-color : transparent $COLOR_Light_fill;
            } @else {
                border-color : $COLOR_ACCENT $COLOR_Light_fill;
            }
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        & :link i {
            border-color : transparent $COLOR_Dark_fill;
        }
        & :visited i {
            border-color : transparent $COLOR_Dark_text;
        }
    }

    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include media(forced_colors_native){
        & i {
            border-top-color    : Window;
            border-bottom-color : Window;
        }
    }
    @include media(forced_colors_fallback) {
        /* //_{^@ie9 */
        & i {
            display : none;
        }
        .jsCanRotate
        /* //_}^@ie9 */
        & i {
            border-width : 0 .15em .15em 0;
            @if( $UA_IE9 == false and $CANUSE_DISPLAY_INLINE_BLOCK ){
                display : inline-block;
            }
            @if( $CANUSE_DISPLAY_INLINE_BLOCK == false ){
                display : inline;
            }
            @if( $UA_Modern ){
                width         : .45em;
                height        : .45em;
                transform     : rotate(-45deg);
                top           : 0;
            }
            @if( $UA_IE9 ){
                width         : .45em;
                height        : .45em;
                -ms-transform : rotate(-45deg);
                top           : 0;
            }
            @if( $UA_IE8 or $UA_IE7 or $UA_IE6 or $UA_IE55 ){
                width  : .35em;
                height : .35em;
                @if( $UA_IE8 ){
                    top : -.3em;
                } @else {
                    top : 0;
                }
                filter : progid:DXImageTransform.Microsoft.Matrix(M11=1,M22=1,M12=1,M21=-1,sizingMethod="auto expand");
            }
        }
    }
}