@use "sass:math";

@use "../01_var/options" as opt;
@use "../01_var/size" as size;

@use "./mq" as *;

@mixin responsive-horizontal-padding($ratio, $paddingTop, $paddingBottom, $skipPrintMedia : false){
    @if opt.$MobileOnly == false {
        & {
            padding : $paddingTop math.div(1em, $ratio) $paddingBottom;
        }
    }

    @if $skipPrintMedia {
        @include mq(tablet) {
            & {
                padding : $paddingTop math.div(size.$TABLET_HORIZONTAL_MARGIN, $ratio) $paddingBottom;
            }
        }
    } @else {
        @include mq(tablet_print) {
            & {
                padding : $paddingTop math.div(size.$TABLET_HORIZONTAL_MARGIN, $ratio) $paddingBottom;
            }
        }
    }

    @include mq(phablet) {
        & {
            padding : $paddingTop math.div(size.$PHABLET_HORIZONTAL_MARGIN, $ratio) $paddingBottom;
        }
    }

    @include mq(phone) {
        & {
            padding : $paddingTop math.div(size.$PHONE_HORIZONTAL_MARGIN, $ratio) $paddingBottom;
        }
    }

    @include mq(watch) {
        & {
            padding : $paddingTop 2px $paddingBottom;
        }
    }   
}