@mixin web-font-face($WEBFONT_NAME, $WEBFONT_PATH, $WEBFONT_ID, $WEBFONT_TEST_ID_AND_CLASSNAME){
    @if( $MAYBE_CAN_USE_WEBFONT ){
        @font-face {
            font-family : #{$WEBFONT_NAME};
            font-weight : normal;
            font-style  : normal;
            src         : url('#{$WEBFONT_PATH}.eot?rw1juc');
            @if( $UA_Modern ){
                src:url('#{$WEBFONT_PATH}.eot?rw1juc#iefix') format('#{$WEBFONT_FORMAT_EOT}'),
                    url('#{$WEBFONT_PATH}.woff2?rw1juc') format('#{$WEBFONT_FORMAT_WOFF2}'),
                    url('#{$WEBFONT_PATH}.woff?rw1juc') format('#{$WEBFONT_FORMAT_WOFF}'),
                    url('#{$WEBFONT_PATH}.ttf?rw1juc') format('#{$WEBFONT_FORMAT_TTF}'),
                    // url('#{$WEBFONT_PATH}.otf?rw1juc') format('#{$WEBFONT_FORMAT_OTF}'),
                    url('#{$WEBFONT_PATH}.svg?rw1juc##{$WEBFONT_ID}') format('#{$WEBFONT_FORMAT_SVG}');
            }
        }

        @if( $UA_Modern or $UA_IE9 ){
            .#{$WEBFONT_TEST_ID_AND_CLASSNAME} {
                @include check-css-ready;
            }
        }
    }
}

/**
 * TODO Chrome 1, Safari 3.x は合字が高性能な SVG フォントのみを利用する
 * TODO Chrome 2~14 は SVG フォントだけが、英字のみ(?)の合字をサポートする
 *   参考: https://outcloud.blogspot.com/2023/10/webfont.html#ligature
 */
@mixin web-font($WEBFONT_NAME, $ALT_FONTFAMILY : "serif !important") {
    @if( $MAYBE_CAN_USE_WEBFONT ){
        font-family : #{$WEBFONT_NAME + if($ALT_FONTFAMILY, ', ' + $ALT_FONTFAMILY, '')};
        
        @if( $UA_Modern ){
            // https://caniuse.com/?search=text-rendering
            //   > From version 3 to 4.3, there is a serious bug where text-rendering: optimizeLegibility
            //   > causes custom web fonts to not render. This was fixed in version 4.4.
            //
            // [webFontTest] .offsetWidth による計測は正しく働いて、描画がされない模様(itozyun)
            text-rendering : auto !important;

            /* Enable Ligatures ================ */
            -webkit-font-feature-settings : "liga";
               -moz-font-feature-settings : "liga=1";
               -moz-font-feature-settings : "liga";
                -ms-font-feature-settings : "liga" 1;
                 -o-font-feature-settings : "liga";
                    font-feature-settings : "liga";
            /*
            -webkit-font-variant-ligatures : discretionary-ligatures;
                    font-variant-ligatures : discretionary-ligatures; */
        }
    }
}
