@charset "utf-8";

/*  global
--------------------------------------------------------------------------------------*/
    @if( $UA_Opera72 ){
        h2, h3, h4, h5, h6,
        div, p, blockquote, pre,
        a, b, hr, img, code, var, kbd,
        table, th, td {
            border-style : solid;
            border-width : 0;
        }
    } @else {
        * {
            border-style : solid;
            border-width : 0;
        }
    }

/*  ダイナミックタイプ対応
 *  https://ics.media/entry/210604/
--------------------------------------------------------------------------------------*/
    /* iOS と iPadOS だけに適用する
        (font: -apple-system-body) の条件だと macOS Safari も適用されてしまうため、
        (-webkit-touch-callout: none) で絞っている */
    @if( $UA_Modern ){
        @supports (-webkit-touch-callout:none) and (font:-apple-system-body) {
            :root {
                font : -apple-system-body;
            }
        }
    }

/*  html & body
--------------------------------------------------------------------------------------*/
    html {
        @if( $Option_mobileOnly == false and $UA_IE6 ){
            overflow-x : hidden;
        }
    }

    @if( $Option_baseFontSize18 and $UA_Modern ){
        @media only screen and (min-width : #{($MEDIAQUERY_PHABLET_MAX_PX + 1)}px) { /* メディアクエリに対応し、phablet より大きい画面で 18px に */
            body { font-size : math.div($FONTSIZE_UPPER_TABLET, $FONTSIZE_DEFAULT) * 1em }
        }
    }

    body {
        @extend %UDFontFamily;
    }

    @if( $UA_IE5 ){
        * {
            line-height : $BASE_LINE_HEIGHT;
        }
    } @else {
        body {
            line-height : $BASE_LINE_HEIGHT;
        }
    }

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    body {
        font-size : 0.8125em;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    body {
        font-size : 0.75em;
    }
}