/*  line-height for <p>
--------------------------------------------------------------------------------------*/
p {
    line-height : $PARAGRAPH_LINE_HEIGHT;
    @if( $UA_IE5 ){
        * {
            vertical-align : text-top;
            line-height    : 1;
        }
    }
}

tr, li, dd {
    p {
        line-height : $BASE_LINE_HEIGHT;
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    p {
        line-height : $PARAGRAPH_LINE_HEIGHT_PHONE;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    p {
        line-height : $PARAGRAPH_LINE_HEIGHT_WATCH;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    p {
        line-height : $PARAGRAPH_LINE_HEIGHT_PRINT;/* for paper saving */
    }
}