/* a タグの下線
--------------------------------------------------------------------------------------*/
/* 記事の外では 下線なし -> hover -> 下線あり */
:link, :visited { text-decoration : none; }

@if( $HOVER_PSEUDO_CLASS_ONLY_LINK ){
    :hover { text-decoration : underline; }
} @else if( $CANUSE_HOVER_PSEUDO_CLASS ){
    :link:hover, :visited:hover { text-decoration : underline; }
}

@if( $ACTIVE_ON_LINK_BEHAVES_FOCUS ){
    a:active { text-decoration : none; }
    a:active:hover { text-decoration : underline; }
} @else if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
    a:active { text-decoration : underline; }
}
@if( $CANUSE_FOCUS_PSEUDO_CLASS or ($FOCUS_PSEUDO_CLASS_ONLY_LINK and $ACTIVE_ON_LINK_BEHAVES_FOCUS == false) ){
    a:focus { text-decoration : none; }
    a:focus:hover { text-decoration : underline; }
}

/*  transition
--------------------------------------------------------------------------------------*/
@if( $UA_Modern ){
    :link, :visited {
        background-color : transparent;
    }
    :link, :link *,
    :visited, :visited * {
        @include animate-colors;
    }
}

/* a タグの色
--------------------------------------------------------------------------------------*/
a {
    color        : $COLOR_Light_casual_text;
    border-color : $COLOR_Light_fill;
}
:link          {
    color        : $COLOR_Light_link;
}
:visited       {
    color        : $COLOR_Light_text;
}
@if( $HOVER_PSEUDO_CLASS_ONLY_LINK or $CANUSE_HOVER_PSEUDO_CLASS ){
    :link:hover    {
        color        : $COLOR_Light_hover;
        border-color : $COLOR_Light_hover;
    }
    :visited:hover {
        color        : $COLOR_Light_visited_hover;
        border-color : $COLOR_Light_visited_hover;
    }
}

@if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false ){
    .ribbon {
        a              {
            color        : $COLOR_Ribbon_casual_text;
            border-color : $COLOR_Ribbon_fill;
        }
        :link          {
            color        : $COLOR_Ribbon_link;
        }
        :visited       {
            color        : $COLOR_Ribbon_text;
        }
        @if( $HOVER_PSEUDO_CLASS_ONLY_LINK or $CANUSE_HOVER_PSEUDO_CLASS ){
            :link:hover    {
                color        : $COLOR_Ribbon_hover;
                border-color : $COLOR_Ribbon_hover;
            }
            :visited:hover {
                color        : $COLOR_Ribbon_visited_hover;
                border-color : $COLOR_Ribbon_visited_hover;
            }
        }
    }
}

/* :active, :focus 時の配色は同じ
--------------------------------------------------------------------------------------*/
@if( $FOCUSED_COLOR_FIXED_AT_SYSTEM_COLOR ){
    a:active {
        background-color : $COLOR_ACCENT !important;
        color            : #fff        !important;
        & * { color : #fff !important; }
    }
    a:focus {
        background-color : Highlight !important;
        & * { color : HighlightText !important; }
        .ribbon & {
            outline  : HighlightText solid $FORCED_COLORS_FOCUS_BORDER_WIDTH; // Highlight 色が暗いので ,ribbon の中では白いアウトラインをつける
        }
    }
} @else if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS ){
    a:focus {
        background-color : $COLOR_Sidebar_fill !important;
    }
} @else {
    @if( $UA_IE5 ){
        :link, :visited {
            height : 1%; // hasLayout を有効にしないと背景色のない要素が不規則に発生する
        }
    }
    a {
        @include active-focus-pseudo-class {
            background-color : $COLOR_ACCENT !important;
            color            : #fff        !important;
    
            & * {
                color : #fff !important;
            }
        }
    }
}

/* :target
--------------------------------------------------------------------------------------*/
@if( $CANUSE_TARGET_PSEUDO_CLASS ){
    :target, :target * {
        background   : $COLOR_ACCENT !important;
        color        : #fff  !important;
        border-color : #fff  !important;
    }
}


/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    a {
        color        : $COLOR_Dark_casual_text;
        border-color : $COLOR_Dark_fill;
    }
    :link          {
        color        : $COLOR_Dark_link;
        
    }
    :visited       {
        color        : $COLOR_Dark_text;
    }
    :link:hover    {
        color        : $COLOR_Dark_hover;
        border-color : $COLOR_Dark_hover;
    }
    :visited:hover {
        color        : $COLOR_Dark_visited_hover;
        border-color : $COLOR_Dark_visited_hover;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    a        { color : $COLOR_Print_casual_text; }
    :link    { color : $COLOR_Print_link; }
    :visited { color : $COLOR_Print_visited; }

    @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false ){
        .ribbon a        { color : $COLOR_Print_casual_text; }
        .ribbon :link    { color : $COLOR_Print_link; }
        .ribbon :visited { color : $COLOR_Print_visited; }
    }
}
