/*  Typography
--------------------------------------------------------------------------------------*/

/*  Heading
--------------------------------------------------------------------------------------*/
    h1, .h1, h2, h3, h4, h5, h6 {
        @include unbreak-inside;
        @include unbreak-after;
    }

    h1, h2, h3, h5, h6 {
        font-weight : normal;
    }

    h4, h5, h6 {
        @include responsive-horizontal-margin(2, 1.5em, 0.8em);
    }
    h4 {
        font-size    : 1em;
        border-width : 0 0 0 0.7em;
        border-color : $COLOR_Light_text;
        padding      : 0 0 0 0.3em;
    }
    h5 {
        font-size    : 1em;
        border-width : 0 0 0 0.5em;
        border-color : $COLOR_Light_casual_text;
        padding      : 0 0 0 0.5em;
    }
    h6 {
        font-size    : 1em;
        border-width : 0 0 0 0.3em;
        border-color : $COLOR_Light_casual_text;
        color        : $COLOR_Light_casual_text;
        padding      : 0 0 0 0.7em;
    }

/*  Inline Level Elements
--------------------------------------------------------------------------------------*/
    strong, em {
        font-style : normal;
    }

    %HelpContent {
        border-bottom   : 1px dotted;
        text-decoration : none;
        cursor          : help;
    }
    dfn, acronym { @extend %HelpContent; }

    @if( $CANUSE_ATTRIBUTE_SELECTOR ){
        abbr[title] { @extend %HelpContent; }

        q[title], q[cite] {
            border-bottom : 1px dotted;
        }
    }

/*  Block Level Elements
--------------------------------------------------------------------------------------*/
    pre {
        @include responsive-horizontal-padding(1, 1em, 1em);
        margin : 1em 0;
    }

    p, ul, ol, dl {
        @include responsive-horizontal-margin(1, 1em, 1em);
    }

/*  object
--------------------------------------------------------------------------------------*/
    img { //, embed, object, video
        @extend %InteractiveObject;
        @include unbreak-inside;
    }

    img, iframe
    // , embed, object, video
    {
        @include responsive-horizontal-margin(1, 1em, 1em);
        @if( $CANUSE_MARGIN_AUTO ){
            margin : 1em auto;
        } @else {
            margin : 1em 0;
        }
        a & {
            @if( $UA_IE5 == false ){
                display : block; /* focus 時の塗りを適切にする */
            }
        }
        li &, tr &, dl & {
            margin-top : 0;
        }

        @if( $CANUSE_MAX_AND_MIN_SIZES ){
            @if( $Option_mobileOnly == false ){
                max-width : 100%;
            }

            @include media(tablet_print) {
                & {
                    max-width : #{100% - $TABLET_HORIZONTAL_MARGIN * 2};
                }
            }
            @include media(phablet) {
                & {
                    max-width : #{100% - $PHABLET_HORIZONTAL_MARGIN * 2};
                }
            }
            @include media(phone) {
                & {
                    max-width : #{100% - $PHONE_HORIZONTAL_MARGIN * 2};
                }
            }
            @include media(watch) {
                & {
                    max-width : 100%;
                }
            }
        }
    }

/*  List, dl
    --------------------------------------------------------------------------------------*/
    ul, ol {
        padding-left : 2em;
    }
    li {
        margin-top    : .3em;
        margin-bottom : .3em;
    }
    dt {
        margin-top : #{$PARAGRAPH_LINE_HEIGHT_EM - $BASE_LINE_HEIGHT_EM};
        @include unbreak-after;
    }
    dd {
        margin-bottom : .3em;
    }

    li, dd, dt {
        @include unbreak-inside;
    }

/*  Nesting
--------------------------------------------------------------------------------------*/
    ul, ol {
        li &, dl & {
            padding-left : 1em;
        }
    }

    tr blockquote {
        p, pre {
            @include responsive-horizontal-margin(1, 1em, 1em);
        }
    }

    // (li|dd) > tr > (ol|ul) が来ることは無いので tr が先で tr > (li|dd) > (ol|ul) の場合にスタイルを上書きする
    tr {
        ol, ul {
            margin-top    : 0;
            margin-bottom : 0.5em;
        }
        p, pre, blockquote, dl {
            margin : 0 0 .5em;
        }
        blockquote p {
            margin : .5em 0;
        }
    }

    li, dd {
        ol, ul {
            margin-top    : 0;
            margin-bottom : 0;
        }
        p, pre, blockquote, dl, table {
            margin : 0 0 .5em;
        }
        blockquote p {
            margin : .5em 0;
        }
    }

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    dd {
        margin-left : 1em;
    }
    li {
        margin-top    : .2em;
        margin-bottom : .2em;
    }
    dt {
        margin-top : #{$PARAGRAPH_LINE_HEIGHT_PHONE_EM - $BASE_LINE_HEIGHT_EM};
    }
    dd, li {
        margin-bottom : .2em;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    dd {
        margin-left : 0.5em;
    }
    li {
        margin-top    : .1em;
        margin-bottom : .1em;
    }
    dt {
        margin-top : #{$PARAGRAPH_LINE_HEIGHT_WATCH_EM - $BASE_LINE_HEIGHT_EM};
    }
    dd {
        margin-bottom : .1em;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    h4 {
        border-color : $COLOR_Dark_text;
    }
    h5 {
        border-color : $COLOR_Dark_casual_text;
    }
    h6 {
        border-color : $COLOR_Dark_casual_text;
        color        : $COLOR_Dark_casual_text;
    }

    @if( $UA_Modern ){
        img {
            filter : brightness(85%);
            &:hover, &:focus {
                filter : none;
            }
        }
    }
}

/*  Forced colors
--------------------------------------------------------------------------------------*/
@include media(forced_colors_native_or_ms){
    img {
        filter : none;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    blockquote pre {
        margin : 1em;
    }
}