/* _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
||
|| <a href> のインタラクション
||
||  リンクテキストのインタラクションを整理する
||    https://outcloud.blogspot.com/2016/10/link-interaction.html
||
|_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_ */
@use "../01_var/ua" as ua;
@use "../01_var/canuse" as canuse;
@use "../01_var/quirks" as quirks;
@use "../01_var/options" as opt;
@use "../01_var/color" as color;
@use "../01_var/size" as size;

@use "../02_mixin/active-focus-pseudo-class" as *;
@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/animate-colors" as *;
@use "../02_mixin/text-color" as *;
@use "../02_mixin/border-color" as *;

@use "../03_reset/a";

/* a タグの下線
------------------------------------------------------------------------------------- */
/* 記事の外では 下線なし -> hover -> 下線あり */
:link, :visited { text-decoration : none; }

@if canuse.$LIMITED_HOVER_PSEUDO_CLASS {
    :hover { text-decoration : underline; }
} @else if canuse.$HOVER_PSEUDO_CLASS {
    :link:hover, :visited:hover { text-decoration : underline; }
}

@if quirks.$ACTIVE_ACTS_AS_FOCUS {
    a:active { text-decoration : none; }
    a:active:hover { text-decoration : underline; }
} @else if canuse.$ACTIVE_PSEUDO_CLASS or canuse.$LIMITED_ACTIVE_PSEUDO_CLASS {
    a:active { text-decoration : underline; }
}
@if canuse.$FOCUS_PSEUDO_CLASS or (canuse.$LIMITED_FOCUS_PSEUDO_CLASS and quirks.$ACTIVE_ACTS_AS_FOCUS == false) {
    a:focus { text-decoration : none; }
    a:focus:hover { text-decoration : underline; }
}

/*  transition
------------------------------------------------------------------------------------- */
@if ua.$Modern {
    :link, :visited {
        background-color : transparent;
    }
    :link, :link *,
    :visited, :visited * {
        @include animate-colors;
    }
}

/* a タグの色
------------------------------------------------------------------------------------- */
a {
    @include text-color-responsive(color.$Light_casual_text);
    @if canuse.$TRANSPARENT_BORDER_COLOR {
        border-color : transparent;
    } @else {
        border-color : color.$Light_fill;
    }
}
:link {
    @include text-color-responsive(color.$Light_link);
}
:visited {
    // aBodyRoot 外の :visited 色は通常色とする
    @include text-color-responsive-force(color.$Light_text);
    //                             ^^^^^^^^^^^^^^^^^
}
@if canuse.$LIMITED_HOVER_PSEUDO_CLASS or canuse.$HOVER_PSEUDO_CLASS {
    :link:hover {
        @include text-color-responsive(color.$Light_hover, noprint);
        @include border-color-responsive(color.$Light_hover, noprint);
    }
    :visited:hover {
        @include text-color-responsive(color.$Light_visited_hover, noprint);
        @include border-color-responsive(color.$Light_visited_hover, noprint);
    }
}

@if opt.$UseDarkRibbon {
    .#{opt.$Prefix}ribbon {
        a {
            @include text-color-screen-print(color.$Ribbon_casual_text, color.$Print_casual_text);
            @if canuse.$TRANSPARENT_BORDER_COLOR == false {
                @include border-color-screen-print(color.$Ribbon_fill, color.$Print_fill);
            }
        }
        :link {
            @include text-color-screen-print(color.$Ribbon_link, color.$Print_link);
        }
        :visited {
            @include text-color-screen-print(color.$Ribbon_text, color.$Print_visited);
            // 但し印刷メディアの :visited は訪問済色とする      ^^^^^^^^^^^^^^^^^^^^
        }
        @if canuse.$LIMITED_HOVER_PSEUDO_CLASS or canuse.$HOVER_PSEUDO_CLASS {
            // :hover 系は印刷メディアの指定がない
            :link:hover    {
                color        : color.$Ribbon_hover;
                border-color : color.$Ribbon_hover;
            }
            :visited:hover {
                color        : color.$Ribbon_visited_hover;
                border-color : color.$Ribbon_visited_hover;
            }
        }
    }
}

/* :active, :focus 時の配色は同じ
------------------------------------------------------------------------------------- */
@if quirks.$FOCUS_COLOR_SYSTEM_FIXED {
    a:active {
        background-color : color.$Light_accent !important;
        color            : #fff        !important;
        & * { color : #fff !important; }
    }
    a:focus {
        background-color : Highlight !important;
        & * { color : HighlightText !important; }
        @if opt.$UseRibbon {
            .#{opt.$Prefix}ribbon & {
                outline  : HighlightText solid size.$FORCED_COLORS_FOCUS_BORDER_WIDTH; // Highlight 色が暗いので ,ribbon の中では白いアウトラインをつける
            }
        }
    }
} @else if quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS {
    a:focus {
        background-color : color.$Sidebar_fill !important;
    }
} @else {
    @if ua.$IE5 {
        /* :link, :visited {
            height : 1px; // hasLayout を有効にしないと背景色の塗りが微妙, しかし PicaThumbnail で問題が起きるので諦める
        } */
    }
    a {
        @include active-focus-pseudo-class {
            background-color : color.$Light_accent !important;
            color            : #fff        !important;
    
            & * {
                color : #fff !important;
            }
        }
    }
}
