/* <form>
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;
@use "../01_var/color" as color;

@use "../02_mixin/mq" as *;
@use "../02_mixin/active-focus-pseudo-class" as *;
@use "../02_mixin/text-color" as *;
@use "../02_mixin/border-color" as *;

@use "../03_reset/form";

form * {
    @include active-focus-pseudo-class( false ) {
        @include text-color-responsive(color.$Light_accent, noprint);
        @include border-color-responsive(color.$Light_accent, noprint);
    }

    &:focus {
        @if ua.$Opera7x {
            color : color.$Light_accent;
            @if ua.$Opera70 {
                border-color : color.$Light_accent;
            }
        }
    }
    &:invalid {
        @if ua.$Modern {
            color : color.$WARN;
        }
    }

/*  Forced colors
------------------------------------------------------------------------------------- */
    @include mq(forced_colors_native_or_fallback){
        @include active-focus-pseudo-class {
            border-style : dotted;
        }
    }
}
