@use "../01_var/color" as color;

@use "../02_mixin/mq" as *;
@use "../02_mixin/responsive-horizontal-margin" as *;
@use "../02_mixin/border-color" as *;

@use "./_/HeadingStyle" as *;

h5 {
    @extend %HeadingStyle;
    @include responsive-horizontal-margin(2, 1.5em, 0.8em);
    @include border-color-responsive(color.$Light_casual_text);

    font-weight  : normal;
    font-size    : 1em;
    border-width : 0 0 0 0.5em;
    padding      : 0 0 0 0.5em;
}
