@use "../01_var/ua" as ua;
@use "../01_var/color" as color;

@use "../02_mixin/responsive-horizontal-margin" as *;
@use "../02_mixin/media" as *;

hr {
    border-width : 0 0 1px; /* for high contrast mode */
    @if( ua.$Modern ){
        height       : 1.5px; /* 1.5px <= 1px: for Gecko 45 */
        border-color : transparent;
    }
    @if( ua.$IE9 ){
        height       : 1px;
        border-color : transparent;
    }
    @if( ua.$WinIELte8 or ua.$MacIE5 or ua.$LegacyOperaOrGecko ){
        height       : 0;
        border-color : color.$Light_casual_fill;
        blockquote & {
            border-color : color.$Light_casual_text;
        }       
    }
    @include responsive-horizontal-margin(.5, 2em, 2em);
}

tr hr {
    margin : 1em 9%;
}

/*  Dark theme
------------------------------------------------------------------------------------- */
@include media(dark_theme) {
    hr {
        @if( ua.$WinIELte8 or ua.$MacIE5 or ua.$LegacyOperaOrGecko ){
            border-color : color.$Dark_casual_fill;
            blockquote & {
                border-color : color.$Dark_casual_text;
            }
        }
    }
}
