/*  Table
 *    ie5 は <p> に続く <table> の前に </p> が必要
------------------------------------------------------------------------------------- */
@use "sass:list";

@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/size" as size;
@use "../01_var/canuse" as canuse;
@use "../01_var/common.generated" as common;
@use "../01_var/color" as color;
@use "../01_var/quirks" as quirks;

@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/create-css-generated-block" as *;
@use "../02_mixin/responsive-horizontal-margin" as *;
@use "../02_mixin/unbreak" as *;
@use "../02_mixin/line-height" as *;
@use "../02_mixin/active-focus-pseudo-class" as *;
@use "../02_mixin/text-color" as *;
@use "../02_mixin/border-color" as *;
@use "../02_mixin/background-color" as *;
@use "../02_mixin/_/responsive-color" as *;

@use "../03_reset/table";

@use "./_/nesting" as *;

// この関数は tfoot のセルには使用しない
@mixin _cell-border-width($border-width){
    border-width : $border-width;

    @if canuse.$CSS_GENERATED_BLOCK {
        // 下線の太さを取り出して [colspan] 用に設定する
        @if $border-width != "0 0 1px" {
            &[colspan]:after {
                border-width : $border-width;
            }
        }
    }
}

@function border-bottom-color($color){
    @if list.length($color) < 3 {
        @return list.nth($color, 1);
    }
    @return list.nth($color, 3);
}

// 下線の色を取り出して [colspan] 用に設定する
@mixin _apply-colspan-bottom-color($color){
    &[colspan]:after {
        border-color : border-bottom-color($color);
    }
}

@mixin _cell-border-color-responsive($light-color, $print-color: false) {
    @include border-color-responsive($light-color, $print-color);

    @if canuse.$CSS_GENERATED_BLOCK {
        @include _apply-colspan-bottom-color($light-color);
        @if ua.$Modern {
            @include _apply-colspan-bottom-color(responsive-color-var($light-color));
        }
        @include mq(dark) {
            @if border-bottom-color($light-color) != border-bottom-color(responsive-color-dark($light-color)){
                @include _apply-colspan-bottom-color(responsive-color-dark($light-color));
            }
        }
        @include print {
            @if $print-color != noprint {
                @if $print-color {
                    @if border-bottom-color($light-color) != border-bottom-color($print-color){
                        @include _apply-colspan-bottom-color($print-color);
                    }
                } @else {
                    @if border-bottom-color($light-color) != border-bottom-color(responsive-color-print($light-color)){
                        @include _apply-colspan-bottom-color(responsive-color-print($light-color));
                    }
                }
            }
        }
    }
}

/*  colspan
 *    .tl では colspan を使わない為、上書きは必要なし
 *  screenshot
 *    https://x.com/itozyun/status/1756414646381408399
------------------------------------------------------------------------------------- */
@if canuse.$CSS_GENERATED_BLOCK {
    [colspan] {
        position : relative;

        &:before, &:after {
            @include create-css-generated-block;
            position     : absolute;
            bottom       : -1px;
            left         : .5em;
            right        : .5em;
            height       : 0;
            font-size    : 0.1em;
            line-height  : 0;
            border-width : 0 0 1px;
            border-style : solid;

            tfoot & {
                display : none;
            }
        }
    }
}

/* :target
------------------------------------------------------------------------------------- */
@if canuse.$TARGET_PSEUDO_CLASS {
    :target, :target * {
        @include background-responsive(color.$Light_accent !important);
        color        : #fff !important;
        border-color : #fff !important;
    }
    th:target, td:target {
        border-color : inherit !important;
    }
    :target th, :target td {
        @include border-color-responsive(color.$Light_accent !important);
    }
}

/* sticky
------------------------------------------------------------------------------------- */
@if ua.$Modern {
    @include mq(pc) {
        @supports (position:sticky) or (position:-webkit-sticky) { // For Firefox 124, no effect on Chrome 124
            table {
                position : relative;
            }
            thead,               // for Firefox
            thead td, thead th { // for Chrome
            // https://qiita.com/orangain/items/6268b6528ab33b27f8f2
                position : -webkit-sticky;
                position : sticky;
                top      : 0;
                z-index  : 1;
            }
            thead {
                @include background-responsive(color.$Light_casual_fill, noprint);
                blockquote & {
                    @include background-responsive(color.$Light_casual_text, noprint);
                }
                @include mq(forced_colors_native_or_fallback){
                    td, th {
                        // filter : invert(1);
                    }
                }
            }
        }
    }
}

/*  main
------------------------------------------------------------------------------------- */
/* Need 'cellspacing="0"' in the markup for MacIE5 */
table {
    @include responsive-horizontal-margin(1, 1em, 1em, true);
    @include line-height(1.2, true);
    border-width    : 1px 0 0;
    border-collapse : collapse;
    empty-cells     : show;
    border-spacing  : 0;

    @include mq(tablet) {
        width : 100% - size.$TABLET_HORIZONTAL_MARGIN * 2;
    }
    @include mq(phablet) {
        width : 100% - size.$PHABLET_HORIZONTAL_MARGIN * 2;
    }
    @include mq(phone) {
        width : 100% - size.$PHONE_HORIZONTAL_MARGIN * 2;
    }
    @include mq(watch) {
        width : 100%;
    }
}
    caption {
        @include responsive-horizontal-margin(1, 1.5em, #{size.$PARAGRAPH_LINE_HEIGHT_EM - size.$BASE_LINE_HEIGHT_EM}); // size.$PARAGRAPH_LINE_HEIGHT_WATCH
    }
    thead, caption {
        @include unbreak-after;
    }

    tr {
        @include unbreak-inside;
        @extend %nesting-table-cell;
    }

    th, td {
        @include unbreak-box-with-long-text; /* table がカラムを割るのを防ぐ */
    }
    th {
        @include _cell-border-width(0 0 1px);
        font-weight : normal;
        text-align  : left;
        padding     : 0.5em;
    }
    td {
        padding : 0.5em 0;
    }
    /* thead td {
        padding : 0.5em 0.25em;
    } */
    thead th, thead td {
        padding      : 0.5em 0.5em 0.5em 0.4em;
        border-width : 0 0 1px 0.1em;
    }
    tbody th, /* tbody */ td {
        vertical-align : top;
    }
    tbody th {
        @include _cell-border-width(0 0 1px);
    }
    tbody td {
        border-width : 0 0.5em 1px;
    }

    @if canuse.$LAST_CHILD_PSEUDO_CLASS and canuse.$NEGATIVE_PSEUDO_CLASS {
        tbody:not(:last-child) > tr:last-child > * { /* tfoot を持つ場合に最後の行の線を消す */
            border-bottom-width : 0;
        }
    }

    tfoot th {
        border-width : 2px 0 0;
    }
    tfoot td {
        border-width : 2px 0.5em 0;
    }


/*  color
------------------------------------------------------------------------------------- */
table {
    @if ua.$IE5 or ua.$IE55 {
        color : color.$Light_text;
    }
    @include border-color-responsive(color.$Light_casual_fill);
}
    thead {
        th, td {
            @include background-responsive(color.$Light_casual_text, color.$Print_casual_fill);
            @include text-color-responsive(color.$Light_fill, color.$Print_text);
            @include _cell-border-color-responsive(color.$Light_casual_fill);
        }
        :link {
            color : color.$Dark_link; // 背景が反転するので dark 用のリンク色を使用
            @include mq(dark) {
                color : color.$Light_link;
            }
            @include print {
                color : color.$Print_link;
            }
            @if canuse.$LIMITED_HOVER_PSEUDO_CLASS or canuse.$HOVER_PSEUDO_CLASS {
                &:hover {
                    color : color.$Dark_hover;
                    @include mq(dark) {
                        color : color.$Light_hover;
                    }
                }
            }
        }
        .#{opt.$Prefix + common.$CLASSNAME_ARTICLE_BODY_ROOT} & :visited {
            color : color.$Dark_visited;
            @include mq(dark) {
                color : color.$Light_visited;
            }
            @include print {
                color : color.$Print_visited;
            }
            @if canuse.$LIMITED_HOVER_PSEUDO_CLASS or canuse.$HOVER_PSEUDO_CLASS {
                &:hover {
                    color : color.$Dark_visited_hover;
                    @include mq(dark) {
                        color : color.$Light_visited_hover;
                    }
                }
            }
        }
    }

    tbody th {
        @include background-responsive(color.$Light_casual_fill);
        @include border-color-responsive(color.$Light_fill);
    }
    td {
        @if canuse.$TRANSPARENT_BORDER_COLOR {
            @include _cell-border-color-responsive(transparent transparent color.$Light_casual_fill);
        } @else {
            @include _cell-border-color-responsive(color.$Light_fill color.$Light_fill color.$Light_casual_fill);
        }
    }

    tfoot th,
    tfoot td {
        @if canuse.$TRANSPARENT_BORDER_COLOR {
            @include border-color-responsive(color.$Light_casual_fill transparent);
        } @else {
            @include border-color-responsive(color.$Light_casual_fill color.$Light_fill);
        }
    }

/*  blockquote > table
------------------------------------------------------------------------------------- */
blockquote {
    table {
        @include border-color-responsive(color.$Light_casual_text);
    }
    thead th, thead td {
        @include background-responsive(color.$Light_text, transparent);
        @include _cell-border-color-responsive(color.$Light_casual_text, color.$Print_text);
    }
    tbody th {
        @include background-responsive(color.$Light_casual_text, transparent);
        @include text-color-responsive(color.$Light_fill, color.$Print_text);
        @if canuse.$TRANSPARENT_BORDER_COLOR {
            @include _cell-border-color-responsive(transparent, color.$Print_text);
        } @else {
            @include _cell-border-color-responsive(color.$Light_casual_fill, color.$Print_text);
        }
        :link {
            @include text-color-responsive(color.$Light_fill, color.$Print_link);
            @if canuse.$LIMITED_HOVER_PSEUDO_CLASS or canuse.$HOVER_PSEUDO_CLASS {
                &:hover {
                    @include text-color-responsive(color.$Light_fill, color.$Print_link);
                }
            }
        }
        .#{opt.$Prefix + common.$CLASSNAME_ARTICLE_BODY_ROOT} & :visited {
            @include text-color-responsive(color.$Light_fill, color.$Print_visited);
            @if canuse.$LIMITED_HOVER_PSEUDO_CLASS or canuse.$HOVER_PSEUDO_CLASS {
                &:hover {
                    @include text-color-responsive(color.$Light_fill, color.$Print_visited);
                }
            }
        }
    }
    td {
        @if canuse.$TRANSPARENT_BORDER_COLOR {
            @include _cell-border-color-responsive(transparent transparent color.$Light_casual_text);
        } @else {
            @include _cell-border-color-responsive(
                color.$Light_casual_fill color.$Light_casual_fill color.$Light_casual_text,
                color.$Print_fill        color.$Print_fill        color.$Print_casual_text
            );
        }
    }
    tfoot th,
    tfoot td {
        @if canuse.$TRANSPARENT_BORDER_COLOR {
            @include border-color-responsive(color.$Light_casual_text transparent);
        } @else {
            @include border-color-responsive(
                color.$Light_casual_text color.$Light_casual_fill,
                color.$Print_casual_text color.$Print_fill
            );
        }
    }
}

/* :hover
------------------------------------------------------------------------------------- */
@if canuse.$HOVER_PSEUDO_CLASS {
    tbody :hover {
        th {
            @include background-responsive(color.$Light_accent, noprint);
            color : #fff;
            a {
                @if quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS {
                    @include background-responsive(color.$Light_accent !important, noprint); // テキスト色が明るいのでアクセント色で塗る
                } @else if quirks.$FOCUS_COLOR_SYSTEM_FIXED == false {
                    @include active-focus-pseudo-class {
                        background : #fff !important;
                        @include text-color-responsive(color.$Light_accent !important, noprint);
                    }
                }
            }
            :link, :visited {
                color : #fff;
            }
        }
        td {
            @include _cell-border-color-responsive(transparent transparent color.$Light_accent, noprint);
            @include text-color-responsive(color.$Light_accent, noprint);
        }
    }
}

@if quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS {
    thead a:focus,
    blockquote tbody th a:focus {
        @include border-color-responsive(color.$Light_accent !important, noprint); // テキスト色が明るいのでアクセント色で塗る
    }
}

/*  Forced colors
------------------------------------------------------------------------------------- */
td, tfoot td,
blockquote td, blockquote tfoot td {
    @include mq(forced_colors_native){
        border-color : currentColor Window;
    }
    @include mq(forced_colors_ms){
        border-color : currentColor transparent;
    }
}

@include mq(forced_colors_native_or_fallback){
    table {
        border-width    : 2px 0 0;
        border-spacing  : 2px;
        border-collapse : separate;
    }
    thead th, thead td {
        @include _cell-border-width(0 0 2px);
        padding : 0.5em;
    }
    thead, th {
        font-weight : bold;
    }
    tbody td {
        @include _cell-border-width(0 0 1px);
    }
    td {
        padding      : 0.5em 0.25em;
        border-style : dotted;
    }
    @if canuse.$LAST_CHILD_PSEUDO_CLASS == false and canuse.$FIRST_CHILD_PSEUDO_CLASS { // 該当は ie8 だけ
         /* tfoot を持つ場合に最後の行の線を消す */
        tfoot tr:first-child th,
        tfoot tr:first-child td {
            position : relative;
            top      : -3px;
        }
    }
    tfoot td {
        border-width : 2px 0 0;
    }
}

/*  Print
------------------------------------------------------------------------------------- */
@include print {
    table {
        margin : 1em 0;
        width  : 100%;
    }
    thead th, thead td {
        @include _cell-border-width(0 0 1px);
        padding : 0.5em;
    }
    th {
        font-weight : bold;
    }    

    blockquote {
        thead th, thead td {
            @include _cell-border-width(0 0 1px);
            color   : color.$Print_text;
            padding : 0.5em;
        }
    }
}
