/*  Table
 *    ie5 は <p> に続く <table> の前に </p> が必要
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/size" as size;
@use "../01_var/canuse" as canuse;
@use "../01_var/common.generated" as common;
@use "../01_var/color" as color;
@use "../01_var/quirks" as quirks;

@use "../02_mixin/media" as *;
@use "../02_mixin/create-css-generated-block" as *;
@use "../02_mixin/responsive-horizontal-margin" as *;
@use "../02_mixin/unbreak" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/line-height" as *;
@use "../02_mixin/active-focus-pseudo-class" as *;

@use "../03_reset/table";

@use "./_/nesting" as *;

@mixin _table-cell-border-width($border-width){
    border-width : $border-width;

    @if canuse.$CSS_GENERATED_BLOCK {
        @if $border-width != "0 0 1px" {
            &[colspan]:after {
                border-width : $border-width;
            }
        }
    }
}

@mixin _table-cell-border-color($border-color){
    border-color : $border-color;

    @if canuse.$CSS_GENERATED_BLOCK {
        &[colspan]:after {
            @if length($border-color) < 3{
                border-color : nth($border-color, 1);
            } @else {
                border-color : nth($border-color, 3);
            }
        }
    }
}

/*  colspan
 *    .tl では colspan を使わない為、上書きは必要なし
 *  screenshot
 *    https://x.com/itozyun/status/1756414646381408399
------------------------------------------------------------------------------------- */
@if canuse.$CSS_GENERATED_BLOCK {
    [colspan] {
        position : relative;
    }
        [colspan]:before, [colspan]:after {
            @include create-css-generated-block;
            position     : absolute;
            bottom       : -1px;
            left         : .5em;
            right        : .5em;
            height       : 0;
            font-size    : 0.1em;
            line-height  : 0;
            border-width : 0 0 1px;
            border-style : solid;
        }
        tfoot [colspan]:before, tfoot [colspan]:after {
            display : none;
        }
}

/*  main
------------------------------------------------------------------------------------- */
/* Need 'cellspacing="0"' in the markup for MacIE5 */
table {
    @include media(tablet) {
        & {
            width : 100% - size.$TABLET_HORIZONTAL_MARGIN * 2;
        }
    }

    @include media(phablet) {
        & {
            width : 100% - size.$PHABLET_HORIZONTAL_MARGIN * 2;
        }
    }

    @include media(phone) {
        & {
            width : 100% - size.$PHONE_HORIZONTAL_MARGIN * 2;
        }
    }

    @include media(watch) {
        & {
            width : 100%;
        }
    }

    border-width    : 1px 0 0;
    border-collapse : collapse;
    empty-cells     : show;
    border-spacing  : 0;
    @include responsive-horizontal-margin(1, 1em, 1em);
    @if ua.$Modern {
        @include media(pc) {
            @supports (position:sticky) {
                position : relative;
            }
        }
    }
}

    caption {
        @include responsive-horizontal-margin(1, 1.5em, #{size.$PARAGRAPH_LINE_HEIGHT_EM - size.$BASE_LINE_HEIGHT_EM}); // size.$PARAGRAPH_LINE_HEIGHT_WATCH
    }
    thead, caption {
        @include unbreak-after;
    }
    thead,               // for Firefox
    thead td, thead th { // for Chrome
        // https://qiita.com/orangain/items/6268b6528ab33b27f8f2
        @if ua.$Modern {
            @include media(pc) {
                @supports (position:sticky) {
                    position : -webkit-sticky;
                    position : sticky;
                    top      : 0;
                    z-index  : 1;
                }
            }
        }
    }

    tr {
        @include unbreak-inside;

        @extend %nesting-table-cell;
    }
    th, td {
        @include unbreak-box-with-long-text; /* table がカラムを割るのを防ぐ */
    }

    th {
        font-weight : normal;
        text-align  : left;
        padding     : 0.5em;
        @include _table-cell-border-width(0 0 1px);
    }

    td {
        padding : 0.5em 0;
    }

    thead td {
        padding : 0.5em 0.25em;
    }

    thead th, thead td {
        padding      : 0.5em 0.5em 0.5em 0.4em;
        border-width : 0 0 1px 0.1em;
    }

    tbody th, /* tbody */ td {
        vertical-align : top;
    }

    tbody th {
        @include _table-cell-border-width(0 0 1px);
    }
    tbody td {
        border-width : 0 0.5em 1px;
    }

    @if canuse.$LAST_CHILD_PSEUDO_CLASS and canuse.$NEGATIVE_PSEUDO_CLASS {
        tbody:not(:last-child) > tr:last-child > * { /* tfoot を持つ場合に最後の行の線を消す */
            border-bottom-width : 0;
        }
    }

    tfoot th {
        border-width : 2px 0 0;
    }
    tfoot td {
        border-width : 2px 0.5em 0;
    }


/*  color
------------------------------------------------------------------------------------- */
@mixin _table-colors( $text, $fill, $casual_text, $casual_fill ){
    table {
        @if ua.$IE5 or ua.$IE55 {
            color : $text;
        }
        border-color : $casual_fill;
    }

    thead { // For Firefox 124, no effect on Chrome 124
        @if ua.$Modern {
            @include media(pc) {
                @supports (position:sticky) {
                    background : mix( $casual_text, $casual_fill, 80% );
                }
            }
        }
    }

    thead th, thead td {
        background : $casual_text;
        color      : $fill;
        @include _table-cell-border-color($casual_fill mix( $casual_text, $casual_fill, 80% ));
    }
    thead {
        :link,
        .#{opt.$Prefix + common.$CLASSNAME_ARTICLE_BODY_ROOT} & :visited {
            color : $fill;
            @if canuse.$LIMITED_HOVER_PSEUDO_CLASS or canuse.$HOVER_PSEUDO_CLASS {
                &:hover {
                    color : $fill;
                }
            }
        }
    }

    tbody th {
        background : $casual_fill;
        @include _table-cell-border-color($fill);
    }
    td {
        @include _table-cell-border-color($fill $fill $casual_fill);
    }

    tfoot th,
    tfoot td {
        border-color : $casual_text $fill;
    }

    blockquote {
        table {
            border-color : $casual_text;
        }
        thead th, thead td {
            background : $text;
            @include _table-cell-border-color($casual_fill mix( $text, $casual_fill, 90% ));
        }
        tbody th {
            background : $casual_text;
            color      : $fill;
            @include _table-cell-border-color($casual_fill);
            :link,
            .#{opt.$Prefix + common.$CLASSNAME_ARTICLE_BODY_ROOT} & :visited {
                color : $fill;
                @if canuse.$LIMITED_HOVER_PSEUDO_CLASS or canuse.$HOVER_PSEUDO_CLASS {
                    &:hover {
                        color : $fill;
                    }
                }
            }
        }
        td {
            @include _table-cell-border-color($casual_fill $casual_fill $casual_text);
        }
        tfoot th,
        tfoot td {
            border-color : $text $casual_fill;
        }

        @if canuse.$HOVER_PSEUDO_CLASS {
            tbody :hover td {
                @include _table-cell-border-color($casual_fill $casual_fill color.$ACCENT);
            }
        }
    }
}

@include _table-colors( color.$Light_text, color.$Light_fill, color.$Light_casual_text, color.$Light_casual_fill );

@if canuse.$HOVER_PSEUDO_CLASS {
    tbody :hover th {
        background : color.$ACCENT;
        color      : #fff;
        :link, :visited {
            color : #fff;
        }
    }
    tbody :hover td {
        @include _table-cell-border-color(color.$Light_fill color.$Light_fill color.$ACCENT);
        color : color.$ACCENT;
    }

    tbody :hover th a {
        @if quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS {
            background : color.$ACCENT !important; // テキスト色が明るいのでアクセント色で塗る
        } @else if quirks.$FOCUS_COLOR_SYSTEM_FIXED == false {
            @include active-focus-pseudo-class {
                background : #fff !important;
                color      : color.$ACCENT !important;
            }
        }
    }
}

@if quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS {
    thead a:focus,
    blockquote tbody th a:focus {
        background : color.$ACCENT !important; // テキスト色が明るいのでアクセント色で塗る
    }
}

/*  Dark theme
------------------------------------------------------------------------------------- */
@include media(dark_theme) {
    @include _table-colors(color.$Dark_text, color.$Dark_fill, color.$Dark_casual_text, color.$Dark_casual_fill);

    tbody :hover td {
        @include _table-cell-border-color(color.$Dark_fill color.$Dark_fill color.$ACCENT);
    }
}
/*  Forced colors
------------------------------------------------------------------------------------- */
@include media(forced_colors_native_or_ms){
    td, tfoot td {
        @include _table-cell-border-color(currentColor Window);
    }
}
@include media(forced_colors_native_or_fallback){
    table {
        border-width    : 2px 0 0;
        border-spacing  : 2px;
        border-collapse : separate;
    }
    thead, th {
        font-weight : bold;
    }
    td {
        padding      : 0.5em 0.25em;
        border-style : dotted;
    }
    thead th, thead td {
        @include _table-cell-border-width(0 0 2px);
        padding : 0.5em;
    }
    tbody td {
        @include _table-cell-border-width(0 0 1px);
    }
    @if canuse.$LAST_CHILD_PSEUDO_CLASS == false and canuse.$FIRST_CHILD_PSEUDO_CLASS { // 該当は ie8 だけ
         /* tfoot を持つ場合に最後の行の線を消す */
        tfoot tr:first-child th,
        tfoot tr:first-child td {
            position : relative;
            top      : -3px;
        }
    }
    tfoot td {
        border-width : 2px 0 0;
    }
}

/*  Print
------------------------------------------------------------------------------------- */
@include media(print) {
    table {
        margin       : 1em 0;
        width        : 100%;
        border-color : color.$Print_casual_fill;
    }
    th {
        font-weight : bold;
    }

    thead th, thead td {
        background : color.$Print_casual_fill;
        color      : color.$Print_text;
        padding    : 0.5em;
        @include _table-cell-border-color(color.$Print_casual_text);
        @include _table-cell-border-width(0 0 1px);
    }    
    tbody th {
        background : color.$Print_casual_fill;
        @include _table-cell-border-color(color.$Print_casual_text);
    }
    td {
        @include _table-cell-border-color(#fff #fff color.$Print_casual_fill);
    }

    tfoot th,
    tfoot td {
        border-color : color.$Print_casual_text #fff;
    }

    thead {
        :link {
            color : color.$Print_link;
        }
        :visited {
            color : color.$Print_visited;
        }
    }

    blockquote {
        table {
            border-color : color.$Print_casual_text;
        }
        thead th, thead td {
            background : color.$Print_casual_fill;
            color      : color.$Print_text;
            padding    : 0.5em;
            @include _table-cell-border-color(color.$Print_text);
            @include _table-cell-border-width(0 0 1px);
        }
        tbody th {
            background : color.$Print_casual_fill;
            color      : color.$Print_text;
            @include _table-cell-border-color(color.$Print_text);
        }
        td {
            @include _table-cell-border-color(#fff #fff color.$Print_casual_text);
        }

        tfoot th, tfoot td {
            border-color : color.$Print_text #fff;
        }

        thead, tbody {
            th :link {
                color : color.$Print_link;
            }
            th :visited {
                color : color.$Print_visited;
            }
        }
    }
}
