/* Base color
--------------------------------------------------------------------------------------*/
@if( $Option_useRibbon ){
    body {
        @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS ){
            background : $COLOR_Sidebar_fill;
        } @else {
            background : $COLOR_Ribbon_fill;
        }
        color : $COLOR_Light_text;
    }
    .#{$Prefix}baseColor {
        background : $COLOR_Light_fill;
    }
} @else {
    body {
        background : $COLOR_Light_fill;
        color      : $COLOR_Light_text;
    }
}

* {
    border-color : $COLOR_Light_casual_fill;
}

@if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false and $Option_useRibbon ){
    .#{$Prefix}ribbon {
        color : $COLOR_Ribbon_text;
        @if( $UA_Gecko08 ){
            background : $COLOR_Sidebar_fill; // Only for Gecko 0.8.1
        }
        * {
            border-color : $COLOR_Ribbon_casual_fill;
        }
    }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    @if( $Option_useSideBar ){
        #lB .lS {
            border-width : 1px 0 0;
            background   : $COLOR_Sidebar_fill;
        }
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    * {
        border-color : $COLOR_Dark_casual_fill;
    }
    @if( $Option_useRibbon ){
        body {
            color : $COLOR_Dark_text;
        }
        .#{$Prefix}baseColor {
            background : $COLOR_Dark_fill;
        }
    } @else {
        body {
            background : $COLOR_Dark_fill;
            color      : $COLOR_Dark_text;
        }
    }
    @if( $Option_useSideBar ){
        #lB .#{$Prefix}lS {
            background : $COLOR_Dark_fill;
        }
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    body, .#{$Prefix}baseColor {
        background : $COLOR_Print_fill;
        color      : $COLOR_Print_text;
    }
    * {
        border-color : $COLOR_Print_casual_fill;
    }
    @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false and $Option_useRibbon ){
        .#{$Prefix}ribbon {
            background : $COLOR_Print_fill;
            color      : $COLOR_Print_text;
            * {
                border-color : $COLOR_Print_casual_fill;
            }
        }
    }
}