/* Base color
--------------------------------------------------------------------------------------*/
body {
    background : $COLOR_Ribbon_fill;
    color      : $COLOR_Default_text;
}
@if( $UA_Gck-097 ){
    .ribbon {
        background : $COLOR_Ribbon_fill; // Only for Gecko 0.8.1
    }
}
.baseColor {
    background : $COLOR_Default_fill;
}
.ribbon {
    color      : $COLOR_Ribbon_text;
}

* {
    border-color : $COLOR_Default_casual_fill;
}
.ribbon * {
    border-color : $COLOR_Ribbon_casual_fill;
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    #lB .lS {
        border-width : 1px 0 0;
        background   : $COLOR_Sidebar_fill;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    * {
        border-color : $COLOR_Watch_casual_fill;
    }
    body {
        color : $COLOR_Watch_text;
    }
    .baseColor {
        background : $COLOR_Watch_fill;
    }
    #lB .lS {
        background : $COLOR_Watch_fill;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    body, .baseColor, .ribbon {
        background : $COLOR_Print_fill;
        color      : $COLOR_Print_text;
    }
    *, .ribbon * {
        border-color : $COLOR_Print_casual_fill;
    }
}