@include media(screen) {
    #lB .lM {
        padding-bottom : 4em;
    }
    #lB .lS {
        padding-bottom : 1em;
    }    
}

@if( $UA_Gck-097 or $UA_Gck101-121 ){
    #lB .lM {
        padding-top : 2em; // .ABody の h2 等の margin-top が効かない為
    }
}


@mixin stackableModule( $top : 0, $LR : 0 ) {
    padding : $top $LR 1em;
}

/*  WQXGA
--------------------------------------------------------------------------------------*/
@include media(WQXGA) {
    #lB .lS {
        padding-bottom : 2em;
    }
}


/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    #lB .lS {
        padding-bottom : 2em;
    }
}