/* Base color
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/quirks" as quirks;
@use "../01_var/color" as color;

@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/background-color" as *;
@use "../02_mixin/border-color" as *;
@use "../02_mixin/text-color" as *;
@use "../02_mixin/_/responsive-color" as *;

* {
    @include border-color-responsive-force(color.$LIGHT_DEFAULT_BORDER);
}

@if opt.$UseRibbon {
    body {
        @include text-color-responsive-force(color.$LIGHT_DEFAULT_TEXT);

        @if quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS {
            @include background-screen-print(color.$Sidebar_fill, color.$PRINT_DEFAULT_BACKGROUND);
        } @else {
            @include background-screen-print(color.$Ribbon_fill, color.$PRINT_DEFAULT_BACKGROUND);

            @at-root .#{opt.$Prefix}ribbon {
                @include text-color-screen-print(color.$Ribbon_text, color.$PRINT_DEFAULT_TEXT);
                & * {
                    @include border-color-screen-print(color.$Ribbon_casual_fill, color.$PRINT_DEFAULT_BORDER);
                }
            }
        }
    }
    .#{opt.$Prefix}baseColor {
        @include screen {
            background : color.$LIGHT_DEFAULT_BACKGROUND;
            @if ua.$Modern {
                background : responsive-color-var(color.$LIGHT_DEFAULT_BACKGROUND);
            }
        }
        @include mq(watch) {
            background : #000;
        }
        @include print-fallback {
            background : color.$PRINT_DEFAULT_BACKGROUND;
        }
    }
} @else {
    body {
        @include text-color-responsive-force(color.$LIGHT_DEFAULT_TEXT);

        @include screen {
            background : color.$LIGHT_DEFAULT_BACKGROUND;
            @if ua.$Modern {
                background : responsive-color-var(color.$LIGHT_DEFAULT_BACKGROUND);
            }
        }
        @include mq(watch) {
            background : #000;
        }
        @include print-fallback {
            background : color.$PRINT_DEFAULT_BACKGROUND;
        }
    }
}

/*  Tablet
------------------------------------------------------------------------------------- */
#lB .#{opt.$Prefix}lS {
    @if 1 < opt.$MaxLayoutColumns {
        @include mq(tablet) {
            background   : color.$Sidebar_fill;
            border-width : 1px 0 0;
            @if ua.$Modern {
                @media (prefers-color-scheme:dark) {
                    background : color.$DARK_DEFAULT_BACKGROUND;
                }
            }
        }
    }
}
