/* Base color
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/quirks" as quirks;
@use "../01_var/color" as color;

@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/text-color" as *;
@use "../02_mixin/border-color" as *;
@use "../02_mixin/background-color" as *;

body {
    @if opt.$UseRibbon {
        @if quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS {
            @include background-screen-print(color.$Sidebar_fill, color.$PRINT_DEFAULT_BACKGROUND);
        } @else {
            @include background-screen-print(color.$Ribbon_fill, color.$PRINT_DEFAULT_BACKGROUND);
        }
        @include text-color-responsive(color.$LIGHT_DEFAULT_TEXT);

        @at-root .#{opt.$Prefix}baseColor {
            @include background-responsive(color.$LIGHT_DEFAULT_BACKGROUND);
        /*  Print
        ------------------------------------------------------------------------------------- */
            @include print {
                color : color.$PRINT_DEFAULT_TEXT;
            }
        }
    } @else {
        @include background-responsive(color.$LIGHT_DEFAULT_BACKGROUND);
        @include text-color-responsive(color.$LIGHT_DEFAULT_TEXT);
    }
}

* {
    @include border-color-responsive(color.$LIGHT_DEFAULT_BORDER);
}

@if opt.$UseDarkRibbon {
    .#{opt.$Prefix}ribbon {
        @include text-color-screen-print(color.$Ribbon_text, color.$PRINT_DEFAULT_TEXT);

        @if ua.$Gecko08 {
            @include background-screen-print(color.$Sidebar_fill, color.$PRINT_DEFAULT_BACKGROUND); // Only for Gecko 0.8.1
        }

        & * {
            @include border-color-screen-print(color.$Ribbon_casual_fill, color.$PRINT_DEFAULT_BORDER);
        }
    }
}

/*  Tablet
------------------------------------------------------------------------------------- */
#lB .#{opt.$Prefix}lS {
    @if 1 < opt.$MaxLayoutColumns {
        @include mq(tablet) {
            background   : color.$Sidebar_fill;
            border-width : 1px 0 0;
            @if ua.$Modern {
                @media (prefers-color-scheme:dark) {
                    background : color.$DARK_DEFAULT_BACKGROUND;
                }
            }
        }
    }
}
