@charset "utf-8";

/*  global
--------------------------------------------------------------------------------------*/ 
    *
    /* //_{#can-content */
    , :before, :after
    /* //_}#can-content */
    {
        border-style : solid;
        border-width : 0;
    }

/*  html & body
--------------------------------------------------------------------------------------*/    
    html {
        font-size : 100%; /* 1 */
        @if( $UA_Modern ){
            -webkit-text-size-adjust : 100%; /* 2 */
               -moz-text-size-adjust : 100%; /* 2 */
                -ms-text-size-adjust : 100%; /* 2 */
                 /* text-size-adjust : 100%; 2 */
        }
        @if( $Option_mobileOnly == false and $UA_IE6 ){
            overflow-x : hidden;
        }
    }

    @if( $Option_baseFontSize18 and $UA_Modern ){
        @media only screen and (min-width : #{($MEDIAQUERY_PHABLET_MAX_PX + 1)}px) { /* メディアクエリに対応し、phablet より大きい画面で 18px に */
            body { font-size : math.div($FONTSIZE-UPPER-TABLET, $FONTSIZE-DEFAULT)em }
        }
    }

    html,
    body {
        margin : 0;
        height : 100%;
    }
    body {
        @if( $UA_Opera8 or $IS_Opera7x ){
            padding : 0; /* opera 7-8 */
        }
    }
    /* //_{@ie5win */
    *,
    /* //_}@ie5win */
    body, input {
        line-height : $BASE_LINE_HEIGHT;
    }
    textarea {
        line-height : 1.2;
    }
/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    body {
        font-size : 0.8125em;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    body {
        font-size : 0.75em;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    body, input {
        line-height : $PRINT_LINE_HEIGHT; /* for paper save */
    }
}