/*  font-family
--------------------------------------------------------------------------------------*/    
/* https://tokunagakazuya.tk/vk3l */

// https://terkel.jp/archives/2016/05/system-fonts-on-website/
// ウェブサイトでシステムフォント

/* //_{#notie
 * http://loconet.web2.jp/blog/archives/2007/02/cssfontfamily.html
 */
        body, textarea, input {
            font-family :
                -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Open Sans",
                "Helvetica Neue", Helvetica, Arial, Verdana,
                /* Roboto, */
                "UD Digi Kyokasho NP-R",
                "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
                "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック" , "Yu Gothic" , "游ゴシック体" , YuGothic,
                "メイリオ", Meiryo,
                "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
        }
/* //_}#notie */
/* //_{@modern */
/* Firefox OS2.2(シミュレータ) で Roboto がいると日本語を正しく表示できない... 2.1-は問題無し
 *   http://outcloud.blogspot.jp/2016/03/firefox-os22-dislike-Roboto.html
 */
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        body, textarea, input {
            font-family :
                -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Open Sans",
                "Helvetica Neue",
                /* Windows 10, Chrome29 で日本語のテキストフローが乱れるのを回避
                 *   https://twitter.com/itozyun/status/1293662566791524352
                 * Helvetica, Arial, */
                Verdana,
                Roboto,
                "UD Digi Kyokasho NP-R",
                "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
                "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック" , "Yu Gothic" , "游ゴシック体" , YuGothic,
                "メイリオ", Meiryo,
                "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
        }
    }

/*
 * https://qiita.com/tsuka-rinorino/items/4181efd43d072e246519#ie%E5%90%91%E3%81%91
 * IEは游ゴシックの下の余白が他のフォントより大きいというバグを抱えています。
 */
    @include media(onlyIE10To11){
        body, textarea, input {
            font-family : Verdana, Arial, "UD Digi Kyokasho NP-R", Meiryo, sans-serif;
        }
    }
/* //_}@modern */

/* //_{@ie9  */
    body, textarea, input {
        font-family : Verdana, Arial, "UD Digi Kyokasho NP-R", Meiryo, sans-serif;
    }
/* //_}@ie9 */

/* //_{@ie7,@ie8 */
    body, textarea, input {
        font-family : Arial, Meiryo, "MS PGothic" , sans-serif;
    }
/* //_}@ie7,@ie8 */

/* //_{#ie6-win */
    body, textarea, input {
        font-family : Arial, "MS PGothic", sans-serif; /* ie6-, MacIE5- */
    }
/* //_}#ie6-win */


/* //_{+it */
    /* //_{#notie,@ie9,@ie8,@ie7 */
            /* pre, */ code, var, kbd, samp /* , tt */ {
                font-family : /* "UD Digi Kyokasho N-R", lang="en" でバックスラッシュを表示できない、￥マークになってしまう！ */
                    /* http://www.tohoho-web.com/ex/font.html#css-body-font */
                    SFMono-Regular, 'Liberation Mono', Menlo, Consolas, "Hiragino Kaku Gothic ProN", Monaco, Meiryo, /* 'Courier New', Courier, */ monospace;
            }
    /* //_}#notie,@ie9,@ie8,@ie7 */

    /* //_{#ie6-win */
            /* pre, */ code, var, kbd, samp /* , tt */ {
                font-family : 'Courier New', monospace;
            }
    /* //_}#ie6-win */
/* //_}+it */