/*  Typography
--------------------------------------------------------------------------------------*/
    h1, .h1, h2, h3, h4, h5, h6 {
        @include lineHeight(1.2, 0);
        @include unbreak-inside;
        @include unbreak-after;
    }
    @if( $UA_Opera8 or $IS_Opera7x ){
        h1, h2, h3, h4, h5, h6 {
            br {
                display : block;
            }
        }
    }

    h1, h2, h3, h5, h6 {
        font-weight : normal;
    }

    h4 {
        font-size      : 1em;
        border-width   : 0 0 0 0.7em;
        border-color   : $COLOR_Default_text;
        padding        : 0 0 0 0.3em;
    }
    h5 {
        font-size      : 1em;
        border-width   : 0 0 0 0.5em;
        border-color   : $COLOR_Default_casual_text;
        padding        : 0 0 0 0.5em;
    }
    h6 {
        font-size      : 1em;
        border-width   : 0 0 0 0.3em;
        border-color   : $COLOR_Default_casual_text;
        color          : $COLOR_Default_casual_text;
        padding        : 0 0 0 0.7em;
    }

    strong, em {
        font-style : normal;
    }

    @if( $CANUSE_ATTR_SELECTOR ){
        q[title], q[cite] {
            border-bottom : 1px dotted;
        }
    }

    dfn,
    /* //_{#can-attr-selector */
    abbr[title],
    /* //_}#can-attr-selector */
    acronym {
        border-bottom   : 1px dotted;
        text-decoration : none;
        cursor          : help;
    }

    img, iframe
    // , embed, object, video
    {
        @include unbreak-inside;
        @if( $CANUSE_MARGIN_AUTO ){
            margin    : 1em auto;
        }
        @if( $CANUSE_MARGIN_AUTO == false ){
            margin    : 1em 0;
        }
        a & {
            display : block; /* focus 時の塗りを適切にする */
        }
        li &, tr &, dl & {
            margin-top : 0;
        }
    }

    img {
        height : auto;
    }

    ul, ol {
        padding-left : 2em;
        @if( $UA_Modern ){
            list-style-position : outside; /* android opera12 ?? */
        }
        @if( $UA_IE5 or $UA_IE55 ){
            margin-left : 0;
        }
        li &, dl & {
            padding-left : 1em;
        }
    }

    li, dl {
        @include lineHeight(1.2, 0);
    }

    li {
        margin-top    : .3em;
        margin-bottom : .3em;
    }
    dt {
        margin-top : #{$BASE_LINE_HEIGHT_EM - 1.2em};
    }
    dd {
        margin-bottom : .3em;
    }

    li, dd, dt, tr {
        @include unbreak-inside;
    }

    dt, thead, caption {
        @include unbreak-after;
    }

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    dd {
        margin-left : 1em;
    }
    li {
        margin-top    : .2em;
        margin-bottom : .2em;
    }
    dt {
        margin-top    : #{$PHONE_LINE_HEIGHT_EM - 1.2em};
    }
    dd, li {
        margin-bottom : .2em;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    dd {
        margin-left : 0.5em;
    }
    li {
        margin-top    : .1em;
        margin-bottom : .1em;
    }
    dt {
        margin-top    : #{$WATCH_LINE_HEIGHT_EM - 1.2em};
    }
    dd {
        margin-bottom : .1em;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    h4 {
        border-color : $COLOR_Watch_text;
    }
    h5 {
        border-color : $COLOR_Watch_casual_text;
    }
    h6 {
        border-color : $COLOR_Watch_casual_text;
        color        : $COLOR_Watch_casual_text;
    }

    @if( $UA_Modern ){
        img {
            filter : brightness(85%);
        }
    }
}