/*  justify ie5 ff1, opera10 以降,
--------------------------------------------------------------------------------------*/
/* //_{@ie5win,@ie55,@ie6,@ie7,@ie8,@ie9 */
    /* ie11(ie5 モード)で英日交じりの文字組が酷いので、外す -> inter-word にしたら良さげ */
    p, blockquote {
        // text-justify : inter-ideograph;
        text-justify : inter-word;
        line-break   : normal;
        text-align   : justify; /* ie8 は要素への :hover で画面がガタツク... zoom で回避できる? -> inter-word にしてしばらく試す */
    }
/* //_}@ie5win,@ie55,@ie6,@ie7,@ie8,@ie9 */

/* //_{@modern */
    /* ie10 ~ Edge */
    /* https://spyweb.media/2017/12/04/ie-edge-css-hacks/ */
    _:-ms-lang(x), p, blockquote {
        text-align   : justify;
        text-justify : inter-word; /* 均等割付が綺麗でない - > inter-word でリトライ */
    }

    @include media(onlyOpera) { /* Opera 10 以上 */
        p, blockquote { text-align : justify; }
    }
/* //_}@modern */