
/*  下線付き h2
--------------------------------------------------------------------------------------*/
h2 {
    margin       : 0;
    border-width : 0 0 2px;
    padding      : 1.5em 0.45em 0.5em;
    font-size    : 1.1em;

    @if( $CANUSE_CSS_GENERATED_BLOCK ){
        position : relative;
        
        &:after {
            @include createCSSGeneratedBlock;
            width        : 5em;
            height       : 0;
            font-size    : 0.1em;
            line-height  : 0;
            position     : absolute;
            left         : 0;
            bottom       : -2px;
            border-width : 2px 0 0;
            border-color : $COLOR_Default_accent;
        }

        .ribbon &:after {
            @if $COLOR_Default_accent != $COLOR_Ribbon_accent {
                border-color : $COLOR_Ribbon_accent;
            }
        }
    } @else {
        font-weight : bold;
    }
}

/*  warning
--------------------------------------------------------------------------------------*/
.wn {
    color : $COLOR_WARN !important;

    @if( $CANUSE_CSS_GENERATED_BLOCK ){
        &:after {
            background : $COLOR_WARN !important;
            color      : $COLOR_WARN !important;
        }
    }  
}

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    h2 {
        text-align : center;
        &:after {
            width : 33%;
            left  : 33%;
            right : auto;
        }
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    h2 {
        padding-left  : 0;
        padding-right : 0;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    h2:after {
        @if $COLOR_Default_accent != $COLOR_Watch_accent {
            background : $COLOR_Watch_accent;
            color      : $COLOR_Watch_accent;
        }
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    @if( $CANUSE_CSS_GENERATED_BLOCK ){
        h2:after {
            @if( $IS_Opera7x or $UA_Opera8 ){
                width : 0;      /* for Opera 7-8 */
            } @else {
                display : none; /* for iOS4 content:none では消えない */
            }
        }
    }
}