
/*
 * https://qiita.com/tmiame/items/8816d970eacaf450911f
 * Mixin for placeholder
 * @include placeholderColor(#00ff00);
 */
 @mixin placeholderColor($color) {
    @if( $UA_Modern ){
        &:placeholder-shown {
            color : $color;
        }
        &::-webkit-input-placeholder {
            color : $color;
        }
        &:-moz-placeholder {
            color   : $color;
            opacity : 1;
        }
        &::-moz-placeholder {
            color   : $color;
            opacity : 1;
        }
        &:-ms-input-placeholder {
            color : $color;
        }
    }
}

textarea, input {
    border-width : $INPUT_BORDER_WIDTH;
    @if( $UA_Modern ){
         /* padding-left : 1px;1px : 0pxだとEdgeでボタンにフォーカスした際に要素がズレるのを回避 */
    }
    @if( $IS_OLD_OPERA == false ){
        padding : math.div($BASE-LINE-HEIGHT-EM - 1em, 2) #{$FORM_ITEM_PADDING_LR};
    } @else {
        // padding      : 0; // Opera 8~ では padding が無視, Opera 7 では 0 に
    }
    @if( $IS_OLD_GECKO ){
        -moz-box-sizing : border-box;
    }
    @include placeholderColor( $COLOR_Default_casual_text );
}

input {
    @if( $UA_Modern or $IS_WIN_IE ){
        font-size : 1em; /* for Edge, IE11- */
    }
    @if( $UA_Modern ){
        -webkit-border-radius : 0;
           -moz-border-radius : 0;
                border-radius : 0;
        -webkit-appearance    : none;
                appearance    : none;
    }
    @if( $IS_NOT_IE ){
        margin                : 0;
    }

    @if( $UA_Modern or $UA_IE9 or $UA_IE8 or $UA_IE7 or $UA_IE6  ){
        @include box-sizing(content-box);
        line-height           : 1;
        height                : 1em;
    }
    @if( $UA_IE55 or $UA_IE5  ){
        line-height           : 1;
        height                : #{$BASE_LINE_HEIGHT_EM + $INPUT_BORDER_WIDTH * 2}; 
    }
    @if( $IS_LEGACY ){
        height      : #{$BASE_LINE_HEIGHT_EM + $INPUT_BORDER_WIDTH * 2};
    }
    @if( $IS_OLD_GECKO ){
        line-height           : 1;
    }
    @if( $IS_OLD_OPERA ){
        line-height : $BASE_LINE_HEIGHT;
    }
    @if( $UA_Opera9 ){
        border-style : solid; /* for Opera 9.x [type=submit] */
    }
}

@if( $IS_OLD_OPERA ){
    input[type=hidden] {
        display: none; /* Opera */
    }
}

@if( $UA_Modern or $UA_Gck130-190 ){
    input::-moz-focus-inner /* , button::-moz-focus-inner */ {
        border      : 0;
    }
}

textarea {
    @if( $UA_Modern or $IS_WIN_IE ){
        font-size : 1em; /* for Edge, IE11- */
    }
    overflow         : auto;
    @if( $UA_Modern ){
        resize           : vertical;
        background-image : none; /* Android Firefox */
    }
    margin           : 0;
}

@if( $CANUSE_FOCUS_PSEUDO_CLASS  ){
    form :focus {
        color        : $COLOR_ACCENT;
        border-color : $COLOR_ACCENT;
        @include highContrast {
            border-style : dotted;
        }
    }
}

@if( $UA_Modern ){
    form :invalid {
        color      : $COLOR_WARN;
        box-shadow : none; /* firefox45 */
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    textarea, input {
        background : $COLOR_Watch_fill;
        color      : $COLOR_Watch_text;
        @include placeholderColor( $COLOR_Watch_casual_text );
    }
    @if( $CANUSE_ATTR_SELECTOR ){
        [type="submit"] {
            background : $COLOR_Watch_casual_fill;
        }
    }
}