hr {
    border-width : 0 0 1px; /* for high contrast mode */
/* //_{@ie9,@modern */
    height       : 1px;
    border-color : transparent;
/* //_}@ie9,@modern */
/* //_{#ie8-win,@ie5mac,@legacy */
    height       : 0;
    border-color : $COLOR_Default_casual_fill;
    blockquote & {
        border-color : $COLOR_Default_casual_text;
    }
/* //_}#ie8-win,@ie5mac,@legacy */
}

tr hr {
    margin : 1em 9%;
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    hr {
        /* //_{#ie8-win,@ie5mac,@legacy */
        border-color : $COLOR_Watch_casual_fill;
        blockquote & {
            border-color : $COLOR_Watch_casual_text;
        }
        /* //_}#ie8-win,@ie5mac,@legacy */
    }
}