/*  :link > img
--------------------------------------------------------------------------------------*/
:link img, :visited img {
    border-color : $COLOR_Default_fill;
    border-width : #{$BORDER_WIDTH_OF_LINK_WITH_IMAGE}px;

    blockquote & {
        border-color : $COLOR_Default_casual_fill;
    }

    .ribbon & {
        border-color : $COLOR_Ribbon_fill;
    }
}

/* //_{#can-focus-pseudo-class */
:link:focus img, :visited:focus img,
/* //_}#can-focus-pseudo-class */
:link:active img, :visited:active img {
    @include highContrast {
        border-style : dotted;
    }
}

/* //_{#can-focus-pseudo-class */
:link:focus img,
:visited:focus img,
/* //_}#can-focus-pseudo-class */
:link:active img,
:visited:active img {
    border-color : $COLOR_ACCENT !important;
}

@if( $UA_Gck-097 == false ){ /* 下ではチラツキが激しい */
    :link:hover img, :visited:hover img {
        position : relative;
        top      : 2px;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    :link img, :visited img {
        border-color : transparent; // filter: brightness(85%); の影響を避ける
        blockquote & {
            border-color : transparent;
        }
    }
}