// (li|dd) > tr > (ol|ul) が来ることは無いので tr が先で tr > (li|dd) > (ol|ul) の場合にスタイルを上書きする
tr {
    ol, ul {
        margin-top    : 0;
        margin-bottom : 0.5em;
    }
    p, pre, blockquote, dl {
        margin : 0 0 .5em;
    }
}

li, dd {
    ol, ul {
        margin-top    : 0;
        margin-bottom : 0;
    }
    p, pre, blockquote, dl, table {
        margin : 0 0 .5em;
    }
}