/*  Table
 *    ie5 は <p> に続く <table> の前に </p> が必要
--------------------------------------------------------------------------------------*/
table {
    /* width : 100% - $CONTENT_MARGIN_LR * 2; */

    @include media(WSXGA) {
        & {
            // width : 100% - $CONTENT_MARGIN_LR_WSXGA * 2;
        }
    }

    @include media(tablet) {
        & {
            width : 100% - $TABLET_H_SPACE * 2;
        }
    }

    @include media(phablet) {
        & {
            width : 100% - $PHABLET_H_SPACE * 2;
        }
    }

    @include media(phone) {
        & {
            width : 100% - $PHONE_H_SPACE * 2;
        }
    }

    @include media(watch) {
        & {
            width : 100%;
        }
    }
}

    /* Need 'cellspacing="0"' in the markup for MacIE5 */
    table {
        border-width      : 1px 0 0;
        border-collapse   : collapse;
        empty-cells       : show;
        border-spacing    : 0;
    /* //_{@ie5win,@ie55 */
        /* table-layout      : fixed; fixed 指定が無いと table がカラムをはみ出す -> </p> がなかったせい? */
    /* //_}@ie5win,@ie55 */
    /* //_{^@ie5win */
        line-height       : 1.2;
    /* //_}^@ie5win */
        @include highContrast {
            border-width    : 2px 0 0;
            border-spacing  : 2px;
            border-collapse : separate;
        }
    }

    /* thead, caption { Firefox Chrome で機能せず
        @include unbreak-inside;
        @include unbreak-after;
    } */

/* //_{@ie5win */
    tr * {
        line-height       : 1.2;
    }
/* //_}@ie5win */

    thead, th {
        @include highContrast {
            font-weight  : bold;
        }
    }

    th {
        font-weight  : normal;
        text-align   : left;
        padding      : 0.5em;
        border-width : 0 0 1px;    
    }

    td {
        padding : 0.5em 0;
        @include highContrast {
            padding      : 0.5em 0.25em;
            border-style : dotted;
        }        
    }

    thead td {
        padding : 0.5em 0.25em;
    }

    thead th, thead td {
        padding      : 0.5em 0.5em 0.5em 0.4em;
        border-width : 0 0 1px 0.1em;
        @include highContrast {
            border-width : 0 0 2px;
            padding      : 0.5em;
        }
    }

    tbody th {
        border-width : 0 0 1px;
    }
    tbody td {
        border-width : 0 0.5em 1px;
        @include highContrast {
            border-width : 0 0 1px;
        }
    }

    /* //_{#can-lastChild */
    tbody:not(:last-child) tr:last-child > * { /* tfoot を持つ場合に最後の行の線を消す */
        border-bottom-width : 0;
    }
    /* //_}#can-lastChild */
    /* //_{^#can-lastChild */
        /* //_{#can-1stChild */
            @include highContrast {
                tfoot tr:first-child th,
                tfoot tr:first-child td {
                    position : relative;
                    top      : -3px; 
                }
            }
        /* //_}#can-1stChild */
    /* //_}^#can-lastChild */

    tfoot th {
        border-width : 2px 0 0;
    }
    tfoot td {
        border-width : 2px 0.5em 0;
        @include highContrast {
            border-width : 2px 0 0;
        }
    }

/*  color
--------------------------------------------------------------------------------------*/
@mixin tableColor( $text, $fill, $casual_text, $casual_fill ){
    table {
    /* //_{@ie5win,@ie55 */
        color        : $text;
    /* //_}@ie5win,@ie55 */
        border-color : $casual_text;
    }
    tbody th {
        background   : $casual_fill;
        border-color : $fill;
    }
    td {
        border-color : $fill $fill $casual_fill;
    }

    tfoot th,
    tfoot td {
        border-color : $casual_text $fill;
    }
    thead th, thead td {
        background   : $casual_text;
        border-color : $casual_fill mix( $casual_text, $casual_fill, 90% );
        color        : $fill;
    }
    thead {
        :link, :link:hover {
            color : $fill;
        }
        .aBodyRoot & :visited, .aBodyRoot & :visited:hover {
            color : $fill;
        }
    }
    blockquote {
        table {
            border-color : $text;
        }
        thead th, thead td {
            background   : $text;
            border-color : $casual_fill mix( $text, $casual_fill, 90% );
        }
        tbody th {
            background   : $casual_text;
            border-color : $casual_fill;
            color        : $fill;
        }
        td {
            border-color : $casual_fill $casual_fill $casual_text;
        }
        tfoot th,
        tfoot td {
            border-color : $text $casual_fill;
        }

        /* //_{#can-hover-pseudo-class */
        tbody :hover td {
            border-color : $casual_fill $casual_fill $COLOR_ACCENT;
        }
        /* //_}#can-hover-pseudo-class */

        tbody th {
            :link   , :link:hover,
            .aBodyRoot & :visited, .aBodyRoot & :visited:hover {
                color : $fill;
            }
        }
    }
}

@include tableColor( $COLOR_Default_text, $COLOR_Default_fill, $COLOR_Default_casual_text, $COLOR_Default_casual_fill );

td {
    @include highContrastForIE10ToEdge {
        // border-top-color   : transparent;
        border-left-color  : transparent;
        border-right-color : transparent;
    }
}
tfoot td {
    @include highContrastForIE10ToEdge {
        // border-bottom-color : transparent;
        border-left-color   : transparent;
        border-right-color  : transparent;
    }
}

/* //_{#can-hover-pseudo-class */
tbody :hover th {
    background   : $COLOR_ACCENT;
    color        : #fff;
    :link, :visited {
        color    : #fff;
    }
}
tbody :hover td {
    border-color : $COLOR_Default_fill $COLOR_Default_fill $COLOR_ACCENT;
    color        : $COLOR_ACCENT;
}
tbody :hover th {
    :link:active, :visited:active
    /* //_{#can-focus-pseudo-class */
    , :focus
    /* //_}#can-focus-pseudo-class */
    {
        background   : #fff !important;
        color        : $COLOR_ACCENT !important;
    }        
}
/* //_}#can-hover-pseudo-class */

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    @include tableColor( $COLOR_Watch_text, $COLOR_Watch_fill, $COLOR_Watch_casual_text, $COLOR_Watch_casual_fill );

    tbody :hover td {
        border-color : $COLOR_Watch_fill $COLOR_Watch_fill $COLOR_ACCENT;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    table {
        margin       : 1em 0;
        width        : 100%;
        border-color : $COLOR_Print_casual_text;
    }
    th {
        font-weight : bold;
    }

    thead th, thead td {
        background   : $COLOR_Print_casual_fill;
        border-color : $COLOR_Print_casual_text;
        color        : $COLOR_Print_text;
        padding      : 0.5em;
        border-width : 0 0 1px;
    }    
    tbody th {
        background   : $COLOR_Print_casual_fill;
        border-color : $COLOR_Print_casual_text;
    }
    td {
        border-color : #fff #fff $COLOR_Print_casual_fill;
    }

    tfoot th,
    tfoot td {
        border-color : $COLOR_Print_casual_text #fff;
    }

    thead {
        :link {
            color : $COLOR_Print_link;
        }
        :visited {
            color : $COLOR_Print_visited;
        }
    }

    blockquote {
        table {
            border-color : $COLOR_Print_text;
        }
        thead th, thead td {
            background   : $COLOR_Print_casual_fill;
            border-color : $COLOR_Print_text;
            color        : $COLOR_Print_text;
            padding      : 0.5em;
            border-width : 0 0 1px;
        }
        tbody th {
            background   : $COLOR_Print_casual_fill;
            border-color : $COLOR_Print_text;
            color        : $COLOR_Print_text;
        }
        td {
            border-color : #fff #fff $COLOR_Print_casual_text;
        }

        tfoot th, tfoot td {
            border-color : $COLOR_Print_text #fff;
        }

        thead, tbody {
            th :link {
                color : $COLOR_Print_link;
            }
            th :visited {
                color : $COLOR_Print_visited;
            }
        }
    }
}