/*  :link img, video?, audio?
------------------------------------------------------------------------------------- */
@use "../../01_var/options" as opt;
@use "../../01_var/ua" as ua;
@use "../../01_var/size" as size;
@use "../../01_var/color" as color;
@use "../../01_var/canuse" as canuse;
@use "../../01_var/quirks" as quirks;

@use "../../02_mixin/mq" as *;
@use "../../02_mixin/media" as *;
@use "../../02_mixin/box-sizing" as *;
@use "../../02_mixin/border-color" as *;

%InteractiveObjectStyle {
    a & {
        @if canuse.$TRANSPARENT_BORDER_COLOR {
            border-color : transparent;
        } @else {
            border-color : color.$Light_fill;
        }
        @include screen { // 縦横 4px 大きくなる、印刷には border は無し
            border-width : #{size.$BORDER_WIDTH_OF_LINK_WITH_IMAGE}px;
        }
        @include print-fallback {
            border : 0;
        }
        @include mq(smallphone) {
            @include box-sizing(border-box);
        }
    }

    :link &, :visited & {
        @if opt.$UseDarkRibbon {
            .#{opt.$Prefix}ribbon & {
                @if canuse.$TRANSPARENT_BORDER_COLOR == false {
                    border-color : color.$Ribbon_fill;
                }
            }
        }

        blockquote & {
            @if canuse.$TRANSPARENT_BORDER_COLOR == false {
                border-color : color.$Light_casual_fill;
            }
        }
    }

    @if canuse.$ACTIVE_PSEUDO_CLASS or canuse.$LIMITED_ACTIVE_PSEUDO_CLASS {
        a:active & {
            @include border-color-responsive(color.$Light_accent !important, noprint);
        /*  Forced colors
        ----------------------------------------------------------------------------- */
            @include mq(forced_colors_native_or_fallback){
                border-style : dotted;
            }
        }
    }
    @if canuse.$FOCUS_PSEUDO_CLASS or (canuse.$LIMITED_FOCUS_PSEUDO_CLASS and quirks.$ACTIVE_ACTS_AS_FOCUS == false) {
        a:focus & {
            @include border-color-responsive(color.$Light_accent !important, noprint);
        /*  Forced colors
        ----------------------------------------------------------------------------- */
            @include mq(forced_colors_native_or_fallback){
                border-style : dotted;
            }
        }
    }

    // :hover
    @if ua.$GeckoLte09 == false and ua.$Gecko12 == false { /* 下ではチラツキが激しい */
        @if canuse.$LIMITED_HOVER_PSEUDO_CLASS {
            :hover & {
                position : relative;
                top      : 2px;
            }
        } @else if canuse.$HOVER_PSEUDO_CLASS {
            :link:hover &, :visited:hover & {
                position : relative;
                top      : 2px;
            }
        }
    }
}
