/*  <ListStyle>
------------------------------------------------------------------------------------- */
@use "../../01_var/canuse" as canuse;

@use "../../02_mixin/responsive-horizontal-margin" as *;
@use "../../02_mixin/unbreak" as *;
@use "../../02_mixin/mq" as *;

@use "./nesting" as *;

%ListStyle {
    @include responsive-horizontal-margin(1, 1em, 1em);

    padding-left : 2em;
}

li {
    @extend %nesting-list-item;

    @include unbreak-inside;

    margin-top    : .3em;
    margin-bottom : .3em;

/* :target
------------------------------------------------------------------------------------- */
    @if canuse.$TARGET_PSEUDO_CLASS {
        *:target {
            color : inherit !important; // Light mode でだけ :target 時に <li> のリスト項目の箇条書き記号が見えにくくなる <li id=""><p>.... とすること
        }
    }

/*  Phone
------------------------------------------------------------------------------------- */
    @include mq(phone) {
        margin-top    : .2em;
        margin-bottom : .2em;
    }

/*  Watch
------------------------------------------------------------------------------------- */
    @include mq(watch) {
        margin-top    : .1em;
        margin-bottom : .1em;
    }
}
