/*  ReplaceElementStyle
------------------------------------------------------------------------------------- */
@use "../../01_var/ua" as ua;
@use "../../01_var/canuse" as canuse;
@use "../../01_var/options" as opt;
@use "../../01_var/size" as size;

@use "../../02_mixin/responsive-horizontal-margin" as *;
@use "../../02_mixin/mq" as *;

%ReplaceElementStyle {
    @include responsive-horizontal-margin(1, 1em, 1em);
    @if canuse.$MARGIN_AUTO {
        margin : 1em auto;
    } @else {
        margin : 1em 0;
    }
    a & {
        @if ua.$IE5 == false {
            display : block; /* focus 時の塗りを適切にする */
        }
    }
    li &, tr &, dl & {
        margin-top : 0;
    }

    @if canuse.$MAX_AND_MIN_SIZES {
        @if opt.$MobileOnly == false {
            max-width : 100%;
        }

        @include mq(tablet_print) {
            max-width : #{100% - size.$TABLET_HORIZONTAL_MARGIN * 2};
        }
        @include mq(phablet) {
            max-width : #{100% - size.$PHABLET_HORIZONTAL_MARGIN * 2};
        }
        @include mq(phone) {
            max-width : #{100% - size.$PHONE_HORIZONTAL_MARGIN * 2};
        }
        @include mq(watch) {
            max-width : 100%;
        }
    }
}