/* styles for <textarea>, <input>
------------------------------------------------------------------------------------- */
@use "sass:math";

@use "../../01_var/ua" as ua;
@use "../../01_var/color" as color;
@use "../../01_var/quirks" as quirks;
@use "../../01_var/size" as size;

@use "../../02_mixin/font-family-japanese" as *;
@use "../../02_mixin/placeholder-color" as *;
@use "../../02_mixin/mq" as *;

%TextInputStyle {
    @extend %UDFontFamily;
    @include placeholder-color( color.$Light_casual_text );

    @if ua.$Opera72 == false {
        border-width : size.$INPUT_BORDER_WIDTH;
        @if quirks.$FORM_STYLING_LIMITED {
            border-color : color.$Light_casual_fill; // ButtonFace の色の変更が出来ない場合、システムカラーを使用, Opera 7.2 は除外
        }
    }

    @if ua.$OperaLte9 == false {
        padding : math.div(size.$PARAGRAPH_LINE_HEIGHT_EM - 1em, 2) size.$FORM_ITEM_PADDING_LR;
    }

    &:hover {
        @if ua.$IE7 {
            border-color : color.$ACCENT; // IE7, form :focus が使えない代わり
        }
    }
/*  Dark theme
------------------------------------------------------------------------------------- */
    @include mq(dark) {
        background : color.$Dark_fill;
        color      : color.$Dark_text;
        @include placeholder-color( color.$Dark_casual_text );
    }
}
