/* [ArticleFooter Item] ArticleMeta
 *
 * .AMeta
 *   div
 *     icon
--------------------------------------------------------------------------------------*/
@if( $Option_blog ){
    .#{$Prefix}AMeta {
        @include article-footer-item(1em, 1em);

        div {
            padding-left : 1.2em;
            text-indent  : -1.2em;
        }

        /*  Print
        --------------------------------------------------------------------------------------*/
        @include media(print) {
            @if( $CANUSE_CSS_GENERATED_CONTENT and $CANUSE_ALL_ATTRIBUTE_SELECTORS ){
                @at-root #{&}-cita:after {
                    content   : " ("attr(href)") ";
                    font-size : 0.875em;
                    color     : $COLOR_Print_link;
                }
            }
        }
    }
}