/* [ArticleFooter Item] ArticleMeta
 *
 * .AMeta
 *   div
 *     icon
--------------------------------------------------------------------------------------*/
@if( $Option_blog ){
    .AMeta {
        @include article-footer-item;
        padding : 0.5em 0;
    }

    .AMeta div {
        margin       : 0.5em 0;
        padding-left : 1.2em;
        text-indent  : -1.2em;
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        @if( $CANUSE_CSS_GENERATED_CONTENT ){
            .AMeta-cita:after {
                content   : " ("attr(href)") ";
                font-size : 0.875em;
                color     : $COLOR_Print_link;
            }
        }
    }
}