/* [ArticleFooter Item] Pager
 *
 * .Pager
 *   span.Pager-next | span.Pager-top | span.Pager-prev
 *     a
 *       i
--------------------------------------------------------------------------------------*/
/*  ◀ | ▶
--------------------------------------------------------------------------------------*/
$PAGER_LAYOUT_BY_DISPLAY_TABLE   : $IS_LTE_WIN_IE7 == false and $UA_Opera70 == false;
$CANT_TRIANGULATE_INLINE_ELEMENT : $IS_LTE_GECKO09 or $UA_Opera70; /** block 要素でないと描画されない */
$CANT_TRIANGULATE_WITH_EM_SIZE   : $IS_LTE_WIN_IE6; /* ie6 以下では font-size ベースのレイアウトが出来ないかも */ 

@if( $Option_blog ){
    .#{$Prefix}Pager {
        @include article-footer-item(0, 0, true, $PAGER_LAYOUT_BY_DISPLAY_TABLE == false);
        color : $COLOR_Light_fill; /* , を消す */

        @if( $PAGER_LAYOUT_BY_DISPLAY_TABLE ){
            display      : table;
            width        : 100%;
            table-layout : fixed;
            @include box-sizing(border-box);
        } @else {
            @include clearfix;
        }

        @include media(forced_colors_fallback){
            & {
                text-align : center;
                height     : auto;
                padding    : 1em 0;
            }
        }

        span {
            @if( $PAGER_LAYOUT_BY_DISPLAY_TABLE ){
                vertical-align : middle;
                display        : table-cell;
            } @else {
                display : block;
                float   : left;
                width   : 33%;
            }
            /* http://tacamy.hatenablog.com/entry/2014/02/19/141948 */
            /* overflow      : hidden; */
            /* white-space   : nowrap; */
            /* text-overflow : ellipsis; */

            @include media(forced_colors_fallback){
                & {
                    position : static;
                    display  : inline;
                    @if( $UA_IE55 or $UA_IE5 ){
                        width : auto;
                    }
                }
            }
        }

        a { /* この指定が無いとフォーカス時の塗りが汚い, padding-top, bottom が不正(IE5.5) */
            @if( $UA_IE7 or $UA_IE6 or $UA_IE55 ){
                zoom : 1;
            }
        }

        @if( $PAGER_LAYOUT_BY_DISPLAY_TABLE ){
            @at-root #{&}-next { padding : 1.5em 0; }
            @at-root #{&}-top  { padding : 1.5em 0.5em; text-align : center; }
            @at-root #{&}-prev { padding : 1.5em 0; text-align : right; }
        } @else {
            @at-root #{&}-top { a { padding : 1.5em 0.5em; } text-align : center; }
            @if( $Option_mobileOnly ){
                @at-root #{&}-next a { padding : 1.5em 0 1.5em $TABLET_HORIZONTAL_MARGIN; }
                @at-root #{&}-prev { a { padding : 1.5em $TABLET_HORIZONTAL_MARGIN 1.5em 0; } text-align : right; }
            } @else {
                @at-root #{&}-next a { padding : 1.5em 0 1.5em 1em; }
                @at-root #{&}-prev { a { padding : 1.5em 1em 1.5em 0; } text-align : right; }
            }
        }

        i { /* i を絶対配置にすると、Opera mini で表示されない */
            @if( $CANT_TRIANGULATE_INLINE_ELEMENT ){
                &:before, &:after {
                    font-style  : normal;
                    font-family : serif;
                    font-size   : 2em;
                    line-height : 1;
                    color       : $COLOR_Light_casual_text;
                }
            } @else {
                @include inline-block;
                @if( $IS_LEGACY ){
                    vertical-align : text-top; // TODO ?
                }
                @if( $IS_LTE_WIN_IE7 ){
                    height   : 0;
                    width    : 0;
                    position : relative;
                    top      : -.1em;
                    @if( $IS_LTE_WIN_IE6 ){
                        font-size : 0;
                    }
                    @if( $UA_IE6 or $UA_IE7 ){
                        zoom : 1;
                    }
                }

                @if( $WORKAROUND_BORDER_BUG_IN_OPERA_LTE_8 == false ){
                    @if( $CANUSE_TRANSPARENT_BORDER_COLOR ){
                        border-color : transparent $COLOR_Light_casual_text;
                    } @else {
                        border-color : $COLOR_Light_fill $COLOR_Light_casual_text;
                    }
                }
            }

            /*  Forced colors
            --------------------------------------------------------------------------------------*/
            & {
                @include media(forced_colors_native_or_ms){
                    border-color : Window currentColor;
                }
                @include media(forced_colors_fallback){
                    display : none;
                }
            }
        }
        * {
            @include active-focus-pseudo-class {
                i {
                    @if( $CANT_TRIANGULATE_INLINE_ELEMENT ){
                        &:before, &:after {
                            color : #fff;
                        }
                    } @else if( $WORKAROUND_BORDER_BUG_IN_OPERA_LTE_8 == false ){
                        @if( $CANUSE_TRANSPARENT_BORDER_COLOR ){
                            border-color : transparent #fff;
                        } @else {
                            border-color : $COLOR_ACCENT #fff;
                        }
                    }
                }
            }
        }

        @at-root #{&}-next i {
            margin-right : 0.5em;
            @if( $CANT_TRIANGULATE_INLINE_ELEMENT ){
                &:before {
                    content : "◀ ";
                }
            } @else if( $WORKAROUND_BORDER_BUG_IN_OPERA_LTE_8 ){
                border-top    : 0.5em solid transparent;
                border-right  : 0.7em solid $COLOR_Light_casual_text;
                border-bottom : 0.5em solid transparent;
                @include active-focus-pseudo-class {
                    border-right : 0.7em solid #fff;
                }
            } @else if( $CANT_TRIANGULATE_WITH_EM_SIZE ){
                border-width : 8px 11px 8px 0;
            } @else {
                border-width : 0.5em 0.7em 0.5em 0;
            }
        }
        @at-root #{&}-prev i {
            /* IE7 以下は <!--[if lte IE 7]> <![endif]--><i></i> で対処する…
             *            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
             */
            @if( $IS_LTE_WIN_IE7 == false ){
                margin-left : 0.5em;
            }
            @if( $CANT_TRIANGULATE_INLINE_ELEMENT ){
                &:after {
                    content : " ▶";
                }
            } @else if( $WORKAROUND_BORDER_BUG_IN_OPERA_LTE_8 ){
                border-top    : 0.5em solid transparent;
                border-left   : 0.7em solid $COLOR_Light_casual_text;
                border-bottom : 0.5em solid transparent;
                @include active-focus-pseudo-class {
                    border-left : 0.7em solid #fff;
                }
            } @else if( $CANT_TRIANGULATE_WITH_EM_SIZE ){
                border-width : 8px 0 8px 11px;
            } @else {
                border-width : 0.5em 0 0.5em 0.7em;
            }
        }

        @at-root #{&}-top {
            i {
                margin-right : 0.5em;
                @if( $CANT_TRIANGULATE_INLINE_ELEMENT ){
                    &:before {
                        content   : "▲ ";
                        font-size : 1em;
                    }
                } @else if( $WORKAROUND_BORDER_BUG_IN_OPERA_LTE_8 ){
                    border-left   : 0.45em solid transparent;
                    border-right  : 0.45em solid transparent;
                    border-bottom : 0.9em solid $COLOR_Light_casual_text;
                    @include active-focus-pseudo-class {
                        border-left   : 0.45em solid #fff;
                        border-right  : 0.45em solid #fff;
                    }
                } @else if( $CANT_TRIANGULATE_WITH_EM_SIZE ){
                    border-width : 0 7px 14px;
                    border-color : $COLOR_Light_casual_text $COLOR_Light_fill;
                } @else {
                    border-width : 0 0.45em 0.9em;
                    @if( $CANUSE_TRANSPARENT_BORDER_COLOR ){
                        border-color : $COLOR_Light_casual_text transparent;
                    } @else {
                        border-color : $COLOR_Light_casual_text $COLOR_Light_fill;
                    }
                }

                /*  Forced colors
                --------------------------------------------------------------------------------------*/
                @include media(forced_colors_native){
                    border-color : currentColor Window;
                }
                @include media(forced_colors_ms){
                    border-color : currentColor transparent;
                }
            }
            * {
                @include active-focus-pseudo-class {
                    i {
                        @if( $CANT_TRIANGULATE_INLINE_ELEMENT == false ){
                            @if( $WORKAROUND_BORDER_BUG_IN_OPERA_LTE_8 == false ){
                                @if( $CANUSE_TRANSPARENT_BORDER_COLOR ){
                                    border-color : #fff transparent;
                                } @else {
                                    border-color : #fff $COLOR_ACCENT;
                                }
                            }
                        }
                    }
                }
            }
        }

        /*  Phone
        --------------------------------------------------------------------------------------*/
        @include media(phone) {
            @at-root #{&}-next i, #{&}-top i {
                margin-right : .2em;
            }
            @at-root #{&}-prev i {
                margin-left : .2em;
            }
        }

        /*  Dark theme
        --------------------------------------------------------------------------------------*/
        @include media(dark_theme) {
            color : $COLOR_Dark_fill; /* , を消す */
            i {
                border-color : transparent $COLOR_Dark_casual_text;
            }
            @at-root #{&}-top i {
                border-color : $COLOR_Dark_casual_text transparent;
            }
        }
    }
}