/* [ArticleFooter Item] Pager
 *
 * .Pager
 *   span.Pager-next | span.Pager-top | span.Pager-prev
 *     a
 *       i
--------------------------------------------------------------------------------------*/
/*  ◀ | ▶
--------------------------------------------------------------------------------------*/
@if( $Option_blog ){
    .Pager {
        @include article-footer-item;

        position : relative;
        color    : $COLOR_Light_fill; /* , を消す */
        height   : 4em;

        @include media(forced_colors_fallback){
            & {
                text-align : center;
                height     : auto;
                padding    : 1em 0;
            }
        }
    }
        .Pager-next { left  :   0; }
        .Pager-top  { left  : 34%; text-align : center; }
        .Pager-prev { right :   0; text-align : right; }

            .Pager span {
                position      : absolute;
                top           : 1em;
                display       : block;
                width         : 32%;
                /* http://tacamy.hatenablog.com/entry/2014/02/19/141948 */
                /* overflow      : hidden; */
                /* white-space   : nowrap; */
                /* text-overflow : ellipsis; */

                @include media(forced_colors_fallback){
                    & {
                        position : static;
                        display  : inline;
                        @if( $UA_IE55 or $UA_IE5 ){
                            width : auto;
                        }
                    }
                }
            }
                .Pager a { /* この指定が無いとフォーカス時の塗りが汚い */
                    @if( $UA_IE7 or $UA_IE6 or $UA_IE55 ){
                        zoom : 1;
                    }
                    @if( $UA_IE5 ){
                        width : 100%; /* <- ?? height : $PARAGRAPH_LINE_HEIGHT_EM; */
                    }
                }
                @if( $IS_LTE_WIN_IE6 == false ){ /* ie6 以下では font-size ベースのレイアウトが出来ないかも */
                    .Pager i { /* i を絶対配置にすると、Opera mini で表示されない */
                        @include inline-block;
                        @if( $IS_LEGACY ){
                            vertical-align : text-top;
                        }
                        @if( $IS_LTE_WIN_IE7 ){
                            height : 0;
                            width  : 0;
                        }

                        @if( $IS_LTE_WIN_IE7 ){
                            position       : relative;
                            @if( $UA_IE7 ){
                                zoom : 1;
                            }
                            @if( $UA_IE7 or $UA_IE6 ){
                                top : -.5em;
                            }
                            @if( $UA_IE55 or $UA_IE5 ){
                                top : .5em;
                            }
                        }

                        @if( $CANUSE_BORDER_TRANSPARENT ){
                            border-color : transparent $COLOR_Light_casual_text;
                        } @else {
                            border-color : $COLOR_Light_fill $COLOR_Light_casual_text;
                        }
                        /*  Forced colors
                        --------------------------------------------------------------------------------------*/
                        & {
                            @include media(forced_colors_native){
                                border-top-color    : Window;
                                border-bottom-color : Window;
                            }
                            @include media(forced_colors_fallback){
                                display : none;
                            }
                        }
                    }
                    .Pager-next i {
                        border-width : 0.5em 0.7em 0.5em 0;
                        margin-right : 0.5em;
                    }
                    .Pager-prev i {
                        border-width : 0.5em 0 0.5em 0.7em;
                        margin-left  : 0.5em;
                        @if( $IS_LTE_WIN_IE7 ){
                            left : 0.5em;
                        }
                    }
                    @if( $CANUSE_ACTIVE_PSEUDO_CLASS ){
                        .Pager :active i {
                            @if( $CANUSE_BORDER_TRANSPARENT ){
                                border-color : transparent #fff;
                            } @else {
                                border-color : $COLOR_ACCENT #fff;
                            }
                        }
                    }
                    @if( $CANUSE_FOCUS_PSEUDO_CLASS ){
                        .Pager :focus i {
                            @if( $CANUSE_BORDER_TRANSPARENT ){
                                border-color : transparent #fff;
                            } @else {
                                border-color : $COLOR_ACCENT #fff;
                            }
                        }
                    }

                    .Pager-top i {
                        border-width : 0 0.45em 0.9em;
                        margin-right : 0.5em;

                        @if( $CANUSE_BORDER_TRANSPARENT ){
                            border-color : $COLOR_Light_casual_text transparent;
                        } @else {
                            border-color : $COLOR_Light_casual_text $COLOR_Light_fill;
                        }
                        /*  Forced colors
                        --------------------------------------------------------------------------------------*/
                        @include media(forced_colors_native){
                            & {
                                border-left-color  : Window;
                                border-right-color : Window;
                            }
                        }
                    }
                    @if( $CANUSE_ACTIVE_PSEUDO_CLASS ){
                        .Pager-top :active i {
                            @if( $CANUSE_BORDER_TRANSPARENT ){
                                border-color : #fff transparent;
                            } @else {
                                border-color : #fff $COLOR_ACCENT;
                            }
                        }
                    }
                    @if( $CANUSE_FOCUS_PSEUDO_CLASS ){
                        .Pager-top :focus i {
                            @if( $CANUSE_BORDER_TRANSPARENT ){
                                border-color : #fff transparent;
                            } @else {
                                border-color : #fff $COLOR_ACCENT;
                            }
                        }
                    }
                }

    /*  Phone
    --------------------------------------------------------------------------------------*/
    @include media(phone) {
        .Pager-next i, .Pager-top i {
            margin-right : .2em;
        }
        .Pager-prev i {
            margin-left : .2em;
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        .Pager {
            color : $COLOR_Dark_fill; /* , を消す */
        }
        .Pager i {
            border-color : transparent $COLOR_Dark_casual_text;
        }
        .Pager-top i {
            border-color : $COLOR_Dark_casual_text transparent;
        }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        .Pager {
            display : none;
        }
    }
}