/* [ArticleFooter Item] SocialBtns
 *
 * .SocialBtns
 *   a
--------------------------------------------------------------------------------------*/
@if( $Option_SocialBtns ){
    .#{$Prefix}SocialBtns {
        @if( $IS_LTE_WIN_IE7 ){
            @include article-footer-item(1em, 1em, true);
        } @else {
            @include article-footer-item(1em, 0.5em, true);
        }
        color : $COLOR_Light_fill; /* , を消す */

        a {
            @include button-base;
            margin : 0 0 0.5em;
        }

        .tw {
            @include button-colors( #1B95E0, #1B95E0, $COLOR_Light_fill );
        }
        .fb {
            @include button-colors( #3B5999, #3B5999, #fff );
        }
        .hb {
            @include button-colors( #008FDE, #008FDE, $COLOR_Light_fill );
        }
        .pt {
            @include button-colors( #BD081C, #BD081C, #fff );
        }
        .pk {
            @include button-colors( #EE4056, #EE4056, $COLOR_Light_fill );
        }
        .ln {
            @include button-colors( #00C300, #00C300, $COLOR_Light_fill );
        }

        /*  Tablet
        --------------------------------------------------------------------------------------*/
        @include media(tablet) {
            text-align : center;
        }

        /*  Dark theme
        --------------------------------------------------------------------------------------*/
        @include media(dark_theme) {
            color : $COLOR_Dark_fill; /* , を消す */

            .tw, .fb, .hb, .pt, .ok, .ln {
                :link {
                    color : $COLOR_Dark_fill !important;
                }
                :visited {
                    background : $COLOR_Dark_fill !important;
                }
                @include active-focus-pseudo-class {
                    border-color : $COLOR_Dark_fill !important;
                }
            }
        }
    }
}
