/* .lX
 *    .lXi
 * .lW
 *   .lM
 *     .lMi|.lMz
 *        .lMf + .lMh
 *        .lM1 + .lM2
 *   .lS
 *     .lSi
 *        .lS1, ls2
 *
 * 1. display:table-layout
 *    * ie8&9
 * 2. float-layout
 *    * 上記以外のブラウザ 
 *
--------------------------------------------------------------------------------------*/
// Opera 7.54u2,「スモール・スクリーン・レンダリング」によってコンテンツが左に寄る問題を回避, ~7.2x では発生しない
// Opera 7.20~7.5x は親要素の text-align : center でセンタリング
// https://twitter.com/itozyun/status/1496632445567115264
// Opera 7.54u2, margin が反映されないので padding を使う
// https://twitter.com/itozyun/status/1496641802740600832
$LAYOUT_FIX_FOR_Opera75 : $UA_Opera72;

@if( $Option_mobileOnly == false ){
    /*  wrapper
    --------------------------------------------------------------------------------------*/
    .lW {
        @if( $IS_IE8_OR_9 == false and $LAYOUT_FIX_FOR_Opera75 == false ){
            @include clearfix;
        }
        @if( $UA_Gck-097 ){
            position : relative; // clearfix
        }
    }

    .lW, .lX {
        width : 98%;
        @if( $CANUSE_MAX_AND_MIN_SIZES ){
            max-width : $PC_MAX_WIDTH_EM;
        }
        @if( $LAYOUT_FIX_FOR_Opera75 == false ){
            @if( $CANUSE_MARGIN_AUTO ){
                margin : 0 auto;
            }
        }
    }

    @if( $LAYOUT_FIX_FOR_Opera75 ){
        body {
            text-align : center;
        }
        .lW, .lX {
            @include inline-block;
            text-align : left;
        }
    }

    /*  main
    --------------------------------------------------------------------------------------*/    
        .lM {
            @if( $IS_IE8_OR_9 == false ){
                width : 100% * ( $PC_MAIN_COLUMN_RATIO - $PC_COLUMN_GAP_RATIO );
                float : left;
            }
            @if( $IS_LTE_WIN_IE6 ){
                overflow-x : hidden; /* カラム落ち対策 */
            }
        }
            .lMi, .lMz {
                @if( $LAYOUT_FIX_FOR_Opera75 ){
                    padding-left : math.div(100% * $PC-COLUMN-GAP-RATIO, $PC-MAIN-COLUMN-RATIO);
                } @else {
                    margin-left : math.div(100% * $PC-COLUMN-GAP-RATIO, $PC-MAIN-COLUMN-RATIO);
                }
            }

    /*  sub
    --------------------------------------------------------------------------------------*/
        .lS {
            width : 100% * $PC_SUB_COLUMN_RATIO;
            @if( $IS_IE8_OR_9 == false ){
                float : right;
            }
        }
            .lSi {
                @if( $UA_IE6 ){
                    width  : 82%;
                }
                @if( $UA_IE55 ){
                    width  : 100%;
                }
                @if( $LAYOUT_FIX_FOR_Opera75 ){
                    padding : 0 math.div(100% * $PC-COLUMN-GAP-RATIO, $PC-SUB-COLUMN-RATIO);
                } @else {
                    margin : 0 math.div(100% * $PC-COLUMN-GAP-RATIO, $PC-SUB-COLUMN-RATIO);
                }
            }
    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        .lSi {
            @if( $UA_IE6 ){
                width  : 100%;
            }
        }
    }

    /*  x-column
    --------------------------------------------------------------------------------------*/
        .lXi {
            @if( $LAYOUT_FIX_FOR_Opera75 ){
                padding : 0 100% * $PC_COLUMN_GAP_RATIO;
            } @else {
                margin : 0 100% * $PC_COLUMN_GAP_RATIO;
            }
        }
    /*
    * http://geckotang.tumblr.com/post/134453564281/ac2015-css-2
    */

    @if( $IS_IE8_OR_9 ){
        /*  float-layout -> table-layout
        --------------------------------------------------------------------------------------*/
        .lW {
            display      : table;
            table-layout : fixed;
        }
            .lM, .lS {
                display        : table-cell;
                vertical-align : top; /* Safari 3.2, ie8 で大切 */
            }
            .lM {
                width : 100% * $PC_MAIN_COLUMN_RATIO;
            }
                .lMi, .lMz {
                    margin-right : math.div(100% * $PC-COLUMN-GAP-RATIO, $PC-MAIN-COLUMN-RATIO);
                }
    }
}

/*  WQXGA
--------------------------------------------------------------------------------------*/
@include media(WQXGA) {
    .lW, .lX {
        width     : 96%;
        max-width : $WQXGA_MAX_WIDTH_EM;
    }
        .lM {
            width : 100% * $WQXGA_MAIN_COLUMN_RATIO;
        }
            .lMi, .lMz {
                margin : 0 $WQXGA_COLUMN_GAP_EM 0 math.div($WQXGA-COLUMN-GAP-PCT, $WQXGA-MAIN-COLUMN-RATIO);
            }
                .lMh {
                    margin-left  : 50%;
                    padding-left : math.div($WQXGA-COLUMN-GAP-EM, 2);
                }
        .lS {
            width : 100% * $WQXGA_SUB_COLUMN_RATIO;
        }
            .lSi {
                margin : 0 math.div($WQXGA-COLUMN-GAP-PCT, $WQXGA-SUB-COLUMN-RATIO);
            }
        .lXi {
            margin : 0 $WQXGA_COLUMN_GAP_PCT;
        }
}

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .lW, .lX {
        width     : 96%;
        max-width : $WSXGA_MAX_WIDTH_EM;
    }
        .lM {
            width : 100% * $WSXGA_MAIN_COLUMN_RATIO;
        }
            .lMi, .lMz {
                margin : 0 $WSXGA_COLUMN_GAP_EM 0 math.div($WSXGA-COLUMN-GAP-PCT, $WSXGA-MAIN-COLUMN-RATIO);
            }
                .lMh {
                    margin-left  : 50%;
                    padding-left : math.div($WSXGA-COLUMN-GAP-EM, 2);
                }
        .lS {
            width : 100% * $WSXGA_SUB_COLUMN_RATIO;
        }
            .lSi {
                margin : 0 math.div($WSXGA-COLUMN-GAP-PCT, $WSXGA-SUB-COLUMN-RATIO);
            }
        .lXi {
            margin : 0 $WSXGA_COLUMN_GAP_PCT;
        }
}

/*  Tablet & Print
--------------------------------------------------------------------------------------*/
@if( $Option_mobileOnly == false ){
    @include media(tablet_print) {/* float-layout -> table-layout も併せて変更 */
        .lW, .lX {
            width : 100%;
            @if( $CANUSE_MAX_AND_MIN_SIZES ){
                max-width : 100%;
            }
        }
        .lW {
            @if( $IS_IE8_OR_9 ){
                display : block;
            }
        }
            .lM, .lS {
                float : none;
                width : auto;
                @if( $IS_IE8_OR_9 ){
                    display : block;
                }
            }
                .lMi, .lMz, .lSi, .lXi {
                    @if( $LAYOUT_FIX_FOR_Opera75 ){
                        padding : 0;
                    } @else {
                        margin : 0;
                    }
                }
    }
}

/* #lB > .lX の際に footer の塗りがはみ出さないようにする  */
.lX {
    @if( $IS_IE8_OR_9 or $UA_Modern ){
        overflow : hidden; /* この指定が無いと塗りがはみ出る */
    }
    @if( $UA_IE5 ){
        width      : 100%; /* この指定が無いと横スクロールが出る  */
        overflow-x : hidden;
    }
}

@if( $Option_mobileOnly ){
    .lW {
        @if( $UA_IE8 or $UA_Modern ){
            overflow : hidden; /* この指定が無いと塗りがはみ出る */
        }
        @if( $UA_IE5 ){
            width      : 100%; /* この指定が無いと横スクロールが出る  */
            overflow-x : hidden;
        }
        @if( $LAYOUT_FIX_FOR_Opera75 ){
            text-align : center;
        }
    }
        .lM, .lS, #lB .lSi, .lX {
            @if( $CANUSE_MAX_AND_MIN_SIZES ){
                max-width : $TABLET_MAX_WIDTH_EM;
                @if( $LAYOUT_FIX_FOR_Opera75 ){
                    @include inline-block;
                    text-align : left;
                } @else {
                    margin : 0 auto;
                }
            }
        }
        #lB .lS {
            @if( $CANUSE_MAX_AND_MIN_SIZES ){
                max-width : 100%;
            }
        }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    .lMi, .lMz .lMh, .lSi, .lXi {
        padding : 0 $TABLET_H_SPACE;
    }
    #lB .lSi {
        padding : 0;
    }
}

/*  PHABLET
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .lMi, .lMz .lMh, .lSi, #lB .lSi, .lXi {
        padding : 0 $PHABLET_H_SPACE;
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .lMi, .lMz .lMh, .lSi, #lB .lSi, .lXi {
        padding : 0 $PHONE_H_SPACE;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .lMi, .lMz .lMh, .lSi, #lB .lSi, .lXi {
        padding : 0;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    #lH .lS, #lB .lS, #lF .lW {
        display : none;
    }

    @if( $Option_mobileOnly ){
        .lM, .lX {
            margin : 0;
            @if( $CANUSE_MAX_AND_MIN_SIZES ){
                max-width : 100%;
            }
        }
        .lMi, .lMz .lMh, .lXi {
            padding : 0;
        }
    }
}