// https://github.com/Modernizr/Modernizr/blob/master/feature-detects/css/generatedcontent.js
/* //_{#can-content */
#jsCanUseContent {
    font       : 0/0 a;
}
#jsCanUseContent:after {
    content    : ':)';
    visibility : hidden;
    font       : 7px/1 a
}
/* //_}#can-content */