/*  PicaThumbnail
--------------------------------------------------------------------------------------*/
/* //_{#can-focus-psedo-class */
.jsPica:focus,
/* //_}#can-focus-psedo-class */
.jsPica:active {
    @include highContrast {
        outline : 0;
    }
}

.jsPica img,
.jsCap { /* onload 時にアニメーションしないように .caption に .jsCap を付ける。アニメを抑止しないと offsetWidth の取得で誤る。 */
    /* //_{@modern */
        /* clean-css ignore:start */
        -webkit-transition-property : width, margin;
                 -webkit-transition :       0.3s ease-in;
        /* clean-css ignore:end */
                    -moz-transition : width 0.3s ease-in, margin 0.3s ease-in;
                      -o-transition : width 0.3s ease-in, margin 0.3s ease-in;
                         transition : width 0.3s ease-in, margin 0.3s ease-in;
    /* //_}@modern */
}

    .jsPicaLarge img {
        width     : 100%;
    /* //_{#can-max-min */
        max-width : 100%;
    /* //_}#can-max-min */
        height    : auto;
        /* //_{#can-margin-auto */
        margin    : 0 auto 1em; /* auto は中央配置で transition させるため */
        /* //_}#can-margin-auto */

        /* //_{#can-box-sizing */
        /* //_{@modern */
        -webkit-box-sizing : border-box;
        /* //_}@modern */
                box-sizing : border-box;
        /* //_}#can-box-sizing */

    /* //_{@modern,@ie9 */
        div /* box.scss の @media ブロックを上書きするために詳細度を上げる */
    /* //_}@modern,@ie9 */
        .box & {
            /* //_{@modern */
            float  : none; /* 無いと続くテキストの1文字目が消える Win10 + Firefox58 */
            /* //_}@modern */
            margin : 0 0 1em; /* 中央配置指定を上書き 左から transition */
        }
    }

    .jsCapLarge {
        /* //_{#can-margin-auto */
        margin : 0 auto 1em; /* auto は中央配置で transition させるため */
        /* //_}#can-margin-auto */

    /* //_{@modern,@ie9 */
        div /* box.scss の @media ブロックを上書きするために詳細度を上げる */
    /* //_}@modern,@ie9 */
        .box & {
            float  : none;
            margin : 0 0 1em; /* 中央配置指定を上書き 左から transition */
        }
    }

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    /* //_{@modern,@ie9 */
    div .box .jsPicaLarge img,
    div .box .jsCapLarge {
        margin : 0 auto 1em; /* 左配置指定を上書き 中央から transition */
    }
    /* //_}@modern,@ie9 */
}

/* //_{@ie6,@ie7 */
    /* box-sizing が使えないための処置 a.jsPicaLarge 側でアウトラインを表示 */
    .jsPicaLarge {
        display : block;
        zoom    : 1;
        clear   : both; /* ギャラリーでの回り込みの解除 */
        padding : #{$BORDER_WIDTH_OF_LINK_WITH_IMAGE}px;
        img {
            border-width : 0;
        }
        &:hover {
            top : 2px;
            img {
                top : 0;
            }
        }
    }
/* //_}@ie6,@ie7 */

/* //_{@ie55,@ie5win */
.jsPica {
    display : block; /* この指定が無いとギャラリーで他の画像に隠れる */
}
.jsPicaLarge img,
.jsCapLarge {
    clear : both; /* ギャラリーでの回り込みの解除 */
}
/* //_}@ie55,@ie5win */