/*  PicaThumbnail
--------------------------------------------------------------------------------------*/
/* //_{#can-focus-psedo-class */
.jsPica:focus,
/* //_}#can-focus-psedo-class */
.jsPica:active {
    @include highContrast {
        outline : 0;
    }
}

.jsPica img, .caption {
    /* //_{@modern */
        /* clean-css ignore:start */
        -webkit-transition-property : width, margin;
                 -webkit-transition :       0.3s ease-in;
        /* clean-css ignore:end */
                    -moz-transition : width 0.3s ease-in, margin 0.3s ease-in;
                      -o-transition : width 0.3s ease-in, margin 0.3s ease-in;
                         transition : width 0.3s ease-in, margin 0.3s ease-in;
    /* //_}@modern */
}

    .jsPicaLarge img {
        float      : none; /* 無いと続くテキストの1文字目が消える Win10 + Firefox58 */
        width      : 100%;
    /* //_{#can-max-min */
        max-width : 100%;
    /* //_}#can-max-min */
        height     : auto;
        /* //_{#can-margin-auto */
        margin     : 0 auto 1em; /* auto は中央配置で transition させるため */
        /* //_}#can-margin-auto */

        /* //_{#can-box-sizing */
        /* //_{@modern */
        -webkit-box-sizing : border-box;
        /* //_}@modern */
                box-sizing : border-box;
        /* //_}#can-box-sizing */

        /* //_{@modern */
        div .box & {
            margin : 0 0 1em; /* 中央配置指定を上書き 左から transition */
        }
        /* //_}@modern */
    }

    .jsCapLarge {
        float  : none;
        /* //_{#can-margin-auto */
        margin : 0 auto 1em; /* auto は中央配置で transition させるため */
        /* //_}#can-margin-auto */
        /* //_{@modern */
        div .box & {
            margin : 0 0 1em; /* 中央配置指定を上書き 左から transition */
        }
        /* //_}@modern */
    }

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    /* //_{@modern */
    div .box .jsPicaLarge img,
    div .box .jsCapLarge {
        margin : 0 auto 1em; /* 左配置指定を上書き 中央から transition */
    }
    /* //_}@modern */
}

/* //_{#ie7-win */
    /* box-sizing が使えないための処置 a.jsPicaLarge 側でアウトラインを表示 */
    .jsPicaLarge {
        display : block;
        padding : #{$BORDER_WIDTH_OF_LINK_WITH_IMAGE}px;
    }
/* //_}#ie7-win */

/* //_{@ie5win */
.box .jsPicaLarge img,
.box .jsCapLarge {
    clear   : both;
    margin  : 0 0 1em;
}
/* //_}@ie5win */