/*  PicaThumbnail
--------------------------------------------------------------------------------------*/

#jM a[href] > img, #jM .caption {
    /* //_{@modern */
-webkit-transition-property : width;

         -webkit-transition :       0.3s ease-in-out;
            -moz-transition : width 0.3s ease-in-out;
              -o-transition : width 0.3s ease-in-out;
                 transition : width 0.3s ease-in-out;
    /* //_}@modern */
}

.jL img {
    float       : none; /* 無いと続くテキストの1文字目が消える Win10 + Firefox58 */
    width       : 100%;
    height      : auto;
    /* //_{^@ie5win */
    margin      : 0 auto 1em; /* auto は中央配置で transition させるため */
    /* //_}^@ie5win */
    /* //_{@modern,@ie9,@ie8 */
    box-sizing  : border-box;
    /* //_}@modern,@ie9,@ie8 */
}
/* //_{#ie7-win */
    /* box-sizing が使えないための処置 a.jL 側でアウトラインを表示 */
    .aBodyRoot .jL img {
        padding : 0;
    }
    .jL {
        display : block;
        padding : 1px;
    }
/* //_}#ie7-win */

/* //_{@modern */
.box .jL img {
    margin : 0 0 1em; /* 中央配置指定を上書き 左から transition */
}
/* //_}@modern */

/* //_{@ie5win */
.box .jL img {
    clear   : both;
    margin  : 0 0 1em;
}
/* //_}@ie5win */

//
.pica:focus, .pica:active {
    @include highContrast {
        outline : 0;
    }
}
.pica img {
    display : block;
}