#jF {
    background : $COLOR_BdS_fill;

    /* //_{@modern */
        /* http://blog.webcreativepark.net/2012/10/19-161432.html */
        -webkit-backface-visibility : hidden;
           -moz-backface-visibility : hidden;
                backface-visibility : hidden;
    /* //_}@modern */
}