@if( $Option_blog2slide ){
    @if( $UA_Modern ){
        ##{$COMMON_BLOG_2_SLIDE__ID_START} button {
            @include responsive-horizontal-margin(1, 1em, 1em, true);
        }

        ##{$COMMON_BLOG_2_SLIDE__ID_ROOT} {
            margin   : 0 auto;
            overflow : auto;
        }

        @include css-hack(onlyIE10To11){
            ##{$COMMON_BLOG_2_SLIDE__ID_ROOT}:-ms-fullscreen {
                background : $COLOR_Light_fill;
            }
        }

            ##{$COMMON_BLOG_2_SLIDE__ID_ROOT}>div {
                height    : 100%;
                width     : 98%;
                max-width : $PC_MAX_WIDTH_EM * 1.5;
                display   : table;
                margin    : auto;
            }
                ##{$COMMON_BLOG_2_SLIDE__ID_ROOT}>div>* {
                    display : none;
                }

                ##{$COMMON_BLOG_2_SLIDE__ID_CURRENT} {
                    font-size      : 2em;
                    display        : table-cell !important;
                    vertical-align : middle;
                }
                h1##{$COMMON_BLOG_2_SLIDE__ID_CURRENT} {
                    font-size : 4em;
                }

        /*  WSXGA
        --------------------------------------------------------------------------------------*/
        @include media(WSXGA) {
            ##{$COMMON_BLOG_2_SLIDE__ID_ROOT} {
                -webkit-column-count : 1;
                   -moz-column-count : 1;
                        column-count : 1;
            }
        }
    }
}