// https://github.com/Modernizr/Modernizr/blob/master/feature-detects/css/generatedcontent.js
@if( $UA_Modern ){
    ##{$COMMON_ELEMENT_ID_TEST_CSS_GENERATED_CONTENT} {
        font       : 0/0 a;
    }
    ##{$COMMON_ELEMENT_ID_TEST_CSS_GENERATED_CONTENT}:after {
        content    : ':)';
        visibility : hidden;
        font       : 7px/1 a
    }
}