/*  PicaThumbnail
--------------------------------------------------------------------------------------*/
@include media(forced_colors_native_or_fallback){
    @if( $CANUSE_OUTLINE ){
        .jsPica {
            @include active-focus-pseudo-class{
                outline : 0;
            }
        }
    }
}

.jsPica img,
.jsCap { /* onload 時にアニメーションしないように .caption に .jsCap を付ける。アニメを抑止しないと offsetWidth の取得で誤る。 */
    @if( $UA_Modern ){
        /* clean-css ignore:start */
        -webkit-transition-property : width, margin;
                 -webkit-transition :       0.3s ease-in;
        /* clean-css ignore:end */
                    -moz-transition : width 0.3s ease-in, margin 0.3s ease-in;
                      -o-transition : width 0.3s ease-in, margin 0.3s ease-in;
                         transition : width 0.3s ease-in, margin 0.3s ease-in;
    }
}

.jsPica {
    /* clean-css ignore:start */
    @if( $UA_Modern ){
        cursor : -webkit-zoom-in;
    }
    @if( $UA_Modern or $UA_Gecko19 ){ // Gecko 1.4+
        cursor : -moz-zoom-in;
    }
    @if( $UA_Modern ){
        cursor : zoom-in;
    }
    /* clean-css ignore:end */
}
.jsPicaLarge {
    margin : 0 0 1em;
    /* clean-css ignore:start */
    @if( $UA_Modern ){
        cursor : -webkit-zoom-out;
    }
    @if( $UA_Modern or $UA_Gecko19 ){ // Gecko 1.4+
        cursor : -moz-zoom-out;
    }
    @if( $UA_Modern ){
        cursor : zoom-out;
    }
    /* clean-css ignore:end */
}

    .jsPicaLarge img {
        width  : 100%;
        height : auto;
        @if( $CANUSE_MAX_AND_MIN_SIZES ){
            max-width : 100%;
        }
        @if( $CANUSE_MARGIN_AUTO ){
            margin : 0 auto; /* auto は中央配置で transition させるため */
        } @else {
            margin : 0;
        }
        @include box-sizing(border-box);
    }
        /* box.scss の @media ブロックを上書きするために詳細度を上げる */
        .box .jsPicaLarge img {
            @if( $UA_Modern ){
                float  : none; /* 無いと続くテキストの1文字目が消える Win10 + Firefox58 */
                margin : 0; /* 中央配置指定を上書き 左から transition */
            }
        }

    .jsCapLarge {
        @if( $CANUSE_MARGIN_AUTO ){
            margin : 0 auto 1em; /* auto は中央配置で transition させるため */
        } @else {
            margin : 0 0 1em;
        }
        a {
            margin : 0 0 0.5em; // .caption img {margin : 0 0 0.5em} の替わり
        }
    }
        div .box .jsCapLarge {
            @if( $CANUSE_CSS_MEDIA_QUERY ){
                float : none;
                @if( $UA_Modern ){
                    margin : 0 0 1em; /* 中央配置指定を上書き 左から transition */
                }
            }
        }

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    @if( $UA_Modern ){ // アニメーション用の指定
        .box .jsPicaLarge img {
            margin : 0 auto; /* 左配置指定を上書き 中央から transition */
        }
        div .box .jsCapLarge {
            margin : 0 auto 1em; /* 左配置指定を上書き 中央から transition */
        }
    }
}

@if( $CANUSE_BOX_SIZING == false and $BORDER_BOX_ALLWAYS == false ){
    /* box-sizing が使えないための処置 a.jsPicaLarge 側でアウトラインを表示 */
    .jsPicaLarge {
        display : block;
        clear   : both; /* ギャラリーでの回り込みの解除 */
        padding : #{$BORDER_WIDTH_OF_LINK_WITH_IMAGE}px;
        @if( $UA_IE7 or $UA_IE6 ){
            zoom : 1;
        }
        img {
            border-width : 0;
        }
        &:hover {
            top : 2px;
            img {
                top : 0;
            }
        }
    }
}

@if( $UA_IE55 or $UA_IE5  ){
    .jsPica {
        display : block; /* この指定が無いとギャラリーで他の画像に隠れる */
    }
    .box .jsPica {
        float : left;
    }
    .box .jsPica img {
        margin : 0 0.5em 1em 0;
    }
    @if( $UA_IE5  ){
        .jsPicaLarge:active {
            background : none !important; /* フォーカス時の塗りが汚いので a:active の塗りを外す */
        }
    }
    .jsPicaLarge img,
    .jsCapLarge {
        clear : both; /* ギャラリーでの回り込みの解除 */
    }
}