@if( $Option_mobileOnly == false ){
    @if( $UA_Modern ){
        @include media(pc) {
            #jsSidebarFixer {
                /* http://blog.webcreativepark.net/2012/10/19-161432.html */
                -webkit-backface-visibility : hidden;
                   -moz-backface-visibility : hidden;
                        backface-visibility : hidden;
                /* clean-css ignore:start */
                -webkit-transition-property : transform;
                -webkit-transition          :           0.3s ease-in;
                /* clean-css ignore:end */
                   -moz-transition          : transform 0.3s ease-in;
                     -o-transition          : transform 0.3s ease-in;
                        transition          : transform 0.3s ease-in;
            }
            /* :hover で色を変えてスクロール可能であることを知らせる */
            #jsSidebarFixer1:hover *, #jsSidebarFixer2:hover * {
                border-color : $COLOR_Light_text;
            }
            h2 {
                @include animate-colors;
            }
        }
        @media (min-width: #{1em * math.div($MEDIAQUERY_TABLET_MAX_PX + 1, 16)}) and (prefers-color-scheme:dark) {
            #jsSidebarFixer1:hover *, #jsSidebarFixer2:hover * {
                border-color : $COLOR_Ribbon_text;
            }
        }
    }
    @if( $IS_NOT_IE ){
        #jsSide {
            position : relative;
        }
        .lW {
            @if( $IS_LTE_GECKO09 or $UA_Gecko12 ){
                overflow : visible;
                @if( $UA_Gecko12 ){
                    @include css-hack(gecko120To121) {
                        overflow : hidden; /* override Gecko 1.2~ */
                    }
                }
            } @else {
                overflow : hidden;
            }
        }
    }
    @if( $IS_Opera7x ){
        #jsSidebarFixer {
            position : relative; /* for Opera ~7.27, absolute が不正 */
        }
    }
    @if( $UA_Modern or $IS_Opera7x or $UA_Opera8 ){
        #jsMain {
            position : relative; /* for Opera <9, relativeが無いと位置が取れない, IE10~11, EdheHTML18 でも必要 */
        }
    }

    @if( $UA_IE9 ){
        // sidebar が header, footer に重なる問題の解決
        .lS {
            overflow : hidden;
        }
    }
    @if( $UA_IE7 ){
        .lW {
            // sidebar が header, footer に重なる問題の解決
            // https://klutche.org/archives/1061/
            // 【CSS】IE7の野郎でoverflow:auto内のposition:relative要素がはみ出るバグの対処法
            position : relative;
        }
    }
    @if( $IS_LTE_WIN_IE8 ){
        #jsMain, #jsSide {
            position : relative; /* ieではrelativeが無いと位置が取れない、だったかな？ */
        }
    }
    @if( $IS_LTE_WIN_IE7 ){
        /**
         * フォーカス要素のサイドバー上の y 座標の取得に offsetTop を使っているが hasLayout フラグが立っていないと
         * 文書上の y 座標が返る問題。
         * 
         *  offsetTop/offsetLeft/offsetParentの闇
         *    https://susie-t.hatenadiary.org/entry/20061004/1159942798
         *    > つまりIEには、offsetParentになる要素の条件について以下があるということです。
         *    > Y対象要素がposition指定なし(またはstatic)のとき、ノードツリー上方で直近のwidthもしくはheightが指定されている要素。
         *
         *  hasLayout
         *    http://zero.css-happylife.com/property/haslayout.shtml
         *    > 尚、body, img, object, hr, input, button, textarea, table, tr, th, td, frameset, frame, iframe, marqueeなどは
         *    > 「true」で固定になっているため変更できません。
         */
        #jsSidebarFixer, #jsSidebarFixer div, #jsSidebarFixer a {
            @if( $UA_IE5 ){
                height : 1%;
            } @else {
                zoom : 1;
            }
        }
    }
}