/* .lX
 *    .lXi
 * .lW
 *   .lM
 *     .lMi|.lMz
 *        .lMf + .lMh
 *        .lM1 + .lM2
 *   .lS
 *     .lSi
 *        .lS1, ls2
 *
 * 1. display:table-layout
 *    * ie8&9
 * 2. float-layout
 *    * 上記以外のブラウザ 
 *
--------------------------------------------------------------------------------------*/

/* //_{^+mobileOnly */
    /*  wrapper
    --------------------------------------------------------------------------------------*/
    .lW {
    /* //_{^#ie89 */
        @include clearfix;
    /* //_}^#ie89 */
    }

    .lW, .lX {
        width     : 98%;
        /* //_{#can-max-min */
        max-width : $PC_MAX_WIDTH_EM;
        /* //_}#can-max-min */
        /* //_{#can-margin-auto */
        margin    : 0 auto;
        /* //_}#can-margin-auto */
    }

    /*  main
    --------------------------------------------------------------------------------------*/    
        .lM {
            /* //_{^#ie89 */
            width : 100% * ( $PC_MAIN_COLUMN_RATIO - $PC_COLUMN_GAP_RATIO );
            float : left;
            /* //_}^#ie89 */
        }
            .lMi, .lMz {
                margin-left  : 100% * $PC_COLUMN_GAP_RATIO / $PC_MAIN_COLUMN_RATIO;
            }

        /* //_{@ie5win,@ie55 */
            .lM { overflow-x : hidden; } /* カラム落ち対策 */
        /* //_}@ie5win,@ie55 */

    /*  sub
    --------------------------------------------------------------------------------------*/
        .lS {
            width : 100% * $PC_SUB_COLUMN_RATIO;
            /* //_{^#ie89 */
            float : right;
            /* //_}^#ie89 */
        }
            .lSi {
                /* //_{@ie6 */
                width  : 82%;
                /* //_}@ie6 */
                /* //_{#ie55- */
                width  : 100%;
                /* //_}#ie55- */
                margin : 0 100% * $PC_COLUMN_GAP_RATIO / $PC_SUB_COLUMN_RATIO;
            }
    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        .lSi {
            /* //_{@ie6 */
            width  : 100%;
            /* //_}@ie6 */
        }
    }

    /*  x-column
    --------------------------------------------------------------------------------------*/
        .lXi {
            margin : 0 100% * $PC_COLUMN_GAP_RATIO;
        }
    /*
    * http://geckotang.tumblr.com/post/134453564281/ac2015-css-2
    */

    /* //_{#ie89
     *  float-layout -> table-layout
    --------------------------------------------------------------------------------------*/
    .lW {
        display      : table;
        table-layout : fixed;
    }
        .lM, .lS {
            display        : table-cell;
            vertical-align : top; /* Safari 3.2, ie8 で大切 */
        }
        .lM {
            width : 100% * $PC_MAIN_COLUMN_RATIO;
        }
            .lMi, .lMz {
                margin-right : 100% * $PC_COLUMN_GAP_RATIO / $PC_MAIN_COLUMN_RATIO;
            }
    /* //_}#ie89 */
/* //_}^+mobileOnly */

/*  WQXGA
--------------------------------------------------------------------------------------*/
@include media(WQXGA) {
    .lW, .lX {
        width     : 96%;
        max-width : $WQXGA_MAX_WIDTH_EM;
    }
        .lM {
            width : 100% * $WQXGA_MAIN_COLUMN_RATIO;
        }
            .lMi, .lMz {
                margin : 0 $WQXGA_COLUMN_GAP_EM 0 #{$WQXGA_COLUMN_GAP_PCT / $WQXGA_MAIN_COLUMN_RATIO};
            }
                .lMh {
                    margin-left  : 50%;
                    padding-left : $WQXGA_COLUMN_GAP_EM / 2;
                }
        .lS {
            width : 100% * $WQXGA_SUB_COLUMN_RATIO;
        }
            .lSi {
                margin : 0 $WQXGA_COLUMN_GAP_PCT / $WQXGA_SUB_COLUMN_RATIO;
            }
        .lXi {
            margin : 0 $WQXGA_COLUMN_GAP_PCT;
        }
}

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .lW, .lX {
        width     : 96%;
        max-width : $WSXGA_MAX_WIDTH_EM;
    }
        .lM {
            width : 100% * $WSXGA_MAIN_COLUMN_RATIO;
        }
            .lMi, .lMz {
                margin : 0 $WSXGA_COLUMN_GAP_EM 0 $WSXGA_COLUMN_GAP_PCT / $WSXGA_MAIN_COLUMN_RATIO;
            }
                .lMh {
                    margin-left  : 50%;
                    padding-left : $WSXGA_COLUMN_GAP_EM / 2;
                }
        .lS {
            width : 100% * $WSXGA_SUB_COLUMN_RATIO;
        }
            .lSi {
                margin : 0 $WSXGA_COLUMN_GAP_PCT / $WSXGA_SUB_COLUMN_RATIO;
            }
        .lXi {
            margin : 0 $WSXGA_COLUMN_GAP_PCT;
        }
}

/*  Tablet & Print
--------------------------------------------------------------------------------------*/
/* //_{^+mobileOnly */
@include media(tablet_print) {/* float-layout -> table-layout も併せて変更 */
    .lW, .lX {
        width     : 100%;
        /* //_{#can-max-min */
        max-width : 100%;
        /* //_}#can-max-min */
    }
    .lW {
        /* //_{@ie8,@ie9 */
        display   : block;
        /* //_}@ie8,@ie9 */
    }
        .lM, .lS {
            float   : none;
        /* //_{^@ie9 */
            width   : auto;
        /* //_}^@ie9 */
        /* //_{@ie9 */
            display      : table; /* 親要素にmarginが継承されてしまうためArticleBodyの塗りが ie9,WP7.8 で乱れる. */
            width        : 100%;  /* auto は不可 */
            table-layout : fixed; /* display:table にすると max-width が効かなくなる, fixed で改善する https://goo.gl/BmuNfG */
        /* //_}@ie9 */
        }
}
/* //_}^+mobileOnly */

/* //_{+mobileOnly
--------------------------------------------------------------------------------------*/
    .lW {
        overflow : hidden; /* この指定が無いと塗りがはみ出る */
    }
        .lM, .lS {
        /* //_{@ie9 */
            display      : table; /* 親要素にmarginが継承されてしまうためArticleBodyの塗りが ie9,WP7.8 で乱れる. */
            width        : 100%;  /* auto は不可 */
            table-layout : fixed; /* display:table にすると max-width が効かなくなる, fixed で改善する https://goo.gl/BmuNfG */
        /* //_}@ie9 */
        }
            .lMi, .lMz, .lSi, .lXi {
                /* //_{#can-max-min */
                max-width : $TABLET_MAX_WIDTH_EM;
                /* //_}#can-max-min */
            }
/* //_}+mobileOnly */

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    .lMz {
        padding : 0;
    /* //_{#can-margin-auto */
        margin    : 0 auto;
    /* //_}#can-margin-auto */
    }
    .lMi, .lMz .lMh, .lSi, .lXi {
        padding : 0 $TABLET_H_SPACE;
    /* //_{#can-margin-auto */
        margin  : 0 auto;
    /* //_}#can-margin-auto */
    }
}

/*  PHABLET
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .lMi, .lMz .lMh, .lSi, .lXi {
        padding : 0 $PHABLET_H_SPACE;
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .lMi, .lMz .lMh, .lSi, .lXi {
        padding : 0 $PHONE_H_SPACE;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .lMi, .lMz .lMh, .lSi, .lXi {
        padding : 0;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    #lH .lS, #lB .lS, #lF .lW {
        display : none;
    }

    .lMi, .lMz, .lSi, .lXi {
        /* //_{^+mobileOnly */
        padding : 0;
        margin  : 0;
        /* //_}^+mobileOnly */

        /* //_{+mobileOnly */
            /* //_{#can-max-min */
                max-width : 100%;
            /* //_}#can-max-min */
        /* //_}+mobileOnly */
    }
}