/* max-width for ie6 + ie5.5
 *   http://css-eblog.com/csstechnique/max-width-for-ie6.html
 *
 *  <!--[if lte IE 6]><div><div class="e6L"></div><div class="e6R"></div><div class="e6C"><![endif]-->
 *    <div class="lW" />
 *  <!--[if lte IE 6]></div><br clear="all"></div><![endif]-->
--------------------------------------------------------------------------------------*/
@if( $UA_IE6 or $UA_IE55 ){
    .e6L {
        float        : left;
        height       : 1px;
        width        : 50%;
        margin-right : math.div(-$PC-MAX-WIDTH-EM, 2);
        @if( $Option_mobileOnly ){
            margin-right : math.div(-$TABLET-MAX-WIDTH-EM, 2);
        }
    }
    .e6R {
        float       : right;
        height      : 1px;
        width       : 50%;
        margin-left : math.div(-$PC-MAX-WIDTH-EM, 2);
        @if( $Option_mobileOnly ){
            margin-left : math.div(-$TABLET-MAX-WIDTH-EM, 2);
        }
    }
    .e6C {
        overflow : hidden;
        margin   : 0 !important;
        float    : left;
    }
        .e6C .lW {
            overflow : hidden;
            width    : 100%;
        }
        .e6BR {
            clear         : both;
            height        : 1px;
            line-height   : 1px;
            display       : block;
            margin-bottom : -1px;
        }

    #lH
    /* //_{@ie55 */
    , #lB
    /* //_}@ie55 */
    {
        width : 100%;
    }
}

/* ie5 専用
 * MaxWidthFix で作られたタグ(div.e6C)と div.lW を組み合わせてセンタリングだけを行う.
 * http://blog.xicolotic.info/css/advent-calendar-2015-css1/
 */
@if( $UA_IE5 ){
    .e6L, .e6R, .e6BR {
        display : none;
    }
    .e6C {
        text-align : center;
    }
    .lW, .lX {
        text-align : left;
    }
}