    /* //_{@gck121 */ /* Gecko 1.0.2 で発生する隙間を回避するために必要なものだけに指定する */
    #lB .lMi, #lF
    /* //_}@gck121 */
    .lMi {
        @include clearfix;
    }
        .lM1 {
            float : left;
        }
        .lM2 {
            float : right;
        }
    @if( $Option_mobileOnly == false ){
        .lM1 {
            width : 50% - 100% * ($PC_COLUMN_GAP_RATIO / ( $PC_MAIN_COLUMN_RATIO - $PC_COLUMN_GAP_RATIO * 2 )) / 2;
        }
        .lM2 {
            width : 50% - 100% * ($PC_COLUMN_GAP_RATIO / ( $PC_MAIN_COLUMN_RATIO - $PC_COLUMN_GAP_RATIO * 2 )) / 2;
        }
    }

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    .lM1 {
        width : 50% - $TABLET_H_SPACE * 0.5;
    }
    .lM2 {
        width : 50% - $TABLET_H_SPACE * 0.5;
    }
}
    
/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
/* clear 2column */
    .lM1, .lM2 {
        float : none;
        width : auto;
    }
}