/* //_{@legacy */ /* Gecko 1.0.2 で発生する隙間を回避するために必要なものだけに指定する */
#lB .lSi, #lF
/* //_}@legacy */
.lSi {
    @include clearfix;
}

/*  WQXGA
--------------------------------------------------------------------------------------*/
@include media(WQXGA) {
    .lS1 {
        float : left;
        width : 50% - ($WQXGA_COLUMN_GAP_PCT / $WQXGA_SUB_COLUMN_RATIO) * 0.5;
    }
    .lS2 {
        float : right;
        width : 50% - ($WQXGA_COLUMN_GAP_PCT / $WQXGA_SUB_COLUMN_RATIO) * 0.5;
    }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    #lB .lS {
        border-width : 1px 0 0;
    }
        .lS1 {
            float : left;
            width : 50% - $TABLET_H_SPACE * 0.5;
        }
        .lS2 {
            float : right;
            width : 50% - $TABLET_H_SPACE * 0.5;
        }
}

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .lS1, .lS2 {
        float        : none;
        width        : auto;
        margin-left  : 0;
        margin-right : 0;
    }
}