@mixin hMargin($ratio, $marginTop, $marginBottom, $parentHasMarginForPC : 0, $maxWidth : 0){
    /* //_{^+mobileOnly */
    @if 1 < $ratio {
        & {
            margin  : $marginTop 0 $marginBottom;
        }
    } @else if $parentHasMarginForPC == 1 {
        & {
            margin  : $marginTop 0 $marginBottom;
        }
    } @else {
        & {
            margin  : $marginTop 1em $marginBottom;
        } 
    }
    /* //_}^+mobileOnly */

    @include media(tablet_print) {
        & {
            margin  : $marginTop #{$TABLET_H_SPACE / $ratio} $marginBottom;
        }
    }

    @include media(phablet) {
        & {
            margin  : $marginTop #{$PHABLET_H_SPACE / $ratio} $marginBottom;
        }
    }

    @include media(phone) {
        & {
            margin  : $marginTop #{$PHONE_H_SPACE / $ratio} $marginBottom;
        }
    }

    @include media(watch) {
        & {
            margin  : $marginTop 0 $marginBottom;
        }
    }
}


h4, h5, h6 {
    @include hMargin(2, 1.5em, 0.8em);
}

p, pre, ul, ol, dl,
table,
img, iframe {
    @include hMargin(1, 1em, 1em);
}

caption {
    @include hMargin(1, 1.5em, #{$BASE_LINE_HEIGHT_EM - 1.2em}); // $WATCH_LINE_HEIGHT
}

img, iframe {
/* //_{#can-max-min */
    max-width : 100%;

    @include media(tablet_print) {
        & {
            max-width  : #{100% - $TABLET_H_SPACE * 2};
        }
    }
    @include media(phablet) {
        & {
            max-width  : #{100% - $PHABLET_H_SPACE * 2};
        }
    }
    @include media(phone) {
        & {
            max-width  : #{100% - $PHONE_H_SPACE * 2};
        }
    }
    @include media(watch) {
        & {
            max-width  : 100%;
        }
    }
/* //_}#can-max-min */
}

tr blockquote {
    p, pre {
        @include hMargin(1, 1em, 1em);
    }
}

hr {
    @include hMargin(.5, 2em, 2em);
}

@mixin hPadding($ratio, $paddingTop, $paddingBottom){
    & {
        padding : $paddingTop 1em / $ratio $paddingBottom;
    }
    li &, dl &, tr &, .note & {
        padding : $paddingTop 1em / $ratio $paddingBottom;
    }

    @include media(tablet_print) {
        &, .note & {
            padding : $paddingTop #{$TABLET_H_SPACE} $paddingBottom;
        }
    }

    @include media(phablet) {
        &, .note & {
            padding : $paddingTop #{$PHABLET_H_SPACE} $paddingBottom;
        }
    }

    @include media(phone) {
        &, .note & {
            padding : $paddingTop #{$PHONE_H_SPACE} $paddingBottom;
        }
    }

    @include media(watch) {
        &, .note & {
            padding : $paddingTop 2px $paddingBottom;
        }
    }   
}