
/** //_{+simpleHeader **/
    #lH .lMi,  /* .lM に対して padding : 1em 0; とすると IE で h1 の文字が消える */
    #lH .lSi { /* .lSi に余白が無いと検索ボックスの枠線が消える */ 
        padding-top    : 1em;
        /* //_{^@ie5win */
        padding-bottom : 1em;
        /* //_}^@ie5win */
    }

    #lE, #lF {
        border-width : 1px 0 0;
    }

    /*  Tablet
    --------------------------------------------------------------------------------------*/
    @include media(tablet) {
        #lH .lMi {
            padding-bottom : 0;
        }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        #lH {
            font-size : 0.875em;
        }
        #lH .lMi {
            padding : .5em 0;
        }
    }
/** //_}+simpleHeader **/
