/** //_{+blog **/
/* [ArticleFooter Item] Pager
 *
 * .Pager
 *   span.Pager-next | span.Pager-top | span.Pager-prev
 *     a
 *       i
--------------------------------------------------------------------------------------*/
/*  ◀ | ▶
--------------------------------------------------------------------------------------*/
.Pager {
    @include article-footer-item;

    position    : relative;
    color       : $COLOR_Default_fill; /* , を消す */
    height      : 4em;

    @include highContrast {
        text-align : center;
        height     : auto;
        padding    : 1em 0;
    }
}
    .Pager-next { left  :   0; }
    .Pager-top  { left  : 34%; text-align : center; }
    .Pager-prev { right :   0; text-align : right; }

        .Pager span {
            position      : absolute;
            top           : 1em;
            display       : block;
            width         : 32%;
            /* http://tacamy.hatenablog.com/entry/2014/02/19/141948 */
            overflow      : hidden;
            white-space   : nowrap;
            text-overflow : ellipsis;

            @include highContrast {
                position : static;
                display  : inline;
                /* //_{@ie55,@ie5win */
                width    : auto;
                /* //_}@ie55,@ie5win */
            }
        }
            .Pager a { /* この指定が無いとフォーカス時の塗りが汚い */
                /* //_{@ie7,@ie6,@ie55 */
                zoom   : 1;
                /* //_}@ie7,@ie6,@ie55 */
                /* //_{@ie5win */
                height : $BASE_LINE_HEIGHT_EM;
                /* //_}@ie5win */
            }
                .Pager i { /* i を絶対配置にすると、Opera mini で表示されない */
                    /* //_{#can-inline-block */
                    display      : inline-block;
                    /* //_}#can-inline-block */
                    /* //_{@ie6,@ie7,@ie55,@ie5win */
                    height       : 0;
                    width        : 0;
                    /* //_}@ie6,@ie7,@ie55,@ie5win */
                    /* //_{@ie55,@ie5win */
                    line-height  : 0;
                    /* //_}@ie55,@ie5win */

                /* //_{#ie7-win */
                    position     : relative;
                    /* //_{@ie7 */
                        zoom     : 1;
                    /* //_}@ie7 */                    
                    /* //_{@ie6,@ie7 */
                        top      : -.5em;
                    /* //_}@ie6,@ie7 */
                    /* //_{@ie55,@ie5win */
                        top      : .5em;
                    /* //_}@ie55,@ie5win */
                /* //_}#ie7-win */

                    @include highContrast {
                        display : none;
                    }
                }
                .Pager-next i {
                    border-width : 0.5em 0.7em 0.5em 0;
                    margin-right : 0.5em;
                }
                .Pager-prev i {
                    border-width : 0.5em 0 0.5em 0.7em;
                    margin-left  : 0.5em;
                }
                .Pager i {
                    /* //_{#can-transparent */
                    border-color : transparent $COLOR_Default_casual_text;
                    /* //_}#can-transparent */
                
                    /* //_{^#can-transparent */
                    border-color : $COLOR_Default_fill $COLOR_Default_casual_text;
                    /* //_}^#can-transparent */
                    @include highContrastForIE10ToEdge {
                        border-top-color    : transparent;
                        border-bottom-color : transparent;
                    }
                }
                .Pager a:active i
                /* //_{#can-focus-psedo-class */
                , .Pager :focus i
                /* //_}#can-focus-psedo-class */
                {
                    /* //_{#can-transparent */
                    border-color : transparent #fff;
                    /* //_}#can-transparent */
                
                    /* //_{^#can-transparent */
                    border-color : $COLOR_ACCENT #fff;
                    /* //_}^#can-transparent */
                }

                .Pager-top i {
                    border-width : 0 0.45em 0.9em;
                    margin-right : 0.5em;

                    /* //_{#can-transparent */
                    border-color : $COLOR_Default_casual_text transparent;
                    /* //_}#can-transparent */

                    /* //_{^#can-transparent */
                    border-color : $COLOR_Default_casual_text $COLOR_Default_fill;
                    /* //_}^#can-transparent */
                    @include highContrastForIE10ToEdge {
                        border-color : inherit transparent;
                    }
                }
                .Pager-top a:active i
                /* //_{#can-focus-psedo-class */
                , .Pager-top :focus i
                /* //_}#can-focus-psedo-class */
                {
                    /* //_{#can-transparent */
                    border-color : #fff transparent;
                    /* //_}#can-transparent */
                
                    /* //_{^#can-transparent */
                    border-color : #fff $COLOR_ACCENT;
                    /* //_}^#can-transparent */
                }

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .Pager-next i, .Pager-top i {
        margin-right : .2em;
    }
    .Pager-prev i {
        margin-left : .2em;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    .Pager {
        color : $COLOR_Watch_fill; /* , を消す */
    }
    .Pager i {
        border-color : transparent $COLOR_Watch_casual_text;
    }
    .Pager-top i {
        border-color : $COLOR_Watch_casual_text transparent;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .Pager {
        display : none;
    }
}
/** //_}+blog **/