/* =====================================================================================
 * //_{+SocialBtns
 */

/* [ArticleFooter Item] SocialBtns
 *
 * .SocialBtns
 *   a
--------------------------------------------------------------------------------------*/
.SocialBtns {
    @include article-footer-item;

    padding       : 1em 0 0.5em;
    /* //_{#ie7-win */
    padding      : 1em 0;
    /* //_}#ie7-win */
    color         : $COLOR_BdM_fill; /* , を消す */
}

    .SocialBtns a {
        @include noUnderLineAlways;

    /* //_{@modern,@ie9,@ie8 */
        display      : inline-block;
    /* //_}@modern,@ie9,@ie8 */
        padding      : .5em 1em;
        line-height  : 1;
        border-width : 1px;
        border-style : solid;
        margin       : 0 0 0.5em;
        cursor       : pointer;
    }

.SocialBtns {
    .tw {
        background   : #1B95E0;
        border-color : #1B95E0;
        color        : #1B95E0;
    }
    .fb {
        background   : #3B5999;
        border-color : #3B5999;
        color        : #3B5999;
    }
    .gp {
        background   : #dd4b39;
        border-color : #dd4b39;
        color        : #dd4b39;
    }
    .hb {
        background   : #008FDE;
        border-color : #008FDE;
        color        : #008FDE;
    }
    .pt {
        background   : #BD081C;
        border-color : #BD081C;
        color        : #BD081C;
    }
    .pk {
        background   : #EE4056;
        border-color : #EE4056;
        color        : #EE4056;
    }
    .ln {
        background   : #00C300;
        border-color : #00C300;
        color        : #00C300;
    }
}
    .SocialBtns a:link { /* a は詳細度を上げるため */
        background : $COLOR_BdM_fill;
    }
    .SocialBtns a:visited {
        color      : #fff;
    }

    .SocialBtns a:link:hover, .SocialBtns a:visited:hover {
        background : $COLOR_ACCENT;
        color      : #fff;
        @include highContrast {
            text-decoration : underline !important;
        }
    }
    .SocialBtns a:link:active, .SocialBtns a:visited:active,
    .SocialBtns a:link:focus , .SocialBtns a:visited:focus {
        background : $COLOR_BdM_text;
    }

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    .SocialBtns {
        text-align : center;
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .SocialBtns {
        line-height : 0;
    }
    .SocialBtns a {
        margin      : 0.5em 0;
    }
}

/*  Watch 
-------------------------------------------------------------------------------------*/
@include media(watch) {
    .SocialBtns {
        color        : $COLOR_WTC_fill; /* , を消す */
    }
    .SocialBtns a:link {
        background   : $COLOR_WTC_fill;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .SocialBtns {
        display : none;
    }
}
/* //_}+SocialBtns */
