@use "sass:list";
@use "sass:map";
@use "sass:string";
@use "sass:meta";

@use "../../01_var/ua" as ua;
@use "../../01_var/color" as color;
@use "../../01_var/canuse" as canuse;

@use "../mq" as *;
@use "../rgb-to-hex-color" as *;

@if ua.$Modern {
    :root {
        --color-fill          : #{color.$Light_fill};
        --color-text          : #{color.$Light_text};
        --color-casual-fill   : #{color.$Light_casual_fill};
        --color-casual-text   : #{color.$Light_casual_text};
        --color-accent        : #{color.$Light_accent};
        --color-link          : #{color.$Light_link};
        --color-visited       : #{color.$Light_visited};
        --color-hover         : #{color.$Light_hover};
        --color-visited-hover : #{color.$Light_visited_hover};
        @media only screen and (prefers-contrast:more) {
            --color-text        : #000;
            --color-casual-fill : #{rgbToHexColor(color.mix(color.$Light_casual_fill, color.$Light_casual_text, 10%))};
        }

        @media only screen and (prefers-color-scheme:dark) {
            --color-fill          : #{color.$Dark_fill};
            --color-text          : #{color.$Dark_text};
            --color-casual-fill   : #{color.$Dark_casual_fill};
            --color-casual-text   : #{color.$Dark_casual_text};
            @if color.$Light_accent != color.$Dark_accent {
                --color-accent    : #{color.$Dark_accent};
            }
            --color-link          : #{color.$Dark_link};
            --color-visited       : #{color.$Dark_visited};
            --color-hover         : #{color.$Dark_hover};
            --color-visited-hover : #{color.$Dark_visited_hover};
            @media only screen and (prefers-contrast:more) {
                --color-text        : #fff;
                --color-casual-fill : #{rgbToHexColor(color.mix(color.$Dark_casual_fill, color.$Dark_casual_text, 10%))};
            }
        }
    }
}

@function -var($c) {
    @if $c == color.$Light_fill {
        @return var(--color-fill);
    } @else if $c == color.$Light_text {
        @return var(--color-text);
    } @else if $c == color.$Light_casual_fill {
        @return var(--color-casual-fill);
    } @else if $c == color.$Light_casual_text {
        @return var(--color-casual-text);
    } @else if $c == color.$Light_accent {
        @return var(--color-accent);
    } @else if $c == color.$Light_link {
        @return var(--color-link);
    } @else if $c == color.$Light_visited {
        @return var(--color-visited);
    } @else if $c == color.$Light_hover {
        @return var(--color-hover);
    } @else if $c == color.$Light_visited_hover {
        @return var(--color-visited-hover);
    // dark
    } @else if $c == color.$Dark_fill {
        @return var(--color-fill);
    } @else if $c == color.$Dark_text {
        @return var(--color-text);
    } @else if $c == color.$Dark_casual_fill {
        @return var(--color-casual-fill);
    } @else if $c == color.$Dark_casual_text {
        @return var(--color-casual-text);
    } @else if $c == color.$Dark_accent {
        @return var(--color-accent);
    } @else if $c == color.$Dark_link {
        @return var(--color-link);
    } @else if $c == color.$Dark_visited {
        @return var(--color-visited);
    } @else if $c == color.$Dark_hover {
        @return var(--color-hover);
    } @else if $c == color.$Dark_visited_hover {
        @return var(--color-visited-hover);
    } @else if $c == transparent {
        @return transparent;
    } @else {
        @error "Responsive Text Color Error! @var: #{$c}";
    }
    @return false;
}

@function responsive-color-var($c) {
    @if ua.$Modern {
        $len: list.length($c);

        @if 1 < $len {
            $result: ();

            @for $i from 1 through $len {
                $v: list.nth($c, $i);

                @if meta.inspect($v) != "!important" {
                    $v: -var($v);

                    @if $v == false {
                        @error "Responsive Text Colors Error! var(): #{$c} - #{$v}";
                    }
                }
                $result: list.append($result, $v, space);
            }
            @return $result;
        }
        @return -var($c);
    }
    @return false;
}

@function -dark($c, $isSingle: false) {
    @if $c == color.$Light_fill {
        @return color.$Dark_fill;
    } @else if $c == color.$Light_text {
        @return color.$Dark_text;
    } @else if $c == color.$Light_casual_fill {
        @return color.$Dark_casual_fill;
    } @else if $c == color.$Light_casual_text {
        @return color.$Dark_casual_text;
    } @else if $c == color.$Light_accent {
        @if $isSingle == false or color.$Light_accent != color.$Dark_accent {
            @return color.$Dark_accent;
        }
    } @else if $c == color.$Light_link {
        @return color.$Dark_link;
    } @else if $c == color.$Light_visited {
        @return color.$Dark_visited;
    } @else if $c == color.$Light_hover {
        @return color.$Dark_hover;
    } @else if $c == color.$Light_visited_hover {
        @return color.$Dark_visited_hover;
    } @else if $c == transparent {
        @return transparent;
    }
    @return false;
}

@function responsive-color-dark($c) {
    @if canuse.$MEDIA_QUERY or ua.$Opera8 {
        $len: list.length($c);

        @if 1 < $len {
        // すべての要素が -dark() で変換できるかチェック
            $result: ();

            @for $i from 1 through $len {
                $v: list.nth($c, $i);

                @if meta.inspect($v) != "!important" {
                    $v: -dark($v);

                    @if $v == false {
                        @error "Responsive Text Colors Error! dark(): #{$c} - #{$v}";
                    }
                }
                $result: list.append($result, $v, space);
            }
            @return $result;
        }
        @return -dark($c, true);
    }
    @return false;
}

@function -print($c, $isSingle: false) {
    @if $c == color.$Light_fill {
        @if $isSingle == false or color.$Light_fill != color.$Print_fill {
            @return color.$Print_fill;
        }
    } @else if $c == color.$Light_text {
        @if $isSingle == false or color.$Light_text != color.$Print_text {
            @return color.$Print_text;
        }
    } @else if $c == color.$Light_casual_fill {
        @if $isSingle == false or color.$Light_casual_fill != color.$Print_casual_fill {
            @return color.$Print_casual_fill;
        }
    } @else if $c == color.$Light_casual_text {
        @if $isSingle == false or color.$Light_casual_text != color.$Print_casual_text {
            @return color.$Print_casual_text;
        }
    } @else if $c == color.$Light_accent {
        @if $isSingle == false or color.$Light_accent != color.$Print_accent {
            @return color.$Print_accent;
        }
    } @else if $c == color.$Light_link {
        @if $isSingle == false or color.$Light_link != color.$Print_link {
            @return color.$Print_link;
        }
    } @else if $c == color.$Light_visited {
        @if $isSingle == false or color.$Light_visited != color.$Print_visited {
            @return color.$Print_visited;
        }
    } @else if $c == color.$Light_hover {

    } @else if $c == color.$Light_visited_hover {

    } @else if $c == transparent {
        @return transparent;
    }
    @return false;
}

@function responsive-color-print($c) {
    $len: list.length($c);

    @if 1 < $len {
    // すべての要素が -dark() で変換できるかチェック
        $result: ();

        @for $i from 1 through $len {
            $v: list.nth($c, $i);

            @if meta.inspect($v) != "!important" {
                $v: -print($v);

                @if $v == false {
                    @error "Responsive Text Colors Error! print(): #{$c} - #{$v}";
                }
            }
            $result: list.append($result, $v, space);
        }
        @return $result;
    }
    @return -print($c, true);
}
