@media handheld,
screen,
projection,
tv {
  .lW,
  .lX {
    width: 98%;
    max-width: 70em
  }
  .baseColor {
    background: #f8fbf8
  }
  .lX {
    margin: 0 auto
  }
  .lXi {
    margin: 0 2.7%
  }
  .lW {
    margin: 0 auto;
    display: table;
    table-layout: fixed
  }
  .lM,
  .lS {
    display: table-cell;
    vertical-align: top
  }
  .lM {
    width: 70%
  }
  .lS {
    width: 30%
  }
  .lMi,
  .lMz {
    margin-left: 3.857%;
    margin-right: 3.857%
  }
  .lSi {
    margin: 0 9%
  }
}
@media only screen and (min-width:96em) {
  .lW,
  .lX {
    width: 96%;
    max-width: 108em
  }
}
@media only screen and (min-width:126em) {
  .lW,
  .lX {
    width: 94%;
    max-width: 150em
  }
}
@media handheld,
tv,
only screen and (max-width:953px) {
  .lW,
  .lX {
    width: 100%;
    max-width: 100%
  }
  .lM,
  .lS {
    width: auto
  }
  .lM,
  .lS,
  .lW {
    display: block
  }
}
@media handheld,
only screen and (prefers-color-scheme:dark),
only screen and (max-width:240px) {
  body {
    color: hsl(0,0%,93.333%)
  }
  .baseColor {
    background: hsl(0,0%,6.667%)
  }
}
html {
  font-size: 100%
}
body {
  margin: 0;
  height: 100%;
  background: #1a1a1a
}
pre {
  white-space: pre-wrap
}
.ribbon {
  color: #fff
}
.LinkList a,
.RichLink-sep a {
  display: block
}
.Header h1,
.h1 {
  font-size: 1.5em;
  margin: 0 .5em 0 0
}
.TxtNavi {
  text-align: right
}