@charset "UTF-8";
small,
sub,
sup {
  font-size: 75%
}
.SocialBtns .hb:active,
.SocialBtns .hb:focus,
.SocialBtns .ln:active,
.SocialBtns .ln:focus,
.SocialBtns .pk:active,
.SocialBtns .pk:focus,
.SocialBtns .tw:active,
.SocialBtns .tw:focus,
.baseColor .btn:active,
.baseColor .btn:focus,
a,
a img,
tbody th {
  border-color: #fdeeb7
}
a:active,
a:focus {
  background-color: #0d5bb5!important
}
blockquote .tl td,
blockquote .tl tfoot td,
blockquote .tl tfoot th,
blockquote .tl thead td,
blockquote .tl thead th,
blockquote blockquote,
blockquote hr,
h5,
h6,
table {
  border-color: #8a7322
}
.Comment div,
.Cover-meta,
.baseColor :link .RichLink-meta,
.baseColor :visited .RichLink-meta,
a,
h6 {
  color: #8a7322
}
.note .hscroll,
.tl td > :first-child,
dl .hscroll,
dl iframe,
dl img,
li .hscroll,
li iframe,
li img,
tr .hscroll,
tr iframe,
tr img,
tr ol,
tr ul {
  margin-top: 0
}
[type=submit],
tbody th {
  background: #e7d182
}
.AHead h1,
th {
  text-align: left
}
#jsSide,
.Cover-img,
.Magazine-main,
.Pager,
.Search,
kbd:hover,
sub,
sup {
  position: relative
}
.Magazine-date,
.aa {
  font-family: monospace
}
blockquote,
pre {
  padding: 1em
}
.Cover h2,
a:active code,
a:active var,
a:focus code,
a:focus var,
tbody :hover th {
  background: #0d5bb5
}
.links,
pre {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap
}
.tl td,
.tl th {
  vertical-align: top
}
.Cover img,
.caption,
iframe,
img {
  max-width: 100%
}
.Search .btn,
.lW {
  overflow: hidden
}
body,
input,
textarea {
  font-family: "-apple-system",BlinkMacSystemFont,"Avenir Next",Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","M+ 1p",sans-serif
}
code,
kbd,
samp,
var {
  font-family: SFMono-Regular,"Liberation Mono",Consolas,Meiryo,monospace
}
*,
blockquote :link img,
blockquote :visited img {
  border-color: #e7d182
}
.AHead-labels :active,
.AHead-labels :focus,
.Subscribe .atom:active,
.Subscribe .atom:focus,
.Subscribe .fl:active,
.Subscribe .fl:focus,
.Subscribe .rss:active,
.Subscribe .rss:focus,
.Subscribe .stm:active,
.Subscribe .stm:focus,
.btn:active,
.btn:focus,
.ribbon :link img,
.ribbon :visited img {
  border-color: #062241
}
a:active img,
a:focus img {
  border-color: #0d5bb5!important
}
:link:hover img,
:visited:hover img {
  position: relative;
  top: 2px
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important
}
.LinkList a:not([href]),
.RichLink-sep a:not([href]) {
  background: #06284e;
  color: #fdeeb7
}
.ribbon .LinkList a:not([href]),
.ribbon .RichLink-sep a:not([href]) {
  background: #fed33b;
  color: #062241
}
.ribbon .LinkList :link:hover,
.ribbon .LinkList :visited:hover,
.ribbon .RichLink-sep :link:hover,
.ribbon .RichLink-sep :visited:hover {
  background: #08366b;
  color: #fed33b
}
:active,
:focus {
  outline: 0
}
dt {
  font-weight: 700;
  margin-top: .7em
}
blockquote,
q {
  quotes: none
}
sub,
sup {
  line-height: 0;
  vertical-align: baseline
}
.Header,
.Header h1,
.aa,
input,
input.btn {
  line-height: 1
}
input,
textarea {
  font-size: 1em;
  margin: 0
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  height: auto
}
.btn,
input {
  height: 2.1em
}
cite,
code,
dfn,
em,
kbd,
q,
samp,
strong,
var {
  font-style: normal
}
.hscroll,
pre {
  margin: 1em 0
}
.BlogArchive :link:hover,
.BlogArchive :visited:hover,
.Label :link:hover,
.Label :visited:hover,
.aBodyRoot :link:hover,
.aBodyRoot :visited:hover,
.aBodyRoot a:active,
.aBodyRoot a:focus,
:link,
:visited,
a:focus,
ins {
  text-decoration: none
}
del {
  text-decoration: line-through
}
.AAuthor p,
.ADesc p,
.note .box,
dl .box,
form,
li .box,
tr .box {
  margin: 0
}
.links,
.mspacer,
blockquote,
dl,
iframe,
img,
ol,
p,
table,
tr blockquote p,
tr blockquote pre,
ul {
  margin: 1em
}
body,
dd p,
li p,
tr p {
  line-height: 1.2
}
[type=hidden] {
  display: none!important
}
:-moz-focus-inner {
  border: 0
}
::-moz-focus-inner {
  border: 0
}
textarea {
  overflow: auto
}
* {
  border-style: solid;
  border-width: 0
}
html {
  font-size: 100%
}
h4,
h5,
h6 {
  font-size: 1em;
  margin: 1.5em 0 .8em
}
body,
html {
  margin: 0;
  height: 100%
}
body {
  background: #062241;
  color: #06284e
}
.btn,
p {
  line-height: 1.9
}
.aBodyRoot :link,
.aBodyRoot :visited,
.aBodyRoot a:focus:hover,
:link:hover,
:visited:hover,
a:active,
a:focus:hover,
input.btn:hover {
  text-decoration: underline
}
.tl tbody th :link,
.tl tbody th :link:hover,
.tl thead :link,
.tl thead :link:hover,
:link {
  color: #24c
}
.tl tbody th,
.tl thead td,
.tl thead th,
:visited {
  color: #06284e
}
.ribbon :link:hover,
:link:hover,
form :active,
form :focus {
  color: #0d5bb5;
  border-color: #0d5bb5
}
:visited:hover {
  color: #419;
  border-color: #419
}
.ribbon a {
  color: #ffeba1;
  border-color: #062241
}
.ribbon :link {
  color: #bbe
}
.ribbon,
.ribbon .AHead h1,
.ribbon :visited {
  color: #fed33b
}
:target,
:target *,
a:active,
a:active *,
a:focus,
a:focus * {
  color: #fff!important
}
.ribbon :visited:hover {
  color: #b3f;
  border-color: #b3f
}
:target,
:target * {
  background: #0d5bb5!important;
  border-color: #fff!important
}
.RichLink b,
h1,
h2,
h3,
h5,
h6,
th {
  font-weight: 400
}
.ABody h3,
.Magazine h3,
.Magazine-date,
.links [href]:before,
h2 {
  font-weight: 700
}
h4 {
  border-width: 0 0 0 .7em;
  border-color: #06284e;
  padding: 0 0 0 .3em
}
h5 {
  border-width: 0 0 0 .5em;
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  padding: 0 0 0 .7em
}
abbr[title],
acronym,
dfn,
q[cite],
q[title] {
  border-bottom: 1px dotted
}
abbr[title],
acronym,
dfn {
  text-decoration: none;
  cursor: help
}
.AMeta,
.Pager,
.SocialBtns,
.tl thead th,
hr,
tbody th,
th {
  border-width: 0 0 1px
}
.ABody h2,
.ABody h2 *,
.tl tbody :hover td,
.tl tbody :hover th {
  border-color: #0d5bb5
}
dd,
li {
  margin-bottom: .3em
}
code,
kbd,
var {
  margin: 0 .1em
}
.Cover a,
.Cover img,
.Cover-meta,
.Magazine-mm,
.Magazine-yy,
.RichLink b,
.Search,
.Search input,
.commonForm,
a iframe,
a img {
  display: block
}
ol,
ul {
  padding-left: 2em
}
li {
  margin-top: .3em
}
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em
}
.hscroll table,
tr ol,
tr ul {
  margin-bottom: .5em
}
.hscroll pre,
.jsCapLarge a,
dd blockquote,
dd dl,
dd p,
dd pre,
dd table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
dd blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dd ol,
dd ul,
li ol,
li ul {
  margin-top: 0;
  margin-bottom: 0
}
input,
textarea {
  -moz-box-sizing: border-box;
  border-width: .1em;
  padding: .45em .4em
}
.baseColor,
.medal {
  background: #fdeeb7
}
h2 {
  margin: 0;
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
.wn {
  color: #c00!important
}
hr {
  height: 0;
  border-color: #e7d182;
  margin: 2em 1em;
  display: -moz-inline-box
}
tr hr {
  margin: 1em 9%
}
table {
  border-width: 1px 0 0;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0
}
caption {
  margin: 1.5em 1em .7em
}
th {
  padding: .5em
}
td {
  padding: .5em 0;
  border-color: #fdeeb7 #fdeeb7 #e7d182
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em;
  background: #8a7322;
  border-color: #e7d182 #937c2c;
  color: #fdeeb7
}
tbody td {
  border-width: 0 .5em 1px
}
tbody:not(:last-child) tr:last-child > * {
  border-bottom-width: 0
}
tfoot th {
  border-width: 2px 0 0
}
tfoot td {
  border-width: 2px .5em 0
}
.BlogArchive,
.BlogArchive tbody :hover td,
.Label div,
.aBodyRoot blockquote tbody th :visited,
.aBodyRoot blockquote tbody th :visited:hover,
.aBodyRoot thead :visited,
.aBodyRoot thead :visited:hover,
blockquote tbody th :link,
blockquote tbody th :link:hover,
thead :link,
thead :link:hover {
  color: #fdeeb7
}
tfoot td,
tfoot th {
  border-color: #8a7322 #fdeeb7
}
.Magazine-main,
blockquote h3,
blockquote table,
kbd {
  border-color: #06284e
}
blockquote thead td,
blockquote thead th {
  background: #06284e;
  border-color: #e7d182 #1d3953
}
blockquote tbody th {
  background: #8a7322;
  border-color: #e7d182;
  color: #fdeeb7
}
blockquote td {
  border-color: #e7d182 #e7d182 #8a7322
}
blockquote tfoot td,
blockquote tfoot th {
  border-color: #06284e #e7d182
}
blockquote tbody :hover td {
  border-color: #e7d182 #e7d182 #0d5bb5
}
.tl tbody :hover th :link,
.tl tbody :hover th :visited,
tbody :hover th,
tbody :hover th :link,
tbody :hover th :visited {
  color: #fff
}
tbody :hover td {
  border-color: #fdeeb7 #fdeeb7 #0d5bb5;
  color: #0d5bb5
}
tbody :hover th a:active,
tbody :hover th a:focus {
  background: #fff!important;
  color: #0d5bb5!important
}
.commonForm-send,
.r {
  text-align: right
}
.btn,
.c {
  text-align: center
}
.uc {
  text-transform: uppercase
}
.ribbon * {
  border-color: #08366b
}
em {
  background: #ff6
}
strong {
  background: #6cf
}
.AAuthor:after,
.Comment p:after,
.Cover:after,
.Magazine-item:after,
.Magazine-main:after,
.Magazine-snippet:after,
.RichLink a:after,
.box:after,
.commonForm-pair:after,
.lMi:after,
.lSi:after,
.lW:after,
.lX:after {
  clear: both;
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  font-size: .1px
}
.lM1 {
  float: left
}
.lM2 {
  float: right
}
.lM1,
.lM2 {
  width: 47.91%
}
.btn {
  display: inline-block;
  display: -moz-inline-box;
  border-width: .1em;
  cursor: pointer;
  padding: 0 1em
}
.AHead-labels a:active,
.AHead-labels a:focus,
.SocialBtns :active,
.SocialBtns :focus,
.Subscribe a:active,
.Subscribe a:focus,
.btn:active,
.btn:focus {
  border-color: #0d5bb5;
  color: #0d5bb5;
  outline: 0
}
.AHead-labels :link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #062241
}
.btn:visited {
  background: #062241;
  border-color: #fed33b;
  color: #fed33b
}
input.btn {
  padding: .45em 1em
}
.commonForm-pair {
  margin-bottom: 1em
}
.commonForm label {
  float: left;
  width: 7em;
  padding: .45em 0;
  display: block
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.commonForm-wrap {
  display: block;
  margin: 0 0 1em 8em
}
.commonForm-wrap * {
  width: 100%
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
.medal {
  border-color: #fdeeb7;
  color: #06284e
}
:link .medal,
:visited .medal {
  border-color: #06284e;
  background: #06284e;
  color: #fdeeb7
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #6d6309
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #61686b
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #e6d6a9
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #ffeba1
}
#lF .lM .mspacer,
.Cover p {
  margin: .6em .5em
}
.lS .mspacer {
  margin: .6em 0
}
.AAuthor,
.ADesc {
  margin: 2em .5em
}
.AAuthor img {
  float: right;
  margin: 0 0 1em 1em
}
.ABody {
  margin: 3.5em 0 2em
}
.ABody h1 {
  font-size: 2em;
  margin: 3em 0
}
.ABody h2 {
  font-size: 1.5em;
  border-width: .2em 0 0;
  color: #0d5bb5;
  margin: 2em 0 1em
}
.ABody h3 {
  font-size: 1.25em;
  border-width: .1em 0 0;
  margin: 2.4em 0 1.2em
}
.AHead {
  color: #8a7322;
  margin: 2em 0
}
.AHead h1 {
  font-size: 2em;
  color: #06284e;
  padding: 0 0 2em;
  margin: 0
}
.AHead-labels {
  margin-top: .5em;
  color: #062241
}
.AHead-labels i,
.Magazine-m,
.Magazine-y,
.RichLink br {
  display: none
}
.AHead-labels a,
.SocialBtns *,
.Subscribe a {
  display: inline-block;
  display: -moz-inline-box;
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  line-height: 1.9;
  padding: 0 1em;
  height: 2.1em;
  margin: 0 0 .5em
}
.AHead-labels :visited {
  background: #062241;
  border-color: #ffeba1;
  color: #ffeba1
}
.AHead-labels :link:hover {
  border-color: #bbe;
  color: #062241
}
.Attribution {
  padding: 1em 0;
  text-align: center
}
.Attribution small,
.prettyprint code {
  font-size: .875em
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive a,
.Label a {
  border-width: 0 0 1px;
  line-height: 2.8
}
.Cover p,
.Cover-meta {
  line-height: 1.4
}
.BreadcrumbList {
  padding: 1em 0;
  color: #8a7322
}
.BreadcrumbList a,
.Cover-meta span,
.RichLink-meta span,
.TxtNavi a {
  display: inline-block;
  display: -moz-inline-box
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  font-size: 93%
}
.Comment p {
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover {
  margin: 3.52em 0
}
.Cover-img {
  margin: 0 0 .6em;
  height: 100%
}
.Cover-meta,
.SearchResult div div {
  margin: 0 .5em
}
.Cover img {
  margin: 0;
  width: 100%
}
.Cover h2 {
  display: inline-block;
  display: -moz-inline-box;
  border: 1px solid #0d5bb5;
  color: #fdeeb7;
  font-size: .825em;
  padding: .6em
}
.tl td,
.tl th,
pre code,
pre var {
  background: 0 0!important
}
.Cover h3 {
  font-size: 1.33em;
  margin: 0;
  background: #fff;
  background: rgba(255,255,255,.75)
}
.Magazine h3,
.Magazine-yy {
  font-size: 2em
}
.Cover a {
  padding: .37em
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #062241
}
#lF .Label a,
.lS .Label a {
  line-height: 2.4
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList :active,
.LinkList :focus:hover {
  text-decoration: underline!important
}
.Magazine-item {
  padding: 1em 0
}
.Magazine-date {
  display: block;
  float: left;
  line-height: 1
}
.Magazine-dd,
.Magazine-mm {
  font-size: 4em;
  line-height: .9
}
.Magazine-main {
  margin-left: 5.5em;
  border-width: 0 0 0 .5em;
  padding-left: 1.5em
}
.aa,
blockquote,
kbd {
  border-width: 1px
}
.Magazine h3 {
  margin: .2em 0 0;
  padding: 0
}
.Magazine-label {
  margin: .5em 0 .8em
}
.Magazine-snippet img,
.box .caption,
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 0
}
.Magazine-snippet p {
  line-height: 1.4em
}
.Magazine .btn {
  position: absolute;
  font-size: .83em;
  left: -7.229em;
  bottom: 0;
  width: 4.217em;
  padding: .301em
}
.RichLink a {
  padding: 1em .5em 0;
  border-width: 0 0 1px;
  border-color: #08366b!important
}
.baseColor .RichLink a {
  border-color: #e7d182!important
}
.RichLink-meta {
  color: #08366b;
  font-size: .875em;
  margin: 1.143em 0;
  line-height: 1.4
}
.baseColor .RichLink-meta {
  color: #e7d182
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  margin: 0 .6em 1em 0
}
.RichLink p {
  margin: 1em 0;
  line-height: 1.4
}
.lS .RichLink img {
  float: right;
  margin: 0 0 1em .6em
}
.RichLink b {
  font-size: .875em;
  padding: 0 0 1.143em
}
#lH .lSi {
  padding-right: 3.1em
}
.Search {
  height: 1.9em
}
.Search-txt {
  width: 100%;
  left: 0;
  height: 2.1em
}
.Search input {
  position: absolute;
  top: 0
}
.Search .btn {
  width: 3em;
  right: -3.1em;
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621
}
.SearchResult div p {
  margin: .2em 0 0;
  color: #545454;
  line-height: 1.2
}
.SearchResult div span {
  color: grey
}
.SearchResult-multi {
  margin: 2em 0
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em;
  padding-bottom: 1em
}
#lE,
#lF,
.tl tfoot th {
  border-width: 1px 0 0
}
.Header h1,
.h1 {
  display: inline;
  font-size: 1.5em;
  margin: 0 .5em 0 0
}
.Header h1 {
  padding: 0
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #062241
}
.Subscribe .atom:visited {
  background: #062241;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #062241
}
.Subscribe .rss:visited {
  background: #062241;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #062241
}
.Subscribe .fl:visited {
  background: #062241;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #062241
}
.Subscribe .stm:visited {
  background: #062241;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right;
  color: #fdeeb7
}
.aa {
  margin: 1em 0;
  border-color: #0a0809
}
.tl,
.tl th {
  border-width: 0
}
.aBodyRoot :visited,
.tl tbody th :visited,
.tl tbody th :visited:hover,
.tl thead :visited,
.tl thead :visited:hover,
blockquote .tl tbody th :visited {
  color: #717
}
.aBodyRoot :visited:hover {
  color: #419
}
blockquote[title]:before {
  content: attr(title)
}
blockquote[cite]:after {
  content: attr(cite)
}
.js-bqLink,
blockquote:before {
  font-size: .875em;
  color: #24c;
  margin: 0
}
.js-bqCite,
blockquote:after {
  display: block;
  font-size: .875em;
  text-align: right;
  color: #8a7322;
  margin: 0
}
.links a,
kbd {
  display: inline-block;
  display: -moz-inline-box
}
.box {
  margin: 1em 1em 0
}
@-moz-document url-prefix() {
  .AAuthor:after,
  .Comment p:after,
  .Cover:after,
  .Magazine-item:after,
  .Magazine-main:after,
  .Magazine-snippet:after,
  .RichLink a:after,
  .box:after,
  .commonForm-pair:after,
  .lMi:after,
  .lSi:after,
  .lW:after,
  .lX:after {
    content: ""
  }
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 0 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
kbd {
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em
}
kbd:hover {
  top: -2px
}
code,
var {
  padding: .1em .4em
}
pre code,
pre var {
  padding: 0;
  margin: 0
}
.links a {
  padding-left: 1em
}
.links [href]:before {
  content: ">"
}
.links [href^="/"]:not([href^="//"]):before {
  content: "+"
}
.links [href*="/web.archive."]:before {
  content: "*"
}
.note {
  padding-left: 25%;
  margin: 1em
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.caption {
  display: block;
  text-align: center;
  font-size: .875em;
  width: 100%
}
div .caption img {
  margin: 0 0 .5em;
  float: none
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  border-color: #e7d182;
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  text-align: left
}
.tl td {
  padding: .5em .8em;
  border-width: 0 0 0 .3em;
  border-color: #e7d182;
  border-style: solid
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.tl tbody :hover th {
  background: #0d5bb5!important;
  color: #fff
}
.AMeta {
  padding: .5em 0
}
.AMeta div {
  margin: .5em 0;
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager {
  color: #fdeeb7;
  height: 4em
}
.Pager-next {
  left: 0
}
.Pager-top {
  left: 34%;
  text-align: center
}
.Pager-prev {
  right: 0;
  text-align: right
}
.Pager span {
  position: absolute;
  top: 1em;
  display: block;
  width: 32%
}
.Pager i {
  display: inline-block;
  display: -moz-inline-box;
  vertical-align: text-top;
  border-color: transparent #8a7322
}
.Pager-next i {
  border-width: .5em .7em .5em 0;
  margin-right: .5em
}
.Pager-prev i {
  border-width: .5em 0 .5em .7em;
  margin-left: .5em
}
.Pager :active i,
.Pager :focus i {
  border-color: transparent #fff
}
.Pager-top i {
  border-width: 0 .45em .9em;
  margin-right: .5em;
  border-color: #8a7322 transparent
}
.Pager-top :active i,
.Pager-top :focus i {
  border-color: #fff transparent
}
.SocialBtns {
  padding: 1em 0 .5em;
  color: #fdeeb7
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #fdeeb7
}
.SocialBtns .tw:visited {
  background: #fdeeb7;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .fb:active,
.SocialBtns .fb:focus,
.SocialBtns .pt:active,
.SocialBtns .pt:focus {
  border-color: #fff
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #fdeeb7
}
.SocialBtns .hb:visited {
  background: #fdeeb7;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #fdeeb7
}
.SocialBtns .pk:visited {
  background: #fdeeb7;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #fdeeb7
}
.SocialBtns .ln:visited {
  background: #fdeeb7;
  border-color: #00c300;
  color: #00c300
}
.prettyprint {
  border-width: 1px;
  border-color: #333
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.jsPica {
  cursor: -moz-zoom-in
}
.jsPicaLarge {
  margin: 0 0 1em;
  cursor: -moz-zoom-out;
  display: block;
  clear: both;
  padding: 2px
}
.jsPicaLarge img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  border-width: 0
}
.jsCapLarge {
  margin: 0 auto 1em
}
.jsPicaLarge:hover {
  top: 2px
}
.jsPicaLarge:hover img {
  top: 0
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #fdeeb7
}
.baseColor .btn:visited {
  background: #fdeeb7;
  border-color: #06284e;
  color: #06284e
}
@media screen {
  a img {
    border-width: 2px
  }
  .LinkList :link:hover,
  .LinkList :visited:hover,
  .RichLink-sep :link:hover,
  .RichLink-sep :visited:hover,
  .tl tr code,
  .tl tr var,
  blockquote tbody th code,
  blockquote tbody th var,
  thead code,
  thead var {
    background: #e7d182;
    color: #06284e
  }
  input,
  textarea {
    background: #fdeeb7;
    color: #06284e
  }
  [type=submit],
  blockquote,
  code,
  var {
    background: #e7d182
  }
  #lB .lM {
    padding-bottom: 4em
  }
  #lB .lS {
    padding-bottom: 1em
  }
  .lW,
  .lX {
    width: 98%;
    max-width: 70em;
    margin: 0 auto
  }
  .lXi {
    margin: 0 2.7%
  }
  .lX1 {
    float: left
  }
  .lS,
  .lX2 {
    float: right
  }
  .lMi,
  .lMz {
    margin-left: 3.857%
  }
  .lS {
    width: 30%
  }
  .lSi {
    margin: 0 9%
  }
  .lM {
    width: 67.3%;
    float: left
  }
  .Cover .img-loaded div {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0
  }
  .aa {
    background: #0a0809
  }
  .aa,
  .aa code,
  .aa var {
    color: #00ac06
  }
  .hscroll {
    overflow-x: auto;
    overflow-y: hidden
  }
  .hscroll pre {
    overflow: auto;
    white-space: pre
  }
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote var,
  tbody th code,
  tbody th var {
    background: #8a7322;
    color: #fdeeb7
  }
  .prettyprint {
    background: #333;
    color: #fff
  }
  code .atv,
  code .str {
    color: #65b042
  }
  code .kwd {
    color: #e28964
  }
  code .com {
    color: #aeaeae;
    font-style: italic
  }
  code .tag,
  code .typ {
    color: #89bdff
  }
  code .dec,
  code .lit {
    color: #3387cc
  }
  code .pun {
    color: #dbdbdb
  }
  code .pln {
    color: #d4d4d4
  }
  code .atn {
    color: #bdb76b
  }
}
@media print {
  blockquote code,
  blockquote var,
  table,
  tbody th,
  tbody th code,
  tbody th var,
  thead code,
  thead td,
  thead th,
  thead var {
    border-color: #666
  }
  .lS1,
  .lS2 {
    width: 48.5%
  }
  code .typ,
  th {
    font-weight: 700
  }
  p {
    line-height: 1.5
  }
  .ADesc,
  .ribbon a,
  a {
    color: #666
  }
  .ribbon :link,
  :link,
  blockquote tbody th :link,
  blockquote thead th :link,
  thead :link {
    color: #006
  }
  .ribbon :visited,
  :visited,
  blockquote tbody th :visited,
  blockquote thead th :visited,
  thead :visited {
    color: #606
  }
  h4,
  h5,
  h6 {
    margin: 1.5em 1.5% .8em
  }
  pre {
    padding: 1em 3%
  }
  .links,
  .note,
  dl,
  iframe,
  img,
  ol,
  p,
  tr blockquote p,
  tr blockquote pre,
  ul {
    margin: 1em 3%
  }
  iframe,
  img {
    max-width: 94%
  }
  blockquote pre {
    margin: 1em
  }
  hr {
    margin: 2em 6%
  }
  caption {
    margin: 1.5em 3% .7em
  }
  .AAuthor,
  .ADesc,
  .AHead,
  blockquote,
  table {
    margin: 1em 0
  }
  table {
    width: 100%
  }
  thead td,
  thead th {
    background: #ccc;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  tbody th {
    background: #ccc
  }
  td {
    border-color: #fff #fff #ccc
  }
  tfoot td,
  tfoot th {
    border-color: #666 #fff
  }
  blockquote table,
  kbd {
    border-color: #000
  }
  blockquote thead td,
  blockquote thead th {
    background: #ccc;
    border-color: #000;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  blockquote tbody th {
    background: #ccc;
    border-color: #000;
    color: #000
  }
  blockquote td {
    border-color: #fff #fff #666
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #000 #fff
  }
  .baseColor,
  .ribbon,
  body {
    background: #fff;
    color: #000
  }
  *,
  .ribbon * {
    border-color: #ccc
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  .lMi,
  .lMz .AHead,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0 3%
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .js-bqLink a:after,
  .noprint,
  [href$=".GIF"]:after,
  [href$=".JPEG"]:after,
  [href$=".JPG"]:after,
  [href$=".PNG"]:after,
  [href$=".gif"]:after,
  [href$=".jpeg"]:after,
  [href$=".jpg"]:after,
  [href$=".png"]:after,
  [href*="/blogger.googleusercontent.com/img/"]:after,
  [href*="/viewer.diagrams.net/?"]:after,
  [href^="#"]:after,
  [href^="mailto:"]:after,
  [href^="tel:"]:after {
    display: none
  }
  .lS1 {
    float: left
  }
  .lS2 {
    float: right
  }
  #lB .lS1 {
    width: 45.5%;
    padding: 0 0 0 3%
  }
  #lB .lS2 {
    width: 45.5%;
    padding: 0 3% 0 0
  }
  .AAuthor img {
    float: left;
    margin: 0 1em 1em 0
  }
  .ABody h1 {
    margin: 3em 1.5%
  }
  .ABody h2 {
    margin: 2em 1.5% 1em
  }
  .ABody h3 {
    margin: 2.4em 1.5% 1.2em
  }
  .ABody h1,
  .ABody h2,
  .ABody h3 {
    text-align: center;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  .ABody {
    margin: 0 0 2em
  }
  .AHead {
    color: #666!important
  }
  .AHead h1 {
    text-align: center;
    color: #000!important;
    padding: 1em 0
  }
  .AHead-labels,
  code .pln {
    color: #000
  }
  .AHead-labels a {
    display: inline;
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .Header h1,
  .Header h1 + span {
    display: block;
    text-align: center
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0;
    color: #666!important
  }
  .Cover {
    margin: 2em auto
  }
  .Cover h2 {
    margin-top: 1em
  }
  .Magazine-item {
    padding: 1em 0 1em 1em
  }
  .Magazine-item:first-child {
    padding: 1em 1em 1em 0
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding-top: .5em;
    padding-bottom: .5em
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    margin: 0 0 .5em
  }
  .AMeta-cita:after,
  .aBodyRoot a[href]:after {
    content: " (" attr(href) ") ";
    font-size: .875em;
    color: #006
  }
  .js-bqCite,
  .js-bqLink,
  blockquote:after,
  blockquote:before {
    margin: 0 1.5%
  }
  blockquote {
    padding: 1em 1px
  }
  .box dl,
  .box ol,
  .box p,
  .box ul {
    margin: 0 3% 1em
  }
  .box {
    margin: 1em 0 0
  }
  .box .caption,
  .box iframe,
  .box img {
    margin: 0 1em 1em 3%
  }
  .hscroll table {
    width: 100%;
    margin: 0
  }
  .hscroll pre {
    margin: 0
  }
  code,
  var {
    border-width: 1px;
    border-color: #ccc
  }
  pre code {
    border: 0
  }
  .note blockquote dl,
  .note blockquote ol,
  .note blockquote p,
  .note blockquote ul {
    margin-right: 3%
  }
  .tl tbody td:after,
  blockquote .tl tbody td:after {
    border-color: #fff
  }
  code .atv,
  code .str {
    color: #060
  }
  code .kwd,
  code .tag {
    color: #006;
    font-weight: 700
  }
  code .com {
    color: #600;
    font-style: italic
  }
  code .atn,
  code .typ {
    color: #404
  }
  code .lit {
    color: #044
  }
  code .pun {
    color: #440
  }
  code .dec {
    color: #003
  }
}