@charset "UTF-8";
small,
sub,
sup {
  font-size: 75%
}
blockquote .tl td,
blockquote .tl tfoot td,
blockquote .tl tfoot th,
blockquote .tl thead td,
blockquote .tl thead th,
blockquote blockquote,
blockquote hr,
h5,
h6,
table {
  border-color: #717e73
}
.Comment div,
.Cover-meta,
.baseColor :link .RichLink-meta,
.baseColor :visited .RichLink-meta,
a,
h6 {
  color: #717e73
}
.note .box,
.note .hscroll,
.tl td > :first-child,
dl .box,
dl .hscroll,
dl iframe,
dl img,
li .box,
li .hscroll,
li iframe,
li img,
tr .box,
tr .hscroll,
tr iframe,
tr img,
tr ol,
tr ul {
  margin-top: 0
}
#jsMain,
#jsSide,
#jsSidebarFixer,
.Pager,
.links a,
h2,
sub,
sup {
  position: relative
}
.baseColor,
.medal {
  background: #f8fbfa
}
.Magazine-date,
.aa {
  font-family: monospace
}
.chatMember,
.chatTitle,
.h1,
caption,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
thead {
  page-break-after: avoid
}
.ABody h3,
.Magazine h3,
.Magazine-date,
.links [href]:before,
dt {
  font-weight: 700
}
.RichLink b,
h1,
h2,
h3,
h5,
h6,
th {
  font-weight: 400
}
.LinkList a,
.Magazine-item,
.RichLink-sep a,
.SearchResult div div,
.caption,
.commonForm-pair,
.h1,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
img,
li,
tr {
  page-break-inside: avoid
}
body,
input,
textarea {
  font-family: "-apple-system",BlinkMacSystemFont,"Avenir Next",Avenir,"Open Sans","Helvetica Neue",Verdana,Roboto,"UD Digi Kyokasho NP-R",YuKyokasho,"游ゴシック体",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","M+ 1p",sans-serif
}
code,
kbd,
samp,
var {
  font-family: SFMono-Regular,"Liberation Mono",Consolas,Meiryo,monospace
}
:link img,
:visited img {
  border-color: #f8fbfa;
  border-width: 2px
}
.AHead-labels a:link:active,
.AHead-labels a:visited:active,
.Subscribe .atom:link:active,
.Subscribe .atom:visited:active,
.Subscribe .fl:link:active,
.Subscribe .fl:visited:active,
.Subscribe .rss:link:active,
.Subscribe .rss:visited:active,
.Subscribe .stm:link:active,
.Subscribe .stm:visited:active,
.btn:link:active,
.btn:visited:active,
.ribbon :link img,
.ribbon :visited img,
.ribbon a {
  border-color: #010e06
}
*,
blockquote :link img,
blockquote :visited img {
  border-color: #bddac8
}
:link:active img,
:visited:active img {
  border-color: #29a119!important
}
:link:hover img,
:visited:hover img {
  position: relative;
  top: 2px
}
.AHead-labels a,
.SocialBtns a,
.Subscribe a,
.btn {
  display: inline-block;
  vertical-align: top;
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  line-height: 1.9em;
  padding: 0 1em;
  height: 2.1em
}
.Cover-meta,
.Magazine-mm,
.Magazine-yy,
.RichLink b,
.commonForm,
a iframe,
a img,
h1 br,
h2 br,
h2:after,
h3 br,
h4 br,
h5 br,
h6 br {
  display: block
}
.Header h1,
body,
input.btn {
  padding: 0
}
.AHead-labels a:link:hover,
.AHead-labels a:visited:hover,
.SocialBtns a:link:hover,
.SocialBtns a:visited:hover,
.Subscribe a:link:hover,
.Subscribe a:visited:hover,
.aBodyRoot :link,
.aBodyRoot :visited,
.btn:link:hover,
.btn:visited:hover,
:link:hover,
:visited:hover,
a:active {
  text-decoration: underline
}
.AHead-labels a:active,
.SocialBtns a:active,
.Subscribe a:active,
.btn:active {
  border-color: #29a119;
  color: #29a119;
  border-style: dotted;
  outline: 0
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important
}
.LinkList a:not([href]),
.RichLink-sep a:not([href]) {
  background: #021605;
  color: #f8fbfa
}
.LinkList :link:hover,
.LinkList :visited:hover,
.RichLink-sep :link:hover,
.RichLink-sep :visited:hover,
.tl tr code,
.tl tr var,
blockquote tbody th code,
blockquote tbody th var,
thead code,
thead var {
  background: #bddac8;
  color: #021605
}
.Cover h2,
a:active code,
a:active var {
  background: #29a119
}
.ribbon .LinkList a:not([href]),
.ribbon .RichLink-sep a:not([href]) {
  background: #ecfae8;
  color: #010e06
}
.ribbon .LinkList :link:hover,
.ribbon .LinkList :visited:hover,
.ribbon .RichLink-sep :link:hover,
.ribbon .RichLink-sep :visited:hover {
  background: #052209;
  color: #ecfae8
}
:active {
  outline: 0
}
dt {
  margin-top: .7em
}
blockquote,
q {
  quotes: none
}
sub,
sup {
  line-height: 0;
  vertical-align: baseline
}
input,
textarea {
  font-size: 1em;
  margin: 0
}
.chat p,
body,
dd p,
li p,
tr p {
  line-height: 1.2
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  height: auto
}
cite,
code,
dfn,
em,
kbd,
q,
samp,
strong,
var {
  font-style: normal
}
pre {
  white-space: pre;
  white-space: -o-pre-wrap;
  margin: 1em 0
}
.BlogArchive :link:hover,
.BlogArchive :visited:hover,
.Label a:link:hover,
.Label a:visited:hover,
.aBodyRoot :link:hover,
.aBodyRoot :visited:hover,
.aBodyRoot a:active,
:link,
:visited,
a:active,
ins {
  text-decoration: none
}
del {
  text-decoration: line-through
}
.Magazine .box,
form {
  margin: 0
}
.mspacer,
blockquote,
dl,
iframe,
img,
ol,
p,
table,
tr blockquote p,
tr blockquote pre,
ul {
  margin: 1em
}
input {
  height: 2.1em
}
textarea {
  overflow: auto
}
*,
:after,
:before {
  border-style: solid;
  border-width: 0
}
html {
  font-size: 100%
}
h4,
h5,
h6 {
  font-size: 1em;
  margin: 1.5em 0 .8em
}
body,
html {
  margin: 0;
  height: 100%
}
body {
  background: #010e06;
  color: #021605;
  text-align: center
}
p {
  line-height: 1.9
}
.SocialBtns .hb:link:active,
.SocialBtns .hb:visited:active,
.SocialBtns .ln:link:active,
.SocialBtns .ln:visited:active,
.SocialBtns .pk:link:active,
.SocialBtns .pk:visited:active,
.SocialBtns .tw:link:active,
.SocialBtns .tw:visited:active,
.baseColor .btn:link:active,
.baseColor .btn:visited:active,
.chat,
a {
  border-color: #f8fbfa
}
.tl tbody th :link,
.tl tbody th :link:hover,
.tl thead :link,
.tl thead :link:hover,
:link {
  color: #24c
}
.tl tbody th,
.tl thead td,
.tl thead th,
:visited {
  color: #021605
}
.ribbon :link:hover,
:link:hover {
  color: #29a119;
  border-color: #29a119
}
:visited:hover {
  color: #419;
  border-color: #419
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
.ribbon a,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #92a094
}
a:active,
a:active * {
  color: #fff!important
}
.ribbon :link {
  color: #bbe
}
.ribbon,
.ribbon .AHead h1,
.ribbon :visited {
  color: #ecfae8
}
.wn,
.wn:after {
  color: #ca088a!important
}
.ribbon :visited:hover {
  color: #b3f;
  border-color: #b3f
}
a:active {
  background-color: #29a119!important
}
h4 {
  border-width: 0 0 0 .7em;
  border-color: #021605;
  padding: 0 0 0 .3em
}
h5 {
  border-width: 0 0 0 .5em;
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  padding: 0 0 0 .7em
}
abbr[title],
acronym,
dfn,
q[cite],
q[title] {
  border-bottom: 1px dotted
}
abbr[title],
acronym,
dfn {
  text-decoration: none;
  cursor: help
}
.AMeta,
.Pager,
.SocialBtns,
.tl thead th,
hr,
tbody th,
th {
  border-width: 0 0 1px
}
h2:after,
tfoot th {
  border-width: 2px 0 0
}
.ABody h2,
.Cover h2,
h2:after {
  border-color: #29a119
}
dd,
li {
  margin-bottom: .3em
}
code,
kbd,
var {
  margin: 0 .1em
}
iframe,
img {
  max-width: 100%
}
ol,
ul {
  padding-left: 2em
}
li {
  margin-top: .3em
}
.links a,
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em
}
.hscroll table,
tr ol,
tr ul {
  margin-bottom: .5em
}
.AHead-labels a,
.SocialBtns a,
.Subscribe a,
dd blockquote,
dd dl,
dd p,
dd pre,
dd table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
dd blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dd ol,
dd ul,
li ol,
li ul {
  margin-top: 0;
  margin-bottom: 0
}
input,
textarea {
  border-width: .1em
}
h2 {
  margin: 0;
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
h2:after {
  width: 5em;
  height: 0;
  font-size: .1em;
  line-height: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  content: " "
}
.chatL,
.chatL p,
.chatR,
.chatR p {
  position: relative;
  text-align: left
}
.wn:after {
  background: #ca088a!important
}
hr {
  height: 0;
  border-color: #bddac8;
  margin: 2em 1em
}
tr hr {
  margin: 1em 9%
}
table {
  border-width: 1px 0 0;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0
}
caption {
  margin: 1.5em 1em .7em
}
th {
  text-align: left;
  padding: .5em
}
td {
  padding: .5em 0;
  border-color: #f8fbfa #f8fbfa #bddac8
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em;
  background: #717e73;
  border-color: #bddac8 #79877c;
  color: #f8fbfa
}
tbody th {
  background: #bddac8;
  border-color: #f8fbfa
}
tbody td {
  border-width: 0 .5em 1px
}
tfoot td {
  border-width: 2px .5em 0
}
tfoot td,
tfoot th {
  border-color: #717e73 #f8fbfa
}
.BlogArchive,
.BlogArchive tbody :hover td,
.Label div,
.aBodyRoot blockquote tbody th :visited,
.aBodyRoot blockquote tbody th :visited:hover,
.aBodyRoot thead :visited,
.aBodyRoot thead :visited:hover,
blockquote tbody th :link,
blockquote tbody th :link:hover,
thead :link,
thead :link:hover {
  color: #f8fbfa
}
.Magazine-main,
blockquote h3,
blockquote table,
kbd {
  border-color: #021605
}
blockquote thead td,
blockquote thead th {
  background: #021605;
  border-color: #bddac8 #152a19
}
blockquote tbody th {
  background: #717e73;
  border-color: #bddac8;
  color: #f8fbfa
}
blockquote td {
  border-color: #bddac8 #bddac8 #717e73
}
blockquote tfoot td,
blockquote tfoot th {
  border-color: #021605 #bddac8
}
.Cover-btn,
.commonForm-send,
.r {
  text-align: right
}
.c {
  text-align: center
}
.uc {
  text-transform: uppercase
}
.ribbon * {
  border-color: #052209
}
em {
  background: #ff6
}
strong {
  background: #6cf
}
#lE .lM,
#lE .lS {
  padding-bottom: 0
}
#lB .lM {
  padding-bottom: 4em
}
#lB .lS,
#lH .lMi,
#lH .lSi {
  padding-bottom: 1em
}
.lW,
.lX {
  width: 98%;
  max-width: 70em;
  display: inline-block;
  vertical-align: top;
  text-align: left
}
.lM {
  width: 67.3%;
  float: left
}
.lMi,
.lMz {
  padding-left: 3.857%
}
.lS {
  width: 30%;
  float: right
}
.lSi {
  padding: 0 9%
}
.lXi {
  padding: 0 2.7%
}
.AAuthor:after,
.Comment p:after,
.Cover:after,
.Magazine-item:after,
.Magazine-main:after,
.RichLink a:after,
.box:after,
.commonForm-pair:after,
.lMi:after,
.lSi:after {
  visibility: hidden;
  clear: both;
  content: "";
  display: block
}
.lM1 {
  float: left
}
.lM2 {
  float: right
}
.lM1,
.lM2 {
  width: 47.91%
}
.AHead-labels a:link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #010e06
}
.btn:visited {
  background: #010e06;
  border-color: #ecfae8;
  color: #ecfae8
}
.commonForm-pair {
  margin-bottom: 1em
}
.commonForm label {
  display: block;
  float: left;
  width: 7em;
  padding: .45em 0 0
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.commonForm-wrap {
  display: block;
  margin: 0 0 1em 8em
}
.commonForm-wrap * {
  width: 100%;
  float: right
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
.medal {
  border-color: #f8fbfa;
  color: #021605
}
:link .medal,
:visited .medal {
  border-color: #021605;
  background: #021605;
  color: #f8fbfa
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #6d6309
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #61686b
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #e6d6a9
}
.Search-txt,
blockquote,
code,
var {
  background: #bddac8
}
#lF .lM .mspacer,
.Cover p {
  margin: .6em .5em
}
.lS .mspacer {
  margin: .6em 0
}
.AAuthor img,
.Magazine-jump .btn {
  margin: 0 0 1em 1em
}
.AAuthor {
  margin: 2em 0;
  padding: 0 .5em 1em
}
.AAuthor img {
  float: right;
  top: .4em
}
.ABody {
  margin: 3.5em 0 2em
}
.ADesc,
.AHead,
.SearchResult-multi {
  margin: 2em 0
}
.ABody h1 {
  font-size: 2em;
  margin: 3em 0
}
.ABody h2 {
  font-size: 1.5em;
  border-width: .2em 0 0;
  color: #29a119;
  margin: 2em 0 1em
}
.ABody h2:after,
.Cover h2:after {
  width: 0
}
.ABody h3 {
  font-size: 1.25em;
  border-width: .1em 0 0;
  margin: 2.4em 0 1.2em
}
.ADesc p {
  margin: 0 .5em 1em
}
.AHead {
  color: #717e73
}
.AHead h1 {
  font-size: 2em;
  color: #021605;
  padding: 2em 0;
  margin: 0;
  text-align: left
}
.AHead-labels {
  margin-top: .5em;
  color: #010e06
}
.AHead-labels i,
.Magazine-m,
.Magazine-y,
.RichLink br {
  display: none
}
.AHead-labels a:visited {
  background: #010e06;
  border-color: #92a094;
  color: #92a094
}
.AHead-labels a:link:hover {
  border-color: #bbe;
  color: #010e06
}
.Attribution {
  padding: 1em 0;
  text-align: center
}
.Attribution small,
.prettyprint code {
  font-size: .875em
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive a,
.Label a {
  line-height: 2.8;
  border-width: 0 0 1px
}
.BreadcrumbList {
  padding: 1em 0;
  color: #717e73
}
.BreadcrumbList a,
.Cover-meta span,
.RichLink-meta span,
.TxtNavi a,
.links a,
kbd {
  display: inline-block;
  vertical-align: top
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  font-size: 93%
}
.Comment p {
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover {
  margin: 3.52em 0;
  line-height: 1.4
}
.Cover-img {
  position: relative;
  height: 100%;
  margin: 0 0 .6em
}
.Cover img {
  margin: 0;
  display: block;
  width: 100%;
  max-width: 100%
}
.Cover .img-loaded div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}
.Cover h2 {
  display: inline-block;
  vertical-align: top;
  color: #f8fbfa;
  font-size: .825em;
  padding: .6em;
  border-width: 1px
}
.Cover h3 {
  font-size: 1.33em;
  padding: .37em;
  margin: 0;
  color: #fff;
  background: #000
}
.Magazine h3,
.Magazine-yy {
  font-size: 2em
}
.Cover-meta,
.SearchResult div div {
  margin: 0 .5em
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #010e06
}
#lF .Label a,
.lS .Label a {
  line-height: 2.4
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList :active {
  text-decoration: underline!important
}
.Magazine-item {
  padding: 1em 0
}
.Magazine-date {
  display: block;
  float: left;
  line-height: 1
}
.Magazine-dd,
.Magazine-mm {
  font-size: 4em
}
.Magazine-main {
  margin-left: 5.5em;
  border-width: 0 0 0 .5em;
  padding-left: 1.5em
}
.aa,
.chat,
.chatMember,
.mona,
blockquote,
kbd {
  border-width: 1px
}
.Magazine h3 {
  margin: .2em 0 0;
  padding: 0
}
.Magazine-label {
  margin: .5em 0 .8em
}
.Magazine .aBodyRoot {
  font-size: 87.5%;
  width: 80%;
  float: left;
  line-height: 1.6
}
.Magazine blockquote,
.Magazine dl,
.Magazine p,
.Magazine pre {
  margin-left: 0;
  margin-right: 1.5em
}
.Magazine-jump {
  width: 20%;
  float: right
}
.RichLink-sep {
  line-height: 1.4
}
.RichLink a {
  padding: 1em .5em 0;
  border-width: 0 0 1px;
  border-color: #052209!important
}
.baseColor .RichLink a {
  border-color: #bddac8!important
}
.RichLink-meta {
  color: #052209;
  font-size: .875em;
  margin: 1.143em 0
}
.baseColor .RichLink-meta {
  color: #bddac8
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  margin: 0 .6em 1em 0;
  width: auto;
  line-height: 0
}
.Header,
.Header h1,
.aa,
.chatMember {
  line-height: 1
}
.RichLink p,
.chatL,
.chatR {
  margin: 1em 0
}
.lS .RichLink img {
  float: right;
  margin: 0 0 1em .6em
}
.RichLink b {
  font-size: .875em;
  padding: 0 0 .914em
}
.Search-txt {
  margin-right: .2em
}
.Search input {
  border-width: 0;
  padding: 0
}
.Search .btn {
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621
}
.SearchResult div p {
  margin: .2em 0 0;
  color: #545454;
  line-height: 1.2
}
.SearchResult div span {
  color: grey
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em
}
.Header h1,
.h1 {
  display: inline;
  font-size: 1.5em;
  margin: 0 .5em 0 0
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #010e06
}
.Subscribe .atom:visited {
  background: #010e06;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #010e06
}
.Subscribe .rss:visited {
  background: #010e06;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #010e06
}
.Subscribe .fl:visited {
  background: #010e06;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #010e06
}
.Subscribe .stm:visited {
  background: #010e06;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right;
  color: #f8fbfa
}
.aa,
.note .aa,
.note .mona,
.note .prettyprint,
blockquote,
dl .aa,
dl .mona,
dl .prettyprint,
li .aa,
li .mona,
li .prettyprint,
tr .aa,
tr .mona,
tr .prettyprint {
  padding: 1em
}
.aa {
  margin: 1em 0;
  background: #0a0809;
  border-color: #0a0809
}
.aa,
.aa code,
.aa var {
  color: #00ac06
}
.aBodyRoot :visited,
.tl tbody th :visited,
.tl tbody th :visited:hover,
.tl thead :visited,
.tl thead :visited:hover,
blockquote .tl tbody th :visited {
  color: #717
}
.aBodyRoot :visited:hover {
  color: #419
}
blockquote:before {
  content: attr(title);
  display: block
}
blockquote:after {
  content: attr(cite)
}
.js-bqLink,
blockquote:before {
  font-size: .875em;
  color: #24c;
  margin: 0
}
.js-bqCite,
blockquote:after {
  display: block;
  font-size: .875em;
  text-align: right;
  color: #717e73;
  margin: 0
}
.box {
  margin: 1em 1em 0
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 0 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box .caption,
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 0
}
.chat {
  color: #fff;
  background: #7493c2;
  padding-bottom: 1em;
  margin: 1em 0;
  text-align: center
}
.chatTitle {
  background: #273248;
  border-color: #273248;
  border-width: 0 0 1px;
  padding: 1em 2%
}
.chat h2,
.chat h3,
.chat h4,
.chat h5,
.chat h6,
.chat p {
  page-break-inside: avoid;
  page-break-after: avoid;
  font-size: 1em;
  color: #fff;
  background: #5d769e;
  border-color: #5d769e;
  border-width: 1px;
  margin: 1em 2%;
  padding: .4em 2%;
  display: inline-block;
  vertical-align: top
}
.chatL {
  padding: 0 20% 0 4em
}
.chatR {
  padding: 0 4em 0 20%
}
.chatL p,
.chatR p {
  margin: .4em 0;
  display: block;
  color: #111
}
.chatL p:after,
.chatR p:after {
  position: absolute;
  top: .7em;
  width: 0;
  height: 0;
  content: " ";
  display: block
}
.chatL p:after {
  border-color: transparent #fff;
  border-width: .3em .6em .3em 0;
  left: -.6em
}
.chatR p:after {
  border-color: transparent #85e445;
  border-width: .3em 0 .3em .6em;
  right: -.6em
}
.chatL .chatMember,
.chatL p {
  background: #fff;
  border-color: #fff
}
.chatR .chatMember,
.chatR p {
  background: #85e445;
  border-color: #85e445
}
.tl td,
.tl th,
pre code,
pre var {
  background: 0 0!important
}
.chatMember {
  position: absolute;
  top: -.414em;
  overflow: hidden;
  text-align: center!important;
  width: 2em;
  height: 1em;
  padding: .914em .414em;
  color: #111
}
.chatL .chatMember {
  left: .4em
}
.chatR .chatMember {
  right: .4em
}
.hscroll {
  overflow: auto;
  margin: 1em 0
}
.hscroll pre {
  margin: 0 0 .5em;
  white-space: pre;
  overflow: auto
}
kbd {
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em
}
code,
var {
  padding: .1em .4em
}
pre code,
pre var {
  padding: 0;
  margin: 0
}
blockquote .tl tr code,
blockquote .tl tr var,
blockquote code,
blockquote var,
tbody th code,
tbody th var {
  background: #717e73;
  color: #f8fbfa
}
.links {
  white-space: -o-pre-wrap;
  margin: 1em
}
.links [href]:before {
  content: ">";
  position: relative;
  left: -.5em;
  width: 1em;
  text-align: center
}
.links [href*="web.archive."]:before {
  content: "*"
}
.mona {
  font-family: "IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,Mona,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","ＭＳＰゴシック","MSPゴシック","MS Pｺﾞｼｯｸ","MS PGothic",sans-serif;
  line-height: 1.125;
  background: #bcd;
  border-color: #bcd;
  color: #00193d;
  padding: 1em
}
.tl,
.tl th {
  border-width: 0
}
.note {
  padding-left: 25%;
  margin: 1em
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.caption {
  display: block;
  text-align: center;
  font-size: .875em;
  width: 100%;
  max-width: 100%
}
.caption img {
  margin: 0 0 .5em!important
}
.caption * {
  float: none!important
}
.tl thead td {
  border-width: 0 0 1px .3em
}
#lE,
#lF,
.tl tfoot th {
  border-width: 1px 0 0
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  border-color: #bddac8;
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  vertical-align: top;
  text-align: left
}
.tl td {
  padding: .5em .8em;
  vertical-align: top;
  border-width: 0 0 0 .3em;
  border-color: #bddac8;
  border-style: solid
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.AMeta {
  padding: .5em 0
}
.AMeta div {
  margin: .5em 0;
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager {
  color: #f8fbfa;
  height: 4em
}
.Pager-next {
  left: 0
}
.Pager-top {
  left: 34%;
  text-align: center
}
.Pager-prev {
  right: 0;
  text-align: right
}
.Pager span {
  position: absolute;
  top: 1em;
  display: block;
  width: 32%
}
.Pager i {
  display: inline-block;
  vertical-align: text-top;
  border-color: transparent #717e73
}
.Pager-next i {
  border-width: .5em .7em .5em 0;
  margin-right: .5em
}
.Pager-prev i {
  border-width: .5em 0 .5em .7em;
  margin-left: .5em
}
.Pager :active i {
  border-color: transparent #fff
}
.Pager-top i {
  border-width: 0 .45em .9em;
  margin-right: .5em;
  border-color: #717e73 transparent
}
.Pager-top :active i {
  border-color: #fff transparent
}
.SocialBtns {
  padding: 1em 0 .5em;
  color: #f8fbfa
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #f8fbfa
}
.SocialBtns .tw:visited {
  background: #f8fbfa;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .fb:link:active,
.SocialBtns .fb:visited:active,
.SocialBtns .pt:link:active,
.SocialBtns .pt:visited:active {
  border-color: #fff
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #f8fbfa
}
.SocialBtns .hb:visited {
  background: #f8fbfa;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #f8fbfa
}
.SocialBtns .pk:visited {
  background: #f8fbfa;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #f8fbfa
}
.SocialBtns .ln:visited {
  background: #f8fbfa;
  border-color: #00c300;
  color: #00c300
}
.prettyprint {
  background: #333;
  color: #fff;
  border-width: 1px;
  border-color: #333;
  padding: 1em
}
code .atv,
code .str {
  color: #65b042
}
code .kwd {
  color: #e28964
}
code .com {
  color: #aeaeae;
  font-style: italic
}
code .tag,
code .typ {
  color: #89bdff
}
code .dec,
code .lit {
  color: #3387cc
}
code .pln,
code .pun {
  color: #fff
}
code .atn {
  color: #bdb76b
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.jsCapLarge,
.jsPicaLarge img {
  margin: 0 auto 1em
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none
}
.jsPicaLarge img {
  width: 100%;
  height: auto;
  max-width: 100%;
  box-sizing: border-box
}
.box .jsCapLarge {
  float: none
}
.lW {
  overflow: hidden
}
#lE,
#lF {
  border-top: .3em solid #29a119
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #f8fbfa
}
.baseColor .btn:visited {
  background: #f8fbfa;
  border-color: #021605;
  color: #021605
}
@media print {
  blockquote code,
  blockquote var,
  table,
  tbody th,
  tbody th code,
  tbody th var,
  thead code,
  thead td,
  thead th,
  thead var {
    border-color: #666
  }
  .AAuthor,
  .lMi,
  .lMz,
  .lSi,
  .lXi {
    padding: 0
  }
  code .typ,
  th {
    font-weight: 700
  }
  p {
    line-height: 1.5
  }
  .ribbon a,
  a {
    color: #666
  }
  .ribbon :link,
  :link,
  blockquote tbody th :link,
  blockquote thead th :link,
  thead :link {
    color: #006
  }
  .ribbon :visited,
  :visited,
  blockquote tbody th :visited,
  blockquote thead th :visited,
  thead :visited {
    color: #606
  }
  h4,
  h5,
  h6 {
    margin: 1.5em 1.5% .8em
  }
  .links,
  .note,
  dl,
  iframe,
  img,
  ol,
  p,
  tr blockquote p,
  tr blockquote pre,
  ul {
    margin: 1em 3%
  }
  iframe,
  img {
    max-width: 94%
  }
  h2:after {
    width: 0
  }
  .lW,
  .lX,
  table {
    width: 100%
  }
  hr {
    margin: 2em 6%
  }
  caption {
    margin: 1.5em 3% .7em
  }
  .AAuthor,
  table {
    margin: 1em 0
  }
  thead td,
  thead th {
    background: #ccc;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  tbody th {
    background: #ccc
  }
  td {
    border-color: #fff #fff #ccc
  }
  tfoot td,
  tfoot th {
    border-color: #666 #fff
  }
  blockquote table,
  kbd {
    border-color: #000
  }
  blockquote thead td,
  blockquote thead th {
    background: #ccc;
    border-color: #000;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  blockquote tbody th {
    background: #ccc;
    border-color: #000;
    color: #000
  }
  blockquote td {
    border-color: #fff #fff #666
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #000 #fff
  }
  .Cover h2,
  .Cover h3,
  .aa,
  .baseColor,
  .mona,
  .ribbon,
  body {
    background: #fff;
    color: #000
  }
  *,
  .ribbon * {
    border-color: #ccc
  }
  #lE .lS {
    padding-top: 0
  }
  #lE .lW {
    padding-bottom: 0
  }
  #lB .lM {
    padding-bottom: 2em
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  .lW,
  .lX {
    max-width: 100%
  }
  .Magazine .aBodyRoot,
  .lM,
  .lS {
    width: auto
  }
  .lM,
  .lS {
    float: none
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Cover-btn,
  .Magazine-jump,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .js-bqLink a:after,
  .noprint,
  [href$=".GIF"]:after,
  [href$=".JPEG"]:after,
  [href$=".JPG"]:after,
  [href$=".PNG"]:after,
  [href$=".gif"]:after,
  [href$=".jpeg"]:after,
  [href$=".jpg"]:after,
  [href$=".png"]:after,
  [href^="#"]:after,
  [href^="mailto:"]:after,
  [href^="tel:"]:after {
    display: none
  }
  .AAuthor img {
    float: left;
    margin: 0 1em 1em 0
  }
  .ABody h1 {
    margin: 3em 1.5%
  }
  .ABody h2 {
    margin: 2em 1.5% 1em
  }
  .ABody h3 {
    margin: 2.4em 1.5% 1.2em
  }
  .ABody h1,
  .ABody h2,
  .ABody h3 {
    text-align: center;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  .ABody {
    margin: 0
  }
  .ADesc {
    margin: 1em 0;
    color: #666
  }
  .ADesc p,
  .box {
    margin: 1em 0 0
  }
  .AHead {
    margin: 1em 0;
    color: #666!important
  }
  .AHead h1 {
    text-align: center;
    color: #000!important
  }
  .AHead-labels,
  .aa code,
  .aa var,
  .tl tr code,
  .tl tr var,
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote tbody th code,
  blockquote tbody th var,
  blockquote var,
  code .pln,
  tbody th code,
  tbody th var,
  thead code,
  thead var {
    color: #000
  }
  .AHead-labels a {
    display: inline;
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0;
    color: #666!important
  }
  .RichLink b,
  .h1 {
    font-size: 1em
  }
  .Cover {
    margin: 2em auto
  }
  .Cover .img-loaded div {
    position: static
  }
  .Cover h2 {
    border-width: 1px;
    border-color: #000;
    margin-top: 1em
  }
  .Magazine-item {
    padding: 1em 0 1em 1en
  }
  .Magazine-item:first-child {
    padding: 1em 1en 1em 0
  }
  .lS .RichLink a {
    padding: .7em .5em 0
  }
  .lS .RichLink img {
    float: left;
    margin: 0 .5em .6em 0
  }
  .RichLink b {
    padding: 0 0 .571em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding: .5em 0
  }
  .Header {
    text-align: left
  }
  .Header h1 {
    display: block;
    text-align: center;
    margin: 0 0 .5em
  }
  .Header h1 + span {
    display: block;
    text-align: center
  }
  .aa,
  .mona,
  .note .aa,
  .note .mona,
  .note .prettyprint,
  .prettyprint {
    padding: 1em 3%
  }
  .AMeta-cita:after,
  .aBodyRoot :link:after {
    content: " (" attr(href) ") ";
    font-size: .875em;
    color: #006
  }
  .chat,
  .chat .chatMember,
  .chat h2,
  .chat h3,
  .chat h4,
  .chat h5,
  .chat h6,
  .chat p,
  .chatL p,
  .chatR p {
    color: #000;
    background: #fff;
    border-color: #666
  }
  .js-bqCite,
  .js-bqLink,
  blockquote:after,
  blockquote:before {
    margin: 0 1.5%
  }
  blockquote {
    padding: 1em 1px;
    background: 0 0;
    margin: 1em 0
  }
  .box dl,
  .box ol,
  .box p,
  .box ul {
    margin: 0 3% 1em
  }
  .box .caption,
  .box iframe,
  .box img {
    margin: 0 1em 1em 3%
  }
  .chatTitle,
  .prettyprint {
    background: #fff
  }
  .chatL p:before,
  .chatR p:before {
    position: absolute;
    top: .7em;
    width: 0;
    height: 0;
    border-color: #fff #666;
    content: " ";
    display: block
  }
  .chatL p:before {
    border-width: 4px 7px 4px 0;
    left: -7px
  }
  .chatR p:before {
    border-width: 4px 0 4px 7px;
    right: -7px
  }
  .chatL p:after,
  .chatR p:after {
    border-color: transparent #fff
  }
  .chatL p:after {
    border-width: 4px 7px 4px 0;
    left: -6px
  }
  .chatR p:after {
    border-width: 4px 0 4px 7px;
    right: -6px
  }
  .hscroll {
    overflow: visible
  }
  .hscroll table {
    width: 100%;
    margin: 0;
    white-space: normal
  }
  .hscroll pre {
    margin: 0;
    white-space: -o-pre-wrap
  }
  code,
  var {
    background: 0 0;
    border-width: 1px;
    border-color: #ccc
  }
  #lF,
  pre code {
    border: 0
  }
  .note blockquote dl,
  .note blockquote ol,
  .note blockquote p,
  .note blockquote ul {
    margin-right: 3%
  }
  .tl tbody td:after,
  blockquote .tl tbody td:after {
    border-color: #fff
  }
  code .atv,
  code .str {
    color: #060
  }
  code .kwd,
  code .tag {
    color: #006;
    font-weight: 700
  }
  code .com {
    color: #600;
    font-style: italic
  }
  code .atn,
  code .typ {
    color: #404
  }
  code .lit {
    color: #044
  }
  code .pun {
    color: #440
  }
  code .dec {
    color: #003
  }
}