@charset "UTF-8";
.AAuthor p,
.ADesc p,
.note .box,
dl .box,
form,
h2,
input,
li .box,
pre code,
textarea,
tr .box {
  margin: 0
}
.BlogArchive :link:hover,
.BlogArchive :visited:hover,
.Label :link:hover,
.Label :visited:hover,
.aBodyRoot :link:hover,
.aBodyRoot :visited:hover,
.aBodyRoot a:focus,
:link,
:visited,
a:focus,
dfn,
ins {
  text-decoration: none
}
.Magazine-date,
.aa {
  font-family: monospace
}
.h1,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p dd,
p li,
p tr,
table {
  line-height: 1.2
}
.Pager i:after,
.Pager i:before,
.ico,
cite,
code,
dfn,
em,
kbd,
q,
strong,
var {
  font-style: normal
}
#jsMain,
#jsSide,
#jsSidebarFixer,
.Cover-img,
.Magazine-main,
kbd:hover,
sub,
sup {
  position: relative
}
.Search .btn,
.lW {
  overflow: hidden
}
body,
input,
textarea {
  font-family: -apple-system,BlinkMacSystemFont,"Avenir Next",Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","M+ 1p",sans-serif
}
code,
kbd,
samp,
var {
  font-family: SFMono-Regular,Consolas,Meiryo,monospace
}
html {
  font-size: 100%
}
body,
html {
  margin: 0;
  height: 100%
}
body {
  padding: 0;
  line-height: 1
}
* {
  border-style: solid;
  border-width: 0
}
.Magazine-mm,
.Magazine-yy,
.commonForm,
a iframe,
a img,
br {
  display: block
}
del {
  text-decoration: line-through
}
dfn {
  border-bottom: 1px dotted;
  cursor: help
}
.aa,
p,
pre,
tr blockquote pre {
  margin: 1em 0
}
dd,
li {
  margin-bottom: .3em
}
.ribbon :link:hover,
form :focus {
  color: #3079ed;
  border-color: #3079ed
}
a:focus,
a:focus * {
  color: #fff!important
}
iframe,
img {
  margin: 1em auto;
  max-width: 100%
}
.aBodyRoot > .box:first-child > a:first-child > img:first-child,
.aBodyRoot > :first-child,
.aBodyRoot > :first-child > :first-child,
.tl td > :first-child,
blockquote > .box:first-child > a:first-child > img:first-child,
blockquote > :first-child,
dl iframe,
dl img,
li iframe,
li img,
tr iframe,
tr img {
  margin-top: 0
}
img {
  height: auto
}
a,
a img {
  border-color: transparent
}
:link:hover img,
:visited:hover img {
  position: relative;
  top: 2px
}
input,
textarea {
  font-size: 1em;
  border-width: .1em;
  border-color: #d0d0d0
}
small,
sub,
sup {
  font-size: 75%
}
input {
  height: 2.1em
}
p {
  line-height: 1.9
}
pre {
  white-space: -o-pre-wrap;
  padding: 1em
}
blockquote,
q {
  quotes: none
}
q[cite],
q[title] {
  border-bottom: 1px dotted
}
#lE,
#lF,
.tl tfoot th,
table {
  border-width: 1px 0 0
}
sub,
sup {
  line-height: 0;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
.Pager-prev,
.commonForm-send,
.r {
  text-align: right
}
.Pager-top,
.c {
  text-align: center
}
textarea {
  overflow: auto;
  background: Window
}
.uc {
  text-transform: uppercase
}
em {
  background: #ff6
}
hr {
  border-width: 0 0 1px;
  height: 0
}
tr hr {
  margin: 1em 9%
}
strong {
  background: #6cf
}
.AAuthor:after,
.Comment p:after,
.Cover:after,
.Magazine-snippet:after,
.Pager:after,
.RichLink a:after,
.box:after,
.commonForm-pair:after,
.lMi:after,
.lSi:after,
.lW:after,
.lX:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both
}
.lM1,
.lX1 {
  float: left
}
.lM2,
.lX2 {
  float: right
}
.lM1,
.lM2 {
  width: 47.91%
}
.aBodyRoot :link,
.aBodyRoot :visited,
.aBodyRoot a:focus:hover,
:link:hover,
:visited:hover,
a:focus:hover {
  text-decoration: underline
}
a:focus {
  background-color: #3079ed!important
}
.ribbon :visited:hover {
  color: #c8e;
  border-color: #c8e
}
.AHead-labels a,
.SocialBtns a,
.Subscribe a,
.btn {
  display: inline-table;
  vertical-align: top;
  line-height: 1.9;
  padding: 0 1em;
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  height: 2.1em
}
.Magazine-main,
h5 {
  border-width: 0 0 0 .5em
}
.AHead h1,
.tl th,
th {
  text-align: left
}
.AHead-labels a:focus,
.SocialBtns a:focus,
.Subscribe a:focus,
.btn:focus {
  border-style: dotted
}
.AHead-labels :link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #1a1a1a
}
.btn:visited {
  background: #1a1a1a;
  border-color: #fff;
  color: #fff
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #bbb
}
.AHead-labels :focus,
.Subscribe .atom:focus,
.Subscribe .fl:focus,
.Subscribe .rss:focus,
.Subscribe .stm:focus,
.btn:focus {
  border-color: #1a1a1a
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #f8fbf8
}
.baseColor .btn:visited {
  background: #f8fbf8;
  border-color: #111;
  color: #111
}
.SocialBtns .hb:focus,
.SocialBtns .ln:focus,
.SocialBtns .pk:focus,
.SocialBtns .tw:focus,
.baseColor .btn:focus,
.medal {
  border-color: #f8fbf8
}
.Header h1,
input.btn,
pre code {
  padding: 0
}
.commonForm-pair {
  margin-bottom: 1em
}
.commonForm label {
  float: left;
  width: 7em;
  padding: .45em 0;
  display: block
}
.Cover img,
.commonForm-wrap * {
  width: 100%
}
.commonForm-wrap {
  display: block;
  margin: 0 0 1em 8em
}
.mspacer {
  margin: 1em
}
.AAuthor,
.ADesc {
  margin: 2em .5em
}
#lF .lM .mspacer,
.lS .mspacer {
  margin: .6em .5em
}
.AAuthor img {
  float: right;
  margin: 0 0 1em 1em
}
.ABody {
  padding: 3.5em 0 2em
}
h1,
h3,
h5,
h6,
th {
  font-weight: 400
}
.AHead,
.SearchResult-multi {
  margin: 2em 0
}
.AHead h1 {
  font-size: 2em;
  padding: 0 0 2em;
  margin: 0
}
.Pager :focus i:after,
.Pager :focus i:before,
.ribbon .AHead h1,
.tl tbody :hover th,
.tl tbody :hover th :link,
.tl tbody :hover th :visited,
tbody :hover th,
tbody :hover th :link,
tbody :hover th :visited {
  color: #fff
}
.AHead-labels {
  margin-top: .5em
}
.AHead-labels i,
.Magazine-m,
.Magazine-y,
.RichLink br {
  display: none
}
.AHead-labels a,
.SocialBtns a,
.Subscribe a,
.js-captioned-thumbnail__large a,
dl blockquote,
dl dl,
dl p,
dl pre,
dl table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
.AHead-labels :visited {
  background: #1a1a1a;
  border-color: #bbb;
  color: #bbb
}
.LinkList :link,
.LinkList :visited,
.RichLink-sep :link,
.RichLink-sep :visited,
.medal {
  background: #f8fbf8
}
.AHead-labels :link:hover {
  border-color: #bbe;
  color: #1a1a1a
}
.Attribution {
  padding: 1em 0;
  text-align: center
}
.Attribution small,
.prettyprint code {
  font-size: .875em
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive a,
.Label a {
  border-width: 0 0 1px;
  line-height: 2.8
}
.BreadcrumbList {
  padding: 1em 0
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  color: #777;
  font-size: 93%
}
.Comment p {
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover {
  margin: 3.52em 0
}
.Cover-img {
  margin: 0 0 .6em;
  height: 100%
}
.Cover img {
  margin: 0;
  display: block;
  max-width: 100%
}
.Cover h2 {
  display: inline-table;
  vertical-align: top;
  border-width: 1px;
  color: #f8fbf8;
  font-size: .825em;
  padding: .6em
}
.AMeta,
.Pager,
.RichLink a,
.SocialBtns,
.tl thead th,
tbody th,
th {
  border-width: 0 0 1px
}
.Cover h3 {
  font-size: 1.33em;
  margin: 0;
  background: #fff
}
.Magazine h3,
.Magazine-yy {
  font-size: 2em
}
.Cover a {
  display: block;
  padding: .37em
}
.Cover-meta span,
.RichLink-meta span,
.icoLinks a,
kbd {
  display: inline-table;
  vertical-align: top
}
.Cover-meta {
  line-height: 1.4;
  display: block;
  margin: 0 .5em
}
.Cover p {
  line-height: 1.4;
  margin: .6em .5em
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #1a1a1a
}
#lF .Label a,
.lS .Label a {
  line-height: 2.4
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important
}
.LinkList .ribbon a,
.RichLink-sep .ribbon a {
  background: #fff;
  color: #1a1a1a
}
.ribbon .LinkList :link,
.ribbon .RichLink-sep :link {
  background: #1a1a1a;
  color: #bbe
}
.ribbon .LinkList :visited,
.ribbon .RichLink-sep :visited {
  background: #1a1a1a;
  color: #fff
}
.ribbon .LinkList :link:hover,
.ribbon .LinkList :visited:hover,
.ribbon .RichLink-sep :link:hover,
.ribbon .RichLink-sep :visited:hover {
  background: #363636;
  color: #fff
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList :focus:hover {
  text-decoration: underline!important
}
.Magazine-item {
  padding: 1em 0;
  display: table
}
.Magazine-date,
.Magazine-main {
  display: table-cell;
  vertical-align: top
}
.Magazine-date {
  line-height: 1;
  padding-right: 1.5em;
  font-weight: 700
}
.Magazine-dd,
.Magazine-mm {
  font-size: 4em;
  line-height: .9
}
.Magazine-main {
  padding-left: 1.5em
}
.aa,
blockquote,
kbd {
  border-width: 1px
}
.Magazine h3 {
  font-weight: 700;
  margin: .2em 0 0;
  padding: 0
}
.Magazine h3 a {
  margin-right: 2px
}
.Magazine-label {
  margin: .5em 0 .8em
}
.Magazine-snippet img {
  float: left;
  margin: .4em 1em 1em 0
}
.Magazine-snippet p {
  line-height: 1.4em;
  margin: 0
}
.Magazine .btn {
  position: absolute;
  font-size: .83em;
  left: -7.229em;
  bottom: 0;
  width: 4.217em;
  padding: .301em
}
.RichLink a {
  padding: 1em .5em 0;
  border-color: #363636!important
}
.RichLink b {
  display: block;
  font-weight: 400
}
.ABody h3,
.icoLinks [href]:before,
dt,
h2 {
  font-weight: 700
}
.RichLink-meta {
  color: #363636;
  line-height: 1.4;
  font-size: .875em;
  margin: 1.143em 0
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  margin: 0 1em 1em 0;
  width: auto
}
.RichLink p {
  margin: 1em 0;
  line-height: 1.4
}
.lS .RichLink img {
  float: right;
  margin: 0 0 1em .6em
}
.RichLink b {
  font-size: .875em;
  padding: 0 0 1.143em
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
.Header,
.Header h1,
.aa {
  line-height: 1
}
.medal {
  color: #111
}
:link .medal,
:visited .medal {
  border-color: #111;
  background: #111;
  color: #f8fbf8
}
.js-pica-thumbnail__large:focus,
.tl td,
.tl th,
pre code {
  background: transparent!important
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #4b4406
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #3b3f41
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #f8e9be
}
.Search-txt {
  margin-right: .2em
}
.Search input {
  border-width: 0;
  outline: #d0d0d0 solid .1em
}
.Search .btn {
  white-space: pre;
  padding-left: 0;
  padding-right: 0
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult div div {
  margin: 0 .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621
}
.SearchResult div p {
  line-height: 1.2;
  margin: .2em 0 0;
  color: #545454
}
.SearchResult div span {
  color: grey
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em;
  padding-bottom: 1em
}
.Header h1,
.h1 {
  display: inline;
  font-size: 1.5em;
  margin: 0 .5em 0 0
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #1a1a1a
}
.Subscribe .atom:visited {
  background: #1a1a1a;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #1a1a1a
}
.Subscribe .rss:visited {
  background: #1a1a1a;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #1a1a1a
}
.Subscribe .fl:visited {
  background: #1a1a1a;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #1a1a1a
}
.Subscribe .stm:visited {
  background: #1a1a1a;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right
}
.aa {
  border-color: #0a0809
}
.caption {
  display: block;
  text-align: center;
  font-size: .875em;
  max-width: 100%
}
.box {
  margin: 1em 1em 0
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 0 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 0
}
.box .caption {
  float: left;
  margin: 0 1.143em 1.143em 0
}
div .caption iframe,
div .caption img {
  margin: 0 0 .571em;
  float: none
}
code,
var {
  padding: .1em .4em
}
dt {
  margin-top: .7em
}
tr ol,
tr ul {
  margin-top: 0;
  margin-bottom: .5em
}
dl blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 0
}
.ABody h1 {
  margin: 0 0 3em;
  font-size: 2em
}
h2 {
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
h4,
h5,
h6 {
  margin: 1.5em 0 .8em;
  font-size: 1em
}
.wn {
  color: red!important
}
.ABody h2 {
  margin: 2em 0 1em;
  font-size: 1.5em;
  border-width: .2em 0 0
}
.ABody h3 {
  margin: 2.4em 0 1.2em;
  font-size: 1.25em;
  border-width: .1em 0 0
}
h4 {
  border-width: 0 0 0 .7em;
  padding: 0 0 0 .3em
}
h5 {
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  padding: 0 0 0 .7em
}
ol,
ul {
  padding-left: 2em
}
li {
  margin-top: .3em
}
.icoLinks {
  padding-left: 1em;
  list-style: none
}
.icoLinks [href]:before {
  content: ">"
}
kbd {
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em;
  margin: 0 .1em
}
kbd:hover {
  top: -2px
}
.note {
  padding-left: 25%
}
.AMeta,
blockquote {
  padding: 1em
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
table {
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0
}
th {
  padding: .5em
}
td {
  padding: .5em 0
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em
}
tbody th,
td {
  vertical-align: top
}
.tl,
.tl th {
  border-width: 0
}
tbody td {
  border-width: 0 .5em 1px
}
tfoot th {
  border-width: 2px 0 0
}
tfoot td {
  border-width: 2px .5em 0
}
thead :link {
  color: #bbe
}
thead :link:hover {
  color: #3079ed
}
.aBodyRoot thead :visited {
  color: #eae
}
.aBodyRoot thead :visited:hover {
  color: #c8e
}
tbody :hover th a:focus {
  background: #fff!important
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  vertical-align: top
}
.tl td {
  padding: .5em .8em;
  border-width: 0 0 0 .3em;
  border-style: solid
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.AMeta div {
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager span {
  display: block;
  float: left;
  width: 33%
}
.Pager-top a {
  padding: 1.5em .5em
}
.Pager-next a {
  padding: 1.5em 0 1.5em 1em
}
.Pager-prev a {
  padding: 1.5em 1em 1.5em 0
}
.Pager i:after,
.Pager i:before {
  font-family: serif;
  font-size: 2em;
  line-height: 1;
  color: #777
}
.Pager-next i,
.Pager-top i {
  margin-right: .5em
}
.Pager-next i:before {
  content: "◀ "
}
.Pager-prev i {
  margin-left: .5em
}
.Pager-prev i:after {
  content: " ▶"
}
.Pager-next :focus i,
.Pager-prev :focus i {
  border-color: transparent #fff
}
.Pager-top i:before {
  content: "▲ ";
  font-size: 1em
}
.SocialBtns {
  padding: 1em 1em .5em
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #f8fbf8
}
.SocialBtns .tw:visited {
  background: #f8fbf8;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .fb:focus,
.SocialBtns .pt:focus {
  border-color: #fff
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #f8fbf8
}
.SocialBtns .hb:visited {
  background: #f8fbf8;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #f8fbf8
}
.SocialBtns .pk:visited {
  background: #f8fbf8;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #f8fbf8
}
.SocialBtns .ln:visited {
  background: #f8fbf8;
  border-color: #00c300;
  color: #00c300
}
.js-generated-link-in-blockquote,
blockquote:before {
  margin: 0 0 1.14em;
  font-size: .875em
}
.js-generated-cite-in-blockquote,
blockquote:after {
  display: block;
  font-size: .875em;
  text-align: right;
  color: #777
}
blockquote[title]:before {
  content: attr(title)
}
blockquote[cite]:after {
  content: attr(cite)
}
.prettyprint {
  border-width: 1px;
  border-color: #333
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.js-pica-thumbnail__large img {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0 0 1em
}
.box .js-pica-thumbnail__large img,
.js-captioned-thumbnail__large,
div .box .js-captioned-thumbnail__large {
  margin: 0 0 1em
}
#lE {
  border-top-width: .3em
}
@media screen {
  .note,
  blockquote,
  dl,
  iframe,
  img,
  ol,
  p,
  table,
  ul {
    margin: 1em
  }
  .aa :link:hover,
  .prettyprint :link:hover,
  :link:hover,
  form :focus {
    color: #3079ed;
    border-color: #3079ed
  }
  a img {
    border-width: 2px
  }
  a:focus img {
    border-color: #3079ed!important
  }
  input,
  textarea {
    background: #fff;
    color: #111
  }
  .LinkList :link:hover,
  .LinkList :visited:hover,
  .RichLink-sep :link:hover,
  .RichLink-sep :visited:hover,
  .tl tr code,
  .tl tr var,
  [type=submit],
  blockquote tbody th code,
  blockquote tbody th var,
  code,
  thead code,
  thead var,
  var {
    background: #d0d0d0
  }
  .Cover h2,
  a code:focus,
  a var:focus,
  tbody :hover th {
    background: #3079ed
  }
  *,
  .tl td,
  .tl tfoot td,
  .tl tfoot th,
  .tl thead td,
  .tl thead th {
    border-color: #d0d0d0
  }
  body {
    color: #111;
    background: #1a1a1a
  }
  .ribbon,
  .ribbon :visited {
    color: #fff
  }
  .AHead,
  .BreadcrumbList,
  .Cover-meta,
  .baseColor :link .RichLink-meta,
  .baseColor :visited .RichLink-meta,
  a,
  h6 {
    color: #777
  }
  .ribbon * {
    border-color: #363636
  }
  .baseColor {
    background: #f8fbf8
  }
  hr {
    margin: 2em
  }
  .lW,
  .lX {
    width: 98%;
    max-width: 70em;
    margin: 0 auto
  }
  .lXi {
    margin: 0 2.7%
  }
  .lMi,
  .lMz {
    margin-left: 3.857%
  }
  .lS {
    width: 30%
  }
  .lSi {
    margin: 0 9%
  }
  .lM {
    width: 67.3%;
    float: left
  }
  .lS {
    float: right
  }
  #lB .lM {
    padding-bottom: 4em
  }
  #lB .lS {
    padding-bottom: 1em
  }
  .LinkList :link,
  .RichLink-sep :link,
  .js-generated-link-in-blockquote,
  .tl thead tr :link,
  :link,
  blockquote .tl tbody tr th :link,
  blockquote:before {
    color: #24c
  }
  .tl tbody th,
  .tl thead td,
  .tl thead th,
  .tl tr code,
  .tl tr var,
  :visited,
  blockquote tbody th code,
  blockquote tbody th var,
  thead code,
  thead var {
    color: #111
  }
  :visited:hover {
    color: #515;
    border-color: #515
  }
  #lE,
  #lF,
  .ABody h2,
  .ABody h2 *,
  .Cover h2,
  .tl tbody :hover td,
  .tl tbody :hover th {
    border-color: #3079ed
  }
  .ribbon a {
    color: #bbb
  }
  .aa :link,
  .prettyprint :link,
  .ribbon :link {
    color: #bbe
  }
  .AHead-labels a:focus,
  .SocialBtns a:focus,
  .Subscribe a:focus,
  .btn:focus {
    border-color: #3079ed;
    color: #3079ed
  }
  .AHead-labels {
    color: #1a1a1a
  }
  .BlogArchive,
  .BlogArchive tbody :hover td,
  .Label div,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .aBodyRoot blockquote tbody th :visited,
  .aBodyRoot blockquote tbody th :visited:hover,
  blockquote tbody th :link,
  blockquote tbody th :link:hover {
    color: #f8fbf8
  }
  .Cover .js-image-has-been-loaded div {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0
  }
  .LinkList a,
  .RichLink-sep a {
    background: #111;
    color: #f8fbf8
  }
  .ABody blockquote h4,
  .Magazine-main,
  blockquote h3,
  h4,
  kbd {
    border-color: #111
  }
  blockquote *,
  blockquote .tl td,
  blockquote .tl tfoot td,
  blockquote .tl tfoot th,
  blockquote .tl thead td,
  blockquote .tl thead th,
  blockquote table,
  h5,
  h6 {
    border-color: #777
  }
  .baseColor .RichLink a {
    border-color: #d0d0d0!important
  }
  .baseColor .RichLink-meta {
    color: #d0d0d0
  }
  .aBodyRoot :visited,
  .tl thead tr :visited,
  blockquote .tl tbody tr th :visited {
    color: #717
  }
  .aBodyRoot :visited:hover,
  .tl thead tr :visited:hover {
    color: #515
  }
  .aa :visited,
  .prettyprint :visited {
    color: #eae
  }
  .aa :visited:hover,
  .prettyprint :visited:hover {
    color: #c8e;
    border-color: #c8e
  }
  .aa {
    background: #0a0809
  }
  .aa,
  .aa code,
  .aa var {
    color: #00ac06
  }
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote thead code,
  blockquote thead var,
  blockquote var,
  tbody th code,
  tbody th var,
  thead td,
  thead th {
    background: #777;
    color: #f8fbf8
  }
  .ABody h2 {
    color: #3079ed
  }
  .hscroll {
    margin: 1em 0
  }
  .note .hscroll,
  dl .hscroll,
  li .hscroll,
  tr .hscroll {
    margin-top: 0
  }
  .hscroll table {
    margin-bottom: .5em
  }
  .hscroll pre {
    margin: 0 0 .5em;
    overflow: auto;
    white-space: pre
  }
  .hscroll tr pre {
    white-space: -o-pre-wrap
  }
  caption {
    margin: 1.5em 1em .7em
  }
  tbody th {
    background: #d0d0d0;
    border-color: #f8fbf8
  }
  td {
    border-color: transparent transparent #d0d0d0
  }
  tfoot td,
  tfoot th {
    border-color: #d0d0d0 transparent
  }
  blockquote thead td,
  blockquote thead th {
    background: #111;
    border-color: #777
  }
  blockquote tbody th {
    background: #777;
    color: #f8fbf8;
    border-color: transparent
  }
  blockquote td {
    border-color: transparent transparent #777
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #777 transparent
  }
  tbody :hover th a:focus {
    color: #3079ed!important
  }
  tbody :hover td {
    border-color: transparent transparent #3079ed;
    color: #3079ed
  }
  .tl tbody :hover th {
    background: #3079ed!important
  }
  .Pager-next i,
  .Pager-prev i {
    border-color: transparent #777
  }
  blockquote {
    background-color: #d0d0d0
  }
  .prettyprint {
    background: #333;
    color: #fff
  }
  .atv,
  .str {
    color: #65b042
  }
  .kwd {
    color: #e28964
  }
  .com {
    color: #aeaeae;
    font-style: italic
  }
  .tag,
  .typ {
    color: #89bdff
  }
  .dec,
  .lit {
    color: #3387cc
  }
  .pun {
    color: #dbdbdb
  }
  .pln {
    color: #d4d4d4
  }
  .atn {
    color: #bdb76b
  }
  #lF {
    border-top-width: .3em
  }
}
@media print {
  .lS1,
  .lS2 {
    width: 48.5%
  }
  .LinkList a,
  .Magazine-item,
  .RichLink-sep a,
  .SearchResult div div,
  .box,
  .caption,
  .commonForm-pair,
  .h1,
  dl,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  li,
  tr {
    page-break-inside: avoid
  }
  .h1,
  caption,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  thead {
    page-break-after: avoid
  }
  .AAuthor,
  .ADesc,
  .AHead,
  blockquote,
  table {
    margin: 1em 0
  }
  .kwd,
  .typ,
  th {
    font-weight: 700
  }
  iframe,
  img {
    max-width: 94%
  }
  p {
    line-height: 1.5
  }
  .AMeta,
  pre {
    padding: 1em 3%
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .js-generated-link-in-blockquote a:after,
  .noprint {
    display: none
  }
  .lS1 {
    float: left
  }
  .lS2 {
    float: right
  }
  #lB .lS1 {
    width: 45.5%;
    padding-left: 3%
  }
  #lB .lS2 {
    width: 45.5%;
    padding-right: 3%
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  .ADesc,
  .ribbon a {
    color: #666
  }
  .kwd,
  .ribbon :link,
  .tag,
  blockquote tbody th :link,
  blockquote tbody th :link:hover,
  thead :link {
    color: #006
  }
  .AHead,
  .BreadcrumbList {
    color: #666!important
  }
  .aBodyRoot blockquote tbody th :visited,
  .aBodyRoot blockquote tbody th :visited:hover,
  .aBodyRoot thead :visited,
  .ribbon :visited {
    color: #606
  }
  .AAuthor img {
    float: left;
    margin: 0 1em 1em 0
  }
  .ABody {
    padding: 0 0 2em
  }
  .AHead h1 {
    text-align: center;
    padding: 1em 0;
    color: #000!important
  }
  .lMz .AHead {
    padding: 0 3%
  }
  .AHead-labels a {
    display: inline;
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .Header h1,
  .Header h1 + span {
    display: block;
    text-align: center
  }
  .AHead-labels a:link {
    color: #006;
    background: transparent
  }
  .AHead-labels a:visited {
    color: #606;
    background: transparent
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0
  }
  .Cover {
    margin: 2em auto
  }
  .Cover h2 {
    margin-top: 1em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding-top: .5em;
    padding-bottom: .5em
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    margin: 0 0 .5em
  }
  .box {
    margin: 1em 0 0
  }
  .box iframe,
  .box img {
    margin: 0 1em 1em 3%
  }
  .box .caption {
    margin: 0 1.143em 1.143em 3%
  }
  code,
  var {
    border-width: 1px
  }
  blockquote code,
  blockquote var,
  tbody th code,
  tbody th var,
  thead code,
  thead var {
    border-color: #666
  }
  pre code {
    border: 0
  }
  .ABody h1,
  .ABody h2,
  .ABody h3 {
    text-align: center;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  .note blockquote dl,
  .note blockquote ol,
  .note blockquote p,
  .note blockquote ul {
    margin-right: 3%
  }
  thead td,
  thead th {
    background: #ccc;
    border-width: 0 0 1px;
    padding: .5em
  }
  blockquote thead td,
  blockquote thead th {
    background: transparent;
    border-color: #000;
    border-width: 0 0 1px;
    color: #000;
    padding: .5em
  }
  blockquote tbody th {
    background: transparent;
    border-color: #000
  }
  table {
    width: 100%
  }
  blockquote pre {
    margin: 1em
  }
  blockquote {
    padding: 1em
  }
  .prettyprint {
    line-height: 1
  }
  .atv,
  .str {
    color: #060
  }
  .com {
    color: #600;
    font-style: italic
  }
  .atn,
  .typ {
    color: #404
  }
  .lit {
    color: #044
  }
  .pun {
    color: #440
  }
  .pln {
    color: #000
  }
  .dec {
    color: #003
  }
}