@charset "UTF-8";
.AAuthor p,
.ADesc p,
.note .box,
dl .box,
form,
input,
li .box,
textarea,
tr .box {
  margin: 0
}
*,
[type=submit]:focus {
  border-style: solid
}
.SocialBtns .hb:focus,
.SocialBtns .ln:focus,
.SocialBtns .pk:focus,
.SocialBtns .tw:focus,
.baseColor .btn:focus,
a,
a img,
tbody th[colspan]:after {
  border-color: #f8fbf8
}
blockquote .tl td,
blockquote .tl tfoot td,
blockquote .tl tfoot th,
blockquote .tl thead td,
blockquote .tl thead th,
blockquote blockquote,
blockquote hr,
blockquote table,
blockquote td[colspan]:after,
h5,
h6 {
  border-color: #777
}
.aBodyRoot > :first-child,
.aBodyRoot > :first-child > :first-child,
.aBodyRoot > :first-child > a:first-child > img:first-child,
.tl td > :first-child,
dl iframe,
dl img,
li iframe,
li img,
tr iframe,
tr img,
tr ol,
tr ul {
  margin-top: 0
}
#jsMain,
#jsSide,
.Cover-img,
.Magazine-main,
.links [href]:before,
.links a,
[colspan],
h2,
kbd:hover,
sub,
sup {
  position: relative
}
.ico svg,
sub,
sup {
  vertical-align: baseline
}
body,
dd p,
li p,
tr p {
  line-height: 1.2
}
.Magazine-date,
.aa {
  font-family: monospace
}
.AMeta,
blockquote,
pre {
  padding: 1em
}
.links,
pre {
  white-space: pre-wrap
}
.icoLinks [href]:before,
.links [href]:before {
  content: ">";
  left: -.5em;
  width: 1em;
  font-weight: 700
}
.Cover img,
.caption,
iframe,
img {
  max-width: 100%
}
.Search .btn,
.lW {
  overflow: hidden
}
.js-generated-link-in-blockquote,
blockquote:before {
  font-size: .875em;
  color: #24c
}
.baseColor :link .RichLink-meta,
.baseColor :visited .RichLink-meta,
a,
h6 {
  color: #777
}
.js-generated-cite-in-blockquote,
blockquote:after {
  display: block;
  font-size: .875em;
  text-align: right;
  color: #777
}
.AHead h1,
th {
  text-align: left
}
body,
input,
textarea {
  font-family: "-apple-system",BlinkMacSystemFont,"Avenir Next",Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","M+ 1p",sans-serif
}
code,
kbd,
samp,
var {
  font-family: SFMono-Regular,"Liberation Mono",Consolas,Meiryo,monospace
}
*,
blockquote :link img,
blockquote :visited img,
blockquote tbody th[colspan]:after,
blockquote thead td[colspan]:after,
blockquote thead th[colspan]:after,
hr,
input,
table,
td[colspan]:after,
textarea,
thead td[colspan]:after,
thead th[colspan]:after {
  border-color: #ddd
}
.AHead-labels :focus,
.Subscribe .atom:focus,
.Subscribe .fl:focus,
.Subscribe .rss:focus,
.Subscribe .stm:focus,
.btn:focus,
.ribbon :link img,
.ribbon :visited img {
  border-color: #1a1a1a
}
a:focus img {
  border-color: #3079ed!important
}
:link:hover img,
:visited:hover img {
  position: relative;
  top: 2px
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important;
  background: #111;
  color: #f8fbf8
}
.BlogArchive :link:hover,
.BlogArchive :visited:hover,
.Label :link:hover,
.Label :visited:hover,
.aBodyRoot :link:hover,
.aBodyRoot :visited:hover,
.aBodyRoot a:focus,
:link,
:visited,
a:focus,
ins {
  text-decoration: none
}
.LinkList :link,
.RichLink-sep :link {
  background: 0 0;
  color: #24c
}
.LinkList a:visited,
.RichLink-sep a:visited {
  background: 0 0;
  color: #111
}
.LinkList .ribbon a,
.RichLink-sep .ribbon a {
  background: #fff;
  color: #1a1a1a
}
.ribbon .LinkList :link,
.ribbon .RichLink-sep :link {
  background: 0 0;
  color: #bbe
}
.ribbon .LinkList :visited,
.ribbon .RichLink-sep :visited {
  background: 0 0;
  color: #fff
}
.ribbon .LinkList :link:hover,
.ribbon .LinkList :visited:hover,
.ribbon .RichLink-sep :link:hover,
.ribbon .RichLink-sep :visited:hover {
  background: #2a2a2a;
  color: #fff
}
:focus {
  outline: 0
}
html {
  font-size: 100%
}
small,
sub,
sup {
  font-size: 75%
}
body,
html {
  margin: 0;
  height: 100%
}
body {
  padding: 0;
  background: #1a1a1a;
  color: #111
}
dt {
  font-weight: 700;
  margin-top: .7em
}
h1,
h2,
h3,
h5,
h6,
th {
  font-weight: 400
}
blockquote,
q {
  quotes: none
}
sub,
sup {
  line-height: 0
}
h4,
h5,
h6,
input,
textarea {
  font-size: 1em
}
.btn,
tbody th,
td {
  vertical-align: top
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  height: auto
}
cite,
code,
dfn,
em,
kbd,
q,
samp,
strong,
var {
  font-style: normal
}
pre {
  margin: 1em 0
}
del {
  text-decoration: line-through
}
.Magazine-mm,
.Magazine-yy,
.RichLink b,
.commonForm,
a iframe,
a img,
br {
  display: block
}
.links,
.mspacer,
blockquote,
dl,
iframe,
img,
ol,
p,
table,
tr blockquote p,
tr blockquote pre,
ul {
  margin: 1em
}
input {
  height: 2.1em;
  line-height: 1
}
textarea {
  overflow: auto
}
*,
.tl,
.tl th {
  border-width: 0
}
p {
  line-height: 1.9
}
.aBodyRoot :link,
.aBodyRoot :visited,
.aBodyRoot a:focus:hover,
:link:hover,
:visited:hover,
a:focus:hover {
  text-decoration: underline
}
a:focus {
  background-color: Highlight!important
}
.tl thead tr :link,
:link,
blockquote .tl tbody tr th :link {
  color: #24c
}
.tl tbody th,
.tl thead td,
.tl thead th,
:visited {
  color: #111
}
.ribbon :link:hover,
:link:hover,
form :focus {
  color: #3079ed;
  border-color: #3079ed
}
:visited:hover {
  color: #515;
  border-color: #515
}
.ribbon a {
  color: #bbb;
  border-color: #1a1a1a
}
a:active,
a:active * {
  color: #fff!important
}
.ribbon :link {
  color: #bbe
}
.ribbon,
.ribbon .AHead h1,
.ribbon :visited,
.tl tbody :hover th :link,
.tl tbody :hover th :visited,
tbody :hover th :link,
tbody :hover th :visited {
  color: #fff
}
.wn,
.wn:after {
  color: red!important
}
.ribbon :visited:hover {
  color: #c8e;
  border-color: #c8e
}
a:active {
  background-color: #3079ed!important
}
a:focus * {
  color: HighlightText!important
}
.ribbon a:focus {
  outline: HighlightText solid 2px
}
h4,
h5,
h6 {
  margin: 1.5em 0 .8em
}
h4 {
  border-width: 0 0 0 .7em;
  border-color: #111;
  padding: 0 0 0 .3em
}
h5 {
  border-width: 0 0 0 .5em;
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  padding: 0 0 0 .7em
}
abbr[title],
acronym,
dfn,
q[cite],
q[title] {
  border-bottom: 1px dotted
}
.ABody h2,
.ABody h2 *,
.tl tbody :hover td,
.tl tbody :hover th,
blockquote tbody :hover td[colspan]:after,
h2:after,
tbody :hover td[colspan]:after {
  border-color: #3079ed
}
abbr[title],
acronym,
dfn {
  text-decoration: none;
  cursor: help
}
[colspan]:after,
[colspan]:before,
h2:after {
  height: 0;
  font-size: .1em;
  line-height: 0;
  border-style: solid;
  content: " ";
  display: block;
  position: absolute
}
dd,
li {
  margin-bottom: .3em
}
code,
kbd,
var {
  margin: 0 .1em
}
ol,
ul {
  padding-left: 2em
}
li {
  margin-top: .3em
}
.links a,
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em
}
tr ol,
tr ul {
  margin-bottom: .5em
}
.js-captioned-thumbnail__large a,
dd blockquote,
dd dl,
dd p,
dd pre,
dd table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
dd blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dd ol,
dd ul,
li ol,
li ul {
  margin-top: 0;
  margin-bottom: 0
}
.Search input,
input,
textarea {
  border-width: .1em
}
h2 {
  margin: 0;
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
h2:after {
  width: 5em;
  left: 0;
  bottom: -2px;
  border-width: 2px 0 0
}
.wn:after {
  background: red!important
}
hr {
  border-width: 0 0 1px;
  height: 0;
  margin: 2em
}
tr hr {
  margin: 1em 9%
}
[colspan]:after,
[colspan]:before {
  bottom: -1px;
  left: .5em;
  right: .5em;
  border-width: 0 0 1px
}
.AHead-labels i,
.Magazine-m,
.Magazine-y,
.RichLink br,
tfoot [colspan]:after,
tfoot [colspan]:before {
  display: none
}
table {
  border-width: 1px 0 0;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0
}
.AMeta,
.Pager,
.tl thead th,
tbody th,
tbody th[colspan]:after,
th,
th[colspan]:after {
  border-width: 0 0 1px
}
caption {
  margin: 1.5em 1em .7em
}
th {
  padding: .5em
}
td {
  padding: .5em 0;
  border-color: #f8fbf8 #f8fbf8 #ddd
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em;
  background: #777;
  color: #f8fbf8;
  border-color: #ddd #8b8b8b
}
tbody td {
  border-width: 0 .5em 1px
}
tfoot th {
  border-width: 2px 0 0
}
tfoot td {
  border-width: 2px .5em 0
}
.BlogArchive,
.BlogArchive tbody :hover td,
.Label div,
.aBodyRoot blockquote tbody th :visited,
.aBodyRoot blockquote tbody th :visited:hover,
.aBodyRoot thead :visited,
.aBodyRoot thead :visited:hover,
blockquote tbody th :link,
blockquote tbody th :link:hover,
thead :link,
thead :link:hover {
  color: #f8fbf8
}
tbody th {
  background: #ddd;
  border-color: #f8fbf8
}
tfoot td,
tfoot th {
  border-color: #777 #f8fbf8
}
blockquote thead td,
blockquote thead th {
  background: #111;
  border-color: #ddd #252525
}
blockquote tbody th {
  background: #777;
  color: #f8fbf8;
  border-color: #ddd
}
blockquote td {
  border-color: #ddd #ddd #777
}
blockquote tfoot td,
blockquote tfoot th {
  border-color: #111 #ddd
}
blockquote tbody :hover td {
  border-color: #ddd #ddd #3079ed
}
tbody :hover th {
  background: #3079ed;
  color: #fff
}
tbody :hover td {
  border-color: #f8fbf8 #f8fbf8 #3079ed;
  color: #3079ed
}
.Pager-prev,
.commonForm-send,
.r {
  text-align: right
}
.btn,
.c,
.links [href]:before {
  text-align: center
}
.uc {
  text-transform: uppercase
}
.baseColor {
  background: #f8fbf8
}
.ribbon * {
  border-color: #2a2a2a
}
em {
  background: #ff6
}
strong {
  background: #6cf
}
.AAuthor:after,
.Comment p:after,
.Cover:after,
.Magazine-snippet:after,
.RichLink a:after,
.box:after,
.commonForm-pair:after,
.lMi:after,
.lSi:after,
.lW:after,
.lX:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both
}
.lM1 {
  float: left
}
.lM2 {
  float: right
}
.lM1,
.lM2 {
  width: 47.91%
}
.btn {
  display: inline-block;
  border-width: .1em;
  cursor: pointer;
  line-height: 1.9;
  padding: 0 1em;
  height: 2.1em
}
.AHead-labels a:focus,
.SocialBtns a:focus,
.Subscribe a:focus,
.btn:focus {
  border-color: #3079ed;
  color: #3079ed;
  outline: 0;
  border-style: dotted
}
.AHead-labels :link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #1a1a1a
}
.btn:visited {
  background: #1a1a1a;
  border-color: #fff;
  color: #fff
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #f8fbf8
}
.baseColor .btn:visited {
  background: #f8fbf8;
  border-color: #111;
  color: #111
}
.commonForm-pair {
  margin-bottom: 1em
}
.commonForm label {
  float: left;
  width: 7em;
  padding: .45em 0;
  display: block
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.commonForm-wrap {
  display: block;
  margin: 0 0 1em 8em
}
#jsSidebarFixer,
.commonForm-wrap * {
  width: 100%
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
.AAuthor,
.ADesc {
  margin: 2em .5em
}
.medal {
  border-color: #f8fbf8;
  background: #f8fbf8;
  color: #111
}
:link .medal,
:visited .medal {
  border-color: #111;
  background: #111;
  color: #f8fbf8
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #6d6309
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #61686b
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #e6d6a9
}
.Magazine-main,
blockquote h3,
kbd {
  border-color: #111
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #bbb
}
#lF .lM .mspacer,
.lS .mspacer {
  margin: .6em .5em
}
.AAuthor img {
  float: right;
  margin: 0 0 1em 1em
}
.ABody {
  padding: 3.5em 0 2em
}
.ABody h1 {
  font-size: 2em;
  margin: 3em 0
}
.ABody h2 {
  font-size: 1.5em;
  border-width: .2em 0 0;
  color: #3079ed;
  margin: 2em 0 1em
}
.ABody h2:after,
.Cover h2:after {
  width: 0
}
.ABody h3 {
  font-weight: 700;
  font-size: 1.25em;
  border-width: .1em 0 0;
  margin: 2.4em 0 1.2em
}
.AHead {
  color: #777;
  margin: 2em 0
}
.AHead h1 {
  font-size: 2em;
  color: #111;
  padding: 0 0 2em;
  margin: 0
}
.AHead-labels {
  margin-top: .5em;
  color: #1a1a1a
}
.AHead-labels a,
.SocialBtns a,
.Subscribe a {
  display: inline-block;
  vertical-align: top;
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  line-height: 1.9;
  padding: 0 1em;
  height: 2.1em;
  margin: 0 0 .5em
}
.AHead-labels :visited {
  background: #1a1a1a;
  border-color: #bbb;
  color: #bbb
}
.AHead-labels :link:hover {
  border-color: #bbe;
  color: #1a1a1a
}
.Attribution {
  padding: 1em 0;
  text-align: center
}
.Attribution small,
.prettyprint code {
  font-size: .875em
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive a,
.Label a {
  border-width: 0 0 1px;
  line-height: 2.8
}
.BreadcrumbList {
  padding: 1em 0;
  color: #777
}
.BreadcrumbList a,
.Cover-meta span,
.RichLink-meta span,
.TxtNavi a,
.icoLinks a,
.links a,
kbd {
  display: inline-block;
  vertical-align: top
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  color: #777;
  font-size: 93%
}
.Comment p {
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover {
  margin: 3.52em 0
}
.Cover-img {
  margin: 0 0 .6em;
  height: 100%
}
.Cover-meta,
.SearchResult div div {
  margin: 0 .5em
}
.Cover img {
  margin: 0;
  display: block;
  width: 100%
}
.Cover h2 {
  display: inline-block;
  vertical-align: top;
  background: #3079ed;
  border: 1px solid #3079ed;
  color: #f8fbf8;
  font-size: .825em;
  padding: .6em
}
.js-pica-thumbnail__large:active,
.js-pica-thumbnail__large:focus,
.tl td,
.tl th,
pre code,
pre var {
  background: 0 0!important
}
.Cover h3 {
  font-size: 1.33em;
  margin: 0;
  background: #fff
}
.Magazine h3,
.Magazine-yy {
  font-size: 2em
}
.Cover a {
  display: block;
  padding: .37em
}
.Cover-meta {
  display: block;
  color: #777;
  line-height: 1.4
}
.Cover p {
  line-height: 1.4;
  margin: .6em .5em
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #1a1a1a
}
#lF .Label a,
.lS .Label a {
  line-height: 2.4
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList :focus:hover {
  text-decoration: underline!important
}
.Magazine-item {
  padding: 1em 0;
  display: table
}
.Magazine-date,
.Magazine-main {
  display: table-cell;
  vertical-align: top
}
.Magazine-date {
  padding-right: 1.5em;
  font-weight: 700;
  line-height: 1
}
.Magazine-dd,
.Magazine-mm {
  font-size: 4em;
  line-height: .9
}
.Magazine-main {
  border-width: 0 0 0 .5em;
  padding-left: 1.5em
}
.aa,
blockquote,
kbd {
  border-width: 1px
}
.Magazine h3 {
  font-weight: 700;
  margin: .2em 0 0;
  padding: 0
}
.Magazine-label {
  margin: .5em 0 .8em
}
.Magazine-snippet img {
  float: left;
  margin: .4em 1em 1em 0
}
.Magazine-snippet p {
  line-height: 1.4em;
  margin: 0
}
.Magazine .btn {
  position: absolute;
  font-size: .83em;
  left: -7.229em;
  bottom: 0;
  width: 4.217em;
  padding: .301em
}
.RichLink a {
  padding: 1em .5em 0;
  border-width: 0 0 1px;
  border-color: #2a2a2a!important
}
.baseColor .RichLink a {
  border-color: #ddd!important
}
.RichLink-meta {
  color: #2a2a2a;
  font-size: .875em;
  margin: 1.143em 0;
  line-height: 1.4
}
.baseColor .RichLink-meta {
  color: #ddd
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  margin: 0 .6em 1em 0
}
.RichLink p {
  margin: 1em 0;
  line-height: 1.4
}
.Header,
.Header h1,
.aa {
  line-height: 1
}
.lS .RichLink img {
  float: right;
  margin: 0 0 1em .6em
}
.RichLink b {
  font-weight: 400;
  font-size: .875em;
  padding: 0 0 1.143em
}
.Search-txt {
  margin-right: .2em
}
.Search .btn {
  padding-left: .5em;
  padding-right: .5em;
  white-space: nowrap
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621
}
.SearchResult div p {
  margin: .2em 0 0;
  color: #545454;
  line-height: 1.2
}
.SearchResult div span {
  color: grey
}
.SearchResult-multi {
  margin: 2em 0
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em;
  padding-bottom: 1em
}
#lE,
#lF,
.tl tfoot th {
  border-width: 1px 0 0
}
.Header h1,
.h1 {
  display: inline;
  font-size: 1.5em;
  margin: 0 .5em 0 0
}
.Header h1 {
  padding: 0
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #1a1a1a
}
.Subscribe .atom:visited {
  background: #1a1a1a;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #1a1a1a
}
.Subscribe .rss:visited {
  background: #1a1a1a;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #1a1a1a
}
.Subscribe .fl:visited {
  background: #1a1a1a;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #1a1a1a
}
.Subscribe .stm:visited {
  background: #1a1a1a;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right;
  color: #f8fbf8
}
.aa {
  margin: 1em 0;
  border-color: #0a0809
}
.aBodyRoot :visited,
.tl thead tr :visited,
blockquote .tl tbody tr th :visited {
  color: #717
}
.aBodyRoot :visited:hover,
.tl thead tr :visited:hover {
  color: #515
}
blockquote[title]:before {
  content: attr(title);
  display: block
}
blockquote[cite]:after {
  content: attr(cite)
}
.caption {
  display: block;
  text-align: center;
  font-size: .875em
}
.box {
  margin: 1em 1em 0
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 0 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 0
}
.box .caption {
  float: left;
  margin: 0 1.143em 1.143em 0
}
div .caption iframe,
div .caption img {
  margin: 0 0 .571em;
  float: none
}
kbd {
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em
}
kbd:hover {
  top: -2px
}
code,
var {
  padding: .1em .4em
}
pre code,
pre var {
  padding: 0;
  margin: 0
}
a:focus code,
a:focus var {
  background: Highlight
}
.icoLinks {
  list-style: none
}
.icoLinks [href]:before {
  position: relative;
  text-align: center;
  text-decoration: none
}
.note {
  padding-left: 25%;
  margin: 1em
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  border-color: #ddd;
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  text-align: left;
  vertical-align: top
}
.tl td {
  padding: .5em .8em;
  border-width: 0 0 0 .3em;
  border-color: #ddd;
  border-style: solid
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.tl tbody :hover th {
  background: #3079ed!important;
  color: #fff
}
.AMeta div {
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager {
  color: #f8fbf8;
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 0 1em
}
.Pager-next i,
.Pager-prev i {
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent
}
.Pager span {
  vertical-align: middle;
  display: table-cell
}
.Pager-top {
  padding: 1.5em .5em;
  text-align: center
}
.Pager-next,
.Pager-prev {
  padding: 1.5em 0
}
.Pager i {
  display: inline-block;
  vertical-align: text-top
}
.Pager-next i {
  margin-right: .5em;
  border-right: .7em solid #777
}
.Pager-next i:focus {
  border-right: .7em solid #fff
}
.Pager-prev i {
  margin-left: .5em;
  border-left: .7em solid #777
}
.Pager-prev i:focus {
  border-left: .7em solid #fff
}
.Pager-top i {
  margin-right: .5em;
  border-left: .45em solid transparent;
  border-right: .45em solid transparent;
  border-bottom: .9em solid #777
}
.Pager-top i:focus {
  border-left: .45em solid #fff;
  border-right: .45em solid #fff
}
.SocialBtns {
  border-width: 0 0 1px;
  color: #f8fbf8;
  padding: 1em 1em .5em
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #f8fbf8
}
.SocialBtns .tw:visited {
  background: #f8fbf8;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .fb:focus,
.SocialBtns .pt:focus {
  border-color: #fff
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #f8fbf8
}
.SocialBtns .hb:visited {
  background: #f8fbf8;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #f8fbf8
}
.SocialBtns .pk:visited {
  background: #f8fbf8;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #f8fbf8
}
.SocialBtns .ln:visited {
  background: #f8fbf8;
  border-color: #00c300;
  color: #00c300
}
.prettyprint {
  border-width: 1px;
  border-color: #333
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.js-pica-thumbnail__large img {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0 0 1em
}
.box .js-pica-thumbnail__large img,
.js-captioned-thumbnail__large,
div .box .js-captioned-thumbnail__large {
  margin: 0 0 1em
}
@media screen,
handheld,
projection {
  a img {
    border-width: 2px
  }
  .LinkList :link:hover,
  .LinkList :visited:hover,
  .RichLink-sep :link:hover,
  .RichLink-sep :visited:hover,
  .tl tr code,
  .tl tr var,
  blockquote tbody th code,
  blockquote tbody th var,
  thead code,
  thead var {
    background: #ddd;
    color: #111
  }
  input,
  textarea {
    background: #f8fbf8;
    color: #111
  }
  [type=submit],
  blockquote,
  code,
  var {
    background: #ddd
  }
  #lB .lM {
    padding-bottom: 4em
  }
  #lB .lS {
    padding-bottom: 1em
  }
  .lW,
  .lX {
    width: 98%;
    max-width: 70em;
    margin: 0 auto
  }
  .lXi {
    margin: 0 2.7%
  }
  .lX1 {
    float: left
  }
  .lS,
  .lX2 {
    float: right
  }
  .lMi,
  .lMz {
    margin-left: 3.857%
  }
  .lS {
    width: 30%
  }
  .lSi {
    margin: 0 9%
  }
  .lM {
    width: 67.3%;
    float: left
  }
  .Cover .js-image-has-been-loaded div {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0
  }
  .aa {
    background: #0a0809
  }
  .aa :link,
  .prettyprint :link,
  .prettyprint :link * {
    color: #bbe
  }
  .aa :visited,
  .prettyprint :visited,
  .prettyprint :visited * {
    color: #eae
  }
  .aa :link:hover {
    color: #3079ed;
    border-color: #3079ed
  }
  .aa :visited:hover {
    color: #c8e;
    border-color: #c8e
  }
  .aa,
  .aa code,
  .aa var {
    color: #00ac06
  }
  .hscroll {
    margin: 1em 0
  }
  .note .hscroll,
  dl .hscroll,
  li .hscroll,
  tr .hscroll {
    margin-top: 0
  }
  .hscroll table {
    margin-bottom: .5em
  }
  .hscroll pre {
    margin: 0 0 .5em;
    overflow: auto;
    white-space: pre
  }
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote var,
  tbody th code,
  tbody th var {
    background: #777;
    color: #f8fbf8
  }
  .prettyprint {
    background: #333;
    color: #fff
  }
  .atv,
  .str {
    color: #65b042
  }
  .kwd {
    color: #e28964
  }
  .com {
    color: #aeaeae;
    font-style: italic
  }
  .tag,
  .typ {
    color: #89bdff
  }
  .dec,
  .lit {
    color: #3387cc
  }
  .pun {
    color: #dbdbdb
  }
  .pln {
    color: #d4d4d4
  }
  .atn {
    color: #bdb76b
  }
}
@media print,
handheld {
  .lS1,
  .lS2 {
    width: 48.5%
  }
  .js-generated-cite-in-blockquote,
  .js-generated-link-in-blockquote,
  blockquote:after,
  blockquote:before {
    margin: 0 1.5%
  }
  .links,
  .note,
  blockquote,
  dl,
  iframe,
  img,
  ol,
  p,
  table,
  tr blockquote p,
  tr blockquote pre,
  ul {
    margin: 1em 3%
  }
  h4,
  h5,
  h6 {
    margin: 1.5em 1.5% .8em
  }
  .AMeta,
  pre {
    padding: 1em 3%
  }
  iframe,
  img {
    max-width: 94%
  }
  hr {
    margin: 2em 6%
  }
  caption {
    margin: 1.5em 3% .7em
  }
  .lMi,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0 3%
  }
  .lS1 {
    float: left
  }
  .lS2 {
    float: right
  }
  #lB .lS1 {
    width: 45.5%;
    padding-left: 3%
  }
  #lB .lS2 {
    width: 45.5%;
    padding-right: 3%
  }
  .AAuthor,
  .ADesc,
  .AHead {
    margin: 1em 0
  }
  .AAuthor img {
    float: left;
    margin: 0 1em 1em 0
  }
  .ABody h1 {
    margin: 3em 1.5%
  }
  .ABody h2 {
    margin: 2em 1.5% 1em
  }
  .ABody h3 {
    margin: 2.4em 1.5% 1.2em
  }
  .ABody h1,
  .ABody h2,
  .ABody h3 {
    text-align: center;
    padding-left: 1.5%;
    padding-right: 1.5%
  }
  .AHead h1 {
    text-align: center
  }
  .Cover {
    margin: 2em auto
  }
  blockquote {
    padding: 1em 1px
  }
  .box dl,
  .box ol,
  .box p,
  .box ul {
    margin: 0 3% 1em
  }
  .box {
    margin: 1em 0 0
  }
  .box iframe,
  .box img {
    margin: 0 1em 1em 3%
  }
  .box .caption {
    margin: 0 1.143em 1.143em 3%
  }
  .note blockquote dl,
  .note blockquote ol,
  .note blockquote p,
  .note blockquote ul {
    margin-right: 3%
  }
}
@media handheld {
  .AHead,
  .BreadcrumbList,
  .Cover-meta,
  .baseColor :link .RichLink-meta,
  .baseColor :visited .RichLink-meta,
  a,
  h6 {
    color: #999
  }
  :link:hover,
  blockquote tbody :hover td[colspan]:after,
  tbody :hover td[colspan]:after {
    border-color: #3079ed
  }
  #lB .lS,
  #lF .lX {
    border-width: 1px 0 0
  }
  .lW,
  .lX,
  table {
    width: 100%
  }
  .AHead,
  .AHead h1,
  .AHead-labels a,
  .Header,
  .Label div,
  .LinkList,
  .Search,
  .SocialBtns,
  .Subscribe div,
  h2 {
    text-align: center
  }
  .js-generated-link-in-blockquote,
  blockquote:before {
    margin: 0;
    color: #bbe
  }
  .SearchResult div div,
  .js-generated-cite-in-blockquote,
  .lMi,
  .lMz,
  .lSi,
  blockquote:after {
    margin: 0
  }
  .links,
  .note,
  blockquote,
  dl,
  iframe,
  img,
  ol,
  p,
  table,
  tr blockquote p,
  tr blockquote pre,
  ul {
    margin: 1em 0
  }
  a img {
    box-sizing: border-box
  }
  :link img,
  :visited img,
  blockquote :link img,
  blockquote :visited img {
    border-color: transparent
  }
  .LinkList a:not([href]),
  .RichLink-sep a:not([href]),
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote var,
  tbody th code,
  tbody th var {
    background: #999;
    color: #000
  }
  [type=submit],
  code,
  tbody th,
  var {
    background: #222
  }
  .LinkList :link:hover,
  .LinkList :visited:hover,
  .RichLink-sep :link:hover,
  .RichLink-sep :visited:hover,
  .tl tr code,
  .tl tr var,
  blockquote,
  blockquote tbody th code,
  blockquote tbody th var,
  thead code,
  thead var {
    background: #222;
    color: #eee
  }
  body {
    font-size: .75em;
    color: #eee
  }
  p {
    line-height: 1.4
  }
  .baseColor .btn:focus,
  a,
  tbody th,
  tbody th[colspan]:after {
    border-color: #000
  }
  .SearchResult :visited,
  .tl tbody tr th :link,
  .tl thead tr :link,
  :link,
  blockquote .tl tbody tr th :link {
    color: #bbe
  }
  .tl tbody th,
  .tl thead td,
  .tl thead th,
  :visited,
  blockquote th em,
  blockquote th strong,
  thead em,
  thead strong {
    color: #eee
  }
  :link:hover {
    color: #3079ed
  }
  :visited:hover {
    color: #c8e;
    border-color: #c8e
  }
  h4,
  h5,
  h6 {
    margin: 1.5em 0 .8em
  }
  .AMeta,
  pre {
    padding: 1em 2px
  }
  .ABody h1,
  .ABody h2,
  .ABody h3,
  .RichLink a,
  h2 {
    padding-left: 0;
    padding-right: 0
  }
  dd,
  li {
    margin-bottom: .1em
  }
  iframe,
  img {
    max-width: 96%;
    max-width: 98%;
    max-width: 100%
  }
  img {
    margin: 1em auto
  }
  dd {
    margin-left: .5em
  }
  li {
    margin-top: .1em
  }
  dt {
    margin-top: .2em
  }
  .Magazine,
  .Magazine-main,
  blockquote h3,
  h4,
  kbd {
    border-color: #eee
  }
  blockquote .tl td,
  blockquote .tl tfoot td,
  blockquote .tl tfoot th,
  blockquote .tl thead td,
  blockquote .tl thead th,
  blockquote blockquote,
  blockquote hr,
  blockquote table,
  blockquote td[colspan]:after,
  h5,
  h6 {
    border-color: #999
  }
  *,
  .tl td,
  .tl tfoot td,
  .tl tfoot th,
  .tl thead td,
  .tl thead th,
  blockquote tbody th[colspan]:after,
  blockquote thead td[colspan]:after,
  blockquote thead th[colspan]:after,
  hr,
  table,
  td[colspan]:after,
  thead td[colspan]:after,
  thead th[colspan]:after {
    border-color: #222
  }
  input,
  textarea {
    background: #000;
    color: #eee
  }
  h2:after {
    width: 33%;
    left: 33%;
    right: auto
  }
  hr {
    margin: 2em 0
  }
  caption {
    margin: 1.5em 0 .7em
  }
  thead td,
  thead th {
    background: #999;
    color: #000;
    border-color: #222 #818181
  }
  .BlogArchive,
  .BlogArchive tbody :hover td,
  .Label div,
  .TxtNavi,
  .aBodyRoot blockquote tbody th :visited,
  .aBodyRoot blockquote tbody th :visited:hover,
  .aBodyRoot thead :visited,
  .aBodyRoot thead :visited:hover,
  blockquote tbody th :link,
  blockquote tbody th :link:hover,
  thead :link,
  thead :link:hover {
    color: #000
  }
  td {
    border-color: #000 #000 #222
  }
  tfoot td,
  tfoot th {
    border-color: #999 #000
  }
  blockquote thead td,
  blockquote thead th {
    background: #eee;
    border-color: #222 #dadada
  }
  blockquote tbody th {
    background: #999;
    color: #000;
    border-color: #222
  }
  blockquote td {
    border-color: #222 #222 #999
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #eee #222
  }
  blockquote tbody :hover td {
    border-color: #222 #222 #3079ed
  }
  tbody :hover td {
    border-color: #000 #000 #3079ed
  }
  #lB .lS {
    background: #f1f4f1;
    padding-bottom: 2em
  }
  #lB .lS,
  .baseColor {
    background: #000
  }
  em {
    background: #4e4e1f
  }
  strong {
    background: #1c3a49
  }
  .lW,
  .lX {
    max-width: 100%
  }
  .lXi {
    margin: 0;
    padding: 0
  }
  .lM,
  .lS {
    width: auto;
    float: none
  }
  #lB .lSi,
  .lMi,
  .lMz .lMh,
  .lSi {
    padding: 0
  }
  .commonForm label,
  .lM1,
  .lM2,
  .lS1,
  .lS2 {
    float: none;
    width: auto
  }
  #lB .lS1,
  #lB .lS2 {
    width: auto;
    padding: 0
  }
  .baseColor .btn:link {
    background: #bbe;
    border-color: #bbe;
    color: #000
  }
  .baseColor .btn:visited {
    background: #000;
    border-color: #eee;
    color: #eee
  }
  .Magazine img,
  .commonForm-wrap {
    margin-left: 0
  }
  .medal {
    border-color: #222;
    background: #222;
    color: #eee
  }
  :link .medal,
  :visited .medal {
    border-color: #999;
    background: #999;
    color: #000
  }
  .mspacer {
    margin: .6em 0!important
  }
  .ABody h1 {
    margin: 3em 0;
    font-size: 1.5em
  }
  .ABody h2 {
    margin: 2em 0 1em;
    font-size: 1.25em
  }
  .ABody h3 {
    margin: 2.4em 0 1.2em
  }
  .AHead h1 {
    padding: 2em 0;
    font-size: 1.5em;
    color: #eee
  }
  .AHead-labels {
    line-height: 0
  }
  .AHead-labels a {
    display: block;
    margin: .5em
  }
  .Cover h2,
  .LinkList div {
    display: inline-block;
    vertical-align: top
  }
  .Cover {
    max-width: 400px
  }
  .Cover img {
    width: auto;
    margin: 0 1em 1em 0
  }
  .Cover .js-image-has-been-loaded div {
    position: static;
    padding: 0
  }
  .Cover h2 {
    font-size: 1em;
    padding: .5em;
    margin: 0 .5em .5em 0
  }
  .Cover h3 {
    background: 0 0;
    color: #111;
    font-size: 1.5em;
    background: #000
  }
  .Cover a {
    padding: 0 0 .33em
  }
  .Cover p,
  .Cover-meta {
    margin-left: 0;
    margin-right: 0
  }
  .LinkList {
    padding: .2em 0 1em
  }
  .LinkList div {
    margin: 2px
  }
  .LinkList a {
    padding: .5em 0
  }
  .Magazine {
    margin: 1em 0 0;
    border-width: .5em 0 0;
    border-color: #111
  }
  .Magazine-item {
    padding: 1em 0 0;
    display: block
  }
  .Magazine-date {
    font-family: inherit;
    width: auto;
    display: block
  }
  .Magazine-mm,
  .Magazine-yy {
    display: inline;
    font-size: 1em
  }
  .Magazine-dd,
  .RichLink h3,
  .RichLink h3 * {
    font-size: 1em
  }
  .Magazine-m,
  .Magazine-y {
    display: inline
  }
  .Magazine-main {
    border-width: 0 0 .5em;
    padding: 0 0 1em;
    display: block
  }
  .Magazine h3 {
    font-size: 1.3em
  }
  .Magazine .btn {
    position: static;
    width: auto;
    font-size: 1em;
    padding: .5em 1em
  }
  .baseColor .RichLink a {
    border-color: #222!important
  }
  .lS .RichLink a {
    padding: .7em .5em 0
  }
  .lS .RichLink img {
    float: left;
    margin: 0 .5em .6em 0
  }
  .RichLink b {
    padding: 0 0 .571em;
    font-size: 1em
  }
  .RichLink img,
  .box iframe,
  .box img {
    float: none;
    margin: 0 auto 1em
  }
  .baseColor .RichLink-meta {
    color: #222
  }
  .SearchResult div p {
    color: grey
  }
  .SearchResult div span {
    color: #545454
  }
  #lH .lMi {
    padding-bottom: 0
  }
  .Header h1,
  .h1 {
    display: block;
    margin: 0 0 .5em;
    font-size: 1.2em
  }
  .aBodyRoot :visited,
  .tl tbody tr th :visited,
  .tl thead tr :visited,
  blockquote .tl tbody tr th :visited {
    color: #eae
  }
  .aBodyRoot :visited:hover,
  .tl tbody tr th :visited:hover,
  .tl thead tr :visited:hover {
    color: #c8e
  }
  .box dl,
  .box ol,
  .box p,
  .box ul {
    margin: 0 0 1em
  }
  .box .caption {
    float: none;
    margin: 0 auto 1.143em
  }
  .hscroll {
    overflow: auto
  }
  .hscroll tbody {
    white-space: nowrap
  }
  .nojs .hscroll tbody {
    white-space: pre-wrap
  }
  .note blockquote dl,
  .note blockquote ol,
  .note blockquote p,
  .note blockquote ul {
    margin-right: 0
  }
  .Pager {
    padding: 0 2px;
    color: #000
  }
  .Pager-next i,
  .Pager-top i {
    margin-right: .2em
  }
  .Pager-prev i {
    margin-left: .2em
  }
  .Pager i {
    border-color: transparent #999
  }
  .Pager-top i {
    border-color: #999 transparent
  }
  .SocialBtns {
    padding: 1em 2px .5em;
    color: #000
  }
  .SocialBtns .fb :link,
  .SocialBtns .hb :link,
  .SocialBtns .ln :link,
  .SocialBtns .ok :link,
  .SocialBtns .pt :link,
  .SocialBtns .tw :link {
    color: #000!important
  }
  .SocialBtns .fb :visited,
  .SocialBtns .hb :visited,
  .SocialBtns .ln :visited,
  .SocialBtns .ok :visited,
  .SocialBtns .pt :visited,
  .SocialBtns .tw :visited {
    background: #000!important
  }
  .SocialBtns .fb:focus,
  .SocialBtns .hb:focus,
  .SocialBtns .ln:focus,
  .SocialBtns .ok:focus,
  .SocialBtns .pt:focus,
  .SocialBtns .tw:focus {
    border-color: #000!important
  }
}
@media print {
  .LinkList a,
  .Magazine-item,
  .RichLink-sep a,
  .SearchResult div div,
  .box,
  .caption,
  .commonForm-pair,
  .h1,
  dd,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  li,
  tr {
    page-break-inside: avoid
  }
  .h1,
  caption,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  thead {
    page-break-after: avoid
  }
  blockquote code,
  blockquote table,
  blockquote td[colspan]:after,
  blockquote var,
  tbody th,
  tbody th code,
  tbody th var,
  tbody th[colspan]:after,
  thead code,
  thead td,
  thead th,
  thead var {
    border-color: #666
  }
  *,
  .ribbon *,
  table,
  td[colspan]:after {
    border-color: #ccc
  }
  blockquote,
  table {
    margin: 1em 0
  }
  .kwd,
  .typ,
  th {
    font-weight: 700
  }
  .LinkList :link,
  .RichLink-sep :link,
  .kwd,
  .ribbon :link,
  .tag,
  :link,
  blockquote tbody th :link,
  blockquote thead th :link,
  thead :link {
    color: #006
  }
  .AHead-labels,
  .LinkList :visited,
  .RichLink-sep :visited,
  .pln {
    color: #000
  }
  p {
    line-height: 1.5
  }
  .ADesc,
  .ribbon a,
  a {
    color: #666
  }
  .ribbon :visited,
  :visited,
  blockquote tbody th :visited,
  blockquote thead th :visited,
  thead :visited {
    color: #606
  }
  blockquote pre {
    margin: 1em
  }
  table {
    width: 100%
  }
  thead td,
  thead th {
    background: #ccc;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  thead td[colspan]:after,
  thead th[colspan]:after {
    border-color: #666;
    border-width: 0 0 1px
  }
  tbody th {
    background: #ccc
  }
  td {
    border-color: #fff #fff #ccc
  }
  tfoot td,
  tfoot th {
    border-color: #666 #fff
  }
  blockquote thead td,
  blockquote thead th {
    background: #ccc;
    color: #000;
    padding: .5em;
    border-color: #000;
    border-width: 0 0 1px
  }
  blockquote thead td[colspan]:after,
  blockquote thead th[colspan]:after {
    border-color: #000;
    border-width: 0 0 1px
  }
  blockquote tbody th {
    background: #ccc;
    color: #000;
    border-color: #000
  }
  blockquote tbody th[colspan]:after,
  kbd {
    border-color: #000
  }
  blockquote td {
    border-color: #fff #fff #666
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #000 #fff
  }
  .baseColor,
  .ribbon,
  body {
    background: #fff;
    color: #000
  }
  .AHead,
  .BreadcrumbList {
    color: #666!important
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .js-generated-link-in-blockquote a:after,
  .noprint {
    display: none
  }
  .ABody {
    padding: 0 0 2em
  }
  .lMz .AHead {
    padding: 0 3%
  }
  .AHead h1 {
    color: #000!important;
    padding: 1em 0
  }
  .AHead-labels a {
    display: inline;
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .Header h1,
  .Header h1 + span {
    display: block;
    text-align: center
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0
  }
  .Cover h2 {
    margin-top: 1em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding-top: .5em;
    padding-bottom: .5em
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    margin: 0 0 .5em
  }
  code,
  var {
    border-width: 1px;
    border-color: #ccc
  }
  pre code {
    border: 0
  }
  .tl tbody td:after,
  blockquote .tl tbody td:after {
    border-color: #fff
  }
  .prettyprint {
    line-height: 1
  }
  .atv,
  .str {
    color: #060
  }
  .com {
    color: #600;
    font-style: italic
  }
  .atn,
  .typ {
    color: #404
  }
  .lit {
    color: #044
  }
  .pun {
    color: #440
  }
  .dec {
    color: #003
  }
}