/*  reset
--------------------------------------------------------------------------------------*/
    /* (forced-colors:active) のフォールバックが出来ない場合も、フォーカスのアウトラインが消えないように無色で塗ります
     */
    @if( $CANUSE_OUTLINE ){
        @if( $UA_Modern or $IS_IE8_OR_9 ){
            * {
                @include active-focus-pseudo-class{
                    outline : 0;
                }
            }
            a, input, textarea, select, button { // IE8~11 のハイコントラストモードでクリックするたびに要素に枠線が付くので個別に指定する
                @include active-focus-pseudo-class{
                    outline : $FORCED_COLORS_FOCUS_BORDER_WIDTH solid transparent;
                }
            }
        } @else {
            * {
                @include active-focus-pseudo-class( false ) {
                    outline : 0;
                    /*  Forced colors
                    --------------------------------------------------------------------------------------*/
                    @include media(forced_colors_fallback){
                        @if( $UA_Gecko19 ){
                            outline : $FORCED_COLORS_FOCUS_BORDER_WIDTH solid; // Gecko 1.8 transparent 不可
                        }
                    }
                }
            }
        }
    }

    /*  html & body
    --------------------------------------------------------------------------------------*/
    html {
        font-size : 100%;
        @if( $UA_Modern ){
            // https://shanabrian.com/web/html-css-js-technics/other-ie10-11-bug-01.php
            //   IE10、IE11、Windows 8 Edgeでページ全体のスクロールバーがコンテンツと重なる
            // https://qumeru.com/magazine/libraries/stylesheet/posts/60
            //   スクロール中のみスクロールバーを表示
            -ms-overflow-style       : -ms-autohiding-scrollbar;
            -webkit-text-size-adjust : 100%;
               -moz-text-size-adjust : 100%;
                -ms-text-size-adjust : 100%;
                /* text-size-adjust : 100%; */
    // https://github.com/browserstrangeness/browserstrangeness.github.io/blob/7700dee3256f185fd16af3241e62bbf1e398fdf5/index.html#L29
            text-rendering           : optimizeLegibility !important;
             -webkit-font-smoothing  : antialiased !important;
            -moz-osx-font-smoothing  : grayscale;
        }
    }

    html,
    body {
        margin : 0;    /* body のみ? */
        height : 100%; /* body のみ? */
    }
    body {
        @if( $UA_Opera8 or $IS_Opera7x ){
            padding : 0; /* Opera 7~8 */
        }
    }

    /*  *
    --------------------------------------------------------------------------------------*/
    table {
        @if( $UA_IE5 or $UA_IE55 ){
            font-size : 1em;
        }
    }

    /* b, */
    /* strong, em, */ dt {
        font-weight : bold;
    }

    blockquote, q {
        /**
         * https://developer.mozilla.org/ja/docs/Web/CSS/quotes
         * https://www.tohoho-web.com/css/prop/quotes.htm
         *   IE8+, Gecko 1.7+, Opera 4+
         */
        @if( $IS_LTE_WIN_IE7 == false and $IS_LTE_GECKO09 == false and $UA_Gecko12 == false and $UA_Gecko13 == false ){
            quotes : none;
        }
    }

    /* @if( $CANUSE_CSS_GENERATED_CONTENT ){
        q:before,
        q:after {
            content : '';
            content : none;
        }
    } */

    small {
        font-size : 75%;
    }

    @if( $IS_NOT_IE ){
        sub,
        sup {
            font-size      : 75%;
            line-height    : 0;
            position       : relative;
            vertical-align : baseline;
        }
        sup {
            top : -0.5em;
        }
        sub {
            bottom : -0.25em;
        }
    }

    @if( $UA_IE9 ){
        svg {
            overflow : hidden;
        }
        img:not([src$=".svg"]):not([src*=".svg?"]){ // svg だと height が狂う, 併せて要 viewBox 属性, svg 圧縮ツールで削らないこと
            height : auto;
        }
    } @else {
        img {
            @if( $UA_IE7 ){
                -ms-interpolation-mode : bicubic;
            }
            height : auto;
        }
    }

    dfn, q, cite { font-style : normal; }

    code, var, samp, kbd {
        @if( $Option_IT ){
            font-style : normal;
        }
    }

    pre {
        @include pre-wrap;

        @if( $IS_OLD_GECKO ){
            overflow : auto;
        }
        code, samp {
            @if( $UA_IE5 and $Option_IT ){
                width : 100%;
            }
        }
    }

    ul, ol {
        @if( $UA_Modern ){
            list-style-position : outside; /* android opera12 ?? */
        }
        @if( $UA_IE5 or $UA_IE55 ){
            margin-left : 0;
        }
    }

    /* remember to highlight inserts somehow! */
    ins { text-decoration : none; }
    del { text-decoration : line-through; }

    figure {
        @if( $UA_IE9 or $UA_Modern ){
            margin : 0;
        }
    }

    aside {
        @if( $UA_Modern or $UA_IE9 ){ // Firefox 98.0 で必要になっていた
            margin  : 0;
            padding : 0;
            border  : 0;
        }
    }

/*  bugfix
--------------------------------------------------------------------------------------*/
    br {
        @if( $UA_Opera8 or $IS_Opera7x ){
            display : block;
        }
    }