@if( $IS_OLD_OPERA or $IS_OLD_GECKO ){
    form {
        margin : 0;
    }
}

input {
    font-size : 1em;

    @if( $UA_Modern ){
        -webkit-border-radius : 0;
           -moz-border-radius : 0;
                border-radius : 0;
        -webkit-appearance    : none;
                appearance    : none;
    }

    @if( $UA_Modern or $UA_IE9 or $UA_IE8 or $UA_IE7 or $UA_IE6 ){
        @include box-sizing(content-box);
        line-height : 1;
        height      : 1em;
    }
    @if( $UA_IE55 or $UA_IE5 or $IS_OLD_GECKO ){
        line-height : 1;
        height      : #{$PARAGRAPH_LINE_HEIGHT_EM + $INPUT_BORDER_WIDTH * 2}; 
    }
    @if( $IS_OLD_OPERA ){
        height : #{$PARAGRAPH_LINE_HEIGHT_EM + $INPUT_BORDER_WIDTH * 2};
        @if( $IS_Opera7x == false ){
            line-height : 1; // Opera 7.x input[type=text] に触れなくなる
        }
        @if( $UA_Opera9 ){
            border-style : solid; /* for Opera 9.x [type=submit] */
        }
    }
    @if( $IS_NOT_IE ){
        margin : 0;
    }
}

@if( $UA_Opera8 ){
    input[type=submit]:focus {
        border-style : solid;
    }
}

@if( $IS_OLD_GECKO ){
    textarea, input {
        -moz-box-sizing : border-box;
    }
    @if( $UA_Gck-097 ){
        [type=hidden] {
            display: none; // Only for Gecko 0.9.6
        }
        input[type=submit] {
            -moz-box-sizing : content-box; /* Gecko 0.8.1 */
        }
        :-gck-lte142, _:-moz-any-link, input[type=submit] {
            -moz-box-sizing : border-box; /* Gecko 0.9.4~1.4.2 */
        }
    }
    @if( $UA_Gck-097 or $UA_Gck101-121 ){
        input[type=submit]:focus {
            border-style : solid;
        }
        input[type=submit]:-moz-focus-inner /* , button:-moz-focus-inner */ {
            border : 0;
        }
    }
    
    @if( $UA_Gck130-190 ){
        [type=hidden] {
            display: none !important; // ハイコントラストモードで必要. Gecko 1.8.1.12 で確認
        }
        input:-moz-focus-inner /* , button:-moz-focus-inner */ {
            border : 0; /* Gecko 1.3.1~1.8.1 */
        }
    }
}

@if( $UA_Modern or $UA_Gck130-190 ){
    input::-moz-focus-inner /* , button::-moz-focus-inner */ {
        border : 0; /* Gecko 1.9.0 */
    }
}

textarea {
    font-size   : 1em;
    overflow    : auto;
    margin      : 0;

    @if( $UA_Modern ){
        resize           : vertical;
        background-image : none; /* Android Firefox */
    }
}

@if( $UA_Modern ){
    form :invalid {
        box-shadow : none; /* firefox45 */
    }
}