/*  Reset form
--------------------------------------------------------------------------------------*/
form {
    @if( $IS_OLD_OPERA or $IS_OLD_GECKO ){
        margin : 0;
    }

    :invalid {
        @if( $UA_Modern ){
            box-shadow : none; /* firefox45 */
        }
    }
}


input, textarea {
    @if( $IS_OLD_GECKO ){
        @include box-sizing(border-box);
    }
}

// ハイコントラストモードでフォーム部品の色設定の無いプロパティにだけシステムカラーが適用されて、著しく視認性を損なうのを防ぐ
@if( $UA_MacIE5 == false and ( $FORCED_COLORS_SUPPORT == false or $UA_Modern or $UA_Gecko19 ) ){
    @include media(screen) {
        input, textarea {
            @if( $IS_Opera7x ){
                background : #fff;
                color      : $COLOR_Light_text;
            } @else if( $UA_Opera72 ){
                background : Window;
                color      : WindowText;
            } @else {
                background : $COLOR_Light_fill;
                color      : $COLOR_Light_text;
            }
        }
        [type=submit] {
            background : $COLOR_Light_casual_fill;
            &:focus {
                @if( $UA_Opera72 ){
                    top : 0; // ポロパティと値は何でも良い, ハイコントラストモード時に、ボタンがフォーカスされた際に背景が黒くなるのを防ぐ
                }
            }
        }
    }
}

/*  input
--------------------------------------------------------------------------------------*/
input {
    font-size : 1em;

    @if( $UA_Modern ){
        -webkit-border-radius : 0;
           -moz-border-radius : 0;
                border-radius : 0;
        -webkit-appearance    : none;
                appearance    : none;
    }

    @if( $UA_Modern or $UA_IE9 or $UA_IE8 or $UA_IE7 or $UA_IE6 ){
        @include box-sizing(content-box);
        line-height : 1;
        height      : 1em;
    }
    @if( $UA_IE55 or $UA_IE5 or $IS_OLD_GECKO or $IS_OLD_OPERA ){
        height : #{$PARAGRAPH_LINE_HEIGHT_EM + $INPUT_BORDER_WIDTH * 2};
        @if( $IS_Opera7x == false ){
            line-height : 1; // Opera 7.x input[type=text] に触れなくなる
        }
        @if( $UA_Opera9 ){
            border-style : solid; /* for Opera 9.x [type=submit] */
        }
    }
    @if( $IS_NOT_IE ){
        margin : 0;
    }
}

/*  [type=hidden]
--------------------------------------------------------------------------------------*/
[type=hidden] {
    @if( $UA_Opera72 ){
        display: none; // for Gecko 0.9.6, Opera 7.2~7.5
    }
    @if( $UA_Gecko19 ){
        display: none !important; // 強制カラーモードで必要. Gecko 1.8.1.12 で確認
    }
}


/*  [type=submit]
--------------------------------------------------------------------------------------*/
input[type=submit] {
    @if( $IS_LTE_GECKO09 ){
        text-align : center;
        @if( $UA_Gecko09 == false ){
            @include box-sizing(content-box); /* Gecko ~0.8.1 */
        }
    }
}

[type=submit] {
    @if( $UA_Opera72 ){
        // border : 0;
    }

    &:focus {
        @if( $UA_Opera8 ){
            border-style : solid;
        }
        @if( $IS_LTE_GECKO09 or $UA_Gecko12 ){
            border-style : solid;
        }
    }

    @if( $UA_Modern ){
        /* https://qiita.com/_upto_me_/items/b35f405a87a2dc56fd48
         * iOSでのデフォルトスタイルをリセット */
        &::-webkit-search-decoration {
            display : none;
        }
        &:focus {
            outline-offset : -2px;
        }
    }
}

:-moz-focus-inner /* , button:-moz-focus-inner */ {
    @if( $IS_LTE_GECKO09 or $UA_Gecko12 or $IS_GECKO13_TO_19 ){
        border : 0;
    }
}
::-moz-focus-inner /* , button::-moz-focus-inner */ {
    @if( $UA_Modern or $UA_Gecko19 ){
        border : 0; /* Gecko 1.9.0+ */
    }
}

/*  textarea
--------------------------------------------------------------------------------------*/
textarea {
    font-size : 1em;
    overflow  : auto;
    margin    : 0;

    @if( $UA_Modern ){
        resize           : vertical;
        background-image : none; /* Android Firefox */
    }
    @if( $UA_Opera70 ){
        background : Window;
    }
}