/*  Reset <input type=submit>
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;
@use "../01_var/color" as color;
@use "../01_var/quirks" as quirks;

@use "../02_mixin/box-sizing" as *;
@use "../02_mixin/media" as *;
@use "./_/reset-moz-focus-inner" as *;

/*  [type=submit]
------------------------------------------------------------------------------------- */
input[type="submit"] {
    @if ua.$GeckoLte09 {
        text-align : center;
        @if ua.$Gecko09 == false {
            @include box-sizing(content-box); /* Gecko ~0.8.1 */
        }
    }
}

[type="submit"] {
    @if ua.$Opera72 {
        // border : 0;
    }

    &:focus {
        @if ua.$Opera8 {
            border-style : solid;
        }
        @if ua.$GeckoLte09 or ua.$Gecko12 {
            border-style : solid;
        }
    }

    @if ua.$Opera9 {
        border-style : solid; /* for Opera 9.x [type=submit] */
    }

    @if ua.$Modern {
        /* https://qiita.com/_upto_me_/items/b35f405a87a2dc56fd48
         * iOSでのデフォルトスタイルをリセット */
        &::-webkit-search-decoration {
            display : none;
        }
        &:focus {
            outline-offset : -2px;
        }
    }

    // ハイコントラストモードでフォーム部品の色設定の無いプロパティにだけシステムカラーが適用されて、著しく視認性を損なうのを防ぐ
    @if quirks.$FORM_COLOR_UNSPECIFIED_FORCED_IN_HC {
        @include screen {
            background : color.$Light_casual_fill;
            @if ua.$Modern {
                background : var(--color-casual-fill);
            }
            &:focus {
                @if ua.$Opera72 {
                    top : 0; // プロパティと値は何でも良い, ハイコントラストモード時に、ボタンがフォーカスされた際に背景が黒くなるのを防ぐ
                }
            }
        }
    }
}
