/*  reset <textarea>
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;

@use "./_/TextInputResetter" as *;

textarea {
    @extend %TextInputResetter;

    overflow  : auto;
    margin    : 0;

    @if( ua.$Modern ){
        resize           : vertical;
        background-image : none; /* Android Firefox */
    }
    @if( ua.$Opera70 ){
        background : Window; // TODO 不要?
    }
}
