/*  reset <textarea>
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;

@use "../02_mixin/box-sizing" as *;

@use "./_/reset-outline" as *;
@use "./_/reset-moz-focus-inner" as *;

textarea {
    @include reset-outline;

    font-size : 1em;
    overflow  : auto;
    margin    : 0;

    @if ua.$Modern {
        resize           : vertical;
        background-image : none; /* Android Firefox */
    }
    @if ua.$Opera70 {
        background : Window; // TODO 不要?
    }
    @if ua.$GeckoLte19 {
        @include box-sizing(border-box);
    }
}
