/* LinkList RichLink で使用
------------------------------------------------------------------------------------- */
@use "../../01_var/ua" as ua;
@use "../../01_var/canuse" as canuse;
@use "../../01_var/color" as color;
@use "../../01_var/quirks" as quirks;
@use "../../01_var/options" as opt;
@use "../../01_var/size" as size;

@use "../../02_mixin/unbreak" as *;
@use "../../02_mixin/mq" as *;
@use "../../02_mixin/media" as *;
@use "../../02_mixin/background-color" as *;
@use "../../02_mixin/text-color" as *;

@use "../../03_reset/a" as *;

%LinkListBase {
    a {
        @include unbreak-page-inside;
        display         : block;
        cursor          : pointer;
        text-decoration : none !important;

        @if ua.$Modern { // https://twitter.com/itozyun/status/1499739713884016642
            overflow : hidden;   // Opera 9.6-
            height   : auto;     // Opera 9.6-
            &:focus ::selection { // Opera 9.5+
                background-color : transparent;
            }
        }
    }
    @if canuse.$NEGATIVE_PSEUDO_CLASS == false or
        ua.$Opera9 // :not が存在する @media はタイプとクエリを無視して全てのスタイルが適用される
    { 
        a {
            @include background-light-dark(color.$Light_text, color.$Dark_casual_text);
            @include text-color-responsive(color.$Light_fill);
        }
        :link {
            @if ua.$Opera70 {
                background : color.$Light_fill;
            } @else {
                background : transparent;
            }
            @include text-color-responsive(color.$Light_link);
        }
        :visited {
            @if ua.$Opera70 {
                background : color.$Light_fill;
            } @else {
                background : transparent;
            }
            @include text-color-responsive(color.$Light_text);
        }
    } @else {
        a:not([href]) {
            /* href がない場合 current を示す塗りになる */
            @include background-light-dark(color.$Light_text, color.$Dark_casual_text);
            @include text-color-responsive(color.$Light_fill);
        }
    }

    @include screen {
        @if canuse.$LIMITED_HOVER_PSEUDO_CLASS {
            a:hover {
                background : color.$Light_casual_fill;
                color      : color.$Light_text;
            }
        } @else if canuse.$HOVER_PSEUDO_CLASS {
            :link:hover, :visited:hover {
                @include background-responsive(color.$Light_casual_fill, noprint);
                @include text-color-responsive(color.$Light_text,        noprint);
            }
        }
    }

    /*  ribbon
    ------------------------------------------------------------------------------------- */
    @if opt.$UseDarkRibbon {
        @if canuse.$NEGATIVE_PSEUDO_CLASS == false {
            .#{opt.$Prefix}ribbon a {
                background : color.$Ribbon_text;
                color      : color.$Ribbon_fill;
            }
            .#{opt.$Prefix}ribbon & :link {
                @if ua.$Opera70 {
                    background : color.$Ribbon_fill;
                } @else {
                    background : transparent;
                }
                color : color.$Ribbon_link;
            }
            .#{opt.$Prefix}ribbon & :visited {
                @if ua.$Opera70 {
                    background : color.$Ribbon_fill;
                } @else {
                    background : transparent;
                }
                color : color.$Ribbon_text;
            }
        } @else {
            .#{opt.$Prefix}ribbon & a:not([href]) {
                /* href がない場合 current を示す塗りになる */
                background : color.$Ribbon_text;
                color      : color.$Ribbon_fill;
            }
        }

        @if canuse.$LIMITED_HOVER_PSEUDO_CLASS {
            .#{opt.$Prefix}ribbon & :hover {
                background : color.$Ribbon_casual_fill;
                color      : color.$Ribbon_text;
            }
        } @else if canuse.$HOVER_PSEUDO_CLASS {
            .#{opt.$Prefix}ribbon & :link:hover,
            .#{opt.$Prefix}ribbon & :visited:hover {
                background : color.$Ribbon_casual_fill;
                color      : color.$Ribbon_text;
            }
        }
    }

    /*  Forced colors
    ------------------------------------------------------------------------------------- */
    @include mq(forced_colors_native_or_fallback){
        padding : size.$FORCED_COLORS_FOCUS_BORDER_WIDTH;

        @if canuse.$LIMITED_HOVER_PSEUDO_CLASS {
            :hover {
                text-decoration : underline !important;
            }
        } @else if canuse.$HOVER_PSEUDO_CLASS {
            :link:hover, :visited:hover {
                text-decoration : underline !important;
            }
        }
    }
}
