/* [module] ArticleFooter
 *  出現位置は #lB .lMh 下で固定
 *
 * .AFoot
 *    articleFooterItem
--------------------------------------------------------------------------------------*/
.AFoot {
    border-width  : 1px 0 0;
    @include highContrast {
        border-style : dotted;
    }
}

@mixin article-footer-item {
    border-width  : 0 0 1px;
    @include highContrast {
        border-style : dotted;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .AFoot {
        margin : 1em 0;
    }
}