/* [module] Attribution
 *  出現位置は #lF .lX 下で固定
 *
 *  div.mR
 *    small
 *     a
--------------------------------------------------------------------------------------*/
.Attribution {
    padding    : 1em 0;
    text-align : center;
}
    .Attribution small {
        font-size : 0.875em;
    }

