/* [parts] button
 *
 * .btn:link | input[type=submit].btn
--------------------------------------------------------------------------------------*/
@mixin createButton( $link, $visited, $fill, $opt_need_bgcolor_for_Watch : 0 ){
    &:link {
        background   : $link;
        border-color : $link;
        color        : $fill;
    }
    &:visited {
        background   : $fill;
        border-color : $visited;
        color        : $visited;
    }

    &:link:active, &:visited:active
    /* //_{#can-focus-pseudo-class */
    , &:link:focus, &:visited:focus
    /* //_}#can-focus-pseudo-class */
    {
        @if( $IS_IE8_OR_9 or $UA_IE7 or $UA_IE6 or $IS_NOT_IE ){
            border-color : $fill; /* ie5 では dotted なボーダーの抜き部分に背景色が塗られない */
        }
    }

    @if $opt_need_bgcolor_for_Watch == 1 {
        /*  Dark theme
        --------------------------------------------------------------------------------------*/
        @include media(dark_theme) {
            &:link {
                color : $COLOR_Watch_fill;
            }
            &:visited {
                background : $COLOR_Watch_fill;
            }
            &:link:active, &:visited:active
            /* //_{#can-focus-pseudo-class */
            , &:link:focus, &:visited:focus
            /* //_}#can-focus-pseudo-class */
            {
                border-color : $COLOR_Watch_fill;
            }          
        }
    }
}

%btnBase {
    @include inline-block;
    border-width : 2px;
    cursor       : pointer;
    text-align   : center;
    @if( $IS_LEGACY ){
    line-height  : $BASE_LINE_HEIGHT_EM;
    padding      : 0 1em;
}
    @if( $IS_LEGACY == false ){
        line-height  : 1;
        padding      : math.div($BASE-LINE-HEIGHT-EM - 1em, 2) 1em;
    }
    @if( $UA_Modern or $UA_IE9 ){
        vertical-align : top; /* ie9-11 で 日本語を含むボタンと、英字のみで高さが揃わない。 */
    }
    
    @if( $UA_IE7 or $UA_IE6 ){
        zoom : 1;
    }

    @if( $UA_IE55 or $UA_IE5 or $IS_LEGACY ){
        height : #{$BASE_LINE_HEIGHT_EM + $INPUT_BORDER_WIDTH * 2};
    }

    &:link:hover, &:visited:hover {
        text-decoration : underline;
    }

    @if( $IS_LTE_WIN_IE7 == false ){
        // IE7 以下にはデザインが適用されない
        &:active
        /* //_{#can-focus-pseudo-class */
        , &:focus
        /* //_}#can-focus-pseudo-class */
        {
            border-color : $COLOR_ACCENT; /* input.btn に対して適用, a:link には上書きされる */
            color        : $COLOR_ACCENT;
            border-style : dotted;
            outline      : 0;
        }
    }

    @if( $IS_LTE_WIN_IE7 ){
        &:link:active, &:visited:active {
            @if( $UA_IE5 or $UA_IE55 ){
                border-color : $COLOR_ACCENT;
            }
            color        : $COLOR_ACCENT;
            border-style : dotted;
            outline      : 0;
        }
    }
}

.btn {
    @extend %btnBase;
    @include createButton( $COLOR_Ribbon_link, $COLOR_Ribbon_text, $COLOR_Ribbon_fill );
}

input.btn {
    @if( $UA_IE5 or $UA_IE55 ){
        padding : .3em 1em #{$BASE_LINE_HEIGHT_EM - 1.3em};
    }
    @if( $UA_IE7 or $UA_IE6 ){
        height  : #{$BASE_LINE_HEIGHT_EM + $INPUT_BORDER_WIDTH * 2};
        padding : .25em 1em #{$BASE_LINE_HEIGHT_EM - 1.25em};
    }
    @if( $IS_Opera7x ){
        padding : 0; // for Opera 7.x
    }
    @if( $IS_OLD_GECKO ){
        /* Gecko ~1.8.1 */
        & {
            line-height : 1;
            padding     : math.div($BASE-LINE-HEIGHT-EM - 1em, 2) 1em;
        }
        @if( $UA_Gck130-190 ){
            @-moz-document url-prefix() { /* override Gecko 1.8~ */
                /* override Gecko 1.9.0~1.9.2 */
                & [_csshack_="_:-moz-loading"] {
                    line-height : 1;
                    padding     : math.div($BASE-LINE-HEIGHT-EM - 1em, 2) 1em;
                }
            }
        }
    }
}

@if( $UA_Modern ){
    /* https://qiita.com/_upto_me_/items/b35f405a87a2dc56fd48
    * iOSでのデフォルトスタイルをリセット */
    input.btn::-webkit-search-decoration {
        display : none;
    }
    input.btn:focus {
        outline-offset : -2px;
    }
}

/* //_<bottom50 */
.baseColor .btn {
    @include createButton( $COLOR_Default_link, $COLOR_Default_text, $COLOR_Default_fill );
}
/* //_>bottom50 */

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    .baseColor .btn {
        @include createButton( $COLOR_Watch_link, $COLOR_Watch_text, $COLOR_Watch_fill );
    }
}