/* [parts] commonForm
 *
 * form.commonForm
 *   div.commonForm-pair
 *     label
 *     span.commonForm-wrap
 *       input[type=text]|textarea
 *    .commonForm-send
 *       input[type=submit].btn
--------------------------------------------------------------------------------------*/
.commonForm {
    display : block;
}

    .commonForm-pair {
        @include clearfix;
        @include unbreak-inside;

        margin-bottom : 1em;
    }
        .commonForm label {
        /* //_{^@ie5win */
            display : block;
            float   : left;
            width   : 7em;
            padding : #{($BASE_LINE_HEIGHT_EM - 1em) / 2} 0 0;
        /* //_}^@ie5win */
        }

        .commonForm-wrap {
            display : block;
        /* //_{^@ie5win */
            margin  : 0 #{($INPUT_BORDER_WIDTH + $FORM_ITEM_PADDING_LR) * 2} 0 8em; /* 入力エリアのpaddingとborder分pxサイズでマージンを右に取る */
        /* //_}^@ie5win */
        }

            .commonForm-wrap * {
                width      : 100%;
            /* //_{@ie7 */ /* 上に出来る余白を消す、ie5 はカラムが壊れる */
                float      : left;
            /* //_}@ie7 */
            }

        .commonForm-send {
            text-align : right;
        }

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .commonForm {
        max-width : 40em;
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .commonForm label {
        float   : none;
        width   : auto;
    }

    .commonForm-wrap {
        margin-left : 0;
    }
}