/*  ▶
--------------------------------------------------------------------------------------*/
%more-icon {
    & i {
        border-width : 0.5em 0 0.5em 0.7em;
        position     : relative;
    
        /* //_{@ie6,@ie7,@ie8,@ie9,#notie */
        top          : 0.15em;
        /* //_}@ie6,@ie7,@ie8,@ie9,#notie */

        /* //_{#can-inline-block */
        @include inline-block;
        margin-left  : .5em;
        /* //_}#can-inline-block */

        /* //_{@ie7 */
        zoom         : 1;
        /* //_}@ie7 */
        /* //_{@ie6,@ie7,@ie55,@ie5win */
        left         : .5em;
        height       : 0;
        width        : 0;
        /* //_}@ie6,@ie7,@ie55,@ie5win */

        /* //_{@ie55,@ie5win */
        top          : 0.5em;
        line-height  : 0;
        /* //_}@ie55,@ie5win */      
    }

    & :link i {
        /* //_{#can-transparent */
        border-color : transparent $COLOR_Default_fill;
        /* //_}#can-transparent */
        /* //_{^#can-transparent */
        border-color : $COLOR_Default_link $COLOR_Default_fill;
        /* //_}^#can-transparent */
    }
    & :visited i {
        /* //_{#can-transparent */
        border-color : transparent $COLOR_Default_text;
        /* //_}#can-transparent */
        /* //_{^#can-transparent */
        border-color : $COLOR_Default_fill $COLOR_Default_text;
        /* //_}^#can-transparent */
    }
    & :link:active i, & :visited:active i
    /* //_{#can-focus-pseudo-class */
    , & :link:focus i, & :visited:focus i
    /* //_}#can-focus-pseudo-class */
    {
        /* //_{#can-transparent */
        border-color : transparent $COLOR_Default_fill;
        /* //_}#can-transparent */
        /* //_{^#can-transparent */
        border-color : $COLOR_ACCENT $COLOR_Default_fill;
        /* //_}^#can-transparent */
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        & :link i {
            border-color : transparent $COLOR_Watch_fill;
        }
        & :visited i {
            border-color : transparent $COLOR_Watch_text;
        }
    }
    @include highContrastForIE10ToEdge {
        & i {
            border-top-color    : transparent;
            border-bottom-color : transparent;
        }
    }
    @include highContrastForIEGte9Gecko {
        /* //_{^@ie9 */
        & i {
            display : none;
        }
        .jsCanRotate
        /* //_}^@ie9 */
        & i {
            /* //_{^@ie9 */
            /* //_{#can-inline-block */
            display      : inline-block;
            /* //_}#can-inline-block */
            /* //_}^@ie9 */
            /* //_{^#can-inline-block */
            display      : inline;
            /* //_}^#can-inline-block */
            /* border-color  : #fff; */
            border-width  : 0 .15em .15em 0;        
            /* //_{@modern */
            width         : .45em;
            height        : .45em;
            transform     : rotate(-45deg);
            top           : 0;
            /* //_}@modern */
            /* //_{@ie9 */
            width         : .45em;
            height        : .45em;
            -ms-transform : rotate(-45deg);
            top           : 0;
            /* //_}@ie9 */
            /* //_{@ie55,@ie6,@ie7,@ie8 */
            width         : .35em;
            height        : .35em;
            /* //_{@ie8 */
            top           : -.3em;
            /* //_}@ie8 */
            /* //_{@ie55,@ie6,@ie7 */
            top           : 0;
            /* //_}@ie55,@ie6,@ie7 */
            filter : progid:DXImageTransform.Microsoft.Matrix(M11=1,M22=1,M12=1,M21=-1,sizingMethod="auto expand");
            /* //_}@ie55,@ie6,@ie7,@ie8 */
        }
    }
    @include highContrastForChromiumEdge {
        & i {
            display       : inline-block;
            border-width  : 0 .15em .15em 0;
            width         : .45em;
            height        : .45em;
            transform     : rotate(-45deg);
            top           : 0;
        }
    }
}