/* [module] ArticleFooter
 *  出現位置は #lB .lMh 下で固定
 *
 * .AFoot
 *    articleFooterItem
--------------------------------------------------------------------------------------*/
@mixin article-footer-item {
    border-width : 0 0 1px;

    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include media(forced_colors_native_or_fallback){
        & {
            border-style : dotted;
        }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        padding : 0 $TABLET_HORIZONTAL_MARGIN;
    }
    /*  WSXGA, print
    --------------------------------------------------------------------------------------*/
    @include media(landscapePrint) {
        padding : 0 math.div($TABLET_HORIZONTAL_MARGIN, 2);
    }
}