/* [module] ArticleHeader
 *  出現位置は #lE .lMf | #lB .lMf
 *
 *  div.AHead
 *    h1
 *    div
 *    +ArticleLabels
--------------------------------------------------------------------------------------*/
    .AHead {
        color  : $COLOR_Light_casual_text;
        margin : 2em 0;
    }
        .AHead h1 {
            @if( $UA_Modern or $UA_IE9 ){
                @extend %MinchoFontFamily;
            }
            font-size : 2em;
            color     : $COLOR_Light_text;
            padding   : 0 0 2em;
            margin    : 0;

            @if( $Option_mobileOnly == false ){
                text-align : left;
            }
        }
    @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false ){
        .ribbon .AHead {
            color : $COLOR_Ribbon_casual_text;
        }
            .ribbon .AHead h1 {
                color : $COLOR_Ribbon_text;
            }
    }

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .AHead h1 { text-align : center; }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    .AHead { margin : 1em 0; }
    .AHead h1 { text-align : center; }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .AHead {
        text-align : center;
    }

    .AHead h1 {
        text-align : center;
        font-size  : 1.5em;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    .AHead {
        color : $COLOR_Dark_casual_text;
    }
        .AHead h1 {
            color : $COLOR_Dark_text;
        }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .AHead {
        color   : $COLOR_Print_casual_text !important;
        padding : 0 $TABLET_HORIZONTAL_MARGIN;
    }
    .AHead h1 {
        color : $COLOR_Print_text !important;
    }
}
/*  WSXGA, print
--------------------------------------------------------------------------------------*/
@include media(landscapePrint) {
    .AHead {
        padding : 0 math.div($TABLET_HORIZONTAL_MARGIN, 2);
    }
}

/* =====================================================================================
 * .AHead-labels
 *   i.ico-label
 *   a
--------------------------------------------------------------------------------------*/
@if( $Option_ArticleLabels ){
    .AHead-labels {
        margin-top : 0.5em;
    /* ArticleLabels で英語だけのラベルと日本語を含むラベルで高さが揃わないので body の指定を上書き */
        @if( $UA_IE7 or $UA_IE8 ){
            font-family : Meiryo, "MS PGothic", sans-serif;
        }
        @if( $IS_LTE_WIN_IE6 ){
            font-family : "MS Gothic", sans-serif; /* ie6-, MacIE5- */
        }
        @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS ){
            color : $COLOR_Sidebar_fill;
        } @else {
            color : $COLOR_Ribbon_fill; /* , を消す */
        }
        @if( $UA_Modern ){
            vertical-align : middle; /* ie11 のガタツキを修正 */
        }
    }
        .AHead-labels i {
            display : none;
        }
        .AHead-labels {
            a {
                @include button-base;
                margin : 0 0 0.5em;
            }
            * {
                @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS ){
                    @include button-colors( $COLOR_Light_link, $COLOR_Light_casual_text, $COLOR_Sidebar_fill );
                } @else {
                    @include button-colors( $COLOR_Ribbon_link, $COLOR_Ribbon_casual_text, $COLOR_Ribbon_fill );
                }
            }
            @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false ){
                :link:hover { /* .ribbon :link:hover の上書き */
                    border-color : $COLOR_Ribbon_link;
                    color        : $COLOR_Ribbon_fill;
                }
            }
        }

    /*  Phone-
    --------------------------------------------------------------------------------------*/
    @include media(smallphone) {
        .AHead-labels {
            line-height : 0;
        }
            .AHead-labels a {
                display    : block;
                text-align : center;
                margin     : 0.5em;
            }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        .AHead-labels {
            color : $COLOR_Print_text;
        }
            @if( $CANUSE_GOOD_CSS_GENERATED_BLOCK ){
                .AHead-labels i {
                    @if( $CANUSE_DISPLAY_INLINE_BLOCK ){
                        @include inline-block;
                    }
                }
            }

            .AHead-labels a {
                @if( $CANUSE_DISPLAY_INLINE_BLOCK ){
                    display : inline;
                }
                border-width : 0;
                padding      : 0;
                margin       : 0;
            }
            .AHead-labels a:link {
                color      : $COLOR_Print_link;
                background : none;
            }
            .AHead-labels a:visited {
                color      : $COLOR_Print_visited;
                background : none;
            }
    }
}