/* [module] ArticleHeader
 *  出現位置は #lE .lMf | #lB .lMz .lMf
 *  labels を使いたい場合は ArticleHeaderWithLabels を使うこと
 *
 *  div.AHead
 *    h1
 *    div
------------------------------------------------------------------------------------- */
@use "sass:math";

@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/size" as size;
@use "../01_var/canuse" as canuse;
@use "../01_var/color" as color;
@use "../01_var/quirks" as quirks;

@use "../02_mixin/clearfix" as *;
@use "../02_mixin/line-height" as *;
@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/font-family-japanese" as *;
@use "../02_mixin/text-color" as *;

@use "../04_typography/h1";

.#{opt.$Prefix}AHead {
    @include text-color-responsive(color.$Light_casual_text);
    margin : 2em 0;

    h1 {
        @include text-color-responsive(color.$Light_text);
        @if ua.$Modern or ua.$IE9 {
            @extend %SerifFontFamily;
        }
        font-size : 2em;
        padding   : 0 0 2em;
        margin    : 0;

        @if opt.$MobileOnly == false {
            text-align : left;
        }
    }
    @if opt.$UseDarkRibbon {
        .#{opt.$Prefix}ribbon & {
            color : color.$Ribbon_casual_text;
            h1 {
                color : color.$Ribbon_text;
            }
        }
    }

    /*  WSXGA
    ------------------------------------------------------------------------------------- */
    @include mq(WSXGA) {
        h1 { text-align : center; }
    }

    /*  Tablet
    ------------------------------------------------------------------------------------- */
    @include mq(tablet_print) {
        margin : 1em 0;
        h1 { text-align : center; }
    }
    @include mq(tablet) {
        h1 { padding : 2em 0; }
    }

    /*  Phone
    ------------------------------------------------------------------------------------- */
    @include mq(phone) {
        text-align : center;

        h1 {
            text-align : center;
            font-size  : 1.5em;
        }
    }

    /*  Print
    ------------------------------------------------------------------------------------- */
    @include print {
        .lMz & {
            padding : 0 size.$TABLET_HORIZONTAL_MARGIN;
        }
        @if opt.$UseDarkRibbon {
            color : color.$Print_casual_text !important;
        }
        h1 {
            padding : 1em 0;
            @if opt.$UseDarkRibbon {
                color : color.$Print_text !important;
            }
        }
    }
    /*  landscape Print
    ------------------------------------------------------------------------------------- */
    @include mq(landscapePrint) {
        padding : 0 math.div(size.$TABLET_HORIZONTAL_MARGIN, 2);
    }
}
