/* [module] ArticleHeader
 *  出現位置は #lE .lMf | #lB .lMz .lMf
 *  labels を使いたい場合は ArticleHeaderWithLabels を使うこと
 *
 *  div.AHead
 *    h1
 *    div
------------------------------------------------------------------------------------- */
@use "sass:math";

@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/size" as size;
@use "../01_var/canuse" as canuse;
@use "../01_var/color" as color;
@use "../01_var/quirks" as quirks;

@use "../02_mixin/clearfix" as *;
@use "../02_mixin/line-height" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/font-family-japanese" as *;

@use "../04_typography/h1";

.#{opt.$Prefix}AHead {
    color  : color.$Light_casual_text;
    margin : 2em 0;

    h1 {
        @if( ua.$Modern or ua.$IE9 ){
            @extend %SerifFontFamily;
        }
        font-size : 2em;
        color     : color.$Light_text;
        padding   : 0 0 2em;
        margin    : 0;

        @if( opt.$MobileOnly == false ){
            text-align : left;
        }
    }
    @if( quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS == false and opt.$UseRibbon ){
        .#{opt.$Prefix}ribbon & {
            color : color.$Ribbon_casual_text;
            h1 {
                color : color.$Ribbon_text;
            }
        }
    }

    /*  WSXGA
    ------------------------------------------------------------------------------------- */
    @include media(WSXGA) {
        h1 { text-align : center; }
    }

    /*  Tablet
    ------------------------------------------------------------------------------------- */
    @include media(tablet_print) {
        margin : 1em 0;
        h1 { text-align : center; }
    }
    @include media(tablet) {
        h1 { padding : 2em 0; }
    }

    /*  Phone
    ------------------------------------------------------------------------------------- */
    @include media(phone) {
        text-align : center;

        h1 {
            text-align : center;
            font-size  : 1.5em;
        }
    }

    /*  Dark theme
    ------------------------------------------------------------------------------------- */
    @include media(dark_theme) {
        color : color.$Dark_casual_text;
        h1 {
            color : color.$Dark_text;
        }
    }

    /*  Print
    ------------------------------------------------------------------------------------- */
    @include media(print) {
        .lMz & {
            padding : 0 size.$TABLET_HORIZONTAL_MARGIN;
        }
        color   : color.$Print_casual_text !important;

        h1 {
            color   : color.$Print_text !important;
            padding : 1em 0;
        }
    }
    /*  landscape Print
    ------------------------------------------------------------------------------------- */
    @include media(landscapePrint) {
        padding : 0 math.div(size.$TABLET_HORIZONTAL_MARGIN, 2);
    }
}
