/* [module] ArticleFooter
 *  出現位置は #lB .lMz .lMh 下で固定
 *
 * .AFoot
 *    articleFooterItem
--------------------------------------------------------------------------------------*/

.AFoot {
    @if( $UA_IE6 or $UA_IE55 ){
        zoom : 1; /* border の描画に必要 */
    }
}

@mixin article-footer-item($paddingTop, $paddingBottom, $noprint : false, $skipPadding : false) {
    @if( $skipPadding == false ){
        @include responsive-horizontal-padding(1, $paddingTop, $paddingBottom, $noprint);
    }

    border-width : 0 0 1px;

    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include media(forced_colors_native_or_fallback){
        & {
            border-style : dotted;
        }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        @if( $noprint ){
            display : none;
        }
    }
}