/* [module] Article Description
 *  出現位置は #lE .lSi 下で固定
 *
--------------------------------------------------------------------------------------*/
@if( $Option_blog ){
    .ADesc {
        margin : 2em 0;
        @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS ){
            color : $COLOR_Light_casual_text;
        } @else {
            color : $COLOR_Ribbon_casual_text;
        }

        p {
            margin : 0 0.5em 1em;
        }
    }

    /*  Tablet
    --------------------------------------------------------------------------------------*/
    @include media(tablet_print) {
        .ADesc {
            margin : 1em 0;

            p {
                margin : 1em 0 0;
            }
        }
    }
    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        .ADesc {
            color : $COLOR_Print_casual_text;
        }
    }
}