/* [module] Article Description
 *  出現位置は #lE .lSi 下で固定
 *
------------------------------------------------------------------------------------- */
@use "../01_var/options" as opt;
@use "../01_var/color" as color;
@use "../01_var/quirks" as quirks;

@use "../02_mixin/media" as *;

.#{opt.$Prefix}ADesc {
    margin : 2em .5em;
    @if quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS {
        color : color.$Light_casual_text;
    } @else {
        color : color.$Ribbon_casual_text;
    }

    p {
        margin : 0;
    }

    /*  Tablet
    ------------------------------------------------------------------------------------- */
    @include media(tablet_print) {
        margin : 1em 0;
    }
    /*  Print
    ------------------------------------------------------------------------------------- */
    @include media(print) {
        color : color.$Print_casual_text;
    }
}
