/* [module] ArticleBody
 *  出現位置は #lB .lMz 下で固定
 *
 *  div.ABody
------------------------------------------------------------------------------------- */
@use "../01_var/options" as opt;
@use "../01_var/canuse" as canuse;
@use "../01_var/size" as size;
@use "../01_var/common.generated" as common;

@use "../02_mixin/media" as *;
@use "../02_mixin/column" as *;

.#{opt.$Prefix}ABody {
    @if canuse.$FIRST_CHILD_PSEUDO_CLASS {
        // https://twitter.com/itozyun/status/1588802003261870080
        // margin にすると Gecko 106 でも塗りが乱れる。
        padding : 3.5em 0 2em;

        @at-root .#{opt.$Prefix + common.$CLASSNAME_ARTICLE_BODY_ROOT} > *:first-child {
            margin-top : 0;
            > *:first-child {
                margin-top : 0;
            }
            > a:first-child > img:first-child { // ABody の先頭が PicaThumbnail の場合
                margin-top : 0;
            }
        }
    } @else {
        margin : 3.5em 0 2em;
    }

    /*  WSXGA, print
    ------------------------------------------------------------------------------------- */
    @include media(WSXGA_landscapePrint) {
        @include column-count(2);
    }
    /*  WSXGA
    ------------------------------------------------------------------------------------- */
    @include media(WSXGA) {
        @include column-gap(size.$WSXGA_COLUMN_GAP_EM);
    }
    /*  Print
    ------------------------------------------------------------------------------------- */
    @include media(print) {
        @if canuse.$FIRST_CHILD_PSEUDO_CLASS {
            padding : 0 0 2em;
        } @else {
            margin : 0 0 2em;
        }
    }
    /*  landscape Print
    ------------------------------------------------------------------------------------- */
    @include media(landscapePrint){
        @include column-gap(size.$PRINT_COLUMN_GAP_EM);
    }
}
