/* [module] ArticleBody
 *  出現位置は #lB .lMz 下で固定
 *
 *  div.ABody
--------------------------------------------------------------------------------------*/
.ABody {
    margin : 3.5em 0 2em;
}

/*  明朝
--------------------------------------------------------------------------------------*/
@if( $UA_Modern or $UA_IE9 ){
    .ABody {
        h1, h2, h3, h4, h5, h6 {
            @extend %MinchoFontFamily;
        }
    }
}

/*  h1
--------------------------------------------------------------------------------------*/
.ABody h1 {
    @include responsive-horizontal-margin(2, 3em, 3em);
    font-size : 2em;
}

/*  h2
--------------------------------------------------------------------------------------*/
.ABody h2 {
    @include responsive-horizontal-margin(2, 2em, 1em);
    font-size      : 1.5em;
    border-width   : 0.2em 0 0;
    padding        : 1.4em 0 .6em;
    border-color   : $COLOR_ACCENT;
    color          : $COLOR_ACCENT;
    @if( $CANUSE_CSS_GENERATED_BLOCK ){
        &:after {
            @if( $IS_Opera7x or $UA_Opera8 ){
                width : 0;      /* for Opera 7-8 */
            } @else {
                display : none; /* for iOS4 content:none では消えない */
            }
        }
    }
    * {
        border-color : $COLOR_ACCENT;
    }
}

/*  h3
--------------------------------------------------------------------------------------*/
.ABody h3 {
    @include responsive-horizontal-margin(2, 2.4em, 1.2em);
    font-weight    : bold;
    font-size      : 1.25em;
    border-width   : 0.1em 0 0;
    padding        : 1.4em 0 .6em;
}

/*  WSXGA, print
--------------------------------------------------------------------------------------*/
@include media(WSXGA_landscapePrint) {
    .ABody {
        -webkit-column-count : 2;
           -moz-column-count : 2;
                column-count : 2;
    }
    .ABody .aBodyRoot > *:first-child {
        margin-top : 0;
    }
    .ABody blockquote {
        @include column-span-all(2);
    }
    h1, h2,
    blockquote:before, blockquote:after,
    .js-bqLink, .js-bqCite {
        @include column-span-all;
    }
}
@include media(WSXGA) {
    .ABody, .ABody blockquote {
        -webkit-column-gap : $WSXGA_COLUMN_GAP_EM;
           -moz-column-gap : $WSXGA_COLUMN_GAP_EM;
                column-gap : $WSXGA_COLUMN_GAP_EM;
    }
    .ABody h1, .ABody h2 {
        text-align : center;
    }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    .ABody h1, .ABody h2, .ABody h3 {
        text-align : center;
    }
    .ABody h1, .ABody h2, .ABody h3 {
        padding-left  : math.div($TABLET_HORIZONTAL_MARGIN, 2);
        padding-right : math.div($TABLET_HORIZONTAL_MARGIN, 2);
    }
}

/*  PHABLET
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .ABody h1, .ABody h2, .ABody h3 {
        padding-left   : math.div($PHABLET_HORIZONTAL_MARGIN, 2);
        padding-right  : math.div($PHABLET_HORIZONTAL_MARGIN, 2);
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .ABody h1 {
        font-size : 1.5em;
    }
    .ABody h2 {
        font-size : 1.25em;
    }
    .ABody h1, .ABody h2, .ABody h3 {
        padding-left  : math.div($PHONE_HORIZONTAL_MARGIN, 2);
        padding-right : math.div($PHONE_HORIZONTAL_MARGIN, 2);
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .ABody h1, .ABody h2, .ABody h3 {
        padding-left  : 0;
        padding-right : 0;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .ABody {
        margin : 0 0 2em;
    }
}

@include media(landscapePrint){
    .ABody, .ABody blockquote {
        -webkit-column-gap : $PRINT_COLUMN_GAP_EM;
           -moz-column-gap : $PRINT_COLUMN_GAP_EM;
                column-gap : $PRINT_COLUMN_GAP_EM;
    }
    .ABody h1, .ABody h2, .ABody h3 {
        text-align : left;
    }
}