/* [module] Blog Archive
 *  出現位置は #lB .lMi 下
 *
--------------------------------------------------------------------------------------*/
@if( $Option_blog ){
    .BlogArchive {
        @include stackableModule;

        th {
            @if( $IS_OLD_GECKO == false and $IS_OLD_OPERA == false ){
                word-break : normal;
            }
            @if( $UA_Modern or $UA_IE9 or $UA_IE8 or $UA_IE7 or $UA_IE6 or $UA_IE55 ){
                word-wrap  : normal;
            }
        }

        @if( $CANUSE_HOVER_PSEUDO_CLASS ){
            &, tbody :hover td {
                color : $COLOR_Light_fill; /* , を消す */
            }
        }

        a {
            border-width : 0 0 1px;
            @if( $IS_LEGACY == false and $CANUSE_DISPLAY_INLINE_BLOCK ){
                @include inline-block;
                margin : 0 0 1em;
            } @else {
                line-height : 2.8;
            }
        }

        @if( $HOVER_PSEUDO_CLASS_ONLY_LINK ){
            :hover {
                text-decoration : none;
            }
        } @else if( $CANUSE_HOVER_PSEUDO_CLASS ){
            :link:hover, :visited:hover {
                text-decoration : none;
            }
        }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
        @include media(dark_theme) {
            &, tbody :hover td {
                color : $COLOR_Dark_fill; /* , を消す */
            }
        }
    }
}