/* [module] Blog Archive
 *  出現位置は #lB .lMi 下
 *
------------------------------------------------------------------------------------- */
@use "../01_var/options" as opt;
@use "../01_var/canuse" as canuse;
@use "../01_var/ua" as ua;
@use "../01_var/color" as color;

@use "../02_mixin/unbreak" as *;
@use "../02_mixin/inline-block" as *;
@use "../02_mixin/media" as *;

@use "../04_typography/a";

@use "./_/stackable-module" as *;

.#{opt.$Prefix}BlogArchive {
    @include stackableModule;

    th {
        @include unbreak-word;
    }

    @if( canuse.$HOVER_PSEUDO_CLASS ){
        &, tbody :hover td {
            color : color.$Light_fill; /* , を消す */
        }
    }

    a {
        border-width : 0 0 1px;
        @if( ua.$LegacyOperaOrGecko == false and canuse.$DISPLAY_INLINE_BLOCK ){
            @include inline-block;
            margin : 0 0 1em;
        } @else {
            line-height : 2.8;
        }
    }

    @if( canuse.$LIMITED_HOVER_PSEUDO_CLASS ){
        :hover {
            text-decoration : none;
        }
    } @else if( canuse.$HOVER_PSEUDO_CLASS ){
        :link:hover, :visited:hover {
            text-decoration : none;
        }
    }

/*  Dark theme
------------------------------------------------------------------------------------- */
    @include media(dark_theme) {
        &, tbody :hover td {
            color : color.$Dark_fill; /* , を消す */
        }
    }
}
