/* [module] BreadcrumbList
 *  出現位置は #lE .lMi 下で固定
 *
--------------------------------------------------------------------------------------*/
.BreadcrumbList {
    padding : 1em 0;
    color   : $COLOR_Light_casual_text;

    a {
        @if( $UA_Gck-097 == false ){
            @include inline-block; /* Gecko 0.9.7 だけ崩れる */
        }
        @if( $UA_IE7 or $UA_IE6 or $UA_IE55 ){
            zoom : 1;
        }
    }
}

.ribbon .BreadcrumbList {
    color : $COLOR_Ribbon_casual_text;
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    .BreadcrumbList  {
        color : $COLOR_Dark_casual_text;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .BreadcrumbList {
        font-size : .83em;
        padding   : 0.5em 0;
        color     : $COLOR_Print_casual_text !important;
    }
}