/* [module] Comment form
 *  出現位置は #lB .lMh 下で固定
 *
 *  div.CmtForm
--------------------------------------------------------------------------------------*/
@if( $Option_blog ){
    @if( $UA_Modern or $UA_IE9 ){
        .CmtForm { 
            padding    : 1em 0;
            text-align : center;
        }
            .CmtForm iframe {
                width  : 100%;
                margin : 0;
                height : 400px;
            }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        .CmtForm {
            display : none;
        }
    }
}