/* [module] Cover
 *  出現位置は #lB .lM1|.lM2 下で固定
 *
 * .Cover
 *   article
 *     div.Cover-img
 *       img
 *       div
 *         h2
 *         h3
 *     div.Cover-meta
 *       i
 *     p
 *     
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/size" as size;
@use "../01_var/canuse" as canuse;
@use "../01_var/color" as color;
@use "../01_var/common.generated" as common;

@use "../02_mixin/clearfix" as *;
@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/inline-block" as *;
@use "../02_mixin/line-height" as *;
@use "../02_mixin/unbreak" as *;
@use "../02_mixin/text-color" as *;
@use "../02_mixin/background-color" as *;

.#{opt.$Prefix}Cover {
    @include clearfix;
    margin  : 3.52em 0;
    /* padding : 0 1px 1em 0;  1px -> 0px だとEdgeでボタンにフォーカスした際に要素がズレるのを回避 */

    @at-root #{&}-img {
        position : relative;
        margin   : 0 0 0.6em;
        @if ua.$IE5 == false {
            height : 100%;
        }
    }
        img {
            margin  : 0;
            display : block;
            width   : 100%;
            @if canuse.$MAX_AND_MIN_SIZES {
                max-width : 100%;
            }
        }
        @if ua.$Script {
            .#{opt.$Prefix + common.$CLASSNAME_IMAGE_LOADED} {
                div {
                    @include screen{
                        position : absolute;
                        left     : 0;
                        width    : 100%;
                        @if ua.$IE5 {
                            top : 0;
                        } @else {
                            bottom : 0;
                        }
                    }
                    @if ua.$IE5 {
                        @include clearfix; // clearfix を同時に指定するために screen の外へ
                    }
                }
                h2 {
                    @if ua.$IE5 {
                        float : left;
                    }
                }
            }
        }

            h2 {
                @include inline-block;
                background   : color.$ACCENT;
                border       : 1px solid color.$ACCENT; /* for high contrast mode */
                color        : color.$Light_fill;
                font-size    : 0.825em;
                padding      : 0.6em;
                @if ua.$IE7 or ua.$IE6 or ua.$IE55 {
                    display : inline;
                    zoom    : 1;
                }
                @if ua.$IE5 {
                    display : inline;
                    height  : 2.2em;
                }
                @if canuse.$CSS_GENERATED_BLOCK {
                    &:after {
                        @if ua.$Opera72 or ua.$Opera8 {
                            width : 0;      /* for Opera 7.2-8 */
                        } @else {
                            display : none; /* for iOS4 content:none では消えない */
                        }
                    }
                }
            }
            h3 {
                @include unbreak-box-with-long-text;
                font-size : 1.33em;
                margin    : 0;
                /* clean-css ignore:start */
                @if ua.$IE9 == false {
                    @include background-light-dark(#fff, #000);
                }
                @if ua.$Modern or ua.$IE9 or ua.$Gecko19 {
                    @include background-light-dark(rgb( 255 255 255 / 75%), rgb( 0 0 0 / 75%));
                }
                /* clean-css ignore:end */
            }
            a {
                display : block;
                padding : 0.37em;
            }
    @at-root #{&}-meta {
        @include text-color-responsive(color.$Light_casual_text);
        @include line-height(1.4, true);
        display : block;
        margin  : 0 0.5em;
        span {
            @include inline-block;
        }
    }
    p {
        line-height : 1.4;
        margin      : 0.6em 0.5em;
    }

    /*  WSXGA
    ------------------------------------------------------------------------------------- */
    @include mq(WSXGA) {
        img {
            width  : auto;
            float  : left;
            margin : 0 1em 1em 0;
        }
            @if ua.$Script {
                .#{opt.$Prefix + common.$CLASSNAME_IMAGE_LOADED} div {
                    position : static;
                    padding  : 0 0 1em;
                }
            }
            @at-root #{&}-img div {
                padding : 1em;
            }
                h2 {
                    font-size : 1em;
                    padding   : 0.5em;
                }
                h3 {
                    background : transparent;
                    color      : color.$Light_text;
                }
                a {
                    padding : 0.77em 0 0 0;
                }
        @at-root #{&}-meta, & p {
            margin-right : 1em;
        }
    }

    /*  WQXGA
    ------------------------------------------------------------------------------------- */
    @include mq(WQXGA) {
        img {
            margin : 0 2em 1em 0;
        }
            @if ua.$Script {
                .#{opt.$Prefix + common.$CLASSNAME_IMAGE_LOADED} div {
                    padding : 0 0 2em;
                }
            }
                h3 {
                    font-size : 1.5em;
                }
                a {
                    padding : 0.67em 0 0 0;
                }
        @at-root #{&}-meta, & p {
            margin-right : 2em;
        }
    }
    /*  Tablet
    ------------------------------------------------------------------------------------- */
    @include mq(tablet_print) {
        margin : 2em auto;
    }

    /*  Phablet
    ------------------------------------------------------------------------------------- */
    @include mq(phablet) {
        max-width : 400px;
    }

    /*  Phone-
    ------------------------------------------------------------------------------------- */
    @include mq(smallphone) {
        img {
            width  : auto;
            margin : 0 1em 1em 0;
        }
            @if ua.$Script {
                .#{opt.$Prefix + common.$CLASSNAME_IMAGE_LOADED} div {
                    position : static;
                    padding  : 0;
                }
            }
                h2 {
                    /* float      : left; */
                    @include inline-block;
                    font-size : 1em;
                    padding   : 0.5em;
                    margin    : 0 .5em .5em 0;
                }
                h3 {
                    background : transparent;
                    color      : color.$Light_text;
                    font-size  : 1.5em;
                }
                a {
                    padding : 0 0 0.33em;
                }
        @at-root #{&}-meta, & p {
            margin-left  : 0;
            margin-right : 0;
        }
    }

    /*  Print
    ------------------------------------------------------------------------------------- */
    @include print {
        h2 {
            margin-top : 1em;
        }
    }
}
