/* [module] Label
 *  出現位置は [#lB|#lF] [.lMi|.lSi] 下
 *
--------------------------------------------------------------------------------------*/
@if( $Option_blog ){
    .Label {
        @include stackableModule;
    }
        .Label div {
            color : $COLOR_Default_fill; /* , を消す */
        
            @if( $IS_WIN_IE ){
                text-justify : inter-ideograph;
                line-break   : normal;
            }
            @if( $UA_Modern or $UA_IE9 or $IS_LTE_WIN_IE7 ){
                text-align   : justify;
                /* ie8 は要素への :hover で画面がガタツク... zoom で回避できる? */
            }
        }
        .ribbon .Label div {
            color : $COLOR_Ribbon_fill; /* , を消す */
        }
            .Label a {
                @if( $IS_LEGACY == false and $CANUSE_DISPLAY_INLINE_BLOCK ){
                    @include inline-block;
                    margin      : 0 0 1.7em;
                } @else {
                    line-height : 2.8;
                }

                border-width : 0 0 1px;

                &:link:hover, &:visited:hover { /* 詳細度の為に a: が必要 */
                    text-decoration : none;
                }
            }

            .lS .Label a,
            #lF .Label a {
                @if( $IS_LEGACY == false and $CANUSE_DISPLAY_INLINE_BLOCK ){
                    margin      : 0 0 1.3em;
                } @else {
                    line-height : 2.4;
                }
            }

    /*  Phablet
    --------------------------------------------------------------------------------------*/
    @include media(phablet) {
        .Label div {
            text-align : center;
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        .Label div {
            color : $COLOR_Watch_fill; /* , を消す */
        }
    }
}