/* [module] LinkList
 *  出現位置は [#lB|#lF] [.lMi|.lSi] 下
 *
 *  div.LinkList
 *   div
 *    a
--------------------------------------------------------------------------------------*/
.#{$Prefix}LinkList {
    @extend %LinkListItemBase;
    @include stackableModule;
    a {
        line-height : 1.1;
        padding     : 1em 0.5em 0.8em;
    }
    @if( $ACTIVE_ON_LINK_BEHAVES_FOCUS ){
        :active:hover { text-decoration : underline !important; }
    } @else if( $CANUSE_ACTIVE_PSEUDO_CLASS or $ACTIVE_PSEUDO_CLASS_ONLY_LINK ){
        :active { text-decoration : underline !important; }
    }
    @if( $CANUSE_FOCUS_PSEUDO_CLASS or ($FOCUS_PSEUDO_CLASS_ONLY_LINK and $ACTIVE_ON_LINK_BEHAVES_FOCUS == false) ){
        :focus:hover { text-decoration : underline !important; }
    }

    /*  WSXGA
    --------------------------------------------------------------------------------------*/
    @include media(WSXGA) {
        .lM & {
            @include stackableModule(.2em);

            div {
                display : inline-block;
                margin  : $FORCED_COLORS_FOCUS_BORDER_WIDTH; /* for highContrast */
            }
        }
    }

    /*  Phablet
    --------------------------------------------------------------------------------------*/
    @include media(phablet) {
        text-align : center;
        @include stackableModule(.2em);

        div {
            @include inline-block;
            margin  : $FORCED_COLORS_FOCUS_BORDER_WIDTH; /* for highContrast */
        }
    }

    /*  Watch
    --------------------------------------------------------------------------------------*/
    @include media(watch) {
        a {
            padding : 0.5em 0;
        }
    }
}