/* [module] Magazine
 *  出現位置は #lB .lMi 下で固定
 *
 * .Magazine
 *   .Magazine-sep (.Magazine-only)
 *     .Magazine-sep-inner
 *       .Magazine-item
 *         .Magazine-date
 *           time
 *             .Magazine-yy
 *             .Magazine-y
 *             .Magazine-mm
 *             .Magazine-m
 *             .Magazine-dd
 *         .Magazine-main
 *           h3
 *           .Magazine-label
 *           .Magazine-snippet
 *         a.btn
------------------------------------------------------------------------------------- */
@use "sass:math";

@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/canuse" as canuse;
@use "../01_var/color" as color;
@use "../01_var/quirks" as quirks;
@use "../01_var/size" as size;

@use "../02_mixin/clearfix" as *;
@use "../02_mixin/line-height" as *;
@use "../02_mixin/unbreak" as *;
@use "../02_mixin/font-family-monospace" as *;
@use "../02_mixin/mq" as *;
@use "../02_mixin/flex" as *;
@use "../02_mixin/css-hack" as *;
@use "../02_mixin/Inline-block" as *;
@use "../02_mixin/text-color" as *;
@use "../02_mixin/border-color" as *;

.#{opt.$Prefix}Magazine {
    @if canuse.$MEDIA_QUERY {
        @include border-color-responsive(color.$Light_text); // phablet で border が出現
    }

    @at-root #{&}-item {
        @include unbreak-inside;
        padding : 1em 0;
        @if canuse.$DISPLAY_TABLE {
            display : table;
        } @else {
            @include clearfix;
        }
    }
        @at-root #{&}-date {
            @include unbreak-word;
            @include line-height(1, true);
            @include font-family-monospace;
            padding-right : 1.5em;
            font-weight   : bold;
            @if canuse.$DISPLAY_TABLE {
                display        : table-cell;
                vertical-align : top;
            } @else {
                display : block;
                float   : left;
            }
        }
            @at-root #{&}-yy {
                display   : block;
                font-size : 2em;
            }
            @at-root #{&}-mm {
                display   : block;
                font-size : 4em;
            }
            @at-root #{&}-dd {
                font-size : 4em;
            }
            @at-root #{&}-mm, #{&}-dd {
                line-height : .9;
            }
            @at-root #{&}-y, #{&}-m {
                display : none;
            }

        @at-root #{&}-main {
            @include border-color-responsive(color.$Light_text);
            @include unbreak-box-with-long-text;

            position     : relative;
            border-width : 0 0 0 .5em;
            padding-left : 1.5em;
            @if canuse.$DISPLAY_TABLE {
                display        : table-cell;
                vertical-align : top;
            } @else {
                margin-left : 5.5em;
            }
            @if ua.$IE5 {
                height : 1px; // <= 区切り線の太さが変わるのを防ぐ
            } @else if ua.$IE55 or ua.$IE6 {
                zoom : 1; // <= 区切り線が消えるのを防ぐ
            }
        }
            h3 {
                font-size   : 2em;
                font-weight : bold;
                margin      : 0.2em 0 0;
                padding     : 0;
                a {
                    margin-right : size.$FORCED_COLORS_FOCUS_BORDER_WIDTH;
                    @if canuse.$OUTLINE and ua.$Modern { /* and ua.$GeckoLte19 */
                        @include inline-block; // ハイコントラストモード :foocus 時の outline の改善 firefox 149, Chrome 146 には不要
                    }
                }
            }
            @at-root #{&}-label {
                @include unbreak-box-with-long-text;
                margin : .5em 0 .8em;
            }
            @at-root #{&}-snippet {
                @include clearfix;
                img {
                    float  : left;
                    margin : .4em 1em 1em 0;
                }
                p {
                    line-height : 1.4em;
                    margin      : 0;
                }
            }
            .btn {
                position  : absolute;
                font-size : .83em;
                left      : math.div(-6em, .83);
                bottom    : 0;
                width     : math.div(3.5em, .83);
                padding   : math.div(0.25em, .83);
            }

    /*  WSXGA
    ------------------------------------------------------------------------------------- */
    @include mq(WSXGA_landscapePrint) {
        @at-root #{&}-sep {
            margin       : 1em 0;
            /* clean-css ignore:start */
            display      : table;  // table layout
            table-layout : fixed;  // table layout
            /* clean-css ignore:end */
            @include display-flex; // flex layout
            width        : 100%;   // flex layout
        }
            @at-root #{&}-sep-inner {
                display : table-cell;
                width   : 50%;
            }
            @at-root #{&}-only #{&}-sep-inner {
                width   : 100%;
                padding : 0 !important;
            }
                /*
                    * flexboxのベンダープレフィックスまとめ
                    * https://wemo.tech/tips/2345
                    */
                @at-root #{&}-main {
                    -webkit-flex-grow : 1;
                    -ms-flex-positive : 1;
                            flex-grow : 1;
                }
                @at-root #{&}-sep-inner:first-child #{&}-main {
                    padding-right : math.div(size.$WSXGA_COLUMN_GAP_EM, 2);
                }
                @at-root #{&}-sep-inner:not(:first-child) #{&}-date {
                    padding-left : math.div(size.$WSXGA_COLUMN_GAP_EM, 2);
                }
                    @at-root #{&}-item {
                        @include display-flex;
                        height  : 100%;
                        padding : 0;
                    }

        /*  patch
        ------------------------------------------------------------------------------------- */
        @include css-hack(onlyIE10To11){
            @at-root #{&}-date, #{&}-main, #{&}-sep-inner {
                display : block !important;
            }
        }
        @if ua.$Modern {
            @supports (display: -moz-box) {
                @at-root #{&}-date, #{&}-main, #{&}-sep-inner {
                    display : block !important; // for Gecko 45, @support 22+, display:flex 20+ なので、20~21 にパッチが当たらない?
                }
            }
        }
    }

    /*  Print
    ------------------------------------------------------------------------------------- */
    @include mq(landscapePrint) {
        @at-root #{&}-sep-inner:first-child #{&}-main {
            padding-right : math.div(size.$PRINT_COLUMN_GAP_EM, 2);
        }
        @at-root #{&}-sep-inner:last-child #{&}-date {
            padding-left : math.div(size.$PRINT_COLUMN_GAP_EM, 2);
        }
    }

    /*  Tablet
    ------------------------------------------------------------------------------------- */
    @include mq(tablet) {
        img {
            margin-left : 0;
        }
    }

    /*  Phablet
    ------------------------------------------------------------------------------------- */
    @include mq(phablet) {
        margin       : 1em 0 0;
        border-width : .5em 0 0;

        @at-root #{&}-item {
            padding : 1em 0 0;
            @if canuse.$DISPLAY_TABLE {
                display : block;
            }
        }
            @at-root #{&}-date {
                font-family : inherit;
                width       : auto;
                @if canuse.$DISPLAY_TABLE {
                    display : block;
                } @else {
                    float : none;
                }
            }
            @at-root #{&}-yy {
                display   : inline;
                font-size : 1em;
            }
            @at-root #{&}-mm {
                display   : inline;
                font-size : 1em;
            }
            @at-root #{&}-dd {
                font-size : 1em;
            }
            @at-root #{&}-y, #{&}-m {
                display : inline;
            }

        @at-root #{&}-main {
            border-width : 0 0 .5em;
            padding      : 0 0 1em;
            @if canuse.$DISPLAY_TABLE {
                display : block;
            }
        }
            h3 {
                font-size : 1.3em;
            }
            img {
                margin : 0 0.5em 0.6em 0;
            }
            .btn {
                position  : static;
                width     : auto;
                font-size : 1em;
                padding   : .5em 1em;
            }
    }
}
