/* [module] RichLinkList
 *  出現位置は [#lB|#lF] [.lMi|.lSi] 下
 *
 * lMi 下用タグ構造
 *  div.RichLink
 *    div.RichLink-sep
 *      a role=listitem
 *        h3
 *          img
 *          (span.medal[-*])
 *        div.RichLink-meta,
 *          span
 *          br
 *        p
 * lSi 下用タグ構造
 *  div.RichLink
 *    div.RichLink-sep
 *      a role=listitem
 *        img
 *        (span.medal[-*])
 *        b
 *      br
--------------------------------------------------------------------------------------*/
$RICHLINK_TEXT_SIZE : 0.875;

.RichLink {
    @include stackableModule;
    @if( $UA_Modern ){
        /* Opera 9.52~9.64 横スクロールバーの出現を抑止
           https://twitter.com/itozyun/status/1496758538772824064 */
        overflow-x : hidden;
    }
}
    .RichLink-sep {
        @extend %LinkListItemBase;
        @include line-height(1.4, 1);
    }
        .RichLink a {
            @include clearfix;

            @if( $UA_IE7 or $UA_IE6 ){
                padding : 1em 0.5em;
            } @else {
                padding : 1em 0.5em 0;
            }

            border-width : 0 0 1px;
            @if( $UA_Gck-097 or $UA_Gck101-121 ){
                overflow : hidden; /* カラム幅が増えるのを抑止 */
            }
        }
            .RichLink b {
                display     : block;
                font-weight : normal;
            }
            .RichLink br {
                display : none;
            }

    .RichLink a {
        border-color : $COLOR_Ribbon_casual_fill !important;
    }
    .baseColor .RichLink a {
        border-color : $COLOR_Default_casual_fill !important;
    }
    @include media(dark_theme) { 
        .baseColor .RichLink a {
            border-color : $COLOR_Watch_casual_fill !important;
        }
    }

    .RichLink-meta {
        color : $COLOR_Ribbon_casual_fill;
    }
    :link, :visited {
        .RichLink-meta {
            color : $COLOR_Ribbon_casual_text;
        }
    }

    .baseColor .RichLink-meta {
        color : $COLOR_Default_casual_fill;
    }
    :link, :visited {
        .baseColor & .RichLink-meta {
            color : $COLOR_Default_casual_text;
        }
    }
    @include media(chromeLte5OrSafariLte4){
        .RichLink-meta {
            background : transparent !important; // Chrome 1~5 で塗りが乱れる問題の修正, 8 では解消
        }
    }

/*  layout Main
--------------------------------------------------------------------------------------*/
    .RichLink h3 {
        font-size : 1.5em;
        margin    : 0 0 0.4em;

        * {
            font-size : math.div(1em, 1.5);
        }
    }
        .RichLink img {
            float  : left;
            margin : 0 .6em 1em 0;
            // Fix : Rect of <img> becomes box-width in Opera7.x.
            // https://twitter.com/itozyun/status/1496619343698096129
            @if $IS_Opera7x {
                width : auto;
            }
            @if $UA_Opera72 {
                line-height: 0;
            }
        }
    .RichLink-meta {
        font-size : 1em * $RICHLINK_TEXT_SIZE;
        margin    : math.div(1em, $RICHLINK-TEXT-SIZE) 0;
        span {
            @include inline-block;
        }
    }
    .RichLink p {
        margin : 1em 0;
    }

/*  layout Sub
--------------------------------------------------------------------------------------*/
    .lS .RichLink img {
        float  : right;
        margin : 0 0 1em 0.6em;
    }
    .RichLink b {
        @include unbreak-pane;
        font-size : 1em * $RICHLINK_TEXT_SIZE;
        @if( $UA_IE7 or $UA_IE6 ){
            padding : 0;
        } @else {
            padding : 0 0 math.div(0.8em, $RICHLINK-TEXT-SIZE);
        }
    }

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .lM .RichLink-sep {
        display      : table;
        table-layout : fixed;
        margin       : 1em 0;

        a {
            display        : table-cell;
            vertical-align : top;
            width          : 33.3%;
        }
    }
        .lM .RichLink a {
            border-width : 0;
            padding      : 1em;
        }
            .RichLink-meta {
                font-size : 1em;
            }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    .lS .RichLink a {
        padding : 0.7em 0.5em 0;
    }
        .lS .RichLink img {
            float  : left;
            margin : 0 0.5em 0.6em 0;
        }
        .RichLink b {
            padding   : 0 0 math.div(0.5em, $RICHLINK-TEXT-SIZE);
            font-size : 1em;
        }
}

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .RichLink h3 {
        font-size : 1.3em;
    }
        .RichLink h3 * {
            font-size : math.div(1em, 1.3);
        }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    /*.lM */ .RichLink a {
        padding-left  : 1%;
        padding-right : 1%;
    }
    .RichLink h3 {
        font-size : 1.1em;
    }
        .RichLink h3 * {
            font-size : math.div(1em, 1.1);
        }
}

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    .RichLink h3 {
        font-size : 1em;
    }
        .RichLink h3 * {
            font-size : 1em;
        }

    /*.lM */ .RichLink img {
        float  : none;
        margin : 0 auto 1em;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    /*.lM */ .RichLink a {
        padding-left  : 0;
        padding-right : 0;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    .baseColor .RichLink-meta {
        color : $COLOR_Watch_casual_fill;
    }
    :link, :visited {
        .baseColor & .RichLink-meta {
            color : $COLOR_Watch_casual_text;
        }
    }
}

/*  Forced colors
--------------------------------------------------------------------------------------*/
@include media(forced_colors_native_or_fallback){
    .RichLink {
        padding : $HIGH_CONTRUST_FOCUS_BORDER_WIDTH;
        a {
            border-width : 0;
        }
    }
}
