/* [module] RichLinkList
 *  出現位置は [#lB|#lF] [.lMi|.lSi] 下
 *
 * lMi 下用タグ構造
 *  div.RichLink
 *    div.RichLink-sep
 *      a role=listitem
 *        h3
 *          img
 *          (span.medal[-*])
 *        div.RichLink-meta,
 *          span
 *          br
 *        p
 * lSi 下用タグ構造
 *  div.RichLink
 *    div.RichLink-sep
 *      a role=listitem
 *        img
 *        (span.medal[-*])
 *        b
 *      br
--------------------------------------------------------------------------------------*/
$RICHLINK_TEXT_SIZE : 0.875;

.#{$Prefix}RichLink {
    @include stackableModule;
    @if( $UA_Modern ){
        /* Opera 9.52~9.64 横スクロールバーの出現を抑止
           https://twitter.com/itozyun/status/1496758538772824064 */
        overflow-x : hidden;
    }
    @at-root .#{$COMMON_RICHLINK__CLASSNAME_SEPARATOR} {
        @extend %LinkListItemBase;
    }
        a {
            @include clearfix;

            @if( $UA_IE7 or $UA_IE6 ){
                padding : 1em 0.5em;
            } @else {
                padding : 1em 0.5em 0;
            }

            border-width : 0 0 1px;
            @if( /* $IS_LTE_GECKO09 or img が欠ける不具合! */
                 $UA_Gecko12 ){
                overflow : hidden; /* カラム幅が増えるのを抑止 */
            }
        }
            b {
                @include unbreak-box-with-long-text; // https://twitter.com/itozyun/status/1508417782496387079
                display     : block;
                font-weight : normal;
            }
            br {
                display : none;
            }

    a {
        border-color : $COLOR_Ribbon_casual_fill !important;
        .#{$Prefix}baseColor & {
            border-color : $COLOR_Light_casual_fill !important;
            @include media(dark_theme) { 
                border-color : $COLOR_Dark_casual_fill !important;
            }
        }
    }

    @at-root #{&}-meta {
        color : $COLOR_Ribbon_casual_fill;
        @include css-hack(chromeLte5SafariLte4){
            background : transparent !important; // Chrome 1~5 で塗りが乱れる問題の修正, 8 では解消
        }
    }
    @at-root :link #{&}-meta,
             :visited #{&}-meta {
        color : $COLOR_Ribbon_casual_text;
    }


    @at-root .#{$Prefix}baseColor #{&}-meta {
        color : $COLOR_Light_casual_fill;
    }

    @at-root .#{$Prefix}baseColor :link #{&}-meta,
             .#{$Prefix}baseColor :visited #{&}-meta {
        color : $COLOR_Light_casual_text;
    }

/*  layout Main
--------------------------------------------------------------------------------------*/
    h3 {
        font-size : 1.5em;
        margin    : 0 0 0.4em;

        * {
            font-size : math.div(1em, 1.5);
        }
    }
        img {
            float  : left;

            @if( $IS_LTE_GECKO09 ){
                padding : 0 .6em 1em 0;
                margin  : 0;
            } @else {
                margin : 0 .6em 1em 0;
            }
            // Fix : Rect of <img> becomes box-width in Opera7.x.
            // https://twitter.com/itozyun/status/1496619343698096129
            @if $IS_Opera7x {
                width : auto;
                @if $UA_Opera72 {
                    line-height: 0;
                }
            }
        }
        @if( $IS_LTE_GECKO09 ){
            a img {
                border-width : 0;
            }
        }

    @at-root #{&}-meta {
        @include line-height(1.4, 1);
        font-size : 1em * $RICHLINK_TEXT_SIZE;
        margin    : math.div(1em, $RICHLINK_TEXT_SIZE) 0;
        span {
            @include inline-block;
        }
    }
    p {
        margin      : 1em 0;
        line-height : 1.4;
    }

    /*  layout Sub
    --------------------------------------------------------------------------------------*/

    .#{$Prefix}lS & img {
        float  : right;
        @if( $IS_LTE_GECKO09 ){
            padding : 0 0 1em 0.6em;
        } @else {
            margin : 0 0 1em 0.6em;
        }
    }
    b {
        font-size : 1em * $RICHLINK_TEXT_SIZE;
        @if( $UA_IE7 or $UA_IE6 ){
            padding : 0;
        } @else {
            padding : 0 0 math.div(1em, $RICHLINK_TEXT_SIZE);
        }
        @if( $IS_LTE_GECKO09 ){
            display : block; // img に文字が重なるのを防ぐ
        }
    }

    /*  WSXGA
    --------------------------------------------------------------------------------------*/
    @include media(WSXGA_landscapePrint) {
        @at-root .lM .#{$COMMON_RICHLINK__CLASSNAME_SEPARATOR} {
            display      : table;
            table-layout : fixed;
            margin       : 1em 0;

            a {
                display        : table-cell;
                vertical-align : top;
                width          : 33.3%;
            }
        }
            .lM & a {
                border-width : 0;
                padding      : 1em;
            }
                @at-root #{&}-meta {
                    font-size : 1em;
                }
    }

    /*  Tablet
    --------------------------------------------------------------------------------------*/
    @include media(tablet) {
        .#{$Prefix}lS & {
            a {
                @if( $UA_IE7 or $UA_IE6 ){
                    padding : 0.7em 0.5em;
                } @else {
                    padding : 0.7em 0.5em 0;
                }
            }
            img {
                float  : left;
                margin : 0 0.5em 0.6em 0;
            }
        }
            b {
                padding   : 0 0 math.div(0.5em, $RICHLINK_TEXT_SIZE);
                font-size : 1em;
            }
    }

    /*  Phablet
    --------------------------------------------------------------------------------------*/
    @include media(phablet) {
        h3 {
            font-size : 1.3em;
            * {
                font-size : math.div(1em, 1.3);
            }
        }
    }

    /*  Phone
    --------------------------------------------------------------------------------------*/
    @include media(phone) {
        /*.lM */ & a {
            padding-left  : 1%;
            padding-right : 1%;
        }
        h3 {
            font-size : 1.1em;
            * {
                font-size : math.div(1em, 1.1);
            }
        }
    }

    /*  Phone-
    --------------------------------------------------------------------------------------*/
    @include media(smallphone) {
        h3 {
            font-size : 1em;
            * {
                font-size : 1em;
            }
        }

        /*.lM */ & img {
            float  : none;
            margin : 0 auto 1em;
        }
    }

    /*  Watch
    --------------------------------------------------------------------------------------*/
    @include media(watch) {
        /*.lM */ & a {
            padding-left  : 0;
            padding-right : 0;
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        @at-root .#{$Prefix}baseColor #{&}-meta {
            color : $COLOR_Dark_casual_fill;
        }
        @at-root .#{$Prefix}baseColor :link #{&}-meta,
                 .#{$Prefix}baseColor :visited #{&}-meta {
            color : $COLOR_Dark_casual_text;
        }
    }

    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include media(forced_colors_native_or_fallback){
        a {
            border-width : 0;
        }
    }
}
