/* [module] SearchResult
 *  出現位置は #lB .lMi 下で固定
 *
 *  div.SearchResult
 *    p
 *    div role=list (.SearchResult-multi)
 *      div role=listitem
 *        h3, cite, p
--------------------------------------------------------------------------------------*/
.#{$Prefix}SearchResult {
    margin-bottom : 2em;

    p {
        margin : 0.5em;
    }
        div div {
            @include unbreak-inside;
            margin : 0 0.5em;
        }
            h3 {
                margin-bottom : 0;
            }
                :visited {
                    color : #1a0dab;
                }
            cite {
                color      : #006621;
                @include unbreak-box-for-inline-element;
            }
            div p {
                margin : 0.2em 0 0;
                color  : #545454;
                @include line-height(1.2, 0);
            }
                div span {
                    color : #808080;
                }

    @at-root #{&}-multi {
        margin : 2em 0;
        /*  WSXGA, print
        --------------------------------------------------------------------------------------*/
        @include media(WSXGA_landscapePrint) {
            -webkit-column-count : 2;
               -moz-column-count : 2;
                    column-count : 2;
            div:first-child h3 {
                margin-top : 0;
            }
        }
        @include media(WSXGA) {
            -webkit-column-gap : $WSXGA_COLUMN_GAP_EM;
               -moz-column-gap : $WSXGA_COLUMN_GAP_EM;
                    column-gap : $WSXGA_COLUMN_GAP_EM;
        }
    }

    /*  Watch
    --------------------------------------------------------------------------------------*/
    @include media(watch) {
        div div {
            margin : 0;
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        :visited {
            color : $COLOR_Dark_link;
        }
        div p {
            color : #808080;
        }
        div span {
            color : #545454;
        }
    }

    /*  landscape Print
    --------------------------------------------------------------------------------------*/
    @include media(landscapePrint) {
        @at-root #{&}-multi {
            -webkit-column-gap : $PRINT_COLUMN_GAP_EM;
               -moz-column-gap : $PRINT_COLUMN_GAP_EM;
                    column-gap : $PRINT_COLUMN_GAP_EM;
        }
    }
}