/* [module] Header
 *  出現位置は #lH .lMi 下で固定
 *
--------------------------------------------------------------------------------------*/
@if( $Option_simpleHeader ){
    .#{$Prefix}Header {
        @at-root #lH .lMi,  /* .lM に対して padding : 1em 0; とすると IE で h1 の文字が消える */
                 #lH .lSi { /* .lSi に余白が無いと検索ボックスの枠線が消える */
            padding-top : 1em;
            @if( $UA_IE5 == false and $UA_IE55 == false ){
                padding-bottom : 1em;
            }
        }

        @at-root #lE, #lF {
            border-width : 1px 0 0;
        }

        @include line-height(1, 1);

        @at-root .h1, & h1 {
            @if( $Option_mobileOnly == false ){
                display : inline;
            }
            font-size : 1.5em;
            margin    : 0 0.5em 0 0;
            @if( $UA_IE5 ){
                height : 1px; // <= hasLayout = true
            }
        }
        h1 {
            @include line-height(1, 0);
            padding : 0;
        }
        span {
            @if( $UA_IE5 ){
                padding : 0 0 .5em;
                height  : 1px; // <= hasLayout = true
            } 
        }

        /*  WSXGA
        --------------------------------------------------------------------------------------*/
        @include media(WSXGA) {
            text-align : center;
        }

        /*  Tablet
        --------------------------------------------------------------------------------------*/
        @include media(tablet) {
            @at-root #lH .lMi {
                @if( $UA_IE5 == false ){
                    padding-bottom : 0;
                }
            }

            @if( $Option_mobileOnly ){
                @include media(screen) {
                    text-align : center;
                }
            } @else {
                text-align : center;
            }
            @at-root .h1, & h1 {
                @if( $Option_mobileOnly == false ){
                    display : block;
                }
                margin : 0 0 0.5em;
            }
        }

        /*  Phone
        --------------------------------------------------------------------------------------*/
        @include media(phone) {
            @at-root .h1, & h1 {
                font-size : 1.2em;
            }
        }

        /*  Print
        --------------------------------------------------------------------------------------*/
        @include media(print) {
            @at-root #lH {
                font-size : 0.875em;
                .lMi {
                    padding-top    : .5em;
                    padding-bottom : .5em;
                }
            }
            @at-root .h1 {
                font-size : 1em;
            }
            // 記事でない場合、サイトタイトルをセンタリング
            h1 {
                text-align : center;
                @if( $Option_mobileOnly == false ){
                    display : block;
                }
                margin : 0 0 0.5em;
                @if( $CANUSE_ADJACENT_SIBLING_COMBINATOR ){
                    &+span {
                        display    : block;
                        text-align : center;
                    }
                }
            }
        }
    }
}