/* [module] Subscribe
 *  出現位置は #lF .lSi 下で固定
 *
 * .Subscribe
 *   div.mspacer
 *     a
------------------------------------------------------------------------------------- */
@use "../01_var/options" as opt;
@use "../01_var/color" as color;

@use "../07_parts/_/ButtonBase" as *;
@use "../07_parts/_/apply-button-colors" as *;
@use "../02_mixin/media" as *;

@use "./_/stackable-module" as *;

.#{opt.$Prefix}Subscribe {
    @include stackableModule;

    div {
        color : color.$Ribbon_fill; /* , を消す */
    }
        a {
            @extend %ButtonBase;
            margin : 0 0 0.5em;
        }
        .atom {
            @include apply-button-colors( #DD6502, #DD6502, color.$Ribbon_fill );
        }
        .rss {
            @include apply-button-colors( #DD8902, #DD8902, color.$Ribbon_fill );
        }
        .fl {
            @include apply-button-colors( #53BB45, #53BB45, color.$Ribbon_fill );
        }
        .stm {
            @include apply-button-colors( #8BC53F, #8BC53F, color.$Ribbon_fill );
        }

    /*  Phablet
    ------------------------------------------------------------------------------------- */
    @include media(phablet) {
        div {
            text-align : center;
        }
    }
}
