/* [module] Subscribe
 *  出現位置は #lF .lSi 下で固定
 *
 * .Subscribe
 *   div.mspacer
 *     a
--------------------------------------------------------------------------------------*/
.Subscribe {
    @include stackableModule;

    div {
        color : $COLOR_Ribbon_fill; /* , を消す */
    }
        a {
            @include button-base;
            margin : 0 0 0.5em;
        }
        .atom {
            @include button-colors( #DD6502, #DD6502, $COLOR_Ribbon_fill );
        }
        .rss {
            @include button-colors( #DD8902, #DD8902, $COLOR_Ribbon_fill );
        }
        .fl {
            @include button-colors( #53BB45, #53BB45, $COLOR_Ribbon_fill );
        }
        .stm {
            @include button-colors( #8BC53F, #8BC53F, $COLOR_Ribbon_fill );
        }
}

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .Subscribe div {
        text-align : center;
    }
}
