/* [module] Text Navi
 *  出現位置は #lE|#lB .lXi 下で固定
 *
------------------------------------------------------------------------------------- */
@use "../01_var/options" as opt;
@use "../01_var/ua" as ua;
@use "../01_var/color" as color;
@use "../01_var/quirks" as quirks;

@use "../02_mixin/media" as *;
@use "../02_mixin/inline-block" as *;
@use "../02_mixin/text-color" as *;

.#{opt.$Prefix}TxtNavi {
    @include text-color-responsive(color.$Light_fill); /* , を消す */
    padding     : 1em 0;
    text-align  : right;

    a {
        @if ua.$GeckoLte09 == false and ua.$Opera7x == false {
            @include inline-block; /* Gecko 0.9.7, Opera 7.0 だけ崩れる */
        }
        @if ua.$IE7 or ua.$IE6 or ua.$IE55 {
            zoom : 1;
        }
    }

    @if opt.$UseDarkRibbon {
        .#{opt.$Prefix}ribbon & {
            color : color.$Ribbon_fill; /* , を消す */
        }
    }

    /*  Print
    ------------------------------------------------------------------------------------- */
    @include print {
        display : none;
    }
}
