/* [module] Text Navi
 *  出現位置は #lE|#lB .lXi 下で固定
 *
------------------------------------------------------------------------------------- */
@use "../01_var/options" as opt;
@use "../01_var/ua" as ua;
@use "../01_var/color" as color;
@use "../01_var/quirks" as quirks;

@use "../02_mixin/media" as *;
@use "../02_mixin/inline-block" as *;

.#{opt.$Prefix}TxtNavi {
    padding     : 1em 0;
    text-align  : right;
    color       : color.$Light_fill; /* , を消す */

    a {
        @if ua.$GeckoLte09 == false and ua.$Opera7x == false {
            @include inline-block; /* Gecko 0.9.7, Opera 7.0 だけ崩れる */
        }
        @if ua.$IE7 or ua.$IE6 or ua.$IE55 {
            zoom : 1;
        }
    }

    @if quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS == false and opt.$UseRibbon {
        .#{opt.$Prefix}ribbon & {
            color : color.$Ribbon_fill; /* , を消す */
        }
    }

    /*  Dark theme
    ------------------------------------------------------------------------------------- */
    @include media(dark_theme) {
        color : color.$Dark_fill; /* , を消す */
    }

    /*  Print
    ------------------------------------------------------------------------------------- */
    @include media(print) {
        display : none;
    }
}
