/* [module] Text Navi
 *  出現位置は #lE|#lB .lXi 下で固定
 *
--------------------------------------------------------------------------------------*/
@if( $Option_blog ){
    .TxtNavi {
        padding     : 1em 0;
        text-align  : right;
        color       : $COLOR_Light_fill; /* , を消す */

        a {
            @if( $UA_Gck-097 == false ){
                @include inline-block; /* Gecko 0.9.7 だけ崩れる */
            }
            @if( $UA_IE7 or $UA_IE6 or $UA_IE55 ){
                zoom : 1;
            }
        }
    }

    @if( $TEXT_COLOR_CANT_CHANGE_FOCUSING == false ){
        .ribbon .TxtNavi {
            color : $COLOR_Ribbon_fill; /* , を消す */
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        .TxtNavi {
            color : $COLOR_Dark_fill; /* , を消す */
        }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        .TxtNavi {
            display : none;
        }
    }
}