@charset "UTF-8";
.AMeta,
.Pager,
.SocialBtns,
a:active img,
blockquote,
form :active,
td {
  border-style: dotted
}
table,
tfoot td {
  border-width: 2px 0 0
}
.LinkList,
.RichLink-sep {
  padding: 2px
}
.LinkList :hover,
.RichLink-sep :hover {
  text-decoration: underline!important
}
table {
  border-spacing: 2px;
  border-collapse: separate
}
th,
thead {
  font-weight: 700
}
td {
  padding: .5em .25em
}
thead td,
thead th {
  border-width: 0 0 2px;
  padding: .5em
}
tbody td {
  border-width: 0 0 1px
}
.RichLink a {
  border-width: 0
}
.tl {
  border-collapse: collapse
}
.Pager {
  text-align: center;
  height: auto;
  padding: 1em 0
}
.Pager span {
  position: static;
  display: inline
}
.Pager i {
  display: none
}