@charset "UTF-8";
.AMeta,
.Pager,
.SocialBtns,
a:active img,
blockquote,
form :active,
td {
  border-style: dotted
}
table,
tfoot td {
  border-width: 2px 0 0
}
.LinkList a:hover,
.RichLink-sep a:hover {
  text-decoration: underline!important
}
.Cover-btn i,
.Magazine-jump i,
.Pager i {
  display: none
}
.jsCanRotate .Cover-btn i,
.jsCanRotate .Magazine-jump i {
  border-width: 0 .15em .15em 0;
  display: inline;
  width: .35em;
  height: .35em;
  top: 0;
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M22=1, M12=1, M21=-1, sizingMethod="auto expand")
}
table {
  border-spacing: 2px;
  border-collapse: separate
}
th,
thead {
  font-weight: 700
}
td {
  padding: .5em .25em
}
thead td,
thead th {
  border-width: 0 0 2px;
  padding: .5em
}
tbody td {
  border-width: 0 0 1px
}
tfoot tr:first-child td,
tfoot tr:first-child th {
  position: relative;
  top: -3px
}
.LinkList {
  padding: 2px 0
}
.LinkList a {
  margin: 0 2px
}
.RichLink {
  padding: 2px
}
.RichLink a {
  border-width: 0
}
.tl {
  border-collapse: collapse
}
.Pager {
  text-align: center;
  height: auto;
  padding: 1em 0
}
.Pager span {
  position: static;
  display: inline
}
.jsPica:active {
  outline: 0
}