@charset "UTF-8";
.AMeta,
.Pager,
.SocialBtns,
a:active img,
a:focus img,
blockquote,
form :active,
form :focus,
td {
  border-style: dotted
}
table,
tfoot td {
  border-width: 2px 0 0
}
.LinkList,
.RichLink-sep {
  padding: 2px
}
.LinkList :link:hover,
.LinkList :visited:hover,
.RichLink-sep :link:hover,
.RichLink-sep :visited:hover {
  text-decoration: underline!important
}
.Cover-btn i,
.Magazine-jump i,
.Pager i {
  display: none
}
.jsCanRotate .Cover-btn i,
.jsCanRotate .Magazine-jump i {
  border-width: 0 .15em .15em 0;
  display: inline-block;
  width: .35em;
  height: .35em;
  top: -.3em;
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=1, M22=1, M12=1, M21=-1, sizingMethod="auto expand")
}
table {
  border-spacing: 2px;
  border-collapse: separate
}
th,
thead {
  font-weight: 700
}
td {
  padding: .5em .25em
}
thead td,
thead th {
  border-width: 0 0 2px;
  padding: .5em
}
tbody td {
  border-width: 0 0 1px
}
tfoot tr:first-child td,
tfoot tr:first-child th {
  position: relative;
  top: -3px
}
.RichLink a {
  border-width: 0
}
.tl tbody td:after {
  top: 1.2em;
  left: -.13em;
  border-width: 0;
  outline: solid .35em
}
.tl {
  border-collapse: collapse
}
.Pager {
  text-align: center;
  height: auto;
  padding: 1em 0
}
.Pager span {
  position: static;
  display: inline
}
.jsPica:active,
.jsPica:focus {
  outline: 0
}