@charset "UTF-8";
.AMeta,
.Pager,
.SocialBtns,
a:active img,
a:focus img,
blockquote,
form :active,
form :focus,
td {
  border-style: dotted
}
thead td,
thead td[colspan]:after,
thead th,
thead th[colspan]:after {
  border-width: 0 0 2px
}
table,
tfoot td {
  border-width: 2px 0 0
}
.LinkList,
.RichLink-sep {
  padding: 2px
}
.LinkList :link:hover,
.LinkList :visited:hover,
.RichLink-sep :link:hover,
.RichLink-sep :visited:hover {
  text-decoration: underline!important
}
table {
  border-spacing: 2px;
  border-collapse: separate
}
th,
thead {
  font-weight: 700
}
td {
  padding: .5em .25em
}
thead td,
thead th {
  padding: .5em
}
tbody td,
tbody td[colspan]:after {
  border-width: 0 0 1px
}
.ico path {
  fill: currentColor
}
.RichLink a {
  border-width: 0
}
.tl tbody td:after {
  filter: invert(1)
}
.tl {
  border-collapse: collapse
}
.Pager {
  text-align: center;
  height: auto;
  padding: 1em 0
}
.Pager span {
  position: static;
  display: inline
}
.Pager i {
  display: none
}
.js-pica-thumbnail:active,
.js-pica-thumbnail:focus {
  outline: 0
}