/* role="image" */

@if( $Option_aa ){
    .aa {
        @include line-height(1, 0);
        @include responsive-horizontal-padding(1, 1em, 1em);

        margin       : 1em 0;
        border-width : 1px;

        font-family  : monospace;
        border-color : #0A0809;

        @include media(screen) {
            background : #0A0809;
        }
    }

    .aa, .aa code, .aa var {
        @include media(screen) {
            color : #00ac06;
        }
    }
}