/* role="image" */

@if( $Option_aa ){
    .aa {
        @include line-height(1, 0);

        margin       : 1em 0;
        border-width : 1px;

        font-family  : monospace;
        border-color : #0A0809;

        @include media(screen) {
            background : #0A0809;
        }

        &, & code, & var {
            @include media(screen) {
                color : #00ac06;
            }
        }
    }
}