/* a タグの下線
--------------------------------------------------------------------------------------*/
/* 下線あり -> hover -> 下線なし 但し, focus:hover active:hover では下線が付く*/
.aBodyRoot {
    /* //_{#ie6-win */
    a, /* link の無い a には下線をつけない */
    /* //_}#ie6-win */
    :link:hover, :visited:hover, a:active
    /* //_{#can-focus-pseudo-class */
    , a:focus
    /* //_}#can-focus-pseudo-class */
    { text-decoration : none; }

    :link, :visited {
        text-decoration : underline;
    }
}

/* .aBodyRoot 内では訪問済のリンクは紫になる */
.aBodyRoot {
    :visited       { color : $COLOR_Default_visited; }
    :visited:hover { color : $COLOR_Default_visited_hover; }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    /* .aBodyRoot 内では訪問済のリンクは紫になる */
    .aBodyRoot {
        :visited       { color : $COLOR_Watch_visited; }
        :visited:hover { color : $COLOR_Watch_visited_hover; }
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    @if( $CANUSE_CSS_GENERATED_CONTENT ){
        .aBodyRoot :link:after {
            content     : " ("attr(href)") ";
            font-size   : 0.875em;
            color       : $COLOR_Print_link;
        }
        [href$=".jpeg"]:after,
        [href$=".JPEG"]:after,
        [href$=".JPG"]:after,
        [href$=".jpg"]:after,
        [href$=".gif"]:after,
        [href$=".GIF"]:after,
        [href$=".png"]:after,
        [href$=".PNG"]:after
        /* //_{^@ie8 */
        ,
        [href^="#"]:after, /* 文書内リンクは非表示 */
        [href^="mailto:"]:after,
        [href^="tel:"]:after
        /* //_}^@ie8 */
        {
            display : none; /* for iOS4 content : none だけでは消えない */
        }
    }
}