
/*  blockquote
--------------------------------------------------------------------------------------*/
blockquote {
    @include responsive-horizontal-margin(1, 1em, 1em);
    padding      : 1em;
    border-width : 1px;
    background   : $COLOR_Light_casual_fill;
    blockquote {
        border-color : $COLOR_Light_casual_text;
    }
}

    blockquote h3 {
        border-color : $COLOR_Light_text;
    }

    @if( $CANUSE_CSS_GENERATED_CONTENT ){
        blockquote:before {
            content : attr(title);
            @if( $CANUSE_CSS_GENERATED_BLOCK ){
                display : block;
            }
        }
        blockquote:after {
            content : attr(cite);
        }
    }

    /* //_{#can-content */
    blockquote:before,
    /* //_}#can-content */
    .js-bqLink {
        @include responsive-horizontal-margin(2, 0, 0);
        font-size   : 0.875em;
        color       : $COLOR_Light_link;
    }
    /* //_{#can-content */
    blockquote:after,
    /* //_}#can-content */
    .js-bqCite {
        @include responsive-horizontal-margin(2, 0, 0);
        @include unbreak-box-with-long-text; /* 長い url 用 */
        display     : block;
        font-size   : 0.875em;
        text-align  : right;
        color       : $COLOR_Light_casual_text;
    }

/* Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    blockquote {
        padding : 1em 1px;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    blockquote {
        background : $COLOR_Dark_casual_fill;
        color      : $COLOR_Dark_text;
        blockquote {
            border-color : $COLOR_Dark_casual_text;
        }
    }
        blockquote h3 {
            border-color : $COLOR_Dark_text;
        }

        blockquote:before,
        .js-bqLink {
            color : $COLOR_Dark_link;
        }
}

/*  Forced colors
--------------------------------------------------------------------------------------*/
@include media(forced_colors_native_or_fallback){
    blockquote {
        border-style : dotted;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    blockquote {
        background : none;
        margin     : 1em 0;
    }
    @if( $CANUSE_CSS_GENERATED_CONTENT ){
        .js-bqLink a:after {
            display : none; /* for iOS4 content : none だけでは消えない */
        }
    }
}