/*  blockquote
--------------------------------------------------------------------------------------*/
blockquote {
    @include responsive-horizontal-margin(1, 1em, 1em);
    padding      : 1em;
    border-width : 1px;
    @include media(screen) {
        background : $COLOR_Light_casual_fill;
    }
    blockquote {
        border-color : $COLOR_Light_casual_text;
    }

    h3 {
        border-color : $COLOR_Light_text;
    }

    @if( $CANUSE_CSS_GENERATED_CONTENT ){
        &[title]:before {
            content : attr(title);
            @if( $CANUSE_CSS_GENERATED_BLOCK ){
                display : block;
            }
        }
        &[cite]:after {
            content : attr(cite);
        }
        &:before { @extend %BlockquoteLink; }
        &:after {
            @extend %BlockquoteCite;
            @if( $CANUSE_TARGET_PSEUDO_CLASS ){
                &:target {
                    color : #fff;
                }
            }
        }
    }

    /* Tablet
    --------------------------------------------------------------------------------------*/
    @include media(tablet_print) {
        padding : 1em 1px;
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        background : $COLOR_Dark_casual_fill;
        color      : $COLOR_Dark_text;
        blockquote {
            border-color : $COLOR_Dark_casual_text;
        }
        h3 {
            border-color : $COLOR_Dark_text;
        }
    }

    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include media(forced_colors_native_or_fallback){
        border-style : dotted;
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        margin : 1em 0;
    }
}