/* object with caption
 * ------------------------------------------------------------------------------------*
 *  div.box
 *    span.caption[style=width:XXpx]
 *       figure
 *         img|emned|
 *         figcaption
 */
$CaptionedObjectFontSize : 0.875;

.#{$COMMON_CAPTIONED_OBJECT__CLASSNAME} {
    @include unbreak-box-with-long-text;
    @include unbreak-inside;
    display    : block; /* CSS が無効の環境での閲覧性の為に、span でマークアップする */
    text-align : center;
    font-size  : 1em * $CaptionedObjectFontSize;
 
    @if( $CANUSE_MAX_AND_MIN_SIZES ){
        max-width : 100%;
    }
}

/*  box
--------------------------------------------------------------------------------------*/
.box {
    @include clearfix;
    @include unbreak-inside;

    margin : 1em 1em 0;

    li &, dl &, tr &, .note & {
        margin : 0;
    }

    @if( $CANUSE_1ST_OF_TYPE_PSEUDO_CLASS ){
        & > p:first-of-type {
            margin-top : math.div(-$PARAGRAPH_LINE_HEIGHT_EM + 1em, 4);
        }
        tr & > p:first-of-type {
            margin-top : auto; // Windown XP Safari 3.2.3 で 0 だとレイアウトが崩れる
        }
    }

    p, dl, ul, ol {
        @include responsive-horizontal-margin(1, 0, 1em, 1);
    }
    ul, ol {
        list-style-position : inside;
    }

    img, iframe
    //, embed, object, video
    {
        float : left;
        @if( $UA_IE5 ){
            margin : 0 0.5em 1em 0;
        } @else {
            margin : 0 1em 1em 0;
        }
    }
    img, iframe {
        @if( $CANUSE_MAX_AND_MIN_SIZES ){
            @if( $Option_mobileOnly ){
                max-width : 100%; // 4_Typography/04_Typography.scss を上書き
            } @else if( $CANUSE_CSS_MEDIA_QUERY ){
                max-width : 100%; // 4_Typography/04_Typography.scss を上書き
            };
        }
    }
    .#{$COMMON_CAPTIONED_OBJECT__CLASSNAME} {
        float : left;
        @if( $UA_IE5 ){
            margin : 0 math.div(.5em, $CaptionedObjectFontSize) math.div(1em, $CaptionedObjectFontSize) 0;
        } @else {
            margin : 0 math.div(1em, $CaptionedObjectFontSize) math.div(1em, $CaptionedObjectFontSize) 0;
        }
    }
    @at-root div .#{$COMMON_CAPTIONED_OBJECT__CLASSNAME} img, div .#{$COMMON_CAPTIONED_OBJECT__CLASSNAME} iframe { // div で詳細度を上げる .box img の上書き
        margin : 0 0 math.div(.5em, $CaptionedObjectFontSize);
        float  : none;
    }
}

@if( $IS_OLD_GECKO ){
    hr { display: -moz-inline-box; } // .box 内の hr が img に重なるのを妨げる
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    .box {
        margin : 1em 0 0;

        img, iframe
        //, embed, object, video
        {
            margin  : 0 1em 1em $TABLET_HORIZONTAL_MARGIN;
        }
        .#{$COMMON_CAPTIONED_OBJECT__CLASSNAME} {
            margin  : 0 math.div(1em, $CaptionedObjectFontSize) math.div(1em, $CaptionedObjectFontSize) $TABLET_HORIZONTAL_MARGIN;
        }
    }
}

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .box {
        img, iframe
        //, embed, object, video
        {
            margin  : 0 1em 1em $PHABLET_HORIZONTAL_MARGIN;
        }
        .#{$COMMON_CAPTIONED_OBJECT__CLASSNAME} {
            margin  : 0 math.div(1em, $CaptionedObjectFontSize) math.div(1em, $CaptionedObjectFontSize) $PHABLET_HORIZONTAL_MARGIN;
        }
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    @if( $CANUSE_1ST_OF_TYPE_PSEUDO_CLASS ){
        .box > p:first-of-type {
            margin-top : math.div(-$PARAGRAPH_LINE_HEIGHT_PHONE_EM + 1em, 4);
        }
    }
    .box {
        img, iframe
        //, embed, object, video
        {
            margin  : 0 1em 1em $PHONE_HORIZONTAL_MARGIN;
        }
        .#{$COMMON_CAPTIONED_OBJECT__CLASSNAME} {
            margin  : 0 math.div(1em, $CaptionedObjectFontSize) math.div(1em, $CaptionedObjectFontSize) $PHONE_HORIZONTAL_MARGIN;
        }
    }
}

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    .box {
        img, iframe
        //, embed, object, video
        {
            float  : none;
            margin : 0 auto 1em;
        }
        .#{$COMMON_CAPTIONED_OBJECT__CLASSNAME} {
            float  : none;
            margin : 0 auto math.div(1em, $CaptionedObjectFontSize);
        }
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    @if( $CANUSE_1ST_OF_TYPE_PSEUDO_CLASS ){
        .box > p:first-of-type {
            margin-top : math.div(-$PARAGRAPH_LINE_HEIGHT_WATCH_EM + 1em, 4);
        }
    }
}

/*  patch for Safari 3.2.3, Chrome 7
Safari 3.1-5.0, Chrome 9- (& old versions of Chrome 10 before 10.0.64)
--------------------------------------------------------------------------------------*/
.box > p:first-of-type {
    @include css-hack(chromeLte9SafariLte5){
        margin-top : auto;
    }
}