
/*  box
--------------------------------------------------------------------------------------*/
.box {
    @include clearfix;
    @include unbreak-inside;

    li &, dl &, tr &, .note & {
        margin-top : 0;
    }

    margin : 1em 1em 0;

    @if( $CANUSE_1ST_OF_TYPE_SELECTOR ){
        & > p:first-of-type {
            margin-top : math.div(-$PARAGRAPH_LINE_HEIGHT_EM + 1em, 4);
        }
        tr & > p:first-of-type {
            margin-top : auto; // Windown XP Safari 3.2.3 で 0 だとレイアウトが崩れる
        }
    }

    p, dl, ul, ol {
        @include responsive-horizontal-margin(1, 0, 1em, 1);
    }
    ul, ol {
        list-style-position : inside;
    }

    img, .caption, iframe
    //, embed, object, video
    {
        float  : left;
        margin : 0 1em 1em 0;
    }
}

@if( $UA_Gck-097 or $UA_Gck101-121 or $UA_Gck130-190 ){
    hr { display: -moz-inline-box; } // .box 内の hr が img に重なるのを妨げる
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    .box {
        margin : 1em 0 0;

        img, .caption, iframe
        //, embed, object, video
        {
            margin  : 0 1em 1em $TABLET_HORIZONTAL_MARGIN;
        }
    }
}

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .box {
        img, .caption, iframe
        //, embed, object, video
        {
            margin  : 0 1em 1em $PHABLET_HORIZONTAL_MARGIN;
        }
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    @if( $CANUSE_1ST_OF_TYPE_SELECTOR ){
        .box > p:first-of-type {
            margin-top : math.div(-$PARAGRAPH_LINE_HEIGHT_PHONE_EM + 1em, 4);
        }
    }
    .box {
        img, .caption, iframe
        //, embed, object, video
        {
            margin  : 0 1em 1em $PHONE_HORIZONTAL_MARGIN;
        }
    }
}

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    .box {
        img, .caption, iframe
        //, embed, object, video
        {
            float  : none;
            margin : 0 auto 1em;
        }
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    @if( $CANUSE_1ST_OF_TYPE_SELECTOR ){
        .box > p:first-of-type {
            margin-top : math.div(-$PARAGRAPH_LINE_HEIGHT_WATCH_EM + 1em, 4);
        }
    }
}

/*  patch for Safari 3.2.3
--------------------------------------------------------------------------------------*/
@include css-hack(chromeLte5SafariLte4){
    .box > p:first-of-type {
        margin-top : auto;
    }
}