/*
 * http://webcommu.net/phone-table-scroll/
 */
 .hscroll {
    @include media(screen) {
        margin : 1em 0;

        @if( $UA_IE5 or $UA_IE55 ){
            width : 100%;
        }

        li &, dl &, tr &, .note & {
            margin-top : 0;
        }
        table {
            margin-bottom : 0.5em;
        }
        pre {
            margin      : 0 0 0.5em;
            overflow    : auto;
            white-space : pre;
            @at-root .hscroll tr pre {
                @include pre-wrap;
            }
            @if( $Option_IT ){
                code, var, kbd, samp {
                    @include reset-unbreak-box-for-inline-element;
                }
                @if( $UA_IE5 ){
                    code, samp { width : auto; }
                }
            }
        }
    }

/*  WSXGA. print
--------------------------------------------------------------------------------------*/
    @include media(WSXGA_landscapePrint) {
        @include column-span-all;
    }
    @include media(WSXGA) {
        & > *, & table {
            margin : 2em auto;
        }
    }

/*  Tablet
--------------------------------------------------------------------------------------*/
    @include media(tablet) {
        // https://t.co/dDQoerU1IO
        //   > Android2.xでoverflow:scrollやautoが効かない（overflow:hiddenとして処理される）
        @if( $CANUSE_OVERFLOW_X_AND_Y ){
            @if( $UA_Modern ){
                overflow : auto;
            }
            overflow-x : auto;
            overflow-y : hidden;
        } @else {
            overflow : auto;
        }

        @if( $UA_Modern ){
            // https://www.cloudconsul.jp/webkit-overflow-scrolling-touch
            //   「-webkit-overflow-scrolling: touch;」を使い、スマホでtableの理想的な横スクロールを実現する
            // https://caniuse.com/?search=-webkit-overflow-scrolling
            //   iOS 5~12.5
            // https://t.co/dDQoerU1IO
            //   iOS5では子要素がタッチ不能になる症状があるようなので...
            -webkit-overflow-scrolling : touch;

            &::-webkit-scrollbar {
                height : 5px;
            }
            &::-webkit-scrollbar-track {
                background : #F1F1F1;
            }
            &::-webkit-scrollbar-thumb {
                background : #BCBCBC;
            }
        }

        tbody {
            white-space : pre;
            .#{$COMMON_CLASSNAME_NO_JAVASCRIPT} & {
                @if( $UA_Modern ){
                    @include pre-wrap; // TODO nojs の場合、Android 2.x で横スクロールが出来なくなる．js で解消する
                }
            }
        }
    }
}
