/* it
--------------------------------------------------------------------------------------*/
@if( $Option_IT ){
    code, var, kbd, samp /* , pre, tt */ {
        @extend %CodingFontFamily;
    }

    kbd {
        @include inline-block;
        border-width   : 1px;
        border-color   : $COLOR_Light_text;
        cursor         : pointer;
        letter-spacing : -1px;
        padding        : 0 .4em;
        margin         : 0 .1em;

        @include border-radius(3px);
        @if( $CANUSE_HOVER_PSEUDO_CLASS ){
            &:hover {
                position : relative; /* ie7:table 下でスクロールする際に relative 指定があると描画が乱れるので :hover に移す */
                top      : -2px;
            }
        }
    }

    code, var {
        margin     : 0 .1em;

        @if( $UA_IE5 ){
            padding     : 0 .4em;
            line-height : 1;
            height      : 1px; // hasLayout=true にしないと塗りがランダムかつ頻繁に欠落する
        } @else {
            padding : .1em .4em;
        }

        pre & {
            padding : 0;
            margin  : 0;
            background : none !important;
        }

        @include media(screen) {
            background : $COLOR_Light_casual_fill;

            blockquote &, tbody th &, blockquote .tl tr & {
                background : $COLOR_Light_casual_text;
                color      : $COLOR_Light_fill;
            }
            thead &, blockquote tbody th &, .tl tr & {
                background : $COLOR_Light_casual_fill;
                color      : $COLOR_Light_text;
            }
        }
    }

    a {
        @include active-focus-pseudo-class {
            code, var {
                @if( $FOCUSED_COLOR_FIXED_AT_SYSTEM_COLOR ){
                    background : Highlight;
                } @else if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false ){
                    background : $COLOR_ACCENT;
                }
            }
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        kbd {
            border-color : $COLOR_Dark_text;
        }
        code, var {
            background : $COLOR_Dark_casual_fill;

            blockquote &, tbody th &, blockquote .tl tr & {
                background : $COLOR_Dark_casual_text;
                color      : $COLOR_Dark_fill;
            }
            thead &, blockquote tbody th &, .tl tr & {
                background : $COLOR_Dark_casual_fill;
                color      : $COLOR_Dark_text;
            }
        }
    }

    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        kbd {
            border-color : $COLOR_Print_text;
        }
        code, var {
            border-width : 1px;
            border-color : $COLOR_Print_casual_fill;

            blockquote &, tbody th &, thead & {
                border-color : $COLOR_Print_casual_text;
            }
        }
        pre code {
            border : 0;
        }
    }
}