/*  links
--------------------------------------------------------------------------------------*/
.links {
    @include pre-wrap;
    @include responsive-horizontal-margin(1, 1em, 1em);
}

    .links a {
        padding-left : 1em;
        @include inline-block;
        
        @if( $CANUSE_CSS_GENERATED_BLOCK ){
            position : relative;
        }

        @if( $UA_IE7 or $UA_IE6 or $UA_IE55 ){
            display : block;
            zoom    : 1;
        }
        @if( $UA_IE5 ){
            display : block;
            height  : 1em;
        }
    }
    
    @if( $CANUSE_CSS_GENERATED_CONTENT ){
        .links [href]:before {
            content     : ">";
            @if( $CANUSE_CSS_GENERATED_BLOCK ){
                position   : relative;
                left       : -0.5em;
                width      : 1em;
                text-align : center;
                @if( $UA_Modern ){
                    height      : 1.4em; /* for iOS8 */
                    line-height : 1.4; /* for iOS8 */
                }
            }
            font-weight : bold;
        }
        @if( $CANUSE_NOT_SELECTOR and $IS_OLD_OPERA == false ){
            .links [href^="/"]:not([href^="//"]):before {
                content : "+";
            }
        }
        .links [href*="/web.archive."]:before {
            content : "*";
        }
    }