/* object with caption
 *  div.box
 *    span.caption[style=width:XXpx]
 *       figure
 *         img|emned|
 *         figcaption
 */
$CaptionedObjectFontSize : 0.875em;

.caption {
    display    : block; /* CSS が無効の環境での閲覧性の為に、span でマークアップする */

    @include unbreak-pane;

    text-align : center;
    @include lineHeight(1.2, 0);
    font-size  : 0.875em;
    @if( $IS_NOT_IE ){
        width      : 100%; /* for animation */
    }
    @if( $CANUSE_MAX_AND_MIN_SIZES ){
        max-width  : 100%;
    }

    @include unbreak-inside;

    img /* , .box & img */ {
        margin : 0 0 .5em !important;
    }

    /* .box & */ * {
        float : none !important;
    }
}