
$PC_SUB_COLUMN_RATIO  : 0.3;
$PC_MAIN_COLUMN_RATIO : 1 - $PC_SUB_COLUMN_RATIO;
$PC_COLUMN_GAP_RATIO  : 0.027;
$PC_MAX_WIDTH_EM      : 70em;

$WSXGA_SUB_COLUMN_RATIO  : 0.17;
$WSXGA_MAIN_COLUMN_RATIO : 1 - $WSXGA_SUB_COLUMN_RATIO;
$WSXGA_COLUMN_GAP_PCT    : 1.5%;
$WSXGA_COLUMN_GAP_EM     : 2.6em;
$WSXGA_MAX_WIDTH_EM      : 108em;

$WQXGA_SUB_COLUMN_RATIO  : 0.3;
$WQXGA_MAIN_COLUMN_RATIO : 1 - $WQXGA_SUB_COLUMN_RATIO;
$WQXGA_COLUMN_GAP_PCT    : 2%;
$WQXGA_COLUMN_GAP_EM     : 2.6em;
$WQXGA_MAX_WIDTH_EM      : 150em;

$TABLET_H_SPACE      : 6%;
$FABLET_H_SPACE      : 3%;
$PHONE_H_SPACE       : 1%;
