$MEDIAQUERY_TABLET_MAX_PX : 950;
$MEDIAQUERY_TABLET        : 'handheld, projection, tv, only screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px)';

/* //_{#can-mq */
$MEDIAQUERY_TABLET_AND_PRINT : 'print, handheld, projection, tv, only screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px)';
$NO_MEDIA_QUERY              : 1;
/* //_}#can-mq */

/* //_{^#can-mq */
$MEDIAQUERY_TABLET_AND_PRINT : 'print';
$NO_MEDIA_QUERY              : 0;
/* //_}^#can-mq */

/* //_{+mobileOnly */
$COMMENT_OUT : (
    'WQXGA'        : 0,
    'WSXGA'        : 0,
    'pc'           : 0,
    'tablet_print' : 2,
    'tablet'       : 2,
    'phablet'      : $NO_MEDIA_QUERY,
    'phone'        : $NO_MEDIA_QUERY,
    'smallphone'   : $NO_MEDIA_QUERY,
    'watch'        : 1,
    'dark_theme'   : 1,
    'print'        : 1,
    'onlyOpera'    : $NO_MEDIA_QUERY,
    'onlySafari'   : $NO_MEDIA_QUERY
);
/* //_}+mobileOnly */

$COMMENT_OUT : (
    'WQXGA'        : $NO_MEDIA_QUERY,
    'WSXGA'        : $NO_MEDIA_QUERY,
    'pc'           : $NO_MEDIA_QUERY,
    'tablet_print' : 1,
    'tablet'       : $NO_MEDIA_QUERY,
    'phablet'      : $NO_MEDIA_QUERY,
    'phone'        : $NO_MEDIA_QUERY,
    'smallphone'   : $NO_MEDIA_QUERY,
    'watch'        : $NO_MEDIA_QUERY,
    'dark_theme'   : $NO_MEDIA_QUERY,
    'print'        : 1,
    'onlyOpera'    : $NO_MEDIA_QUERY,
    'onlySafari'   : $NO_MEDIA_QUERY
) !default;

@mixin media($media) {
    @if map-get($COMMENT_OUT, $media) == 2 {
        @content;
    }
    @else if map-get($COMMENT_OUT, $media) == 1 {
        @if $media == 'pc' {
            @media only screen and (min-width: #{($MEDIAQUERY_TABLET_MAX_PX + 1) / 16}em){
                @content;
            }
        }
        @else if $media == 'WSXGA' {
            @media only screen and (min-width: 96em){
                @content;
            }
        }
        @else if $media == 'WQXGA' {
            @media only screen and (min-width: 126em){
                @content;
            }
        }
        @else if $media == 'tablet_print' {
            @media #{$MEDIAQUERY_TABLET_AND_PRINT} {
                @content;
            }
        }
        @else if $media == 'tablet' {
            @media #{$MEDIAQUERY_TABLET} {
                @content;
            }
        }
        @else if $media == 'phablet' {
            @media handheld, projection, tv, only screen and (max-width: 740px) {
                @content;
            }
        }
        @else if $media == 'phone' {
            @media handheld, projection, tv, only screen and (max-width: 479px) {
                @content;
            }
        }
        @else if $media == 'smallphone' {
            @media handheld, projection, tv, only screen and (max-width: 319px) {
                @content;
            }
        }
        @else if $media == 'watch' {
            @media handheld, only screen and (max-width: 240px) {
                @content;
            }
        }
        @else if $media == 'dark_theme' {
            @media handheld, only screen and (max-width: 240px)
            /* //_{@modern */
            ,(prefers-color-scheme: dark)
            /* //_}@modern */
            {
                @content;
            }
        }
        @else if $media == 'print' {
            @media print {
                @content;
            }
        }
        @else if $media == 'onlyOpera' {
            @media not aural and (1) {
                @content;
            }
        }
        @else if $media == 'onlySafari' {
            @media screen and (-webkit-min-device-pixel-ratio:0) {
                @content;
            }
        }
    }
    @else if map-get($COMMENT_OUT, $media) != 0 {
        body {
            color : red !important;
        }
        body:before {
            content : "@media() : error-arg! #{$media}";
        }
    }
}

@mixin highContrast {
    @media only screen and (-ms-high-contrast:active) {
        & { @content; }
    }
}

@include media(print) {
    .noprint { display : none }
}