/* ClearFix
 *  compass/core/stylesheets/compass/utilities/general/_clearfix.scss
 *   https://github.com/Compass/compass/tree/d5df161d0df7edc686e576b22412f437dd0590cc/core/stylesheets/compass/utilities/general
--------------------------------------------------------------------------------------*/

@mixin createPusedoBlock($invisible : 0) {
    & {
        /* //_{@modern */
        /* http://browserhacks.com/ */
        /* Firefox <= 3 */
        @media \0 all { & { content : "." } }
        /* 2 <= Firefox */
        @if $invisible == 1 {
            body:last-child & [firefox-gte2] /* , x:-moz-any-link @see /README.md */ {
                content : "";
            }
        /* https://ka2.org/css-hack-for-opera/ */
        /* Opera <= 9 */
            [opera-lte9] /* , x:not(\\) @see /README.md */ { content : " " }
        } @else {
            body:last-child & [firefox-gte2] {
                content : "_";
            }
            content : " ";
        }
        overflow : hidden;
        /* //_}@modern */
        /* //_{^@modern */
        @if $invisible == 1 {
            content : "";
        } @else {
            content : " ";
        }
        /* //_}^@modern */
        display  : block;
    }
}

@mixin clearfix {
    /* //_{@modern,@ie9,@ie8,@ie7 */
        display  : block;
        overflow : hidden;
    /* //_}@modern,@ie9,@ie8,@ie7 */

    /* //_{#ie6-win */
        display  : block;
        height   : 1%;
        overflow : visible;
    /* //_}#ie6-win */

    /* //_{@ie5mac */
        display  : inline-table;
    /* //_}@ie5mac */

        /* //_{#can-content */
            &:after {
                @include createPusedoBlock(1);
                /* //_{@modern */
                height      : 0;
                line-height : 0;
                visibility  : hidden;
                /* //_}@modern */
                clear       : both;
            }
        /* //_}#can-content */
}