
@mixin unbreak-inside {
    /* //_{@modern */
    break-inside      : avoid;
    /* //_}@modern */
    page-break-inside : avoid;
}

@mixin unbreak-after {
    /* //_{@modern */
    -webkit-column-break-after : avoid;
    -webkit-region-break-after : avoid;
      -moz-break-after         : avoid;
    column-break-after         : avoid;
    break-after                : avoid;
    /* //_}@modern */
    page-break-after           : avoid;
}