@charset "UTF-8";
small,
sub,
sup {
  font-size: 75%
}
body,
dd p,
li p,
tr p {
  line-height: 1.2
}
.SocialBtns .hb:link:focus,
.SocialBtns .hb:visited:focus,
.SocialBtns .ln:link:focus,
.SocialBtns .ln:visited:focus,
.SocialBtns .pk:link:focus,
.SocialBtns .pk:visited:focus,
.SocialBtns .tw:link:focus,
.SocialBtns .tw:visited:focus,
.baseColor .btn:link:focus,
.baseColor .btn:visited:focus,
.medal,
a,
a img,
tbody th {
  border-color: #fdeeb7
}
blockquote .tl td,
blockquote .tl tfoot td,
blockquote .tl tfoot th,
blockquote .tl thead td,
blockquote .tl thead th,
blockquote blockquote,
blockquote hr,
h5,
h6,
table {
  border-color: #8a7322
}
.BreadcrumbList,
.Comment div,
.Cover-meta,
.baseColor :link .RichLink-meta,
.baseColor :visited .RichLink-meta,
a,
h6 {
  color: #8a7322
}
dd,
li {
  margin-bottom: .3em
}
.note .box,
.note .hscroll,
.tl td > :first-child,
dl .box,
dl .hscroll,
dl iframe,
dl img,
li .box,
li .hscroll,
li iframe,
li img,
tr .box,
tr .hscroll,
tr iframe,
tr img,
tr ol,
tr ul {
  margin-top: 0
}
#lB .lS,
body {
  background: #fffd93
}
.lM1,
.lM2,
.lS1,
.lS2 {
  width: 48.5%
}
.links,
.note,
blockquote,
dl,
iframe,
img,
ol,
p,
table,
tr blockquote p,
tr blockquote pre,
ul {
  margin: 1em 3%
}
.hscroll pre,
textarea {
  overflow: auto
}
[type=submit],
blockquote,
code,
tbody th,
var {
  background: #e7d182
}
code,
kbd,
var {
  margin: 0 .1em
}
.links,
pre {
  white-space: -moz-pre-wrap
}
.tl td,
.tl th {
  vertical-align: top
}
#lH .lSi,
.AAuthor,
.Comment p,
.Cover,
.Cover-img,
.Pager,
.RichLink a,
.box,
.commonForm-pair,
.lMi,
.lSi,
sub,
sup {
  position: relative
}
.AHead-labels a,
.SocialBtns *,
.Subscribe a,
.btn {
  display: -moz-inline-box;
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  line-height: 1.9;
  padding: 0 1em;
  height: 2.1em
}
.AHead-labels a:focus,
.SocialBtns :focus,
.Subscribe a:focus,
.btn:focus {
  border-color: #0d5bb5;
  color: #0d5bb5;
  outline: 0;
  border-style: dotted
}
*,
[type=submit]:focus {
  border-style: solid
}
body,
input,
textarea {
  font-family: "-apple-system",BlinkMacSystemFont,"Avenir Next",Avenir,"Open Sans","Helvetica Neue",Verdana,Roboto,"UD Digi Kyokasho NP-R",YuKyokasho,"游ゴシック体",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","M+ 1p",sans-serif
}
code,
kbd,
samp,
var {
  font-family: SFMono-Regular,"Liberation Mono",Consolas,Meiryo,monospace
}
a img {
  border-width: 2px
}
*,
blockquote :link img,
blockquote :visited img {
  border-color: #e7d182
}
a:focus img {
  border-color: #0d5bb5!important
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important
}
.LinkList a:not([href]),
.RichLink-sep a:not([href]) {
  background: #06284e;
  color: #fdeeb7
}
.LinkList :hover,
.RichLink-sep :hover,
.tl tr code,
.tl tr var,
blockquote tbody th code,
blockquote tbody th var,
thead code,
thead var {
  background: #e7d182;
  color: #06284e
}
dt {
  font-weight: 700;
  margin-top: .7em
}
blockquote,
q {
  quotes: none
}
sub,
sup {
  line-height: 0;
  vertical-align: baseline
}
input,
textarea {
  font-size: 1em;
  margin: 0
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  height: auto
}
cite,
code,
dfn,
em,
kbd,
q,
samp,
strong,
var {
  font-style: normal
}
.hscroll,
pre {
  margin: 1em 0
}
form,
h2 {
  margin: 0
}
.BlogArchive :hover,
.Label :hover,
.aBodyRoot a:focus,
:link,
:visited,
a:focus,
ins {
  text-decoration: none
}
del {
  text-decoration: line-through
}
input {
  height: 2.1em;
  line-height: 1
}
.AHead-labels i,
.RichLink br,
[type=hidden] {
  display: none
}
.Cover img,
.Cover-meta,
.commonForm,
.commonForm-wrap,
.commonForm-wrap *,
a iframe,
a img {
  display: block
}
.Cover h2,
.Cover-meta span,
.RichLink-meta span,
.links a,
hr,
kbd {
  display: -moz-inline-box
}
input[type=submit] {
  text-align: center;
  -moz-box-sizing: content-box
}
.jsPicaLarge img,
input,
textarea {
  -moz-box-sizing: border-box
}

input[type=submit],_:-moz-any-link {
  -moz-box-sizing: border-box
}
:-moz-focus-inner {
  border: 0
}
*,
.RichLink a img,
.tl,
.tl th {
  border-width: 0
}
html {
  font-size: 100%
}
h4,
h5,
h6 {
  font-size: 1em;
  margin: 1.5em 1.5% .8em
}
body,
html {
  margin: 0;
  height: 100%
}
.medal,
.tl tbody th,
.tl thead td,
.tl thead th,
:visited,
body {
  color: #06284e
}
p {
  line-height: 1.9
}
.aBodyRoot :link,
.aBodyRoot :visited,
.aBodyRoot a:focus:hover,
:hover,
a:focus:hover {
  text-decoration: underline
}
.tl tbody th :link,
.tl tbody th :link:hover,
.tl thead :link,
.tl thead :link:hover,
:link {
  color: #24c
}
:link:hover,
form :focus {
  color: #0d5bb5;
  border-color: #0d5bb5
}
:visited:hover {
  color: #419;
  border-color: #419
}
.tl tbody th a:focus,
.tl thead td a:focus,
.tl thead th a:focus,
a:focus {
  background-color: #fffd93!important
}
:target,
:target * {
  background: #0d5bb5!important;
  color: #fff!important;
  border-color: #fff!important
}
h1,
h2,
h3,
h5,
h6 {
  font-weight: 400
}
h4 {
  border-width: 0 0 0 .7em;
  border-color: #06284e;
  padding: 0 0 0 .3em
}
h5 {
  border-width: 0 0 0 .5em;
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  padding: 0 0 0 .7em
}
abbr[title],
acronym,
dfn,
q[cite],
q[title] {
  border-bottom: 1px dotted
}
abbr[title],
acronym,
dfn {
  text-decoration: none;
  cursor: help
}
.AMeta,
.Pager,
.SocialBtns,
.tl thead th,
hr,
tbody th,
th {
  border-width: 0 0 1px
}
.ABody h2,
.ABody h2 *,
.Cover h2 {
  border-color: #0d5bb5
}
iframe,
img {
  max-width: 100%;
  max-width: 94%
}
ol,
ul {
  padding-left: 2em
}
li {
  margin-top: .3em
}
.links a,
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em
}
.hscroll table,
tr ol,
tr ul {
  margin-bottom: .5em
}
.AHead-labels a,
.SocialBtns *,
.Subscribe a,
dd blockquote,
dd dl,
dd p,
dd pre,
dd table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
dd blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dd ol,
dd ul,
li ol,
li ul {
  margin-top: 0;
  margin-bottom: 0
}
input,
textarea {
  border-width: .1em;
  padding: .45em .4em
}
.baseColor,
.medal {
  background: #fdeeb7
}
h2 {
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em;
  font-weight: 700
}
.wn {
  color: #c00!important
}
hr {
  height: 0;
  border-color: #e7d182;
  margin: 2em 6%
}
tr hr {
  margin: 1em 9%
}
table {
  width: 94%;
  border-width: 1px 0 0;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0
}
caption {
  margin: 1.5em 3% .7em
}
th {
  font-weight: 400;
  text-align: left;
  padding: .5em
}
td {
  padding: .5em 0;
  border-color: #fdeeb7 #fdeeb7 #e7d182
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em;
  background: #8a7322;
  border-color: #e7d182 #937c2c;
  color: #fdeeb7
}
tbody td {
  border-width: 0 .5em 1px
}
tbody:not(:last-child) tr:last-child > * {
  border-bottom-width: 0
}
#lB .lS,
#lE,
#lF,
#lF .lX,
.tl tfoot th {
  border-width: 1px 0 0
}
tfoot th {
  border-width: 2px 0 0
}
tfoot td {
  border-width: 2px .5em 0
}
tfoot td,
tfoot th {
  border-color: #8a7322 #fdeeb7
}
.Label div,
.aBodyRoot blockquote tbody th :visited,
.aBodyRoot blockquote tbody th :visited:hover,
.aBodyRoot thead :visited,
.aBodyRoot thead :visited:hover,
blockquote tbody th :link,
blockquote tbody th :link:hover,
thead :link,
thead :link:hover {
  color: #fdeeb7
}
blockquote h3,
blockquote table {
  border-color: #06284e
}
blockquote thead td,
blockquote thead th {
  background: #06284e;
  border-color: #e7d182 #1d3953
}
blockquote tbody th {
  background: #8a7322;
  border-color: #e7d182;
  color: #fdeeb7
}
blockquote td {
  border-color: #e7d182 #e7d182 #8a7322
}
blockquote tfoot td,
blockquote tfoot th {
  border-color: #06284e #e7d182
}
blockquote tbody th a:focus,
thead a:focus,
thead td a:focus,
thead th a:focus {
  background-color: #0d5bb5!important
}
.Cover-btn,
.commonForm-send,
.r {
  text-align: right
}
.ABody h1,
.ABody h2,
.ABody h3,
.AHead h1,
.Attribution,
.Header,
.c {
  text-align: center
}
.uc {
  text-transform: uppercase
}
em {
  background: #ff6
}
strong {
  background: #6cf
}
#lB .lM {
  padding-top: 2em
}
.AAuthor:after,
.Comment p:after,
.Cover:after,
.RichLink a:after,
.box:after,
.commonForm-pair:after,
.lMi:after,
.lSi:after {
  content: "";
  clear: both
}
.lM1,
.lS1 {
  float: left
}
.lM2,
.lS2 {
  float: right
}
#lB .lS1 {
  width: 45.5%;
  padding: 0 0 0 3%
}
#lB .lS2 {
  width: 45.5%;
  padding: 0 3% 0 0
}
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #062241
}
.btn:visited {
  background: #062241;
  border-color: #fed33b;
  color: #fed33b
}
.Subscribe .atom:link:focus,
.Subscribe .atom:visited:focus,
.Subscribe .fl:link:focus,
.Subscribe .fl:visited:focus,
.Subscribe .rss:link:focus,
.Subscribe .rss:visited:focus,
.Subscribe .stm:link:focus,
.Subscribe .stm:visited:focus,
.btn:link:focus,
.btn:visited:focus {
  border-color: #062241
}
input.btn {
  line-height: 1;
  padding: 0;
  height: 1.9em
}
input.btn,_:-moz-any-link {
  padding: .45em 1em
}
.commonForm-pair {
  margin-bottom: 1em
}
.commonForm label {
  float: left;
  width: 7em;
  padding: .45em 0
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.commonForm label,_:-moz-any-link {
  float: none;
  width: auto
}
.commonForm-wrap {
  margin: 0 0 1em 8em
}
.commonForm-wrap,_:-moz-any-link {
  margin: .5em 1em
}
.commonForm-wrap * {
  width: 100%
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
.Cover,
.RichLink-sep {
  line-height: 1.4
}
:link .medal,
:visited .medal {
  border-color: #06284e;
  background: #06284e;
  color: #fdeeb7
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #6d6309
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #61686b
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #e6d6a9
}
#lF .lM .mspacer,
.Cover p {
  margin: .6em .5em
}
.lS .mspacer {
  margin: .6em 0
}
.mspacer {
  margin: 1em .5em!important
}
.AAuthor {
  margin: 1em 0;
  padding: 0
}
.AAuthor img {
  top: .4em;
  float: left;
  margin: 0 1em 1em 0
}
.ABody {
  margin: 3.5em 0 2em
}
.ABody h1 {
  font-size: 2em;
  margin: 3em 1.5%
}
.ABody h2 {
  font-size: 1.5em;
  border-width: .2em 0 0;
  color: #0d5bb5;
  margin: 2em 1.5% 1em
}
.ABody h3 {
  font-weight: 700;
  font-size: 1.25em;
  border-width: .1em 0 0;
  margin: 2.4em 1.5% 1.2em
}
.ABody h1,
.ABody h2,
.ABody h3 {
  padding-left: 1.5%;
  padding-right: 1.5%
}
.ADesc,
.AHead {
  color: #8a7322;
  margin: 1em 0
}
.ADesc p,
.box {
  margin: 1em 0 0
}
.AHead h1 {
  font-size: 2em;
  color: #06284e;
  padding: 2em 0;
  margin: 0
}
.Attribution small,
.RichLink-meta,
.prettyprint code {
  font-size: .875em
}
.AHead-labels {
  margin-top: .5em;
  color: #fffd93
}
.AHead-labels a:link {
  background: #24c;
  border-color: #24c;
  color: #fffd93
}
.AHead-labels a:visited {
  background: #fffd93;
  border-color: #8a7322;
  color: #8a7322
}
.AHead-labels a:link:focus,
.AHead-labels a:visited:focus {
  border-color: #fffd93
}
.Attribution,
.BreadcrumbList {
  padding: 1em 0
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive a,
.Label a {
  line-height: 2.8;
  border-width: 0 0 1px
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  font-size: 93%
}
.Comment p {
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover h2,
.aa,
.prettyprint,
blockquote,
kbd {
  border-width: 1px
}
.Cover-img {
  height: 100%;
  margin: 0 0 .6em
}
.Search,
.Search .btn {
  height: 1.9em
}
.Cover-meta,
.SearchResult div div {
  margin: 0 .5em
}
.Cover img {
  margin: 0;
  width: 100%;
  max-width: 100%
}
.Header h1,
.Pager span,
.RichLink b,
.caption,
.h1,
.js-bqCite,
blockquote:after {
  display: block;
  display: block
}
.Cover .img-loaded div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}
.Cover h2 {
  background: #0d5bb5;
  color: #fdeeb7;
  font-size: .825em;
  padding: .6em
}
.tl td,
.tl th,
pre code,
pre var {
  background: 0 0!important
}
.Cover h3 {
  font-size: 1.33em;
  padding: .37em;
  margin: 0;
  color: #fff;
  background: #000
}
.Cover {
  margin: 2em auto
}
#lF .Label a,
.lS .Label a {
  line-height: 2.4
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList :focus:hover {
  text-decoration: underline!important
}
.RichLink a {
  padding: 1em .5em 0;
  border-width: 0 0 1px;
  border-color: #08366b!important
}
.Pager span,
.Search .btn {
  position: absolute;
  top: 1em
}
.baseColor .RichLink a {
  border-color: #e7d182!important
}
.RichLink-meta {
  color: #08366b;
  margin: 1.143em 0
}
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #ffeba1
}
.baseColor .RichLink-meta {
  color: #e7d182
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  padding: 0 .6em 1em 0;
  margin: 0
}
.RichLink p {
  margin: 1em 0;
  line-height: 1.2
}
.Header,
.Header h1,
.aa {
  line-height: 1
}
.lS .RichLink img {
  padding: 0 0 1em .6em;
  float: left;
  margin: 0 .5em .6em 0
}
.RichLink b {
  font-weight: 400;
  padding: 0 0 .571em;
  font-size: 1em
}
.lS .RichLink a {
  padding: .7em .5em 0
}
#lH .lSi {
  padding-right: 3.1em
}
.Search-txt {
  width: 100%;
  height: 2.1em
}
.Search .btn {
  width: 2em;
  right: .8em;
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden
}
.Search .btn,_:-moz-any-link {
  width: 3em;
  right: 0;
  height: 2.1em
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621
}
.SearchResult div p {
  margin: .2em 0 0;
  color: #545454;
  line-height: 1.2
}
.SearchResult div span {
  color: grey
}
.SearchResult-multi {
  margin: 2em 0
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em;
  padding-bottom: 1em
}
.Header h1,
.h1 {
  font-size: 1.5em;
  margin: 0 0 .5em
}
.Header h1 {
  padding: 0
}
#lH .lMi {
  padding-bottom: 0
}
.Subscribe div {
  color: #062241
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #062241
}
.Subscribe .atom:visited {
  background: #062241;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #062241
}
.Subscribe .rss:visited {
  background: #062241;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #062241
}
.Subscribe .fl:visited {
  background: #062241;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #062241
}
.Subscribe .stm:visited {
  background: #062241;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right;
  color: #fdeeb7
}
.aa {
  margin: 1em 0;
  font-family: monospace;
  background: #0a0809;
  border-color: #0a0809
}
.note .aa,
.note .prettyprint,
dl .aa,
dl .prettyprint,
li .aa,
li .prettyprint,
tr .aa,
tr .prettyprint {
  padding: 1em
}
.aa,
.note .aa,
.note .prettyprint,
.prettyprint {
  padding: 1em 3%
}
.aa,
.aa code,
.aa var {
  color: #00ac06
}
.aBodyRoot :hover {
  text-decoration: none!important
}
.aBodyRoot :visited,
.tl tbody th :visited,
.tl tbody th :visited:hover,
.tl thead :visited,
.tl thead :visited:hover,
blockquote .tl tbody th :visited {
  color: #717
}
.aBodyRoot :visited:hover {
  color: #419
}
blockquote {
  padding: 1em 1px
}
blockquote[title]:before {
  content: attr(title)
}
blockquote[cite]:after {
  content: attr(cite)
}
.js-bqLink,
blockquote:before {
  font-size: .875em;
  color: #24c;
  margin: 0 1.5%
}
.js-bqCite,
blockquote:after {
  font-size: .875em;
  text-align: right;
  color: #8a7322;
  margin: 0 1.5%
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 3% 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box .caption,
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 3%
}
.hscroll pre {
  margin: 0 0 .5em;
  white-space: pre
}
.hscroll table {
  white-space: nowrap
}
kbd {
  border-color: #06284e;
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em
}
code,
var {
  padding: .1em .4em
}
pre code,
pre var {
  padding: 0;
  margin: 0
}
blockquote .tl tr code,
blockquote .tl tr var,
blockquote code,
blockquote var,
tbody th code,
tbody th var {
  background: #8a7322;
  color: #fdeeb7
}
.links [href]:before {
  content: ">";
  font-weight: 700
}
.links [href^="/"]:not([href^="//"]):before {
  content: "+"
}
.links [href*="/web.archive."]:before {
  content: "*"
}
.note {
  padding-left: 25%
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 3%
}
.caption {
  text-align: center;
  font-size: .875em;
  width: 100%;
  max-width: 100%
}
.caption img {
  margin: 0 0 .5em!important
}
.caption * {
  float: none!important
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  border-color: #e7d182;
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  text-align: left
}
.tl td {
  padding: .5em .8em;
  border-width: 0 0 0 .3em;
  border-color: #e7d182;
  border-style: solid
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.AMeta {
  padding: .5em 0
}
.AMeta div {
  margin: .5em 0;
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager {
  color: #fdeeb7;
  height: 4em
}
.Pager-next {
  left: 0
}
.Pager-top {
  left: 34%;
  text-align: center
}
.Pager-prev {
  right: 0;
  text-align: right
}
.Pager span {
  width: 32%
}
.Pager i {
  display: -moz-inline-box;
  vertical-align: text-top;
  border-color: transparent #8a7322
}
.Pager-next i {
  border-width: .5em .7em .5em 0;
  margin-right: .5em
}
.Pager-prev i {
  border-width: .5em 0 .5em .7em;
  margin-left: .5em
}
.Pager :focus i {
  border-color: transparent #fff
}
.Pager-top i {
  border-width: 0 .45em .9em;
  margin-right: .5em;
  border-color: #8a7322 transparent
}
.Pager-top :focus i {
  border-color: #fff transparent
}
.SocialBtns {
  padding: 1em 0 .5em;
  color: #fdeeb7;
  text-align: center
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #fdeeb7
}
.SocialBtns .tw:visited {
  background: #fdeeb7;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .fb:link:focus,
.SocialBtns .fb:visited:focus,
.SocialBtns .pt:link:focus,
.SocialBtns .pt:visited:focus {
  border-color: #fff
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #fdeeb7
}
.SocialBtns .hb:visited {
  background: #fdeeb7;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #fdeeb7
}
.SocialBtns .pk:visited {
  background: #fdeeb7;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #fdeeb7
}
.SocialBtns .ln:visited {
  background: #fdeeb7;
  border-color: #00c300;
  color: #00c300
}
.prettyprint {
  background: #333;
  color: #fff;
  border-color: #333
}
code .atv,
code .str {
  color: #65b042
}
code .kwd {
  color: #e28964
}
code .com {
  color: #aeaeae;
  font-style: italic
}
code .tag,
code .typ {
  color: #89bdff
}
code .dec,
code .lit {
  color: #3387cc
}
code .pln,
code .pun {
  color: #fff
}
code .atn {
  color: #bdb76b
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.jsCapLarge,
.jsPicaLarge img {
  margin: 0 auto 1em
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none
}
.jsPicaLarge img {
  width: 100%;
  height: auto;
  max-width: 100%
}
.box .jsCapLarge {
  float: none
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #fdeeb7
}
.baseColor .btn:visited {
  background: #fdeeb7;
  border-color: #06284e;
  color: #06284e
}
@media screen {
  #lB .lM {
    padding-bottom: 4em
  }
  #lB .lSi,
  .lM,
  .lS,
  .lX {
    max-width: 50em;
    margin: 0 auto
  }
  #lB .lS {
    padding-bottom: 1em;
    max-width: 100%
  }
  .lMi,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0 3%
  }
}
@media print {
  blockquote code,
  blockquote var,
  table,
  tbody th,
  tbody th code,
  tbody th var,
  thead code,
  thead td,
  thead th,
  thead var {
    border-color: #666
  }
  code .typ,
  th {
    font-weight: 700
  }
  p {
    line-height: 1.5
  }
  .ADesc,
  a {
    color: #666
  }
  :link,
  blockquote tbody th :link,
  blockquote thead th :link,
  thead :link {
    color: #006
  }
  :visited,
  blockquote tbody th :visited,
  blockquote thead th :visited,
  thead :visited {
    color: #606
  }
  blockquote pre {
    margin: 1em
  }
  table {
    margin: 1em 0;
    width: 100%
  }
  thead td,
  thead th {
    background: #ccc;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  tbody th {
    background: #ccc
  }
  td {
    border-color: #fff #fff #ccc
  }
  tfoot td,
  tfoot th {
    border-color: #666 #fff
  }
  blockquote table,
  kbd {
    border-color: #000
  }
  blockquote thead td,
  blockquote thead th {
    background: #ccc;
    border-color: #000;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  blockquote tbody th {
    background: #ccc;
    border-color: #000;
    color: #000
  }
  blockquote td {
    border-color: #fff #fff #666
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #000 #fff
  }
  .Cover h2,
  .Cover h3,
  .aa,
  .baseColor,
  body {
    background: #fff;
    color: #000
  }
  * {
    border-color: #ccc
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Cover-btn,
  .TxtNavi,
  .js-bqLink a:after,
  .noprint,
  [href$=".GIF"]:after,
  [href$=".JPEG"]:after,
  [href$=".JPG"]:after,
  [href$=".PNG"]:after,
  [href$=".gif"]:after,
  [href$=".jpeg"]:after,
  [href$=".jpg"]:after,
  [href$=".png"]:after,
  [href*="/blogger.googleusercontent.com/img/"]:after,
  [href*="/viewer.diagrams.net/?"]:after,
  [href^="#"]:after,
  [href^="mailto:"]:after,
  [href^="tel:"]:after {
    display: none
  }
  .ABody {
    margin: 0 0 2em
  }
  .AHead {
    color: #666!important;
    padding: 0 3%
  }
  .AHead h1 {
    color: #000!important
  }
  .AHead-labels,
  .aa code,
  .aa var,
  .tl tr code,
  .tl tr var,
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote tbody th code,
  blockquote tbody th var,
  blockquote var,
  code .pln,
  tbody th code,
  tbody th var,
  thead code,
  thead var {
    color: #000
  }
  .AHead-labels a {
    display: inline;
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0;
    color: #666!important
  }
  .AMeta,
  .Header {
    padding: 0 3%
  }
  .Cover .img-loaded div {
    position: static
  }
  .Cover h2 {
    border-width: 1px;
    border-color: #000;
    margin-top: 1em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding: .5em 0
  }
  .Header {
    text-align: left
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    text-align: center;
    margin: 0 0 .5em
  }
  .Header h1 + span {
    display: block;
    text-align: center
  }
  .AMeta-cita:after,
  .aBodyRoot a[href]:after {
    content: " (" attr(href) ") ";
    font-size: .875em;
    color: #006
  }
  blockquote {
    background: 0 0;
    margin: 1em 0
  }
  .hscroll {
    overflow: visible
  }
  .hscroll table {
    width: 100%;
    margin: 0;
    white-space: normal
  }
  .hscroll pre {
    margin: 0;
    white-space: -moz-pre-wrap
  }
  code,
  var {
    background: 0 0!important;
    border-width: 1px;
    border-color: #ccc
  }
  pre code {
    border: 0
  }
  .tl tbody td:after,
  blockquote .tl tbody td:after {
    border-color: #fff
  }
  .Pager,
  .SocialBtns {
    padding: 0 3%;
    display: none
  }
  .prettyprint {
    background: #fff
  }
  code .atv,
  code .str {
    color: #060
  }
  code .kwd,
  code .tag {
    color: #006;
    font-weight: 700
  }
  code .com {
    color: #600;
    font-style: italic
  }
  code .atn,
  code .typ {
    color: #404
  }
  code .lit {
    color: #044
  }
  code .pun {
    color: #440
  }
  code .dec {
    color: #003
  }
}