@charset "UTF-8";
blockquote .tl td,
blockquote .tl tfoot td,
blockquote .tl tfoot th,
blockquote .tl thead td,
blockquote .tl thead th,
blockquote blockquote,
blockquote hr,
h5,
h6,
table {
  border-color: #717e73
}
.Comment div,
.Cover-meta,
.baseColor :link .RichLink-meta,
.baseColor :visited .RichLink-meta,
a,
h6 {
  color: #717e73
}
dd,
li {
  margin-bottom: .3em
}
.note .box,
.note .hscroll,
.tl td *,
dl .box,
dl .hscroll,
dl iframe,
dl img,
li .box,
li .hscroll,
li iframe,
li img,
tr .box,
tr .hscroll,
tr iframe,
tr img,
tr ol,
tr ul {
  margin-top: 0
}
.Pager a,
.commonForm-wrap *,
.lW,
.lX,
pre code,
pre samp {
  width: 100%
}
.baseColor,
.medal {
  background: #f8fbfa
}
.RichLink b,
.SearchResult cite,
.caption,
.js-bqCite,
.links,
.mspacer,
pre,
td,
th {
  word-break: break-all
}
.links,
.note,
blockquote,
dl,
iframe,
img,
ol,
p,
table,
tr blockquote p,
tr blockquote pre,
ul {
  margin: 1em 3%
}
.Cover-img,
.Search,
.chatL,
.chatR {
  position: relative
}
.chatMember,
.chatTitle,
.h1,
caption,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
thead {
  page-break-after: avoid
}
blockquote,
code,
tbody th,
var {
  background: #bddac8
}
code,
kbd,
var {
  margin: 0 .1em
}
.LinkList a,
.RichLink-sep a,
.SearchResult div div,
.caption,
.commonForm-pair,
.h1,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
img,
li,
tr {
  page-break-inside: avoid
}
.tl td,
.tl th {
  vertical-align: top
}
body,
input,
textarea {
  font-family: Arial,"MS PGothic",sans-serif
}
code,
kbd,
samp,
var {
  font-family: "Courier New",monospace
}
:link img,
:visited img {
  border-color: #f8fbfa;
  border-width: 2px
}
.ribbon :link img,
.ribbon :visited img,
.ribbon a {
  border-color: #010e06
}
*,
blockquote :link img,
blockquote :visited img,
blockquote tbody th,
hr {
  border-color: #bddac8
}
:link:active img,
:visited:active img {
  border-color: #29a119!important
}
:link:hover img,
:visited:hover img {
  position: relative;
  top: 2px
}
.AHead-labels a,
.SocialBtns a,
.Subscribe a,
.btn {
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  padding: .45em 1em;
  height: 2.1em
}
*,
.SearchResult div p *,
.chat p,
.chat p *,
dd p,
dd p *,
li p,
li p *,
tr p,
tr p * {
  line-height: 1.2
}
.AHead-labels a:link:hover,
.AHead-labels a:visited:hover,
.SocialBtns a:link:hover,
.SocialBtns a:visited:hover,
.Subscribe a:link:hover,
.Subscribe a:visited:hover,
.aBodyRoot :link,
.aBodyRoot :visited,
.btn:link:hover,
.btn:visited:hover,
:link:hover,
:visited:hover,
a:active:hover {
  text-decoration: underline
}
.AHead-labels a:link:active,
.AHead-labels a:visited:active,
.SocialBtns a:link:active,
.SocialBtns a:visited:active,
.Subscribe a:link:active,
.Subscribe a:visited:active,
.btn:link:active,
.btn:visited:active {
  border-color: #29a119;
  color: #29a119;
  border-style: dotted;
  outline: 0
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important;
  background: #ecfae8;
  color: #010e06
}
.BlogArchive :link:hover,
.BlogArchive :visited:hover,
.Label a:link:hover,
.Label a:visited:hover,
.aBodyRoot :link:hover,
.aBodyRoot :visited:hover,
.aBodyRoot a,
.aBodyRoot a:active,
:link,
:visited,
a,
a:active,
acronym,
dfn,
ins {
  text-decoration: none
}
.LinkList :link,
.RichLink-sep :link {
  background: 0 0;
  color: #24c
}
.LinkList :visited,
.RichLink-sep :visited {
  background: 0 0;
  color: #021605
}
.LinkList :link:hover,
.LinkList :visited:hover,
.RichLink-sep :link:hover,
.RichLink-sep :visited:hover,
.tl tr code,
.tl tr var,
blockquote tbody th code,
blockquote tbody th var,
thead code,
thead var {
  background: #bddac8;
  color: #021605
}
blockquote .tl tr code,
blockquote .tl tr var,
blockquote code,
blockquote tbody th,
blockquote var,
tbody th code,
tbody th var,
thead td,
thead th {
  background: #717e73;
  color: #f8fbfa
}
.Cover h2,
a:active code,
a:active var {
  background: #29a119
}
.ribbon .LinkList :link,
.ribbon .RichLink-sep :link {
  background: 0 0;
  color: #bbe
}
.ribbon .LinkList :visited,
.ribbon .RichLink-sep :visited {
  background: 0 0;
  color: #ecfae8
}
.ribbon .LinkList :link:hover,
.ribbon .LinkList :visited:hover,
.ribbon .RichLink-sep :link:hover,
.ribbon .RichLink-sep :visited:hover {
  background: #052209;
  color: #ecfae8
}
:active {
  outline: 0
}
dt {
  font-weight: 700;
  margin-top: .7em
}
blockquote,
q {
  quotes: none
}
small {
  font-size: 75%
}
img {
  height: auto
}
cite,
code,
dfn,
em,
kbd,
q,
samp,
strong,
var {
  font-style: normal
}
.ADesc,
.RichLink p,
pre {
  margin: 1em 0
}
del {
  text-decoration: line-through
}
input {
  font-size: 1em;
  line-height: 1;
  height: 2.1em
}
textarea {
  font-size: 1em;
  overflow: auto;
  margin: 0
}
* {
  border-style: solid;
  border-width: 0
}
html {
  font-size: 100%
}
h4,
h5,
h6 {
  font-size: 1em;
  margin: 1.5em 1.5% .8em
}
body,
html {
  margin: 0;
  height: 100%
}
p,
p * {
  line-height: 1.9
}
.medal,
a,
tbody th {
  border-color: #f8fbfa
}
.js-bqLink,
.tl tbody th :link,
.tl tbody th :link:hover,
.tl thead :link,
.tl thead :link:hover,
:link {
  color: #24c
}
.medal,
.tl tbody th,
.tl thead td,
.tl thead th,
:visited,
body,
table {
  color: #021605
}
.ribbon :link:hover,
:link:hover {
  color: #29a119;
  border-color: #29a119
}
:visited:hover {
  color: #419;
  border-color: #419
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
.ribbon a,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #92a094
}
a:active,
a:active * {
  color: #fff!important
}
.ribbon :link {
  color: #bbe
}
.ribbon,
.ribbon .AHead h1,
.ribbon :visited {
  color: #ecfae8
}
.ribbon :visited:hover {
  color: #b3f;
  border-color: #b3f
}
a:active {
  background-color: #29a119!important
}
h1,
h2,
h3,
h5,
h6 {
  font-weight: 400
}
.ABody h3,
h2 {
  font-weight: 700
}
.RichLink b,
th {
  font-weight: 400
}
h4 {
  border-width: 0 0 0 .7em;
  border-color: #021605;
  padding: 0 0 0 .3em
}
h5 {
  border-width: 0 0 0 .5em;
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  padding: 0 0 0 .7em
}
acronym,
dfn {
  border-bottom: 1px dotted;
  cursor: help
}
.AMeta,
.Pager,
.SocialBtns,
.tl thead th,
hr,
tbody th,
th {
  border-width: 0 0 1px
}
.ABody h2,
.Cover h2 {
  border-color: #29a119
}
#lB .lS,
#lE,
#lF,
#lF .lX,
.tl tfoot th,
table {
  border-width: 1px 0 0
}
.Cover-meta,
.Header h1,
.Pager span,
.RichLink b,
.Search,
.Search-txt,
.caption,
.commonForm,
.commonForm-wrap,
.h1,
.js-bqCite,
.jsPica,
.links a,
a iframe,
a img {
  display: block
}
ol,
ul {
  padding-left: 2em
}
li {
  margin-top: .3em
}
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em
}
.hscroll table,
tr ol,
tr ul {
  margin-bottom: .5em
}
.AHead-labels a,
.SocialBtns a,
.Subscribe a,
dd blockquote,
dd dl,
dd p,
dd pre,
dd table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
dd blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dd ol,
dd ul,
li ol,
li ul {
  margin-top: 0;
  margin-bottom: 0
}
input,
textarea {
  border-width: .1em;
  padding: .45em .4em
}
h2 {
  margin: 0;
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
.wn {
  color: #ca088a!important
}
hr {
  height: 0;
  margin: 2em 6%
}
tr hr {
  margin: 1em 9%
}
table {
  width: 94%;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0
}
caption {
  margin: 1.5em 3% .7em
}
th {
  text-align: left;
  padding: .5em
}
td {
  padding: .5em 0;
  border-color: #f8fbfa #f8fbfa #bddac8
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em;
  border-color: #bddac8 #79877c
}
tbody td {
  border-width: 0 .5em 1px
}
tfoot th {
  border-width: 2px 0 0
}
tfoot td {
  border-width: 2px .5em 0
}
tfoot td,
tfoot th {
  border-color: #717e73 #f8fbfa
}
.BlogArchive,
.BlogArchive tbody :hover td,
.aBodyRoot blockquote tbody th :visited,
.aBodyRoot blockquote tbody th :visited:hover,
.aBodyRoot thead :visited,
.aBodyRoot thead :visited:hover,
blockquote tbody th :link,
blockquote tbody th :link:hover,
thead :link,
thead :link:hover {
  color: #f8fbfa
}
blockquote h3,
blockquote table {
  border-color: #021605
}
blockquote thead td,
blockquote thead th {
  background: #021605;
  border-color: #bddac8 #152a19
}
blockquote td {
  border-color: #bddac8 #bddac8 #717e73
}
blockquote tfoot td,
blockquote tfoot th {
  border-color: #021605 #bddac8
}
.Cover-btn,
.commonForm-send,
.r {
  text-align: right
}
.Header,
.c,
.e6C {
  text-align: center
}
blockquote,
p {
  text-justify: inter-word;
  line-break: normal;
  text-align: justify
}
.uc {
  text-transform: uppercase
}
body {
  background: #010e06
}
.ribbon * {
  border-color: #052209
}
em {
  background: #ff6
}
strong {
  background: #6cf
}
#lE .lM,
#lE .lS {
  padding-bottom: 0
}
#lB .lM {
  padding-bottom: 4em
}
#lB .lS {
  background: #ecf1bf;
  padding-bottom: 1em
}
#lE .lS {
  padding-top: 0
}
.lMi,
.lMz .lMh,
.lSi,
.lXi {
  padding: 0 3%
}
#lB .lSi,
.AAuthor,
.Header h1 {
  padding: 0
}
.AHead-labels i,
.RichLink br,
.e6BR,
.e6L,
.e6R {
  display: none
}
.lW,
.lX {
  overflow-x: hidden;
  text-align: left
}
.lM1,
.lM2,
.lS1,
.lS2 {
  width: 48.5%
}
.lMi,
.lSi {
  height: 1%
}
.Cover .img-loaded h2,
.lM1,
.lS1 {
  float: left
}
.lM2,
.lS2 {
  float: right
}
#lB .lS1 {
  width: 45.5%;
  padding: 0 0 0 3%
}
#lB .lS2 {
  width: 45.5%;
  padding: 0 3% 0 0
}
.AHead-labels a:link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #010e06
}
.btn:visited {
  background: #010e06;
  border-color: #ecfae8;
  color: #ecfae8
}
input.btn {
  padding: .3em 1em .6em
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.commonForm-pair {
  height: 1%;
  margin-bottom: 1em
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
:link .medal,
:visited .medal {
  border-color: #021605;
  background: #021605;
  color: #f8fbfa
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #6d6309
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #61686b
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #e6d6a9
}
.mspacer {
  margin: 1em .5em!important
}
#lF .lM .mspacer,
.Cover p {
  margin: .6em .5em
}
.lS .mspacer {
  margin: .6em 0
}
.AAuthor {
  height: 1%;
  margin: 1em 0
}
.AAuthor img {
  top: .4em;
  float: left;
  margin: 0 1em 1em 0
}
.Cover .img-loaded div,
.Search input {
  position: absolute;
  top: 0
}
.ABody {
  margin: 3.5em 0 2em
}
.ABody h1 {
  font-size: 2em;
  margin: 3em 1.5%
}
.ABody h2 {
  font-size: 1.5em;
  border-width: .2em 0 0;
  color: #29a119;
  margin: 2em 1.5% 1em
}
.ABody h3 {
  font-size: 1.25em;
  border-width: .1em 0 0;
  margin: 2.4em 1.5% 1.2em
}
.ABody h1,
.ABody h2,
.ABody h3 {
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%
}
.ADesc p {
  margin: 1em 0 0
}
.AHead {
  color: #717e73;
  margin: 1em 0
}
.AHead h1 {
  font-size: 2em;
  color: #021605;
  padding: 2em 0;
  margin: 0;
  text-align: center
}
.Attribution small,
.RichLink-meta,
.prettyprint code {
  font-size: .875em
}
.AHead-labels {
  font-family: "MS Gothic",sans-serif;
  margin-top: .5em;
  color: #010e06
}
.AHead-labels a:visited {
  background: #010e06;
  border-color: #92a094;
  color: #92a094
}
.AHead-labels a:link:hover {
  border-color: #bbe;
  color: #010e06
}
.Attribution {
  padding: 1em 0;
  text-align: center
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive th {
  word-break: normal
}
.BlogArchive a,
.Label a {
  line-height: 2.8;
  border-width: 0 0 1px
}
.BreadcrumbList {
  color: #717e73;
  padding: 1em 0 0
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  font-size: 93%
}
.Comment p {
  height: 1%;
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover h2,
.aa,
.chat,
.chatMember,
.mona,
blockquote,
kbd {
  border-width: 1px
}
.Cover *,
.RichLink-sep * {
  line-height: 1.4
}
.Cover-img {
  margin: 0 0 .6em
}
.Cover img {
  margin: 0;
  display: block;
  width: 100%
}
.Cover .img-loaded div {
  height: 1%;
  left: 0;
  width: 100%
}
.Cover h2 {
  display: inline;
  height: 2.2em;
  color: #f8fbfa;
  font-size: .825em;
  padding: .6em
}
.Cover h3 {
  font-size: 1.33em;
  padding: .37em;
  margin: 0;
  color: #fff;
  background: #000
}
.Cover-meta,
.SearchResult div div {
  margin: 0 .5em
}
.Cover {
  height: 1%;
  margin: 2em auto
}
.Label div {
  color: #f8fbfa;
  text-justify: inter-ideograph;
  line-break: normal;
  text-align: justify
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #010e06
}
#lF .Label a,
.lS .Label a {
  line-height: 2.4
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.Header *,
.Header h1,
.Header h1 *,
.aa,
.aa *,
.chatMember {
  line-height: 1
}
.LinkList :active:hover {
  text-decoration: underline!important
}
.RichLink a {
  height: 1%;
  padding: 1em .5em 0;
  border-width: 0 0 1px;
  border-color: #052209!important
}
.baseColor .RichLink a {
  border-color: #bddac8!important
}
.RichLink-meta {
  color: #052209;
  margin: 1.143em 0
}
.baseColor .RichLink-meta {
  color: #bddac8
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  margin: 0 .6em 1em 0
}
.RichLink b {
  padding: 0 0 .571em;
  font-size: 1em
}
.lS .RichLink a {
  padding: .7em .5em 0
}
.lS .RichLink img {
  float: left;
  margin: 0 .5em .6em 0
}
.Search {
  height: 1.9em;
  padding: 0 3em 0 0;
  width: 100%
}
.Search-txt {
  width: 100%;
  left: .05em
}
.Search input:active {
  z-index: 1
}
.Search .btn {
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
  width: 3em;
  right: .05em;
  overflow: hidden
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621
}
.SearchResult div p {
  margin: .2em 0 0;
  color: #545454;
  line-height: 1.2
}
.SearchResult div span {
  color: grey
}
.SearchResult-multi {
  margin: 2em 0
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em
}
.Header h1,
.h1 {
  font-size: 1.5em;
  margin: 0 0 .5em
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #010e06
}
.Subscribe .atom:visited {
  background: #010e06;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #010e06
}
.Subscribe .rss:visited {
  background: #010e06;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #010e06
}
.Subscribe .fl:visited {
  background: #010e06;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #010e06
}
.Subscribe .stm:visited {
  background: #010e06;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right;
  color: #f8fbfa
}
.aa {
  margin: 1em 0;
  font-family: monospace;
  background: #0a0809;
  border-color: #0a0809
}
.js-bqCite,
.js-bqLink {
  margin: 0 1.5%;
  font-size: .875em
}
.aa,
.note .aa,
.note .mona,
.note .prettyprint,
dl .aa,
dl .mona,
dl .prettyprint,
li .aa,
li .mona,
li .prettyprint,
tr .aa,
tr .mona,
tr .prettyprint {
  padding: 1em
}
.aa,
.mona,
.note .aa,
.note .mona,
.note .prettyprint,
.prettyprint {
  padding: 1em 3%
}
.aa,
.aa code,
.aa var {
  color: #00ac06
}
.aBodyRoot :visited,
.tl tbody th :visited,
.tl tbody th :visited:hover,
.tl thead :visited,
.tl thead :visited:hover,
blockquote .tl tbody th :visited {
  color: #717
}
.aBodyRoot :visited:hover {
  color: #419
}
blockquote {
  padding: 1em 1px
}
.js-bqCite {
  text-align: right;
  color: #717e73
}
.box {
  height: 1%;
  margin: 1em 0 0
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 3% 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box .caption,
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 3%
}
.chat {
  color: #fff;
  background: #7493c2;
  border-color: #f8fbfa;
  padding-bottom: 1em;
  margin: 1em 0;
  text-align: center
}
.chatTitle {
  background: #273248;
  border-color: #273248;
  border-width: 0 0 1px;
  padding: 1em 2%
}
.chat h2,
.chat h3,
.chat h4,
.chat h5,
.chat h6,
.chat p {
  page-break-inside: avoid;
  page-break-after: avoid;
  font-size: 1em;
  color: #fff;
  background: #5d769e;
  border-color: #5d769e;
  border-width: 1px;
  margin: 1em 2%;
  padding: .4em 2%
}
.chatL,
.chatR {
  margin: 1em 0;
  text-align: left
}
.chatL {
  padding: 0 20% 0 4em
}
.chatR {
  padding: 0 4em 0 20%
}
.chatL p,
.chatR p {
  margin: .4em 0;
  display: block;
  text-align: left;
  color: #111
}
.chatL .chatMember,
.chatL p {
  background: #fff;
  border-color: #fff
}
.chatR .chatMember,
.chatR p {
  background: #85e445;
  border-color: #85e445
}
.tl td,
.tl th,
pre code,
pre var {
  background: 0 0!important
}
.chatMember {
  position: absolute;
  top: -.414em;
  overflow: hidden;
  text-align: center!important;
  width: 2em;
  height: 1em;
  padding: .914em .414em;
  color: #111
}
.mona,
.mona * {
  line-height: 1.125
}
.chatL .chatMember {
  left: .4em
}
.chatR .chatMember {
  right: .4em
}
.hscroll {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  margin: 1em 0
}
.hscroll pre {
  margin: 0 0 .5em;
  white-space: pre;
  overflow: auto
}
.hscroll pre code,
.hscroll pre samp {
  width: auto
}
.hscroll table {
  white-space: nowrap
}
kbd {
  border-color: #021605;
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em
}
code,
var {
  padding: .1em .4em
}
pre code,
pre var {
  padding: 0;
  margin: 0
}
.links a {
  padding-left: 1em;
  height: 1em
}
.mona {
  font-family: Mona,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","MS PGothic","MS Pｺﾞｼｯｸ","ＭＳＰゴシック","MSPゴシック",sans-serif;
  background: #bcd;
  border-color: #bcd;
  color: #00193d
}
.tl,
.tl th {
  border-width: 0
}
.note {
  padding-left: 25%
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 3%
}
.caption {
  text-align: center;
  font-size: .875em
}
.caption img {
  margin: 0 0 .5em!important
}
.caption * {
  float: none!important
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  border-color: #bddac8;
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  text-align: left
}
.tl td {
  padding: .5em .8em;
  border-width: 0 0 0 .3em;
  border-color: #bddac8;
  border-style: solid
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.AMeta {
  padding: .5em 0
}
.AMeta div {
  margin: .5em 0;
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager {
  position: relative;
  color: #f8fbfa;
  height: 4em
}
.Pager-next {
  left: 0
}
.Pager-top {
  left: 34%;
  text-align: center
}
.Pager-prev {
  right: 0;
  text-align: right
}
.Pager span {
  position: absolute;
  top: 1em;
  width: 32%
}
.SocialBtns {
  padding: 1em 0;
  color: #f8fbfa;
  text-align: center
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #f8fbfa
}
.SocialBtns .tw:visited {
  background: #f8fbfa;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #f8fbfa
}
.SocialBtns .hb:visited {
  background: #f8fbfa;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #f8fbfa
}
.SocialBtns .pk:visited {
  background: #f8fbfa;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #f8fbfa
}
.SocialBtns .ln:visited {
  background: #f8fbfa;
  border-color: #00c300;
  color: #00c300
}
.prettyprint {
  background: #333;
  color: #fff;
  border-width: 1px;
  border-color: #333
}
.jsPicaLarge img {
  width: 100%;
  height: auto;
  margin: 0 0 1em
}
.jsCapLarge {
  margin: 0 0 1em
}
.box .jsCapLarge {
  float: none
}
.jsCapLarge,
.jsPicaLarge img {
  clear: both
}
#lE,
#lF {
  border-top: .3em solid #29a119
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #f8fbfa
}
.baseColor .btn:visited {
  background: #f8fbfa;
  border-color: #021605;
  color: #021605
}
@media print {
  .chat,
  blockquote code,
  blockquote var,
  table,
  tbody th,
  tbody th code,
  tbody th var,
  thead code,
  thead td,
  thead th,
  thead var {
    border-color: #666
  }
  .LinkList :link,
  .RichLink-sep :link,
  .ribbon :link,
  :link,
  blockquote tbody th :link,
  blockquote thead th :link,
  thead :link {
    color: #006
  }
  .AHead-labels,
  .LinkList :visited,
  .RichLink-sep :visited,
  .aa code,
  .aa var,
  .tl tr code,
  .tl tr var,
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote tbody th code,
  blockquote tbody th var,
  blockquote var,
  tbody th code,
  tbody th var,
  thead code,
  thead var {
    color: #000
  }
  p,
  p * {
    line-height: 1.5
  }
  .ADesc,
  .ribbon a,
  a {
    color: #666
  }
  .ribbon :visited,
  :visited,
  blockquote tbody th :visited,
  blockquote thead th :visited,
  thead :visited {
    color: #606
  }
  table {
    margin: 1em 0;
    width: 100%
  }
  th {
    font-weight: 700
  }
  thead td,
  thead th {
    background: #ccc;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  tbody th {
    background: #ccc
  }
  td {
    border-color: #fff #fff #ccc
  }
  tfoot td,
  tfoot th {
    border-color: #666 #fff
  }
  blockquote table,
  kbd {
    border-color: #000
  }
  blockquote thead td,
  blockquote thead th {
    background: #ccc;
    border-color: #000;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  blockquote tbody th {
    background: #ccc;
    border-color: #000;
    color: #000
  }
  blockquote td {
    border-color: #fff #fff #666
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #000 #fff
  }
  .Cover h2,
  .Cover h3,
  .aa,
  .baseColor,
  .chat,
  .mona,
  .ribbon,
  body {
    background: #fff;
    color: #000
  }
  .AHead,
  .BreadcrumbList {
    color: #666!important
  }
  *,
  .ribbon * {
    border-color: #ccc
  }
  #lE .lW {
    padding-bottom: 0
  }
  #lB .lM {
    padding-bottom: 2em
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Cover-btn,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .noprint {
    display: none
  }
  .ABody,
  .lM,
  .lX {
    margin: 0
  }
  .lMi,
  .lMz .lMh,
  .lXi {
    padding: 0
  }
  .AHead h1 {
    color: #000!important
  }
  .AHead-labels a {
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0
  }
  .Cover .img-loaded div {
    position: static
  }
  .Cover h2 {
    border-width: 1px;
    border-color: #000;
    margin-top: 1em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding: .5em 0
  }
  .Header {
    text-align: left
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    text-align: center;
    margin: 0 0 .5em
  }
  blockquote {
    background: 0 0;
    margin: 1em 0
  }
  .chatTitle,
  .prettyprint {
    background: #fff
  }
  .chat .chatMember,
  .chat h2,
  .chat h3,
  .chat h4,
  .chat h5,
  .chat h6,
  .chat p,
  .chatL p,
  .chatR p {
    color: #000;
    background: #fff;
    border-color: #666
  }
  .hscroll {
    overflow-x: visible;
    overflow-y: visible
  }
  .hscroll table {
    width: 100%;
    margin: 0;
    white-space: normal
  }
  .hscroll pre {
    margin: 0;
    word-break: break-all
  }
  code,
  var {
    background: 0 0;
    border-width: 1px;
    border-color: #ccc
  }
  #lF,
  pre code {
    border: 0
  }
  .tl tbody td:after,
  blockquote .tl tbody td:after {
    border-color: #fff
  }
}