@charset "UTF-8";
.mspacer,
pre,
td,
th {
  word-break: break-all
}
blockquote .tl td,
blockquote .tl tfoot td,
blockquote .tl tfoot th,
blockquote .tl thead td,
blockquote .tl thead th,
blockquote blockquote,
blockquote hr,
h5,
h6,
table {
  border-color: #777
}
.BlogArchive :link:hover,
.BlogArchive :visited:hover,
.Label a:link:hover,
.Label a:visited:hover,
.aBodyRoot :link:hover,
.aBodyRoot :visited:hover,
.aBodyRoot a,
.aBodyRoot a:active,
:link,
:visited,
a,
a:active,
acronym,
dfn,
ins {
  text-decoration: none
}
dd,
li {
  margin-bottom: .3em
}
.h1,
caption,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
thead {
  page-break-after: avoid
}
.AHead,
.baseColor :link .RichLink-meta,
.baseColor :visited .RichLink-meta,
a,
h6 {
  color: #777
}
.note .box,
.note .hscroll,
.tl td *,
dl .box,
dl .hscroll,
dl iframe,
dl img,
li .box,
li .hscroll,
li iframe,
li img,
tr .box,
tr .hscroll,
tr iframe,
tr img,
tr ol,
tr ul {
  margin-top: 0
}
.AMeta,
.Pager span,
.caption,
.h1,
.js-bqCite,
.js-bqLink,
.links a,
.prettyprint,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
li,
table,
textarea {
  line-height: 1.2
}
pre,
td,
th {
  word-wrap: break-word
}
.e6L,
.e6R {
  width: 50%
}
.e6BR,
.e6L,
.e6R {
  height: 1px
}
#lH,
.e6C .lW {
  width: 100%
}
.Cover-meta,
.Header h1,
.Pager span,
.RichLink b,
.Search,
.Search-txt,
.caption,
.commonForm,
.commonForm label,
.commonForm-wrap,
.e6BR,
.h1,
.js-bqCite,
.jsPicaLarge,
.links a,
a iframe,
a img {
  display: block
}
.baseColor,
.medal {
  background: #f8fbf8
}
#lB .lS,
#lB .lS .LinkList :link,
#lB .lS .LinkList :visited,
#lB .lS .RichLink-sep :link,
#lB .lS .RichLink-sep :visited {
  background: #f1f4f1
}
.Search .btn,
.e6C,
.e6C .lW {
  overflow: hidden
}
.links,
.note,
blockquote,
dl,
iframe,
img,
ol,
p,
table,
tr blockquote p,
tr blockquote pre,
ul {
  margin: 1em 3%
}
#lB .lS .LinkList :link:hover,
#lB .lS .LinkList :visited:hover,
#lB .lS .RichLink-sep :link:hover,
#lB .lS .RichLink-sep :visited:hover,
blockquote,
code,
tbody th,
var {
  background: #ddd
}
code,
kbd,
var {
  margin: 0 .1em
}
.SearchResult div div,
.caption,
.commonForm-pair,
.h1,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
iframe,
img,
li,
tr {
  page-break-inside: avoid
}
.tl td,
.tl th {
  vertical-align: top
}
.Cover-img,
.Pager,
.Search {
  position: relative
}
* {
  border-style: solid;
  border-width: 0
}
html {
  font-size: 100%
}
body,
html {
  margin: 0;
  height: 100%
}
body {
  line-height: 1.9;
  background: #1a1a1a;
  color: #111
}
body,
input,
textarea {
  font-family: Arial,"MS PGothic",sans-serif
}
code,
kbd,
samp,
var {
  font-family: "Courier New",monospace
}
:active {
  outline: 0
}
.ABody h3,
dt,
em,
h2,
strong {
  font-weight: 700
}
.RichLink b,
h1,
h2,
h3,
h5,
h6,
th {
  font-weight: 400
}
blockquote,
q {
  quotes: none
}
small {
  font-size: 75%
}
h4,
h5,
h6 {
  font-size: 1em;
  margin: 1.5em 1.5% .8em
}
cite,
code,
dfn,
em,
kbd,
q,
samp,
strong,
var {
  font-style: normal
}
.RichLink p,
pre {
  margin: 1em 0
}
del {
  text-decoration: line-through
}
h4 {
  border-width: 0 0 0 .7em;
  border-color: #111;
  padding: 0 0 0 .3em
}
h5 {
  border-width: 0 0 0 .5em;
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  padding: 0 0 0 .7em
}
acronym,
dfn {
  border-bottom: 1px dotted;
  cursor: help
}
.AMeta,
.Pager,
.SocialBtns,
.tl thead th,
hr,
tbody th,
th {
  border-width: 0 0 1px
}
img {
  height: auto
}
ol,
ul {
  padding-left: 2em
}
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em
}
li {
  margin-top: .3em
}
dt {
  margin-top: .7em
}
blockquote,
p {
  text-justify: inter-word;
  line-break: normal;
  text-align: justify
}
.AHead-labels a:link:hover,
.AHead-labels a:visited:hover,
.SocialBtns a:link:hover,
.SocialBtns a:visited:hover,
.Subscribe a:link:hover,
.Subscribe a:visited:hover,
.aBodyRoot :link,
.aBodyRoot :visited,
.btn:link:hover,
.btn:visited:hover,
:link:hover,
:visited:hover,
a:active:hover {
  text-decoration: underline
}
.SocialBtns .hb:link:active,
.SocialBtns .hb:visited:active,
.SocialBtns .ln:link:active,
.SocialBtns .ln:visited:active,
.SocialBtns .pk:link:active,
.SocialBtns .pk:visited:active,
.SocialBtns .tw:link:active,
.SocialBtns .tw:visited:active,
.baseColor .btn:link:active,
.baseColor .btn:visited:active,
.medal,
a,
tbody th {
  border-color: #f8fbf8
}
*,
blockquote :link img,
blockquote :visited img,
hr {
  border-color: #ddd
}
.js-bqLink,
.tl tbody th :link,
.tl tbody th :link:hover,
.tl thead :link,
.tl thead :link:hover,
:link {
  color: #24c
}
.medal,
.tl tbody th,
.tl thead td,
.tl thead th,
:visited {
  color: #111
}
.ribbon :link:hover,
:link:hover {
  color: #3079ed;
  border-color: #3079ed
}
:visited:hover {
  color: #419;
  border-color: #419
}
.ribbon a {
  color: #bbb;
  border-color: #1a1a1a
}
.ribbon :link {
  color: #bbe
}
.ribbon,
.ribbon .AHead h1,
.ribbon :visited,
code .pln,
code .pun {
  color: #fff
}
a:active,
a:active * {
  color: #fff!important
}
.ribbon :visited:hover {
  color: #b3f;
  border-color: #b3f
}
a:active {
  background-color: #3079ed!important
}
h2 {
  margin: 0;
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
.wn {
  color: red!important
}
input,
textarea {
  border-width: .1em;
  padding: .45em .4em
}
input {
  font-size: 1em;
  line-height: 1;
  height: 1em
}
textarea {
  font-size: 1em;
  overflow: auto;
  margin: 0
}
hr {
  height: 0;
  margin: 2em 6%
}
#lB .lS,
#lE,
#lF,
#lF .lX,
.tl tfoot th,
table {
  border-width: 1px 0 0
}
tr hr {
  margin: 1em 9%
}
:link img,
:visited img {
  border-color: #f8fbf8;
  border-width: 2px
}
.ABody h2,
.Cover h2 {
  border-color: #3079ed
}
.AHead-labels a:link:active,
.AHead-labels a:visited:active,
.Subscribe .atom:link:active,
.Subscribe .atom:visited:active,
.Subscribe .fl:link:active,
.Subscribe .fl:visited:active,
.Subscribe .rss:link:active,
.Subscribe .rss:visited:active,
.Subscribe .stm:link:active,
.Subscribe .stm:visited:active,
.btn:link:active,
.btn:visited:active,
.ribbon :link img,
.ribbon :visited img {
  border-color: #1a1a1a
}
:link:active img,
:visited:active img {
  border-color: #3079ed!important
}
:link:hover img,
:visited:hover img {
  position: relative;
  top: 2px
}
.hscroll table,
tr ol,
tr ul {
  margin-bottom: .5em
}
.AHead-labels a,
.SocialBtns a,
.Subscribe a,
dd blockquote,
dd dl,
dd p,
dd pre,
dd table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
dd ol,
dd ul,
li ol,
li ul {
  margin-top: 0;
  margin-bottom: 0
}
dd blockquote p,
li blockquote p {
  margin: .5em 0
}
table {
  width: 94%;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0
}
th {
  text-align: left;
  padding: .5em
}
td {
  padding: .5em 0;
  border-color: #f8fbf8 #f8fbf8 #ddd
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em;
  background: #777;
  border-color: #ddd #818181;
  color: #f8fbf8
}
tbody td {
  border-width: 0 .5em 1px
}
tfoot th {
  border-width: 2px 0 0
}
tfoot td {
  border-width: 2px .5em 0
}
tfoot td,
tfoot th {
  border-color: #777 #f8fbf8
}
.BlogArchive,
.BlogArchive tbody :hover td,
.aBodyRoot blockquote tbody th :visited,
.aBodyRoot blockquote tbody th :visited:hover,
.aBodyRoot thead :visited,
.aBodyRoot thead :visited:hover,
blockquote tbody th :link,
blockquote tbody th :link:hover,
thead :link,
thead :link:hover {
  color: #f8fbf8
}
blockquote h3,
blockquote table {
  border-color: #111
}
blockquote thead td,
blockquote thead th {
  background: #111;
  border-color: #ddd #252525
}
blockquote tbody th {
  background: #777;
  border-color: #ddd;
  color: #f8fbf8
}
blockquote td {
  border-color: #ddd #ddd #777
}
blockquote tfoot td,
blockquote tfoot th {
  border-color: #111 #ddd
}
.Cover-btn,
.commonForm-send,
.r {
  text-align: right
}
.c {
  text-align: center
}
.uc {
  text-transform: uppercase
}
.ribbon * {
  border-color: #2a2a2a
}
.lMi,
.lMz .lMh,
.lSi,
.lXi {
  padding: 0 3%
}
#lB .lSi {
  padding: 0
}
.e6L {
  float: left;
  margin-right: -25em
}
.e6R {
  float: right;
  margin-left: -25em
}
.e6C,
.lM1,
.lS1 {
  float: left
}
.lM1,
.lM2,
.lS1,
.lS2 {
  width: 48.5%
}
.e6C {
  margin: 0!important
}
.e6BR {
  clear: both;
  line-height: 1px;
  margin-bottom: -1px
}
.BreadcrumbList a,
.LinkList *,
.Pager a,
.RichLink-sep *,
.TxtNavi a,
.lMi,
.lSi {
  zoom: 1
}
.lM2,
.lS2 {
  float: right
}
#lB .lS1 {
  width: 45.5%;
  padding: 0 0 0 3%
}
#lB .lS2 {
  width: 45.5%;
  padding: 0 3% 0 0
}
#lE .lW {
  padding-bottom: 2.5em
}
#lE .lM,
#lE .lS,
#lH .lMi {
  padding-bottom: 0
}
#lB .lM {
  padding-bottom: 4em
}
#lB .lS,
#lH .lMi,
#lH .lSi {
  padding-bottom: 1em
}
#lE .lS {
  padding-top: 0
}
caption {
  margin: 1.5em 3% .7em
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em
}
.AHead-labels a,
.SocialBtns a,
.Subscribe a,
.btn {
  border-width: 2px;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  padding: .45em 1em;
  zoom: 1
}
.AHead-labels a:link:active,
.AHead-labels a:visited:active,
.SocialBtns a:link:active,
.SocialBtns a:visited:active,
.Subscribe a:link:active,
.Subscribe a:visited:active,
.btn:link:active,
.btn:visited:active {
  color: #3079ed;
  border-style: dotted;
  outline: 0
}
.AHead-labels a:link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #1a1a1a
}
.SocialBtns .fb:link:active,
.SocialBtns .fb:visited:active,
.SocialBtns .pt:link:active,
.SocialBtns .pt:visited:active,
.btn:visited {
  border-color: #fff
}
.btn:visited {
  background: #1a1a1a;
  color: #fff
}
input.btn {
  height: 2.1em;
  padding: .25em 1em .65em
}
.commonForm-pair {
  zoom: 1;
  margin-bottom: 1em
}
.commonForm label {
  float: left;
  width: 7em;
  padding: .45em 0 0
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.commonForm-wrap {
  margin: 0 1em 0 8em
}
.commonForm-wrap * {
  width: 100%;
  float: left
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
:link .medal,
:visited .medal {
  border-color: #111;
  background: #111;
  color: #f8fbf8
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #6d6309
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #61686b
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #e6d6a9
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #bbb
}
.mspacer {
  margin: 1em .5em!important
}
#lF .lM .mspacer,
.Cover p {
  margin: .6em .5em
}
.lS .mspacer {
  margin: .6em 0
}
.AAuthor {
  zoom: 1;
  margin: 1em 0 0;
  padding: 0
}
.AAuthor img {
  top: .4em;
  float: left;
  margin: 0 1em 1em 0
}
.ABody {
  margin: 3.5em 0 2em
}
.ABody h1 {
  font-size: 2em;
  margin: 3em 1.5%
}
.ABody h2 {
  font-size: 1.5em;
  border-width: .2em 0 0;
  color: #3079ed;
  margin: 2em 1.5% 1em
}
.ABody h3 {
  font-size: 1.25em;
  border-width: .1em 0 0;
  margin: 2.4em 1.5% 1.2em
}
.ABody h1,
.ABody h2,
.ABody h3 {
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%
}
.ADesc {
  margin: 0 0 2.5em
}
.ADesc p {
  margin: 1em 0 0
}
.AHead h1 {
  font-size: 2em;
  color: #111;
  padding: 0;
  margin: 2em 0;
  text-align: center
}
.Attribution small,
.RichLink-meta,
.prettyprint code {
  font-size: .875em
}
.AHead-labels {
  font-family: "MS Gothic",sans-serif;
  margin-top: .5em;
  color: #1a1a1a
}
.AHead-labels i,
.RichLink br {
  display: none
}
.AHead-labels a:visited {
  background: #1a1a1a;
  border-color: #bbb;
  color: #bbb
}
.AHead-labels a:link:hover {
  border-color: #bbe;
  color: #1a1a1a
}
.Attribution {
  padding: 1em 0;
  text-align: center
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive th {
  word-break: normal;
  word-wrap: normal
}
.RichLink b,
.SearchResult cite,
.caption,
.js-bqCite,
.links {
  word-break: break-all;
  word-wrap: break-word
}
.BlogArchive a,
.Label a {
  line-height: 2.8;
  border-width: 0 0 1px
}
.BreadcrumbList {
  color: #777;
  line-height: 1.2;
  padding: 1em 0 0
}
.Cover,
.RichLink-sep {
  line-height: 1.4
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  color: #777;
  font-size: 93%
}
.Comment p {
  zoom: 1;
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover h2,
.aa,
blockquote,
kbd {
  border-width: 1px
}
.Cover-img {
  height: 100%;
  margin: 0 0 .6em
}
.Cover-meta,
.SearchResult div div {
  margin: 0 .5em
}
.Cover img {
  margin: 0;
  display: block;
  width: 100%
}
.Cover .img-loaded div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}
.Cover h2 {
  display: inline;
  zoom: 1;
  background: #3079ed;
  color: #f8fbf8;
  font-size: .825em;
  padding: .6em
}
.Cover h3 {
  font-size: 1.33em;
  padding: .37em;
  margin: 0;
  color: #fff;
  background: #000
}
.Cover-meta {
  color: #777
}
.Cover {
  zoom: 1;
  margin: 2em auto
}
.Label div {
  color: #f8fbf8;
  text-justify: inter-ideograph;
  line-break: normal;
  text-align: justify
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #1a1a1a
}
#lF .Label a,
.lS .Label a {
  line-height: 2.4
}
.LinkList a,
.RichLink-sep a {
  page-break-inside: avoid;
  display: block;
  cursor: pointer;
  text-decoration: none!important;
  background: #111;
  color: #f8fbf8
}
.LinkList :link,
.RichLink-sep :link {
  background: #f8fbf8;
  color: #24c
}
.LinkList :visited,
.RichLink-sep :visited {
  background: #f8fbf8;
  color: #111
}
.LinkList :link:hover,
.LinkList :visited:hover,
.RichLink-sep :link:hover,
.RichLink-sep :visited:hover,
.tl tr code,
.tl tr var,
blockquote tbody th code,
blockquote tbody th var,
thead code,
thead var {
  background: #ddd;
  color: #111
}
.tl td,
.tl th,
pre code,
pre var {
  background: 0 0!important
}
.ribbon .LinkList a,
.ribbon .RichLink-sep a {
  background: #fff;
  color: #1a1a1a
}
.ribbon .LinkList :link,
.ribbon .RichLink-sep :link {
  background: #1a1a1a;
  color: #bbe
}
.ribbon .LinkList :visited,
.ribbon .RichLink-sep :visited {
  background: #1a1a1a;
  color: #fff
}
.ribbon .LinkList :link:hover,
.ribbon .LinkList :visited:hover,
.ribbon .RichLink-sep :link:hover,
.ribbon .RichLink-sep :visited:hover {
  background: #2a2a2a;
  color: #fff
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList a:active:hover {
  text-decoration: underline!important
}
.RichLink a {
  zoom: 1;
  padding: 1em .5em;
  border-width: 0 0 1px;
  border-color: #2a2a2a!important
}
.baseColor .RichLink a {
  border-color: #ddd!important
}
.RichLink-meta {
  color: #2a2a2a;
  margin: 1.143em 0
}
.baseColor .RichLink-meta {
  color: #ddd
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  margin: 0 .6em 1em 0
}
.RichLink b {
  padding: 0 0 .571em;
  font-size: 1em
}
.lS .RichLink a {
  padding: .7em .5em 0
}
.lS .RichLink img {
  float: left;
  margin: 0 .5em .6em 0
}
.Search {
  height: 1.9em;
  margin: 0 3em 0 1.1em
}
.Search input {
  position: absolute;
  top: 0
}
.Search-txt {
  width: 100%;
  left: -1.1em
}
.Search input:active {
  z-index: 1
}
.Search .btn {
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
  width: 3.2em;
  right: -3.05em;
  text-overflow: ellipsis
}
.SearchResult {
  margin-bottom: 2em;
  line-height: 1.2
}
.SearchResult p {
  margin: .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621
}
.SearchResult div p {
  margin: .2em 0 0;
  color: #545454
}
.SearchResult div span {
  color: grey
}
.SearchResult-multi {
  margin: 2em 0
}
.Header {
  line-height: 1;
  text-align: center
}
.Header h1,
.h1 {
  font-size: 1.5em;
  margin: 0 0 .5em
}
.Header h1 {
  padding: 0;
  line-height: 1
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #1a1a1a
}
.Subscribe .atom:visited {
  background: #1a1a1a;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #1a1a1a
}
.Subscribe .rss:visited {
  background: #1a1a1a;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #1a1a1a
}
.Subscribe .fl:visited {
  background: #1a1a1a;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #1a1a1a
}
.Subscribe .stm:visited {
  background: #1a1a1a;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  line-height: 1.2;
  text-align: right;
  color: #f8fbf8
}
.aa {
  margin: 1em 0;
  font-family: monospace;
  background: #0a0809;
  border-color: #0a0809;
  line-height: 1
}
.js-bqCite,
.js-bqLink {
  margin: 0 1.5%;
  font-size: .875em
}
.tl,
.tl th {
  border-width: 0
}
.note .aa,
.note .prettyprint,
dl .aa,
dl .prettyprint,
li .aa,
li .prettyprint,
tr .aa,
tr .prettyprint {
  padding: 1em
}
.aa,
.note .aa,
.note .prettyprint,
.prettyprint {
  padding: 1em 3%
}
.aa,
.aa code,
.aa var {
  color: #00ac06
}
.aBodyRoot :visited,
.tl tbody th :visited,
.tl tbody th :visited:hover,
.tl thead :visited,
.tl thead :visited:hover,
blockquote .tl tbody th :visited {
  color: #717
}
.aBodyRoot :visited:hover {
  color: #419
}
blockquote {
  padding: 1em 1px
}
.js-bqCite {
  text-align: right;
  color: #777
}
.box {
  zoom: 1;
  margin: 1em 0 0
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 3% 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box .caption,
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 3%
}
.hscroll {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 1em 0
}
.hscroll pre {
  margin: 0 0 .5em;
  white-space: pre;
  overflow: auto
}
.hscroll table {
  white-space: nowrap
}
kbd {
  border-color: #111;
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em
}
code,
var {
  padding: .1em .4em
}
a:active code,
a:active var {
  background: #3079ed
}
pre code,
pre var {
  padding: 0;
  margin: 0
}
blockquote .tl tr code,
blockquote .tl tr var,
blockquote code,
blockquote var,
tbody th code,
tbody th var {
  background: #777;
  color: #f8fbf8
}
.links a {
  padding-left: 1em;
  zoom: 1
}
.note {
  padding-left: 25%
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 3%
}
.caption {
  text-align: center;
  font-size: .875em
}
.caption img {
  margin: 0 0 .5em!important
}
.caption * {
  float: none!important
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  border-color: #ddd;
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  text-align: left
}
.tl td {
  border-width: 0 0 0 .3em;
  border-color: #ddd;
  border-style: solid;
  padding: .5em .8em
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.AMeta {
  padding: .5em 0
}
.AMeta div {
  margin: .5em 0;
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager {
  color: #f8fbf8;
  height: 4em
}
.Pager-next {
  left: 0
}
.Pager-top {
  left: 34%;
  text-align: center
}
.Pager-prev {
  right: 0;
  text-align: right
}
.Pager span {
  position: absolute;
  top: 1em;
  width: 32%
}
.SocialBtns {
  padding: 1em 0;
  color: #f8fbf8;
  text-align: center
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #f8fbf8
}
.SocialBtns .tw:visited {
  background: #f8fbf8;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #f8fbf8
}
.SocialBtns .hb:visited {
  background: #f8fbf8;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #f8fbf8
}
.SocialBtns .pk:visited {
  background: #f8fbf8;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #f8fbf8
}
.SocialBtns .ln:visited {
  background: #f8fbf8;
  border-color: #00c300;
  color: #00c300
}
.img-disabled img {
  display: none!important
}
.prettyprint {
  background: #333;
  color: #fff;
  border-width: 1px;
  border-color: #333
}
code .atv,
code .str {
  color: #65b042
}
code .kwd {
  color: #e28964
}
code .com {
  color: #aeaeae;
  font-style: italic
}
code .tag,
code .typ {
  color: #89bdff
}
code .dec,
code .lit {
  color: #3387cc
}
code .atn {
  color: #bdb76b
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.jsCapLarge,
.jsPicaLarge img {
  margin: 0 auto 1em
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none
}
.jsPicaLarge img {
  width: 100%;
  height: auto;
  border-width: 0
}
.box .jsCapLarge {
  float: none
}
.jsPicaLarge {
  zoom: 1;
  clear: both;
  padding: 2px
}
.jsPicaLarge:hover {
  top: 2px
}
.jsPicaLarge:hover img {
  top: 0
}
em {
  background: #ff6
}
strong {
  background: #6cf
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #f8fbf8
}
.baseColor .btn:visited {
  background: #f8fbf8;
  border-color: #111;
  color: #111
}
@media print {
  blockquote code,
  blockquote var,
  table,
  tbody th,
  tbody th code,
  tbody th var,
  thead code,
  thead td,
  thead th,
  thead var {
    border-color: #666
  }
  code .typ,
  th {
    font-weight: 700
  }
  body {
    line-height: 1.5
  }
  .ADesc,
  .ribbon a,
  a {
    color: #666
  }
  .ribbon :link,
  :link,
  blockquote tbody th :link,
  blockquote thead th :link,
  thead :link {
    color: #006
  }
  .ribbon :visited,
  :visited,
  blockquote tbody th :visited,
  blockquote thead th :visited,
  thead :visited {
    color: #606
  }
  table {
    margin: 1em 0;
    width: 100%
  }
  thead td,
  thead th {
    background: #ccc;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  tbody th {
    background: #ccc
  }
  td {
    border-color: #fff #fff #ccc
  }
  tfoot td,
  tfoot th {
    border-color: #666 #fff
  }
  blockquote table,
  kbd {
    border-color: #000
  }
  blockquote thead td,
  blockquote thead th {
    background: #ccc;
    border-color: #000;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  blockquote tbody th {
    background: #ccc;
    border-color: #000;
    color: #000
  }
  blockquote td {
    border-color: #fff #fff #666
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #000 #fff
  }
  .Cover h2,
  .Cover h3,
  .aa,
  .baseColor,
  .ribbon,
  body {
    background: #fff;
    color: #000
  }
  *,
  .ribbon * {
    border-color: #ccc
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Cover-btn,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .noprint {
    display: none
  }
  .ABody,
  .lM,
  .lX {
    margin: 0
  }
  .lMi,
  .lMz .lMh,
  .lXi {
    padding: 0
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  #lE .lW {
    padding-bottom: 0
  }
  #lB .lM {
    padding-bottom: 2em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding: .5em 0
  }
  .AHead {
    color: #666!important
  }
  .AHead h1 {
    color: #000!important
  }
  .AHead-labels,
  .aa code,
  .aa var,
  .tl tr code,
  .tl tr var,
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote tbody th code,
  blockquote tbody th var,
  blockquote var,
  code .pln,
  tbody th code,
  tbody th var,
  thead code,
  thead var {
    color: #000
  }
  .AHead-labels a {
    line-height: 1.2;
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0;
    border-bottom: .18em solid #000;
    color: #666!important
  }
  .Cover .img-loaded div {
    position: static
  }
  .Cover h2 {
    border-width: 1px;
    border-color: #000;
    margin-top: 1em
  }
  .Header {
    text-align: left
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    text-align: center;
    margin: 0 0 .5em
  }
  blockquote {
    background: 0 0;
    margin: 1em 0
  }
  .hscroll {
    overflow-x: visible;
    overflow-y: visible
  }
  .hscroll table {
    width: 100%;
    margin: 0;
    white-space: normal
  }
  .hscroll pre {
    margin: 0;
    word-break: break-all;
    word-wrap: break-word
  }
  code,
  var {
    background: 0 0;
    border-width: 1px;
    border-color: #ccc
  }
  pre code {
    border: 0
  }
  .tl tbody td:after,
  blockquote .tl tbody td:after {
    border-color: #fff
  }
  .prettyprint {
    background: #fff
  }
  code .atv,
  code .str {
    color: #060
  }
  code .kwd,
  code .tag {
    color: #006;
    font-weight: 700
  }
  code .com {
    color: #600;
    font-style: italic
  }
  code .atn,
  code .typ {
    color: #404
  }
  code .lit {
    color: #044
  }
  code .pun {
    color: #440
  }
  code .dec {
    color: #003
  }
}