@charset "UTF-8";
body,
dd p,
li p,
tr p {
  line-height: 1.2
}
.SocialBtns .hb:active,
.SocialBtns .ln:active,
.SocialBtns .pk:active,
.SocialBtns .tw:active,
.baseColor .btn:active,
a,
a img {
  border-color: #fdeeb7
}
blockquote .tl td,
blockquote .tl tfoot td,
blockquote .tl tfoot th,
blockquote .tl thead td,
blockquote .tl thead th,
blockquote blockquote,
blockquote hr,
h5,
h6,
table {
  border-color: #8a7322
}
.AHead,
.Comment div,
.Cover-meta,
.baseColor :link .RichLink-meta,
.baseColor :visited .RichLink-meta,
a,
h6 {
  color: #8a7322
}
dd,
li {
  margin-bottom: .3em
}
.note .box,
.note .hscroll,
.tl td *,
dl .box,
dl .hscroll,
dl iframe,
dl img,
li .box,
li .hscroll,
li iframe,
li img,
tr .box,
tr .hscroll,
tr iframe,
tr img,
tr ol,
tr ul {
  margin-top: 0
}
blockquote tbody th,
thead td,
thead th {
  background: #8a7322;
  color: #fdeeb7
}
.lM1,
.lM2,
.lS1,
.lS2 {
  width: 48.5%
}
.Header,
.Header h1,
.aa,
.btn,
input {
  line-height: 1
}
.baseColor,
.medal {
  background: #fdeeb7
}
.RichLink b,
.caption,
.js-bqCite,
.links,
.mspacer,
pre,
td,
th {
  word-break: break-all
}
.links,
.note,
blockquote,
dl,
iframe,
img,
ol,
p,
table,
tr blockquote p,
tr blockquote pre,
ul {
  margin: 1em 3%
}
code,
kbd,
var {
  margin: 0 .1em
}
.tl td,
.tl th {
  vertical-align: top
}
.Cover-img,
.Pager,
.Search,
:hover img {
  position: relative
}
body,
input,
textarea {
  font-family: Arial,"MS PGothic",sans-serif
}
code,
kbd,
samp,
var {
  font-family: "Courier New",monospace
}
.AHead-labels :active,
.Subscribe .atom:active,
.Subscribe .fl:active,
.Subscribe .rss:active,
.Subscribe .stm:active,
.btn:active,
.ribbon :link img,
.ribbon :visited img,
.ribbon a {
  border-color: #062241
}
*,
blockquote :link img,
blockquote :visited img,
blockquote tbody th,
hr,
input,
textarea {
  border-color: #e7d182
}
a:active img {
  border-color: #0d5bb5!important
}
.jsPicaLarge:hover,
:hover img {
  top: 2px
}
.BreadcrumbList a,
.LinkList *,
.Pager a,
.RichLink-sep *,
.TxtNavi a,
.lMi,
.lSi {
  zoom: 1
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important;
  background: #06284e;
  color: #fdeeb7
}
.BlogArchive :hover,
.Label :hover,
.aBodyRoot a:active,
:link,
:visited,
a:active,
acronym,
dfn,
ins {
  text-decoration: none
}
.Cover h2,
a:active code,
a:active var {
  background: #0d5bb5
}
.LinkList :link,
.RichLink-sep :link {
  background: 0 0;
  color: #24c
}
.LinkList a:visited,
.RichLink-sep a:visited {
  background: 0 0;
  color: #06284e
}
.LinkList .ribbon a,
.RichLink-sep .ribbon a {
  background: #fed33b;
  color: #062241
}
.ribbon .LinkList :link,
.ribbon .RichLink-sep :link {
  background: 0 0;
  color: #bbe
}
.ribbon .LinkList :visited,
.ribbon .RichLink-sep :visited {
  background: 0 0;
  color: #fed33b
}
.ribbon .LinkList :hover,
.ribbon .RichLink-sep :hover {
  background: #08366b;
  color: #fed33b
}
dt {
  font-weight: 700;
  margin-top: .7em
}
blockquote,
q {
  quotes: none
}
small {
  font-size: 75%
}
img {
  height: auto
}
cite,
code,
dfn,
em,
kbd,
q,
samp,
strong,
var {
  font-style: normal
}
pre {
  margin: 1em 0;
  padding: 1em 3%
}
del {
  text-decoration: line-through
}
input {
  font-size: 1em;
  height: 1em
}
textarea {
  font-size: 1em;
  overflow: auto;
  margin: 0
}
* {
  border-style: solid;
  border-width: 0
}
html {
  font-size: 100%
}
h4,
h5,
h6 {
  font-size: 1em;
  margin: 1.5em 1.5% .8em
}
body,
html {
  margin: 0;
  height: 100%
}
body {
  background: #062241;
  color: #06284e
}
p {
  line-height: 1.9
}
.aBodyRoot :link,
.aBodyRoot :visited,
:hover,
a:active:hover {
  text-decoration: underline
}
.js-bqLink,
.tl tbody th :link,
.tl tbody th :link:hover,
.tl thead :link,
.tl thead :link:hover,
:link {
  color: #24c
}
.tl tbody th,
.tl thead td,
.tl thead th,
:visited {
  color: #06284e
}
.ribbon :link:hover,
:link:hover {
  color: #0d5bb5;
  border-color: #0d5bb5
}
:visited:hover {
  color: #419;
  border-color: #419
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
.ribbon a,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #ffeba1
}
a:active,
a:active * {
  color: #fff!important
}
.ribbon :link {
  color: #bbe
}
.ribbon,
.ribbon .AHead h1,
.ribbon :visited {
  color: #fed33b
}
.ribbon :visited:hover {
  color: #b3f;
  border-color: #b3f
}
a:active {
  background-color: #0d5bb5!important
}
.RichLink b,
h1,
h2,
h3,
h5,
h6,
th {
  font-weight: 400
}
.ABody h3,
h2 {
  font-weight: 700
}
h4 {
  border-width: 0 0 0 .7em;
  border-color: #06284e;
  padding: 0 0 0 .3em
}
h5 {
  border-width: 0 0 0 .5em;
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  padding: 0 0 0 .7em
}
acronym,
dfn {
  border-bottom: 1px dotted;
  cursor: help
}
.AMeta,
.Pager,
.SocialBtns,
.tl thead th,
hr,
tbody th,
th {
  border-width: 0 0 1px
}
.ABody h2,
.ABody h2 *,
.Cover h2 {
  border-color: #0d5bb5
}
.Cover-meta,
.Pager span,
.RichLink b,
.Search,
.Search-txt,
.caption,
.commonForm,
.js-bqCite,
.jsPicaLarge,
.links a,
a iframe,
a img {
  display: block
}
ol,
ul {
  padding-left: 2em
}
li {
  margin-top: .3em
}
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em
}
.hscroll table,
tr ol,
tr ul {
  margin-bottom: .5em
}
.hscroll pre,
dd blockquote,
dd dl,
dd p,
dd pre,
dd table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
dd blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dd ol,
dd ul,
li ol,
li ul {
  margin-top: 0;
  margin-bottom: 0
}
input,
textarea {
  border-width: .1em;
  padding: .45em .4em
}
h2 {
  margin: 0;
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
.wn {
  color: #c00!important
}
hr {
  height: 0;
  margin: 2em 6%
}
#lB .lS,
#lE,
#lF,
#lF .lX,
.tl tfoot th,
table {
  border-width: 1px 0 0
}
tr hr {
  margin: 1em 9%
}
table {
  width: 94%;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0
}
caption {
  margin: 1.5em 3% .7em
}
th {
  text-align: left;
  padding: .5em
}
td {
  padding: .5em 0;
  border-color: #fdeeb7 #fdeeb7 #e7d182
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em;
  border-color: #e7d182 #937c2c
}
tbody th {
  background: #e7d182;
  border-color: #fdeeb7
}
tbody td {
  border-width: 0 .5em 1px
}
tfoot th {
  border-width: 2px 0 0
}
tfoot td {
  border-width: 2px .5em 0
}
.aBodyRoot blockquote tbody th :visited,
.aBodyRoot blockquote tbody th :visited:hover,
.aBodyRoot thead :visited,
.aBodyRoot thead :visited:hover,
blockquote tbody th :link,
blockquote tbody th :link:hover,
thead :link,
thead :link:hover {
  color: #fdeeb7
}
tfoot td,
tfoot th {
  border-color: #8a7322 #fdeeb7
}
blockquote h3,
blockquote table {
  border-color: #06284e
}
blockquote thead td,
blockquote thead th {
  background: #06284e;
  border-color: #e7d182 #1d3953
}
blockquote td {
  border-color: #e7d182 #e7d182 #8a7322
}
blockquote tfoot td,
blockquote tfoot th {
  border-color: #06284e #e7d182
}
.Cover-btn,
.commonForm-send,
.r {
  text-align: right
}
.c {
  text-align: center
}
.uc {
  text-transform: uppercase
}
.ribbon * {
  border-color: #08366b
}
#lB .lS {
  background: #fffd93
}
em {
  background: #ff6
}
strong {
  background: #6cf
}
.lM1,
.lS1 {
  float: left
}
.lM2,
.lS2 {
  float: right
}
#lB .lS1 {
  width: 45.5%;
  padding: 0 0 0 3%
}
#lB .lS2 {
  width: 45.5%;
  padding: 0 3% 0 0
}
.btn {
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  padding: .45em 1em;
  zoom: 1
}
.AHead-labels :link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #062241
}
.btn:visited {
  background: #062241;
  border-color: #fed33b;
  color: #fed33b
}
input.btn {
  height: 2.1em;
  padding: .25em 1em .65em
}
.commonForm-pair {
  zoom: 1;
  margin-bottom: 1em
}
.commonForm label {
  float: left;
  width: 7em;
  padding: .45em 0;
  display: block
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.commonForm-wrap {
  display: block;
  margin: 0 1em 0 8em
}
.commonForm-wrap * {
  width: 100%;
  float: left
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
.medal {
  border-color: #fdeeb7;
  color: #06284e
}
:link .medal,
:visited .medal {
  border-color: #06284e;
  background: #06284e;
  color: #fdeeb7
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #6d6309
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #61686b
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #e6d6a9
}
.mspacer {
  margin: 1em .5em!important
}
#lF .lM .mspacer,
.Cover p {
  margin: .6em .5em
}
.lS .mspacer {
  margin: .6em 0
}
.AAuthor {
  zoom: 1;
  margin: 1em 0;
  padding: 0
}
.AAuthor img {
  top: .4em;
  float: left;
  margin: 0 1em 1em 0
}
.ABody {
  margin: 3.5em 0 2em
}
.ADesc,
.AHead,
.hscroll {
  margin: 1em 0
}
.ABody h1 {
  font-size: 2em;
  margin: 3em 1.5%
}
.ABody h2 {
  font-size: 1.5em;
  border-width: .2em 0 0;
  color: #0d5bb5;
  margin: 2em 1.5% 1em
}
.ABody h3 {
  font-size: 1.25em;
  border-width: .1em 0 0;
  margin: 2.4em 1.5% 1.2em
}
.ABody h1,
.ABody h2,
.ABody h3 {
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%
}
.ADesc p {
  margin: 1em 0 0
}
.AHead h1 {
  font-size: 2em;
  color: #06284e;
  margin: 0;
  text-align: center;
  padding: 2em 0
}
.Attribution small,
.RichLink-meta,
.prettyprint code {
  font-size: .875em
}
.AHead-labels {
  margin-top: .5em;
  font-family: "MS Gothic",sans-serif;
  color: #062241
}
.AHead-labels i,
.RichLink br {
  display: none
}
.AHead-labels a,
.SocialBtns *,
.Subscribe a {
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  padding: .45em 1em;
  zoom: 1;
  margin: 0 0 .5em
}
.Cover,
.RichLink-sep {
  line-height: 1.4
}
.AHead-labels :visited {
  background: #062241;
  border-color: #ffeba1;
  color: #ffeba1
}
.AHead-labels :link:hover {
  border-color: #bbe;
  color: #062241
}
.Attribution {
  padding: 1em 0;
  text-align: center
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive th {
  word-break: normal;
  word-wrap: normal
}
.BlogArchive a,
.Label a {
  line-height: 2.8;
  border-width: 0 0 1px
}
.BreadcrumbList {
  padding: 1em 0;
  color: #8a7322
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  font-size: 93%
}
.Comment p {
  zoom: 1;
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover h2,
.aa,
blockquote,
kbd {
  border-width: 1px
}
.Cover-img {
  height: 100%;
  margin: 0 0 .6em
}
.Cover-meta,
.SearchResult div div {
  margin: 0 .5em
}
.Cover img {
  margin: 0;
  display: block;
  width: 100%
}
.Cover .img-loaded div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}
.Cover h2 {
  display: inline;
  zoom: 1;
  color: #fdeeb7;
  font-size: .825em;
  padding: .6em
}
.tl td,
.tl th,
pre code,
pre var {
  background: 0 0!important
}
.Cover h3 {
  font-size: 1.33em;
  padding: .37em;
  margin: 0;
  color: #fff;
  background: #000
}
.Cover {
  zoom: 1;
  margin: 2em auto
}
.Label div {
  color: #fdeeb7;
  text-justify: inter-ideograph;
  line-break: normal;
  text-align: justify
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #062241
}
#lF .Label a,
.lS .Label a {
  line-height: 2.4
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList :active:hover {
  text-decoration: underline!important
}
.RichLink a {
  zoom: 1;
  padding: 1em .5em;
  border-width: 0 0 1px;
  border-color: #08366b!important
}
.baseColor .RichLink a {
  border-color: #e7d182!important
}
.RichLink-meta {
  color: #08366b;
  margin: 1.143em 0
}
.baseColor .RichLink-meta {
  color: #e7d182
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  margin: 0 .6em 1em 0
}
.RichLink p {
  margin: 1em 0;
  line-height: 1.2
}
.lS .RichLink a {
  padding: .7em .5em
}
.lS .RichLink img {
  float: left;
  margin: 0 .5em .6em 0
}
.RichLink b {
  padding: 0 0 .571em;
  font-size: 1em
}
.Search {
  height: 1.9em;
  margin: 0 3em 0 1.1em
}
.Search input {
  position: absolute;
  top: 0
}
.Search-txt {
  width: 100%;
  left: -1.1em
}
.Search input:active {
  z-index: 1
}
.Search .btn {
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
  width: 3.2em;
  right: -3.05em;
  overflow: hidden;
  text-overflow: ellipsis
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621;
  word-wrap: break-word
}
.SearchResult div p {
  margin: .2em 0 0;
  color: #545454;
  line-height: 1.2
}
.SearchResult div span {
  color: grey
}
.SearchResult-multi {
  margin: 2em 0
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em;
  padding-bottom: 1em
}
.Header h1,
.h1 {
  font-size: 1.5em;
  margin: 0 0 .5em
}
.Header h1 {
  padding: 0
}
#lH .lMi {
  padding-bottom: 0
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #062241
}
.Subscribe .atom:visited {
  background: #062241;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #062241
}
.Subscribe .rss:visited {
  background: #062241;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #062241
}
.Subscribe .fl:visited {
  background: #062241;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #062241
}
.Subscribe .stm:visited {
  background: #062241;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right;
  color: #fdeeb7
}
.aa {
  margin: 1em 0;
  font-family: monospace;
  border-color: #0a0809
}
.js-bqCite,
.js-bqLink {
  margin: 0 1.5%;
  font-size: .875em
}
.tl,
.tl th {
  border-width: 0
}
.aBodyRoot :hover {
  text-decoration: none!important
}
.aBodyRoot :visited,
.tl tbody th :visited,
.tl tbody th :visited:hover,
.tl thead :visited,
.tl thead :visited:hover,
blockquote .tl tbody th :visited {
  color: #717
}
.aBodyRoot :visited:hover {
  color: #419
}
blockquote {
  padding: 1em 1px
}
.js-bqCite {
  text-align: right;
  color: #8a7322
}
.box {
  zoom: 1;
  margin: 1em 0 0
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 3% 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box .caption,
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 3%
}
kbd {
  border-color: #06284e;
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em
}
code,
var {
  padding: .1em .4em
}
pre code,
pre var {
  padding: 0;
  margin: 0
}
.links a {
  padding-left: 1em;
  zoom: 1
}
.note {
  padding-left: 25%
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 3%
}
.caption {
  text-align: center;
  font-size: .875em
}
.caption img {
  margin: 0 0 .5em!important
}
.caption * {
  float: none!important
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  border-color: #e7d182;
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  text-align: left
}
.tl td {
  padding: .5em .8em;
  border-width: 0 0 0 .3em;
  border-color: #e7d182;
  border-style: solid
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.AMeta {
  padding: .5em 0
}
.AMeta div {
  margin: .5em 0;
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager {
  color: #fdeeb7;
  height: 4em
}
.Pager-next {
  left: 0
}
.Pager-top {
  left: 34%;
  text-align: center
}
.Pager-prev {
  right: 0;
  text-align: right
}
.Pager span {
  position: absolute;
  top: 1em;
  width: 32%
}
.SocialBtns {
  padding: 1em 0;
  color: #fdeeb7;
  text-align: center
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #fdeeb7
}
.SocialBtns .tw:visited {
  background: #fdeeb7;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .fb:active,
.SocialBtns .pt:active {
  border-color: #fff
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #fdeeb7
}
.SocialBtns .hb:visited {
  background: #fdeeb7;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #fdeeb7
}
.SocialBtns .pk:visited {
  background: #fdeeb7;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #fdeeb7
}
.SocialBtns .ln:visited {
  background: #fdeeb7;
  border-color: #00c300;
  color: #00c300
}
.prettyprint {
  border-width: 1px;
  border-color: #333
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.jsCapLarge,
.jsPicaLarge img {
  margin: 0 auto 1em
}
.jsPicaLarge img {
  width: 100%;
  height: auto;
  border-width: 0
}
.jsPicaLarge {
  zoom: 1;
  clear: both;
  padding: 2px
}
.jsPicaLarge:hover img {
  top: 0
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #fdeeb7
}
.baseColor .btn:visited {
  background: #fdeeb7;
  border-color: #06284e;
  color: #06284e
}
@media screen {
  .e6L,
  .e6R {
    width: 50%
  }
  .e6C,
  .e6C .lW {
    overflow: hidden
  }
  .e6BR,
  .e6L,
  .e6R {
    height: 1px
  }
  #lH,
  .e6C .lW {
    width: 100%
  }
  a img {
    border-width: 2px
  }
  .LinkList :hover,
  .RichLink-sep :hover,
  .tl tr code,
  .tl tr var,
  blockquote tbody th code,
  blockquote tbody th var,
  thead code,
  thead var {
    background: #e7d182;
    color: #06284e
  }
  #lB .lM {
    padding-bottom: 4em
  }
  #lB .lS {
    padding-bottom: 1em
  }
  .lMi,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0 3%
  }
  .e6L {
    float: left;
    margin-right: -25em
  }
  .e6R {
    float: right;
    margin-left: -25em
  }
  .e6C {
    margin: 0!important;
    float: left
  }
  .e6BR {
    clear: both;
    line-height: 1px;
    display: block;
    margin-bottom: -1px
  }
  .Header {
    text-align: center
  }
  .aa {
    background: #0a0809
  }
  .aa,
  .aa code,
  .aa var {
    color: #00ac06
  }
  blockquote,
  code,
  var {
    background: #e7d182
  }
  .hscroll {
    overflow-x: auto;
    overflow-y: hidden
  }
  .hscroll pre {
    overflow: auto;
    white-space: pre
  }
  .hscroll table {
    white-space: nowrap
  }
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote var,
  tbody th code,
  tbody th var {
    background: #8a7322;
    color: #fdeeb7
  }
  .prettyprint {
    background: #333;
    color: #fff
  }
  code .atv,
  code .str {
    color: #65b042
  }
  code .kwd {
    color: #e28964
  }
  code .com {
    color: #aeaeae;
    font-style: italic
  }
  code .tag,
  code .typ {
    color: #89bdff
  }
  code .dec,
  code .lit {
    color: #3387cc
  }
  code .pun {
    color: #dbdbdb
  }
  code .pln {
    color: #d4d4d4
  }
  code .atn {
    color: #bdb76b
  }
}
@media print {
  blockquote code,
  blockquote var,
  table,
  tbody th,
  tbody th code,
  tbody th var,
  thead code,
  thead td,
  thead th,
  thead var {
    border-color: #666
  }
  blockquote,
  table {
    margin: 1em 0
  }
  code .typ,
  th {
    font-weight: 700
  }
  .LinkList :link,
  .RichLink-sep :link,
  .ribbon :link,
  :link,
  blockquote tbody th :link,
  blockquote thead th :link,
  thead :link {
    color: #006
  }
  .AHead-labels,
  .LinkList :visited,
  .RichLink-sep :visited,
  code .pln {
    color: #000
  }
  p {
    line-height: 1.5
  }
  .ADesc,
  .ribbon a,
  a {
    color: #666
  }
  .ribbon :visited,
  :visited,
  blockquote tbody th :visited,
  blockquote thead th :visited,
  thead :visited {
    color: #606
  }
  blockquote pre {
    margin: 1em
  }
  table {
    width: 100%
  }
  thead td,
  thead th {
    background: #ccc;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  tbody th {
    background: #ccc
  }
  td {
    border-color: #fff #fff #ccc
  }
  tfoot td,
  tfoot th {
    border-color: #666 #fff
  }
  blockquote table,
  kbd {
    border-color: #000
  }
  blockquote thead td,
  blockquote thead th {
    background: #ccc;
    border-color: #000;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  blockquote tbody th {
    background: #ccc;
    border-color: #000;
    color: #000
  }
  blockquote td {
    border-color: #fff #fff #666
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #000 #fff
  }
  .Cover h2,
  .Cover h3,
  .baseColor,
  .ribbon,
  body {
    background: #fff;
    color: #000
  }
  .AHead,
  .BreadcrumbList {
    color: #666!important
  }
  *,
  .ribbon * {
    border-color: #ccc
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  .Xi,
  .lMh,
  .lMi,
  .lMz .AHead {
    padding: 0 3%
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Cover-btn,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .noprint {
    display: none
  }
  .ABody {
    margin: 0 0 2em
  }
  .AHead h1 {
    color: #000!important;
    padding: 1em 0
  }
  .AHead-labels a {
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0
  }
  .Cover .img-loaded div {
    position: static
  }
  .Cover h2 {
    border-width: 1px;
    border-color: #000;
    margin-top: 1em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding-top: .5em;
    padding-bottom: .5em
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    text-align: center;
    margin: 0 0 .5em
  }
  .hscroll table {
    width: 100%;
    margin: 0
  }
  .hscroll pre {
    margin: 0
  }
  code,
  var {
    border-width: 1px;
    border-color: #ccc
  }
  pre code {
    border: 0
  }
  .tl tbody td:after,
  blockquote .tl tbody td:after {
    border-color: #fff
  }
  code .atv,
  code .str {
    color: #060
  }
  code .kwd,
  code .tag {
    color: #006;
    font-weight: 700
  }
  code .com {
    color: #600;
    font-style: italic
  }
  code .atn,
  code .typ {
    color: #404
  }
  code .lit {
    color: #044
  }
  code .pun {
    color: #440
  }
  code .dec {
    color: #003
  }
}