@charset "UTF-8";
.Header,
body,
input {
  line-height: 1
}
.AAuthor,
.ADesc,
.AHead,
p,
pre,
tr blockquote pre {
  margin: 1em 0
}
.lM1,
.lM2,
.lS1,
.lS2 {
  width: 48.5%
}
.BlogArchive :link:hover,
.BlogArchive :visited:hover,
.Label :link:hover,
.Label :visited:hover,
.aBodyRoot :link:hover,
.aBodyRoot :visited:hover,
.aBodyRoot a:active,
:link,
:visited,
a:active,
dfn,
ins {
  text-decoration: none
}
a:active,
a:active * {
  color: #fff!important
}
.Magazine-label,
.Magazine-main,
.RichLink b,
.caption,
.mspacer,
pre,
td,
th {
  word-break: break-all
}
.Cover-img,
.Magazine-main,
.Search {
  position: relative
}
.AAuthor,
.Comment p,
.Cover,
.Magazine-item,
.Magazine-snippet,
.Pager,
.RichLink a,
.Search .btn,
.box,
.lMi,
.lSi,
.lX {
  overflow: hidden
}
.Search .btn,
.hscroll tbody {
  white-space: pre
}
dd,
li {
  margin-bottom: .3em
}
.ico,
cite,
code,
dfn,
em,
kbd,
q,
strong,
var {
  font-style: normal
}
.tl th,
tbody th,
td {
  vertical-align: top
}
body,
input,
textarea {
  font-family: Arial,Meiryo,"MS PGothic",sans-serif
}
code,
kbd,
samp,
var {
  font-family: SFMono-Regular,Consolas,Meiryo,monospace;
  word-wrap: break-word
}
html {
  font-size: 100%
}
body,
html {
  margin: 0;
  height: 100%
}
* {
  border-style: solid;
  border-width: 0
}
.h1,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p dd,
p li,
p tr,
table {
  line-height: 1.2
}
del {
  text-decoration: line-through
}
dfn {
  border-bottom: 1px dotted;
  cursor: help
}
iframe,
img {
  margin: 1em auto;
  max-width: 94%
}
.Magazine-mm,
.commonForm,
a iframe,
a img {
  display: block
}
.aBodyRoot > .box:first-child > a:first-child > img:first-child,
.aBodyRoot > :first-child,
.aBodyRoot > :first-child > :first-child,
.tl td > :first-child,
blockquote > .box:first-child > a:first-child > img:first-child,
blockquote > :first-child,
dl iframe,
dl img,
li iframe,
li img,
tr iframe,
tr img {
  margin-top: 0
}
img {
  -ms-interpolation-mode: bicubic;
  height: auto
}
a,
a img {
  border-color: transparent
}
:link:hover img,
:visited:hover img {
  position: relative;
  top: 2px
}
input,
textarea {
  font-size: 1em;
  border-width: .1em;
  border-color: #d0d0d0;
  padding: .45em .4em
}
input {
  height: 1em
}
input:hover,
textarea:hover {
  border-color: #3079ed
}
p {
  line-height: 1.9
}
.AMeta,
.SocialBtns,
pre {
  padding: 1em 3%
}
q[cite],
q[title] {
  border-bottom: 1px dotted
}
#lB .lS,
#lE,
#lF,
#lF .lX,
.tl tfoot th,
table {
  border-width: 1px 0 0
}
small {
  font-size: 75%
}
.Pager-prev,
.commonForm-send,
.r {
  text-align: right
}
.AHead h1,
.Attribution,
.Pager-top,
.SocialBtns,
.c,
.caption {
  text-align: center
}
textarea {
  overflow: auto;
  margin: 0
}
.uc {
  text-transform: uppercase
}
.v {
  writing-mode: tb-rl
}
#lB .lS {
  background: #f1f4f1
}
em {
  background: #ff6
}
hr {
  margin: 2em 6%;
  border-width: 0 0 1px;
  height: 0
}
tr hr {
  margin: 1em 9%
}
strong {
  background: #6cf
}
.lM1,
.lS1,
.lX1 {
  float: left
}
.lM2,
.lS2,
.lX2 {
  float: right
}
#lB .lS1 {
  width: 45.5%;
  padding-left: 3%
}
#lB .lS2 {
  width: 45.5%;
  padding-right: 3%
}
.aBodyRoot :link,
.aBodyRoot :visited,
.aBodyRoot a:active:hover,
:link:hover,
:visited:hover,
a:active:hover,
input.btn:hover {
  text-decoration: underline
}
a:active {
  background-color: #3079ed!important
}
.tl td,
.tl th,
pre code {
  background: 0 0!important
}
.ribbon :link:hover {
  color: #3079ed;
  border-color: #3079ed
}
.ribbon :visited:hover {
  color: #c8e;
  border-color: #c8e
}
.AHead-labels a,
.SocialBtns a,
.Subscribe a,
.btn {
  line-height: 1;
  padding: .45em 1em;
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  zoom: 1
}
.Magazine-main,
h5 {
  border-width: 0 0 0 .5em
}
.AHead-labels :link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #1a1a1a
}
.btn:visited {
  background: #1a1a1a;
  border-color: #fff;
  color: #fff
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #bbb
}
.AHead-labels :active,
.Subscribe .atom:active,
.Subscribe .fl:active,
.Subscribe .rss:active,
.Subscribe .stm:active,
.btn:active {
  border-color: #1a1a1a
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #f8fbf8
}
.baseColor .btn:visited {
  background: #f8fbf8;
  border-color: #111;
  color: #111
}
.SocialBtns .hb:active,
.SocialBtns .ln:active,
.SocialBtns .pk:active,
.SocialBtns .tw:active,
.baseColor .btn:active,
.medal {
  border-color: #f8fbf8
}
input.btn {
  height: 2.1em;
  padding: .25em 1em .65em
}
.commonForm-pair {
  overflow: hidden;
  margin-bottom: 1em
}
.commonForm label {
  float: left;
  width: 7em;
  padding: .45em 0;
  display: block
}
.commonForm-wrap {
  display: block;
  margin: 0 1em 0 8em
}
.commonForm-wrap * {
  width: 100%;
  float: left
}
.mspacer {
  margin: 1em .5em!important
}
.BlogArchive th,
.Magazine-date {
  word-break: normal;
  word-wrap: normal
}
#lF .lM .mspacer,
.lS .mspacer {
  margin: .6em .5em
}
@font-face {
  font-family: web-doc-base;
  font-weight: 400;
  font-style: normal;
  src: url(../../iconfont/web-doc-base.eot?rw1juc)
}
.ico {
  font-family: web-doc-base,serif!important
}
.AAuthor p,
.ADesc p,
.note .box,
dl .box,
li .box,
tr .box {
  margin: 0
}
.AAuthor img,
.RichLink img {
  float: left;
  margin: 0 1em 1em 0
}
.ABody {
  padding: 3.5em 0 2em
}
h1,
h3,
h5,
h6,
th {
  font-weight: 400
}
.AHead h1 {
  font-size: 2em;
  margin: 0;
  padding: 2em 0
}
.ribbon .AHead h1,
.tl tbody :hover th,
.tl tbody :hover th :link,
.tl tbody :hover th :visited,
tbody :hover th,
tbody :hover th :link,
tbody :hover th :visited {
  color: #fff
}
.AHead-labels {
  font-family: Meiryo,"MS PGothic",sans-serif;
  margin-top: .5em
}
.Magazine-date,
.aa {
  font-family: monospace
}
.AHead-labels i,
.Magazine-m,
.Magazine-y,
.RichLink br {
  display: none
}
.AHead-labels a,
.SocialBtns a,
.Subscribe a,
.js-captioned-thumbnail__large a,
dl blockquote,
dl dl,
dl p,
dl pre,
dl table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
.AHead-labels :visited {
  background: #1a1a1a;
  border-color: #bbb;
  color: #bbb
}
.AHead-labels :link:hover {
  border-color: #bbe;
  color: #1a1a1a
}
.Attribution,
.BreadcrumbList,
.Magazine-item {
  padding: 1em 0
}
.Attribution small,
.prettyprint code {
  font-size: .875em
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive a,
.Label a {
  border-width: 0 0 1px;
  line-height: 2.8
}
.BreadcrumbList a,
.Pager a,
.TxtNavi a {
  zoom: 1
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  color: #777;
  font-size: 93%
}
.Comment p {
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover-img {
  margin: 0 0 .6em;
  height: 100%
}
.Cover img {
  margin: 0;
  display: block;
  width: 100%;
  max-width: 100%
}
.Cover h2 {
  border-width: 1px;
  color: #f8fbf8;
  font-size: .825em;
  padding: .6em;
  display: inline;
  zoom: 1
}
.AMeta,
.Pager,
.RichLink a,
.SocialBtns,
.tl thead th,
tbody th,
th {
  border-width: 0 0 1px
}
.Cover h3 {
  word-break: break-all;
  font-size: 1.33em;
  margin: 0;
  background: #fff
}
.Cover a {
  display: block;
  padding: .37em
}
.Cover-meta {
  line-height: 1.4;
  display: block;
  margin: 0 .5em
}
.Cover p {
  line-height: 1.4;
  margin: .6em .5em
}
.Cover {
  margin: 2em auto
}
.Label div {
  text-justify: inter-ideograph;
  line-break: normal;
  text-align: justify
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #1a1a1a
}
#lF .Label a,
.lS .Label a {
  line-height: 2.4
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important
}
.LinkList :link,
.LinkList :visited,
.RichLink-sep :link,
.RichLink-sep :visited {
  background: 0 0
}
.LinkList .ribbon a,
.RichLink-sep .ribbon a {
  background: #fff;
  color: #1a1a1a
}
.ribbon .LinkList :link,
.ribbon .RichLink-sep :link {
  background: 0 0;
  color: #bbe
}
.ribbon .LinkList :visited,
.ribbon .RichLink-sep :visited {
  background: 0 0;
  color: #fff
}
.ribbon .LinkList :link:hover,
.ribbon .LinkList :visited:hover,
.ribbon .RichLink-sep :link:hover,
.ribbon .RichLink-sep :visited:hover {
  background: #363636;
  color: #fff
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList :active:hover {
  text-decoration: underline!important
}
.Magazine-date {
  line-height: 1;
  padding-right: 1.5em;
  font-weight: 700;
  display: block;
  float: left
}
.Magazine-yy {
  display: block;
  font-size: 2em
}
.Magazine-dd,
.Magazine-mm {
  font-size: 4em;
  line-height: .9
}
.Magazine-main {
  padding-left: 1.5em;
  margin-left: 5.5em
}
.aa,
kbd {
  border-width: 1px
}
.Magazine h3 {
  font-size: 2em;
  font-weight: 700;
  margin: .2em 0 0;
  padding: 0
}
.Magazine h3 a {
  margin-right: 2px
}
.Magazine-label {
  margin: .5em 0 .8em
}
.Magazine-snippet img {
  float: left;
  margin: .4em 1em 1em 0
}
.Magazine-snippet p {
  line-height: 1.4em;
  margin: 0
}
.Magazine .btn {
  position: absolute;
  font-size: .83em;
  left: -7.229em;
  bottom: 0;
  width: 4.217em;
  padding: .301em
}
.Magazine img {
  margin-left: 0
}
.RichLink a {
  padding: 1em .5em;
  border-color: #363636!important
}
.RichLink b {
  display: block;
  font-weight: 400
}
.ABody h3,
dt,
h2 {
  font-weight: 700
}
.RichLink-meta {
  color: #363636;
  line-height: 1.4;
  font-size: .875em;
  margin: 1.143em 0
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink p {
  margin: 1em 0;
  line-height: 1.4
}
.lS .RichLink a {
  padding: .7em .5em
}
.lS .RichLink img {
  float: left;
  margin: 0 .5em .6em 0
}
.RichLink b {
  padding: 0 0 .571em;
  font-size: 1em
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
.medal {
  background: #f8fbf8;
  color: #111
}
:link .medal,
:visited .medal {
  border-color: #111;
  background: #111;
  color: #f8fbf8
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #4b4406
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #3b3f41
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #f8e9be
}
.Search {
  display: block;
  height: 1.9em;
  margin: 0 3em 0 1.1em
}
.Search input {
  position: absolute;
  top: 0
}
.Search-txt {
  display: block;
  width: 100%;
  left: -1.1em
}
.Search input:active,
.Search input:hover {
  z-index: 1
}
.Search .btn {
  padding-left: 0;
  padding-right: 0;
  width: 3.2em;
  right: -3.05em;
  text-overflow: ellipsis
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult div div {
  margin: 0 .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  word-wrap: break-word;
  color: #006621
}
.SearchResult div p {
  line-height: 1.2;
  margin: .2em 0 0;
  color: #545454
}
.SearchResult div span {
  color: grey
}
.SearchResult-multi {
  margin: 2em 0
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em;
  padding-bottom: 1em
}
.Header h1,
.h1 {
  font-size: 1.5em;
  margin: 0 0 .5em
}
.Header h1 {
  line-height: 1;
  padding: 0
}
#lH .lMi {
  padding-bottom: 0
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #1a1a1a
}
.Subscribe .atom:visited {
  background: #1a1a1a;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #1a1a1a
}
.Subscribe .rss:visited {
  background: #1a1a1a;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #1a1a1a
}
.Subscribe .fl:visited {
  background: #1a1a1a;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #1a1a1a
}
.Subscribe .stm:visited {
  background: #1a1a1a;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right
}
.aa {
  line-height: 1;
  margin: 1em 0;
  border-color: #0a0809
}
.caption {
  display: block;
  font-size: .875em;
  max-width: 100%
}
.box {
  margin: 1em 0 0
}
.note,
blockquote,
dl,
ol,
table,
ul {
  margin: 1em 3%
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 3% 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box iframe,
.box img {
  float: left;
  max-width: 100%;
  margin: 0 1em 1em 3%
}
.box .caption {
  float: left;
  margin: 0 1.143em 1.143em 3%
}
div .caption iframe,
div .caption img {
  margin: 0 0 .571em;
  float: none
}
code,
var {
  padding: .1em .4em
}
pre code {
  padding: 0;
  margin: 0
}
dt {
  margin-top: .7em
}
tr ol,
tr ul {
  margin-top: 0;
  margin-bottom: .5em
}
dl blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em;
  margin-top: 0;
  margin-bottom: 0
}
.ABody h1,
.ABody h2,
.ABody h3 {
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%
}
.tl th,
th {
  text-align: left
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.ABody h1 {
  margin: 0 1.5% 3em;
  font-size: 2em
}
h2 {
  margin: 0;
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
h4,
h5,
h6 {
  margin: 1.5em 1.5% .8em;
  font-size: 1em
}
.wn {
  color: red!important
}
.ABody h2 {
  margin: 2em 1.5% 1em;
  font-size: 1.5em;
  border-width: .2em 0 0
}
.ABody h3 {
  margin: 2.4em 1.5% 1.2em;
  font-size: 1.25em;
  border-width: .1em 0 0
}
.tl,
.tl th {
  border-width: 0
}
h4 {
  border-width: 0 0 0 .7em;
  padding: 0 0 0 .3em
}
.tl td,
h6 {
  border-width: 0 0 0 .3em
}
h5 {
  padding: 0 0 0 .5em
}
h6 {
  padding: 0 0 0 .7em
}
.hscroll {
  overflow-x: auto;
  overflow-y: hidden
}
ol,
ul {
  padding-left: 2em
}
li {
  margin-top: .3em
}
kbd {
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em;
  margin: 0 .1em
}
kbd:hover {
  position: relative;
  top: -2px
}
.note {
  padding-left: 25%
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 3%
}
table {
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0;
  width: 94%
}
caption {
  margin: 1.5em 3% .7em
}
th {
  padding: .5em
}
td {
  padding: .5em 0
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em
}
tbody td {
  border-width: 0 .5em 1px
}
tfoot th {
  border-width: 2px 0 0
}
tfoot td {
  border-width: 2px .5em 0
}
thead :link {
  color: #bbe
}
thead :link:hover {
  color: #3079ed
}
.aBodyRoot thead :visited {
  color: #eae
}
.aBodyRoot thead :visited:hover {
  color: #c8e
}
tbody :hover th a:active {
  background: #fff!important
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em
}
.tl td {
  padding: .5em .8em;
  border-style: solid
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.AMeta div {
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager span {
  display: block;
  float: left;
  width: 33%
}
.Pager-top a {
  padding: 1.5em .5em
}
.Pager-next a {
  padding: 1.5em 0 1.5em 3%
}
.Pager-prev a {
  padding: 1.5em 3% 1.5em 0
}
.Pager i {
  height: 0;
  width: 0;
  position: relative;
  top: -.1em;
  zoom: 1
}
.Pager-next i {
  margin-right: .5em;
  border-width: .5em .7em .5em 0
}
.Pager-prev i {
  border-width: .5em 0 .5em .7em
}
.Pager-next :active i,
.Pager-prev :active i {
  border-color: transparent #fff
}
.Pager-top i {
  margin-right: .5em;
  border-width: 0 .45em .9em
}
.Pager-top :active i {
  border-color: #fff transparent
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #f8fbf8
}
.SocialBtns .tw:visited {
  background: #f8fbf8;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .fb:active,
.SocialBtns .pt:active {
  border-color: #fff
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #f8fbf8
}
.SocialBtns .hb:visited {
  background: #f8fbf8;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #f8fbf8
}
.SocialBtns .pk:visited {
  background: #f8fbf8;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #f8fbf8
}
.SocialBtns .ln:visited {
  background: #f8fbf8;
  border-color: #00c300;
  color: #00c300
}
.js-generated-link-in-blockquote {
  margin: 0 1.5% 1.14em;
  font-size: .875em
}
.js-generated-cite-in-blockquote {
  margin: 0 1.5%;
  word-break: break-all;
  display: block;
  font-size: .875em;
  text-align: right;
  color: #777
}
blockquote {
  border-width: 1px;
  padding: 1em 1px
}
.prettyprint {
  border-width: 1px;
  border-color: #333
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.js-pica-thumbnail__large {
  margin: 0 0 1em;
  display: block;
  clear: both;
  padding: 2px;
  zoom: 1
}
.js-pica-thumbnail__large:hover {
  top: 2px
}
.js-pica-thumbnail__large:hover img {
  top: 0
}
.js-pica-thumbnail__large img {
  border-width: 0;
  width: 100%;
  max-width: 100%;
  margin: 0
}
.box .js-pica-thumbnail__large img,
.js-captioned-thumbnail__large,
div .box .js-captioned-thumbnail__large {
  margin: 0 0 1em
}
#lE {
  border-top-width: .3em
}
@media screen {
  a img {
    border-width: 2px
  }
  a:active img {
    border-color: #3079ed!important
  }
  *,
  .tl td,
  .tl tfoot td,
  .tl tfoot th,
  .tl thead td,
  .tl thead th {
    border-color: #d0d0d0
  }
  #lE,
  #lF,
  .ABody h2,
  .ABody h2 *,
  .Cover h2,
  .tl tbody :hover td,
  .tl tbody :hover th {
    border-color: #3079ed
  }
  body {
    color: #111;
    background: #1a1a1a
  }
  .ribbon,
  .ribbon :visited {
    color: #fff
  }
  .AHead,
  .BreadcrumbList,
  .Cover-meta,
  .baseColor :link .RichLink-meta,
  .baseColor :visited .RichLink-meta,
  a,
  h6 {
    color: #777
  }
  .ribbon * {
    border-color: #363636
  }
  .baseColor {
    background: #f8fbf8
  }
  #lB .lSi,
  .lM,
  .lS,
  .lX {
    max-width: 50em;
    margin: 0 auto
  }
  .lMi,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0 3%
  }
  #lB .lM {
    padding-bottom: 4em
  }
  #lB .lS {
    max-width: 100%;
    padding-bottom: 1em
  }
  .LinkList :link,
  .RichLink-sep :link,
  .js-generated-link-in-blockquote,
  .tl thead tr :link,
  :link,
  blockquote .tl tbody tr th :link {
    color: #24c
  }
  .tl tbody th,
  .tl thead td,
  .tl thead th,
  .tl tr code,
  .tl tr var,
  :visited,
  blockquote tbody th code,
  blockquote tbody th var,
  thead code,
  thead var {
    color: #111
  }
  .aa :link:hover,
  .prettyprint :link:hover,
  :link:hover {
    color: #3079ed;
    border-color: #3079ed
  }
  :visited:hover {
    color: #515;
    border-color: #515
  }
  .ribbon a {
    color: #bbb
  }
  .aa :link,
  .prettyprint :link,
  .ribbon :link {
    color: #bbe
  }
  .AHead-labels {
    color: #1a1a1a
  }
  .BlogArchive,
  .BlogArchive tbody :hover td,
  .Label div,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .aBodyRoot blockquote tbody th :visited,
  .aBodyRoot blockquote tbody th :visited:hover,
  blockquote tbody th :link,
  blockquote tbody th :link:hover {
    color: #f8fbf8
  }
  .Cover .js-image-has-been-loaded div {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0
  }
  .Cover h2,
  a code:active,
  a var:active,
  tbody :hover th {
    background: #3079ed
  }
  .LinkList a,
  .RichLink-sep a {
    background: #111;
    color: #f8fbf8
  }
  .LinkList :link:hover,
  .LinkList :visited:hover,
  .RichLink-sep :link:hover,
  .RichLink-sep :visited:hover,
  .tl tr code,
  .tl tr var,
  blockquote tbody th code,
  blockquote tbody th var,
  code,
  thead code,
  thead var,
  var {
    background: #d0d0d0
  }
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote tbody th,
  blockquote thead code,
  blockquote thead var,
  blockquote var,
  tbody th code,
  tbody th var,
  thead td,
  thead th {
    background: #777;
    color: #f8fbf8
  }
  .ABody blockquote h4,
  .Magazine-main,
  blockquote h3,
  h4,
  kbd {
    border-color: #111
  }
  blockquote *,
  blockquote .tl td,
  blockquote .tl tfoot td,
  blockquote .tl tfoot th,
  blockquote .tl thead td,
  blockquote .tl thead th,
  blockquote table,
  h5,
  h6 {
    border-color: #777
  }
  .baseColor .RichLink a {
    border-color: #d0d0d0!important
  }
  .baseColor .RichLink-meta {
    color: #d0d0d0
  }
  .Header {
    text-align: center
  }
  .aBodyRoot :visited,
  .tl thead tr :visited,
  blockquote .tl tbody tr th :visited {
    color: #717
  }
  .aBodyRoot :visited:hover,
  .tl thead tr :visited:hover {
    color: #515
  }
  .aa :visited,
  .prettyprint :visited {
    color: #eae
  }
  .aa :visited:hover,
  .prettyprint :visited:hover {
    color: #c8e;
    border-color: #c8e
  }
  .aa {
    background: #0a0809
  }
  .aa,
  .aa code,
  .aa var {
    color: #00ac06
  }
  .ABody h2 {
    color: #3079ed
  }
  .hscroll {
    margin: 1em 0
  }
  .note .hscroll,
  dl .hscroll,
  li .hscroll,
  tr .hscroll {
    margin-top: 0
  }
  .hscroll table {
    margin-bottom: .5em
  }
  .hscroll pre {
    margin: 0 0 .5em;
    overflow: auto;
    white-space: pre
  }
  .hscroll tr pre {
    word-break: break-all
  }
  .hscroll pre code,
  .hscroll pre kbd,
  .hscroll pre samp,
  .hscroll pre var {
    word-wrap: normal
  }
  tbody th {
    background: #d0d0d0;
    border-color: #f8fbf8
  }
  td {
    border-color: transparent transparent #d0d0d0
  }
  tfoot td,
  tfoot th {
    border-color: #d0d0d0 transparent
  }
  blockquote thead td,
  blockquote thead th {
    background: #111;
    border-color: #777
  }
  blockquote tbody th {
    border-color: transparent
  }
  blockquote td {
    border-color: transparent transparent #777
  }
  .Pager-top i,
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #777 transparent
  }
  tbody :hover th a:active {
    color: #3079ed!important
  }
  tbody :hover td {
    border-color: transparent transparent #3079ed;
    color: #3079ed
  }
  .tl tbody :hover th {
    background: #3079ed!important
  }
  .Pager-next i,
  .Pager-prev i {
    border-color: transparent #777
  }
  blockquote {
    background-color: #d0d0d0
  }
  .prettyprint {
    background: #333;
    color: #fff
  }
  .atv,
  .str {
    color: #65b042
  }
  .kwd {
    color: #e28964
  }
  .com {
    color: #aeaeae;
    font-style: italic
  }
  .tag,
  .typ {
    color: #89bdff
  }
  .dec,
  .lit {
    color: #3387cc
  }
  .pun {
    color: #dbdbdb
  }
  .pln {
    color: #d4d4d4
  }
  .atn {
    color: #bdb76b
  }
  #lF {
    border-top-width: .3em
  }
}
@media print {
  .kwd,
  .typ,
  th {
    font-weight: 700
  }
  p {
    line-height: 1.5
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .noprint {
    display: none
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  .ADesc,
  .ribbon a {
    color: #666
  }
  .kwd,
  .ribbon :link,
  .tag,
  blockquote tbody th :link,
  blockquote tbody th :link:hover,
  thead :link {
    color: #006
  }
  .AHead,
  .BreadcrumbList {
    color: #666!important
  }
  .aBodyRoot blockquote tbody th :visited,
  .aBodyRoot blockquote tbody th :visited:hover,
  .aBodyRoot thead :visited,
  .ribbon :visited {
    color: #606
  }
  .ABody {
    padding: 0 0 2em
  }
  .lMz .AHead {
    padding: 0 3%
  }
  .AHead h1 {
    padding: 1em 0;
    color: #000!important
  }
  .AHead-labels a {
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0
  }
  .Cover h2 {
    margin-top: 1em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding-top: .5em;
    padding-bottom: .5em
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    text-align: center;
    margin: 0 0 .5em
  }
  .Header h1 + span {
    display: block;
    text-align: center
  }
  code,
  var {
    border-width: 1px
  }
  blockquote code,
  blockquote var,
  tbody th code,
  tbody th var,
  thead code,
  thead var {
    border-color: #666
  }
  pre code {
    border: 0
  }
  thead td,
  thead th {
    background: #ccc;
    border-width: 0 0 1px;
    padding: .5em
  }
  blockquote thead td,
  blockquote thead th {
    background: 0 0;
    border-color: #000;
    border-width: 0 0 1px;
    color: #000;
    padding: .5em
  }
  blockquote tbody th {
    background: 0 0;
    border-color: #000
  }
  table {
    margin: 1em 0;
    width: 100%
  }
  blockquote pre {
    margin: 1em
  }
  blockquote {
    margin: 1em 0;
    padding: 1em
  }
  .prettyprint {
    line-height: 1
  }
  .atv,
  .str {
    color: #060
  }
  .com {
    color: #600;
    font-style: italic
  }
  .atn,
  .typ {
    color: #404
  }
  .lit {
    color: #044
  }
  .pun {
    color: #440
  }
  .pln {
    color: #000
  }
  .dec {
    color: #003
  }
}