@charset "UTF-8";
.SocialBtns .hb:link:active,
.SocialBtns .hb:link:focus,
.SocialBtns .hb:visited:active,
.SocialBtns .hb:visited:focus,
.SocialBtns .ln:link:active,
.SocialBtns .ln:link:focus,
.SocialBtns .ln:visited:active,
.SocialBtns .ln:visited:focus,
.SocialBtns .pk:link:active,
.SocialBtns .pk:link:focus,
.SocialBtns .pk:visited:active,
.SocialBtns .pk:visited:focus,
.SocialBtns .tw:link:active,
.SocialBtns .tw:link:focus,
.SocialBtns .tw:visited:active,
.SocialBtns .tw:visited:focus,
.baseColor .btn:link:active,
.baseColor .btn:link:focus,
.baseColor .btn:visited:active,
.baseColor .btn:visited:focus,
.medal,
a,
a img,
a:active .ico-author:after,
a:active .ico-author:before,
a:active .ico-chain:after,
a:active .ico-chain:before,
a:active .ico-clock:after,
a:active .ico-clock:before,
a:active .ico-comment:before,
a:active .ico-flag:after,
a:active .ico-flag:before,
a:active .ico-label:before,
a:active .ico-pen:before,
a:active .ico-sylinder:after,
a:active .ico-sylinder:before,
a:focus .ico-author:after,
a:focus .ico-author:before,
a:focus .ico-chain:after,
a:focus .ico-chain:before,
a:focus .ico-clock:after,
a:focus .ico-clock:before,
a:focus .ico-comment:before,
a:focus .ico-flag:after,
a:focus .ico-flag:before,
a:focus .ico-label:before,
a:focus .ico-pen:before,
a:focus .ico-sylinder:after,
a:focus .ico-sylinder:before,
tbody th {
  border-color: #f8fbfa
}
blockquote .tl tbody td:before,
blockquote .tl td,
blockquote .tl tfoot td,
blockquote .tl tfoot th,
blockquote .tl thead td,
blockquote .tl thead th,
blockquote blockquote,
blockquote hr,
h5,
h6,
table {
  border-color: #717e73
}
.Comment div,
.Cover-meta,
.baseColor :link .RichLink-meta,
.baseColor :visited .RichLink-meta,
a,
h6 {
  color: #717e73
}
dd,
li {
  margin-bottom: .3em
}
.note .box,
.note .hscroll,
.tl td > :first-child,
dl .box,
dl .hscroll,
dl iframe,
dl img,
li .box,
li .hscroll,
li iframe,
li img,
tr .box,
tr .hscroll,
tr iframe,
tr img,
tr ol,
tr ul {
  margin-top: 0
}
.RichLink b,
.SearchResult cite,
.caption,
.js-bqCite,
.links,
blockquote:after,
pre,
td,
th {
  word-break: break-all;
  word-wrap: break-word
}
.lM1,
.lM2,
.lS1,
.lS2 {
  width: 48.5%
}
.baseColor,
.medal {
  background: #f8fbfa
}
.Cover-btn i,
.Cover-img,
.Pager,
.Search,
.links a,
.tl td,
:link:hover img,
:visited:hover img,
h2,
kbd:hover {
  position: relative
}
.links,
.note,
blockquote,
dl,
iframe,
img,
ol,
p,
table,
tr blockquote p,
tr blockquote pre,
ul {
  margin: 1em 3%
}
.AAuthor,
.Comment p,
.Cover,
.RichLink a,
.Search .btn,
.box,
.chatMember,
.lMi,
.lSi,
.lW,
.lX {
  overflow: hidden
}
blockquote,
code,
tbody th,
var {
  background: #bddac8
}
code,
kbd,
var {
  margin: 0 .1em
}
.links,
pre {
  white-space: pre-wrap
}
.tl td,
.tl th {
  vertical-align: top
}
.AHead-labels a,
.SocialBtns *,
.Subscribe a,
.btn {
  display: inline-block;
  border-width: 2px;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  padding: .45em 1em
}
.AHead-labels a:link:hover,
.AHead-labels a:visited:hover,
.SocialBtns :link:hover,
.SocialBtns :visited:hover,
.Subscribe a:link:hover,
.Subscribe a:visited:hover,
.aBodyRoot :link,
.aBodyRoot :visited,
.aBodyRoot a:focus:hover,
.btn:link:hover,
.btn:visited:hover,
:link:hover,
:visited:hover,
a:active,
a:focus:hover {
  text-decoration: underline
}
.AHead-labels a:active,
.AHead-labels a:focus,
.SocialBtns :active,
.SocialBtns :focus,
.Subscribe a:active,
.Subscribe a:focus,
.btn:active,
.btn:focus {
  border-color: #29a119;
  color: #29a119;
  border-style: dotted;
  outline: 0
}
body,
input,
textarea {
  font-family: Arial,Meiryo,"MS PGothic",sans-serif
}
code,
kbd,
samp,
var {
  font-family: SFMono-Regular,"Liberation Mono",Consolas,Meiryo,monospace
}
a img {
  border-width: 2px
}
*,
blockquote .tl tbody td:after,
blockquote :link img,
blockquote :visited img {
  border-color: #bddac8
}
.AHead-labels a:link:active,
.AHead-labels a:link:focus,
.AHead-labels a:visited:active,
.AHead-labels a:visited:focus,
.Subscribe .atom:link:active,
.Subscribe .atom:link:focus,
.Subscribe .atom:visited:active,
.Subscribe .atom:visited:focus,
.Subscribe .fl:link:active,
.Subscribe .fl:link:focus,
.Subscribe .fl:visited:active,
.Subscribe .fl:visited:focus,
.Subscribe .rss:link:active,
.Subscribe .rss:link:focus,
.Subscribe .rss:visited:active,
.Subscribe .rss:visited:focus,
.Subscribe .stm:link:active,
.Subscribe .stm:link:focus,
.Subscribe .stm:visited:active,
.Subscribe .stm:visited:focus,
.btn:link:active,
.btn:link:focus,
.btn:visited:active,
.btn:visited:focus,
.ribbon :link img,
.ribbon :visited img {
  border-color: #010e06
}
a:active img,
a:focus img {
  border-color: #29a119!important
}
:link:hover img,
:visited:hover img {
  top: 2px
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important;
  background: #021605;
  color: #f8fbfa
}
.LinkList :link,
.RichLink-sep :link {
  background: 0 0;
  color: #24c
}
.LinkList :visited,
.RichLink-sep :visited {
  background: 0 0;
  color: #021605
}
.LinkList :link:hover,
.LinkList :visited:hover,
.RichLink-sep :link:hover,
.RichLink-sep :visited:hover,
.tl tr code,
.tl tr var,
blockquote tbody th code,
blockquote tbody th var,
thead code,
thead var {
  background: #bddac8;
  color: #021605
}
.Cover h2,
a:active code,
a:active var,
a:focus code,
a:focus var,
tbody :hover th {
  background: #29a119
}
.LinkList .ribbon a,
.RichLink-sep .ribbon a {
  background: #ecfae8;
  color: #010e06
}
.ribbon .LinkList :link,
.ribbon .RichLink-sep :link {
  background: 0 0;
  color: #bbe
}
.ribbon .LinkList :visited,
.ribbon .RichLink-sep :visited {
  background: 0 0;
  color: #ecfae8
}
.ribbon .LinkList :link:hover,
.ribbon .LinkList :visited:hover,
.ribbon .RichLink-sep :link:hover,
.ribbon .RichLink-sep :visited:hover {
  background: #052209;
  color: #ecfae8
}
.Cover-btn i {
  border-width: .5em 0 .5em .7em;
  top: .15em;
  display: inline-block;
  margin-left: .5em
}
.Cover-btn :link i,
.Cover-btn :link:active i,
.Cover-btn :link:focus i,
.Cover-btn :visited:active i,
.Cover-btn :visited:focus i,
a:active .ico-label:after,
a:focus .ico-label:after {
  border-color: transparent #f8fbfa
}
.Cover-btn :visited i {
  border-color: transparent #021605
}
:active,
:focus {
  outline: 0
}
dt {
  font-weight: 700;
  margin-top: .7em
}
h1,
h2,
h3,
h5,
h6,
th {
  font-weight: 400
}
blockquote,
q {
  quotes: none
}
small {
  font-size: 75%
}
img {
  height: auto
}
cite,
code,
dfn,
em,
kbd,
q,
samp,
strong,
var {
  font-style: normal
}
.ADesc,
.chatL,
.chatR,
pre {
  margin: 1em 0
}
.BlogArchive :link:hover,
.BlogArchive :visited:hover,
.Label a:link:hover,
.Label a:visited:hover,
.aBodyRoot :link:hover,
.aBodyRoot :visited:hover,
.aBodyRoot a:focus,
:link,
:visited,
a:active,
a:focus,
ins {
  text-decoration: none
}
del {
  text-decoration: line-through
}
input {
  font-size: 1em;
  box-sizing: content-box;
  line-height: 1;
  height: 1em
}
.chat p,
body,
dd p,
li p,
tr p {
  line-height: 1.2
}
textarea {
  font-size: 1em;
  overflow: auto;
  margin: 0
}
*,
:after,
:before {
  border-style: solid;
  border-width: 0
}
html {
  font-size: 100%
}
h4,
h5,
h6 {
  font-size: 1em;
  margin: 1.5em 1.5% .8em
}
body,
html {
  margin: 0;
  height: 100%
}
body {
  background: #010e06;
  color: #021605
}
p {
  line-height: 1.9
}
.tl tbody th :link,
.tl tbody th :link:hover,
.tl thead :link,
.tl thead :link:hover,
:link {
  color: #24c
}
.medal,
.tl tbody th,
.tl thead td,
.tl thead th,
:visited {
  color: #021605
}
.ribbon :link:hover,
:link:hover,
form :focus {
  color: #29a119;
  border-color: #29a119
}
:visited:hover {
  color: #419;
  border-color: #419
}
.ribbon a {
  color: #92a094;
  border-color: #010e06
}
a:active,
a:active *,
a:focus,
a:focus * {
  color: #fff!important
}
.ribbon :link {
  color: #bbe
}
.ribbon,
.ribbon .AHead h1,
.ribbon :visited {
  color: #ecfae8
}
.wn,
.wn:after {
  color: #ca088a!important
}
.ribbon :visited:hover {
  color: #b3f;
  border-color: #b3f
}
a:active,
a:focus {
  background-color: #29a119!important
}
h4 {
  border-width: 0 0 0 .7em;
  border-color: #021605;
  padding: 0 0 0 .3em
}
h5 {
  border-width: 0 0 0 .5em;
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  padding: 0 0 0 .7em
}
abbr[title],
acronym,
dfn,
q[cite],
q[title] {
  border-bottom: 1px dotted
}
abbr[title],
acronym,
dfn {
  text-decoration: none;
  cursor: help
}
.AMeta,
.Label a,
.Pager,
.RichLink a,
.SocialBtns,
.tl thead th,
hr,
tbody th,
th {
  border-width: 0 0 1px
}
h2:after,
tfoot th {
  border-width: 2px 0 0
}
.ABody h2,
.Cover h2,
.tl tbody :hover td,
.tl tbody :hover td:before,
.tl tbody :hover th,
h2:after {
  border-color: #29a119
}
#lB .lS,
#lE,
#lF,
#lF .lX,
.tl tfoot th,
table {
  border-width: 1px 0 0
}
iframe,
img {
  max-width: 100%;
  max-width: 94%
}
.Cover-meta,
.commonForm,
a iframe,
a img {
  display: block
}
ol,
ul {
  padding-left: 2em
}
li {
  margin-top: .3em
}
.links a,
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em
}
.hscroll table,
tr ol,
tr ul {
  margin-bottom: .5em
}
.AHead-labels a,
.SocialBtns *,
.Subscribe a,
dd blockquote,
dd dl,
dd p,
dd pre,
dd table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
dd blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dd ol,
dd ul,
li ol,
li ul {
  margin-top: 0;
  margin-bottom: 0
}
input,
textarea {
  border-width: 2px;
  padding: .45em 8px
}
h2 {
  margin: 0;
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
h2:after {
  width: 5em;
  height: 0;
  font-size: .1em;
  line-height: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  content: " ";
  display: block
}
.wn:after {
  background: #ca088a!important
}
hr {
  height: 0;
  border-color: #bddac8;
  margin: 2em 6%
}
tr hr {
  margin: 1em 9%
}
table {
  width: 94%;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0
}
caption {
  margin: 1.5em 3% .7em
}
th {
  text-align: left;
  padding: .5em
}
td {
  padding: .5em 0;
  border-color: #f8fbfa #f8fbfa #bddac8
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em;
  background: #717e73;
  border-color: #bddac8 #79877c;
  color: #f8fbfa
}
tbody td {
  border-width: 0 .5em 1px
}
tfoot td {
  border-width: 2px .5em 0
}
tfoot td,
tfoot th {
  border-color: #717e73 #f8fbfa
}
.BlogArchive,
.BlogArchive tbody :hover td,
.aBodyRoot blockquote tbody th :visited,
.aBodyRoot blockquote tbody th :visited:hover,
.aBodyRoot thead :visited,
.aBodyRoot thead :visited:hover,
blockquote tbody th :link,
blockquote tbody th :link:hover,
thead :link,
thead :link:hover {
  color: #f8fbfa
}
blockquote h3,
blockquote table {
  border-color: #021605
}
blockquote thead td,
blockquote thead th {
  background: #021605;
  border-color: #bddac8 #152a19
}
blockquote tbody th {
  background: #717e73;
  border-color: #bddac8;
  color: #f8fbfa
}
blockquote td {
  border-color: #bddac8 #bddac8 #717e73
}
blockquote tfoot td,
blockquote tfoot th {
  border-color: #021605 #bddac8
}
blockquote tbody :hover td {
  border-color: #bddac8 #bddac8 #29a119
}
.tl tbody :hover th :link,
.tl tbody :hover th :visited,
code .pln,
code .pun,
tbody :hover th,
tbody :hover th :link,
tbody :hover th :visited {
  color: #fff
}
tbody :hover td {
  border-color: #f8fbfa #f8fbfa #29a119;
  color: #29a119
}
tbody :hover th a:active,
tbody :hover th a:focus {
  background: #fff!important;
  color: #29a119!important
}
.Cover-btn,
.commonForm-send,
.r {
  text-align: right
}
.ABody h1,
.ABody h2,
.ABody h3,
.AHead h1,
.Attribution,
.Header,
.c {
  text-align: center
}
.uc {
  text-transform: uppercase
}
.ribbon * {
  border-color: #052209
}
#lB .lS {
  background: #ebeed5
}
em {
  background: #ff6
}
strong {
  background: #6cf
}
.lM1,
.lS1 {
  float: left
}
.lM2,
.lS2 {
  float: right
}
#lB .lS1 {
  width: 45.5%;
  padding: 0 0 0 3%
}
#lB .lS2 {
  width: 45.5%;
  padding: 0 3% 0 0
}
.AHead-labels a:link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #010e06
}
.btn:visited {
  background: #010e06;
  border-color: #ecfae8;
  color: #ecfae8
}
.commonForm-pair {
  overflow: hidden;
  margin-bottom: 1em
}
.commonForm label {
  display: block;
  float: left;
  width: 7em;
  padding: .45em 0 0
}
.Cover img,
.commonForm-wrap * {
  width: 100%
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.commonForm-wrap {
  display: block;
  margin: 0 20px 0 8em
}
.ico-author,
.ico-chain,
.ico-clock,
.ico-comment,
.ico-flag,
.ico-label,
.ico-pen,
.ico-sylinder {
  position: relative;
  padding-left: 1.2em
}
.ico-author:after,
.ico-author:before,
.ico-chain:after,
.ico-chain:before,
.ico-clock:after,
.ico-clock:before,
.ico-comment:after,
.ico-comment:before,
.ico-flag:after,
.ico-flag:before,
.ico-label:after,
.ico-label:before,
.ico-pen:after,
.ico-pen:before,
.ico-sylinder:after,
.ico-sylinder:before {
  text-indent: -1em;
  position: absolute;
  margin-top: .1em;
  content: " ";
  display: block
}
.ico-clock:before {
  top: 0;
  left: 0;
  width: .7em;
  height: .7em;
  border-width: .15em;
  border-color: #717e73
}
.ribbon .ico-author:after,
.ribbon .ico-author:before,
.ribbon .ico-chain:after,
.ribbon .ico-chain:before,
.ribbon .ico-clock:after,
.ribbon .ico-clock:before,
.ribbon .ico-comment:before,
.ribbon .ico-flag:after,
.ribbon .ico-flag:before,
.ribbon .ico-label:before,
.ribbon .ico-pen:before,
.ribbon .ico-sylinder:after,
.ribbon .ico-sylinder:before {
  border-color: #92a094
}
.ico-clock:after {
  top: .2em;
  left: .43em;
  width: .23em;
  height: .23em;
  border-width: 0 0 .14em .14em;
  border-color: #717e73
}
.ico-label:before {
  top: .2em;
  left: 0;
  width: .7em;
  height: 0;
  border-width: .6em 0 0;
  border-color: #717e73
}
.ico-label:after {
  top: .2em;
  left: .7em;
  width: 0;
  height: 0;
  border-width: .3em 0 .3em .3em;
  border-color: transparent #717e73
}
.ribbon .ico-label:after {
  border-color: transparent #92a094
}
.ico-author:before {
  top: 0;
  left: .3em;
  width: .45em;
  height: 0;
  border-width: .225em 0;
  border-color: #717e73
}
.ico-author:after {
  top: .5em;
  left: .1em;
  width: 0;
  height: 0;
  border-width: .5em .4em 0;
  border-color: #717e73
}
.ico-flag:after,
.ico-flag:before,
.ico-pen:before {
  top: 0;
  border-color: #717e73;
  height: 0
}
.ico-flag:before {
  left: 0;
  width: .1em;
  border-width: 1em 0 0
}
.ico-flag:after {
  left: .2em;
  width: .8em;
  border-width: .7em 0 0
}
.ico-pen:before {
  left: .25em;
  width: .5em;
  border-width: 0 0 .7em
}
.ico-pen:after {
  top: .75em;
  left: .25em;
  width: 0;
  height: 0;
  border-width: .25em .25em 0;
  border-color: #717e73 transparent
}
a:active .ico-comment:after,
a:active .ico-pen:after,
a:focus .ico-comment:after,
a:focus .ico-pen:after {
  border-color: #f8fbfa transparent
}
.ribbon .ico-comment:after,
.ribbon .ico-pen:after {
  border-color: #92a094 transparent
}
.ico-chain:before {
  top: .05em;
  left: .05em;
  width: .3em;
  height: .3em;
  border-width: .2em 0 .2em .2em;
  border-color: #717e73
}
.ico-chain:after {
  top: .3em;
  left: .3em;
  width: .3em;
  height: .3em;
  border-width: .2em .2em .2em 0;
  border-color: #717e73
}
.ico-sylinder:after,
.ico-sylinder:before {
  width: .4em;
  height: .4em;
  border-color: #717e73
}
.ico-sylinder:before {
  top: 0;
  left: .1em;
  border-width: .25em .2em .35em
}
.ico-sylinder:after {
  top: .15em;
  left: .2em;
  border-width: .1em
}
.ico-comment:before {
  top: 0;
  left: 0;
  width: .7em;
  height: .45em;
  border-width: .15em;
  border-color: #717e73
}
.ico-comment:after {
  top: .65em;
  left: .3em;
  width: 0;
  height: 0;
  border-width: .35em .2em 0;
  border-color: #717e73 transparent
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
.Cover,
.RichLink-sep {
  line-height: 1.4
}
:link .medal,
:visited .medal {
  border-color: #021605;
  background: #021605;
  color: #f8fbfa
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #6d6309
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #61686b
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #e6d6a9
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #92a094
}
#lF .lM .mspacer,
.Cover p {
  margin: .6em .5em
}
.lS .mspacer {
  margin: .6em 0
}
.mspacer {
  margin: 1em .5em!important
}
.AAuthor {
  margin: 1em 0;
  padding: 0
}
.AAuthor img {
  top: .4em;
  float: left;
  margin: 0 1em 1em 0
}
.ABody {
  margin: 3.5em 0 2em
}
.ABody h1 {
  font-size: 2em;
  margin: 3em 1.5%
}
.ABody h2 {
  font-size: 1.5em;
  border-width: .2em 0 0;
  color: #29a119;
  margin: 2em 1.5% 1em
}
.ABody h2:after,
.AHead-labels i,
.Cover h2:after,
.RichLink br {
  display: none
}
.BlogArchive a,
.BreadcrumbList a,
.Cover h2,
.Cover-meta span,
.Label a,
.RichLink-meta span,
.TxtNavi a,
.links a,
kbd {
  display: inline-block
}
.ABody h3 {
  font-weight: 700;
  font-size: 1.25em;
  border-width: .1em 0 0;
  margin: 2.4em 1.5% 1.2em
}
.ABody h1,
.ABody h2,
.ABody h3 {
  padding-left: 1.5%;
  padding-right: 1.5%
}
.ADesc p,
.box {
  margin: 1em 0 0
}
.AHead {
  color: #717e73;
  margin: 1em 0
}
.AHead h1 {
  font-size: 2em;
  color: #021605;
  padding: 2em 0;
  margin: 0
}
.Attribution small,
.RichLink-meta,
.prettyprint code {
  font-size: .875em
}
.AHead-labels {
  margin-top: .5em;
  font-family: Meiryo,"MS PGothic",sans-serif;
  color: #010e06
}
.AHead-labels a:visited {
  background: #010e06;
  border-color: #92a094;
  color: #92a094
}
.AHead-labels a:link:hover {
  border-color: #bbe;
  color: #010e06
}
.Attribution {
  padding: 1em 0
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive th {
  word-break: normal;
  word-wrap: normal
}
.BlogArchive a {
  margin: 0 0 1em;
  border-width: 0 0 1px
}
.BreadcrumbList {
  padding: 1em 0;
  color: #717e73
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  font-size: 93%
}
.Comment p {
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover h2,
.aa,
.chat,
.chatMember,
.mona,
blockquote,
kbd {
  border-width: 1px
}
.Cover-img {
  height: 100%;
  margin: 0 0 .6em
}
.Cover-meta,
.SearchResult div div {
  margin: 0 .5em
}
.Cover img {
  margin: 0;
  display: block;
  max-width: 100%
}
.Cover .img-loaded div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}
.Cover h2 {
  color: #f8fbfa;
  font-size: .825em;
  padding: .6em
}
.Cover h3 {
  font-size: 1.33em;
  padding: .37em;
  margin: 0;
  color: #fff;
  background: #000
}
.Cover {
  margin: 2em auto
}
.Label div {
  color: #f8fbfa;
  text-justify: inter-ideograph;
  line-break: normal
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #010e06
}
.Label a {
  margin: 0 0 1.7em
}
#lF .Label a,
.lS .Label a {
  margin: 0 0 1.3em
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList :active,
.LinkList :focus:hover {
  text-decoration: underline!important
}
.RichLink a {
  padding: 1em .5em 0;
  border-color: #052209!important
}
.baseColor .RichLink a {
  border-color: #bddac8!important
}
.RichLink-meta {
  color: #052209;
  margin: 1.143em 0
}
.baseColor .RichLink-meta {
  color: #bddac8
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  margin: 0 .6em 1em 0
}
.RichLink p {
  margin: 1em 0;
  line-height: 1.2
}
.Header,
.Header h1,
.aa,
.chatMember {
  line-height: 1
}
.RichLink b {
  display: block;
  font-weight: 400;
  padding: 0 0 .571em;
  font-size: 1em
}
.lS .RichLink a {
  padding: .7em .5em 0
}
.lS .RichLink img {
  float: left;
  margin: 0 .5em .6em 0
}
.Search {
  display: block;
  height: 1.9em;
  margin: 0 3em 0 22px;
  width: auto
}
.Search input {
  position: absolute;
  top: 0
}
.chatL,
.chatL p,
.chatR,
.chatR p {
  position: relative;
  text-align: left
}
.Search-txt {
  display: block;
  width: 100%;
  left: -22px
}
.Search input:active,
.Search input:focus,
.Search input:hover {
  z-index: 1
}
.Search .btn {
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
  width: 3em;
  right: -3em;
  text-overflow: ellipsis
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621
}
.SearchResult div p {
  margin: .2em 0 0;
  color: #545454;
  line-height: 1.2
}
.SearchResult div span {
  color: grey
}
.SearchResult-multi {
  margin: 2em 0
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em;
  padding-bottom: 1em
}
.Header h1,
.h1 {
  font-size: 1.5em;
  display: block;
  margin: 0 0 .5em
}
.Header h1 {
  padding: 0
}
#lH .lMi {
  padding-bottom: 0
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #010e06
}
.Subscribe .atom:visited {
  background: #010e06;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #010e06
}
.Subscribe .rss:visited {
  background: #010e06;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #010e06
}
.Subscribe .fl:visited {
  background: #010e06;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #010e06
}
.Subscribe .stm:visited {
  background: #010e06;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right;
  color: #f8fbfa
}
.aa {
  margin: 1em 0;
  font-family: monospace;
  background: #0a0809;
  border-color: #0a0809
}
.note .aa,
.note .mona,
.note .prettyprint,
dl .aa,
dl .mona,
dl .prettyprint,
li .aa,
li .mona,
li .prettyprint,
tr .aa,
tr .mona,
tr .prettyprint {
  padding: 1em
}
.aa,
.mona,
.note .aa,
.note .mona,
.note .prettyprint,
.prettyprint {
  padding: 1em 3%
}
.aa,
.aa code,
.aa var {
  color: #00ac06
}
.aBodyRoot :visited,
.tl tbody th :visited,
.tl tbody th :visited:hover,
.tl thead :visited,
.tl thead :visited:hover,
blockquote .tl tbody th :visited {
  color: #717
}
.aBodyRoot :visited:hover {
  color: #419
}
blockquote {
  padding: 1em 1px
}
blockquote:before {
  content: attr(title);
  display: block
}
blockquote:after {
  content: attr(cite)
}
.js-bqLink,
blockquote:before {
  font-size: .875em;
  color: #24c;
  margin: 0 1.5%
}
.js-bqCite,
blockquote:after {
  display: block;
  font-size: .875em;
  text-align: right;
  color: #717e73;
  margin: 0 1.5%
}
.box > p:first-of-type {
  margin-top: -.225em
}
tr .box > p:first-of-type {
  margin-top: auto
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 3% 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box .caption,
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 3%
}
.chat {
  color: #fff;
  background: #7493c2;
  border-color: #f8fbfa;
  padding-bottom: 1em;
  margin: 1em 0;
  text-align: center
}
.chatTitle {
  background: #273248;
  border-color: #273248;
  border-width: 0 0 1px;
  padding: 1em 2%
}
.chat h2,
.chat h3,
.chat h4,
.chat h5,
.chat h6,
.chat p {
  font-size: 1em;
  color: #fff;
  background: #5d769e;
  border-color: #5d769e;
  border-width: 1px;
  margin: 1em 2%;
  padding: .4em 2%;
  display: inline-block
}
.chatL {
  padding: 0 20% 0 4em
}
.chatR {
  padding: 0 4em 0 20%
}
.chatL p,
.chatR p {
  margin: .4em 0;
  display: block;
  color: #111
}
.chatL p:after,
.chatR p:after {
  position: absolute;
  top: .7em;
  width: 0;
  height: 0;
  content: " ";
  display: block
}
.chatL p:after {
  border-color: transparent #fff;
  border-width: .3em .6em .3em 0;
  left: -.6em
}
.chatR p:after {
  border-color: transparent #85e445;
  border-width: .3em 0 .3em .6em;
  right: -.6em
}
.chatL .chatMember,
.chatL p {
  background: #fff;
  border-color: #fff
}
.chatR .chatMember,
.chatR p {
  background: #85e445;
  border-color: #85e445
}
.tl td,
.tl th,
pre code,
pre var {
  background: 0 0!important
}
.chatMember {
  position: absolute;
  top: -.414em;
  text-align: center!important;
  width: 2em;
  height: 1em;
  padding: .914em .414em;
  color: #111
}
.chatL .chatMember {
  left: .4em
}
.chatR .chatMember {
  right: .4em
}
.hscroll {
  margin: 1em 0;
  overflow-x: auto;
  overflow-y: hidden
}
.hscroll pre {
  margin: 0 0 .5em;
  white-space: pre;
  overflow: auto
}
.hscroll table {
  white-space: nowrap
}
kbd {
  border-color: #021605;
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em
}
kbd:hover {
  top: -.1em
}
code,
var {
  padding: .1em .4em
}
pre code,
pre var {
  padding: 0;
  margin: 0
}
blockquote .tl tr code,
blockquote .tl tr var,
blockquote code,
blockquote var,
tbody th code,
tbody th var {
  background: #717e73;
  color: #f8fbfa
}
.links [href]:before {
  content: ">";
  position: relative;
  left: -.5em;
  width: 1em;
  text-align: center;
  font-weight: 700
}
.links [href*="/web.archive."]:before {
  content: "*"
}
.mona {
  font-family: Mona,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","MS PGothic","MS Pｺﾞｼｯｸ","ＭＳＰゴシック","MSPゴシック",sans-serif;
  line-height: 1.125;
  background: #bcd;
  border-color: #bcd;
  color: #00193d
}
.tl,
.tl th {
  border-width: 0
}
.note {
  padding-left: 25%
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 3%
}
.caption {
  display: block;
  text-align: center;
  font-size: .875em;
  max-width: 100%
}
.caption img {
  margin: 0 0 .5em!important
}
.caption * {
  float: none!important
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  border-color: #bddac8;
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  text-align: left
}
.tl td {
  padding: .5em .8em;
  border-width: 0 0 0 .3em;
  border-color: #bddac8;
  border-style: solid
}
.tl tbody td:after,
.tl tbody td:before {
  text-indent: -1em;
  position: absolute;
  content: " ";
  display: block
}
.tl tbody td:before {
  top: .6em;
  left: -.75em;
  width: 0;
  height: 0;
  border-width: .6em;
  border-color: #bddac8
}
.tl tbody td:after {
  top: .85em;
  left: -.5em;
  width: 0;
  height: 0;
  border-width: .35em;
  border-color: #f8fbfa
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.tl tbody :hover th {
  background: #29a119!important;
  color: #fff
}
.AMeta {
  padding: .5em 0
}
.AMeta div {
  margin: .5em 0;
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager {
  color: #f8fbfa;
  height: 4em
}
.Pager-next {
  left: 0
}
.Pager-top {
  left: 34%;
  text-align: center
}
.Pager-prev {
  right: 0;
  text-align: right
}
.Pager span {
  position: absolute;
  top: 1em;
  display: block;
  width: 32%
}
.Pager i {
  display: inline-block;
  border-color: transparent #717e73
}
.Pager-next i {
  border-width: .5em .7em .5em 0;
  margin-right: .5em
}
.Pager-prev i {
  border-width: .5em 0 .5em .7em;
  margin-left: .5em
}
.Pager :active i,
.Pager :focus i {
  border-color: transparent #fff
}
.Pager-top i {
  border-width: 0 .45em .9em;
  margin-right: .5em;
  border-color: #717e73 transparent
}
.Pager-top :active i,
.Pager-top :focus i {
  border-color: #fff transparent
}
.SocialBtns {
  padding: 1em 0 .5em;
  color: #f8fbfa;
  text-align: center
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #f8fbfa
}
.SocialBtns .tw:visited {
  background: #f8fbfa;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .fb:link:active,
.SocialBtns .fb:link:focus,
.SocialBtns .fb:visited:active,
.SocialBtns .fb:visited:focus,
.SocialBtns .pt:link:active,
.SocialBtns .pt:link:focus,
.SocialBtns .pt:visited:active,
.SocialBtns .pt:visited:focus {
  border-color: #fff
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #f8fbfa
}
.SocialBtns .hb:visited {
  background: #f8fbfa;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #f8fbfa
}
.SocialBtns .pk:visited {
  background: #f8fbfa;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #f8fbfa
}
.SocialBtns .ln:visited {
  background: #f8fbfa;
  border-color: #00c300;
  color: #00c300
}
.prettyprint {
  background: #333;
  color: #fff;
  border-width: 1px;
  border-color: #333
}
code .atv,
code .str {
  color: #65b042
}
code .kwd {
  color: #e28964
}
code .com {
  color: #aeaeae;
  font-style: italic
}
code .tag,
code .typ {
  color: #89bdff
}
code .dec,
code .lit {
  color: #3387cc
}
code .atn {
  color: #bdb76b
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.jsCapLarge,
.jsPicaLarge img {
  margin: 0 auto 1em
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none
}
.jsPicaLarge img {
  width: 100%;
  height: auto;
  max-width: 100%;
  box-sizing: border-box
}
.box .jsCapLarge {
  float: none
}
#lE,
#lF {
  border-top: .3em solid #29a119
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #f8fbfa
}
.baseColor .btn:visited {
  background: #f8fbfa;
  border-color: #021605;
  color: #021605
}
@media screen {
  #lB .lM {
    padding-bottom: 4em
  }
  #lB .lSi,
  .lM,
  .lS,
  .lX {
    max-width: 50em;
    margin: 0 auto
  }
  #lB .lS {
    padding-bottom: 1em;
    max-width: 100%
  }
  .lMi,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0 3%
  }
}
@media print {
  .ico-author:after,
  .ico-author:before,
  .ico-chain:after,
  .ico-chain:before,
  .ico-clock:after,
  .ico-clock:before,
  .ico-comment:before,
  .ico-flag:after,
  .ico-flag:before,
  .ico-label:before,
  .ico-pen:before,
  .ico-sylinder:after,
  .ico-sylinder:before,
  .ribbon .ico-author:after,
  .ribbon .ico-author:before,
  .ribbon .ico-chain:after,
  .ribbon .ico-chain:before,
  .ribbon .ico-clock:after,
  .ribbon .ico-clock:before,
  .ribbon .ico-comment:before,
  .ribbon .ico-flag:after,
  .ribbon .ico-flag:before,
  .ribbon .ico-label:before,
  .ribbon .ico-pen:before,
  .ribbon .ico-sylinder:after,
  .ribbon .ico-sylinder:before,
  blockquote code,
  blockquote var,
  table,
  tbody th,
  tbody th code,
  tbody th var,
  thead code,
  thead td,
  thead th,
  thead var {
    border-color: #666
  }
  .chatMember,
  .chatTitle,
  caption,
  dt,
  thead {
    page-break-after: avoid
  }
  code .typ,
  th {
    font-weight: 700
  }
  .LinkList a,
  .RichLink-sep a,
  .SearchResult div div,
  .box,
  .caption,
  .commonForm-pair,
  dd,
  dt,
  img,
  li,
  tr {
    page-break-inside: avoid
  }
  .LinkList :link,
  .RichLink-sep :link,
  .ribbon :link,
  :link,
  blockquote tbody th :link,
  blockquote thead th :link,
  thead :link {
    color: #006
  }
  .AHead-labels,
  .LinkList :visited,
  .RichLink-sep :visited,
  .aa code,
  .aa var,
  .tl tr code,
  .tl tr var,
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote tbody th code,
  blockquote tbody th var,
  blockquote var,
  code .pln,
  tbody th code,
  tbody th var,
  thead code,
  thead var {
    color: #000
  }
  p {
    line-height: 1.5
  }
  .ADesc,
  .ribbon a,
  a {
    color: #666
  }
  .ribbon :visited,
  :visited,
  blockquote tbody th :visited,
  blockquote thead th :visited,
  thead :visited {
    color: #606
  }
  .chat h2,
  .chat h3,
  .chat h4,
  .chat h5,
  .chat h6,
  .chat p,
  .h1,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-inside: avoid;
    page-break-after: avoid
  }
  blockquote pre {
    margin: 1em
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Cover-btn,
  .TxtNavi,
  .js-bqLink a:after,
  .noprint,
  [href$=".GIF"]:after,
  [href$=".JPEG"]:after,
  [href$=".JPG"]:after,
  [href$=".PNG"]:after,
  [href$=".gif"]:after,
  [href$=".jpeg"]:after,
  [href$=".jpg"]:after,
  [href$=".png"]:after,
  [href*="/blogger.googleusercontent.com/img/"]:after,
  [href*="/viewer.diagrams.net/?"]:after,
  h2:after {
    display: none
  }
  table {
    margin: 1em 0;
    width: 100%
  }
  thead td,
  thead th {
    background: #ccc;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  tbody th {
    background: #ccc
  }
  td {
    border-color: #fff #fff #ccc
  }
  tfoot td,
  tfoot th {
    border-color: #666 #fff
  }
  blockquote table,
  kbd {
    border-color: #000
  }
  blockquote thead td,
  blockquote thead th {
    background: #ccc;
    border-color: #000;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  blockquote tbody th {
    background: #ccc;
    border-color: #000;
    color: #000
  }
  blockquote td {
    border-color: #fff #fff #666
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #000 #fff
  }
  .Cover h2,
  .Cover h3,
  .aa,
  .baseColor,
  .mona,
  .ribbon,
  body {
    background: #fff;
    color: #000
  }
  *,
  .ribbon * {
    border-color: #ccc
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  .ico-label:after,
  .ribbon .ico-label:after {
    border-color: transparent #666
  }
  .ico-comment:after,
  .ico-pen:after,
  .ribbon .ico-comment:after,
  .ribbon .ico-pen:after {
    border-color: #666 transparent
  }
  .ABody {
    margin: 0 0 2em
  }
  .AHead {
    color: #666!important;
    padding: 0 3%
  }
  .AHead h1 {
    color: #000!important
  }
  .AHead-labels i {
    display: inline-block
  }
  .AHead-labels a {
    display: inline;
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0;
    color: #666!important
  }
  .AMeta,
  .Header {
    padding: 0 3%
  }
  .Cover .img-loaded div {
    position: static
  }
  .Cover h2 {
    border-width: 1px;
    border-color: #000;
    margin-top: 1em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding: .5em 0
  }
  .Header {
    text-align: left
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    text-align: center;
    margin: 0 0 .5em
  }
  .Header h1 + span {
    display: block;
    text-align: center
  }
  .AMeta-cita:after,
  .aBodyRoot a[href]:after {
    content: " (" attr(href) ") ";
    font-size: .875em;
    color: #006
  }
  .chat,
  .chat .chatMember,
  .chat h2,
  .chat h3,
  .chat h4,
  .chat h5,
  .chat h6,
  .chat p,
  .chatL p,
  .chatR p {
    color: #000;
    border-color: #666;
    background: #fff
  }
  blockquote {
    background: 0 0;
    margin: 1em 0
  }
  .chatTitle,
  .prettyprint {
    background: #fff
  }
  .chatL p:before,
  .chatR p:before {
    position: absolute;
    top: .7em;
    width: 0;
    height: 0;
    border-color: #fff #666;
    content: " ";
    display: block
  }
  .chatL p:before {
    border-width: 4px 7px 4px 0;
    left: -7px
  }
  .chatR p:before {
    border-width: 4px 0 4px 7px;
    right: -7px
  }
  .chatL p:after,
  .chatR p:after {
    border-color: transparent #fff
  }
  .chatL p:after {
    border-width: 4px 7px 4px 0;
    left: -6px
  }
  .chatR p:after {
    border-width: 4px 0 4px 7px;
    right: -6px
  }
  .hscroll {
    overflow-x: visible;
    overflow-y: visible
  }
  .hscroll table {
    width: 100%;
    margin: 0;
    white-space: normal
  }
  .hscroll pre {
    margin: 0;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word
  }
  code,
  var {
    background: 0 0!important;
    border-width: 1px;
    border-color: #ccc
  }
  #lF,
  pre code {
    border: 0
  }
  .tl tbody td:after,
  blockquote .tl tbody td:after {
    border-color: #fff
  }
  .Pager,
  .SocialBtns {
    padding: 0 3%;
    display: none
  }
  code .atv,
  code .str {
    color: #060
  }
  code .kwd,
  code .tag {
    color: #006;
    font-weight: 700
  }
  code .com {
    color: #600;
    font-style: italic
  }
  code .atn,
  code .typ {
    color: #404
  }
  code .lit {
    color: #044
  }
  code .pun {
    color: #440
  }
  code .dec {
    color: #003
  }
}