@charset "UTF-8";
.BlogArchive :link:hover,
.BlogArchive :visited:hover,
.Label :link:hover,
.Label :visited:hover,
.aBodyRoot :link:hover,
.aBodyRoot :visited:hover,
.aBodyRoot a:active,
.aBodyRoot a:focus,
:link,
:visited,
a:focus,
ins {
  text-decoration: none
}
.SocialBtns .hb:active,
.SocialBtns .hb:focus,
.SocialBtns .ln:active,
.SocialBtns .ln:focus,
.SocialBtns .pk:active,
.SocialBtns .pk:focus,
.SocialBtns .tw:active,
.SocialBtns .tw:focus,
.baseColor .btn:active,
.baseColor .btn:focus,
a,
a img,
a:active .ico-author:after,
a:active .ico-author:before,
a:active .ico-chain:after,
a:active .ico-chain:before,
a:active .ico-clock:after,
a:active .ico-clock:before,
a:active .ico-comment:before,
a:active .ico-flag:after,
a:active .ico-flag:before,
a:active .ico-label:before,
a:active .ico-pen:before,
a:active .ico-sylinder:after,
a:active .ico-sylinder:before,
a:focus .ico-author:after,
a:focus .ico-author:before,
a:focus .ico-chain:after,
a:focus .ico-chain:before,
a:focus .ico-clock:after,
a:focus .ico-clock:before,
a:focus .ico-comment:before,
a:focus .ico-flag:after,
a:focus .ico-flag:before,
a:focus .ico-label:before,
a:focus .ico-pen:before,
a:focus .ico-sylinder:after,
a:focus .ico-sylinder:before,
tbody th {
  border-color: #f8fbf8
}
a:active,
a:focus {
  background-color: #3079ed!important
}
blockquote .tl tbody td:before,
blockquote .tl td,
blockquote .tl tfoot td,
blockquote .tl tfoot th,
blockquote .tl thead td,
blockquote .tl thead th,
blockquote blockquote,
blockquote table,
h5,
h6 {
  border-color: #777
}
.tl td > :first-child,
dl iframe,
dl img,
li iframe,
li img,
tr iframe,
tr img,
tr ol,
tr ul {
  margin-top: 0
}
.AAuthor p,
.ADesc p,
.note .box,
aside,
dl .box,
figure,
h2,
input,
li .box,
textarea,
tr .box {
  margin: 0
}
.Magazine-mm,
.Magazine-yy,
.commonForm,
a iframe,
a img,
h2:after {
  display: block
}
.Magazine-label,
.Magazine-main,
.RichLink b,
.caption,
.links,
pre,
td,
th {
  word-break: break-all
}
[type=submit],
hr,
tbody th {
  background: #ddd
}
.lM1,
.lM2,
.lS1,
.lS2 {
  width: 48.5%
}
.BlogArchive th,
.Magazine-date {
  word-break: normal;
  word-wrap: normal
}
.Cover-img,
.Magazine-main,
.Search,
.links a,
.tl td,
:link:hover img,
:visited:hover img,
h2,
kbd:hover,
sub,
sup {
  position: relative
}
.Magazine-date,
.aa {
  font-family: monospace
}
.AAuthor,
.Comment p,
.Cover,
.Magazine-snippet,
.RichLink a,
.Search .btn,
.box,
.commonForm-pair,
.lMi,
.lSi,
.lW,
.lX {
  overflow: hidden
}
.Cover h2,
a:active code,
a:active var,
a:focus code,
a:focus var,
tbody :hover th {
  background: #3079ed
}
.links,
pre {
  white-space: -webkit-pre-wrap;
  white-space: pre-wrap
}
.ABody h3,
.Magazine h3,
.Magazine-date,
.links [href]:before,
dt {
  font-weight: 700
}
.RichLink b,
h1,
h2,
h3,
h5,
h6,
th {
  font-weight: 400
}
.Cover img,
.box iframe,
.box img,
.caption {
  max-width: 100%
}
@font-face {
  font-family: "YuGothic M";
  src: local("Yu Gothic Medium"),local("Yu Gothic");
  font-weight: 500
}
body,
input,
textarea {
  font-family: -apple-system,BlinkMacSystemFont,"Avenir Next",Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,Roboto,"UD Digi Kyokasho NP-R",YuKyokasho,"游ゴシック Medium","Yu Gothic Medium","游ゴシック","Yu Gothic","游ゴシック体",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","M+ 1p",sans-serif
}
@supports (-moz-appearance:none) and (display:contents) and (not (ruby-position:over)) and (not (-moz-osx-font-smoothing:auto)) and (not (text-align-last:auto)) {
  @media (-moz-os-version:windows-win8) and (-moz-overlay-scrollbars) {
    body,
    input,
    textarea {
      font-family: sans-serif
    }
  }
}
.ABody h1,
.ABody h2,
.ABody h3,
.ABody h4,
.ABody h5,
.ABody h6,
.AHead h1 {
  font-family: "游明朝",YuMincho,"ヒラギノ明朝 ProN W3","Hiragino Mincho ProN","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif
}
code,
kbd,
samp,
var {
  font-family: SFMono-Regular,"Liberation Mono",Consolas,Meiryo,monospace
}
*,
blockquote .tl tbody td:after,
blockquote :link img,
blockquote :visited img {
  border-color: #ddd
}
.AHead-labels :active,
.AHead-labels :focus,
.Subscribe .atom:active,
.Subscribe .atom:focus,
.Subscribe .fl:active,
.Subscribe .fl:focus,
.Subscribe .rss:active,
.Subscribe .rss:focus,
.Subscribe .stm:active,
.Subscribe .stm:focus,
.btn:active,
.btn:focus,
.ribbon :link img,
.ribbon :visited img {
  border-color: #1a1a1a
}
:target td,
:target th,
a:active img,
a:focus img {
  border-color: #3079ed!important
}
:link:hover img,
:visited:hover img {
  top: 2px
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important;
  overflow: hidden;
  height: auto
}
.LinkList a:focus ::selection,
.RichLink-sep a:focus ::selection {
  background-color: transparent
}
.LinkList a:not([href]),
.RichLink-sep a:not([href]) {
  background: #111;
  color: #f8fbf8
}
.ribbon .LinkList a:not([href]),
.ribbon .RichLink-sep a:not([href]) {
  background: #fff;
  color: #1a1a1a
}
.ribbon .LinkList :link:hover,
.ribbon .LinkList :visited:hover,
.ribbon .RichLink-sep :link:hover,
.ribbon .RichLink-sep :visited:hover {
  background: #2a2a2a;
  color: #fff
}
:active,
:focus {
  outline: 0
}
a:active,
a:focus,
button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus,
textarea:active,
textarea:focus {
  outline: transparent solid 2px
}
html {
  font-size: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale
}
small,
sub,
sup {
  font-size: 75%
}
body,
html {
  margin: 0;
  height: 100%
}
dt {
  margin-top: .7em
}
blockquote,
q {
  quotes: none
}
sub,
sup {
  line-height: 0;
  vertical-align: baseline
}
h4,
h5,
h6,
input,
textarea {
  font-size: 1em
}
.Header,
.Header h1,
.aa,
.btn,
input {
  line-height: 1
}
.Magazine-date,
.Magazine-main,
.btn,
.tl th,
tbody th,
td {
  vertical-align: top
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  height: auto
}
cite,
code,
dfn,
em,
kbd,
q,
samp,
strong,
var {
  font-style: normal
}
pre {
  margin: 1em 0;
  padding: 1em 3%
}
ol,
ul {
  list-style-position: outside;
  padding-left: 2em
}
del {
  text-decoration: line-through
}
dd,
li {
  margin-bottom: .3em
}
#blog2slide-start button,
.links,
.note,
blockquote,
dl,
iframe,
img,
ol,
p,
table,
tr blockquote p,
tr blockquote pre,
ul {
  margin: 1em 3%
}
code,
kbd,
var {
  margin: 0 .1em
}
aside {
  padding: 0;
  border: 0
}
input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 1em
}
body,
dd p,
li p,
tr p {
  line-height: 1.2
}
[type=submit]::-webkit-search-decoration {
  display: none
}
[type=submit]:focus {
  outline-offset: -2px
}
::-moz-focus-inner {
  border: 0
}
textarea {
  overflow: auto;
  resize: vertical;
  background-image: none
}
* {
  border-style: solid;
  border-width: 0
}
body {
  background: #1a1a1a;
  color: #111
}
p {
  line-height: 1.9
}
:link,
:visited {
  background-color: transparent
}
.aBodyRoot :link,
.aBodyRoot :visited,
.aBodyRoot a:focus:hover,
:link:hover,
:visited:hover,
a:active,
a:focus:hover,
input.btn:hover {
  text-decoration: underline
}
:link,
:link *,
:visited,
:visited * {
  -webkit-transition-property: background-color,color,border-color;
  -webkit-transition: .3s ease-in;
  -moz-transition: background-color .3s ease-in,color .3s ease-in,border-color .3s ease-in;
  -o-transition: background-color .3s ease-in,color .3s ease-in,border-color .3s ease-in;
  transition: background-color .3s ease-in,color .3s ease-in,border-color .3s ease-in
}
a {
  color: #777
}
.tl tbody th :link,
.tl tbody th :link:hover,
.tl thead :link,
.tl thead :link:hover,
:link {
  color: #24c
}
.tl tbody th,
.tl thead td,
.tl thead th,
:visited {
  color: #111
}
.ribbon :link:hover,
:link:hover,
form :active,
form :focus {
  color: #3079ed;
  border-color: #3079ed
}
:visited:hover {
  color: #419;
  border-color: #419
}
.ribbon a {
  color: #bbb;
  border-color: #1a1a1a
}
.ribbon :link {
  color: #bbe
}
.ribbon,
.ribbon .AHead h1,
.ribbon :visited,
.tl tbody :hover th :link,
.tl tbody :hover th :visited,
tbody :hover th,
tbody :hover th :link,
tbody :hover th :visited {
  color: #fff
}
:target,
:target *,
a:active,
a:active *,
a:focus,
a:focus * {
  color: #fff!important
}
.ribbon :visited:hover {
  color: #b3f;
  border-color: #b3f
}
:target,
:target * {
  background: #3079ed!important;
  border-color: #fff!important
}
.wn,
.wn:after {
  color: red!important
}
td:target,
th:target {
  border-color: inherit!important
}
h4,
h5,
h6 {
  margin: 1.5em 1.5% .8em
}
h4 {
  border-width: 0 0 0 .7em;
  border-color: #111;
  padding: 0 0 0 .3em
}
h5 {
  border-width: 0 0 0 .5em;
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  color: #777;
  padding: 0 0 0 .7em
}
abbr[title],
acronym,
dfn,
q[cite],
q[title] {
  border-bottom: 1px dotted
}
abbr[title],
acronym,
dfn {
  text-decoration: none;
  cursor: help
}
.AMeta,
.Label a,
.Pager,
.RichLink a,
.SocialBtns,
.tl thead th,
hr,
tbody th,
th {
  border-width: 0 0 1px
}
.ABody h2,
.ABody h2 *,
.tl tbody :hover td,
.tl tbody :hover td:before,
.tl tbody :hover th,
h2:after {
  border-color: #3079ed
}
iframe,
img {
  max-width: 94%
}
li {
  margin-top: .3em
}
.links a,
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em
}
tr ol,
tr ul {
  margin-bottom: .5em
}
.jsCapLarge a,
dd blockquote,
dd dl,
dd p,
dd pre,
dd table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
dd blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dd ol,
dd ul,
li ol,
li ul {
  margin-top: 0;
  margin-bottom: 0
}
form :invalid {
  box-shadow: none;
  color: red
}
input,
textarea {
  border-width: 2px;
  padding: .45em 8px
}
input:placeholder-shown,
textarea:placeholder-shown {
  color: #777
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #777
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #777;
  opacity: 1
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #777;
  opacity: 1
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #777
}
.baseColor,
.medal {
  background: #f8fbf8
}
h2 {
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
h2:after {
  width: 5em;
  height: 0;
  font-size: .1em;
  line-height: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-style: solid;
  border-width: 2px 0 0;
  content: " "
}
.wn:after {
  background: red!important
}
hr {
  height: 1px;
  border-color: transparent;
  margin: 2em 6%
}
tr hr {
  margin: 1em 9%
}
table {
  width: 94%;
  border-width: 1px 0 0;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0;
  border-color: #ddd
}
caption {
  margin: 1.5em 3% .7em
}
th {
  text-align: left;
  padding: .5em
}
td {
  padding: .5em 0;
  border-color: #f8fbf8 #f8fbf8 #ddd
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em;
  background: #777;
  border-color: #ddd #818181;
  color: #f8fbf8
}
tbody td {
  border-width: 0 .5em 1px
}
tbody:not(:last-child) tr:last-child > * {
  border-bottom-width: 0
}
#lB .lS,
#lE,
#lF,
#lF .lX,
.tl tfoot th {
  border-width: 1px 0 0
}
tfoot th {
  border-width: 2px 0 0
}
tfoot td {
  border-width: 2px .5em 0
}
.BlogArchive,
.BlogArchive tbody :hover td,
.aBodyRoot blockquote tbody th :visited,
.aBodyRoot blockquote tbody th :visited:hover,
.aBodyRoot thead :visited,
.aBodyRoot thead :visited:hover,
blockquote tbody th :link,
blockquote tbody th :link:hover,
thead :link,
thead :link:hover {
  color: #f8fbf8
}
tfoot td,
tfoot th {
  border-color: #777 #f8fbf8
}
blockquote thead td,
blockquote thead th {
  background: #111;
  border-color: #ddd #252525
}
blockquote tbody th {
  background: #777;
  border-color: #ddd;
  color: #f8fbf8
}
blockquote td {
  border-color: #ddd #ddd #777
}
blockquote tfoot td,
blockquote tfoot th {
  border-color: #111 #ddd
}
blockquote tbody :hover td {
  border-color: #ddd #ddd #3079ed
}
tbody :hover td {
  border-color: #f8fbf8 #f8fbf8 #3079ed;
  color: #3079ed
}
tbody :hover th a:active,
tbody :hover th a:focus {
  background: #fff!important;
  color: #3079ed!important
}
.Pager-prev,
.commonForm-send,
.r {
  text-align: right
}
.Pager-top,
.c {
  text-align: center
}
.uc {
  text-transform: uppercase
}
.ribbon * {
  border-color: #2a2a2a
}
#lB .lS {
  background: #f1f4f1
}
em {
  background: #ff6
}
strong {
  background: #6cf
}
blockquote hr {
  background: #777
}
.lMi,
.lMz .lMh,
.lSi,
.lXi {
  padding: 0 3%
}
.lM1,
.lS1 {
  float: left
}
.lM2,
.lS2 {
  float: right
}
#lB .lS1 {
  width: 45.5%;
  padding: 0 0 0 3%
}
#lB .lS2 {
  width: 45.5%;
  padding: 0 3% 0 0
}
.btn {
  display: inline-block;
  border-width: 2px;
  cursor: pointer;
  text-align: center;
  padding: .45em 1em
}
.AHead-labels a:active,
.AHead-labels a:focus,
.SocialBtns :active,
.SocialBtns :focus,
.Subscribe a:active,
.Subscribe a:focus,
.btn:active,
.btn:focus {
  border-color: #3079ed;
  color: #3079ed;
  outline: 0;
  border-style: dotted
}
.AHead-labels :link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #1a1a1a
}
.btn:visited {
  background: #1a1a1a;
  border-color: #fff;
  color: #fff
}
.commonForm-pair {
  margin-bottom: 1em
}
.commonForm label {
  float: left;
  width: 7em;
  padding: .45em 0;
  display: block
}
.Cover img,
.commonForm-wrap * {
  width: 100%
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.commonForm-wrap {
  display: block;
  margin: 0 20px 0 8em
}
.ico-author,
.ico-chain,
.ico-clock,
.ico-comment,
.ico-flag,
.ico-label,
.ico-pen,
.ico-sylinder {
  position: relative;
  padding-left: 1.2em;
  display: inline-block;
  vertical-align: text-top
}
.ico-author:after,
.ico-author:before,
.ico-chain:after,
.ico-chain:before,
.ico-clock:after,
.ico-clock:before,
.ico-comment:after,
.ico-comment:before,
.ico-flag:after,
.ico-flag:before,
.ico-label:after,
.ico-label:before,
.ico-pen:after,
.ico-pen:before,
.ico-sylinder:after,
.ico-sylinder:before {
  text-indent: -1em;
  position: absolute;
  border-style: solid;
  margin-top: .1em;
  content: " ";
  display: block
}
.ico-clock:before {
  top: 0;
  left: 0;
  width: .7em;
  height: .7em;
  -khtml-border-radius: .5em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  border-width: .15em;
  border-color: #777
}
.ribbon .ico-author:after,
.ribbon .ico-author:before,
.ribbon .ico-chain:after,
.ribbon .ico-chain:before,
.ribbon .ico-clock:after,
.ribbon .ico-clock:before,
.ribbon .ico-comment:before,
.ribbon .ico-flag:after,
.ribbon .ico-flag:before,
.ribbon .ico-label:before,
.ribbon .ico-pen:before,
.ribbon .ico-sylinder:after,
.ribbon .ico-sylinder:before {
  border-color: #bbb
}
.SocialBtns .fb:active,
.SocialBtns .fb:focus,
.SocialBtns .pt:active,
.SocialBtns .pt:focus,
:target .ico-author:after,
:target .ico-author:before,
:target .ico-chain:after,
:target .ico-chain:before,
:target .ico-clock:after,
:target .ico-clock:before,
:target .ico-comment:before,
:target .ico-flag:after,
:target .ico-flag:before,
:target .ico-label:before,
:target .ico-pen:before,
:target .ico-sylinder:after,
:target .ico-sylinder:before {
  border-color: #fff
}
.ico-clock:after {
  top: .2em;
  left: .43em;
  width: .23em;
  height: .23em;
  border-width: 0 0 .14em .14em;
  border-color: #777
}
.ico-label:before {
  top: .2em;
  left: 0;
  width: .7em;
  height: 0;
  border-width: .6em 0 0;
  border-color: #777
}
.ico-label:after {
  top: .2em;
  left: .7em;
  width: 0;
  height: 0;
  border-width: .3em 0 .3em .3em;
  border-color: transparent #777
}
a:active .ico-label:after,
a:focus .ico-label:after {
  border-color: transparent #f8fbf8
}
.ribbon .ico-label:after {
  border-color: transparent #bbb
}
.Pager :active i,
.Pager :focus i,
:target .ico-label:after {
  border-color: transparent #fff
}
.ico-author:before {
  top: 0;
  left: .3em;
  width: .45em;
  height: 0;
  -khtml-border-radius: .225em;
  -webkit-border-radius: .225em;
  -moz-border-radius: .225em;
  border-radius: .225em;
  border-width: .225em 0;
  border-color: #777
}
.ico-author:after {
  top: .5em;
  left: .1em;
  width: 0;
  height: 0;
  -khtml-border-radius: .3em .3em 0 0;
  -webkit-border-radius: .3em .3em 0 0;
  -moz-border-radius: .3em .3em 0 0;
  border-radius: .3em .3em 0 0;
  border-width: .5em .4em 0;
  border-color: #777
}
.ico-flag:after,
.ico-flag:before,
.ico-pen:before {
  top: 0;
  border-color: #777;
  height: 0
}
.ico-flag:before {
  left: 0;
  width: .1em;
  border-width: 1em 0 0
}
.ico-flag:after {
  left: .2em;
  width: .8em;
  border-width: .7em 0 0
}
.ico-pen:before {
  left: .25em;
  width: .5em;
  border-width: 0 0 .7em
}
.ico-pen:after {
  top: .75em;
  left: .25em;
  width: 0;
  height: 0;
  border-width: .25em .25em 0;
  border-color: #777 transparent
}
.ico-chain:after,
.ico-chain:before {
  width: .3em;
  height: .3em;
  -khtml-border-radius: .2em
}
a:active .ico-comment:after,
a:active .ico-pen:after,
a:focus .ico-comment:after,
a:focus .ico-pen:after {
  border-color: #f8fbf8 transparent
}
.ribbon .ico-comment:after,
.ribbon .ico-pen:after {
  border-color: #bbb transparent
}
.Pager-top :active i,
.Pager-top :focus i,
:target .ico-comment:after,
:target .ico-pen:after {
  border-color: #fff transparent
}
.ico-chain:before {
  top: .05em;
  left: .05em;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  border-width: .2em 0 .2em .2em;
  border-color: #777
}
.ico-chain:after {
  top: .3em;
  left: .3em;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  border-width: .2em .2em .2em 0;
  border-color: #777
}
.ico-sylinder:after,
.ico-sylinder:before {
  width: .4em;
  height: .4em;
  border-color: #777
}
.ico-sylinder:before {
  top: 0;
  left: .1em;
  border-width: .25em .2em .35em
}
.ico-sylinder:after {
  top: .15em;
  left: .2em;
  border-width: .1em;
  -khtml-border-radius: .25em;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em
}
.ico-comment:before {
  top: 0;
  left: 0;
  width: .7em;
  height: .45em;
  -khtml-border-radius: .2em;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  border-width: .15em;
  border-color: #777
}
.ico-comment:after {
  top: .65em;
  left: .3em;
  width: 0;
  height: 0;
  border-width: .35em .2em 0;
  border-color: #777 transparent
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
.medal {
  border-color: #f8fbf8;
  color: #111
}
:link .medal,
:visited .medal {
  border-color: #111;
  background: #111;
  color: #f8fbf8
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #6d6309
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #61686b
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #e6d6a9
}
.Magazine-main,
blockquote h3,
kbd {
  border-color: #111
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #bbb
}
#lF .lM .mspacer {
  margin: .6em .5em
}
.lS .mspacer {
  margin: .6em 0
}
.mspacer {
  margin: 1em .5em!important
}
.AAuthor,
.ADesc,
.AHead {
  margin: 1em 0
}
.AAuthor img {
  float: left;
  margin: 0 1em 1em 0
}
.ABody {
  padding: 3.5em 0 2em
}
.ABody h1 {
  font-size: 2em;
  margin: 3em 1.5%
}
.ABody h2 {
  font-size: 1.5em;
  border-width: .2em 0 0;
  color: #3079ed;
  margin: 2em 1.5% 1em
}
#blog2slide-root > div > *,
.ABody h2:after,
.AHead-labels i,
.Cover h2:after,
.Magazine-m,
.Magazine-y,
.RichLink br,
.tl tbody :empty:after,
.tl tbody :empty:before {
  display: none
}
.BlogArchive a,
.BreadcrumbList a,
.Cover-meta span,
.RichLink-meta span,
.TxtNavi a,
.links a,
kbd {
  display: inline-block
}
.ABody h3 {
  font-size: 1.25em;
  border-width: .1em 0 0;
  margin: 2.4em 1.5% 1.2em
}
.ABody h1,
.ABody h2,
.ABody h3 {
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%
}
.AHead,
.baseColor :link .RichLink-meta,
.baseColor :visited .RichLink-meta {
  color: #777
}
.AHead h1 {
  font-size: 2em;
  color: #111;
  margin: 0;
  text-align: center;
  padding: 2em 0
}
.AHead-labels {
  margin-top: .5em;
  color: #1a1a1a;
  vertical-align: middle
}
.AHead-labels a,
.SocialBtns *,
.Subscribe a {
  display: inline-block;
  border-width: 2px;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  padding: .45em 1em;
  vertical-align: top;
  margin: 0 0 .5em
}
.AHead-labels :visited {
  background: #1a1a1a;
  border-color: #bbb;
  color: #bbb
}
.AHead-labels :link:hover {
  border-color: #bbe;
  color: #1a1a1a
}
.Attribution,
.CmtForm {
  padding: 1em 0;
  text-align: center
}
.Attribution small,
.prettyprint code {
  font-size: .875em
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive a {
  border-width: 0 0 1px;
  margin: 0 0 1em
}
.BreadcrumbList {
  padding: 1em 0;
  color: #777
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  color: #777;
  font-size: 93%
}
.Comment p {
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.CmtForm iframe {
  width: 100%;
  margin: 0;
  height: 400px
}
.Cover-img {
  margin: 0 0 .6em;
  height: 100%
}
.Cover-meta,
.SearchResult div div {
  margin: 0 .5em
}
.Cover img {
  margin: 0;
  display: block
}
.Cover h2 {
  display: inline-block;
  border: 1px solid #3079ed;
  color: #f8fbf8;
  font-size: .825em;
  padding: .6em
}
.tl td,
.tl th,
pre code,
pre var {
  background: 0 0!important
}
.Cover h3 {
  font-size: 1.33em;
  margin: 0;
  background: #fff;
  background: rgba(255,255,255,.75)
}
.Magazine h3,
.Magazine-yy {
  font-size: 2em
}
.Cover a {
  display: block;
  padding: .37em
}
.Cover-meta {
  display: block;
  color: #777;
  line-height: 1.4
}
.Cover p {
  line-height: 1.4;
  margin: .6em .5em
}
.Cover {
  margin: 2em auto
}
.Label div {
  color: #f8fbf8;
  text-align: justify
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #1a1a1a
}
.Label a {
  display: inline-block;
  margin: 0 0 1.7em
}
#lF .Label a,
.lS .Label a {
  margin: 0 0 1.3em
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList :active,
.LinkList :focus:hover {
  text-decoration: underline!important
}
.Magazine-item {
  padding: 1em 0;
  display: table
}
.Magazine-date {
  padding-right: 1.5em;
  display: table-cell;
  line-height: 1
}
.Magazine-dd,
.Magazine-mm,
h1#blog2slide-current {
  font-size: 4em
}
.Magazine-dd,
.Magazine-mm {
  line-height: .9
}
.Magazine-main {
  border-width: 0 0 0 .5em;
  padding-left: 1.5em;
  display: table-cell
}
.aa,
blockquote,
kbd {
  border-width: 1px
}
.Magazine h3 {
  margin: .2em 0 0;
  padding: 0
}
.Magazine-label {
  margin: .5em 0 .8em
}
.Magazine-snippet img {
  float: left;
  margin: .4em 1em 1em 0
}
.Magazine-snippet p {
  line-height: 1.4em;
  margin: 0
}
.Magazine .btn {
  position: absolute;
  font-size: .83em;
  left: -7.229em;
  bottom: 0;
  width: 4.217em;
  padding: .301em
}
.Magazine img {
  margin-left: 0
}
.RichLink {
  padding: 0 0 1em;
  overflow-x: hidden
}
.RichLink a {
  padding: 1em .5em 0;
  border-color: #2a2a2a!important
}
.baseColor .RichLink a {
  border-color: #ddd!important
}
.RichLink-meta {
  color: #2a2a2a;
  font-size: .875em;
  margin: 1.143em 0;
  line-height: 1.4
}
.baseColor .RichLink-meta {
  color: #ddd
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  margin: 0 .6em 1em 0
}
.RichLink p {
  margin: 1em 0;
  line-height: 1.4
}
.lS .RichLink a {
  padding: .7em .5em 0
}
.lS .RichLink img {
  float: left;
  margin: 0 .5em .6em 0
}
.RichLink b {
  display: block;
  padding: 0 0 .571em;
  font-size: 1em
}
.Search {
  display: block;
  height: 1.9em;
  margin: 0 3em 0 22px;
  width: auto
}
.Search input {
  position: absolute;
  top: 0
}
.Search-txt {
  display: block;
  width: 100%;
  left: -22px
}
.Search-txt:invalid {
  color: #777
}
.Search input:active,
.Search input:focus,
.Search input:hover {
  z-index: 1
}
.Search .btn {
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
  width: 3em;
  right: -3em;
  text-overflow: ellipsis
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621;
  word-wrap: break-word
}
.SearchResult div p {
  margin: .2em 0 0;
  color: #545454;
  line-height: 1.2
}
.SearchResult div span {
  color: grey
}
.SearchResult-multi {
  margin: 2em 0
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em;
  padding-bottom: 1em
}
.Header h1,
.h1 {
  font-size: 1.5em;
  margin: 0 0 .5em
}
.Header h1 {
  padding: 0
}
#lH .lMi {
  padding-bottom: 0
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #1a1a1a
}
.Subscribe .atom:visited {
  background: #1a1a1a;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #1a1a1a
}
.Subscribe .rss:visited {
  background: #1a1a1a;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #1a1a1a
}
.Subscribe .fl:visited {
  background: #1a1a1a;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #1a1a1a
}
.Subscribe .stm:visited {
  background: #1a1a1a;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right;
  color: #f8fbf8
}
.aa {
  margin: 1em 0;
  border-color: #0a0809
}
.tl,
.tl th {
  border-width: 0
}
.aBodyRoot :visited,
.tl tbody th :visited,
.tl tbody th :visited:hover,
.tl thead :visited,
.tl thead :visited:hover,
blockquote .tl tbody th :visited {
  color: #717
}
.aBodyRoot :visited:hover {
  color: #419
}
blockquote {
  padding: 1em 1px
}
blockquote[title]:before {
  content: attr(title);
  display: block
}
blockquote[cite]:after {
  content: attr(cite)
}
.js-bqLink,
blockquote:before {
  font-size: .875em;
  color: #24c;
  margin: 0 1.5%
}
.js-bqCite,
blockquote:after {
  word-break: break-all;
  display: block;
  font-size: .875em;
  text-align: right;
  color: #777;
  margin: 0 1.5%
}
.box {
  margin: 1em 0 0
}
.box > p:first-of-type {
  margin-top: -.225em
}

tr .box > p:first-of-type {
  margin-top: auto
}
.box > p:first-of-type,body:nth-child(n0) {
  margin-top: auto
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 3% 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box .caption,
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 3%
}
.hscroll {
  overflow-x: auto;
  overflow-y: hidden
}
kbd {
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em;
  -khtml-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px
}
kbd:hover {
  top: -2px
}
code,
var {
  padding: .1em .4em
}
pre code,
pre var {
  padding: 0;
  margin: 0
}
.links [href]:before {
  content: ">";
  position: relative;
  left: -.5em;
  width: 1em;
  text-align: center;
  height: 1.4em;
  line-height: 1.4
}
.links [href^="/"]:not([href^="//"]):before {
  content: "+"
}
.links [href*="/web.archive."]:before {
  content: "*"
}
.note {
  padding-left: 25%
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 3%
}
.caption {
  display: block;
  text-align: center;
  font-size: .875em;
  width: 100%
}
@-moz-document url-prefix() {
  .Magazine-label,
  .Magazine-main,
  .RichLink b,
  .caption,
  .js-bqCite,
  .links,
  blockquote:after,
  pre,
  td,
  th {
    word-wrap: break-word
  }
}
div .caption img {
  margin: 0 0 .5em;
  float: none
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  border-color: #ddd;
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  text-align: left
}
.tl td {
  padding: .5em .8em;
  border-width: 0 0 0 .3em;
  border-color: #ddd;
  border-style: solid
}
.tl tbody td:after,
.tl tbody td:before {
  text-indent: -1em;
  position: absolute;
  border-style: solid;
  content: " ";
  display: block
}
.tl tbody td:before {
  top: .6em;
  left: -.75em;
  width: 0;
  height: 0;
  border-width: .6em;
  border-color: #ddd;
  -khtml-border-radius: .6em;
  -webkit-border-radius: .6em;
  -moz-border-radius: .6em;
  border-radius: .6em
}
.tl tbody td:after {
  top: .85em;
  left: -.5em;
  width: 0;
  height: 0;
  border-width: .35em;
  border-color: #f8fbf8;
  -khtml-border-radius: .35em;
  -webkit-border-radius: .35em;
  -moz-border-radius: .35em;
  border-radius: .35em
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.tl tbody :hover th {
  background: #3079ed!important;
  color: #fff
}
.AMeta {
  padding: .5em 0
}
.AMeta div {
  margin: .5em 0;
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager {
  color: #f8fbf8;
  display: table;
  width: 100%;
  table-layout: fixed
}
.Pager span {
  padding: 1.5em 0;
  vertical-align: middle;
  display: table-cell
}
.Pager i {
  display: inline-block;
  border-color: transparent #777
}
.Pager-next i {
  margin-right: .5em;
  border-width: .5em .7em .5em 0
}
.Pager-prev i {
  margin-left: .5em;
  border-width: .5em 0 .5em .7em
}
.Pager-top i {
  margin-right: .5em;
  border-width: 0 .45em .9em;
  border-color: #777 transparent
}
.SocialBtns {
  padding: 1em 0 .5em;
  color: #f8fbf8;
  text-align: center
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #f8fbf8
}
.SocialBtns .tw:visited {
  background: #f8fbf8;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #f8fbf8
}
.SocialBtns .hb:visited {
  background: #f8fbf8;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #f8fbf8
}
.SocialBtns .pk:visited {
  background: #f8fbf8;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #f8fbf8
}
.SocialBtns .ln:visited {
  background: #f8fbf8;
  border-color: #00c300;
  color: #00c300
}
#blog2slide-root {
  margin: 0 auto;
  overflow: auto
}
#blog2slide-root > div {
  height: 100%;
  width: 98%;
  max-width: 105em;
  display: table;
  margin: auto
}
#blog2slide-current {
  font-size: 2em;
  display: table-cell!important;
  vertical-align: middle
}
#jsCanUseContent {
  font: 0/0 a
}
#jsCanUseContent:after {
  content: ":)";
  visibility: hidden;
  font: 7px/1 a
}
.prettyprint {
  border-width: 1px;
  border-color: #333
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.jsCap,
.jsPica img {
  -webkit-transition-property: width,margin;
  -webkit-transition: .3s ease-in;
  -moz-transition: width .3s ease-in,margin .3s ease-in;
  -o-transition: width .3s ease-in,margin .3s ease-in;
  transition: width .3s ease-in,margin .3s ease-in
}
.jsPica {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in
}
.jsPicaLarge {
  margin: 0 0 1em;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  cursor: zoom-out
}
.jsPicaLarge img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.box .jsPicaLarge img {
  float: none;
  margin: 0
}
.jsCapLarge {
  margin: 0 auto 1em
}
div .box .jsCapLarge {
  float: none;
  margin: 0 0 1em
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #f8fbf8
}
.baseColor .btn:visited {
  background: #f8fbf8;
  border-color: #111;
  color: #111
}
@media screen,
handheld,
projection,
tv {
  a img {
    border-width: 2px
  }
  .LinkList :link:hover,
  .LinkList :visited:hover,
  .RichLink-sep :link:hover,
  .RichLink-sep :visited:hover,
  .tl tr code,
  .tl tr var,
  blockquote tbody th code,
  blockquote tbody th var,
  thead code,
  thead var {
    background: #ddd;
    color: #111
  }
  input,
  textarea {
    background: #f8fbf8;
    color: #111
  }
  [type=submit],
  blockquote,
  code,
  var {
    background: #ddd
  }
  #lB .lM {
    padding-bottom: 4em
  }
  .lX1 {
    float: left
  }
  .lX2 {
    float: right
  }
  #lB .lSi,
  .lM,
  .lS,
  .lX {
    max-width: 50em;
    margin: 0 auto
  }
  #lB .lS {
    padding-bottom: 1em;
    max-width: 100%
  }
  .Cover .img-loaded div {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0
  }
  .Header {
    text-align: center
  }
  .aa {
    background: #0a0809
  }
  .aa,
  .aa code,
  .aa var {
    color: #00ac06
  }
  .hscroll {
    margin: 1em 0;
    -webkit-overflow-scrolling: touch
  }
  .hscroll::-webkit-scrollbar {
    height: 5px
  }
  .hscroll::-webkit-scrollbar-track {
    background: #f1f1f1
  }
  .hscroll::-webkit-scrollbar-thumb {
    background: #bcbcbc
  }
  .note .hscroll,
  dl .hscroll,
  li .hscroll,
  tr .hscroll {
    margin-top: 0
  }
  .hscroll table {
    margin-bottom: .5em
  }
  .hscroll pre {
    margin: 0 0 .5em;
    overflow: auto;
    white-space: pre
  }
  .hscroll table {
    white-space: nowrap
  }
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote var,
  tbody th code,
  tbody th var {
    background: #777;
    color: #f8fbf8
  }
  .prettyprint {
    background: #333;
    color: #fff
  }
  code .atv,
  code .str {
    color: #65b042
  }
  code .kwd {
    color: #e28964
  }
  code .com {
    color: #aeaeae;
    font-style: italic
  }
  code .tag,
  code .typ {
    color: #89bdff
  }
  code .dec,
  code .lit {
    color: #3387cc
  }
  code .pun {
    color: #dbdbdb
  }
  code .pln {
    color: #d4d4d4
  }
  code .atn {
    color: #bdb76b
  }
}
@media all and (min-width:0\-) {
  :link,
  :link *,
  :visited,
  :visited * {
    -webkit-transition: none
  }
  :link *,
  :link,
  :visited *,
  :visited,_:increment,_:not(:root) {
    -webkit-transition: .3s ease-in
  }
  .RichLink-meta {
    background: 0 0!important
  }
  .tl td:after,
  .tl td:before {
    display: none!important
  }
}
@media handheld,
tv,
only screen and (max-width:740px) {
  #blog2slide-start button,
  .links,
  .note,
  blockquote,
  dl,
  iframe,
  img,
  ol,
  p,
  table,
  tr blockquote p,
  tr blockquote pre,
  ul {
    margin: 1em 2%
  }
  .Label div,
  .LinkList,
  .Subscribe div,
  h2 {
    text-align: center
  }
  h4,
  h5,
  h6 {
    margin: 1.5em 1% .8em
  }
  pre {
    padding: 1em 2%
  }
  iframe,
  img {
    max-width: 96%
  }
  h2:after {
    width: 33%;
    left: 33%;
    right: auto
  }
  hr {
    margin: 2em 4%
  }
  table {
    width: 96%
  }
  caption {
    margin: 1.5em 2% .7em
  }
  #lB .lS {
    padding-bottom: 2em
  }
  #lB .lSi,
  .lMi,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0 2%
  }
  .lM1,
  .lM2,
  .lS1,
  .lS2 {
    float: none;
    width: auto
  }
  #lB .lS1,
  #lB .lS2 {
    width: auto;
    padding: 0
  }
  .ABody h1 {
    margin: 3em 1%
  }
  .ABody h2 {
    margin: 2em 1% 1em
  }
  .ABody h3 {
    margin: 2.4em 1% 1.2em
  }
  .ABody h1,
  .ABody h2,
  .ABody h3 {
    padding-left: 1%;
    padding-right: 1%
  }
  .Cover {
    max-width: 400px
  }
  .LinkList {
    padding: .2em 0 1em
  }
  .LinkList div {
    display: inline-block;
    margin: 2px
  }
  .Magazine {
    margin: 1em 0 0;
    border-width: .5em 0 0;
    border-color: #111
  }
  .Magazine-item {
    padding: 1em 0 0;
    display: block
  }
  .Magazine-date {
    font-family: inherit;
    width: auto;
    display: block
  }
  .Magazine-mm,
  .Magazine-yy {
    display: inline;
    font-size: 1em
  }
  .Magazine-dd {
    font-size: 1em
  }
  .Magazine-m,
  .Magazine-y {
    display: inline
  }
  .Magazine-main {
    border-width: 0 0 .5em;
    padding: 0 0 1em;
    display: block
  }
  .Magazine h3,
  .RichLink h3 {
    font-size: 1.3em
  }
  .Magazine .btn {
    position: static;
    width: auto;
    font-size: 1em;
    padding: .5em 1em
  }
  .RichLink h3 * {
    font-size: .769em
  }
  .js-bqCite,
  .js-bqLink,
  blockquote:after,
  blockquote:before {
    margin: 0 1%
  }
  .box dl,
  .box ol,
  .box p,
  .box ul {
    margin: 0 2% 1em
  }
  .box .caption,
  .box iframe,
  .box img {
    margin: 0 1em 1em 2%
  }
  .note blockquote dl,
  .note blockquote ol,
  .note blockquote p,
  .note blockquote ul {
    margin-right: 2%
  }
}
@media handheld,
tv,
only screen and (max-width:479px) {
  #blog2slide-start button,
  .links,
  .note,
  blockquote,
  dl,
  iframe,
  img,
  ol,
  p,
  table,
  tr blockquote p,
  tr blockquote pre,
  ul {
    margin: 1em 1%
  }
  .AHead,
  .AHead h1 {
    text-align: center
  }
  p {
    line-height: 1.6
  }
  h4,
  h5,
  h6 {
    margin: 1.5em .5% .8em
  }
  pre {
    padding: 1em 1%
  }
  iframe,
  img {
    max-width: 98%
  }
  dd {
    margin-left: 1em
  }
  li {
    margin-top: .2em
  }
  dt {
    margin-top: .4em
  }
  dd,
  li {
    margin-bottom: .2em
  }
  hr {
    margin: 2em 2%
  }
  table {
    width: 98%
  }
  caption {
    margin: 1.5em 1% .7em
  }
  #lB .lSi,
  .lMi,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0 1%
  }
  .commonForm label {
    float: none;
    width: auto
  }
  .commonForm-wrap {
    margin-left: 0
  }
  .ABody h1 {
    margin: 3em .5%;
    font-size: 1.5em
  }
  .ABody h2 {
    margin: 2em .5% 1em;
    font-size: 1.25em
  }
  .ABody h3 {
    margin: 2.4em .5% 1.2em
  }
  .ABody h1,
  .ABody h2,
  .ABody h3 {
    padding-left: .5%;
    padding-right: .5%
  }
  .AHead h1 {
    font-size: 1.5em
  }
  .RichLink a {
    padding-left: 1%;
    padding-right: 1%
  }
  .RichLink h3 {
    font-size: 1.1em
  }
  .RichLink h3 * {
    font-size: .909em
  }
  .Header h1,
  .h1 {
    font-size: 1.2em
  }
  .js-bqCite,
  .js-bqLink,
  blockquote:after,
  blockquote:before {
    margin: 0 .5%
  }
  .box dl,
  .box ol,
  .box p,
  .box ul {
    margin: 0 1% 1em
  }
  .box > p:first-of-type {
    margin-top: -.15em
  }
  .box .caption,
  .box iframe,
  .box img {
    margin: 0 1em 1em 1%
  }
  .note blockquote dl,
  .note blockquote ol,
  .note blockquote p,
  .note blockquote ul {
    margin-right: 1%
  }
  .Pager-next i,
  .Pager-top i {
    margin-right: .2em
  }
  .Pager-prev i {
    margin-left: .2em
  }
}
@media handheld,
tv,
only screen and (max-width:359px) {
  body {
    font-size: .813em
  }
  .AHead-labels {
    line-height: 0
  }
  .AHead-labels a {
    display: block;
    text-align: center;
    margin: .5em
  }
  .Cover img {
    width: auto;
    margin: 0 1em 1em 0
  }
  .Cover .img-loaded div {
    position: static;
    padding: 0
  }
  .Cover h2 {
    display: inline-block;
    font-size: 1em;
    padding: .5em;
    margin: 0 .5em .5em 0
  }
  .Cover h3 {
    background: 0 0;
    color: #111;
    font-size: 1.5em
  }
  .Cover a {
    padding: 0 0 .33em
  }
  .Cover p,
  .Cover-meta {
    margin-left: 0;
    margin-right: 0
  }
  .RichLink h3,
  .RichLink h3 * {
    font-size: 1em
  }
  .RichLink img,
  .box .caption,
  .box iframe,
  .box img {
    float: none;
    margin: 0 auto 1em
  }
  .box .jsPicaLarge img {
    margin: 0 auto
  }
  div .box .jsCapLarge {
    margin: 0 auto 1em
  }
}
@media handheld,
only screen and (prefers-color-scheme:dark),
only screen and (max-width:240px) {
  :link img,
  :visited img,
  blockquote :link img,
  blockquote :visited img {
    border-color: transparent
  }
  .LinkList a:not([href]),
  .RichLink-sep a:not([href]),
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote var,
  tbody th code,
  tbody th var {
    background: #999;
    color: #000
  }
  [type=submit],
  code,
  tbody th,
  var {
    background: #222
  }
  .LinkList :link:hover,
  .LinkList :visited:hover,
  .RichLink-sep :link:hover,
  .RichLink-sep :visited:hover,
  .tl tr code,
  .tl tr var,
  blockquote,
  blockquote tbody th code,
  blockquote tbody th var,
  thead code,
  thead var {
    background: #222;
    color: #eee
  }
  #lB .lS,
  .baseColor,
  input,
  textarea {
    background: #000
  }
  a {
    color: #999;
    border-color: #000
  }
  .SearchResult :visited,
  .js-bqLink,
  .tl tbody th :link,
  .tl tbody th :link:hover,
  .tl thead :link,
  .tl thead :link:hover,
  :link,
  blockquote:before {
    color: #bbe
  }
  .AHead h1,
  .tl tbody th,
  .tl thead td,
  .tl thead th,
  :visited,
  body,
  input,
  textarea {
    color: #eee
  }
  :link:hover {
    color: #3079ed;
    border-color: #3079ed
  }
  :visited:hover {
    color: #b3f;
    border-color: #b3f
  }
  .Magazine,
  .Magazine-main,
  blockquote h3,
  h4,
  kbd {
    border-color: #eee
  }
  .ico-author:after,
  .ico-author:before,
  .ico-chain:after,
  .ico-chain:before,
  .ico-clock:after,
  .ico-clock:before,
  .ico-comment:before,
  .ico-flag:after,
  .ico-flag:before,
  .ico-label:before,
  .ico-pen:before,
  .ico-sylinder:after,
  .ico-sylinder:before,
  blockquote .tl tbody td:before,
  blockquote .tl td,
  blockquote .tl tfoot td,
  blockquote .tl tfoot th,
  blockquote .tl thead td,
  blockquote .tl thead th,
  blockquote blockquote,
  blockquote table,
  h5,
  h6 {
    border-color: #999
  }
  h6 {
    color: #999
  }
  img {
    filter: brightness(85%)
  }
  input:placeholder-shown,
  textarea:placeholder-shown {
    color: #999
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #999
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #999;
    opacity: 1
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #999;
    opacity: 1
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #999
  }
  *,
  .tl tbody td:before,
  .tl td,
  .tl tfoot td,
  .tl tfoot th,
  .tl thead td,
  .tl thead th,
  blockquote .tl tbody td:after,
  table {
    border-color: #222
  }
  thead td,
  thead th {
    background: #999;
    border-color: #222 #8d8d8d;
    color: #000
  }
  .BlogArchive,
  .BlogArchive tbody :hover td,
  .Label div,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .aBodyRoot blockquote tbody th :visited,
  .aBodyRoot blockquote tbody th :visited:hover,
  .aBodyRoot thead :visited,
  .aBodyRoot thead :visited:hover,
  blockquote tbody th :link,
  blockquote tbody th :link:hover,
  thead :link,
  thead :link:hover {
    color: #000
  }
  .baseColor .btn:active,
  .baseColor .btn:focus,
  .tl tbody td:after,
  tbody th {
    border-color: #000
  }
  td {
    border-color: #000 #000 #222
  }
  tfoot td,
  tfoot th {
    border-color: #999 #000
  }
  blockquote thead td,
  blockquote thead th {
    background: #eee;
    border-color: #222 #dadada
  }
  blockquote tbody th {
    background: #999;
    border-color: #222;
    color: #000
  }
  blockquote td {
    border-color: #222 #222 #999
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #eee #222
  }
  blockquote tbody :hover td {
    border-color: #222 #222 #3079ed
  }
  tbody :hover td {
    border-color: #000 #000 #3079ed
  }
  em {
    background: #4e4e1f
  }
  strong {
    background: #1c3a49
  }
  .baseColor .btn:link {
    background: #bbe;
    border-color: #bbe;
    color: #000
  }
  .baseColor .btn:visited {
    background: #000;
    border-color: #eee;
    color: #eee
  }
  .Pager i,
  .ico-label:after {
    border-color: transparent #999
  }
  .Pager-top i,
  .ico-comment:after,
  .ico-pen:after {
    border-color: #999 transparent
  }
  .medal {
    border-color: #222;
    background: #222;
    color: #eee
  }
  :link .medal,
  :visited .medal {
    border-color: #999;
    background: #999;
    color: #000
  }
  .AHead,
  .BreadcrumbList,
  .Cover-meta,
  .baseColor :link .RichLink-meta,
  .baseColor :visited .RichLink-meta {
    color: #999
  }
  .Cover h3 {
    background: #000;
    background: rgba(0,0,0,.75)
  }
  .baseColor .RichLink a {
    border-color: #222!important
  }
  .baseColor .RichLink-meta {
    color: #222
  }
  .SearchResult div p {
    color: grey
  }
  .SearchResult div span {
    color: #545454
  }
  .aBodyRoot :visited,
  .tl tbody th :visited,
  .tl tbody th :visited:hover,
  .tl thead :visited,
  .tl thead :visited:hover,
  blockquote .tl tbody th :visited {
    color: #eae
  }
  .aBodyRoot :visited:hover {
    color: #b3f
  }
  .SocialBtns .fb :link,
  .SocialBtns .hb :link,
  .SocialBtns .ln :link,
  .SocialBtns .ok :link,
  .SocialBtns .pt :link,
  .SocialBtns .tw :link {
    color: #000!important
  }
  .SocialBtns .fb :visited,
  .SocialBtns .hb :visited,
  .SocialBtns .ln :visited,
  .SocialBtns .ok :visited,
  .SocialBtns .pt :visited,
  .SocialBtns .tw :visited {
    background: #000!important
  }
  .SocialBtns .fb:active,
  .SocialBtns .fb:focus,
  .SocialBtns .hb:active,
  .SocialBtns .hb:focus,
  .SocialBtns .ln:active,
  .SocialBtns .ln:focus,
  .SocialBtns .ok:active,
  .SocialBtns .ok:focus,
  .SocialBtns .pt:active,
  .SocialBtns .pt:focus,
  .SocialBtns .tw:active,
  .SocialBtns .tw:focus {
    border-color: #000!important
  }
}
@media handheld,
only screen and (max-width:240px) {
  #blog2slide-start button,
  .links,
  .note,
  blockquote,
  dl,
  iframe,
  img,
  ol,
  p,
  table,
  tr blockquote p,
  tr blockquote pre,
  ul {
    margin: 1em 0
  }
  body {
    font-size: .75em
  }
  p {
    line-height: 1.4
  }
  h4,
  h5,
  h6 {
    margin: 1.5em 0 .8em
  }
  pre {
    padding: 1em 2px
  }
  dd,
  li {
    margin-bottom: .1em
  }
  iframe,
  img {
    max-width: 100%
  }
  dd {
    margin-left: .5em
  }
  li {
    margin-top: .1em
  }
  dt {
    margin-top: .2em
  }
  .ABody h1,
  .ABody h2,
  .ABody h3,
  .RichLink a,
  h2 {
    padding-left: 0;
    padding-right: 0
  }
  hr {
    margin: 2em 0
  }
  table {
    width: 100%
  }
  caption {
    margin: 1.5em 0 .7em
  }
  #lB .lSi,
  .lMi,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0
  }
  .mspacer {
    margin: .6em 0!important
  }
  .ABody h1 {
    margin: 3em 0
  }
  .ABody h2 {
    margin: 2em 0 1em
  }
  .ABody h3 {
    margin: 2.4em 0 1.2em
  }
  .LinkList a {
    padding: .5em 0
  }
  .SearchResult div div,
  .js-bqCite,
  .js-bqLink,
  blockquote:after,
  blockquote:before {
    margin: 0
  }
  .box dl,
  .box ol,
  .box p,
  .box ul {
    margin: 0 0 1em
  }
  .box > p:first-of-type {
    margin-top: -.1em
  }
  .note blockquote dl,
  .note blockquote ol,
  .note blockquote p,
  .note blockquote ul {
    margin-right: 0
  }
}
@media all and (-webkit-min-device-pixel-ratio:0) {
  body,
  input,
  textarea {
    font-family: -apple-system,BlinkMacSystemFont,"Avenir Next",Avenir,"Open Sans","Helvetica Neue",Verdana,Roboto,"UD Digi Kyokasho NP-R",YuKyokasho,"游ゴシック体",YuGothic,"YuGothic M","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","M+ 1p",sans-serif
  }
}
@media all\0 {
  body,
  input,
  textarea {
    font-family: Verdana,Arial,"UD Digi Kyokasho NP-R",Meiryo,sans-serif
  }
  .ABody h1,
  .ABody h2,
  .ABody h3,
  .ABody h4,
  .ABody h5,
  .ABody h6,
  .AHead h1 {
    transform: rotate(.03deg);
    font-weight: 700
  }
  .Magazine-sep-inner {
    display: block!important
  }
  #blog2slide-root:-ms-fullscreen {
    background: #f8fbf8
  }
}
@media print {
  .LinkList a,
  .Magazine-item,
  .RichLink-sep a,
  .SearchResult div div,
  .box,
  .caption,
  .commonForm-pair,
  .h1,
  dd,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  li,
  tr {
    break-inside: avoid-page;
    page-break-inside: avoid
  }
  .h1,
  caption,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  thead {
    break-after: avoid-page;
    page-break-after: avoid
  }
  tbody th,
  thead td,
  thead th {
    background: #ccc;
    border-color: #666
  }
  blockquote thead td,
  blockquote thead th,
  thead td,
  thead th {
    padding: .5em;
    border-width: 0 0 1px
  }
  *,
  .ribbon *,
  table {
    border-color: #ccc
  }
  blockquote,
  table {
    margin: 1em 0
  }
  code .typ,
  th {
    font-weight: 700
  }
  p {
    line-height: 1.5
  }
  .ADesc,
  .ribbon a,
  a {
    color: #666
  }
  .ribbon :link,
  :link,
  blockquote tbody th :link,
  blockquote thead th :link,
  thead :link {
    color: #006
  }
  .ribbon :visited,
  :visited,
  blockquote tbody th :visited,
  blockquote thead th :visited,
  thead :visited {
    color: #606
  }
  blockquote pre {
    margin: 1em
  }
  table {
    width: 100%
  }
  .AHead-labels,
  code .pln,
  thead td,
  thead th {
    color: #000
  }
  td {
    border-color: #fff #fff #ccc
  }
  tfoot td,
  tfoot th {
    border-color: #666 #fff
  }
  .ico-author:after,
  .ico-author:before,
  .ico-chain:after,
  .ico-chain:before,
  .ico-clock:after,
  .ico-clock:before,
  .ico-comment:before,
  .ico-flag:after,
  .ico-flag:before,
  .ico-label:before,
  .ico-pen:before,
  .ico-sylinder:after,
  .ico-sylinder:before,
  .ribbon .ico-author:after,
  .ribbon .ico-author:before,
  .ribbon .ico-chain:after,
  .ribbon .ico-chain:before,
  .ribbon .ico-clock:after,
  .ribbon .ico-clock:before,
  .ribbon .ico-comment:before,
  .ribbon .ico-flag:after,
  .ribbon .ico-flag:before,
  .ribbon .ico-label:before,
  .ribbon .ico-pen:before,
  .ribbon .ico-sylinder:after,
  .ribbon .ico-sylinder:before,
  blockquote code,
  blockquote table,
  blockquote var,
  tbody th code,
  tbody th var,
  thead code,
  thead var {
    border-color: #666
  }
  blockquote tbody th,
  blockquote thead td,
  blockquote thead th {
    background: #ccc;
    border-color: #000;
    color: #000
  }
  blockquote td {
    border-color: #fff #fff #666
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #000 #fff
  }
  .baseColor,
  .ribbon,
  body {
    background: #fff;
    color: #000
  }
  .AHead,
  .BreadcrumbList {
    color: #666!important
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .js-bqLink a:after,
  .noprint,
  [href$=".GIF"]:after,
  [href$=".JPEG"]:after,
  [href$=".JPG"]:after,
  [href$=".PNG"]:after,
  [href$=".gif"]:after,
  [href$=".jpeg"]:after,
  [href$=".jpg"]:after,
  [href$=".png"]:after,
  [href*="/blogger.googleusercontent.com/img/"]:after,
  [href*="/viewer.diagrams.net/?"]:after,
  [href^="#"]:after,
  [href^="mailto:"]:after,
  [href^="tel:"]:after {
    display: none
  }
  .ico-label:after,
  .ribbon .ico-label:after {
    border-color: transparent #666
  }
  .ico-comment:after,
  .ico-pen:after,
  .ribbon .ico-comment:after,
  .ribbon .ico-pen:after {
    border-color: #666 transparent
  }
  .ABody {
    padding: 0 0 2em
  }
  .lMz .AHead {
    padding: 0 3%
  }
  .AHead h1 {
    color: #000!important;
    padding: 1em 0
  }
  .AHead-labels i {
    display: inline-block
  }
  .AHead-labels a {
    display: inline;
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0
  }
  .Cover h2 {
    margin-top: 1em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding-top: .5em;
    padding-bottom: .5em
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    text-align: center;
    margin: 0 0 .5em
  }
  .Header h1 + span {
    display: block;
    text-align: center
  }
  body {
    word-break: break-all
  }
  @-moz-document url-prefix() {
    body {
      word-wrap: break-word
    }
  }
  .AMeta-cita:after,
  .aBodyRoot a[href]:after {
    content: " (" attr(href) ") ";
    font-size: .875em;
    color: #006
  }
  kbd {
    border-color: #000
  }
  code,
  var {
    border-width: 1px;
    border-color: #ccc
  }
  pre code {
    border: 0
  }
  .tl tbody td:after,
  blockquote .tl tbody td:after {
    border-color: #fff
  }
  code .atv,
  code .str {
    color: #060
  }
  code .kwd,
  code .tag {
    color: #006;
    font-weight: 700
  }
  code .com {
    color: #600;
    font-style: italic
  }
  code .atn,
  code .typ {
    color: #404
  }
  code .lit {
    color: #044
  }
  code .pun {
    color: #440
  }
  code .dec {
    color: #003
  }
}
@media only print and (orientation:landscape) {
  .h1,
  caption,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  thead {
    -webkit-column-break-after: avoid;
    break-after: avoid-column
  }
  .Magazine-item,
  .SearchResult div div,
  .box,
  .caption,
  .commonForm-pair,
  .h1,
  dd,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  li,
  tr {
    -webkit-column-break-inside: avoid;
    break-inside: avoid-column
  }
  .AHead,
  .lMh,
  .lMi,
  .lXi {
    padding: 0 1.5%
  }
  .lM1,
  .lM2 {
    width: 50%;
    box-sizing: border-box
  }
  .Magazine-sep-inner:last-child .Magazine-date,
  .lM1 {
    padding-left: 1em
  }
  .Magazine-sep-inner:first-child .Magazine-main,
  .lM2 {
    padding-right: 1em
  }
  .ABody {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2
  }
  .ABody .aBodyRoot > :first-child,
  .SearchResult-multi div:first-child h3 {
    margin-top: 0
  }
  .ABody blockquote,
  .hscroll,
  .js-bqCite,
  .js-bqLink,
  .note,
  blockquote:after,
  blockquote:before,
  h1,
  h2,_:in-range,_:not(:root) {
    -webkit-column-span: all
  }
  .ABody,
  .ABody blockquote {
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em
  }
  .ABody h1,
  .ABody h2,
  .ABody h3 {
    text-align: left
  }
  .Magazine-item {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 0
  }
  .Magazine-sep,
  .lM .RichLink-sep {
    display: table;
    table-layout: fixed;
    margin: 1em 0
  }
  .Magazine-sep {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%
  }
  .Magazine-sep-inner {
    display: table-cell;
    width: 50%
  }
  .Magazine-only .Magazine-sep-inner {
    width: 100%;
    padding: 0!important
  }
  .Magazine-sep-inner:not(:first-child) .Magazine-date {
    padding-left: 1.3em
  }
  .lM .RichLink-sep a {
    display: table-cell;
    vertical-align: top;
    width: 33.3%
  }
  .lM .RichLink a {
    border-width: 0;
    padding: 1em
  }
  .RichLink-meta {
    font-size: 1em
  }
  .SearchResult-multi {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em
  }
  .js-bqLink,
  blockquote:before {
    margin: 0 0 1em
  }
  .js-bqCite,
  blockquote:after {
    margin: 1em 0 0
  }
  @supports (column-span:all) or (-moz-column-span:all) or (-webkit-column-span:all) {
    .ABody blockquote,
    .hscroll,
    .js-bqCite,
    .js-bqLink,
    .note,
    blockquote:after,
    blockquote:before,
    h1,
    h2 {
      -moz-column-span: all;
      column-span: all
    }
  }
}
@media only screen and (-ms-high-contrast:active) {
  .ico-label:after {
    border-color: transparent currentColor
  }
  .Pager-top i,
  .ico-comment:after,
  .ico-pen:after {
    border-color: currentColor transparent
  }
}
@media only screen and (forced-colors:active),
only screen and (-ms-high-contrast:active) {
  .AMeta,
  .Pager,
  .SocialBtns,
  a:active img,
  a:focus img,
  blockquote,
  form :active,
  form :focus,
  td {
    border-style: dotted
  }
  table,
  tfoot td {
    border-width: 2px 0 0
  }
  .LinkList,
  .RichLink-sep {
    padding: 2px
  }
  .LinkList :link:hover,
  .LinkList :visited:hover,
  .RichLink-sep :link:hover,
  .RichLink-sep :visited:hover {
    text-decoration: underline!important
  }
  img {
    filter: brightness(100%)
  }
  td,
  tfoot td {
    border-color: currentColor Window;
    border-color: currentColor
  }
  table {
    border-spacing: 2px;
    border-collapse: separate
  }
  th,
  thead {
    font-weight: 700
  }
  td {
    padding: .5em .25em
  }
  thead td,
  thead th {
    border-width: 0 0 2px;
    padding: .5em
  }
  tbody td {
    border-width: 0 0 1px
  }
  .RichLink a {
    border-width: 0
  }
  .tl tbody td:after {
    border-color: Window
  }
  .tl {
    border-collapse: collapse
  }
  .Pager i {
    border-color: Window currentColor
  }
  .jsPica:active,
  .jsPica:focus {
    outline: 0
  }
}
@media only screen and (forced-colors:active) {
  .ico-label:after {
    border-color: Window currentColor
  }
  .Pager-top i,
  .ico-comment:after,
  .ico-pen:after {
    border-color: currentColor Window
  }
}