@charset "UTF-8";
.SocialBtns .hb:focus,
.SocialBtns .ln:focus,
.SocialBtns .pk:focus,
.SocialBtns .tw:focus,
.baseColor .btn:focus,
a,
a img {
  border-color: #f8fbf8
}
blockquote .tl td,
blockquote .tl tfoot td,
blockquote .tl tfoot th,
blockquote .tl thead td,
blockquote .tl thead th,
blockquote blockquote,
blockquote hr,
blockquote table,
h5,
h6 {
  border-color: #777
}
.AHead,
.baseColor :link .RichLink-meta,
.baseColor :visited .RichLink-meta,
a,
h6 {
  color: #777
}
.tl td > :first-child,
dl iframe,
dl img,
li iframe,
li img,
tr iframe,
tr img,
tr ol,
tr ul {
  margin-top: 0
}
.AAuthor p,
.ADesc p,
.note .box,
dl .box,
form,
h2,
input,
li .box,
textarea,
tr .box {
  margin: 0
}
.Cover-img,
.Magazine-main,
.links a,
h2,
kbd:hover,
sub,
sup {
  position: relative
}
.lM1,
.lM2,
.lS1,
.lS2 {
  width: 48.5%
}
.Header h1,
body,
input.btn {
  padding: 0
}
.baseColor,
.medal {
  background: #f8fbf8
}
body,
dd p,
li p,
tr p {
  line-height: 1.2
}
.Magazine-date,
.aa {
  font-family: monospace
}
.hscroll,
textarea {
  overflow: auto
}
.links,
pre {
  white-space: -o-pre-wrap
}
.ABody h3,
.Magazine h3,
.Magazine-date,
.links [href]:before,
dt {
  font-weight: 700
}
.RichLink b,
h1,
h2,
h3,
h5,
h6,
th {
  font-weight: 400
}
.Cover img,
.box iframe,
.box img,
.caption {
  max-width: 100%
}
body,
input,
textarea {
  font-family: "-apple-system",BlinkMacSystemFont,"Avenir Next",Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","M+ 1p",sans-serif
}
code,
kbd,
samp,
var {
  font-family: SFMono-Regular,"Liberation Mono",Consolas,Meiryo,monospace
}
.AHead-labels :focus,
.Subscribe .atom:focus,
.Subscribe .fl:focus,
.Subscribe .rss:focus,
.Subscribe .stm:focus,
.btn:focus,
.ribbon :link img,
.ribbon :visited img,
.ribbon a {
  border-color: #1a1a1a
}
*,
blockquote :link img,
blockquote :visited img,
hr,
table {
  border-color: #ddd
}
a:focus img {
  border-color: #3079ed!important
}
:link:hover img,
:visited:hover img {
  position: relative;
  top: 2px
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important;
  background: #111;
  color: #f8fbf8
}
.BlogArchive :link:hover,
.BlogArchive :visited:hover,
.Label :link:hover,
.Label :visited:hover,
.aBodyRoot :link:hover,
.aBodyRoot :visited:hover,
.aBodyRoot a:focus,
:link,
:visited,
a:focus,
ins {
  text-decoration: none
}
.Cover h2,
a:focus code,
a:focus var,
tbody :hover th {
  background: #3079ed
}
.LinkList :link,
.RichLink-sep :link {
  background: 0 0;
  color: #24c
}
.LinkList a:visited,
.RichLink-sep a:visited {
  background: 0 0;
  color: #111
}
.LinkList .ribbon a,
.RichLink-sep .ribbon a {
  background: #fff;
  color: #1a1a1a
}
.ribbon .LinkList :link,
.ribbon .RichLink-sep :link {
  background: 0 0;
  color: #bbe
}
.ribbon .LinkList :visited,
.ribbon .RichLink-sep :visited {
  background: 0 0;
  color: #fff
}
.ribbon .LinkList :link:hover,
.ribbon .LinkList :visited:hover,
.ribbon .RichLink-sep :link:hover,
.ribbon .RichLink-sep :visited:hover {
  background: #2a2a2a;
  color: #fff
}
html {
  font-size: 100%
}
small,
sub,
sup {
  font-size: 75%
}
body,
html {
  margin: 0;
  height: 100%
}
body {
  background: #1a1a1a;
  color: #111
}
dt {
  margin-top: .7em
}
blockquote,
q {
  quotes: none
}
sub,
sup {
  line-height: 0;
  vertical-align: baseline
}
h4,
h5,
h6,
input,
textarea {
  font-size: 1em
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  height: auto
}
.btn,
input {
  height: 2.1em
}
cite,
code,
dfn,
em,
kbd,
q,
samp,
strong,
var {
  font-style: normal
}
pre {
  margin: 1em 0;
  padding: 1em 3%
}
del {
  text-decoration: line-through
}
.Magazine-mm,
.Magazine-yy,
.commonForm,
a iframe,
a img,
br {
  display: block
}
dd,
li {
  margin-bottom: .3em
}
.links,
.note,
blockquote,
dl,
iframe,
img,
ol,
p,
table,
tr blockquote p,
tr blockquote pre,
ul {
  margin: 1em 3%
}
code,
kbd,
var {
  margin: 0 .1em
}
.AHead-labels i,
.Magazine-m,
.Magazine-y,
.RichLink br,
[type=hidden] {
  display: none
}
a,
b,
blockquote,
code,
div,
h2,
h3,
h4,
h5,
h6,
hr,
img,
kbd,
p,
pre,
table,
td,
th,
var {
  border-style: solid;
  border-width: 0
}
p {
  line-height: 1.9
}
.aBodyRoot :link,
.aBodyRoot :visited,
.aBodyRoot a:focus:hover,
:link:hover,
:visited:hover,
a:focus:hover {
  text-decoration: underline
}
.tl tbody th :link,
.tl tbody th :link:hover,
.tl thead :link,
.tl thead :link:hover,
:link {
  color: #24c
}
.tl tbody th,
.tl thead td,
.tl thead th,
:visited {
  color: #111
}
.ribbon :link:hover,
:link:hover {
  color: #3079ed;
  border-color: #3079ed
}
:visited:hover {
  color: #419;
  border-color: #419
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
.ribbon a,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #bbb
}
a:focus,
a:focus * {
  color: #fff!important
}
.ribbon :link {
  color: #bbe
}
.ribbon,
.ribbon .AHead h1,
.ribbon :visited,
.tl tbody :hover th :link,
.tl tbody :hover th :visited,
tbody :hover th,
tbody :hover th :link,
tbody :hover th :visited {
  color: #fff
}
.wn,
.wn:after {
  color: red!important
}
.ribbon :visited:hover {
  color: #b3f;
  border-color: #b3f
}
a:focus {
  background-color: #3079ed!important
}
h4,
h5,
h6 {
  margin: 1.5em 1.5% .8em
}
h4 {
  border-width: 0 0 0 .7em;
  border-color: #111;
  padding: 0 0 0 .3em
}
h5 {
  border-width: 0 0 0 .5em;
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  padding: 0 0 0 .7em
}
abbr[title],
acronym,
dfn,
q[cite],
q[title] {
  border-bottom: 1px dotted
}
abbr[title],
acronym,
dfn {
  text-decoration: none;
  cursor: help
}
.AMeta,
.Pager,
.tl thead th,
hr,
tbody th,
th {
  border-width: 0 0 1px
}
h2:after,
tfoot th {
  border-width: 2px 0 0
}
iframe,
img {
  max-width: 94%
}
ol,
ul {
  padding-left: 2em
}
li {
  margin-top: .3em
}
.links a,
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em
}
tr ol,
tr ul {
  margin-bottom: .5em
}
.jsCapLarge a,
dd blockquote,
dd dl,
dd p,
dd pre,
dd table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
dd blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dd ol,
dd ul,
li ol,
li ul {
  margin-top: 0;
  margin-bottom: 0
}
form :focus {
  color: #3079ed
}
h2 {
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
h2:after {
  width: 5em;
  height: 0;
  font-size: .1em;
  line-height: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-style: solid;
  border-color: #3079ed;
  content: " ";
  display: block
}
.wn:after {
  background: red!important
}
hr {
  height: 0;
  margin: 2em 6%
}
#lB .lS,
#lE,
#lF,
#lF .lX,
.tl tfoot th,
table {
  border-width: 1px 0 0
}
tr hr {
  margin: 1em 9%
}
table {
  width: 94%;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0
}
caption {
  margin: 1.5em 3% .7em
}
th {
  text-align: left;
  padding: .5em
}
td {
  padding: .5em 0;
  border-color: #f8fbf8 #f8fbf8 #ddd
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em;
  background: #777;
  border-color: #ddd #818181;
  color: #f8fbf8
}
tbody th,
td {
  vertical-align: top
}
tbody th {
  background: #ddd;
  border-color: #f8fbf8
}
tbody td {
  border-width: 0 .5em 1px
}
tfoot td {
  border-width: 2px .5em 0
}
.BlogArchive,
.BlogArchive tbody :hover td,
.Label div,
.aBodyRoot blockquote tbody th :visited,
.aBodyRoot blockquote tbody th :visited:hover,
.aBodyRoot thead :visited,
.aBodyRoot thead :visited:hover,
blockquote tbody th :link,
blockquote tbody th :link:hover,
thead :link,
thead :link:hover {
  color: #f8fbf8
}
tfoot td,
tfoot th {
  border-color: #777 #f8fbf8
}
blockquote thead td,
blockquote thead th {
  background: #111;
  border-color: #ddd #252525
}
blockquote tbody th {
  background: #777;
  border-color: #ddd;
  color: #f8fbf8
}
blockquote td {
  border-color: #ddd #ddd #777
}
blockquote tfoot td,
blockquote tfoot th {
  border-color: #111 #ddd
}
blockquote tbody :hover td {
  border-color: #ddd #ddd #3079ed
}
tbody :hover td {
  border-color: #f8fbf8 #f8fbf8 #3079ed;
  color: #3079ed
}
tbody :hover th a:focus {
  background: #fff!important;
  color: #3079ed!important
}
.Pager-prev,
.commonForm-send,
.r {
  text-align: right
}
.Pager-top,
.Search,
.c {
  text-align: center
}
.uc {
  text-transform: uppercase
}
.ribbon * {
  border-color: #2a2a2a
}
#lB .lS {
  background: #f1f4f1
}
em {
  background: #ff6
}
strong {
  background: #6cf
}
.lMi,
.lMz .lMh,
.lSi,
.lXi {
  padding: 0 3%
}
.AAuthor:after,
.Comment p:after,
.Cover:after,
.Magazine-snippet:after,
.RichLink a:after,
.box:after,
.commonForm-pair:after,
.lMi:after,
.lSi:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both
}
.lM1,
.lS1 {
  float: left
}
.lM2,
.lS2 {
  float: right
}
#lB .lS1 {
  width: 45.5%;
  padding: 0 0 0 3%
}
#lB .lS2 {
  width: 45.5%;
  padding: 0 3% 0 0
}
.btn {
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  padding: 0 1em
}
.AHead-labels :link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #1a1a1a
}
.btn:visited {
  background: #1a1a1a;
  border-color: #fff;
  color: #fff
}
.commonForm-pair {
  margin-bottom: 1em
}
.commonForm label {
  float: left;
  width: 7em;
  padding: .45em 0;
  display: block
}
.Cover img,
.commonForm-wrap * {
  width: 100%
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.commonForm-wrap {
  display: block;
  margin: 0 0 1em 8em
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
.medal {
  border-color: #f8fbf8;
  color: #111
}
:link .medal,
:visited .medal {
  border-color: #111;
  background: #111;
  color: #f8fbf8
}
.ABody h2,
.ABody h2 *,
.tl tbody :hover td,
.tl tbody :hover th {
  border-color: #3079ed
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #6d6309
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #61686b
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #e6d6a9
}
.Magazine-main,
blockquote h3,
kbd {
  border-color: #111
}
#lF .lM .mspacer {
  margin: .6em .5em
}
.lS .mspacer {
  margin: .6em 0
}
.mspacer {
  margin: 1em .5em!important
}
.AAuthor,
.ADesc,
.AHead {
  margin: 1em 0
}
.AAuthor img {
  float: left;
  margin: 0 1em 1em 0
}
.ABody {
  padding: 3.5em 0 2em
}
.ABody h1 {
  font-size: 2em;
  margin: 3em 1.5%
}
.ABody h2 {
  font-size: 1.5em;
  border-width: .2em 0 0;
  color: #3079ed;
  margin: 2em 1.5% 1em
}
.ABody h2:after,
.Cover h2:after {
  width: 0
}
.ABody h3 {
  font-size: 1.25em;
  border-width: .1em 0 0;
  margin: 2.4em 1.5% 1.2em
}
.ABody h1,
.ABody h2,
.ABody h3 {
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%
}
.AHead h1 {
  font-size: 2em;
  color: #111;
  margin: 0;
  text-align: center;
  padding: 2em 0
}
.AHead-labels {
  margin-top: .5em;
  color: #1a1a1a
}
.AHead-labels a,
.SocialBtns *,
.Subscribe a {
  display: inline-block;
  vertical-align: top;
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  line-height: 1.9;
  padding: 0 1em;
  height: 2.1em;
  margin: 0 0 .5em
}
.AHead-labels a:focus,
.SocialBtns :focus,
.Subscribe a:focus {
  border-color: #3079ed;
  color: #3079ed;
  border-style: dotted
}
.AHead-labels :visited {
  background: #1a1a1a;
  border-color: #bbb;
  color: #bbb
}
.AHead-labels :link:hover {
  border-color: #bbe;
  color: #1a1a1a
}
.Attribution {
  padding: 1em 0;
  text-align: center
}
.Attribution small,
.prettyprint code {
  font-size: .875em
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive a,
.Label a {
  border-width: 0 0 1px;
  line-height: 2.8
}
.BreadcrumbList {
  padding: 1em 0;
  color: #777
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  color: #777;
  font-size: 93%
}
.Comment p {
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover-img {
  margin: 0 0 .6em;
  height: 100%
}
.Cover-meta,
.SearchResult div div {
  margin: 0 .5em
}
.Cover img {
  margin: 0;
  display: block
}
.Cover h2 {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #3079ed;
  color: #f8fbf8;
  font-size: .825em;
  padding: .6em
}
.tl td,
.tl th,
pre code,
pre var {
  background: 0 0!important
}
.Cover h3 {
  font-size: 1.33em;
  margin: 0;
  background: #fff
}
.Magazine h3,
.Magazine-yy {
  font-size: 2em
}
.Cover a {
  display: block;
  padding: .37em
}
.Cover-meta {
  display: block;
  color: #777;
  line-height: 1.4
}
.Cover-meta span,
.RichLink-meta span,
.links a,
kbd {
  display: inline-block;
  vertical-align: top
}
.Cover p {
  line-height: 1.4;
  margin: .6em .5em
}
.Cover {
  margin: 2em auto
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #1a1a1a
}
#lF .Label a,
.lS .Label a {
  line-height: 2.4
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList :focus:hover {
  text-decoration: underline!important
}
.Magazine-item {
  padding: 1em 0;
  display: table
}
.Magazine-date,
.Magazine-main {
  display: table-cell;
  vertical-align: top
}
.Magazine-date {
  padding-right: 1.5em;
  line-height: 1
}
.Magazine-dd,
.Magazine-mm {
  font-size: 4em;
  line-height: .9
}
.Magazine-main {
  border-width: 0 0 0 .5em;
  padding-left: 1.5em
}
.aa,
blockquote,
kbd {
  border-width: 1px
}
.Magazine h3 {
  margin: .2em 0 0;
  padding: 0
}
.Magazine-label {
  margin: .5em 0 .8em
}
.Magazine-snippet img {
  float: left;
  margin: .4em 1em 1em 0
}
.Magazine-snippet p {
  line-height: 1.4em;
  margin: 0
}
.Magazine .btn {
  position: absolute;
  font-size: .83em;
  left: -7.229em;
  bottom: 0;
  width: 4.217em;
  padding: .301em
}
.Magazine img {
  margin-left: 0
}
.RichLink a {
  padding: 1em .5em 0;
  border-width: 0 0 1px;
  border-color: #2a2a2a!important
}
.baseColor .RichLink a {
  border-color: #ddd!important
}
.RichLink-meta {
  color: #2a2a2a;
  font-size: .875em;
  margin: 1.143em 0;
  line-height: 1.4
}
.baseColor .RichLink-meta {
  color: #ddd
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  margin: 0 .6em 1em 0;
  width: auto;
  line-height: 0
}
.RichLink p {
  margin: 1em 0;
  line-height: 1.4
}
.Header,
.Header h1,
.aa {
  line-height: 1
}
.lS .RichLink a {
  padding: .7em .5em 0
}
.lS .RichLink img {
  float: left;
  margin: 0 .5em .6em 0
}
.RichLink b {
  display: block;
  padding: 0 0 .571em;
  font-size: 1em
}
.Search-txt {
  margin-right: .2em
}
.Search .btn {
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621
}
.SearchResult div p {
  margin: .2em 0 0;
  color: #545454;
  line-height: 1.2
}
.SearchResult div span {
  color: grey
}
.SearchResult-multi {
  margin: 2em 0
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em;
  padding-bottom: 1em
}
.Header h1,
.h1 {
  font-size: 1.5em;
  margin: 0 0 .5em
}
#lH .lMi {
  padding-bottom: 0
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #1a1a1a
}
.Subscribe .atom:visited {
  background: #1a1a1a;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #1a1a1a
}
.Subscribe .rss:visited {
  background: #1a1a1a;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #1a1a1a
}
.Subscribe .fl:visited {
  background: #1a1a1a;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #1a1a1a
}
.Subscribe .stm:visited {
  background: #1a1a1a;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right;
  color: #f8fbf8
}
.aa {
  margin: 1em 0;
  border-color: #0a0809
}
.tl,
.tl th {
  border-width: 0
}
.aBodyRoot :visited,
.tl tbody th :visited,
.tl tbody th :visited:hover,
.tl thead :visited,
.tl thead :visited:hover,
blockquote .tl tbody th :visited {
  color: #717
}
.aBodyRoot :visited:hover {
  color: #419
}
blockquote {
  padding: 1em 1px
}
blockquote[title]:before {
  content: attr(title);
  display: block
}
blockquote[cite]:after {
  content: attr(cite)
}
.js-bqLink,
blockquote:before {
  font-size: .875em;
  color: #24c;
  margin: 0 1.5%
}
.js-bqCite,
blockquote:after {
  display: block;
  font-size: .875em;
  text-align: right;
  color: #777;
  margin: 0 1.5%
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 3% 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box .caption,
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 3%
}
.box {
  margin: 1em 0 0
}
kbd {
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em
}
kbd:hover {
  top: -2px
}
code,
var {
  padding: .1em .4em
}
pre code,
pre var {
  padding: 0;
  margin: 0
}
.links [href]:before {
  content: ">";
  position: relative;
  left: -.5em;
  width: 1em;
  text-align: center
}
.note {
  padding-left: 25%
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 3%
}
.caption {
  display: block;
  text-align: center;
  font-size: .875em;
  width: 100%
}
div .caption img {
  margin: 0 0 .5em;
  float: none
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  border-color: #ddd;
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  text-align: left;
  vertical-align: top
}
.tl td {
  padding: .5em .8em;
  border-width: 0 0 0 .3em;
  border-color: #ddd;
  border-style: solid
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.tl tbody :hover th {
  background: #3079ed!important;
  color: #fff
}
.AMeta {
  padding: .5em 0
}
.AMeta div {
  margin: .5em 0;
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager {
  color: #f8fbf8;
  display: table;
  width: 100%;
  table-layout: fixed
}
.Pager-next i,
.Pager-prev i {
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent
}
.Pager span {
  padding: 1.5em 0;
  vertical-align: middle;
  display: table-cell
}
.Pager i {
  display: inline-block;
  vertical-align: text-top
}
.Pager-next i {
  margin-right: .5em;
  border-right: .7em solid #777
}
.Pager-next i:focus {
  border-right: .7em solid #fff
}
.Pager-prev i {
  margin-left: .5em;
  border-left: .7em solid #777
}
.Pager-prev i:focus {
  border-left: .7em solid #fff
}
.Pager-top i {
  margin-right: .5em;
  border-left: .45em solid transparent;
  border-right: .45em solid transparent;
  border-bottom: .9em solid #777
}
.Pager-top i:focus {
  border-left: .45em solid #fff;
  border-right: .45em solid #fff
}
.SocialBtns {
  border-width: 0 0 1px;
  padding: 1em 0 .5em;
  color: #f8fbf8;
  text-align: center
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #f8fbf8
}
.SocialBtns .tw:visited {
  background: #f8fbf8;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .fb:focus,
.SocialBtns .pt:focus {
  border-color: #fff
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #f8fbf8
}
.SocialBtns .hb:visited {
  background: #f8fbf8;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #f8fbf8
}
.SocialBtns .pk:visited {
  background: #f8fbf8;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #f8fbf8
}
.SocialBtns .ln:visited {
  background: #f8fbf8;
  border-color: #00c300;
  color: #00c300
}
.prettyprint {
  border-width: 1px;
  border-color: #333
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.jsPicaLarge {
  margin: 0 0 1em
}
.jsPicaLarge img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box
}
.jsCapLarge {
  margin: 0 auto 1em
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #f8fbf8
}
.baseColor .btn:visited {
  background: #f8fbf8;
  border-color: #111;
  color: #111
}
@media screen {
  a img {
    border-width: 2px
  }
  .LinkList :link:hover,
  .LinkList :visited:hover,
  .RichLink-sep :link:hover,
  .RichLink-sep :visited:hover,
  .tl tr code,
  .tl tr var,
  blockquote tbody th code,
  blockquote tbody th var,
  thead code,
  thead var {
    background: #ddd;
    color: #111
  }
  input,
  textarea {
    background: #fff;
    color: #111
  }
  [type=submit],
  blockquote,
  code,
  var {
    background: #ddd
  }
  [type=submit]:focus {
    top: 0
  }
  #lB .lM {
    padding-bottom: 4em
  }
  .lX1 {
    float: left
  }
  .lX2 {
    float: right
  }
  #lB .lSi,
  .lM,
  .lS,
  .lX {
    max-width: 50em;
    display: inline-block;
    vertical-align: top;
    text-align: left
  }
  .Header,
  .lW {
    text-align: center
  }
  #lB .lS {
    padding-bottom: 1em;
    max-width: 100%
  }
  .Cover .img-loaded div {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0
  }
  .aa {
    background: #0a0809
  }
  .aa,
  .aa code,
  .aa var {
    color: #00ac06
  }
  .hscroll {
    margin: 1em 0
  }
  .note .hscroll,
  dl .hscroll,
  li .hscroll,
  tr .hscroll {
    margin-top: 0
  }
  .hscroll table {
    margin-bottom: .5em
  }
  .hscroll pre {
    margin: 0 0 .5em;
    overflow: auto;
    white-space: pre
  }
  .hscroll table {
    white-space: nowrap
  }
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote var,
  tbody th code,
  tbody th var {
    background: #777;
    color: #f8fbf8
  }
  .prettyprint {
    background: #333;
    color: #fff
  }
  code .atv,
  code .str {
    color: #65b042
  }
  code .kwd {
    color: #e28964
  }
  code .com {
    color: #aeaeae;
    font-style: italic
  }
  code .tag,
  code .typ {
    color: #89bdff
  }
  code .dec,
  code .lit {
    color: #3387cc
  }
  code .pun {
    color: #dbdbdb
  }
  code .pln {
    color: #d4d4d4
  }
  code .atn {
    color: #bdb76b
  }
}
@media print {
  .LinkList a,
  .Magazine-item,
  .RichLink-sep a,
  .SearchResult div div,
  .box,
  .caption,
  .commonForm-pair,
  .h1,
  dd,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  li,
  tr {
    page-break-inside: avoid
  }
  .h1,
  caption,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  thead {
    page-break-after: avoid
  }
  blockquote code,
  blockquote table,
  blockquote var,
  tbody th,
  tbody th code,
  tbody th var,
  thead code,
  thead td,
  thead th,
  thead var {
    border-color: #666
  }
  *,
  .ribbon *,
  table {
    border-color: #ccc
  }
  blockquote,
  table {
    margin: 1em 0
  }
  code .typ,
  th {
    font-weight: 700
  }
  .LinkList :link,
  .RichLink-sep :link,
  .ribbon :link,
  :link,
  blockquote tbody th :link,
  blockquote thead th :link,
  thead :link {
    color: #006
  }
  .AHead-labels,
  .LinkList :visited,
  .RichLink-sep :visited,
  code .pln {
    color: #000
  }
  p {
    line-height: 1.5
  }
  .ADesc,
  .ribbon a,
  a {
    color: #666
  }
  .ribbon :visited,
  :visited,
  blockquote tbody th :visited,
  blockquote thead th :visited,
  thead :visited {
    color: #606
  }
  blockquote pre {
    margin: 1em
  }
  table {
    width: 100%
  }
  thead td,
  thead th {
    background: #ccc;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  tbody th {
    background: #ccc
  }
  td {
    border-color: #fff #fff #ccc
  }
  tfoot td,
  tfoot th {
    border-color: #666 #fff
  }
  blockquote thead td,
  blockquote thead th {
    background: #ccc;
    border-color: #000;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  blockquote tbody th {
    background: #ccc;
    border-color: #000;
    color: #000
  }
  blockquote td {
    border-color: #fff #fff #666
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #000 #fff
  }
  .baseColor,
  .ribbon,
  body {
    background: #fff;
    color: #000
  }
  .AHead,
  .BreadcrumbList {
    color: #666!important
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .js-bqLink a:after,
  .noprint {
    display: none
  }
  .ABody {
    padding: 0 0 2em
  }
  .lMz .AHead {
    padding: 0 3%
  }
  .AHead h1 {
    color: #000!important;
    padding: 1em 0
  }
  .AHead-labels a {
    display: inline;
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0
  }
  .Cover h2 {
    margin-top: 1em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding-top: .5em;
    padding-bottom: .5em
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    text-align: center;
    margin: 0 0 .5em
  }
  .Header h1 + span {
    display: block;
    text-align: center
  }
  kbd {
    border-color: #000
  }
  code,
  var {
    border-width: 1px;
    border-color: #ccc
  }
  pre code {
    border: 0
  }
  .tl tbody td:after,
  blockquote .tl tbody td:after {
    border-color: #fff
  }
  code .atv,
  code .str {
    color: #060
  }
  code .kwd,
  code .tag {
    color: #006;
    font-weight: 700
  }
  code .com {
    color: #600;
    font-style: italic
  }
  code .atn,
  code .typ {
    color: #404
  }
  code .lit {
    color: #044
  }
  code .pun {
    color: #440
  }
  code .dec {
    color: #003
  }
}