@charset "UTF-8";
*,
input {
  border-style: solid
}
.SocialBtns .hb:focus,
.SocialBtns .ln:focus,
.SocialBtns .pk:focus,
.SocialBtns .tw:focus,
.baseColor .btn:focus,
a,
a img {
  border-color: #fdeeb7
}
blockquote .tl td,
blockquote .tl tfoot td,
blockquote .tl tfoot th,
blockquote .tl thead td,
blockquote .tl thead th,
blockquote blockquote,
blockquote hr,
blockquote table,
h5,
h6 {
  border-color: #8a7322
}
.Comment div,
.Cover-meta,
.baseColor :link .RichLink-meta,
.baseColor :visited .RichLink-meta,
a,
h6 {
  color: #8a7322
}
.tl td > :first-child,
dl iframe,
dl img,
li iframe,
li img,
tr iframe,
tr img,
tr ol,
tr ul {
  margin-top: 0
}
.AAuthor p,
.ADesc p,
.note .box,
dl .box,
form,
h2,
input,
li .box,
textarea,
tr .box {
  margin: 0
}
blockquote tbody th,
thead td,
thead th {
  background: #8a7322;
  color: #fdeeb7
}
.lM1,
.lM2,
.lS1,
.lS2 {
  width: 48.5%
}
.baseColor,
.medal {
  background: #fdeeb7
}
.Cover-img,
.Search,
h2,
sub,
sup {
  position: relative
}
.hscroll,
textarea {
  overflow: auto
}
.links,
pre {
  white-space: pre-wrap
}
body,
input,
textarea {
  font-family: "-apple-system",BlinkMacSystemFont,"Avenir Next",Avenir,"Open Sans","Helvetica Neue",Helvetica,Arial,Verdana,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic","M+ 1p",sans-serif
}
code,
kbd,
samp,
var {
  font-family: SFMono-Regular,"Liberation Mono",Consolas,Meiryo,monospace
}
*,
blockquote :link img,
blockquote :visited img,
blockquote tbody th,
hr,
input,
table,
textarea {
  border-color: #e7d182
}
.AHead-labels :focus,
.Subscribe .atom:focus,
.Subscribe .fl:focus,
.Subscribe .rss:focus,
.Subscribe .stm:focus,
.btn:focus,
.ribbon :link img,
.ribbon :visited img {
  border-color: #062241
}
a:focus img {
  border-color: #0d5bb5!important
}
:link:hover img,
:visited:hover img {
  position: relative;
  top: 2px
}
.LinkList a,
.RichLink-sep a {
  display: block;
  cursor: pointer;
  text-decoration: none!important;
  background: #06284e;
  color: #fdeeb7
}
.BlogArchive :link:hover,
.BlogArchive :visited:hover,
.Label :link:hover,
.Label :visited:hover,
.aBodyRoot :link:hover,
.aBodyRoot :visited:hover,
.aBodyRoot a:focus,
:link,
:visited,
a:focus,
ins {
  text-decoration: none
}
.LinkList :link,
.RichLink-sep :link {
  background: 0 0;
  color: #24c
}
.LinkList a:visited,
.RichLink-sep a:visited {
  background: 0 0;
  color: #06284e
}
.ribbon .LinkList a:not([href]),
.ribbon .RichLink-sep a:not([href]) {
  background: #fed33b;
  color: #062241
}
.ribbon .LinkList :link:hover,
.ribbon .LinkList :visited:hover,
.ribbon .RichLink-sep :link:hover,
.ribbon .RichLink-sep :visited:hover {
  background: #08366b;
  color: #fed33b
}
:focus {
  outline: 0
}
html {
  font-size: 100%
}
small,
sub,
sup {
  font-size: 75%
}
body,
html {
  margin: 0;
  height: 100%
}
dt {
  font-weight: 700;
  margin-top: .7em
}
h1,
h2,
h3,
h5,
h6,
th {
  font-weight: 400
}
blockquote,
q {
  quotes: none
}
sub,
sup {
  line-height: 0;
  vertical-align: baseline
}
h4,
h5,
h6,
input,
textarea {
  font-size: 1em
}
.tl th,
tbody th,
td {
  vertical-align: top
}
sup {
  top: -.5em
}
sub {
  bottom: -.25em
}
img {
  height: auto
}
.btn,
input {
  height: 2.1em
}
cite,
code,
dfn,
em,
kbd,
q,
samp,
strong,
var {
  font-style: normal
}
pre {
  margin: 1em 0;
  padding: 1em 3%
}
del {
  text-decoration: line-through
}
dd,
li {
  margin-bottom: .3em
}
.links,
.note,
blockquote,
dl,
iframe,
img,
ol,
p,
table,
tr blockquote p,
tr blockquote pre,
ul {
  margin: 1em 3%
}
code,
kbd,
var {
  margin: 0 .1em
}
.Header,
.Header h1,
.aa,
input {
  line-height: 1
}
body,
dd p,
li p,
tr p {
  line-height: 1.2
}
*,
.tl,
.tl th {
  border-width: 0
}
body {
  background: #062241;
  color: #06284e
}
.btn,
p {
  line-height: 1.9
}
.aBodyRoot :link,
.aBodyRoot :visited,
.aBodyRoot a:focus:hover,
:link:hover,
:visited:hover,
a:focus:hover {
  text-decoration: underline
}
a:focus {
  background-color: Highlight!important
}
.tl tbody th :link,
.tl tbody th :link:hover,
.tl thead :link,
.tl thead :link:hover,
:link {
  color: #24c
}
.tl tbody th,
.tl thead td,
.tl thead th,
:visited {
  color: #06284e
}
.ribbon :link:hover,
:link:hover,
form :focus {
  color: #0d5bb5;
  border-color: #0d5bb5
}
:visited:hover {
  color: #419;
  border-color: #419
}
.ribbon a {
  color: #ffeba1;
  border-color: #062241
}
a:active,
a:active * {
  color: #fff!important
}
.ribbon :link {
  color: #bbe
}
.ribbon,
.ribbon .AHead h1,
.ribbon :visited {
  color: #fed33b
}
.wn,
.wn:after {
  color: #c00!important
}
.ribbon :visited:hover {
  color: #b3f;
  border-color: #b3f
}
a:active {
  background-color: #0d5bb5!important
}
a:focus * {
  color: HighlightText!important
}
.ribbon a:focus {
  outline: HighlightText solid 2px
}
h4,
h5,
h6 {
  margin: 1.5em 1.5% .8em
}
h4 {
  border-width: 0 0 0 .7em;
  border-color: #06284e;
  padding: 0 0 0 .3em
}
h5 {
  border-width: 0 0 0 .5em;
  padding: 0 0 0 .5em
}
h6 {
  border-width: 0 0 0 .3em;
  padding: 0 0 0 .7em
}
abbr[title],
acronym,
dfn,
q[cite],
q[title] {
  border-bottom: 1px dotted
}
abbr[title],
acronym,
dfn {
  text-decoration: none;
  cursor: help
}
.AMeta,
.Pager,
.SocialBtns,
.tl thead th,
hr,
tbody th,
th {
  border-width: 0 0 1px
}
.btn,
input,
textarea {
  border-width: .1em
}
h2:after,
tfoot th {
  border-width: 2px 0 0
}
.ABody h2,
.ABody h2 *,
.tl tbody :hover td,
.tl tbody :hover th,
h2:after {
  border-color: #0d5bb5
}
iframe,
img {
  max-width: 100%;
  max-width: 94%
}
.commonForm,
a iframe,
a img {
  display: block
}
ol,
ul {
  padding-left: 2em
}
li {
  margin-top: .3em
}
dl ol,
dl ul,
li ol,
li ul {
  padding-left: 1em
}
tr ol,
tr ul {
  margin-bottom: .5em
}
.jsCapLarge a,
dd blockquote,
dd dl,
dd p,
dd pre,
dd table,
li blockquote,
li dl,
li p,
li pre,
li table,
tr blockquote,
tr dl,
tr p,
tr pre {
  margin: 0 0 .5em
}
dd blockquote p,
li blockquote p,
tr blockquote p {
  margin: .5em 0
}
dd ol,
dd ul,
li ol,
li ul {
  margin-top: 0;
  margin-bottom: 0
}
h2 {
  border-width: 0 0 2px;
  padding: 1.5em .45em .5em;
  font-size: 1.1em
}
h2:after {
  width: 5em;
  height: 0;
  font-size: .1em;
  line-height: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  border-style: solid;
  content: " ";
  display: block
}
.wn:after {
  background: #c00!important
}
hr {
  height: 0;
  margin: 2em 6%
}
#lB .lS,
#lE,
#lF,
#lF .lX,
.tl tfoot th,
table {
  border-width: 1px 0 0
}
tr hr {
  margin: 1em 9%
}
table {
  width: 94%;
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0
}
caption {
  margin: 1.5em 3% .7em
}
th {
  text-align: left;
  padding: .5em
}
td {
  padding: .5em 0;
  border-color: #fdeeb7 #fdeeb7 #e7d182
}
thead td,
thead th {
  padding: .5em .5em .5em .4em;
  border-width: 0 0 1px .1em;
  border-color: #e7d182 #937c2c
}
tbody th {
  background: #e7d182;
  border-color: #fdeeb7
}
tbody td {
  border-width: 0 .5em 1px
}
tfoot td {
  border-width: 2px .5em 0
}
.BlogArchive,
.BlogArchive tbody :hover td,
.Label div,
.aBodyRoot blockquote tbody th :visited,
.aBodyRoot blockquote tbody th :visited:hover,
.aBodyRoot thead :visited,
.aBodyRoot thead :visited:hover,
blockquote tbody th :link,
blockquote tbody th :link:hover,
thead :link,
thead :link:hover {
  color: #fdeeb7
}
tfoot td,
tfoot th {
  border-color: #8a7322 #fdeeb7
}
blockquote thead td,
blockquote thead th {
  background: #06284e;
  border-color: #e7d182 #1d3953
}
blockquote td {
  border-color: #e7d182 #e7d182 #8a7322
}
blockquote tfoot td,
blockquote tfoot th {
  border-color: #06284e #e7d182
}
blockquote tbody :hover td {
  border-color: #e7d182 #e7d182 #0d5bb5
}
tbody :hover th {
  background: #0d5bb5;
  color: #fff
}
.tl tbody :hover th :link,
.tl tbody :hover th :visited,
tbody :hover th :link,
tbody :hover th :visited {
  color: #fff
}
tbody :hover td {
  border-color: #fdeeb7 #fdeeb7 #0d5bb5;
  color: #0d5bb5
}
.Pager-prev,
.commonForm-send,
.r {
  text-align: right
}
.Pager-top,
.c {
  text-align: center
}
.uc {
  text-transform: uppercase
}
.ribbon * {
  border-color: #08366b
}
#lB .lS {
  background: #fffd93
}
em {
  background: #ff6
}
strong {
  background: #6cf
}
.AAuthor:after,
.Comment p:after,
.Cover:after,
.RichLink a:after,
.box:after,
.commonForm-pair:after,
.lMi:after,
.lSi:after,
.lX:after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0
}
.lMi,
.lMz .lMh,
.lSi,
.lXi {
  padding: 0 3%
}
.lM1,
.lS1 {
  float: left
}
.lM2,
.lS2 {
  float: right
}
#lB .lS1 {
  width: 45.5%;
  padding: 0 0 0 3%
}
#lB .lS2 {
  width: 45.5%;
  padding: 0 3% 0 0
}
.btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  padding: 0 1em
}
.AHead-labels a:focus,
.SocialBtns :focus,
.Subscribe a:focus,
.btn:focus {
  border-color: #0d5bb5;
  color: #0d5bb5;
  outline: 0;
  border-style: dotted
}
.AHead-labels :link,
.btn:link {
  background: #bbe;
  border-color: #bbe;
  color: #062241
}
.btn:visited {
  background: #062241;
  border-color: #fed33b;
  color: #fed33b
}
blockquote h3,
kbd {
  border-color: #06284e
}
.commonForm-pair {
  margin-bottom: 1em
}
.commonForm label {
  float: left;
  width: 7em;
  padding: .45em 0;
  display: block
}
.Cover img,
.commonForm-wrap * {
  width: 100%
}
.ABody h2,
.ABody h3 {
  padding: 1.4em 0 .6em
}
.commonForm-wrap {
  display: block;
  margin: 0 0 1em 8em
}
.medal,
.medal-bronze,
.medal-gold,
.medal-silver {
  display: block;
  float: left;
  margin: 0 .6em 1em 0;
  border-width: 1px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6
}
.medal {
  border-color: #fdeeb7;
  color: #06284e
}
:link .medal,
:visited .medal {
  border-color: #06284e;
  background: #06284e;
  color: #fdeeb7
}
.medal-gold {
  border-color: #e7bd2c;
  background: #e7bd2c;
  color: #6d6309
}
.medal-silver {
  border-color: #d3d6d6;
  background: #d3d6d6;
  color: #61686b
}
.medal-bronze {
  border-color: #c47222;
  background: #c47222;
  color: #e6d6a9
}
.ADesc,
.ribbon .AHead,
.ribbon .BreadcrumbList,
:link .RichLink-meta,
:visited .RichLink-meta {
  color: #ffeba1
}
#lF .lM .mspacer {
  margin: .6em .5em
}
.lS .mspacer {
  margin: .6em 0
}
.mspacer {
  margin: 1em .5em!important
}
.AAuthor,
.ADesc {
  margin: 1em 0
}
.AAuthor img {
  float: left;
  margin: 0 1em 1em 0
}
.ABody {
  margin: 3.5em 0 2em
}
.ABody h1 {
  font-size: 2em;
  margin: 3em 1.5%
}
.ABody h2 {
  font-size: 1.5em;
  border-width: .2em 0 0;
  color: #0d5bb5;
  margin: 2em 1.5% 1em
}
.ABody h2:after,
.AHead-labels i,
.Cover h2:after,
.RichLink br {
  display: none
}
.ABody h3 {
  font-weight: 700;
  font-size: 1.25em;
  border-width: .1em 0 0;
  margin: 2.4em 1.5% 1.2em
}
.ABody h1,
.ABody h2,
.ABody h3 {
  text-align: center;
  padding-left: 1.5%;
  padding-right: 1.5%
}
.AHead {
  color: #8a7322;
  margin: 1em 0
}
.AHead h1 {
  font-size: 2em;
  color: #06284e;
  margin: 0;
  text-align: center;
  padding: 2em 0
}
.Attribution small,
.RichLink-meta,
.prettyprint code {
  font-size: .875em
}
.AHead-labels {
  margin-top: .5em;
  color: #062241
}
.AHead-labels a,
.SocialBtns *,
.Subscribe a {
  display: inline-block;
  border-width: .1em;
  cursor: pointer;
  text-align: center;
  line-height: 1.9;
  padding: 0 1em;
  height: 2.1em;
  margin: 0 0 .5em
}
.aa,
.prettyprint,
blockquote,
kbd {
  border-width: 1px
}
.AHead-labels :visited {
  background: #062241;
  border-color: #ffeba1;
  color: #ffeba1
}
.AHead-labels :link:hover {
  border-color: #bbe;
  color: #062241
}
.Attribution {
  padding: 1em 0;
  text-align: center
}
.BlogArchive,
.Comment,
.Label,
.LinkList,
.RichLink,
.Subscribe {
  padding: 0 0 1em
}
.BlogArchive a,
.Label a {
  border-width: 0 0 1px;
  line-height: 2.8
}
.BreadcrumbList {
  padding: 1em 0;
  color: #8a7322
}
.BreadcrumbList a,
.Cover-meta span,
.RichLink-meta span,
.TxtNavi a,
.links a,
kbd {
  display: inline-block
}
.Comment h3,
.SearchResult h3 {
  margin-bottom: 0
}
.Comment div,
.Comment h3 {
  font-size: 1em;
  margin-left: 3%
}
.Comment div {
  font-size: 93%
}
.Comment p {
  padding: 0 3% .5em;
  border-width: 0 0 1px;
  margin-top: 0
}
.Cover-img {
  margin: 0 0 .6em;
  height: 100%
}
.Cover-meta,
.SearchResult div div {
  margin: 0 .5em
}
.Cover img {
  margin: 0;
  display: block;
  max-width: 100%
}
.Cover h2 {
  display: inline-block;
  background: #0d5bb5;
  border: 1px solid #0d5bb5;
  color: #fdeeb7;
  font-size: .825em;
  padding: .6em
}
.tl td,
.tl th,
pre code,
pre var {
  background: 0 0!important
}
.Cover h3 {
  font-size: 1.33em;
  margin: 0;
  background: #fff
}
.Cover a {
  display: block;
  padding: .37em
}
.Cover-meta {
  display: block;
  line-height: 1.4
}
.Cover p {
  line-height: 1.4;
  margin: .6em .5em
}
.Cover {
  margin: 2em auto
}
.Subscribe div,
.ribbon .Label div,
.ribbon .TxtNavi {
  color: #062241
}
#lF .Label a,
.lS .Label a {
  line-height: 2.4
}
.LinkList a {
  line-height: 1.1;
  padding: 1em .5em .8em
}
.LinkList :focus:hover {
  text-decoration: underline!important
}
.RichLink a {
  padding: 1em .5em 0;
  border-width: 0 0 1px;
  border-color: #08366b!important
}
.baseColor .RichLink a {
  border-color: #e7d182!important
}
.RichLink-meta {
  color: #08366b;
  margin: 1.143em 0;
  line-height: 1.4
}
.baseColor .RichLink-meta {
  color: #e7d182
}
.RichLink h3 {
  font-size: 1.5em;
  margin: 0 0 .4em
}
.RichLink h3 * {
  font-size: .667em
}
.RichLink img {
  float: left;
  margin: 0 .6em 1em 0
}
.RichLink p {
  margin: 1em 0;
  line-height: 1.4
}
.lS .RichLink a {
  padding: .7em .5em 0
}
.lS .RichLink img {
  float: left;
  margin: 0 .5em .6em 0
}
.RichLink b {
  display: block;
  font-weight: 400;
  padding: 0 0 .571em;
  font-size: 1em
}
.Search {
  display: block;
  height: 1.9em;
  padding: 0 3em 0 0;
  width: auto
}
.Search input {
  position: absolute;
  top: 0
}
.Search-txt {
  display: block;
  width: 100%;
  box-sizing: content-box;
  height: 1.7em;
  line-height: 1.7em;
  left: .05em
}
.Search input:focus,
.Search input:hover {
  z-index: 1
}
.Search .btn {
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
  width: 3em;
  right: .05em;
  overflow: hidden
}
.SearchResult {
  margin-bottom: 2em
}
.SearchResult p {
  margin: .5em
}
.SearchResult :visited {
  color: #1a0dab
}
.SearchResult cite {
  color: #006621
}
.SearchResult div p {
  margin: .2em 0 0;
  color: #545454;
  line-height: 1.2
}
.SearchResult div span {
  color: grey
}
.SearchResult-multi {
  margin: 2em 0
}
#lH .lMi,
#lH .lSi {
  padding-top: 1em;
  padding-bottom: 1em
}
.Header h1,
.h1 {
  font-size: 1.5em;
  margin: 0 0 .5em
}
.Header h1 {
  padding: 0
}
#lH .lMi {
  padding-bottom: 0
}
.Subscribe .atom:link {
  background: #dd6502;
  border-color: #dd6502;
  color: #062241
}
.Subscribe .atom:visited {
  background: #062241;
  border-color: #dd6502;
  color: #dd6502
}
.Subscribe .rss:link {
  background: #dd8902;
  border-color: #dd8902;
  color: #062241
}
.Subscribe .rss:visited {
  background: #062241;
  border-color: #dd8902;
  color: #dd8902
}
.Subscribe .fl:link {
  background: #53bb45;
  border-color: #53bb45;
  color: #062241
}
.Subscribe .fl:visited {
  background: #062241;
  border-color: #53bb45;
  color: #53bb45
}
.Subscribe .stm:link {
  background: #8bc53f;
  border-color: #8bc53f;
  color: #062241
}
.Subscribe .stm:visited {
  background: #062241;
  border-color: #8bc53f;
  color: #8bc53f
}
.TxtNavi {
  padding: 1em 0;
  text-align: right;
  color: #fdeeb7
}
.aa {
  margin: 1em 0;
  font-family: monospace;
  border-color: #0a0809
}
.aBodyRoot :visited,
.tl tbody th :visited,
.tl tbody th :visited:hover,
.tl thead :visited,
.tl thead :visited:hover,
blockquote .tl tbody th :visited {
  color: #717
}
.aBodyRoot :visited:hover {
  color: #419
}
blockquote {
  padding: 1em 1px
}
blockquote[title]:before {
  content: attr(title);
  display: block
}
blockquote[cite]:after {
  content: attr(cite)
}
.js-bqLink,
blockquote:before {
  font-size: .875em;
  color: #24c;
  margin: 0 1.5%
}
.js-bqCite,
blockquote:after {
  display: block;
  font-size: .875em;
  text-align: right;
  color: #8a7322;
  margin: 0 1.5%
}
.box dl,
.box ol,
.box p,
.box ul {
  margin: 0 3% 1em
}
.box ol,
.box ul {
  list-style-position: inside
}
.box .caption,
.box iframe,
.box img {
  float: left;
  margin: 0 1em 1em 3%
}
.box {
  margin: 1em 0 0
}
kbd {
  cursor: pointer;
  letter-spacing: -1px;
  padding: 0 .4em
}
kbd:hover {
  position: relative;
  top: -2px
}
code,
var {
  padding: .1em .4em
}
pre code,
pre var {
  padding: 0;
  margin: 0
}
a:focus code,
a:focus var {
  background: Highlight
}
.links a {
  padding-left: 1em;
  position: relative
}
.links [href]:before {
  content: ">";
  position: relative;
  left: -.5em;
  width: 1em;
  text-align: center;
  font-weight: 700
}
.links [href*="/web.archive."]:before {
  content: "*"
}
.note {
  padding-left: 25%
}
.note .box,
.note blockquote,
.note dl,
.note iframe,
.note img,
.note ol,
.note p,
.note ul {
  margin-right: 0
}
.note .box iframe,
.note .box img,
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 1em
}
dl.note dd {
  margin-left: 1em
}
.note blockquote dl,
.note blockquote ol,
.note blockquote p,
.note blockquote ul {
  margin-right: 3%
}
.caption {
  display: block;
  text-align: center;
  font-size: .875em;
  width: 100%;
  max-width: 100%
}
div .caption img {
  margin: 0 0 .5em;
  float: none
}
.tl thead td {
  border-width: 0 0 1px .3em
}
.tl tfoot td,
.tl tfoot th,
.tl thead td,
.tl thead th {
  border-color: #e7d182;
  padding-top: .5em;
  padding-bottom: .5em
}
.tl th {
  padding: .5em .8em .5em .5em;
  text-align: left
}
.tl td {
  padding: .5em .8em;
  border-width: 0 0 0 .3em;
  border-color: #e7d182;
  border-style: solid
}
.tl tfoot td {
  border-width: 1px 0 0 .3em;
  border-style: solid dotted
}
.tl tbody :hover th {
  background: #0d5bb5!important;
  color: #fff
}
.AMeta {
  padding: .5em 0
}
.AMeta div {
  margin: .5em 0;
  padding-left: 1.2em;
  text-indent: -1.2em
}
.Pager {
  color: #fdeeb7;
  display: table;
  width: 100%;
  table-layout: fixed
}
.Pager span {
  padding: 1.5em 0;
  vertical-align: middle;
  display: table-cell
}
.Pager i {
  display: inline-block;
  vertical-align: text-top;
  border-color: transparent #8a7322
}
.Pager :focus i {
  border-color: transparent #fff
}
.Pager-next i {
  border-width: .5em .7em .5em 0;
  margin-right: .5em
}
.Pager-prev i {
  border-width: .5em 0 .5em .7em;
  margin-left: .5em
}
.Pager-top i {
  border-width: 0 .45em .9em;
  margin-right: .5em;
  border-color: #8a7322 transparent
}
.Pager-top :focus i {
  border-color: #fff transparent
}
.SocialBtns {
  padding: 1em 0 .5em;
  color: #fdeeb7;
  text-align: center
}
.SocialBtns .tw:link {
  background: #1b95e0;
  border-color: #1b95e0;
  color: #fdeeb7
}
.SocialBtns .tw:visited {
  background: #fdeeb7;
  border-color: #1b95e0;
  color: #1b95e0
}
.SocialBtns .fb:link {
  background: #3b5999;
  border-color: #3b5999;
  color: #fff
}
.SocialBtns .fb:visited {
  background: #fff;
  border-color: #3b5999;
  color: #3b5999
}
.SocialBtns .fb:focus,
.SocialBtns .pt:focus {
  border-color: #fff
}
.SocialBtns .hb:link {
  background: #008fde;
  border-color: #008fde;
  color: #fdeeb7
}
.SocialBtns .hb:visited {
  background: #fdeeb7;
  border-color: #008fde;
  color: #008fde
}
.SocialBtns .pt:link {
  background: #bd081c;
  border-color: #bd081c;
  color: #fff
}
.SocialBtns .pt:visited {
  background: #fff;
  border-color: #bd081c;
  color: #bd081c
}
.SocialBtns .pk:link {
  background: #ee4056;
  border-color: #ee4056;
  color: #fdeeb7
}
.SocialBtns .pk:visited {
  background: #fdeeb7;
  border-color: #ee4056;
  color: #ee4056
}
.SocialBtns .ln:link {
  background: #00c300;
  border-color: #00c300;
  color: #fdeeb7
}
.SocialBtns .ln:visited {
  background: #fdeeb7;
  border-color: #00c300;
  color: #00c300
}
.prettyprint {
  border-color: #333
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae
}
.jsPicaLarge {
  margin: 0 0 1em;
  display: block;
  clear: both;
  padding: 2px
}
.jsPicaLarge img {
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  border-width: 0
}
.jsCapLarge {
  margin: 0 auto 1em
}
div .box .jsCapLarge {
  float: none
}
.jsPicaLarge:hover {
  top: 2px
}
.jsPicaLarge:hover img {
  top: 0
}
.baseColor .btn:link {
  background: #24c;
  border-color: #24c;
  color: #fdeeb7
}
.baseColor .btn:visited {
  background: #fdeeb7;
  border-color: #06284e;
  color: #06284e
}
@media screen,
handheld,
projection {
  a img {
    border-width: 2px
  }
  .LinkList :link:hover,
  .LinkList :visited:hover,
  .RichLink-sep :link:hover,
  .RichLink-sep :visited:hover,
  .tl tr code,
  .tl tr var,
  blockquote tbody th code,
  blockquote tbody th var,
  thead code,
  thead var {
    background: #e7d182;
    color: #06284e
  }
  input,
  textarea {
    background: #fdeeb7;
    color: #06284e
  }
  [type=submit],
  blockquote,
  code,
  var {
    background: #e7d182
  }
  #lB .lM {
    padding-bottom: 4em
  }
  .lX1 {
    float: left
  }
  .lX2 {
    float: right
  }
  #lB .lSi,
  .lM,
  .lS,
  .lX {
    max-width: 50em;
    margin: 0 auto
  }
  #lB .lS {
    padding-bottom: 1em;
    max-width: 100%
  }
  .Cover .img-loaded div {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0
  }
  .Header {
    text-align: center
  }
  .aa {
    background: #0a0809
  }
  .aa,
  .aa code,
  .aa var {
    color: #00ac06
  }
  .hscroll {
    margin: 1em 0
  }
  .note .hscroll,
  dl .hscroll,
  li .hscroll,
  tr .hscroll {
    margin-top: 0
  }
  .hscroll table {
    margin-bottom: .5em
  }
  .hscroll pre {
    margin: 0 0 .5em;
    overflow: auto;
    white-space: pre
  }
  .hscroll table {
    white-space: nowrap
  }
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote var,
  tbody th code,
  tbody th var {
    background: #8a7322;
    color: #fdeeb7
  }
  .prettyprint {
    background: #333;
    color: #fff
  }
  code .atv,
  code .str {
    color: #65b042
  }
  code .kwd {
    color: #e28964
  }
  code .com {
    color: #aeaeae;
    font-style: italic
  }
  code .tag,
  code .typ {
    color: #89bdff
  }
  code .dec,
  code .lit {
    color: #3387cc
  }
  code .pun {
    color: #dbdbdb
  }
  code .pln {
    color: #d4d4d4
  }
  code .atn {
    color: #bdb76b
  }
}
@media handheld,
screen and (max-width:740px) {
  .links,
  .note,
  blockquote,
  dl,
  iframe,
  img,
  ol,
  p,
  table,
  tr blockquote p,
  tr blockquote pre,
  ul {
    margin: 1em 2%
  }
  .Label div,
  .LinkList,
  .Subscribe div,
  h2 {
    text-align: center
  }
  h4,
  h5,
  h6 {
    margin: 1.5em 1% .8em
  }
  pre {
    padding: 1em 2%
  }
  iframe,
  img {
    max-width: 96%
  }
  h2:after {
    width: 33%;
    left: 33%;
    right: auto
  }
  hr {
    margin: 2em 4%
  }
  table {
    width: 96%
  }
  caption {
    margin: 1.5em 2% .7em
  }
  #lB .lS {
    padding-bottom: 2em
  }
  #lB .lSi,
  .lMi,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0 2%
  }
  .lM1,
  .lM2,
  .lS1,
  .lS2 {
    float: none;
    width: auto
  }
  #lB .lS1,
  #lB .lS2 {
    width: auto;
    padding: 0
  }
  .ABody h1 {
    margin: 3em 1%
  }
  .ABody h2 {
    margin: 2em 1% 1em
  }
  .ABody h3 {
    margin: 2.4em 1% 1.2em
  }
  .ABody h1,
  .ABody h2,
  .ABody h3 {
    padding-left: 1%;
    padding-right: 1%
  }
  .Cover {
    max-width: 400px
  }
  .LinkList {
    padding: .2em 0 1em
  }
  .LinkList div {
    display: inline-block;
    margin: 2px
  }
  .RichLink h3 {
    font-size: 1.3em
  }
  .RichLink h3 * {
    font-size: .769em
  }
  .js-bqCite,
  .js-bqLink,
  blockquote:after,
  blockquote:before {
    margin: 0 1%
  }
  .box dl,
  .box ol,
  .box p,
  .box ul {
    margin: 0 2% 1em
  }
  .box .caption,
  .box iframe,
  .box img {
    margin: 0 1em 1em 2%
  }
  .note blockquote dl,
  .note blockquote ol,
  .note blockquote p,
  .note blockquote ul {
    margin-right: 2%
  }
}
@media handheld,
screen and (max-width:479px) {
  .links,
  .note,
  blockquote,
  dl,
  iframe,
  img,
  ol,
  p,
  table,
  tr blockquote p,
  tr blockquote pre,
  ul {
    margin: 1em 1%
  }
  .AHead,
  .AHead h1 {
    text-align: center
  }
  p {
    line-height: 1.6
  }
  h4,
  h5,
  h6 {
    margin: 1.5em .5% .8em
  }
  pre {
    padding: 1em 1%
  }
  iframe,
  img {
    max-width: 98%
  }
  dd {
    margin-left: 1em
  }
  li {
    margin-top: .2em
  }
  dt {
    margin-top: .4em
  }
  dd,
  li {
    margin-bottom: .2em
  }
  hr {
    margin: 2em 2%
  }
  table {
    width: 98%
  }
  caption {
    margin: 1.5em 1% .7em
  }
  #lB .lSi,
  .lMi,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0 1%
  }
  .commonForm label {
    float: none;
    width: auto
  }
  .commonForm-wrap {
    margin-left: 0
  }
  .ABody h1 {
    margin: 3em .5%;
    font-size: 1.5em
  }
  .ABody h2 {
    margin: 2em .5% 1em;
    font-size: 1.25em
  }
  .ABody h3 {
    margin: 2.4em .5% 1.2em
  }
  .ABody h1,
  .ABody h2,
  .ABody h3 {
    padding-left: .5%;
    padding-right: .5%
  }
  .AHead h1 {
    font-size: 1.5em
  }
  .RichLink a {
    padding-left: 1%;
    padding-right: 1%
  }
  .RichLink h3 {
    font-size: 1.1em
  }
  .RichLink h3 * {
    font-size: .909em
  }
  .Header h1,
  .h1 {
    font-size: 1.2em
  }
  .js-bqCite,
  .js-bqLink,
  blockquote:after,
  blockquote:before {
    margin: 0 .5%
  }
  .box dl,
  .box ol,
  .box p,
  .box ul {
    margin: 0 1% 1em
  }
  .box .caption,
  .box iframe,
  .box img {
    margin: 0 1em 1em 1%
  }
  .note blockquote dl,
  .note blockquote ol,
  .note blockquote p,
  .note blockquote ul {
    margin-right: 1%
  }
  .Pager-next i,
  .Pager-top i {
    margin-right: .2em
  }
  .Pager-prev i {
    margin-left: .2em
  }
}
@media handheld,
screen and (max-width:359px) {
  body {
    font-size: .813em
  }
  .AHead-labels {
    line-height: 0
  }
  .AHead-labels a {
    display: block;
    text-align: center;
    margin: .5em
  }
  .Cover img {
    width: auto;
    margin: 0 1em 1em 0
  }
  .Cover .img-loaded div {
    position: static;
    padding: 0
  }
  .Cover h2 {
    display: inline-block;
    font-size: 1em;
    padding: .5em;
    margin: 0 .5em .5em 0
  }
  .Cover h3 {
    background: 0 0;
    color: #06284e;
    font-size: 1.5em
  }
  .Cover a {
    padding: 0 0 .33em
  }
  .Cover p,
  .Cover-meta {
    margin-left: 0;
    margin-right: 0
  }
  .RichLink h3,
  .RichLink h3 * {
    font-size: 1em
  }
  .RichLink img,
  .box .caption,
  .box iframe,
  .box img {
    float: none;
    margin: 0 auto 1em
  }
}
@media handheld,
screen and (max-width:240px) {
  .AHead,
  .BreadcrumbList,
  .Cover-meta,
  .baseColor :link .RichLink-meta,
  .baseColor :visited .RichLink-meta,
  a,
  h6 {
    color: #ffeba1
  }
  .links,
  .note,
  blockquote,
  dl,
  iframe,
  img,
  ol,
  p,
  table,
  tr blockquote p,
  tr blockquote pre,
  ul {
    margin: 1em 0
  }
  :link img,
  :visited img,
  blockquote :link img,
  blockquote :visited img {
    border-color: transparent
  }
  .LinkList a,
  .RichLink-sep a,
  blockquote .tl tr code,
  blockquote .tl tr var,
  blockquote code,
  blockquote tbody th,
  blockquote var,
  tbody th code,
  tbody th var {
    background: #ffeba1;
    color: #000
  }
  .medal,
  [type=submit],
  blockquote,
  code,
  tbody th,
  var {
    background: #062241
  }
  #lB .lS,
  .Cover h3,
  .baseColor,
  input,
  textarea {
    background: #000
  }
  .LinkList :link,
  .RichLink-sep :link {
    background: 0 0;
    color: #bbe
  }
  .LinkList :visited,
  .RichLink-sep :visited {
    background: 0 0;
    color: #fed33b
  }
  .LinkList :link:hover,
  .LinkList :visited:hover,
  .RichLink-sep :link:hover,
  .RichLink-sep :visited:hover,
  .tl tr code,
  .tl tr var,
  blockquote tbody th code,
  blockquote tbody th var,
  thead code,
  thead var {
    background: #062241;
    color: #fed33b
  }
  body {
    font-size: .75em;
    color: #fed33b
  }
  p {
    line-height: 1.4
  }
  .baseColor .btn:focus,
  a,
  tbody th {
    border-color: #000
  }
  .SearchResult :visited,
  .js-bqLink,
  .tl tbody th :link,
  .tl tbody th :link:hover,
  .tl thead :link,
  .tl thead :link:hover,
  :link,
  blockquote:before {
    color: #bbe
  }
  .AHead h1,
  .medal,
  .tl tbody th,
  .tl thead td,
  .tl thead th,
  :visited,
  blockquote,
  input,
  textarea {
    color: #fed33b
  }
  :link:hover {
    color: #0d5bb5;
    border-color: #0d5bb5
  }
  :visited:hover {
    color: #b3f;
    border-color: #b3f
  }
  h4,
  h5,
  h6 {
    margin: 1.5em 0 .8em
  }
  pre {
    padding: 1em 2px
  }
  dd,
  li {
    margin-bottom: .1em
  }
  iframe,
  img {
    max-width: 100%
  }
  dd {
    margin-left: .5em
  }
  li {
    margin-top: .1em
  }
  dt {
    margin-top: .2em
  }
  blockquote h3,
  h4,
  kbd {
    border-color: #fed33b
  }
  blockquote .tl td,
  blockquote .tl tfoot td,
  blockquote .tl tfoot th,
  blockquote .tl thead td,
  blockquote .tl thead th,
  blockquote blockquote,
  blockquote hr,
  blockquote table,
  h5,
  h6 {
    border-color: #ffeba1
  }
  *,
  .medal,
  .tl td,
  .tl tfoot td,
  .tl tfoot th,
  .tl thead td,
  .tl thead th,
  blockquote tbody th,
  hr,
  table {
    border-color: #062241
  }
  .ABody h1,
  .ABody h2,
  .ABody h3,
  .RichLink a,
  h2 {
    padding-left: 0;
    padding-right: 0
  }
  hr {
    margin: 2em 0
  }
  table {
    width: 100%
  }
  caption {
    margin: 1.5em 0 .7em
  }
  thead td,
  thead th {
    background: #ffeba1;
    border-color: #062241 #e6d797;
    color: #000
  }
  .BlogArchive,
  .BlogArchive tbody :hover td,
  .Label div,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .aBodyRoot blockquote tbody th :visited,
  .aBodyRoot blockquote tbody th :visited:hover,
  .aBodyRoot thead :visited,
  .aBodyRoot thead :visited:hover,
  blockquote tbody th :link,
  blockquote tbody th :link:hover,
  thead :link,
  thead :link:hover {
    color: #000
  }
  td {
    border-color: #000 #000 #062241
  }
  tfoot td,
  tfoot th {
    border-color: #ffeba1 #000
  }
  blockquote thead td,
  blockquote thead th {
    background: #fed33b;
    border-color: #062241 #e5c13c
  }
  blockquote td {
    border-color: #062241 #062241 #ffeba1
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #fed33b #062241
  }
  blockquote tbody :hover td {
    border-color: #062241 #062241 #0d5bb5
  }
  tbody :hover td {
    border-color: #000 #000 #0d5bb5
  }
  em {
    background: #4e4e1f
  }
  strong {
    background: #1c3a49
  }
  #lB .lSi,
  .lMi,
  .lMz .lMh,
  .lSi,
  .lXi {
    padding: 0
  }
  .baseColor .btn:link {
    background: #bbe;
    border-color: #bbe;
    color: #000
  }
  .baseColor .btn:visited {
    background: #000;
    border-color: #fed33b;
    color: #fed33b
  }
  :link .medal,
  :visited .medal {
    border-color: #ffeba1;
    background: #ffeba1;
    color: #000
  }
  .mspacer {
    margin: .6em 0!important
  }
  .ABody h1 {
    margin: 3em 0
  }
  .ABody h2 {
    margin: 2em 0 1em
  }
  .ABody h3 {
    margin: 2.4em 0 1.2em
  }
  .LinkList a {
    padding: .5em 0
  }
  .baseColor .RichLink a {
    border-color: #062241!important
  }
  .baseColor .RichLink-meta {
    color: #062241
  }
  .SearchResult div div,
  .js-bqCite,
  .js-bqLink,
  blockquote:after,
  blockquote:before {
    margin: 0
  }
  .SearchResult div p {
    color: grey
  }
  .SearchResult div span {
    color: #545454
  }
  .aBodyRoot :visited,
  .tl tbody th :visited,
  .tl tbody th :visited:hover,
  .tl thead :visited,
  .tl thead :visited:hover,
  blockquote .tl tbody th :visited {
    color: #eae
  }
  .aBodyRoot :visited:hover {
    color: #b3f
  }
  .box dl,
  .box ol,
  .box p,
  .box ul {
    margin: 0 0 1em
  }
  .note blockquote dl,
  .note blockquote ol,
  .note blockquote p,
  .note blockquote ul {
    margin-right: 0
  }
  .Pager i {
    border-color: transparent #ffeba1
  }
  .Pager-top i {
    border-color: #ffeba1 transparent
  }
  .SocialBtns .fb :link,
  .SocialBtns .hb :link,
  .SocialBtns .ln :link,
  .SocialBtns .ok :link,
  .SocialBtns .pt :link,
  .SocialBtns .tw :link {
    color: #000!important
  }
  .SocialBtns .fb :visited,
  .SocialBtns .hb :visited,
  .SocialBtns .ln :visited,
  .SocialBtns .ok :visited,
  .SocialBtns .pt :visited,
  .SocialBtns .tw :visited {
    background: #000!important
  }
  .SocialBtns .fb:focus,
  .SocialBtns .hb:focus,
  .SocialBtns .ln:focus,
  .SocialBtns .ok:focus,
  .SocialBtns .pt:focus,
  .SocialBtns .tw:focus {
    border-color: #000!important
  }
}
@media print {
  .LinkList a,
  .RichLink-sep a,
  .SearchResult div div,
  .box,
  .caption,
  .commonForm-pair,
  .h1,
  dd,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  li,
  tr {
    page-break-inside: avoid
  }
  .h1,
  caption,
  dt,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  thead {
    page-break-after: avoid
  }
  blockquote code,
  blockquote table,
  blockquote var,
  tbody th,
  tbody th code,
  tbody th var,
  thead code,
  thead td,
  thead th,
  thead var {
    border-color: #666
  }
  *,
  .ribbon *,
  table {
    border-color: #ccc
  }
  blockquote,
  table {
    margin: 1em 0
  }
  code .typ,
  th {
    font-weight: 700
  }
  p {
    line-height: 1.5
  }
  .ADesc,
  .ribbon a,
  a {
    color: #666
  }
  .ribbon :link,
  :link,
  blockquote tbody th :link,
  blockquote thead th :link,
  thead :link {
    color: #006
  }
  .ribbon :visited,
  :visited,
  blockquote tbody th :visited,
  blockquote thead th :visited,
  thead :visited {
    color: #606
  }
  blockquote pre {
    margin: 1em
  }
  table {
    width: 100%
  }
  thead td,
  thead th {
    background: #ccc;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  tbody th {
    background: #ccc
  }
  td {
    border-color: #fff #fff #ccc
  }
  tfoot td,
  tfoot th {
    border-color: #666 #fff
  }
  blockquote thead td,
  blockquote thead th {
    background: #ccc;
    border-color: #000;
    color: #000;
    padding: .5em;
    border-width: 0 0 1px
  }
  blockquote tbody th {
    background: #ccc;
    border-color: #000;
    color: #000
  }
  blockquote td {
    border-color: #fff #fff #666
  }
  blockquote tfoot td,
  blockquote tfoot th {
    border-color: #000 #fff
  }
  .baseColor,
  .ribbon,
  body {
    background: #fff;
    color: #000
  }
  #lF .lX {
    border-top: .15em solid #000
  }
  #lB .lS,
  #lF .lW,
  #lH .lS,
  .CmtForm,
  .Pager,
  .SocialBtns,
  .TxtNavi,
  .js-bqLink a:after,
  .noprint,
  [href$=".GIF"]:after,
  [href$=".JPEG"]:after,
  [href$=".JPG"]:after,
  [href$=".PNG"]:after,
  [href$=".gif"]:after,
  [href$=".jpeg"]:after,
  [href$=".jpg"]:after,
  [href$=".png"]:after,
  [href*="/blogger.googleusercontent.com/img/"]:after,
  [href*="/viewer.diagrams.net/?"]:after,
  [href^="#"]:after,
  [href^="mailto:"]:after,
  [href^="tel:"]:after {
    display: none
  }
  .ABody {
    margin: 0 0 2em
  }
  .lMz .AHead {
    padding: 0 3%
  }
  .AHead {
    color: #666!important
  }
  .AHead h1 {
    color: #000!important;
    padding: 1em 0
  }
  .AHead-labels,
  code .pln {
    color: #000
  }
  .AHead-labels a {
    display: inline;
    border-width: 0;
    padding: 0;
    margin: 0
  }
  .AHead-labels a:link {
    color: #006;
    background: 0 0
  }
  .AHead-labels a:visited {
    color: #606;
    background: 0 0
  }
  .BreadcrumbList {
    font-size: .83em;
    padding: .5em 0;
    color: #666!important
  }
  .Cover h2 {
    margin-top: 1em
  }
  #lH {
    font-size: .875em
  }
  #lH .lMi {
    padding-top: .5em;
    padding-bottom: .5em
  }
  .h1 {
    font-size: 1em
  }
  .Header h1 {
    text-align: center;
    margin: 0 0 .5em
  }
  .Header h1 + span {
    display: block;
    text-align: center
  }
  .AMeta-cita:after,
  .aBodyRoot a[href]:after {
    content: " (" attr(href) ") ";
    font-size: .875em;
    color: #006
  }
  kbd {
    border-color: #000
  }
  code,
  var {
    border-width: 1px;
    border-color: #ccc
  }
  pre code {
    border: 0
  }
  .tl tbody td:after,
  blockquote .tl tbody td:after {
    border-color: #fff
  }
  code .atv,
  code .str {
    color: #060
  }
  code .kwd,
  code .tag {
    color: #006;
    font-weight: 700
  }
  code .com {
    color: #600;
    font-style: italic
  }
  code .atn,
  code .typ {
    color: #404
  }
  code .lit {
    color: #044
  }
  code .pun {
    color: #440
  }
  code .dec {
    color: #003
  }
}