/* CodingBase
 *   for <code>, <var>
------------------------------------------------------------------------------------- */
@use "../../01_var/ua" as ua;
@use "../../01_var/quirks" as quirks;
@use "../../01_var/size" as size;
@use "../../01_var/color" as color;

@use "../../02_mixin/active-focus-pseudo-class" as *;
@use "../../02_mixin/mq" as *;
@use "../../02_mixin/media" as *;
@use "../../02_mixin/text-color" as *;
@use "../../02_mixin/border-color" as *;
@use "../../02_mixin/background-color" as *;

%CodingBase {
    @include border-color-responsive(color.$Light_casual_fill);

    @if ua.$IE5 {
        padding     : 0 .4em;
        line-height : 1;
        height      : 1px; // hasLayout=true にしないと塗りがランダムかつ頻繁に欠落する
    } @else {
        padding : .1em .4em;
    }

    @include screen {
        @include background-responsive(color.$Light_casual_fill, noprint);
        // test -> https://outcloud.blogspot.com/2021/08/richlink.html

        blockquote tbody th &,
        thead &,
        .tl tr & {
            @include background-responsive(color.$Light_casual_fill, noprint);
            @include text-color-responsive-force(color.$Light_text, noprint);
        }

        blockquote &,
        tbody th & {
            @include background-responsive(color.$Light_casual_text, noprint);
            @include text-color-responsive(color.$Light_fill, noprint);
        }
        blockquote thead & { // 何故か↑と分離しないと blockquote が消えてしまう
            @include background-responsive(color.$Light_casual_text, noprint);
            @include text-color-responsive(color.$Light_fill, noprint);
        }
        blockquote .tl tr & { // 何故か↑と分離しないと blockquote が消えてしまう
            @include background-responsive(color.$Light_casual_text, noprint);
            @include text-color-responsive(color.$Light_fill, noprint);
        }
    }
    @include print-fallback {
        background : color.$Print_fill;
    }
    @include print {
        border-width : 1px;

        blockquote &, tbody th &, thead & {
            border-color : color.$Print_casual_text;
        }
    }

    a & {
        @include active-focus-pseudo-class {
            @if quirks.$FOCUS_COLOR_SYSTEM_FIXED {
                background : Highlight;
            } @else if quirks.$UNCHANGEABLE_TEXT_COLOR_FOCUS == false {
                @include background-responsive(color.$Light_accent, noprint);
            }
        }
    }
}
