/*  %HeadingBase
 *    for <h1> <h2> <h3>
------------------------------------------------------------------------------------- */
@use "sass:math";

@use "../../01_var/ua" as ua;
@use "../../01_var/size" as size;

@use "../../02_mixin/mq" as *;
@use "../../02_mixin/font-family-japanese" as *;

%HeadingBase {
/*  Serif
------------------------------------------------------------------------------------- */
    @if ua.$Modern or ua.$IE9 {
        @extend %SerifFontFamily;
    }

/*  Tablet
------------------------------------------------------------------------------------- */
    @include mq(tablet_print) {
        text-align    : center;
        padding-left  : math.div(size.$TABLET_HORIZONTAL_MARGIN, 2);
        padding-right : math.div(size.$TABLET_HORIZONTAL_MARGIN, 2);
    }
/*  PHABLET
------------------------------------------------------------------------------------- */
    @include mq(phablet) {
        padding-left   : math.div(size.$PHABLET_HORIZONTAL_MARGIN, 2);
        padding-right  : math.div(size.$PHABLET_HORIZONTAL_MARGIN, 2);
    }
/*  Phone
------------------------------------------------------------------------------------- */
    @include mq(phone) {
        padding-left   : math.div(size.$PHABLET_HORIZONTAL_MARGIN, 2);
        padding-right  : math.div(size.$PHABLET_HORIZONTAL_MARGIN, 2);
    }

/*  Watch
------------------------------------------------------------------------------------- */
    @include mq(watch) {
        padding-left  : 0;
        padding-right : 0;
    }

/*  landscape Print
------------------------------------------------------------------------------------- */
    @include mq(landscapePrint){
        text-align : left;
    }
}
