/*  PicaThumbnail
--------------------------------------------------------------------------------------*/

#jM a[href] > img, #jM .caption {
	/* //_{@modern */
-webkit-transition-property : width;

		 -webkit-transition :       0.3s ease-in-out;
		    -moz-transition : width 0.3s ease-in-out;
			  -o-transition : width 0.3s ease-in-out;
				 transition : width 0.3s ease-in-out;
		/* //_}@modern */
		/* //_{@ie9 */
			 /* -ms-transition : width 0.3s ease-in-out; */
		/* //_}@ie9 */
}

.caption {
	/* //_{@modern */
	width       : 100%; /* for animation */
	/* //_}@modern */
}

.jL img {
	width       : 100%;
	height      : auto;
	margin      : 0 0 1em;
}

/* //_{@ie5win */
.jL img {
	float   : none;
	clear   : both;
}
/* //_}@ie5win */

a:focus img, a:link:active img, a:visited:active img {
    outline     : 1px solid $COLOR_ACCENT;
	background  : $COLOR_ACCENT;
}

.js-picaThumb-small {
	display : table; /* focus 時の高さ確保用, 高さが無い場合、必ずしも画面内に画像が現れない */
}

/* focus 時の高さ確保用, 高さが無い場合、必ずしも画面内に画像が現れない 
#Bm a[href*=javascript：] {
	display : block;
	float   : left;
}*/
/* .Lg のときは block, float を切る ie では無い方がよい 
.mB a.Lg,
.e8- #Bm a[href*=javascript：] {
	display : inline;
	float   : none;
}
#Bm a[href*=javascript：]:focus {
	outline    : 0;
	background : inherit;
} */

