/* Base color
--------------------------------------------------------------------------------------*/
.fillbg {
    background : $COLOR_FtM_fill;
    color      : $COLOR_FtM_text;
}

body, .fillbg .lS, .fillbg .lO {
	background  : $COLOR_FtS_fill;
	color       : $COLOR_FtS_text;
}


/* //_{^+coloredHeader */
#lH,
/* //_}^+coloredHeader */
#lB {
	background : $COLOR_BdM_fill;
	color      : $COLOR_BdM_text;
}

	#lB .lS {
		background : $COLOR_BdS_fill;
		color      : $COLOR_BdS_text;
	}

	#lE .lS {
		background : none;
	}

/* //_{+coloredHeader */
	#lH .lO {
		background : $COLOR_HdX_fill;
		color      : $COLOR_HdX_text;
	}
	#lH {
		background : $COLOR_HdM_fill;
		color      : $COLOR_HdM_text;
	}
	#lH .lS {
		background : $COLOR_HdS_fill;
		color      : $COLOR_HdS_text;
	}
/* //_}+coloredHeader */

	* {
		border-color : $COLOR_BdM_casual_fill;
	}

	.lS * {
		border-color : $COLOR_BdS_casual_fill;
	}
	.fillbg * {
		border-color : $COLOR_FtS_casual_fill;
	}
	.fillbg .lM * {
		border-color : $COLOR_FtM_casual_fill;
	}

/* //_{#can-mq */
/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
	* {
		border-color : $COLOR_WTC_casual_fill;
	}

	/* //_{^+coloredHeader */
	#lH {
		background : $COLOR_WTC_fill;
		color      : $COLOR_WTC_text;
	}
	/* //_}^+coloredHeader */
	#lB {
		background : $COLOR_WTC_fill;
	}
	
	#lB .lM {
		color      : $COLOR_WTC_text;
	}
}
/* //_>bottom40 */
/* //_}#can-mq */
