/* .lX
 *    .lXi
 * .lW
 *   .lM
 *     .lMi | .lMi[data-lmc="1"]
 *             .lM1, .lM2
 *   .lS
 *     .lSi | .lSi[data-lsc="1"]
 *             .lS1, ls2
 *
 * 1. display:table-layout
 *    * ie8&9
 *    * media-query 対応ブラウザ
 * 2. float-layout
 *    * 上記以外のブラウザ 
 *
--------------------------------------------------------------------------------------*/

/* //_{^+mobileOnly */
    /*  wrapper
    --------------------------------------------------------------------------------------*/    
    .lW {
        /* //_{^#ie89 */
            @include clearfix;
        /* //_}^#ie89 */
    }

    .lW, .lX {
        width     : 98%;
        /* //_{^#ie6-win */
        max-width : $PC_MAX_WIDTH_EM;
        /* //_}^#ie6-win */
        /* //_{^@ie5win */
        margin    : 0 auto;
        /* //_}^@ie5win */
    }

    /*  main
    --------------------------------------------------------------------------------------*/    
        .lM {
            /* //_{^#ie89 */
            width : 100% * ( $PC_MAIN_COLUMN_RATIO - $PC_COLUMN_GAP_RATIO );
            float : left;
            /* //_}^#ie89 */
        }
            .lMi {
                margin-left  : 100% * $PC_COLUMN_GAP_RATIO / $PC_MAIN_COLUMN_RATIO;
            }

    /*  sub
    --------------------------------------------------------------------------------------*/
        .lS {
            width : 100% * $PC_SUB_COLUMN_RATIO;
            /* //_{^#ie89 */
            float : right;
            /* //_}^#ie89 */
        }
            .lSi {
                /* //_{@ie6 */
                width        : 82%;
                /* //_}@ie6 */
                /* //_{#ie55- */
                width        : 100%;
                /* //_}#ie55- */
                margin-left  : 100% * $PC_COLUMN_GAP_RATIO / $PC_SUB_COLUMN_RATIO;
                margin-right : 100% * $PC_COLUMN_GAP_RATIO / $PC_SUB_COLUMN_RATIO;
            }

    /*  x-column
    --------------------------------------------------------------------------------------*/
        .lXi {
            padding-left  : 100% * $PC_COLUMN_GAP_RATIO;
            padding-right : 100% * $PC_COLUMN_GAP_RATIO;
        }
    /*
    * http://geckotang.tumblr.com/post/134453564281/ac2015-css-2
    */

    /* //_{#ie89
     *  float-layout -> table-layout
    --------------------------------------------------------------------------------------*/
    .lW {
        display      : table;
        table-layout : fixed;
    }
        .lM, .lS {
            display        : table-cell;
            vertical-align : top; /* Safari 3.2, ie8 で大切 */
        }
        .lM {
            width : 100% * $PC_MAIN_COLUMN_RATIO;
        }
            .lMi {
                margin-right : 100% * $PC_COLUMN_GAP_RATIO / $PC_MAIN_COLUMN_RATIO;
            }
    /* //_}#ie89 */
/* //_}^+mobileOnly */

/* //_{@modern */
/*  メディアクエリをサポートするブラウザだけ table-layout にする
--------------------------------------------------------------------------------------*/
@include media(pc) { /* Tablet も併せて変更 */
    .lW {
        display      : table;
        table-layout : fixed;
    }
        .lM, .lS {
            float          : none;
            display        : table-cell;
            vertical-align : top; /* Safari 3.2, ie8 で大切 */
        }

        .lM {
            width : 100% * $PC_MAIN_COLUMN_RATIO;
        }
            .lMi {
                /* padding-right だと Safari 3.2 table レイアウトが狂う */
                margin-right : 100% * $PC_COLUMN_GAP_RATIO / $PC_MAIN_COLUMN_RATIO;
            }
}
/* //_}@modern */

/*  WQXGA
--------------------------------------------------------------------------------------*/
@include media(WQXGA) {
    .lW, .lX {
        width     : 96%;
        max-width : $WQXGA_MAX_WIDTH_EM;
    }
        .lM {
            width : 100% * $WQXGA_MAIN_COLUMN_RATIO;
        }
            .lMi {
                margin-left  : $WQXGA_COLUMN_GAP_PCT / $WQXGA_MAIN_COLUMN_RATIO;
                margin-right : $WQXGA_COLUMN_GAP_EM;
            }
                .lMh {
                    margin-left  : 50%;
                    padding-left : $WQXGA_COLUMN_GAP_EM / 2;
                }
        .lS {
            width : 100% * $WQXGA_SUB_COLUMN_RATIO;
        }
            .lSi {
                margin-left  : $WQXGA_COLUMN_GAP_PCT / $WQXGA_SUB_COLUMN_RATIO;
                margin-right : $WQXGA_COLUMN_GAP_PCT / $WQXGA_SUB_COLUMN_RATIO;
            }
        .lXi {
            padding-left  : $WQXGA_COLUMN_GAP_PCT;
            padding-right : $WQXGA_COLUMN_GAP_PCT;
        }
}

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .lW, .lX {
        width     : 96%;
        max-width : $WSXGA_MAX_WIDTH_EM;
    }
        .lM {
            width : 100% * $WSXGA_MAIN_COLUMN_RATIO;
        }
            .lMi {
                margin-left  : $WSXGA_COLUMN_GAP_PCT / $WSXGA_MAIN_COLUMN_RATIO;
                margin-right : $WSXGA_COLUMN_GAP_EM;
            }
                .lMh {
                    margin-left  : 50%;
                    padding-left : $WSXGA_COLUMN_GAP_EM / 2;
                }
        .lS {
            width : 100% * $WSXGA_SUB_COLUMN_RATIO;
        }
            .lSi {
                margin-left  : $WSXGA_COLUMN_GAP_PCT / $WSXGA_SUB_COLUMN_RATIO;
                margin-right : $WSXGA_COLUMN_GAP_PCT / $WSXGA_SUB_COLUMN_RATIO;
            }
        .lXi {
            padding-left  : $WSXGA_COLUMN_GAP_PCT;
            padding-right : $WSXGA_COLUMN_GAP_PCT;
        }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
/* //_{^+mobileOnly */
@include media(tablet_print) {/* float-layout -> table-layout も併せて変更 */
    .lW, .lX {
        width     : 100%;
        /* //_{^#ie6-win */
        max-width : 100%;
        /* //_}^#ie6-win */
        /* //_{@ie8,@ie9,@modern */
        display   : block;
        /* //_}@ie8,@ie9,@modern */
    }
        .lM, .lS {
            float   : none;
        /* //_{^@ie9 */
            display : block;
            width   : auto;
        /* //_}^@ie9 */
        /* //_{@ie9 */
            display      : table; /* 親要素にmarginが継承されてしまうためArticleBodyの塗りが ie9,WP7.8 で乱れる. */
            width        : 100%;  /* auto は不可 */
            table-layout : fixed; /* display:table にすると max-width が効かなくなる, fixed で改善する https://goo.gl/BmuNfG */
        /* //_}@ie9 */
        }
            .lMi, .lSi {
                margin-left  : 0;
                margin-right : 0;
            }
}
/* //_}^+mobileOnly */

/* //_{+mobileOnly */
    .lW {
        overflow : hidden; /* この指定が無いと塗りがはみ出る */
    }
        .lM, .lS {
        /* //_{@ie9 */
            display      : table;
            width        : 100%;
            table-layout : fixed;
        /* //_}@ie9 */
        }
            .lMi, .lSi, .lXi {
                max-width : $TABLET_MAX_WIDTH_EM;
                /* //_{^@ie5win */
                    margin    : 0 auto;
                /* //_}^@ie5win */
            }
/* //_}+mobileOnly */

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    .lMi, .lSi, .lXi {
        padding-left  : $TABLET_H_SPACE;
        padding-right : $TABLET_H_SPACE;
    }
}

/*  PHABLET
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    .lMi, .lSi, .lXi {
        padding-left  : $PHABLET_H_SPACE;
        padding-right : $PHABLET_H_SPACE;
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .lMi, .lSi, .lXi {
        padding-left  : $PHONE_H_SPACE;
        padding-right : $PHONE_H_SPACE;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .lMi, .lSi, .lXi {
        padding-left  : 0;
        padding-right : 0;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    body, #lH, #lE, #lB,
    .fillbg, .fillbg .lM, .fillbg .lO, .fillbg .lS
/* //_{+coloredHeader */
    , #lH .lO, #lH, #lH .lS
/* //_}+coloredHeader */
     {
        background : $COLOR_PRT_fill;
        color      : $COLOR_PRT_text;
    }
    #lH .lS, #lB .lS, #lF .lW {
        display : none;
    }
    .lMi, .lSi, .lXi {
        padding-left  : 0;
        padding-right : 0;
    }
}