/* //_{@ie55,@ie6
 * max-width for ie6 + ie5.5
 *   http://css-eblog.com/csstechnique/max-width-for-ie6.html
 *
 *  <!--[if lte IE 6]><div><div class="e6L"></div><div class="e6R"></div><div class="e6C"><![endif]-->
 *    <div class="lW" />
 *  <!--[if lte IE 6]></div><br clear="all"></div><![endif]-->
--------------------------------------------------------------------------------------*/
	.e6L {
		float        : left;
		height       : 1px;
		width        : 50%;
		margin-right : -$PC_MAX_WIDTH_EM/2;
	}
	.e6R {
		float        : right;
		height       : 1px;
		width        : 50%;
		margin-left  : -$PC_MAX_WIDTH_EM/2;
	}
	.e6C {
		overflow : hidden;
		margin   : 0 !important;
		float    : left;
	}
		.e6C .lW {
			overflow : hidden;
			width    : 100%;
		}

	#lH
	/* //_{@ie55 */
	, #lB
	/* //_}@ie55 */
	{
		width : 100%;
	}
/* //_}@ie55,@ie6 */


/* //_{@ie5win
 * ie5 専用
 * MaxWidthFix で作られたタグ(div.e6C)と div.lW を組み合わせてセンタリングだけを行う.
 * http://blog.xicolotic.info/css/advent-calendar-2015-css1/
 */
	.e6C {
		text-align : center;
	}
	.lW {
		text-align : left;
	}
/* //_}@ie5win */

