#lE .lW {
    padding-bottom : 2.5em;
}
#lE .lM, #lE .lSi {
    padding-bottom : 0;
}
#lE .lSi {
    padding-top : 4em;
}

#lB .lM {
    padding-bottom : 4em;
}

#lB .lSi {
    padding-bottom : 1em;
}

@mixin stackableModule {
    padding-bottom : 1em;
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tabet_print) {
    #lE .lSi {
        padding-top : 0;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    #lE .lW {
        padding-bottom : 0;
    }
    #lB .lM {
        padding-bottom : 2em;
    }
}