#lE .lW {
    padding-bottom : 2.5em;
}
#lE .lM, #lE .lS {
    padding-bottom : 0;
}

#lB .lM {
    padding-bottom : 4em;
}

#lB .lS {
    padding-bottom : 1em;
}

@mixin stackableModule( $top : 0, $LR : 0 ) {
    padding : $top $LR 1em;
}

/*  WQXGA
--------------------------------------------------------------------------------------*/
@include media(WQXGA) {
    #lB .lS {
        padding-bottom : 2em;
    }
}

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet_print) {
    #lE .lS {
        padding-top : 0;
    }
}

/*  Phablet
--------------------------------------------------------------------------------------*/
@include media(phablet) {
    #lB .lS {
        padding-bottom : 2em;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    #lE .lW {
        padding-bottom : 0;
    }
    #lB .lM {
        padding-bottom : 2em;
    }
}