/* [ArticleFooter Item] Pager
 *
 * .Pager
 *   span.Pager-next | span.Pager-top | span.Pager-prev
 *     a
 *       i
------------------------------------------------------------------------------------- */
/*  ◀ | ▶
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;
@use "../01_var/size" as size;
@use "../01_var/canuse" as canuse;
@use "../01_var/quirks" as quirks;
@use "../01_var/color" as color;

@use "../02_mixin/box-sizing" as *;
@use "../02_mixin/line-height" as *;
@use "../02_mixin/mq" as *;
@use "../02_mixin/clearfix" as *;
@use "../02_mixin/inline-block" as *;
@use "../02_mixin/active-focus-pseudo-class" as *;
@use "../02_mixin/text-color" as *;
@use "../02_mixin/border-color" as *;

@use "../08_module/ArticleFooter";
@use "./_/article-footer-item" as *;

$_LAYOUT_BY_DISPLAY_TABLE : canuse.$DISPLAY_TABLE and ua.$Opera70 == false;
/** テキストで三角形を描画する */
$_TEXT_TRIANGULATE        : canuse.$CSS_GENERATED_CONTENT and canuse.$CSS_GENERATED_BLOCK == false;
/* px size で三角形を定義する、ie6 以下では font-size ベースのレイアウトが出来ない */
$_TRIANGULATE_PX_SIZE     : ua.$WinIELte6;


.#{opt.$Prefix}Pager {
    @include text-color-responsive(color.$Light_fill, noprint); /* , を消す */
    @include article-footer-item(0, 0, true, $_LAYOUT_BY_DISPLAY_TABLE == false);

    @if $_LAYOUT_BY_DISPLAY_TABLE {
        display      : table;
        width        : 100%;
        table-layout : fixed;
        @include box-sizing(border-box);
    } @else {
        @include clearfix;
    }

    @include mq(forced_colors_fallback){
        text-align : center;
        height     : auto;
        padding    : 1em 0;
    }

    span {
        @if $_LAYOUT_BY_DISPLAY_TABLE {
            vertical-align : middle;
            display        : table-cell;
        } @else {
            display : block;
            float   : left;
            width   : 33%;
        }
        /* http://tacamy.hatenablog.com/entry/2014/02/19/141948 */
        /* overflow      : hidden; */
        /* white-space   : nowrap; */
        /* text-overflow : ellipsis; */

        @include mq(forced_colors_fallback){
            & {
                position : static;
                display  : inline;
                @if ua.$IE55 or ua.$IE5 {
                    width : auto;
                }
            }
        }
    }

    a { /* この指定が無いとフォーカス時の塗りが汚い, padding-top, bottom が不正(IE5.5) */
        @if ua.$IE7 or ua.$IE6 or ua.$IE55 {
            zoom : 1;
        }
        @if canuse.$OUTLINE and ua.$Modern { /* and ua.$GeckoLte19 */
            @include inline-block; // ハイコントラストモード :foocus 時の outline の改善 firefox 149, Chrome 146 には不要
        }
    }

    /*  layout
    ------------------------------------------------------------------------------------- */
    @if $_LAYOUT_BY_DISPLAY_TABLE {
        @at-root #{&}-next { padding : 1.5em 0; }
        @at-root #{&}-top  { padding : 1.5em 0.5em; text-align : center; }
        @at-root #{&}-prev { padding : 1.5em 0; text-align : right; }
    } @else {
        @at-root #{&}-top { a { padding : 1.5em 0.5em; } text-align : center; }
        @if opt.$MobileOnly {
            @at-root #{&}-next a { padding : 1.5em 0 1.5em size.$TABLET_HORIZONTAL_MARGIN; }
            @at-root #{&}-prev { a { padding : 1.5em size.$TABLET_HORIZONTAL_MARGIN 1.5em 0; } text-align : right; }
        } @else {
            @at-root #{&}-next a { padding : 1.5em 0 1.5em 1em; }
            @at-root #{&}-prev { a { padding : 1.5em 1em 1.5em 0; } text-align : right; }
        }
    }

    i { /* i を絶対配置にすると、Opera mini で表示されない */
        @if $_TEXT_TRIANGULATE {
            &:before, &:after {
                font-style  : normal;
                font-family : serif;
                font-size   : 2em;
                line-height : 1;
                color       : color.$Light_casual_text;
            }
        } @else {
            @include inline-block;
            @if ua.$LegacyOperaOrGecko {
                vertical-align : text-top; // TODO ?
            }
            @if ua.$WinIELte7 {
                height   : 0;
                width    : 0;
                position : relative;
                top      : -.1em;
                @if ua.$WinIELte6 {
                    font-size : 0;
                }
                @if ua.$IE6 or ua.$IE7 {
                    zoom : 1;
                }
            }
        }

    /*  Forced colors
    ------------------------------------------------------------------------------------- */
        @include mq(forced_colors_native_or_ms){
            border-color : Window currentColor !important;
        }
        @include mq(forced_colors_ms){
            border-color : transparent currentColor !important;
        }
        @include mq(forced_colors_fallback){
            display : none;
        }
    }

    /*  ◀
    ------------------------------------------------------------------------------------- */
    @at-root #{&}-next {
        i {
            margin-right : 0.5em;
            @if $_TEXT_TRIANGULATE {
                &:before {
                    content : "◀ ";
                }
            } @else if quirks.$BORDER_PARSER_BUG_OPERA == false {
                @if $_TRIANGULATE_PX_SIZE {
                    border-width : 8px 11px 8px 0;
                } @else {
                    border-width : 0.5em 0.7em 0.5em 0;
                }
            } @else {
                border-top    : 0.5em solid transparent;
                border-right  : 0.7em solid color.$Light_casual_text;
                border-bottom : 0.5em solid transparent;
            }
        }
        * {
            @include active-focus-pseudo-class {
                i {
                    @if quirks.$BORDER_PARSER_BUG_OPERA {
                        border-right : 0.7em solid #fff;
                    }
                }
            }
        }
    }
    /*  ▶
    ------------------------------------------------------------------------------------- */
    @at-root #{&}-prev {
        i {
            /* IE7 以下は <!--[if lte IE 7]> <![endif]--><i></i> で対処する…
                *            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
                */
            @if ua.$WinIELte7 == false {
                margin-left : 0.5em;
            }
            @if $_TEXT_TRIANGULATE {
                &:after {
                    content : " ▶";
                }
            } @else if quirks.$BORDER_PARSER_BUG_OPERA == false {
                @if $_TRIANGULATE_PX_SIZE {
                    border-width : 8px 0 8px 11px;
                } @else {
                    border-width : 0.5em 0 0.5em 0.7em;
                }
            } @else {
                border-top    : 0.5em solid transparent;
                border-left   : 0.7em solid color.$Light_casual_text;
                border-bottom : 0.5em solid transparent;
            }
        }
        * {
            @include active-focus-pseudo-class {
                i {
                    @if quirks.$BORDER_PARSER_BUG_OPERA {
                        border-left : 0.7em solid #fff;
                    }
                }
            }
        }
    }

    /*  color
    ------------------------------------------------------------------------------------- */
    * {
        @include active-focus-pseudo-class {
            i {
                @if $_TEXT_TRIANGULATE {
                    &:before, &:after {
                        color : #fff;
                    }
                }
            }
        }
    }
    @at-root #{&}-next, #{&}-prev {
        @if $_TEXT_TRIANGULATE == false and quirks.$BORDER_PARSER_BUG_OPERA == false {
            i {
                @if canuse.$TRANSPARENT_BORDER_COLOR {
                    @include border-color-responsive(transparent color.$Light_casual_text, noprint);
                } @else {
                    border-color : color.$Light_fill color.$Light_casual_text;
                }
            }
            * {
                @include active-focus-pseudo-class {
                    i {
                        @if canuse.$TRANSPARENT_BORDER_COLOR {
                            border-color : transparent #fff;
                        } @else {
                            @include border-color-responsive(color.$Light_accent #fff, noprint);
                        }
                    }
                }
            }
        }
    }

    /*  ▲
    ------------------------------------------------------------------------------------- */
    @at-root #{&}-top {
        i {
            margin-right : 0.5em;

            @if $_TEXT_TRIANGULATE {
                &:before {
                    content   : "▲ ";
                    font-size : 1em;
                }
            } @else if quirks.$BORDER_PARSER_BUG_OPERA {
                border-left   : 0.45em solid transparent;
                border-right  : 0.45em solid transparent;
                border-bottom : 0.9em solid color.$Light_casual_text;
            } @else if $_TRIANGULATE_PX_SIZE {
                border-width : 0 7px 14px;
                border-color : color.$Light_casual_text color.$Light_fill;
            } @else {
                border-width : 0 0.45em 0.9em;
                @if canuse.$TRANSPARENT_BORDER_COLOR {
                    @include border-color-responsive(color.$Light_casual_text transparent, noprint);
                } @else {
                    border-color : color.$Light_casual_text color.$Light_fill;
                }
            }

        /*  Forced colors
        ------------------------------------------------------------------------------------- */
            @include mq(forced_colors_native){
                border-color : currentColor Window !important;
            }
            @include mq(forced_colors_ms){
                border-color : currentColor transparent !important;
            }
        }
        * {
            @include active-focus-pseudo-class {
                i {
                    @if $_TEXT_TRIANGULATE == false {
                        @if quirks.$BORDER_PARSER_BUG_OPERA {
                            border-bottom : 0.9em solid #fff;
                        } @else {
                            @if canuse.$TRANSPARENT_BORDER_COLOR {
                                border-color : #fff transparent;
                            } @else {
                                @include border-color-responsive(#fff color.$Light_accent, noprint);
                            }
                        }
                    }
                }
            }
        }
    }

    /*  Phone
    ------------------------------------------------------------------------------------- */
    @include mq(phone) {
        @at-root #{&}-next i, #{&}-top i {
            margin-right : .2em;
        }
        @at-root #{&}-prev i {
            margin-left : .2em;
        }
    }
}
