@charset "utf-8";

/*  global
--------------------------------------------------------------------------------------*/ 
    *
    /* //_{#can-content */
    , :before, :after
    /* //_}#can-content */
    {
        border-style : solid;
        border-width : 0;
    }

/*  html & body
--------------------------------------------------------------------------------------*/    
    html {
        font-size                : 100%; /* 1 */
        /* //_{@modern */
        -webkit-text-size-adjust : 100%; /* 2 */
           -moz-text-size-adjust : 100%; /* 2 */
            -ms-text-size-adjust : 100%; /* 2 */
                /* text-size-adjust : 100%; 2 */
        /* //_}@modern */
    }

    html,
    body {
        margin      : 0;
        /* //_{@modern */
        padding     : 0;/* opera 8 */
        /* //_}@modern */
        height      : 100%; /* js */
    }
    /* //_{@ie5win */
    *,
    /* //_}@ie5win */
    body, input {
        line-height : $BASE_LINE_HEIGHT;
    }
    textarea {
        line-height : 1.2;
    }

    /* //_{^+mobileOnly */
        /* //_{@ie5win */
        body {
            overflow-x : hidden;
        }
        /* //_}@ie5win */ 
    /* //_}^+mobileOnly */

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    body {
        font-size : 0.8125em;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    body {
        font-size : 0.75em;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    body, input {
        line-height : $PRINT_LINE_HEIGHT; /* for paper save */
    }
}