/*  font-family
--------------------------------------------------------------------------------------*/    
/* https://tokunagakazuya.tk/vk3l */

// https://terkel.jp/archives/2016/05/system-fonts-on-website/
// ウェブサイトでシステムフォント

/* //_{@modern,@ie9
 * http://loconet.web2.jp/blog/archives/2007/02/cssfontfamily.html
 */
        body, textarea, input {
            font-family :
                -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Open Sans",
                "Helvetica Neue", Helvetica, Arial, Verdana,
                /* Roboto, */
                "UD Digi Kyokasho NP-R",
                "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
                "Meiryo UI", "メイリオ", Meiryo,
                "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック" , "Yu Gothic" , "游ゴシック体" , YuGothic,
                "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
        }
/* //_}@modern,@ie9 */

/* //_{@modern
 * Firefox OS2.2(シミュレータ) で Roboto がいると日本語を正しく表示できない... 2.1-は問題無し
 * http://outcloud.blogspot.jp/2016/03/firefox-os22-dislike-Roboto.html
 */
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        body, textarea, input {
            font-family :
                -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Open Sans",
                "Helvetica Neue", Helvetica, Arial, Verdana,
                Roboto,
                "UD Digi Kyokasho NP-R",
                "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
                "Meiryo UI", "メイリオ", Meiryo,
                "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック" , "Yu Gothic" , "游ゴシック体" , YuGothic,
                "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
        }
    }
/* //_}@modern */

/* //_{@ie7,@ie8 */
        body {
            font-family : "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ ゴシック" , "MS Gothic" , sans-serif;
        }
        textarea, input {
            font-family : "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
        }
/* //_}@ie7,@ie8 */

/* //_{#ie6-win */
        body {
            font-family : "ＭＳ ゴシック" , "MS Gothic" , sans-serif; /* ie6-, MacIE5- */
        }
        textarea, input {
            font-family : "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif; /* ie6-, MacIE5- */
        }
/* //_}#ie6-win */


/* //_{+it */
    /* //_{@modern,@ie9,@ie8,@ie7 */
            pre, code, var, kbd, samp /* , tt */ {
                font-family : /* "UD Digi Kyokasho N-R", lang="en" でバックスラッシュを表示できない、￥マークになってしまう！ */
                    SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Monaco, 'Courier New',Courier, monospace, serif;
            }
    /* //_}@modern,@ie9,@ie8,@ie7 */

    /* //_{#ie6-win */
            /* pre, */ code, var, kbd, samp /* , tt */ {
                font-family : 'Courier New', monospace;
            }
    /* //_}#ie6-win */
/* //_}+it */