
@mixin unbreak-inside {
	break-inside      : avoid;
	page-break-inside : avoid;
}

@mixin unbreak-after {
	/* //_{@modern */
	-webkit-column-break-after : avoid;
	-webkit-region-break-after : avoid;
	  -moz-break-after         : avoid;
	column-break-after         : avoid;
	/* //_}@modern */
	break-after                : avoid;
	page-break-after           : avoid;
}

/*  Typography
--------------------------------------------------------------------------------------*/
	h1, h2, h3, h4, h5, h6 {
		line-height        : 1.2;
		@include unbreak-inside;
		@include unbreak-after;
	}
	/* //_{@ie5win */
	h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
		line-height        : 1.2;
	}
	/* //_}@ie5win */

	/* //_{+from-h2-at-post */
	h1, h2, h3, h6 {
		font-weight        : normal;
	}

	@mixin h2-main-content {
		font-size      : 2em;
		padding        : 0;
		border         : 0;
		margin         : 2em 0;
		letter-spacing : 2px;

		/* //_{#can-content */
		&:after {
			/* content : none; */

			display : none; /* for iOS4 */
		}
		/* //_}#can-content */
	}

	@mixin h3-main-content {
		font-size      : 1.5em;
		margin         : 2em 0 1em;
		border-width   : 0.2em 0 0;
		border-style   : solid;
		padding        : 0.8em 0 0;
		letter-spacing : 1px;
	}

	h4 {
		font-size      : 1.25em;
		letter-spacing : 1px;
		border-width   : 0.1em 0 0;
		border-style   : solid;
		padding        : 0.8em 0 0;
		margin         : 2.4em 0 1.2em;
	}
	h5 {
		font-size      : 1em;
		border-left    : 0.5em solid $COLOR_BdM_flip_fill;
		padding        : 0 0 0 0.5em;
		margin         : 1.5em 0 0.8em;
	}
	h6 {
		font-size      : 1em;
		border-width   : 0 0 0 0.3em;
		border-style   : solid;
		padding        : 0 0 0 0.6em;
		margin         : 1.5em 0 0.8em 0.1em;
	}
	/* //_}+from-h2-at-post */

	/* //_{^+from-h2-at-post */
	h1, h2, h3, h5, h6 {
		font-weight        : normal;
	}

	@mixin h1-main-content {
		font-size      : 2em;
		padding        : 0;
		margin         : 2em 0;
		letter-spacing : 2px;
	}

	@mixin h2-main-content {
		font-size      : 1.5em;
		margin         : 2em 0 1em;
		border-width   : 0.2em 0 0;
		border-style   : solid;
		padding        : 0.8em 0 0;
		letter-spacing : 1px;

		/* //_{#can-content */
		&:after {
			/* content : none; */

			display : none; /* for iOS4 content : none だけでは消えない */
		}
		/* //_}#can-content */
	}

	@mixin h3-main-content {
		font-weight    : bold;
		font-size      : 1.25em;
		letter-spacing : 1px;
		border-width   : 0.1em 0 0;
		border-style   : solid;
		padding        : 0.8em 0 0;
		margin         : 2.4em 0 1.2em;
	}

	h4 {
		font-size      : 1em;
		border-left    : 0.5em solid $COLOR_BdM_flip_fill;
		padding        : 0 0 0 0.5em;
		margin         : 1.5em 0 0.8em;
	}
	h5 {
		font-size      : 1em;
		border-width   : 0 0 0 0.3em;
		border-style   : solid;
		padding        : 0 0 0 0.6em;
		margin         : 1.5em 0 0.8em 0.1em;
	}
	h6 {
		font-size      : 1em;
		margin         : 1.5em 0 0.8em 1em;
	}
	/* //_}^+from-h2-at-post */

	ul, ol,
	li ol, li ul {
		/* //_{@modern */
		list-style-position : outside; /* android opera12 ?? */
		/* //_}@modern */
		padding-left        : 2em;
		/* //_{@ie5win,@ie55 */
		margin-left         : 0; /* old ie */
		/* //_}@ie5win,@ie55 */
	}
	li ul, dd ul {
		padding-left  : 1em;
	}
	li ol, li ul,
	dd ol, dd ul,
	dd dl, li dl {
		margin-top    : 0;
		margin-bottom : 0;
	}

	p, pre, dl, ul, ol, table, blockquote {
		margin : 1em $CONTENT_MARGIN_LR;
	}
	table {
		width : 100% - $CONTENT_MARGIN_LR * 2;
	}

	li p, li pre, li dl, li table, li blockquote,
	dd p, dd pre, dd dl, dd table, dd blockquote {
		margin-left  : 0;
		margin-right : 0;
	}

	dl, ul, ol, tr, dt {
		@include unbreak-inside;
		@include unbreak-after;
	}

	strong, em {
		font-style : normal;
	}

	dfn,
	/* //_{^#ie7-win */
	abbr[title],
	/* //_}^#ie7-win */
	acronym {
		border-bottom : 1px dotted;
		cursor        : help;
	}

	img, embed, object, iframe, video {
		@include unbreak-inside;
	}

/* //_{#can-mq */
/* //_<bottom10 */
/*  Full HD
--------------------------------------------------------------------------------------*/
@media only screen and (min-width: 96em) {
	p, pre, dl, ul, ol, table, blockquote {
		margin-left  : $CONTENT_MARGIN_LR_WSXGA;
		margin-right : $CONTENT_MARGIN_LR_WSXGA;
	}
	table {
		width : 100% - $CONTENT_MARGIN_LR_WSXGA * 2;
	}
}
/* //_>bottom10 */

/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	dd {
		margin-left : 1em;
	}
}
/* //_>bottom30 */

/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
	/* //_{+from-h2-at-post */
		h5 {
			border-color : $COLOR_WTC_flip_fill;
		}
	/* //_}+from-h2-at-post */

	/* //_{^+from-h2-at-post */
		h4 {
			border-color : $COLOR_WTC_flip_fill;
		}
	/* //_}^+from-h2-at-post */

	p, pre, dl, ul, ol, table, blockquote {
		margin-left  : 0;
		margin-right : 0;
	}

	dd {
		margin-left : 0.5em;
	}
}
/* //_>bottom40 */
/* //_}#can-mq */

/* //_<bottom50 */
/*  Print
--------------------------------------------------------------------------------------*/
@media print {

}
/* //_>bottom50 */

