/*  justify ie5 ff1, opera10 以降,
--------------------------------------------------------------------------------------*/
/* //_{#ie7-win,@ie8,@ie9 */
    p, blockquote {
        text-justify : inter-ideograph;
        line-break   : normal;
    }
/* //_}#ie7-win,@ie8,@ie9 */

/* //_{#ie7-win,@ie9 */
    p, blockquote {
        text-align   : justify;
    } /* ie8 は要素への :hover で画面がガタツク... zoom で回避できる? */
/* //_}#ie7-win,@ie9 */
    
/* //_{@modern */
    /* ie10 & 11 */
    @media all and (-ms-high-contrast:none){
        p, blockquote { text-align : justify; }
    }
    
    /* .contents-container, x:-moz-any-link {
        text-align : justify;
    } ff */
    
    /* ff2+ */
    body:empty p, body:empty blockquote, x:-moz-any-link{
        text-align : justify;
    }

    @media not aural and (1) { /* Opera 10 以上 */
        p, blockquote { text-align : justify; }
    }
/* //_}@modern */

