/* ClearFix
 *  compass/core/stylesheets/compass/utilities/general/_clearfix.scss
 *   https://github.com/Compass/compass/tree/d5df161d0df7edc686e576b22412f437dd0590cc/core/stylesheets/compass/utilities/general
--------------------------------------------------------------------------------------*/

@mixin createPusedoContent {
    & {
        /* //_{@modern */
        content  : ".";
        overflow : hidden;
        /* //_}@modern */
        /* //_{^@modern */
        content  : "";
        /* //_}^@modern */
    }
}

@mixin clearfix {
    /* //_{@modern,@ie9,@ie8,@ie7 */
        display  : block;
        overflow : hidden;
    /* //_}@modern,@ie9,@ie8,@ie7 */

    /* //_{#ie6-win */
        display  : block;
        height   : 1%;
        overflow : visible;
    /* //_}#ie6-win */

    /* //_{@ie5mac */
        display  : inline-table;
    /* //_}@ie5mac */

        /* //_{#can-content */
            &:after {
                @include createPusedoContent;
                /* //_{@modern */
                height      : 0;
                line-height : 0;
                visibility  : hidden;
                /* //_}@modern */
                display     : block;
                clear       : both;
            }
        /* //_}#can-content */
}
