/* a タグの下線
--------------------------------------------------------------------------------------*/
/* 記事の外では 下線なし -> hover -> 下線あり */
/* //_{#ie6-win */
a, /* link の無い a には下線をつけない */
/* //_}#ie6-win */
:link, :visited
/* //_{#can-focus-psedo-class */
a:focus,
/* //_}#can-focus-psedo-class */
a:active
{ text-decoration : none; }

:link:hover, :visited:hover,
/* //_{#can-focus-psedo-class */
a:focus:hover,
/* //_}#can-focus-psedo-class */
a:active:hover { text-decoration : underline; }

/*  transition
--------------------------------------------------------------------------------------*/
/* //_{@modern */
    :link, :visited {
        background-color : transparent;
    }
    :link, :link *,
    :visited, :visited *
    /* //_{^+mobileOnly */
        , h2 /* SidebarFixer 用 */
    /* //_}^+mobileOnly */
    {
    /* clean-css ignore:start */
        -webkit-transition-property : background-color, color, border-color;
        -webkit-transition          : 0.3s ease-in;
    /* clean-css ignore:end */
           -moz-transition          : background-color 0.3s ease-in, color 0.3s ease-in, border-color 0.3s ease-in;
             -o-transition          : background-color 0.3s ease-in, color 0.3s ease-in, border-color 0.3s ease-in;
                transition          : background-color 0.3s ease-in, color 0.3s ease-in, border-color 0.3s ease-in;
    }
/* //_}@modern */

/* a タグの色
--------------------------------------------------------------------------------------*/
a {
    color        : $COLOR_Default_casual_text;
    border-color : $COLOR_Default_fill;
}
:link          {
    color        : $COLOR_Default_link;
}
:visited       {
    color        : $COLOR_Default_text;
}
:link:hover    {
    color        : $COLOR_Default_hover;
    border-color : $COLOR_Default_hover;
}
:visited:hover {
    color        : $COLOR_Default_visited_hover;
    border-color : $COLOR_Default_visited_hover;
}

.ribbon {
    a              {
        color        : $COLOR_Ribbon_casual_text;
        border-color : $COLOR_Ribbon_fill;
    }
    :link          {
        color        : $COLOR_Ribbon_link;
    }
    :visited       {
        color        : $COLOR_Ribbon_visited;
    }
    :link:hover    {
        color        : $COLOR_Ribbon_hover;
        border-color : $COLOR_Ribbon_hover;
    }
    :visited:hover {
        color        : $COLOR_Ribbon_visited_hover;
        border-color : $COLOR_Ribbon_visited_hover;
    }
}

/* :active, :focus 時の配色は同じ
--------------------------------------------------------------------------------------*/
a:active
/* //_{#can-focus-psedo-class */
, a:focus
/* //_}#can-focus-psedo-class */
{
    background-color : $COLOR_ACCENT !important;
    color            : #fff        !important;

    & * {
        color : #fff !important;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    a {
        color        : $COLOR_Watch_casual_text;
        border-color : $COLOR_Watch_fill;
    }
    :link          {
        color        : $COLOR_Watch_link;
        
    }
    :visited       {
        color        : $COLOR_Watch_visited;
    }
    :link:hover    {
        color        : $COLOR_Watch_hover;
        border-color : $COLOR_Watch_hover;
    }
    :visited:hover {
        color        : $COLOR_Watch_visited_hover;
        border-color : $COLOR_Watch_visited_hover;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    a       , .ribbon a        { color : $COLOR_Print_casual_text; }
    :link   , .ribbon :link    { color : $COLOR_Print_link; }
    :visited, .ribbon :visited { color : $COLOR_Print_visited; }
}