
/*
 * https://qiita.com/tmiame/items/8816d970eacaf450911f
 * Mixin for placeholder
 * @include placeholderColor(#00ff00);
 */
 @mixin placeholderColor($color) {
    /* //_{@modern */
    &:placeholder-shown {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color:$color;
    }
    &:-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &::-moz-placeholder {
        color:$color;
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color:$color;
    }
    /* //_}@modern */
}

input {
    font-size : 1em;
    /* //_{@modern */
    -webkit-border-radius : 0;            
       -moz-border-radius : 0;                
        -ms-border-radius : 0;                
            border-radius : 0;
    -webkit-appearance    : none;
    /* //_}@modern */
}

/* //_{@modern */
input::-moz-focus-inner /* , button::-moz-focus-inner */ {
    border      : 0;
}
/* //_}@modern */

textarea {
    overflow         : auto;
    /* //_{@modern */
    resize           : vertical;
    background-image : none; /* Android Firefox */
    /* //_}@modern */
}

form :focus {
    color      : $COLOR_ACCENT;
}

/* //_{@modern */
form :invalid {
    color      : $COLOR_WARN;
    box-shadow : none; /* firefox45 */
}
/* //_}@modern */

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    form * {
        color  : $COLOR_WTC_text;
    }
    form :focus {
        color : $COLOR_ACCENT;
    }
}