li, dd, tr {
    ol, ul, dl {
        margin-top    : 0;
        margin-bottom : 0;
    }
}

li, dd {
    p, pre, blockquote, table {
        margin : 0 0 .5em;
    }
}

tr {
    p, pre, blockquote {
        margin : 0 0 .5em;
    }
}
