/*  Table
 *    ie5 は <p> に続く <table> の前に </p> が必要
--------------------------------------------------------------------------------------*/
    /* Need 'cellspacing="0"' in the markup for MacIE5 */
    table {
        border            : 0;
        border-collapse   : collapse;
        empty-cells       : show;
        border-spacing    : 0;
    /* //_{@ie5win,@ie55 */
        table-layout      : fixed; /* fixed 指定が無いと table がカラムをはみ出す */
    /* //_}@ie5win,@ie55 */
    /* //_{^@ie5win */
        line-height       : 1.2;
    /* //_}^@ie5win */
        @include highContrast {
            border-style   : solid;
            border-width   : 1px 0 0;
            border-spacing : 2px;
        }
    }

/* //_{@ie5win */
    tr * {
        line-height       : 1.2;
    }
/* //_}@ie5win */

    th {
        font-weight : normal;
        text-align  : left;
        padding     : 0.5em;
        @include highContrast {
            font-weight  : bold; 
            border-style : solid;
            border-width : 0 0 1px;
        }        
    }

    td {
        padding : 0.5em 0;
        @include highContrast {
            padding : 0.5em 0.25em;
        }        
    }

    thead td {
        padding      : 0.5em 0.25em;
    }

    thead th, thead td {
        border-style : solid;
        border-width : 0 0 1px 0;
    }

    tbody th {
        border-style : solid;
        border-width : 0 0 1px;
    }
    tbody td, tfoot th, tfoot td {
        border-style : solid;
        border-width : 0 0.5em 1px;
        @include highContrast {
            border-width : 0 0 1px;
        }
    }

/*  th, td
--------------------------------------------------------------------------------------*/
    tbody th {
        background   : $COLOR_BdM_casual_fill;
        border-color : $COLOR_BdM_fill;
    }
    td, tfoot th {
        border-color : $COLOR_BdM_fill $COLOR_BdM_fill $COLOR_BdM_casual_fill;
    }
    /* //_{@ie5win,@ie55 */
    table {
        color        : $COLOR_BdM_text;
    }
    /* //_}@ie5win,@ie55 */
    thead th, thead td {
        background   : $COLOR_BdM_casual_text;
        border-color : $COLOR_BdM_casual_fill;
        color        : $COLOR_BdM_fill;
    }
    .aBodyRoot thead {
        a:link, a:link:hover,
        a:visited, a:visited:hover {
            color        : $COLOR_BdM_fill;
        }        
    }

    /* //_{^#ie6-win */
    tbody :hover th {
        background   : $COLOR_ACCENT;
        color        : #fff;
        a:link, a:visited {
            color    : #fff;
        }
    }
    tfoot :hover th,
    tfoot :hover td,
    tbody :hover td {
        border-color : $COLOR_BdM_fill $COLOR_BdM_fill $COLOR_ACCENT;
        color        : $COLOR_ACCENT;
    }
    tbody, tfoot {
        & :hover a:link:active,
        & :hover a:visited:active,
        & :hover a:focus {
            background   : #fff;
            color        : $COLOR_ACCENT;
        }        
    }
    /* //_}^#ie6-win */

    blockquote {
        thead th, thead td {
            background   : $COLOR_BdM_flip_fill;
            border-color : $COLOR_BdM_casual_fill;
        }
        tbody th {
            background   : $COLOR_BdM_casual_text;
            border-color : $COLOR_BdM_casual_fill;
            color        : $COLOR_BdM_fill;
        }
        td, tfoot th {
            border-color : $COLOR_BdM_casual_fill $COLOR_BdM_casual_fill $COLOR_BdM_casual_text;
        }

        /* //_{^#ie6-win */
        tbody :hover td,
        tfoot :hover th,
        tfoot :hover td {
            border-color : $COLOR_BdM_casual_fill $COLOR_BdM_casual_fill $COLOR_ACCENT;
        }
        /* //_}^#ie6-win */

        thead, tbody {
            th a:link   , th a:link:hover,
            th a:visited, th a:visited:hover {
                color : $COLOR_BdM_fill !important;
            }            
        }
    }

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    tbody th {
        background   : $COLOR_WTC_casual_fill;
        border-color : $COLOR_WTC_fill;
    }
    td,
    tfoot th, tfoot td {
        border-color : $COLOR_WTC_fill $COLOR_WTC_fill $COLOR_WTC_casual_fill;
    }
    thead th, thead td {
        background   : $COLOR_WTC_casual_text;
        border-color : $COLOR_WTC_casual_fill;
        color        : $COLOR_WTC_fill;
    }
    .aBodyRoot thead {
        a:link, a:link:hover,
        a:visited, a:visited:hover {
            color        : $COLOR_WTC_fill;
        }
    }

    tbody :hover td,
    tfoot :hover th,
    tfoot :hover td {
        border-color : $COLOR_WTC_fill $COLOR_WTC_fill $COLOR_ACCENT;
    }

    blockquote {
        thead th, thead td {
            background   : $COLOR_WTC_flip_fill;
            border-color : $COLOR_WTC_casual_fill;
        }
        tbody th {
            background   : $COLOR_WTC_casual_text;
            border-color : $COLOR_WTC_casual_fill;
            color        : $COLOR_WTC_fill;
        }
        td, tfoot th {
            border-color : $COLOR_WTC_casual_fill $COLOR_WTC_casual_fill $COLOR_WTC_casual_text;
        }

        tbody :hover td,
        tfoot :hover th,
        tfoot :hover td {
            border-color : $COLOR_WTC_casual_fill $COLOR_WTC_casual_fill $COLOR_ACCENT;
        }

        thead, tbody {
            th a:link, th a:link:hover,
            th a:visited, th a:visited:hover {
                color : $COLOR_WTC_fill !important;
            }
        }
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    tbody th {
        border-color : #fff;
    }
    td {
        border-color : #fff #fff $COLOR_PRT_casual_fill;
    }
    thead th, thead td {
        border-color : #fff;
        color        : #fff;
    }

    blockquote {
        tr th, thead td {
            border-color : #fff;
            color        : #fff;
        }
        td {
            border-color : #fff #fff $COLOR_PRT_casual_text;
        }
    }
}