/*  Table
--------------------------------------------------------------------------------------*/
	/* tables still need 'cellspacing="0"' in the markup */
	table {
		border            : 0;
		border-collapse   : collapse;
		empty-cells       : show;
		border-spacing    : 0;
	/* //_{@ie5win,@ie55 */
		table-layout      : fixed;
	/* //_}@ie5win,@ie55 */
	}

	th {
		font-weight  : normal;
		padding      : 0.5em;
	}

	thead td {
		padding      : 0.5em 0.25em;
	}
	tbody td {
		padding      : 0.5em 0;
	}

	thead th, thead td {
		border-style : solid;
		border-width : 0 0 1px 0;
	}

	tbody th {
		border-style : solid;
		border-width : 0 0 1px;
	}
	tbody td {
		border-style : solid;
		border-width : 0 0.5em 1px;
	}

	.fat tbody th, .fat tbody td {
		vertical-align    : top;
	}

	/*  Table
--------------------------------------------------------------------------------------*/
	th {
		background   : $COLOR_BdM_casual_fill;
		border-color : $COLOR_BdM_fill;
	}
	td {
		border-color : $COLOR_BdM_fill $COLOR_BdM_fill $COLOR_BdM_casual_fill;
	}
	/* //_{@ie5win,@ie55 */
	table {
		color        : $COLOR_BdM_text;
	}
	/* //_}@ie5win,@ie55 */
	thead th, thead td {
		background   : $COLOR_BdM_casual_text;
		border-color : $COLOR_BdM_fill;
		color        : $COLOR_BdM_fill;
	}

	/* //_{^#ie6-win */
	tbody tr:hover td {
		border-color : $COLOR_BdM_fill $COLOR_BdM_fill $COLOR_ACCENT;
		color        : $COLOR_ACCENT;
	}
	tbody tr:hover th {
		background   : $COLOR_ACCENT;
		color        : #fff;
	}
	/* //_}^#ie6-win */

	blockquote {
		th, thead td {
			background   : $COLOR_BdM_flip_fill;
			border-color : $COLOR_BdM_casual_fill;
			color        : $COLOR_BdM_casual_fill;
		}
		td {
			border-color : $COLOR_BdM_casual_fill $COLOR_BdM_casual_fill $COLOR_BdM_casual_text;
		}

		/* //_{^#ie6-win */
		tbody tr:hover td {
			border-color : $COLOR_BdM_casual_fill $COLOR_BdM_casual_fill $COLOR_ACCENT;
		}
		/* //_}^#ie6-win */
	}

/* //_{#can-mq */
/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
	th {
		background   : $COLOR_WTC_casual_fill;
		border-color : $COLOR_WTC_fill;
	}
	td {
		border-color : $COLOR_WTC_fill $COLOR_WTC_fill $COLOR_WTC_casual_fill;
	}
	thead th, thead td {
		background   : $COLOR_WTC_casual_text;
		border-color : $COLOR_WTC_fill;
		color        : $COLOR_WTC_fill;
	}
	th {
		padding      : 0.5em 0.2em;
	}
	thead td {
		padding      : 0.5em 0.1em;
	}
	tbody td {
		border-width : 0 0.2em 1px;
	}

	tbody tr:hover td {
		border-color : $COLOR_WTC_fill $COLOR_WTC_fill $COLOR_ACCENT;
	}

	blockquote {
		th, thead td {
			background   : $COLOR_WTC_flip_fill;
			border-color : $COLOR_WTC_casual_fill;
			color        : $COLOR_WTC_casual_fill;
		}
		td {
			border-color : $COLOR_WTC_casual_fill $COLOR_WTC_casual_fill $COLOR_WTC_casual_text;
		}

		tbody tr:hover td {
			border-color : $COLOR_WTC_casual_fill $COLOR_WTC_casual_fill $COLOR_ACCENT;
		}
	}
}
/* //_>bottom40 */
/* //_}#can-mq */

/* //_<bottom50 */
/*  Print
--------------------------------------------------------------------------------------*/
@media print {
	th {
		border-color : #fff;
	}
	td {
		border-color : #fff #fff $COLOR_BdM_casual_fill;
	}
	thead th, thead td {
		border-color : #fff;
		color        : #fff;
	}

	blockquote {
		th, thead td {
			border-color : #fff;
			color        : #fff;
		}
		td {
			border-color : #fff #fff $COLOR_BdM_casual_text;
		}
	}
}
/* //_>bottom50 */
