$MEDIAQUERY_TABLET_MAX_PX : 950;
$MEDIAQUERY_TABLET        : 'handheld, projection, tv, only screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px)';

$MEDIAQUERY_FONTSIZE_UPPER_TABLET : 18;

$MEDIAQUERY_PHABLET_MAX_PX : 740;

/* //_{#can-mq */
$MEDIAQUERY_TABLET_AND_PRINT : #{"print, " + $MEDIAQUERY_TABLET};
$NO_MEDIA_QUERY              : 1;
/* //_}#can-mq */

/* //_{^#can-mq */
$MEDIAQUERY_TABLET_AND_PRINT : 'print';
$NO_MEDIA_QUERY              : 0;
/* //_}^#can-mq */

$COMMENT_OUT : (
/* //_{+mobileOnly */
    'WQXGA'        : 0,
    'WSXGA'        : 0,
    'pc'           : 0,
    'tablet_print' : 2,
    'tablet'       : 2,
/* //_}+mobileOnly */
/* //_{^+mobileOnly */
    /* //_{^@ie9 */
    'WQXGA'        : $NO_MEDIA_QUERY,
    'WSXGA'        : $NO_MEDIA_QUERY,
    /* //_}^@ie9 */
    /* //_{@ie9 */
    'WQXGA'        : 0,
    'WSXGA'        : 0,
    /* //_}@ie9 */
    'pc'           : $NO_MEDIA_QUERY,
    'tablet_print' : 1,
    'tablet'       : $NO_MEDIA_QUERY,
/* //_}^+mobileOnly */
    'phablet'      : $NO_MEDIA_QUERY,
    'phone'        : $NO_MEDIA_QUERY,
    'smallphone'   : $NO_MEDIA_QUERY,
    'watch'        : $NO_MEDIA_QUERY,
    'dark_theme'   : $NO_MEDIA_QUERY,
    'print'        : 1,
    /* //_{@modern */
    'onlyIE10To11' : 1,
    /* //_}@modern */
    /* //_{^@modern */
    'onlyIE10To11' : 0,
    /* //_}^@modern */
    'onlyOpera'    : $NO_MEDIA_QUERY,
    'onlySafari'   : $NO_MEDIA_QUERY
) !default;

@mixin media($media) {
    @if map-get($COMMENT_OUT, $media) == 2 {
        @content;
    }
    @else if map-get($COMMENT_OUT, $media) == 1 {
        @if $media == 'pc' {
            @media only screen and (min-width: #{($MEDIAQUERY_TABLET_MAX_PX + 1) / $MEDIAQUERY_FONTSIZE_UPPER_TABLET}em){
                @content;
            }
        }
        @else if $media == 'WSXGA' {
            @media only screen and (min-width: 96em){
                @content;
            }
        }
        @else if $media == 'WQXGA' {
            @media only screen and (min-width: 126em){
                @content;
            }
        }
        @else if $media == 'tablet_print' {
            @media #{$MEDIAQUERY_TABLET_AND_PRINT} {
                @content;
            }
        }
        @else if $media == 'tablet' {
            @media #{$MEDIAQUERY_TABLET} {
                @content;
            }
        }
        @else if $media == 'phablet' {
            @media handheld, projection, tv, only screen and (max-width: #{$MEDIAQUERY_PHABLET_MAX_PX}px) {
                @content;
            }
        }
        @else if $media == 'phone' {
            @media handheld, projection, tv, only screen and (max-width: 479px) {
                @content;
            }
        }
        @else if $media == 'smallphone' {
            @media handheld, projection, tv, only screen and (max-width: 359px) {
                @content;
            }
        }
        @else if $media == 'watch' {
            @media handheld, only screen and (max-width: 240px) {
                @content;
            }
        }
        @else if $media == 'dark_theme' {
            @media handheld
            /* //_{#can-mq */
            , (max-width: 240px)
            /* //_}#can-mq */
            /* //_{@modern */
            , (prefers-color-scheme:dark)
            /* //_}@modern */
            {
                /* //_{#can-mq */
                @media handheld, screen { /* screen が無いと Chrome で印刷時にも適用される．only screen and では古い Opera にも適用されるので使わない． */
                /* //_}#can-mq */
                    @content;
                /* //_{#can-mq */
                }
                /* //_}#can-mq */
            }
        }
        @else if $media == 'print' {
            @media print {
                @content;
            }
        }
        // https://spyweb.media/2017/12/04/ie-edge-css-hacks/
        @else if $media == 'onlyIE10To11' {
            @media screen\0 {
                @content;
            }
        }
        @else if $media == 'onlyOpera' {
            @media not aural and (1) {
                @content;
            }
        }
        @else if $media == 'onlySafari' {
            @media screen and (-webkit-min-device-pixel-ratio:0) {
                @content;
            }
        }
    }
    @else if map-get($COMMENT_OUT, $media) != 0 {
        body {
            color : red !important;
        }
        body:before {
            content : "@media() : error-arg! #{$media}";
        }
    }
}

@mixin highContrast {
    /* //_{@modern */
    @media only screen and (-ms-high-contrast:active) {
        & { @content; }
    }
    /* //_}@modern */
    /* //_{@ie5win,@ie55,@ie6,@ie7,@ie8,@ie9,@modern */
    @media only dynamic-css and (-ms-high-contrast:active) {
        & { @content; }
    }
    /* //_}@ie5win,@ie55,@ie6,@ie7,@ie8,@ie9,@modern */
    /* //_{@ie5mac,@legacy */
    @if(1 == 0){ @content; }
    /* //_}@ie5mac,@legacy */
}

@mixin highContrastForIEGte9Gecko {
    /* //_{@ie5win,@ie55,@ie6,@ie7,@ie8,@ie9,@modern */
    @if(0 == 0){
        @media only dynamic-css and (-ms-high-contrast:active) {
            & { @content; }
        }
    }
    /* //_}@ie5win,@ie55,@ie6,@ie7,@ie8,@ie9,@modern */
    /* //_{@ie5mac,@legacy */
    @if(1 == 0){ @content; }
    /* //_}@ie5mac,@legacy */
}

@mixin highContrastForChromiumEdge {
    /* //_{@modern */
    @if(0 == 0){
        @media only screen and (-ms-high-contrast:active) and (prefers-color-scheme:dark),
               only screen and (-ms-high-contrast:active) and (prefers-color-scheme:light) {
            & { @content; }
        }
    }
    /* //_}@modern */
    /* //_{^@modern */
    @if(1 == 0){ @content; }
    /* //_}^@modern */
}

@mixin highContrastForIE10ToEdge {
    /* //_{@modern */
    @if(0 == 0){
        @media only screen and (-ms-high-contrast:active) {
            & { @content; }
        }
    }
    /* //_}@modern */
    /* //_{^@modern */
    @if(1 == 0){ @content; }
    /* //_}^@modern */
}