$MEDIAQUERY_TABLET_MAX_PX : 950;

$MEDIAQUERY_PHABLET_MAX_PX : 740;

$COMMENT_OUT : (
/* //_{+mobileOnly */
    'WQXGA'        : 0,
    'WSXGA'        : 0,
    'pc'           : 0,
    'tablet_print' : 2,
    'tablet'       : 2,
    'phablet'      : if($CANUSE_CSS_MEDIA_QUERY or $IS_LEGACY, 1, 0),
    'phone'        : if($CANUSE_CSS_MEDIA_QUERY or $IS_LEGACY, 1, 0),
    'smallphone'   : if($CANUSE_CSS_MEDIA_QUERY or $IS_LEGACY, 1, 0),
    'watch'        : if($CANUSE_CSS_MEDIA_QUERY or $IS_LEGACY, 1, 0),
    'dark_theme'   : if($CANUSE_CSS_MEDIA_QUERY or $IS_LEGACY, 1, 0),
/* //_}+mobileOnly */
/* //_{^+mobileOnly */
    'WQXGA'        : if($UA_Modern, 1, 0),
    'WSXGA'        : if($UA_Modern, 1, 0),
    'pc'           : if($CANUSE_CSS_MEDIA_QUERY, 1, 0),
    'tablet_print' : 1,
    'tablet'       : if($CANUSE_CSS_MEDIA_QUERY, 1, 0),
    'phablet'      : if($CANUSE_CSS_MEDIA_QUERY, 1, 0),
    'phone'        : if($CANUSE_CSS_MEDIA_QUERY, 1, 0),
    'smallphone'   : if($CANUSE_CSS_MEDIA_QUERY, 1, 0),
    'watch'        : if($CANUSE_CSS_MEDIA_QUERY, 1, 0),
    'dark_theme'   : if($CANUSE_CSS_MEDIA_QUERY, 1, 0),
/* //_}^+mobileOnly */

    'print'        : 1,
    'onlyIE10To11' : if($UA_Modern, 1, 0),
    'onlyOpera'    : if($UA_Modern, 1, 0),
    'onlySafari'   : if($UA_Modern, 1, 0)
) !default;

@mixin media($media) {
    @if map-get($COMMENT_OUT, $media) == 2 {
        @content;
    }
    @else if map-get($COMMENT_OUT, $media) == 1 {
        @if $media == 'pc' {
            @media
                /* //_{@modern */
                only
                /* //_}@modern */
                screen and (min-width: #{($MEDIAQUERY_TABLET_MAX_PX + 1) / $FONTSIZE_UPPER_TABLET}em)
                { @content; }
        }
        @else if $media == 'WSXGA' {
            @media only screen and (min-width: 96em){
                @content;
            }
        }
        @else if $media == 'WQXGA' {
            @media only screen and (min-width: 126em){
                @content;
            }
        }
        @else if $media == 'tablet_print' {
            @media print
                /* //_{#can-mq */
                ,
                /* //_{@modern */
                handheld, projection, tv, only
                /* //_}@modern */
                screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'tablet' {
            @media
                /* //_{#notie */
                handheld, projection, tv
                /* //_}#notie */
                /* //_{@modern */
                , only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'phablet' {
            @media
                /* //_{#notie */
                handheld, projection, tv
                /* //_}#notie */
                /* //_{@modern */
                , only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: #{$MEDIAQUERY_PHABLET_MAX_PX}px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'phone' {
            @media
                /* //_{#notie */
                handheld, projection, tv
                /* //_}#notie */
                /* //_{@modern */
                , only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: 479px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'smallphone' {
            @media
                /* //_{#notie */
                handheld, projection, tv
                /* //_}#notie */
                /* //_{@modern */
                , only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: 359px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'watch' {
            @media
                /* //_{#notie */
                handheld
                /* //_}#notie */
                /* //_{@modern */
                , only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: 240px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'dark_theme' {
            @media
                /* //_{#notie */
                handheld
                /* //_}#notie */
                /* //_{@modern */
                , only screen and (prefers-color-scheme:dark), only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: 240px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'print' {
            @media print {
                @content;
            }
        }
        // https://spyweb.media/2017/12/04/ie-edge-css-hacks/
        @else if $media == 'onlyIE10To11' {
            @media screen\0 {
                @content;
            }
        }
        @else if $media == 'onlyOpera' {
            @media not aural and (1) {
                @content;
            }
        }
        @else if $media == 'onlySafari' {
            @media only screen and (-webkit-min-device-pixel-ratio:0) {
                @content;
            }
        }
    }
    @else if map-get($COMMENT_OUT, $media) != 0 {
        body {
            color : red !important;
        }
        body:before {
            content : "@media() : error-arg! #{$media}";
        }
    }
}

@mixin highContrast {
    @if( $UA_Modern ){
        @media only screen and (-ms-high-contrast:active) {
            & { @content; }
        }
    }
    @if( $UA_Modern or $IS_WIN_IE ){
        @media only dynamic-css and (-ms-high-contrast:active) {
            & { @content; }
        }
    }
    // @if( $UA_MacIE5 or $IS_LEGACY ){
        // @if(1 == 0){ @content; }
    // }
}

@mixin highContrastForIEGte9Gecko {
    @if( $UA_Modern or $IS_WIN_IE ){
        @media only dynamic-css and (-ms-high-contrast:active) {
            & { @content; }
        }
    }
    // @if( $UA_MacIE5 or $IS_LEGACY ){
        // @if(1 == 0){ @content; }
    // }
}

@mixin highContrastForChromiumEdge {
    @if( $UA_Modern ){
        @media only screen and (-ms-high-contrast:active) and (prefers-color-scheme:dark),
               only screen and (-ms-high-contrast:active) and (prefers-color-scheme:light) {
            & { @content; }
        }
    }
    // @if( $UA_MacIE5 or $IS_LEGACY ){
        // @if(1 == 0){ @content; }
    // }
}

@mixin highContrastForIE10ToEdge {
    @if( $UA_Modern ){
        @media only screen and (-ms-high-contrast:active) {
            & { @content; }
        }
    }
    // @if( $UA_MacIE5 or $IS_LEGACY ){
        // @if(1 == 0){ @content; }
    // }
}