$MEDIAQUERY_TABLET_MAX_PX : 950;

$MEDIAQUERY_FONTSIZE_UPPER_TABLET : 18;

$MEDIAQUERY_PHABLET_MAX_PX : 740;

/* //_{#can-mq */
$CAN_USE_MEDIA_QUERY : 1;
/* //_}#can-mq */

/* //_{^#can-mq */
$CAN_USE_MEDIA_QUERY : 0;
/* //_}^#can-mq */

$COMMENT_OUT : (
/* //_{+mobileOnly */
    'WQXGA'        : 0,
    'WSXGA'        : 0,
    'pc'           : 0,
    'tablet_print' : 2,
    'tablet'       : 2,
    /* //_{@legacy */
    'phablet'      : 1,
    'phone'        : 1,
    'smallphone'   : 1,
    'watch'        : 1,
    'dark_theme'   : 1,
    /* //_}@legacy */
    /* //_{^@legacy */
    'phablet'      : $CAN_USE_MEDIA_QUERY,
    'phone'        : $CAN_USE_MEDIA_QUERY,
    'smallphone'   : $CAN_USE_MEDIA_QUERY,
    'watch'        : $CAN_USE_MEDIA_QUERY,
    'dark_theme'   : $CAN_USE_MEDIA_QUERY,
    /* //_}^@legacy */
/* //_}+mobileOnly */
/* //_{^+mobileOnly */
    /* //_{@modern */
    'WQXGA'        : $CAN_USE_MEDIA_QUERY,
    'WSXGA'        : $CAN_USE_MEDIA_QUERY,
    /* //_}@modern */
    /* //_{^@modern */
    'WQXGA'        : 0,
    'WSXGA'        : 0,
    /* //_}^@modern */
    'pc'           : $CAN_USE_MEDIA_QUERY,
    'tablet_print' : 1,
    'tablet'       : $CAN_USE_MEDIA_QUERY,
    'phablet'      : $CAN_USE_MEDIA_QUERY,
    'phone'        : $CAN_USE_MEDIA_QUERY,
    'smallphone'   : $CAN_USE_MEDIA_QUERY,
    'watch'        : $CAN_USE_MEDIA_QUERY,
    'dark_theme'   : $CAN_USE_MEDIA_QUERY,
/* //_}^+mobileOnly */

    'print'        : 1,
    /* //_{@modern */
    'onlyIE10To11' : 1,
    /* //_}@modern */
    /* //_{^@modern */
    'onlyIE10To11' : 0,
    /* //_}^@modern */
    'onlyOpera'    : $CAN_USE_MEDIA_QUERY,
    'onlySafari'   : $CAN_USE_MEDIA_QUERY
) !default;

@mixin media($media) {
    @if map-get($COMMENT_OUT, $media) == 2 {
        @content;
    }
    @else if map-get($COMMENT_OUT, $media) == 1 {
        @if $media == 'pc' {
            @media
                /* //_{@modern */
                only
                /* //_}@modern */
                screen and (min-width: #{($MEDIAQUERY_TABLET_MAX_PX + 1) / $MEDIAQUERY_FONTSIZE_UPPER_TABLET}em)
                { @content; }
        }
        @else if $media == 'WSXGA' {
            @media only screen and (min-width: 96em){
                @content;
            }
        }
        @else if $media == 'WQXGA' {
            @media only screen and (min-width: 126em){
                @content;
            }
        }
        @else if $media == 'tablet_print' {
            @media print
                /* //_{#can-mq */
                ,
                /* //_{@modern */
                handheld, projection, tv, only
                /* //_}@modern */
                screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'tablet' {
            @media
                /* //_{#notie */
                handheld, projection, tv
                /* //_}#notie */
                /* //_{@modern */
                , only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: #{$MEDIAQUERY_TABLET_MAX_PX}px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'phablet' {
            @media
                /* //_{#notie */
                handheld, projection, tv
                /* //_}#notie */
                /* //_{@modern */
                , only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: #{$MEDIAQUERY_PHABLET_MAX_PX}px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'phone' {
            @media
                /* //_{#notie */
                handheld, projection, tv
                /* //_}#notie */
                /* //_{@modern */
                , only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: 479px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'smallphone' {
            @media
                /* //_{#notie */
                handheld, projection, tv
                /* //_}#notie */
                /* //_{@modern */
                , only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: 359px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'watch' {
            @media
                /* //_{#notie */
                handheld
                /* //_}#notie */
                /* //_{@modern */
                , only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: 240px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'dark_theme' {
            @media
                /* //_{#notie */
                handheld
                /* //_}#notie */
                /* //_{@modern */
                , only screen and (prefers-color-scheme:dark), only
                /* //_}@modern */
                /* //_{#can-mq */
                screen and (max-width: 240px)
                /* //_}#can-mq */
                { @content; }
        }
        @else if $media == 'print' {
            @media print {
                @content;
            }
        }
        // https://spyweb.media/2017/12/04/ie-edge-css-hacks/
        @else if $media == 'onlyIE10To11' {
            @media screen\0 {
                @content;
            }
        }
        @else if $media == 'onlyOpera' {
            @media not aural and (1) {
                @content;
            }
        }
        @else if $media == 'onlySafari' {
            @media only screen and (-webkit-min-device-pixel-ratio:0) {
                @content;
            }
        }
    }
    @else if map-get($COMMENT_OUT, $media) != 0 {
        body {
            color : red !important;
        }
        body:before {
            content : "@media() : error-arg! #{$media}";
        }
    }
}

@mixin highContrast {
    /* //_{@modern */
    @media only screen and (-ms-high-contrast:active) {
        & { @content; }
    }
    /* //_}@modern */
    /* //_{@ie5win,@ie55,@ie6,@ie7,@ie8,@ie9,@modern */
    @media only dynamic-css and (-ms-high-contrast:active) {
        & { @content; }
    }
    /* //_}@ie5win,@ie55,@ie6,@ie7,@ie8,@ie9,@modern */
    /* //_{@ie5mac,@legacy */
    @if(1 == 0){ @content; }
    /* //_}@ie5mac,@legacy */
}

@mixin highContrastForIEGte9Gecko {
    /* //_{@ie5win,@ie55,@ie6,@ie7,@ie8,@ie9,@modern */
    @if(0 == 0){
        @media only dynamic-css and (-ms-high-contrast:active) {
            & { @content; }
        }
    }
    /* //_}@ie5win,@ie55,@ie6,@ie7,@ie8,@ie9,@modern */
    /* //_{@ie5mac,@legacy */
    @if(1 == 0){ @content; }
    /* //_}@ie5mac,@legacy */
}

@mixin highContrastForChromiumEdge {
    /* //_{@modern */
    @if(0 == 0){
        @media only screen and (-ms-high-contrast:active) and (prefers-color-scheme:dark),
               only screen and (-ms-high-contrast:active) and (prefers-color-scheme:light) {
            & { @content; }
        }
    }
    /* //_}@modern */
    /* //_{^@modern */
    @if(1 == 0){ @content; }
    /* //_}^@modern */
}

@mixin highContrastForIE10ToEdge {
    /* //_{@modern */
    @if(0 == 0){
        @media only screen and (-ms-high-contrast:active) {
            & { @content; }
        }
    }
    /* //_}@modern */
    /* //_{^@modern */
    @if(1 == 0){ @content; }
    /* //_}^@modern */
}