@mixin lineHeight($height, $onlyChildren) {
    $VALID_LINEHEIGHT : if($UA_IE5, false, true);

    @if $VALID_LINEHEIGHT or $onlyChildren == 0 {
        & {
            line-height : $height;
        }
    }
    @if $VALID_LINEHEIGHT == false {
        * {
            line-height : $height;
        }
    }
}