/* ClearFix
 *  compass/core/stylesheets/compass/utilities/general/_clearfix.scss
 *   https://github.com/Compass/compass/tree/d5df161d0df7edc686e576b22412f437dd0590cc/core/stylesheets/compass/utilities/general
--------------------------------------------------------------------------------------*/

@mixin createPseudoBlock($invisible : 0) {
    & {
        /* //_{@modern */
        /* 2 <= Firefox */
        @if $invisible == 1 {
            :root & [navigator-lte7] {
                content : ".";
            }
        /* https://ka2.org/css-hack-for-opera/ */
        /* Opera <= 7.20 */
            [opera-lte720] /* , x:not(\\) @see /README.md */ { content : " " }
        } @else {
            // https://developer.mozilla.org/en-US/docs/Web/CSS/::after
            // Before Firefox 3.5, only the CSS level 2 behavior of :after was supported, which disallowed position, float, list-style-* and some display properties.
            // https://www.rougebleu.net/css%E3%83%8F%E3%83%83%E3%82%AF%E4%B8%80%E8%A6%A7/
            /* http://browserhacks.com/ */
            /* Firefox <= 3 */
            @media \0 all { & { display : none; } }

            // Opera 7.20-, do not support CSS-P.
            [opera-lte720] /* , x:not(\\) @see /README.md */ { display : none; }
            content : " ";
        }
        /* //_}@modern */
        /* //_{^@modern */
        @if $invisible == 1 {
            content  : "";
            overflow : hidden;
        } @else {
            content : " ";
        }
        /* //_}^@modern */
        display  : block;
    }
}

@mixin clearfix {
    /* //_{@modern,@ie9,@ie8,@ie7 */
        overflow : hidden;
    /* //_}@modern,@ie9,@ie8,@ie7 */
    /* //_{@modern */
        :root & [navigator-lte7] {
            overflow : visible;
            position : relative;
        }
    /* //_}@modern */

    /* //_{#ie6-win */
        height   : 1%;
        overflow : visible;
    /* //_}#ie6-win */

    /* //_{@ie5mac */
        display  : inline-table;
    /* //_}@ie5mac */

        /* //_{@modern */
            &:after {
                @include createPseudoBlock(1);
                /* //_{@modern */
                :root & [navigator-lte7] {
                    display : block;
                }
                height      : 0;
                line-height : 0;
                visibility  : hidden;
                /* //_}@modern */
                clear       : both;
            }
        /* //_}@modern */
}