/* ClearFix
 *  compass/core/stylesheets/compass/utilities/general/_clearfix.scss
 *   https://github.com/Compass/compass/tree/d5df161d0df7edc686e576b22412f437dd0590cc/core/stylesheets/compass/utilities/general
--------------------------------------------------------------------------------------*/

@mixin createPseudoBlock() {
    & {
        content : " ";
        display : block;
    /* //_{@legacy */
        /* https://browserstrangeness.github.io/css_hacks.html */

        /* Gecko <=1.9.0 do not support CSS-P. */
        /* override Gecko ~1.8.1 */
        @media \0 all {
            & {
                display : none;
                width   : 0; /* for Gecko 0.9, display:none で消えない */
            }
        }

        @-moz-document url-prefix() {
            /* override Gecko 1.9.0~1.9.2 */
            & [_csshack_="_:-moz-loading"] { display : none }
            /* override Gecko 1.9.1~1.9.2 */
            & [_csshack_="_:-moz-handler-blocked"] { display : block }
        }

        /* Opera <7.20, do not support CSS-P. */
        [_csshack_=":-opera-lte71"] { display : none; }
    /* //_}@legacy */
    }
}

@mixin clearfix {
    /* //_{@ie9,@ie8,@ie7 */
        overflow : hidden;
    /* //_}@ie9,@ie8,@ie7 */
    /* //_{@ie6,@ie55 */
        zoom     : 1;
    /* //_}@ie6,@ie55 */
    /* //_{@ie5win */
        height   : 1%;
    /* //_}@ie5win */
    /* //_{@ie5mac */
        display  : inline-table;
    /* //_}@ie5mac */

    /* //_{#notie */
        &:after {
            content     : "";
            line-height : 0; /* for Gecko 0.9 で隙間が出来るのを回避, 1.4.2 で親ボックスの高さ設定 */
            height      : 0;
            display     : block;
            visibility  : hidden;
            clear       : both;
        }
        /* override Gecko ~1.8.1 */
        @media \0 all {
            &:after {
                content : ".";
            }
            /* override Gecko 0.9~1.4.2 */
            [_csshack_=":-gck-lte142|_:-moz-any-link"] {
                position : relative; /* for Gecko 1.0.2 */
            }
            &:after [_csshack_=":-gck-lte142|_:-moz-any-link"] {
                display : inline; /* Gecko 1.0.2 で隙間が出来るのを回避 */
            }
            /* override Gecko 1.4~1.8.1 */
            &:after [_lazyhack_="_:lang(x)"] {
                display : block; /* for Gecko 1.4 */
            }
            /* override Gecko 1.8~ */
            @-moz-document url-prefix() { &:after { content : "" } }
        }
    /* //_}#notie */
}