@mixin inline-block {
/* //_{#can-inline-block */
/* //_{@legacy */
    display      : -moz-inline-box;
    display      : inline-table;
/* //_}@legacy */
    display      : inline-block;
/* //_}#can-inline-block */
}