@mixin inline-block {
    @if( $CANUSE_DISPLAY_INLINE_BLOCK ){
        @if( $IS_OLD_OPERA ){
            display : inline-table;
        }
        @if( $UA_Gck-095 or $UA_Gck096-121 ){
            // https://www.brunildo.org/test/inline-block4.html
            display         : -moz-inline-box; /* Gecko 0.9.4.1 */
            -moz-box-orient : vertical;
        } @else {
            display : inline-block;
        }
    }
}