@mixin box-sizing($value) {
    /* //_{#can-box-sizing */
    /* //_{#notie */
       -moz-box-sizing : $value; /* firefox 4 でもこちら */
    /* //_}#notie */
    /* //_{@modern */
    -webkit-box-sizing : $value;
    /* //_}@modern */
            box-sizing : $value;
    /* //_}#can-box-sizing */
}