/* [parts] commonForm
 *
 * form.commonForm
 *   div.commonForm-pair
 *     label
 *     span.commonForm-wrap
 *       input[type=text]|textarea
 *    .commonForm-send
 *       input[type=submit].btn
--------------------------------------------------------------------------------------*/
.commonForm {
    display : block;
}

    .commonForm-pair {
        @include clearfix;
        @include unbreak-inside;

        margin-bottom : 1em;
    }
        .commonForm label {
            @if( $UA_IE5 == false ){
                display : block;
                float   : left;
                width   : 7em;
                padding : math.div($BASE-LINE-HEIGHT-EM - 1em, 2) 0 0;
            }
        }

        .commonForm-wrap {
            display : block;
            @if( $UA_IE5 == false and $IS_LEGACY == false ){
                margin  : 0 #{($INPUT_BORDER_WIDTH + $FORM_ITEM_PADDING_LR) * 2} 0 8em; /* 入力エリアのpaddingとborder分pxサイズでマージンを右に取る */
            }
            @if( $IS_LEGACY ){
                margin  : 0 0 1em 8em;
            }
        }

            .commonForm-wrap * {
                width : 100%;
            /* //_{@ie7,@ie6 */ /* 上に出来る余白を消す、ie5 はカラムが壊れる */
                float : left;
            /* //_}@ie7,@ie6 */
                @if( $IS_LEGACY ){
                    float : right; /* Opera ~8 右に揃える */
                }
            }

        .commonForm-send {
            text-align : right;
        }

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .commonForm {
        max-width : 40em;
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .commonForm label {
        float   : none;
        width   : auto;
    }

    .commonForm-wrap {
        margin-left : 0;
    }
}