/* [parts] commonForm
 *
 * form.commonForm
 *   div.commonForm-pair
 *     label
 *     span.commonForm-wrap
 *       input[type=text]|textarea
 *    .commonForm-send
 *       input[type=submit].btn
--------------------------------------------------------------------------------------*/
.commonForm {
    display : block;
}

    .commonForm-pair {
        @if( $UA_IE5 == false ){
            @include clearfix;
        }
        @include unbreak-inside;
        margin-bottom : 1em;
    }
        .commonForm label {
            @if( $UA_IE5 == false ){
                float   : left;
                width   : 7em;
                padding : math.div($PARAGRAPH_LINE_HEIGHT_EM - 1em, 2) 0;
                @if( $IS_LTE_GECKO09 ){
                    @if( $UA_Gecko09 ){
                        float : none; // Gecko 0.9+ でラベルが消えるので左右に並べない
                        width : auto;
                    }
                } @else {
                    display : block; // Gecko 0.9.4 でフォームが消える!
                }
            }
        }

        .commonForm-wrap {
            display : block;
            @if( $IS_LEGACY ){
                @if( $UA_Gecko09 ){
                    margin : 0.5em 1em;
                } @else {
                    margin : 0 0 1em 8em;
                }
            } @else if( $UA_IE5 == false ){
                margin : 0 #{($INPUT_BORDER_WIDTH + $FORM_ITEM_PADDING_LR) * 2} 0 8em; /* 入力エリアのpaddingとborder分pxサイズでマージンを右に取る */
            } @else {
                margin : 0.5em 1em;
            }
        }

            .commonForm-wrap * {
                width : 100%;
                @if( $UA_IE7 or $UA_IE6 ){
                    float : left; /* 上に出来る余白を消す、ie5 はカラムが壊れる */
                }
                @if( $IS_LTE_GECKO09 ){
                    display : block; /* 上に出来る余白を消す */
                }
            }

        .commonForm-send {
            text-align : right;
        }

/*  WSXGA
--------------------------------------------------------------------------------------*/
@include media(WSXGA) {
    .commonForm {
        max-width : 40em;
    }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .commonForm label {
        float   : none;
        width   : auto;
    }

    .commonForm-wrap {
        margin-left : 0;
    }
}