/* [parts] icon
 *    Pure CSS icon
 *      http://outcloud.blogspot.com/2018/02/PureCssIcon.html
--------------------------------------------------------------------------------------*/
@mixin icon-base {
    position     : relative;
    padding-left : 1.2em;
    @if( $UA_Modern ){
        display        : inline-block; /* 3DSはインライン要素で padding が効かない、DSiで relative が効かない */
        vertical-align : text-top;
    }
    &:before, &:after {
        @include create-CSS-generated-block;
        text-indent   : -1em;
        position      : absolute;
        border-style : solid;
        border-width : 0;
        border-width  : 0;
        margin-top    : .1em;
    }
}
@mixin icon-border {
    & {
        border-color    : $COLOR_Light_casual_text;
    }
    a:focus &, a:active & { /* :focus だけでは ie11- で body:focus に反応してしまう, :active も */
        border-color    : $COLOR_Light_fill;
    }
    @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false and $Option_useRibbon ){
        .ribbon & {
            border-color : $COLOR_Ribbon_casual_text;
        }
    }
    @if( $CANUSE_TARGET_PSEUDO_CLASS ){
        :target & {
            border-color : #fff;
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        & {
            border-color : $COLOR_Dark_casual_text;
        }
    }
    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        & {
            border-color : $COLOR_Print_casual_text;
        }
        @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false and $Option_useRibbon ){
            .ribbon & {
                border-color : $COLOR_Print_casual_text;
            }
        }
    }
}
@mixin icon-border-fill-transparent {
    & {
        border-color : $COLOR_Light_casual_text transparent;
    }
    a:focus &, a:active & {
        border-color : $COLOR_Light_fill transparent;
    }
    @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false and $Option_useRibbon ){
        .ribbon & {
            border-color : $COLOR_Ribbon_casual_text transparent;
        }
    }
    @if( $CANUSE_TARGET_PSEUDO_CLASS ){
        :target & {
            border-color : #fff transparent;
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        & {
            border-color : $COLOR_Dark_casual_text transparent;
        }
    }
    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include media(forced_colors_native){
        & {
            border-color : currentColor Window;
        }
    }
    @include media(forced_colors_ms){
        & {
            border-color : currentColor transparent;
        }
    }
    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        & {
            border-color : $COLOR_Print_casual_text transparent;
        }
        @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false and $Option_useRibbon ){
            .ribbon & {
                border-color : $COLOR_Print_casual_text transparent;
            }
        }
    }
}
@mixin icon-border-transparent-fill {
    & {
        border-color : transparent $COLOR_Light_casual_text;
    }
    a:focus &, a:active & {
        border-color : transparent $COLOR_Light_fill;
    }
    @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false and $Option_useRibbon ){
        .ribbon & {
            border-color : transparent $COLOR_Ribbon_casual_text;
        }
    }
    @if( $CANUSE_TARGET_PSEUDO_CLASS ){
        :target & {
            border-color : transparent #fff;
        }
    }

    /*  Dark theme
    --------------------------------------------------------------------------------------*/
    @include media(dark_theme) {
        & {
            border-color : transparent $COLOR_Dark_casual_text;
        }
    }
    /*  Forced colors
    --------------------------------------------------------------------------------------*/
    @include media(forced_colors_native){
        & {
            border-color : Window currentColor;
        }
    }
    @include media(forced_colors_ms){
        & {
            border-color : transparent currentColor;
        }
    }
    /*  Print
    --------------------------------------------------------------------------------------*/
    @include media(print) {
        & {
            border-color : transparent $COLOR_Print_casual_text;
        }
        @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false and $Option_useRibbon ){
            .ribbon & {
                border-color : transparent $COLOR_Print_casual_text;
            }
        }
    }
}

@if( $CANUSE_GOOD_CSS_GENERATED_BLOCK ){
    .ico-clock {
        @include icon-base;

        &:before {
            top           : 0;
            left          : 0;
            width         : 0.7em;
            height        : 0.7em;
            @include border-radius(.5em);
            @include icon-border;
            border-width  : .15em;
        }
        &:after {
            top           : 0.2em;
            left          : 0.43em;
            width         : 0.23em;
            height        : 0.23em;
            @include icon-border;
            border-width  : 0 0 .14em .14em;
        }
    }

    .ico-label {
        @include icon-base;

        &:before {
            top           : 0.2em;
            left          : 0;
            width         : 0.7em;
            height        : 0;
            border-width  : .6em 0 0;
            @include icon-border;
        }
        &:after {
            top           : 0.2em;
            left          : 0.7em;
            width         : 0;
            height        : 0;
            @include icon-border-transparent-fill;
            border-width  : 0.3em 0 0.3em 0.3em;
        }
    }

    .ico-author {
        @include icon-base;

        &:before {
            top           : 0;
            left          : 0.3em;
            width         : 0.45em;
            height        : 0;
            @include border-radius(.225em);
            border-width  : 0.225em 0;
            @include icon-border;
        }
        &:after {
            top           : 0.5em;
            left          : 0.1em;
            width         : 0;
            height        : 0;
            @include border-radius(.3em .3em 0 0);
            border-width  : 0.5em 0.4em 0;
            @include icon-border;
        }
    }

    .ico-flag {
        @include icon-base;

        &:before {
            top           : 0;
            left          : 0;
            width         : 0.1em;
            height        : 0;
            border-width  : 1em 0 0;
            @include icon-border;
        }
        &:after {
            top           : 0;
            left          : 0.2em;
            width         : 0.8em;
            height        : 0;
            border-width  : .7em 0 0;
            @include icon-border;
        }
    }

    .ico-pen {
        @include icon-base;

        &:before {
            top           : 0;
            left          : 0.25em;
            width         : 0.5em;
            height        : 0;
            border-width  : 0 0 0.7em;
            @include icon-border;
        }
        &:after {
            top           : 0.75em;
            left          : 0.25em;
            width         : 0;
            height        : 0;
            @include icon-border-fill-transparent;
            border-width  : .25em .25em 0 .25em;
        }
    }

    .ico-chain {
        @include icon-base;

        &:before {
            top           : 0.05em;
            left          : 0.05em;
            width         : 0.3em;
            height        : 0.3em;
            @include icon-border;
            @include border-radius(.2em);
            border-width  : 0.2em 0 0.2em 0.2em;
        }
        &:after {
            top           : 0.3em;
            left          : 0.3em;
            width         : 0.3em;
            height        : 0.3em;
            @include icon-border;
            @include border-radius(.2em);
            border-width  : 0.2em 0.2em 0.2em 0;
        }
        
    }

    .ico-sylinder {
        @include icon-base;

        &:before {
            top           : 0;
            left          : 0.1em;
            width         : 0.4em;
            height        : 0.4em;
            border-width  : .25em .2em .35em;
            @include icon-border;
        }
        &:after {
            top           : 0.15em;
            left          : 0.2em;
            width         : 0.4em;
            height        : 0.4em;
            border-width  : 0.1em;
            @include border-radius(.25em);
            @include icon-border;
        }
    }

    .ico-comment {
        @include icon-base;

        &:before {
            top                   : 0;
            left                  : 0;
            width                 : .7em;
            height                : .45em;
            @include border-radius(.2em);
            border-width          : .15em;
            @include icon-border;
        }
        &:after {
            top           : 0.65em;
            left          : 0.3em;
            width         : 0;
            height        : 0;
            @include icon-border-fill-transparent;
            border-width  : 0.35em .2em 0 .2em;
        }
    }
}