/* [parts] moduleSpacer
 *  module 配下の要素をラップし適切な余白を与える
------------------------------------------------------------------------------------- */
@use "../01_var/ua" as ua;
@use "../01_var/options" as opt;

@use "../02_mixin/mq" as *;
@use "../02_mixin/unbreak" as *;

.#{opt.$Prefix}mspacer {
    margin : 1em;

    @if ua.$WinIELte7 {
        @include unbreak-box-with-long-text;
    }

    #lF .lM &, .#{opt.$Prefix}lS & {
        margin : 0.6em 0.5em;
    }

    /*  Tablet
    ------------------------------------------------------------------------------------- */
    @include mq(tablet) {
        margin : 1em 0.5em !important;
    }

    /*  Watch
    ------------------------------------------------------------------------------------- */
    @include mq(watch) {
        margin : 0.6em 0 !important;
    }
}
