/* [parts] moduleSpacer
 *  module 配下の要素をラップし適切な余白を与える
--------------------------------------------------------------------------------------*/
.#{$Prefix}mspacer {
    margin : 1em;

    @if( $IS_LTE_WIN_IE7 ){
        word-break : break-all;
    }

    #lF .lM &, .lS & {
        margin : 0.6em 0.5em;
    }

    /*  Tablet
    --------------------------------------------------------------------------------------*/
    @include media(tablet) {
        margin : 1em 0.5em !important;
    }

    /*  Watch
    --------------------------------------------------------------------------------------*/
    @include media(watch) {
        margin : 0.6em 0 !important;
    }
}