/* 
 * [parts] vector-icon
 *   webfont で提供し、svg でフォールバックする
 *
------------------------------------------------------------------------------------- */
@use "../01_var/options" as opt;
@use "../01_var/ua" as ua;
@use "../01_var/path" as path;
@use "../01_var/size" as size;
@use "../01_var/canuse" as canuse;
@use "../01_var/common.generated" as common;
@use "../01_var/color" as color;
@use "../01_var/quirks" as quirks;

@use "../02_mixin/web-font" as *;
@use "../02_mixin/mq" as *;
@use "../02_mixin/media" as *;
@use "../02_mixin/fill" as *;

.#{common.$VECTOR_ICON__CLASSNAME} {
    @if common.$WEBFONT__FONT_NAME {
        @include web-font-face(common.$WEBFONT__FONT_NAME, path.$ASSET_PATH_WEBFONT + common.$WEBFONT__FILE_STEM, common.$WEBFONT__SVG_FONT_ID, common.$WEBFONT__ID_AND_CLASSNAME_TEST_CSS_READY);
    }
    @include web-font(common.$WEBFONT__FONT_NAME);

    font-style : normal;

    @if canuse.$SVG and ua.$Script {
        svg {
            vertical-align : baseline;
        }
        @if canuse.$SVG_TINY == false {
            path {
                @include fill-responsive(color.$Light_text);
                /*  Forced colors
                ------------------------------------------------------------------------------------- */
                @include mq(forced_colors_native_or_fallback){
                    fill : currentColor;
                }

                a:focus &, a:active & { /* :focus だけでは ie11- で body:focus に反応してしまう, :active も */
                    fill : color.$Light_fill;
                }
                :target & {
                    @if canuse.$TARGET_PSEUDO_CLASS {
                        fill : #fff;
                    }
                }
                @if opt.$UseDarkRibbon {
                    .#{opt.$Prefix}ribbon & {
                        fill : color.$Ribbon_text;
                    }
                    /*  Print
                    ------------------------------------------------------------------------------------- */
                    @include print {
                        fill : color.$Print_text;
                    }
                }
            }
        }
    }
}
