@if( $COMMON_WEBFONT__CLASSNAME_TEST_RENDERING != "" ){
    .#{$COMMON_WEBFONT__CLASSNAME_TEST_RENDERING} {
        @include web-font-detector;
    }    
}

.#{$COMMON_VECTOR_ICON__CLASSNAME} {
    @if( $COMMON_WEBFONT__FONT_NAME ){
        @include web-font-face($COMMON_WEBFONT__FONT_NAME, $ASSET_PATH_WEBFONT + $COMMON_WEBFONT__FILE_STEM, $COMMON_WEBFONT__SVG_FONT_ID, $COMMON_WEBFONT__ID_AND_CLASSNAME_TEST_CSS_READY);
    }

    @include web-font($COMMON_WEBFONT__FONT_NAME);
    
    @if( $CANUSE_SVG ){
        svg {
            vertical-align : baseline;
        }
        @if( $CANUSE_SVG_TINY == false ){
            path {
                fill : $COLOR_Light_text;

                a:focus &, a:active & { /* :focus だけでは ie11- で body:focus に反応してしまう, :active も */
                    fill : $COLOR_Light_fill;
                }
                @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false and $Option_useRibbon ){
                    .#{$Prefix}ribbon & {
                        fill : $COLOR_Ribbon_text;
                    }
                }
                @if( $CANUSE_TARGET_PSEUDO_CLASS ){
                    :target & {
                        fill : #fff;
                    }
                }
            
                /*  Dark theme
                --------------------------------------------------------------------------------------*/
                @include media(dark_theme) {
                    & {
                        fill : $COLOR_Dark_text;
                    }
                }
                /*  Forced colors
                --------------------------------------------------------------------------------------*/
                @include media(forced_colors_native_or_fallback){
                    & {
                        fill : currentColor;
                    }
                }
                /*  Print
                --------------------------------------------------------------------------------------*/
                @include media(print) {
                    fill : $COLOR_Print_text;

                    @if( $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS == false and $Option_useRibbon ){
                        .#{$Prefix}ribbon & {
                            fill : $COLOR_Print_text;
                        }
                    }
                }
            }
        }
    }
}