@charset "UTF-8";
.AMeta,
.Pager,
.SocialBtns,
:link:active img,
:link:focus img,
:visited:active img,
:visited:focus img,
blockquote,
form :focus,
td {
  border-style: dotted
}
table,
tfoot td {
  border-width: 2px 0 0
}
a:active,
a:focus {
  outline: solid 2px
}
table {
  border-spacing: 2px;
  border-collapse: separate
}
th,
thead {
  font-weight: 700
}
td {
  padding: .5em .25em
}
thead td,
thead th {
  border-width: 0 0 2px;
  padding: .5em
}
tbody td {
  border-width: 0 0 1px
}
.Cover-btn i {
  border-width: 0 .15em .15em 0;
  width: .45em;
  height: .45em;
  -ms-transform: rotate(-45deg);
  top: 0
}
.LinkList a:hover,
.RichLink-sep a:hover {
  text-decoration: underline!important
}
.LinkList {
  padding: 2px 0
}
.LinkList a {
  margin: 0 2px
}
.RichLink {
  padding: 2px
}
.RichLink a {
  border-width: 0
}
.chatL p:after,
.chatR p:after {
  width: .4em;
  height: .4em;
  -ms-transform: rotate(-45deg)
}
.chatL p:after {
  border-width: 1px 0 0 1px;
  left: -.3em
}
.chatR p:after {
  border-width: 0 1px 1px 0;
  right: -.3em
}
.tl {
  border-collapse: collapse
}
.Pager {
  text-align: center;
  height: auto;
  padding: 1em 0
}
.Pager span {
  position: static;
  display: inline
}
.Pager i {
  display: none
}
.jsPica:active,
.jsPica:focus {
  outline: 0
}
@media (max-width:319px) {
  .chatL p:after,
  .chatR p:after {
    border-width: 1px 1px 0 0;
    top: -.35em;
    width: .3em;
    height: .3em
  }
  .chatL p:after {
    left: 1.15em
  }
  .chatR p:after {
    right: 1.15em
  }
}