@use "sass:math";

/*
 * 1.Build Targets
 *  //@modern
 *  //@opr9
 *  //@opr8
 *  //@opr72
 *  //@opr70
 *  //@gck190
 *  //@gck121
 *  //@gck097
 *  //@ie9
 *  //@ie8
 *  //@ie7
 *  //@ie6
 *  //@ie55
 *  //@ie5win
 *  //@ie5mac
 *
 * 2.Options
 *  //+baseFontSize18
 *  //+mobileOnly
 *  //+SocialBtns
 *  //+aa
 *  //+mona
 *  //+ArticleLabels
 *  //+GoogleCodePrettify
 *  //+it
 *  //+graph
 *  //+blog
 *  //+simpleHeader
 *  //+Magazine
 *  //+blog2slide
 */

/* _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
||
|| 1. Build Targets
||
|_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
    /* //_{@ie5mac */
    $UA_MacIE5     : true;
    /* //_}@ie5mac */
    $UA_MacIE5     : false !default;

    /* //_{@ie5win */
    $UA_IE5        : true;
    /* //_}@ie5win */
    $UA_IE5        : false !default;

    /* //_{@ie55 */
    $UA_IE55       : true;
    /* //_}@ie55 */
    $UA_IE55       : false !default;

    /* //_{@ie6 */
    $UA_IE6        : true;
    /* //_}@ie6 */
    $UA_IE6        : false !default;

    /* //_{@ie7 */
    $UA_IE7        : true;
    /* //_}@ie7 */
    $UA_IE7        : false !default;

    /* //_{@ie8 */
    $UA_IE8        : true;
    /* //_}@ie8 */
    $UA_IE8        : false !default;

    /* //_{@ie9 */
    $UA_IE9        : true;
    /* //_}@ie9 */
    $UA_IE9        : false !default;

    /* //_{@modern */
    $UA_Modern     : true;
    /* //_}@modern */
    $UA_Modern     : false !default;

    /* //_{@opr70 */
    $UA_Opera70    : true;
    /* //_}@opr70 */
    $UA_Opera70    : false !default;

    /* //_{@opr72 */
    $UA_Opera72    : true;
    /* //_}@opr72 */
    $UA_Opera72    : false !default;

    /* //_{@opr8 */
    $UA_Opera8     : true;
    /* //_}@opr8 */
    $UA_Opera8     : false !default;

    /* //_{@opr9 */
    $UA_Opera9     : true;
    /* //_}@opr9 */
    $UA_Opera9     : false !default;

    /* //_{@gck097 */
    $UA_Gck-097    : true;
    /* //_}@gck097 */
    $UA_Gck-097    : false !default;

    /* //_{@gck121 */
    $UA_Gck101-121 : true;
    /* //_}@gck121 */
    $UA_Gck101-121 : false !default;

    /* //_{@gck190 */
    $UA_Gck130-190 : true;
    /* //_}@gck190 */
    $UA_Gck130-190 : false !default;

/* _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
||
|| 2. Options
||
|_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/

// ベースフォントサイズを 18px にします。無効の場合は 16px です。
    /* //_{+baseFontSize18 */
    $Option_baseFontSize18     : true;
    /* //_}+baseFontSize18 */
    $Option_baseFontSize18     : false !default;
// PC サイズ以上のビューポートのレイアウトを無効にします
    /* //_{+mobileOnly */
    $Option_mobileOnly         : true;
    /* //_}+mobileOnly */
    $Option_mobileOnly         : false !default;
// Web ページはソーシャルボタンを使用します
    /* //_{+SocialBtns */
    $Option_SocialBtns         : true;
    /* //_}+SocialBtns */
    $Option_SocialBtns         : false !default;
// ASCII Art 表示用のスタイル
    /* //_{+aa */
    $Option_aa                 : true;
    /* //_}+aa */
    $Option_aa                 : false !default;
// モナーアート表示用のスタイル deprecated
    /* //_{+mona */
    $Option_mona               : true;
    /* //_}+mona */
    $Option_mona               : false !default;
// ArticleHeader に label を表示
    /* //_{+ArticleLabels */
    $Option_ArticleLabels      : true;
    /* //_}+ArticleLabels */
    $Option_ArticleLabels      : false !default;
// GoogleCodePrettify
    /* //_{+GoogleCodePrettify */
    $Option_GoogleCodePrettify : true;
    /* //_}+GoogleCodePrettify */
    $Option_GoogleCodePrettify : false !default;
// <code>, <var>, <kbd>, <samp> 用のスタイル
    /* //_{+it */
    $Option_IT                 : true;
    /* //_}+it */
    $Option_IT                 : false !default;
// svg グラフ deprecated
    /* //_{+graph */
    $Option_graph              : true;
    /* //_}+graph */
    $Option_graph              : false !default;
// ブログ用
    /* //_{+blog */
    $Option_blog               : true;
    /* //_}+blog */
    $Option_blog               : false !default;
// シンプルなサイトヘッダー
    /* //_{+simpleHeader */
    $Option_simpleHeader       : true;
    /* //_}+simpleHeader */
    $Option_simpleHeader       : false !default;
// マガジン風 index
    /* //_{+Magazine */
    $Option_Magazine           : true;
    /* //_}+Magazine */
    $Option_Magazine           : false !default;
// ブログ記事をスライド表示する
    /* //_{+blog2slide */
    $Option_blog2slide         : true;
    /* //_}+blog2slide */
    $Option_blog2slide         : false !default;
// Chat
    /* //_{+chat */
    $Option_chat               : true;
    /* //_}+chat */
    $Option_chat               : false !default;

/* _/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/
||
|| 3. Groups
||
|_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/*/
    $IS_Opera7x     : $UA_Opera70 or $UA_Opera72;
    $IS_OLD_OPERA   : $IS_Opera7x or $UA_Opera8 or $UA_Opera9;
    $IS_OLD_GECKO   : $UA_Gck-097 or $UA_Gck101-121 or $UA_Gck130-190;
    $IS_LEGACY      : $IS_OLD_OPERA or $IS_OLD_GECKO;
    $IS_NOT_IE      : $IS_LEGACY or $UA_Modern;
    $IS_LTE_IE55    : $UA_MacIE5 or $UA_IE5 or $UA_IE55;
    $IS_LTE_WIN_IE6 : $UA_IE5 or $UA_IE55 or $UA_IE6;
    $IS_LTE_WIN_IE7 : $IS_LTE_WIN_IE6 or $UA_IE7;
    $IS_LTE_WIN_IE8 : $IS_LTE_WIN_IE7 or $UA_IE8;
    $IS_WIN_IE      : $IS_LTE_WIN_IE8 or $UA_IE9;
    $IS_IE8_OR_9    : $UA_IE8 or $UA_IE9;

// ;hover
    $HOVER_PSEUDO_CLASS_ONLY_LINK     : $IS_LTE_WIN_IE6; // :hover は a[href] にしか働かない
    $HOVER_PSEUDO_CLASS_ONLY_FORM     : $UA_Opera70;     // Opera 7~7.20, :hover は form 部品にしか働かない
    $CANUSE_HOVER_PSEUDO_CLASS        : $UA_Modern or $IS_OLD_GECKO or $UA_Opera72 or $UA_Opera8 or $UA_Opera9 or $IS_IE8_OR_9 or $UA_IE7;

// :active
    $ACTIVE_ON_LINK_BEHAVES_FOCUS     : $IS_LTE_WIN_IE7; // a:active を実装するがそのふるまいは a:focus
    $ACTIVE_PSEUDO_CLASS_ONLY_LINK    : $IS_LTE_WIN_IE7;
    $FOCUS_APPLIED_TO_ACTIVE          : $UA_Gck-097 or $UA_Gck101-121; // Gecko ~1.7, :focus のスタイルが :active にも適用される.
    $CANUSE_ACTIVE_PSEUDO_CLASS       : $UA_Modern or $UA_Gck130-190 or $IS_IE8_OR_9 or $UA_MacIE5;

// :focus
    $FOCUSED_COLOR_FIXED_AT_SYSTEM_COLOR : $UA_Opera8 or $UA_Opera9; // Opera 8~9, The :focus color cannot be changed from the system color.
    $CANT_CHANGE_TEXT_COLOR_WHEN_FOCUS   : $UA_Gck-097 or $UA_Gck101-121; // :focus 要素のテキストカラーの変更が出来ない
    $FOCUS_PSEUDO_CLASS_ONLY_LINK        : $UA_IE7 or $UA_Opera72; // :focus は a[href] にしか働かない
    $CANUSE_FOCUS_PSEUDO_CLASS           : $UA_Modern or $IS_OLD_GECKO or $UA_Opera70 or $UA_Opera8 or $UA_Opera9 or $IS_IE8_OR_9 or $UA_MacIE5;

// styling
    $LIMITED_STYLING_OF_ITEMS_IN_FORM : $IS_OLD_OPERA or $IS_LTE_WIN_IE7;
    $CANUSE_TRANSPARENT_BORDER_COLOR  : $UA_Modern or $IS_LEGACY or $IS_IE8_OR_9 or $UA_IE7;
    $CANUSE_OUTLINE                   : $UA_Modern or $UA_Gck130-190 or $UA_Opera8 or $UA_Opera9 or $IS_IE8_OR_9; // IE8+, Gecko 1.8+, Opera 8+
    $CANUSE_LIMITED_OUTLINE           : $IS_Opera7x; // 動的疑似クラスで(色の)変更が出来ない

// @media
    $CANUSE_CSS_MEDIA_QUERY          : $UA_Modern or $UA_IE9 or $UA_Opera9;
    $FORCED_COLORS_SUPPORT           : $UA_Modern or $IS_WIN_IE or $UA_Gck130-190;

// SVG
    $CANUSE_SVG                      : $UA_Modern or $UA_Opera8 or $UA_Opera9 or $UA_Gck130-190 or $UA_IE9;

// CSS Generated Content
    $CANUSE_CSS_GENERATED_CONTENT    : $UA_Modern or $IS_LEGACY or $IS_IE8_OR_9;
    $CANUSE_CSS_GENERATED_BLOCK      : $CANUSE_CSS_GENERATED_CONTENT and $IS_OLD_GECKO == false and $UA_Opera70 == false;
    $CANUSE_GOOD_CSS_GENERATED_BLOCK : $UA_Modern or $IS_IE8_OR_9;

// Useful CSS Properties
    $CANUSE_MAX_AND_MIN_SIZES        : $UA_Modern or $IS_LEGACY or $IS_IE8_OR_9 or $UA_IE7;
    $CANUSE_OVERFLOW_X_AND_Y         : $UA_Modern or $IS_WIN_IE or $UA_MacIE5 or $UA_Gck101-121 or $UA_Gck130-190; // Gecko 1.9.0~ ?
    $CANUSE_MARGIN_AUTO              : $UA_Modern or $IS_LEGACY or $IS_IE8_OR_9 or $UA_IE7 or $UA_IE6 or $UA_IE55;
    $CANUSE_DISPLAY_INLINE_BLOCK     : $UA_Modern or $IS_LEGACY or $IS_IE8_OR_9 or $UA_MacIE5;
    $CANUSE_BOX_SIZING               : $UA_Modern or $IS_LEGACY or $IS_IE8_OR_9;

// Useful CSS Selectors
    $CANUSE_ATTRIBUTE_SELECTOR        : $UA_Modern or $IS_LEGACY or $IS_IE8_OR_9 or $UA_IE7;
    $CANUSE_UNIQUE_ATTRIBUTE_SELECTOR : $UA_Modern or $IS_OLD_GECKO or $UA_Opera72 or $UA_Opera8 or $UA_Opera9 or $IS_IE8_OR_9 or $UA_IE7;
    $CANUSE_ALL_ATTRIBUTE_SELECTORS   : $UA_Modern or $IS_OLD_GECKO or $UA_Opera9 or $IS_IE8_OR_9 or $UA_IE7;
    $CANUSE_EMPTY_PSEUDO_CLASS        : $UA_Modern or $IS_LEGACY or $UA_IE9;
    $CANUSE_TARGET_PSEUDO_CLASS       : $UA_Modern or $UA_Gck130-190 or $UA_IE9;
    $CANUSE_1ST_CHILD_PSEUDO_CLASS    : $UA_Modern or $IS_LEGACY or $IS_IE8_OR_9 or $UA_IE7 or $UA_MacIE5;
    $CANUSE_LAST_CHILD_PSEUDO_CLASS   : $UA_Modern or $IS_OLD_GECKO or $UA_IE9;
    $CANUSE_NEGATIVE_PSEUDO_CLASS     : $UA_Modern or $IS_OLD_GECKO or $UA_Opera9 or $UA_IE9; // Opera 9, @media 内に :not() を含むと、そのメディアブロックのスタイルがあたる
    $CANUSE_1ST_OF_TYPE_PSEUDO_CLASS  : $UA_Modern or $IS_IE8_OR_9;