$COLOR_ACCENT : #3079ed !default;
$COLOR_WARN   : red !default;

$COLOR_Sidebar_fill : #f1f4f1 !default;

/*  白系統のボディーメイン用カラー
--------------------------------------------------------------------------------------*/
$COLOR_Light_fill          : #f8fbf8 !default;
$COLOR_Light_text          : #111 !default;
$COLOR_Light_casual_fill   : #ddd !default;
$COLOR_Light_casual_text   : #777 !default;
$COLOR_Light_accent        : $COLOR_ACCENT !default;

$COLOR_Light_link          : #24c !default;
$COLOR_Light_visited       : #717 !default;
$COLOR_Light_hover         : $COLOR_ACCENT !default;
$COLOR_Light_visited_hover : #419 !default;

/*  黒系統のリボン用カラー(フッターとページ上部のアクセント)
--------------------------------------------------------------------------------------*/
$COLOR_Ribbon_fill          : #1a1a1a !default;
$COLOR_Ribbon_text          : #fff !default;
$COLOR_Ribbon_casual_fill   : #2a2a2a !default;
$COLOR_Ribbon_casual_text   : #bbb !default;
$COLOR_Ribbon_accent        : $COLOR_ACCENT !default;

$COLOR_Ribbon_link          : #bbe !default;
$COLOR_Ribbon_visited       : $COLOR_Ribbon_text !default;
$COLOR_Ribbon_hover         : $COLOR_ACCENT !default;
$COLOR_Ribbon_visited_hover : #b3f !default;

/*  ダークモード用のボディーのメイン用カラー
--------------------------------------------------------------------------------------*/
$COLOR_Dark_fill          : #000 !default;
$COLOR_Dark_text          : #eee !default;
$COLOR_Dark_casual_fill   : #222 !default;
$COLOR_Dark_casual_text   : #999 !default;
$COLOR_Dark_accent        : $COLOR_ACCENT !default;

$COLOR_Dark_link          : $COLOR_Ribbon_link !default;
$COLOR_Dark_visited       : #eae !default;
$COLOR_Dark_hover         : $COLOR_Ribbon_hover !default;
$COLOR_Dark_visited_hover : $COLOR_Ribbon_visited_hover !default;

@if( $DARK_THEME_ALLWAYS ){
    $COLOR_Sidebar_fill        : $COLOR_Dark_fill;

    $COLOR_Light_fill          : $COLOR_Dark_fill;
    $COLOR_Light_text          : $COLOR_Dark_text;
    $COLOR_Light_casual_fill   : $COLOR_Dark_casual_fill;
    $COLOR_Light_casual_text   : $COLOR_Dark_casual_text;
    $COLOR_Light_accent        : $COLOR_Dark_accent;
    
    $COLOR_Light_link          : $COLOR_Dark_link;
    $COLOR_Light_visited       : $COLOR_Dark_visited;
    $COLOR_Light_hover         : $COLOR_Dark_hover;
    $COLOR_Light_visited_hover : $COLOR_Dark_visited_hover;
};

/*  印刷用カラー
--------------------------------------------------------------------------------------*/
$COLOR_Print_fill          : #fff !default;
$COLOR_Print_text          : #000 !default;
$COLOR_Print_casual_fill   : #ccc !default;
$COLOR_Print_casual_text   : #666 !default;
$COLOR_Print_accent        : $COLOR_ACCENT !default;

$COLOR_Print_link          : #006 !default;
$COLOR_Print_visited       : #606 !default;
