/* role="image" */

/* //_{+aa */
.aa {
    @include lineHeight(1, 0);
    @include hPadding(1, 1.33em, 1.33em);

    speak        : none;
    margin       : 1.33em 0;
    font-size    : 0.75em;
    border-width : 1px;

    font-family  : "UD Digi Kyokasho N-R", monospace;
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .aa {
        background : #fff;
        color      : $COLOR_Print_text;
    }
}
/* //_}+aa */