/* role="image" */

/* //_{+aa */
.aa {
    @include lineHeight(1, 0);
    @include hPadding(1, 1em, 1em);

    margin       : 1em 0;
    border-width : 1px;

    font-family  : monospace;
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .aa {
        background : #fff;
        color      : $COLOR_Print_text;
    }
}
/* //_}+aa */