/* a タグの下線
--------------------------------------------------------------------------------------*/
/* 下線あり -> hover -> 下線なし 但し, focus:hover active:hover では下線が付く*/
.aBodyRoot {
    /* //_{#ie6-win */
    a, /* link の無い a には下線をつけない */
    /* //_}#ie6-win */
    :link:hover, :visited:hover, a:active
    /* //_{#can-focus-psedo-class */
    , a:focus
    /* //_}#can-focus-psedo-class */
    { text-decoration : none; }

    :link, :visited {
        text-decoration : underline;
    }
}

/* .aBodyRoot 内では訪問済のリンクは紫になる */
.aBodyRoot {
    :visited       { color : $COLOR_Default_visited; }
    :visited:hover { color : $COLOR_Default_visited_hover; }
}

/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .aBodyRoot {
        line-height : $PHONE_LINE_HEIGHT;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .aBodyRoot {
        line-height : $WATCH_LINE_HEIGHT;
    }
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    /* .aBodyRoot 内では訪問済のリンクは紫になる */
    .aBodyRoot {
        :visited       { color : $COLOR_Watch_visited; }
        :visited:hover { color : $COLOR_Watch_visited_hover; }
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    /* //_{#can-content */
    .aBodyRoot :link:after {
        content     : " ("attr(href)") ";
        font-size   : 0.875em;
        color       : $COLOR_Print_link;
    }
    a[href$=".jpeg"]:after,
    a[href$=".JPEG"]:after,
    a[href$=".JPG"]:after,
    a[href$=".jpg"]:after,
    a[href$=".gif"]:after,
    a[href$=".GIF"]:after,
    a[href$=".png"]:after,
    a[href$=".PNG"]:after
    /* //_{^@ie8 */
    ,
    a[href^="mailto:"]:after,
    a[href^="tel:"]:after
    /* //_}^@ie8 */
    {
        display : none; /* for iOS4 content : none だけでは消えない */
    }
    /* //_}#can-content */
}