/*  Phone
--------------------------------------------------------------------------------------*/
@include media(phone) {
    .aBodyRoot {
        line-height : $PHONE_LINE_HEIGHT;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    .aBodyRoot {
        line-height : $WATCH_LINE_HEIGHT;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    /* //_{#can-content */
    .aBodyRoot :link:after {
        content     : " ("attr(href)") ";
        font-size   : 0.875em;
        color       : $COLOR_Print_link;
    }
    a[href$=".jpeg"]:after,
    a[href$=".JPEG"]:after,
    a[href$=".JPG"]:after,
    a[href$=".jpg"]:after,
    a[href$=".gif"]:after,
    a[href$=".GIF"]:after,
    a[href$=".png"]:after,
    a[href$=".PNG"]:after
    /* //_{^@ie8 */
    ,
    a[href^="mailto:"]:after,
    a[href^="tel:"]:after
    /* //_}^@ie8 */
    {
        display : none; /* for iOS4 content : none だけでは消えない */
    }
    /* //_}#can-content */
}