
/*  box
--------------------------------------------------------------------------------------*/
.box {
	@include clearfix;
	
	margin      : 1em $CONTENT_MARGIN_LR 0;
}
.box p, .box dl {
	margin-top      : 0;
	margin-left     : 0;
	margin-right    : 0;
}

/* //_{#can-1stOfType */
.box > p:first-of-type {
	margin-top : ( - $BASE_LINE_HEIGHT_EM + 1em ) / 3;
}
/* //_}#can-1stOfType */

.box ul, .box ol {
	list-style-position : inside;
}

.box img,
.box embed,
.box object,
.box iframe,
.box video,
.box .caption {
	float   : left;
	margin  : 0 $CONTENT_MARGIN_LR 1em 0;
}

/* //_{#can-mq */

/* //_<bottom10 */
/*  Full HD
--------------------------------------------------------------------------------------*/
@media only screen and (min-width: 96em) {
	.box {
		margin      : 1em $CONTENT_MARGIN_LR_WSXGA 0;
	}
}
/* //_>bottom10 */

/* //_<bottom30 */
/*  Phone
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 479px) {
	/* //_{#can-1stOfType */
	.box > p:first-of-type {
		margin-top : ( - $PHONE_LINE_HEIGHT_EM + 1em ) / 3;
	}
	/* //_}#can-1stOfType */
}
/* //_>bottom30 */

/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
	.box {
		margin       : 1em 0 0;
	}

	/* //_{#can-1stOfType */
	.box > p:first-of-type {
		margin-top : ( - $WATCH_LINE_HEIGHT_EM + 1em ) / 3;
	}
	/* //_}#can-1stOfType */

	.box img,
	.box embed,
	.box object,
	.box iframe,
	.box video,
	.box .caption {
		float       : none;
		display     : block;
		margin      : 0 auto 1em;
	}
}
/* //_>bottom40 */

/* //_}#can-mq */

