
/*  box
--------------------------------------------------------------------------------------*/
.box {
	@include clearfix;
	
	margin      : 0 2%;
}
.box p, .box dl {
	margin-top      : 0;
	margin-left     : 0;
	margin-right    : 0;
}

blockquote .box {
	margin-top  : 1em;
}

.box ul, .box ol {
	list-style-position : inside;
}

.box img,
.box embed,
.box object,
.box iframe,
.box video {
	padding : 1px 0 0 1px;
}

.box img,
.box embed,
.box object,
.box iframe,
.box video,
.box .caption {
	float   : left;
	margin  : 0 2% 1em 0;
}


/* object with caption
 *  .box
 *    .caption[style=width:XXpx]
 *       figure
 *         img|emned|
 *         figcaption
 */
.caption {
	word-break    : break-all;
	text-align    : center;
	line-height   : 1.2;
	font-size     : 0.875em;
}
/* //_{@ie5win */
.caption * {
	line-height        : 1.2;
}
/* //_}@ie5win */

.box .caption * {
	float        : none;
}

/* //_{#can-mq */

/* //_<bottom10 */
/*  Full HD
--------------------------------------------------------------------------------------*/
@media only screen and (min-width: 96em) {
	.box {
		margin      : 0 1%;
	}
}
/* //_>bottom10 */

/* //_<bottom40 */
/*  Watch
--------------------------------------------------------------------------------------*/
@media handheld, only screen and (max-width: 240px) {
	.box {
		margin       : 0;
	}

	.box img,
	.box embed,
	.box object,
	.box iframe,
	.box video,
	.box .caption {
		float       : none;
		display     : block;
		margin      : 0 auto 1em;
	}
}
/* //_>bottom40 */

/* //_}#can-mq */

