/*
 * http://webcommu.net/phone-table-scroll/
 */
.hscroll {
/* //_{@modern */
    overflow      : auto;
/* //_}@modern */
    overflow-x    : auto;
    overflow-y    : hidden;
/* //_{@ie5win,@ie55 */
    width         : 100%;
/* //_}@ie5win,@ie55 */
    margin        : 1em 0;

    li &, dl &, tr &, .note & {
        margin-top : 0;
    }
}

/* //_{@modern */
    .hscroll::-webkit-scrollbar {
        height : 5px;
    }
    .hscroll::-webkit-scrollbar-track {
        background : #F1F1F1;
    }
    .hscroll::-webkit-scrollbar-thumb {
        background : #BCBCBC;
    }
/* //_}@modern */

    .hscroll table {
        margin-bottom : 0.5em;
        /* //_{@ie5win,@ie55 */
            /* table-layout : auto; */
        /* //_}@ie5win,@ie55 */
    }
    .hscroll pre {
        margin      : 0 0 0.5em;
        white-space : pre;
        overflow    : auto;
    }
    /* //_{@ie5win */
        .hscroll pre code,
        .hscroll pre samp { width : auto; }
    /* //_}@ie5win */

/*  Tablet
--------------------------------------------------------------------------------------*/
@include media(tablet) {
    .hscroll table {
        white-space  : nowrap;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .hscroll {
    /* //_{@modern */
        overflow   : visible;
    /* //_}@modern */
        overflow-x : visible;
        overflow-y : visible;
    }
        .hscroll table {
            width       : 100%;
            margin      : 0;
            white-space : normal;
        }
        .hscroll pre {
            margin      : 0;
            @include pre-wrap;
        }
}