/* //_{+it
--------------------------------------------------------------------------------------*/
code, var {
    background : $COLOR_Default_casual_fill;
    padding    : .1em .4em;
    margin     : 0 .1em;

    blockquote & {
        background : $COLOR_Default_casual_text;
        color      : $COLOR_Default_fill;
    }
}

/*  Watch
--------------------------------------------------------------------------------------*/
@include media(watch) {
    code, var {
        background : $COLOR_Watch_casual_fill;
    
        blockquote & {
            background : $COLOR_Watch_casual_text;
            color      : $COLOR_Watch_fill;
        }
    }
}
/* //_}+it */