/* //_{+it
--------------------------------------------------------------------------------------*/
code, var {
    background : $COLOR_Default_casual_fill;
    padding    : .1em .4em;
    margin     : 0 .1em;

    blockquote &, tbody th & {
        background : $COLOR_Default_casual_text;
        color      : $COLOR_Default_fill;
    }
}

pre code, pre var {
    background : none;
    padding    : 0;
    margin     : 0;
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    code, var {
        background : $COLOR_Watch_casual_fill;
    
        blockquote &, tbody th & {
            background : $COLOR_Watch_casual_text;
            color      : $COLOR_Watch_fill;
        }
    }
    pre code, pre var {
        background : none;
    }
}
/* //_}+it */