/*  links
--------------------------------------------------------------------------------------*/
.links {
    @include pre-wrap;
    @include hMargin(1, 1em, 1em);
}

    .links a {
        padding-left : 1em;
        @include lineHeight(1.2, 1);

        /* //_{@modern,@ie9,@ie8 */
        display      : inline-block;
        /* //_}@modern,@ie9,@ie8 */
        
        /* //_{#can-content */
        position     : relative;
        /* //_}#can-content */

        /* //_{@ie7,@ie6,@ie55 */
            display : block;
            zoom    : 1;
        /* //_}@ie7,@ie6,@ie55 */

        /* //_{@ie5win */
            display : block;
            height  : 1em;
        /* //_}@ie5win */
    }
    
    /* //_{#can-content */
    .links a[href]:before {
        content         : ">";
        position        : relative;
        left            : -0.5em;
        width           : 1em;
        height          : 1.4em; /* for iOS8 */
        line-height     : 1.4; /* for iOS8 */
        text-align      : center;
        font-weight     : bold;
    }
    .links a[href^="/"]:not([href^="//"]):before {
        content     : "+";
    }
    .links a[href*="web.archive."]:before {
        content     : "*";
    }
    /* //_}#can-content */