/* //_{+mona */
/* role="image" */
/* http://b4t.jp/823 */

@mixin mona {
    @include lineHeight(1.125, 0);

/* IE */
/* //_{#ie6-win */
    font-family:Mona,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","MS PGothic","MS Pｺﾞｼｯｸ","ＭＳＰゴシック","MSPゴシック",sans-serif;
/* //_}#ie6-win */

/* //_{@ie7,@ie8 */
    font-family:Mona,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","MS PGothic","MS Pｺﾞｼｯｸ","ＭＳＰゴシック","MSPゴシック",sans-serif;
/* //_}@ie7,@ie8 */

/* //_{@modern */
    font-family:"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,Mona,"MS PGothic AA","ＭＳ Ｐゴシック","MS Pゴシック","ＭＳＰゴシック","MSPゴシック","MS Pｺﾞｼｯｸ","MS PGothic",sans-serif;

    /* firefox */
    :-moz-read-only & {
        font-family:Mona,"MS PGothic AA","ＭＳ Ｐゴシック","MS PGothic","MS Pｺﾞｼｯｸ","MS Pゴシック","ＭＳＰゴシック","MSPゴシック","IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",IPAMonaPGothic,sans-serif;
    }
/* //_}@modern */

    /* safari */
    @include media(onlySafari) {
        & {
            font-family:"MS PGothic AA","ＭＳ Ｐゴシック","MS PGothic","MS Pｺﾞｼｯｸ","MS Pゴシック","ＭＳＰゴシック","MSPゴシック",IPAMonaPGothic,"IPA モナー Pゴシック","IPA mona PGothic","IPA MONAPGOTHIC",Mona,sans-serif;
        }
    }
}

.mona {
    @include mona;

    speak   : none;
    padding : 2em 1em;
    @include highContrast {
        border-style : solid;
        border-width : 1px;
    }
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .mona {
        background : none;
        border     : 1px solid $COLOR_PRT_casual_fill;
        color      : $COLOR_PRT_text;
    }
}
/* //_}+mona */
