/*  note
--------------------------------------------------------------------------------------*/
.note, dl.note {
    @include hMargin(1, 1em, 1em);
    padding-left : 25%;
    * {
        margin-right : 0 !important;
    }
}
dl.note dd {
    margin-left : 1em;
}