/*  note
--------------------------------------------------------------------------------------*/
.note, dl.note {
    margin-left : 25% !important;
}
dl.note dd {
    margin-left : 1em;
}

/* //_{#can-mq */
    /*
@media handheld, only screen and (min-width: 0) {
    .aBodyRoot dl.note {
        margin-left : 25%;
    }
} 詳細度を上げる, !important で */
/* //_}#can-mq */
