/* object with caption
 *  div.box
 *    div.caption[style=width:XXpx]
 *       figure
 *         img|emned|
 *         figcaption
 */
$CaptionedObjectFontSize : 0.875em;

.caption {
    word-break : break-all;
    text-align : center;
    @include lineHeight(1.2, 0);
    font-size  : 0.875em;
    /* //_{@modern */
    width      : 100%; /* for animation */
    /* //_}@modern */
    /* //_{#can-max-min */
    max-width  : 100%;
    /* //_}#can-max-min */

    @include unbreak-inside;

    img, .box & img {
        margin : 0 0 .5em;
    }
}

.box .caption * {
    float : none;
}