.tl {
    border-width : 0;

    th, td {
        background : none !important;
    }
    
    thead th, thead td, tbody th {
        color          : $COLOR_Default_text;
    }

    thead th {
        border-width   : 0 0 1px 0;
    }
    thead td {
        border-width   : 0 0 1px .3em;
    }

    thead th, thead td {
        border-color   : $COLOR_Default_casual_fill;
        padding-top    : .5em;
        padding-bottom : .5em;
    }

    th {
        padding        : .5em 1em .5em 0;
        border-width   : 0;
        vertical-align : top;
        text-align     : left;
    }
    td {
        /* //_{#can-content */
        position       : relative;
        /* //_}#can-content */
        border-width   : 0 0 0 .3em;
        border-color   : $COLOR_Default_casual_fill;
        border-style   : solid;
        padding        : .5em 1em;
        vertical-align : top;

    /* //_{^#can-1stChild */
        & * {
            margin-top : 0;
        }
    /* //_}^#can-1stChild */
    /* //_{#can-1stChild */
        & > *:first-child {
            margin-top : 0;
        }
    /* //_}#can-1stChild */
    }

    /* //_{#can-content */
    tbody td:before, tbody td:after {
        @include createPusedoContent;
        text-indent   : -1em;
        display       : block;
        position      : absolute;
        border-width  : .3em;
    }
    /* //_{#can-empty-pseudo-class */
    tbody :empty:before, tbody :empty:after {
        display : none; /* for iOS4 content : none だけでは消えない */
    }
    /* //_}#can-empty-pseudo-class */

    tbody td:before {
        top           : .6em;
        left          : -0.75em;
        width         : 0.6em;
        height        : 0.6em;
        /* //_{@modern */
        -webkit-border-radius : .6em;
        -moz-border-radius    : .6em;
        /* //_}@modern */
        /* //_{@modern,@ie9 */
        border-radius : .6em;
        /* //_}@modern,@ie9 */
        border-width  : .3em;
        border-color  : $COLOR_Default_casual_fill;
    }
    tbody td:after {
        top           : .85em;
        left          : -0.5em;
        width         : 0;
        height        : 0;
        /* //_{@modern */
        -webkit-border-radius : .35em;
        -moz-border-radius    : .35em;
        /* //_}@modern */
        /* //_{@modern,@ie9 */
        border-radius : .35em;
        /* //_}@modern,@ie9 */
        border-width  : .35em;
        border-color  : $COLOR_Default_fill;
    }
    /* //_}#can-content */

    tfoot th {
        border-width : 1px 0 0;
    }
    tfoot td {
        border-width : 1px 0 0 .3em;
        border-style : solid dotted;
    }
    tfoot th, tfoot td {
        border-color   : $COLOR_Default_casual_fill;
        padding-top    : .5em;
        padding-bottom : .5em;
    }

/* //_{#can-hover-pseudo-class */
    tbody :hover th,
    tbody :hover td
    /* //_{#can-content */
    , tbody :hover td:before
    /* //_}#can-content */
    {
        border-color : $COLOR_ACCENT;
    }
    tbody :hover th {
        background  : $COLOR_ACCENT !important;
        color       : #fff;
    }
    tbody :hover th {
        :link, :visited {
            color : #fff;
        }
    }
/* //_}#can-hover-pseudo-class */

    thead th, thead td, tbody th {
        :link {
            color : $COLOR_Default_link;
        }
        :visited {
            color : $COLOR_Default_visited;
        }
    }
}

blockquote .tl {
    thead th, thead td,
    td,
    tfoot th, tfoot td
    /* //_{#can-content */
    , tbody td:before
    /* //_}#can-content */
    {
        border-color : $COLOR_Default_casual_text;
    }
    
    /* //_{#can-content */
    tbody td:after {
        border-color : $COLOR_Default_casual_fill;
    }
    /* //_}#can-content */
}

/*  Dark theme
--------------------------------------------------------------------------------------*/
@include media(dark_theme) {
    .tl {
        thead th, thead td, tbody th {
            color : $COLOR_Watch_text;
        }

        thead th, thead td,
        td, tbody td:before, tfoot th, tfoot td {
            border-color : $COLOR_Watch_casual_text;
        }
        tbody td:after {
            border-color : $COLOR_Watch_casual_fill;
        }

        thead th, thead td, tbody th {
            :link {
                color : $COLOR_Watch_link;
            }
            :visited {
                color : $COLOR_Watch_visited;
            }
        }      
    }
    blockquote .tl {
        thead th, thead td,
        td,
        tfoot th, tfoot td,
        tbody td:before {
            border-color  : $COLOR_Watch_casual_text;
        }
        tbody td:after {
            border-color : $COLOR_Watch_casual_fill;
        }
    }  
}

/*  Print
--------------------------------------------------------------------------------------*/
@include media(print) {
    .tl {
        tbody td:after {
            border-color :#fff;
        }
    }
    blockquote .tl {
        tbody td:after {
            border-color :#fff;
        }
    }
}