// https://github.com/Modernizr/Modernizr/blob/master/feature-detects/css/generatedcontent.js
@if( $CANUSE_CSS_GENERATED_CONTENT ){
    #jsCanUseContent {
        font       : 0/0 a;
    }
    #jsCanUseContent:after {
        content    : ':)';
        visibility : hidden;
        font       : 7px/1 a
    }
}