/*  PicaThumbnail
--------------------------------------------------------------------------------------*/
/* //_{#can-focus-pseudo-class */
.jsPica:focus,
/* //_}#can-focus-pseudo-class */
.jsPica:active {
    @include highContrast {
        outline : 0;
    }
}

.jsPica img,
.jsCap { /* onload 時にアニメーションしないように .caption に .jsCap を付ける。アニメを抑止しないと offsetWidth の取得で誤る。 */
    @if( $UA_Modern ){
        /* clean-css ignore:start */
        -webkit-transition-property : width, margin;
                 -webkit-transition :       0.3s ease-in;
        /* clean-css ignore:end */
                    -moz-transition : width 0.3s ease-in, margin 0.3s ease-in;
                      -o-transition : width 0.3s ease-in, margin 0.3s ease-in;
                         transition : width 0.3s ease-in, margin 0.3s ease-in;
    }
}

    .jsPicaLarge img {
        width     : 100%;
        @if( $CANUSE_MAX_AND_MIN_SIZES ){
            max-width : 100%;
        }
        height    : auto;
        @if( $CANUSE_MARGIN_AUTO ){
            margin    : 0 auto 1em; /* auto は中央配置で transition させるため */
        }

        @include box-sizing(border-box);

    /* //_{#can-mq */
        div /* box.scss の @media ブロックを上書きするために詳細度を上げる */
    /* //_}#can-mq */
        .box & {
            @if( $UA_Modern ){
            float  : none; /* 無いと続くテキストの1文字目が消える Win10 + Firefox58 */
        }
            margin : 0 0 1em; /* 中央配置指定を上書き 左から transition */
        }
    }

    .jsCapLarge {
        @if( $CANUSE_MARGIN_AUTO ){
            margin : 0 auto 1em; /* auto は中央配置で transition させるため */
        }

    /* //_{#can-mq */
        div /* box.scss の @media ブロックを上書きするために詳細度を上げる */
    /* //_}#can-mq */
        .box & {
            float  : none;
            margin : 0 0 1em; /* 中央配置指定を上書き 左から transition */
        }
    }

/*  Phone-
--------------------------------------------------------------------------------------*/
@include media(smallphone) {
    @if( $IS_LEGACY == false ){ // アニメーション用の指定なので legacy を除外
        div .box .jsPicaLarge img,
        div .box .jsCapLarge {
            margin : 0 auto 1em; /* 左配置指定を上書き 中央から transition */
        }
    }
}

@if( $UA_IE7 or $UA_IE6 ){
    /* box-sizing が使えないための処置 a.jsPicaLarge 側でアウトラインを表示 */
    .jsPicaLarge {
        display : block;
        zoom    : 1;
        clear   : both; /* ギャラリーでの回り込みの解除 */
        padding : #{$BORDER_WIDTH_OF_LINK_WITH_IMAGE}px;
        img {
            border-width : 0;
        }
        &:hover {
            top : 2px;
            img {
                top : 0;
            }
        }
    }
}

@if( $UA_IE55 or $UA_IE5  ){
    .jsPica {
        display : block; /* この指定が無いとギャラリーで他の画像に隠れる */
    }
    .jsPicaLarge img,
    .jsCapLarge {
        clear : both; /* ギャラリーでの回り込みの解除 */
    }
}