/* //_{^+mobileOnly */
    /* //_{@modern */
    #jsSidebarFixer {
        /* http://blog.webcreativepark.net/2012/10/19-161432.html */
        -webkit-backface-visibility : hidden;
           -moz-backface-visibility : hidden;
                backface-visibility : hidden;
        /* clean-css ignore:start */
        -webkit-transition-property : transform;
        -webkit-transition          :           0.3s ease-in;
        /* clean-css ignore:end */
           -moz-transition          : transform 0.3s ease-in;
             -o-transition          : transform 0.3s ease-in;
                transition          : transform 0.3s ease-in;
    }

    /* ホバーで色を変えてスクロール可能をあることを知らせる */
    @include media(pc) {
        #jsSidebarFixer1:hover *, #jsSidebarFixer2:hover * {
            border-color : $COLOR_Default_text;
        }
    }
    @media (min-width: #{($MEDIAQUERY_TABLET_MAX_PX + 1) / 16}em) and (prefers-color-scheme:dark) {
        #jsSidebarFixer1:hover *, #jsSidebarFixer2:hover * {
            border-color : $COLOR_Ribbon_text;
        }
    }
    /* //_}@modern */

    /* //_{@ie9 */
    // sidebar が header, footer に重なる問題の解決
    .lS {
        overflow : hidden;
    }
    /* //_}@ie9 */

    /* //_{#ie8-win */
    .lW {
        overflow : hidden; /* @modern では clearfix で hidden になっている */
        /* //_{@ie7 */
            // sidebar が header, footer に重なる問題の解決
            // https://klutche.org/archives/1061/
            // 【CSS】IE7の野郎でoverflow:auto内のposition:relative要素がはみ出るバグの対処法
            position : relative;
        /* //_}@ie7 */
    }
    #jsMain, #jsSide {
        position : relative; /* @modern でも必要ではない…？ieではrelativeが無いと位置が取れない、だったかな？ */
    }
    /* //_}#ie8-win */
/* //_}^+mobileOnly */